
.partners--inner{
    width:741px;
    margin:0 auto;
}
h3{
    font-weight: normal;
color: #C7A956;
font-size: 22px;
text-align:center;
}
.contentsbase.inner {
    font-size: 13px;
    color: #666;
    text-align:left;
}
.contentsbase.inner img{
  width:auto;
}
.contentsbase.inner .smap-item {
    float: left;
    padding: 10px;
    width: 33.333%;
    line-height: 1.8;
}


.smap-item ul {
    margin: 3px 0 0 0;
    padding: 0;
    list-style: none;
}
.smap-item ul li {
    display: block;
}
.smap-item a {
  display: block;
    text-decoration: none;
    color: #666;
}
.smap-item .smap-ttl {
    margin: 20px 0 3px 0;
    font-size: 15px;
    color: #C7A956;
}
.smap-item a:hover {
    text-decoration: underline;
}


.txt_box{
    font-size: 14px !important;
    line-height: 1.83;
    margin-bottom:20px;
}

.lead_box h2{margin-bottom: 0;}

.lead_box .count {
    width: 420px;
    margin: 0 auto 20px;
    padding: 10px 10px 10px 10px;
    background: #61533c;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.lead_box p.image{
    width: 460px;
    margin: 30px auto 30px;
}
.txt_box{font-size: 14px;}



.ttl_box01 {
    margin: 60px 0 12px 0;
    padding: 8px 0 8px 7px;
    background-color: #eee;
    font-size: 14px;
    color: #996633;
}

.ttl_box01.head{margin-top: 10px;}

.ttl_box01 h3 {
    margin: 0 0 0 0;
    padding: 0 0 0 9px;
    border-left: 4px solid #aa885e;
    border-top: none;
    border-bottom: none;
    line-height: 1.5;
    font-size: 14px;
    text-align:left;
    color: #996633;
}
.txt_box01 {
    margin: 0 0 30px 0;
}
.txt_box01 .img {
    margin: 24px 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
    font-size: 0;
}
.difference{
    width: 670px;
    margin: 0 auto 16px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.difference tr{
    border-bottom: 1px solid #ccc;
}
.difference tr td{
    border-left: 1px solid #ccc;
}
.difference tr .row01{
    width: 322px;
    padding: 10px 50px 11px 16px;
}
.difference .col01 .row01{
    padding: 17px 0 18px 0;
    background: #f5f5f5;
}
.difference .col01 .row02{
    text-align: center;
    background: #d2b770;
    color: #fff;
}
.difference .col01 .row03{
    text-align: center;
    background: #7cb4ae;
    color: #fff;
}
.difference tr .row02{
    width: 137px;
    text-align: center;
    background: #f5efe0;
}
.difference tr .row03{
    text-align: center;
    background: #e2efed;
}
.note {
    margin: 8px 0 0 6px;
    padding: 0 0 0 1em;
    text-indent: -1em;
    font-size: 87%;
}

.txt_box02 {
    width: 652px;
    margin: 0 auto 54px;
    padding: 18px 9px 18px 9px;
    background: #f5f5f5;
}
.txt_box03 {
    margin: 0 0 50px 0;
}

.txt_box03 .indent_box01 {
    float: left;
    width: 341px;
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 6px;
    line-height: 1.83;
}
.txt_box03 .txt_box02 {
    width: 346px;
    margin: 0 0 0 367px;
    padding: 14px 8px 14px 8px;
    line-height: 1.5;
    background: #f5f5f5;
}
.txt_box03 .indent_box01 ul li {
    padding: 0 0 0 2.5em;
    text-indent: -2.5em;
}
.txt_box03 .txt_box02 .note {
    margin: 0 0 16px 0;
    line-height: 1.33;
    text-indent: 0;
    font-size: 69%;
}
.txt_box03 .txt_box02 p {
    margin: 0 0 4px 0;
    padding: 0 0 0 0;
    line-height: 1.5;
    font-size: 108%;
}


.contentsbase.inner{border-top: 1px solid #eee;z-index: -100; width: 100%;}
.box-container-recruit{display: none;}
.section-conditions .link{margin: 50px 0;}
.section-performance .link{margin: 50px 0;}

.solution{
    margin-top:40px;
}
.solution .txt_box{
    margin: 30px 0 16px 0;
    border: 1px solid #b3b3b3;
    background: url(../..//img/bg_group.gif) no-repeat right bottom;
}
.solution .txt_box h4{
    width: auto;
    margin: 0 0 24px 0;
    padding: 13px 0 4px 0;
    text-align: center;
    background: none #f4f2e8;
    border-bottom: 1px solid #b3b3b3;
}

.solution .apa_one h4{
    background: none #0e406f;
}

.solution .txt_box p{
    margin: 0 0 20px 0;
    padding: 0 15px 0 15px;
    line-height: 1.67;
}

.solution .txt_box p.txt{
    text-align: center;
}

.solution .txt_box p.pdf{
    text-align: center;
}

.solution .txt_box ol{
    margin: 0 0 30px 0;
    padding: 0 15px 0 15px;
    line-height: 1.3;
    font-size: 108%;
    color: #211d1e;
}

.solution .txt_box ol li{
    display: inline-block;
    margin: 0 7px 0 0;
}

.solution .txt_box ol li span{
    display: inline-block;
    width: 1.3em;
    margin: 0 2px 6px 0;
    text-align: center;
    background: #054a26;
    color: #fff;
}

.solution .btn01{
    text-align: center;
}

.partners--02 div.affiliate{
    margin: 0 0 12px 0;
}

.partners--02 div.affiliate ul{
    margin: 20px 0 0 0;
    padding: 0 6px 0 6px;
}

.partners--02 div.affiliate ul li{
    margin: 0 0 27px 0;
}

.partners--02 div.affiliate ul li dl dt{
    margin: 0 0 10px 0;
    font-size: 133%;
    color: #007f4d;
}
.partners--02 div.affiliate ul li dl dt span{
    font-size: 125%;
    font-weight: bold;
}
.partners--02 div.affiliate ul li dl dd{
    line-height: 1.3;
    font-size: 108%;
}
.partners--02 div.affiliate ul li dl dd span{
    font-weight: bold;
}

.partners--02 ul.img_box01{
    margin: 0 0 27px 0;
    padding: 24px 16px 24px 20px;
    background: #eee;
}
.partners--02 ul.img_box01 li{
    float: left;
    width: 227px;
    margin: 0 4px 0 0;
}
.partners--02 ul.img_box01 li img{
    width: 100%;
    height: auto !important;
}

.partners--02 .ttl_box02 {
    margin: 0 0 12px 0;
    padding: 8px 0 8px 7px;
    background-color: #eee;
    font-size: 14px;
    color: #00804a;
}

.partners--02 .ttl_box02 h4{
    margin: 0 0 0 0;
    padding: 0 0 0 9px;
    border-left: 4px solid #00804a;
}

.partners--02 .graph_area {
    margin: 0;
}

.partners--02 .graph_area .lead01{
    font-size: 14px;
}

.partners--02 .graph_area .lead02{
    margin: 16px 0 0 0;
    font-size: 14px;
}

.partners--02 .graph_box{
    margin: 22px 0 0 0;
    padding: 26px 38px;
    background: #f4f4f4;
}

.partners--02 .graph_box .txt{
    display: inline;
    float: left;
}

.partners--02 .graph_box .img{
    display: inline;
    float: right;
}

.partners--02 .graph_line_box{
    margin: 16px 0 32px 0;
    padding: 15px;
    border: 1px #a38156 solid;
}

.partners--02 .graph_line_box h4{
    margin: 0 0 12px 0;
    padding: 0 0 0 9px;
    border-left: 4px solid #a38156;
    font-size: 18px;
    color: #a38156;
}

.partners--02 .graph_line_box p{
    margin: 0 0 0 8px;
}

.partners--02 .graph_line_box p span{
    font-size: 16px;
}

.partners--02 .voice_area{
    margin: 0;
    padding: 0 0 16px 0;
}

.partners--02 .voice_area .voice_box{
    margin: 32px 0 0 0;
}

.partners--02 .voice_area .voice_box h5{
    margin: 0 0 32px 0;
    padding: 0 0 15px 11px;
    border-bottom: 1px #cbcbcb solid;
    font-size: 16px;
    color: #007f4a;
}

.partners--02 .voice_area .voice_box h5 span{
    font-size: 13px;
    color: #000;
}

.partners--02 .voice_area .voice_box .img_box{
    margin: 0 10px 40px 10px;
}

.partners--02 .voice_area .voice_box .img_box .left_box{
    display: inline;
    float: left;
    width: 300px;
}

.partners--02 .voice_area .voice_box .img_box .left_box table{
    width: 100%;
}

.partners--02 .voice_area .voice_box .img_box .left_box table th{
    padding: 0 8px 2px 0;
    vertical-align: top;
    text-align: left;
    font-weight: normal;
}

.partners--02 .voice_area .voice_box .img_box .right_img{
    display: inline;
    float: right;
}

.partners--02 .voice_area .voice_box dt{
    color: #007f4a;
    font-size: 13px;
}

.partners--02 .voice_area .voice_box dd{
    margin: 10px 0 22px 0;
    font-size: 13px;
}





.partners--02 .graph_list{
    width: 675px;
    margin: 24px auto 60px;
}
.partners--02 .graph_list li{
    float: left;
    width: 312px;
}
.partners--02 .graph_list .list01{
    margin: 0 51px 0 0;
}

.partners--02 .graph_list li p{
    margin: 0 0 5px 0;
    padding: 5px 15px 35px 15px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 108%;
}
.partners--02 .graph_list li p img{
    display: block;
    width: 100%;
    height: auto !important;
    margin: 0 0 12px 0;
}
.partners--02 .graph_list li .txt_box03{
    margin: 0 0 0 0;
    padding: 7px 0px 7px 0px;
    border: 1px solid #69603b;
    line-height: 1.2;
    color: #69603b;
}

.partners--02 ol.affiliate{
    width: auto;
    margin: 0 0 44px 0;
    padding: 0 0 0 6px;
    line-height: 1.83;
    list-style: none;
}

.partners--02 ol.affiliate li dl dt,
.partners--02 ol.affiliate li dl dd{
    display: inline;
}
.partners--02 ol.affiliate .list01{
    margin: 0 0 0 0;
}
.partners--02 ol.affiliate .list01 dl dt{
    display: block;
}
.partners--02 ol.affiliate .list01 dl dd{
    display: block;
    padding: 0 0 0 2em;
}
.partners--02 ol.affiliate li p{
    margin: 10px 0 24px 0;
    padding: 15px 0 15px 0;
    border: 1px solid #cc3333;
    text-align: center;
    color: #cc3333;
}
.partners--02 ol.affiliate .list02{
    margin: 0 0 0 0;
}
.partners--02 ol.affiliate .list02 dl dd span{
    display: block;
    padding: 0 0 0 6em;
}

.partners--02 h5{
    padding: 0 0 0 6px;
    font-weight: bold;
}

.partners--02 .img_box02{
    width: 472px;
    margin: 34px auto 56px;
    text-align: center;
    font-size: 10px;
    letter-spacing: -1px;
    color: #000;
}
.partners--02 .img_box02 p{
    float: left;
    width: 154px;
    padding: 0 0 0 0;
}
.partners--02 .img_box02 p.img{
    margin: 0 5px 0 0;
}

.partners--02 .img_box02 p img{
    display: block;
    width: 100%;
    margin: 0 0 2px 0;
}
.partners--02 .img_box03{
    width: 631px;
    margin: 34px auto 56px;
    text-align: center;
    font-size: 10px;
    letter-spacing: -1px;
    color: #000;
}
.partners--02 .img_box03 p{
    float: left;
    width: 154px;
    padding: 0;
}
.partners--02 .img_box03 p.img{
    margin: 0 5px 0 0;
}
.partners--02 .img_box03 p img {
    display: block;
    width: 100%;
    margin: 0 0 2px 0;
}
.partners--02 .img_box03 p.img_large {
    float:none;
    width:100%;
}

.box-movie{
    text-align: center;
}

.box-movie iframe{
    margin:10px auto 30px;
    width: 600px;
    height: 355px;
}

.box-container-recruit .image{width: 100%;}
.box-container-recruit .section-merit .box-merit{border-bottom: 1px dotted #eee; clear: both; overflow: hidden; margin-top: 30px;padding-bottom: 30px;}
.box-container-recruit .section-merit .box-merit .box-text{float: left;width: 60%; }
.box-container-recruit .section-merit .box-merit .box-text .title{font-size: 16px; font-weight: bold;line-height: 1.4; border-bottom: 1px solid #eee; padding-bottom: 20px;}
.box-container-recruit .section-merit .box-merit .box-text .text{padding: 20px 0;}
.box-container-recruit .section-merit .box-merit .box-text .text ._point{color: #a87676;}
.box-container-recruit .section-merit .box-merit .box-image{float: right; border: 2px solid #eee;width: 30%;}
.box-container-recruit .section-merit .box-merit .box-image p.image{width: 100%;}
.box-container-recruit .section-merit .box-merit .box-image p.image img{width: 100%;}

.main-contents{position: relative; top:-30px;}


@media screen and (max-width: 740px) {
  #about{padding-top: 90px; margin-top: -90px;}

    .partners--inner ,.difference {
  width:100%;
}
.contentsbase.inner .fullimg img{
    width:100%;
}
.contentsbase.inner .img_large img{
    width:100%;
}
.txt_box03 .indent_box01 , .txt_box03 .txt_box02{
    width:100%;
    float:none;
}
.txt_box03 .txt_box02{
    margin-left:0;
}
.contentsbase.inner .smap-item{
    width:100%;
    float:none;
}
.difference tr .row01{
    width:50%;
}
.difference tr .row02 , .difference tr .row03{
    width:25%;
}
.lead_box .count , .txt_box02{
    width:100%;
}

.lead_box p.image{
    width: 65vw;
    margin: 30px auto 30px;
}

.partners--02 .img_box03{
    width:100%;
}
.partners--02 .img_box03 p{
    width:48%;
}
.contentsbase.inner .partners--02 .img_box03 p img{
    width:100%;
}
.partners--02 .voice_area .voice_box .img_box .left_box ,.partners--02 .voice_area .voice_box .img_box .left_box{
    display: block;

float: none;
width:100%;
}
.partners--02 .voice_area .voice_box .img_box .right_img{
    display: block;
float: none;
width:100%;
}
.partners--02 ul.img_box01 li{
    float: none;
width: 100%;
margin: 0 0 4px 0;
}
.contentsbase.inner .img_box01 img{
    width:100%;
}
.partners--02 .graph_box{
    padding: 26px 10px;
}

.box-movie {
  text-align: center;
  margin-bottom: 40px;
}

.box-movie iframe{
  margin:10px auto 0;
  width: 80vw;
  height: 41vh;
}

.box-container-recruit .image{width: 100%;}
.box-container-recruit .section-merit .box-merit{border-bottom: 1px dotted #eee; clear: both; overflow: hidden; margin-top: 30px;padding-bottom: 30px;}
.box-container-recruit .section-merit .box-merit .box-text{float: left;width: 70%; }
.box-container-recruit .section-merit .box-merit .box-text .title{font-size: 16px; font-weight: bold;line-height: 1.4; border-bottom: 1px solid #eee; padding-bottom: 20px;}
.box-container-recruit .section-merit .box-merit .box-text .text{padding: 20px 0;}
.box-container-recruit .section-merit .box-merit .box-text .text ._point{color: #a87676;}
.box-container-recruit .section-merit .box-merit .box-image{float: right; border: 2px solid #eee;}
.box-container-recruit .section-merit .box-merit .box-image p.image{width: 150px;}
.box-container-recruit .section-merit .box-merit .box-image p.image img{width: 100%;}

.section-conditions .link{margin-top: 30px;}
.ttl_box02{margin: 60px 0px 12px 0px !important;}
.partners--02 .voice_area .voice_box .img_box .right_img {display: block;float: none;width: 100%;margin-top: 20px;}
.solution.partners--inner{margin-bottom: 40px;}
}

@media screen and (max-width: 540px) {
.box-container-recruit .image{width: 100%;}
.box-container-recruit .section-merit .box-merit{border-bottom: none; display:-webkit-box;display: -webkit-flex;display:-ms-flexbox;display: flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap; clear: both; overflow: hidden; margin-top: 30px;padding-bottom: 0px;}
.box-container-recruit .section-merit .box-merit .box-text{float: none;width: 100%;-webkit-box-ordinal-group:2;-ms-flex-order:2;-webkit-order:2;order:2;}
.box-container-recruit .section-merit .box-merit .box-text .title{font-size: 16px; font-weight: bold;line-height: 1.4; border-bottom: 1px solid #eee; padding: 20px 0 10px;}
.box-container-recruit .section-merit .box-merit .box-text .text{padding: 10px 0;}
.box-container-recruit .section-merit .box-merit .box-text .text ._point{color: #a87676;}
.box-container-recruit .section-merit .box-merit .box-image{float: none; border: 2px solid #eee;-webkit-box-ordinal-group:1;-ms-flex-order:1;-webkit-order:1;order:1;}
.box-container-recruit .section-merit .box-merit .box-image p.image{width: 100%;}
.box-container-recruit .section-merit .box-merit .box-image p.image img{width: 100%;}
}