<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
$(function(){
  $("#test").on("load",function(){
    console.log($('#test').contents());
    $('#test').contents().find('head').append('<link rel="stylesheet" href="style.css" type="text/css" />');
  });  
})
</script>
<style>
  #carender{width: 300px;height: 600px;}
  #carender iframe{height: 100%;}
  #carender td{display: block;}
 .st-bg-table td{display: block;}
 #calendar-container {background: #000;}
</style>
</head>
<body>
<div id="carender">
<iframe id="test" src="https://calendar.google.com/calendar/embed?src=t.imamura%40ice.tc&ctz=Asia%2FTokyo" style="border: 0" frameborder="0" scrolling="no"></iframe>
</div>
</body>