/* CSS Document */
.allContTable3 { margin:10px auto; padding:0; background-color:#E2C7DD;}

.allContTable3 th {
	margin:0;
	padding:5px 10px;
	font-size:12px;
	background-color:#EFEFEF;
	line-height:150%;
	font-weight:normal;
	border-bottom:1px solid #fff;
}

.allContTable3 td { margin:0; padding:5px 10px; font-size:12px; background-color:#ffffff; border-bottom:1px solid #EFEFEF;
     line-height:150%; }

/*--font--*/
.colorGray {color: #999;}
.colorGray2 {color: #666;}
.colorBlack {color: #000;}
.colorRed {color: #900;}
.colorBlue {color: #04C;}
.colorOrange {color: #FF9900;}
.colorGold {color: #CC9900;}
.colorGreen {color: #999900;}
.colorSlategray{color: #708090;}
.colorWhite { color:#FFF;}
.font10, .font10 td, .font10 th, .font10 span, .caption {font-size: 10px;line-height: 1.4em;}
.font11, .font11 td, .font11 th, .font11 span, .caption {font-size: 11px;line-height: 1.4em;}
.font12, .font12 td, .font12 th, .font12 span, .caption {font-size: 12px;line-height: 1.4em;}
.fontnomal { font-weight:normal;}
.colorPink { color:#CC3399;}
.ls5{letter-spacing:-1px;}

.f11_140 { font-size:11px; line-height:140%;}
.f9_140 { font-size:9px; line-height:140%; color:#222;}
.f10_140 {
	font-size:10px;
	line-height:140%;
	color:#222;
}
.f10_210 {
	font-size:10px;
	line-height:210%;
	color:#222;
}
.f12_130 { font-size:12px; line-height:130%;}
.f12_150 { font-size:12px; line-height:150%;}
.f12_180 { font-size:12px; line-height:180%;}
.f14_150 { font-size:14px; line-height:150%;}
.f14_160 { font-size:14px; line-height:160%;}
.f16_160 { font-size:16px; line-height:160%;}
.f16 { font-size:16px; }

.alignRight {text-align:right;}
/*テキスト*/
.allcontText { 
    margin:10px; padding:0;
	font-size:12px;
	line-height:170%;
	}


.allcontText140 { 
    margin:10px; padding:0;
	font-size:12px;
	line-height:140%;
	}

.allcontText140 { 
    margin:10px; padding:0;
	font-size:12px;
	line-height:140%;
	}

.allcontText140gray { 
    margin:10px 0 ; padding:10px;
	font-size:12px;
	line-height:140%;
	background-color:#eeeeee;
	}


.allcontText10_160 { 
    margin:10px; padding:0;
	font-size:10px;
	line-height:120%;
	}

.textnone { display:none;}
