@charset "utf-8";

@import url("common.css");

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+
+　タイトル : ページ共有のスタイル
+　ファイル名 : ファイルのパスを入れます。(ルート、相対どちらでも)
+　概要 : CSSの用途を説明を入れます。
+　サイト名 : サイトの説明を入れます。
+　URL : http://
+
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* --------------------------------------------------------------------------------------
 top
--------------------------------------------------------------------------------------- */


.top .tochimo_bnr {
	margin: 20px 0 20px 27px;
}
/* bnr_area ------------------------------ */

.popup h2 {
	margin: 0 auto 20px auto;
}

.popup .btn_close {
	padding: 0 0 50px 0;
	text-align: center;
}

.popup .bnr_area {
	width: 690px;
	height: 239px;
	margin: 0 auto 0 auto;
}

.popup .bnr_area .txt{
	margin: 5px 0 0 0;
}

.popup .bnr_area h2{
	position: absolute;
	left: 0;
	top: 8px;
}

.popup .bnr_area ul{
	position: absolute;
	left: 0px;
	top: 0px;
}

.popup .bnr_area ul li{
	margin: 0 0 12px 0;
}

.popup .bnr_area .left_box{
	position: relative;
	float: left;
	width: 335px;
	height: 200px;
}

.popup .bnr_area .right_box{
	position: relative;
	float: right;
	width: 335px;
	height: 200px;
}


/* bnr_area ------------------------------ */

.top .bnr_area {
	width: 690px;
	margin: 0 0 50px 27px;
}

.top .bnr_area .txt{
	margin: 5px 0 0 0;
}

.top .bnr_area h2{
	position: absolute;
	left: 0;
	top: 8px;
}

.top .bnr_area ul{
	position: absolute;
	left: 11px;
	top: 51px;
}

.top .bnr_area ul li{
	margin: 0 0 12px 0;
}

.top .bnr_area .left_box{
	position: relative;
	float: left;
	width: 335px;
	height: 200px;
	background: url(/tochiginomori/img/bnr_bg01.gif) no-repeat 0 0;
}

.top .bnr_area .right_box{
	position: relative;
	float: right;
	width: 335px;
	height: 200px;
	background: url(/tochiginomori/img/bnr_bg02.gif) no-repeat 0 0;
}

/* news_area ------------------------------ */

.news_area {
	width: 690px;
	margin: 0 0 50px 27px;
	padding: 0 0 15px 0;
	border: 1px #9bc2a9 solid;
}

.news_area h2{
	position: relative;
	margin: -1px 0 15px 6px;
}

.top .news_area table {
	margin: 0 2%;
}

.top .news_area table th{
	padding: 10px 0 10px 0;
	border-bottom: 1px #b2b2b2 dotted;
	text-align: left;
	font-weight: normal;
	vertical-align: top;
}

.top .news_area table th span{
	display: block;
	padding: 0 0 0 12px;
	background: url(/tochiginomori/common/img/ico_arw04.gif) no-repeat 0 center;
}

.top .news_area table th a{
	display: block;
	margin: 0 0 0 0;
}

.top .news_area table td{
	padding: 10px 0 10px 0;
	border-bottom: 1px #b2b2b2 dotted;
	text-align: left;
	vertical-align: top;
}

.top .news_area table td a{
	color: #336666;
	text-decoration: underline;
}

.top .news_area table td a:hover{
	color: #C00;
	text-decoration: none;
}

.top .news_area table td.img{
	text-align: left;
	vertical-align: top;
}

.top .news_area table td.img img{
	border: 1px #b2b2b2 solid;
}


/* campaign_area ------------------------------ */

.campaign_area {
	width: 690px;
	margin: 0 0 50px 27px;
}

.campaign_area h2{
	margin: 0 0 -18px 0;
}

.campaign_area li{
	margin: 16px 0 0 0;
	padding: 16px 0 0 0;
	border-top: 1px #ccc dotted
}

.campaign_area li img{
	display: block;
	border: 1px #ccc solid;
}

.campaign_area li dl{
	float: left;
	width: 450px;
}

.campaign_area li dl dt{
	margin: 0 0 5px 0;
	color: #669966;
}

.campaign_area li .right_img{
	float: right;
}

.campaign_area .btn{
	margin: 16px 0 0 0;
	padding: 16px 0 0 0;
	border-top: 1px #ccc dotted;
	text-align: right;
}

/* --------------------------------------------------------------------------------------
 rc
--------------------------------------------------------------------------------------- */

/* rc bg ------------------------------ */

body.rc {
	background: url(/tochiginomori/rc/img/bg_rc.gif) repeat-x left top !important;
}


/* --------------------------------------------------------------------------------------
 reservation
--------------------------------------------------------------------------------------- */

/* reservation bg ------------------------------ */

.reservation .main_img {
	height: 260px;
	background: url(/tochiginomori/reservation/img/main_img.jpg) no-repeat 0 0;
	text-indent: -9999px;
}

/* reservation .reservation_area ------------------------------ */

.reservation .reservation_area {
	width: 690px;
	margin: 0 0 50px 27px;
}

.popup .reservation_area {
	width: 690px;
	margin: 0 auto 50px auto;
	text-align: left;
}

/* reservation .reservation_area .reservation_box ------------------------------ */

.reservation .reservation_area .reservation_box{
	margin: 0 0 40px 0;
}

.reservation .reservation_area .tokuten_box {
	margin: 0 0 0 0;
}

.reservation .reservation_area .tokuten_box p{
	display: inline;
	float: left;
}

.reservation .reservation_area .play_box {
	margin: 25px 0 30px 0;
	padding: 25px;
	border: 2px #509450 solid;
}

.reservation .reservation_area .play_box h4 {
	margin: 0 0 20px 0;
}

.reservation .reservation_area h3{
	margin: 0 0 10px 0;
}

.reservation .reservation_area .txt{
	margin: 0 0 15px 0;
}
.reservation .reservation_area .txt_none{
	margin: 0 0 5px 0;
}

.reservation .reservation_area .txt strong{
	display: block;
	margin: 0 0 5px 0;
	color: #669966;
}

.reservation .reservation_area p{
	margin: 0 0 15px 0;
}

.reservation .reservation_area .size10{
	margin: 0 0 15px 0;
	font-size: 87%;
}


/* reservation .reservation_area .qr_box ------------------------------ */

.reservation .reservation_area .qr_box {
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;
	border: 1px #669966 solid;
}

.reservation .reservation_area .qr_box h3{
	padding: 3px 0 4px 5px;
	background: #669966;
	color: #fff;
}

.reservation .reservation_area .qr_box .left_img{
	float: left;
	width: 154px;
	text-align: center;
}

.reservation .reservation_area .qr_box .right_box{
	float: right;
	width: 510px;
	border-left: 1px #669966 solid;
	padding: 0 0 0 20px;
}

.reservation .reservation_area .qr_box .right_box p{
	margin: 5px 0 0 0;
}


/* reservation .reservation_area .btn ------------------------------ */

.reservation .reservation_area .btn {
	margin: 0 0 20px 0;
}

.reservation .reservation_area .btn li{
	display: inline;
}

.reservation .reservation_area .btn li a{
	float: left;
}

.reservation .reservation_area .btn li.right a{
	float: right;
}

.reservation .reservation_area .btn {
	padding: 15px 0 30px 0;
	text-align: center;
}

.reservation .reservation_area .line_txt {
	padding: 10px;
	border: 1px #669966 solid;
}


/* reservation .reservation_area .step_table ------------------------------ */

.reservation .reservation_area .step_table {
	margin: 0 0 15px 0;
}

.reservation .reservation_area .step_table th {
	padding: 5px 0 5px 5px;
	border-bottom: 1px #999999 dotted;
	vertical-align: top;
	text-align: left;
	font-weight: normal;
	color: #56906b;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 15px;
}

.reservation .reservation_area .step_table td {
	padding: 7px 0 5px 5px;
	border-bottom: 1px #999999 dotted;
	vertical-align: top;
	text-align: left;
	font-weight: normal;
}



/* --------------------------------------------------------------------------------------
 restaurant
--------------------------------------------------------------------------------------- */

/* restaurant bg ------------------------------ */

.restaurant .main_img {
	height: 260px;
	background: url(/tochiginomori/restaurant/img/main_img.jpg) no-repeat 0 0;
	text-indent: -9999px;
}

/* restaurant .restaurant_area ------------------------------ */

.restaurant .restaurant_area {
	width: 690px;
	margin: 0 0 50px 27px;
}

/* .restaurant .restaurant_area .restaurant_box ------------------------------ */

.restaurant .restaurant_area .restaurant_box{
	margin: 0 0 50px 0;
}

.restaurant .restaurant_area h3{
	margin: 0 0 10px 0;
}

.restaurant .restaurant_area .lead{
	margin: 0 0 10px 0;
}


/* .restaurant .restaurant_area .restaurant_detail ------------------------------ */

.restaurant .restaurant_area .restaurant_detail{
	overflow: hidden;
	zoom: 1;
	margin: 0 0 50px 0;
}

.restaurant .restaurant_area .restaurant_detail h3{
	margin: 0 0 15px 0;
}


/* .restaurant .restaurant_area .restaurant_detail .right_box ------------------------------ */

.restaurant .restaurant_area .restaurant_detail .right_box{
	float: right;
	width: 529px;
	padding: 0 0 0 0;
}

.restaurant .restaurant_area .restaurant_detail .right_box .osusume_img{
	margin: 0 0 20px 0;
	text-align: center;
}

.restaurant .restaurant_area .restaurant_detail .right_box .txt{
	margin: 0 0 15px 0;
}

.restaurant .restaurant_area .restaurant_detail .right_box .line_box{
	margin: 0 0 20px 0;
}
.restaurant .restaurant_area .restaurant_detail .right_box .line_box_last{
	margin: 0 0 36px 0;
}

.restaurant .restaurant_area .restaurant_detail .right_box .left_img{
	float: left;
}

.restaurant .restaurant_area .restaurant_detail .right_box .right_txt{
	float: right;
	width: 360px;
	padding: 0 0 0 0;
}

.restaurant .restaurant_area .restaurant_detail .right_box .line_table {
	margin: 0 0 10px 0;
	background: url(/tochiginomori/restaurant/img/bg_line01.gif) repeat-x left center;
}

.restaurant .restaurant_area .restaurant_detail .right_box .line_table .left{
	float: left;
	padding: 0 10px 0 0;
	background: #fff;
}

.restaurant .restaurant_area .restaurant_detail .right_box .line_table .price{
	float: right;
	padding: 0 0 0 10px;
	background: #fff;
	text-align: right;
}

.restaurant .restaurant_area .restaurant_detail .right_box .size10{
	font-size: 87%;
}


.restaurant .restaurant_area .restaurant_detail .right_box .compe_box{
	margin: 0 0 40px 0;
}

.restaurant .restaurant_area .restaurant_detail .right_box .compe_box .left_img01{
	float: left;
	width: 211px;
}
.restaurant .restaurant_area .restaurant_detail .right_box .compe_box .left_img02{
	float: left;
	width: 300px;
}

.restaurant .restaurant_area .restaurant_detail .right_box .compe_box .left_img01 span,
.restaurant .restaurant_area .restaurant_detail .right_box .compe_box .left_img02 span{
	display: block;
	margin: 3px 0 0 0;
}

.restaurant .restaurant_area .restaurant_detail .right_box .compe_box .right_txt01{
	float: left;
	width: 299px;
}

.restaurant .restaurant_area .restaurant_detail .right_box .compe_box .right_txt{
	float: right;
	width: 299px;
}


/* .restaurant .restaurant_area .restaurant_detail .left_box ------------------------------ */

.restaurant .restaurant_area .restaurant_detail .left_box{
	float: left;
	width: 144px;
	min-height: 829px;
	height: 829px;
	padding: 0;
	background: url(/tochiginomori/restaurant/img/bg_course_detail01.gif) no-repeat right top;
}

.restaurant .restaurant_area .restaurant_detail .left_box dl{
	margin: 0 0 40px 12px;
}

.restaurant .restaurant_area .restaurant_detail .left_box dl ul{
	padding: 0 0 0 18px;
}

.restaurant .restaurant_area .restaurant_detail .left_box li{
	padding: 0 0 25px 0;
	}

.restaurant .restaurant_area .restaurant_detail .left_box li a{
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	color: #333;
	text-decoration: none;
	}

.restaurant .restaurant_area .restaurant_detail .left_box li a:hover{
	color: #979a2e;
	text-decoration: none;
	}

.restaurant .restaurant_area .restaurant_detail .left_box li a.active{
	color: #979a2e;
	text-decoration: none;
	}


/* --------------------------------------------------------------------------------------
 sce
--------------------------------------------------------------------------------------- */

/* sce bg ------------------------------ */

.sce .main_img {
	height: 260px;
	background: url(/tochiginomori/sce/img/main_img.jpg) no-repeat 0 0;
	text-indent: -9999px;
}

/* sce .sce_area ------------------------------ */

.sce .sce_area {
	width: 690px;
	margin: 0 0 50px 27px;
}

/* sce .sce_area .sce_box ------------------------------ */

.sce .sce_area .sce_box{
	margin: 0 0 40px 0;
}

.sce .sce_area h3{
	margin: 0 0 15px 0;
}

.sce .sce_area .txt{
	margin: 0 0 15px 0;
}

.sce .sce_area .txt strong{
	display: block;
	margin: 0 0 5px 0;
	color: #669966;
}

.sce .sce_area .left_table{
	float: left;
	width: 400px;
}

.sce .sce_area .left_table table{
	margin: 0 0 30px 0;
	border: 1px #cccccc solid;
	border-collapse: collapse;
}

.sce .sce_area .left_table table.table01 th{
	width: 100px;
	padding: 5px 10px;
	border: 1px #cccccc solid;
	background: #e5f2da;
	text-align: center;
	vertical-align: top;
	font-weight: bold;
}

.sce .sce_area .left_table table.table02 th{
	width: 100px;
	padding: 5px 10px;
	border: 1px #cccccc solid;
	background: #e8d8a0;
	text-align: center;
	vertical-align: top;
	font-weight: bold;
}

.sce .sce_area .left_table td{
	padding: 5px 10px;
	border: 1px #cccccc solid;
	text-align: center;
	vertical-align: top;
}

.sce .sce_area .left_table td span{
	color: #d50101;
}

.sce .sce_area .right_box{
	float: right;
	width: 260px;
}


/* --------------------------------------------------------------------------------------
 challengehole
--------------------------------------------------------------------------------------- */

/* challengehole bg ------------------------------ */

.challengehole .main_img {
	height: 260px;
	background: url(/tochiginomori/challengehole/img/main_img.jpg) no-repeat 0 0;
	text-indent: -9999px;
}

/* challengehole .challengehole_area ------------------------------ */

.challengehole .challengehole_area {
	width: 690px;
	margin: 0 0 50px 27px;
}

/* challengehole .challengehole_area .challengehole_box ------------------------------ */

.challengehole .challengehole_area .challengehole_box{
	margin: 0 0 40px 0;
}

.challengehole .challengehole_area h3{
	margin: 0 0 20px 0;
}

.challengehole .challengehole_area .left_table{
	float: left;
	width: 420px;
	border: 1px #cccccc solid;
	border-collapse: collapse;
}

.challengehole .challengehole_area .left_table th{
	width: 100px;
	padding: 5px 10px;
	border: 1px #cccccc solid;
	background: #f2ede8;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

.challengehole .challengehole_area .left_table td{
	padding: 5px 10px;
	border: 1px #cccccc solid;
	text-align: left;
	vertical-align: top;
}

.challengehole .challengehole_area .left_table td .size10{
	font-size: 87%;
}

.challengehole .challengehole_area .left_table td strong{
	color: #db0000;
}

.challengehole .challengehole_area .right_img{
	float: right;
}

.challengehole .challengehole_area .img{
	margin: 20px 0 0 0;
}



/* --------------------------------------------------------------------------------------
 style
--------------------------------------------------------------------------------------- */

/* style bg ------------------------------ */

.style .main_img {
	height: 260px;
	background: url(/tochiginomori/play_style/img/main_img.jpg) no-repeat 0 0;
	text-indent: -9999px;
}

/* style .style_area ------------------------------ */

.style .style_area {
	width: 690px;
	margin: 0 0 50px 27px;
}


/* style .style_area .course_detail ------------------------------ */

.style .style_area .style_detail{
	margin: 0 0 50px 0;
}

.style .style_area .style_detail h3{
	margin: 0 0 0 0;
}

.style .style_area .lead{
	margin: 0 0 20px 0;
}


/* .style .style_area .style_detail .right_box ------------------------------ */

.style .style_area .style_detail .right_box{
	float: right;
	width: 415px;
}

.style .style_area .style_detail .right_box h3{
	margin: 0 0 15px 0;
}

.style .style_area .style_detail .right_box .lead{
	margin: 0 0 25px 0;
}

.style .style_area .style_detail .right_box .img_center{
	margin: 0 0 40px 0;
	text-align: center;
}

.style .style_area .style_detail .right_box .btn{
	margin: 0 0 0 0;
}

.style .style_area .style_detail .right_box .btn .left{
	display: inline;
}

.style .style_area .style_detail .right_box .btn .left a{
	float: left;
}

.style .style_area .style_detail .right_box .btn .right{
	display: inline;
}

.style .style_area .style_detail .right_box .btn .right a{
	float: right;
}


/* .style .style_area .style_detail .left_box ------------------------------ */

.style .style_area .style_detail .left_box{
	float: left;
	width: 260px;
	min-height: 829px;
	height: 829px;
	padding: 14px 0 0 0;
	background: url(/tochiginomori/play_style/img/bg_course_detail01.gif) no-repeat right top;
}

.style .style_area .style_detail .left_box li{
	padding: 0 0 20px 0;
	}



/* --------------------------------------------------------------------------------------
 course
--------------------------------------------------------------------------------------- */

/* course bg ------------------------------ */

.course .main_img {
	height: 260px;
	background: url(/tochiginomori/course/img/main_img.jpg) no-repeat 0 0;
	text-indent: -9999px;
}

/* course .course_area ------------------------------ */

.course .course_area {
	width: 690px;
	margin: 0 0 50px 27px;
}

/* course .course_area .bnr_list------------------------------ */

.course .course_area .bnr_list{
	margin: 0 0 0 0;
}

.course .course_area .bnr_list li{
	display: inline;
}

.course .course_area .bnr_list li a{
	float: left;
	margin: 0 10px 0 0;
}

.course .course_area .bnr_list li img{
	border: 1px #999 solid;
}

/* .course .course_area .course_box ------------------------------ */

.course .course_area .course_box{
	margin: 0 0 50px 0;
}

.course .course_area h3{
	margin: 0 0 10px 0;
}

.course .course_area .lead{
	margin: 0 0 10px 0;
}


/* .course .course_area .course_detail ------------------------------ */

.course .course_area .course_detail{
	margin: 0 0 50px 0;
}

.course .course_area .course_detail h3{
	margin: 0 0 0 0;
}


/* .course .course_area .course_detail .right_box ------------------------------ */

.course .course_area .course_detail .right_box{
	float: right;
	width: 505px;
	padding: 29px 0 0 0;
}

.course .course_area .course_detail .right_box .point_box{
	margin: 0 0 0 2px;
}

.course .course_area .course_detail .right_box .point_box h3{
	margin: 0 0 10px 0;
}

.course .course_area .course_detail .right_box .point_box .txt_list{
	margin: 0 0 10px 5px;
}

.course .course_area .course_detail .right_box .point_box .txt_red{
	padding: 10px;
	border: 2px #cc3333 solid;
}


/* .course .course_area .course_detail .left_box ------------------------------ */

.course .course_area .course_detail .left_box{
	float: left;
	width: 145px;
	min-height: 829px;
	height: 829px;
	padding: 29px 0 0 0;
	background: url(/tochiginomori/course/img/bg_course_detail01.gif) no-repeat right top;
}

.course .course_area .course_detail .left_box dl{
	margin: 0 0 40px 12px;
}

.course .course_area .course_detail .left_box dl ul{
	padding: 0 0 0 18px;
}

.course .course_area .course_detail .left_box li{
	padding: 10px 0 0 0;
	font-size: 117%;
	}

.course .course_area .course_detail .left_box li a{
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	color: #333;
	text-decoration: none;
	}

.course .course_area .course_detail .left_box li a:hover{
	color: #979a2e;
	text-decoration: none;
	}

.course .course_area .course_detail .left_box li a.active{
	color: #979a2e;
	text-decoration: none;
	}


/* .course .course_area .course_box .pdf_box ------------------------------ */

.course .course_area .course_box .pdf_box{
	margin: 0 0 40px 0;
}

.course .course_area .course_box .pdf_box dt{
	margin: 0 0 10px 0;
}

.course .course_area .course_box .pdf_box dd li{
	display: inline;
}

.course .course_area .course_box .pdf_box dd li a{
	float: left;
	margin: 0 0 0 10px;
}


/* .course .course_table01 ------------------------------ */

.course .course_area .ico_arw{
	margin: 0 0 5px 0;
	padding: 0 0 0 14px;
	background: url(/tochiginomori/common/img/ico_arw04.gif) no-repeat 0 center;
}

.course .course_area .course_table01{
	width: 95%;
	margin: 0 0 20px 0;
	border: 1px #cccccc solid;
	border-collapse: collapse;
}

.course .course_area .course_table01 th{
	padding: 3px 10px;
	border: 1px #cccccc solid;
	background: #f2ede8;
	text-align: center;
	font-weight: bold;
	vertical-align: top;
}

.course .course_area .course_table01 td{
	padding: 3px 10px;
	border: 1px #cccccc solid;
	text-align: center;
	vertical-align: top;
}

.course .course_area .course_table01 .bg01 td{
	background: #e5f2da;
}



/* --------------------------------------------------------------------------------------
 access
--------------------------------------------------------------------------------------- */

/* access bg ------------------------------ */

.access .main_img {
	height: 260px;
	background: url(/tochiginomori/access/img/main_img.jpg) no-repeat 0 0;
	text-indent: -9999px;
}

/* access .access_area ------------------------------ */

.access .access_area {
	width: 690px;
	margin: 0 0 50px 27px;
}

/* access .access_area ------------------------------ */

.access .access_area .access_table{
	margin: 10px 0 20px 0;
}

.access .access_area .access_table th{
	padding: 5px;
	border-bottom: 1px #669966 solid;
	text-align: left;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}

.access .access_area .access_table td{
	padding: 5px;
	border-bottom: 1px #669966 solid;
	text-align: left;
	vertical-align: top;
}


/* --------------------------------------------------------------------------------------
 rates
--------------------------------------------------------------------------------------- */

/* rates bg ------------------------------ */

.rates .main_img {
	height: 260px;
	background: url(/tochiginomori/rates/img/main_img.jpg) no-repeat 0 0;
	text-indent: -9999px;
}

/* rates .rates_area ------------------------------ */

.rates .rates_area {
	width: 690px;
	margin: 0 0 50px 27px;
}

/* rates .rates_box ------------------------------ */

.rates .rates_box {
	margin: 0 0 30px 0;
}

.rates .rates_box .table01{
	margin: 10px 0 20px 0;
	background: #f2f2f2;
}

.rates .rates_box .table01 td{
	padding: 10px 10px;
	vertical-align: middle;
}

.rates .rates_box .table01 td a{
	text-decoration: none;
	color: #000;
}

.rates .rates_box .table01 td.left{
	vertical-align: middle;
	text-align: left;
	font-size: 10px;
}

.rates .rates_box .table01 td.left img{
	position: relative;
	margin: -2px 5px 0 0;
	vertical-align: middle;
}

.rates .rates_box .table01 td.center{
	vertical-align: middle;
	text-align: center;
}

.rates .rates_box .table01 td.right{
	vertical-align: middle;
	text-align: right;
	font-size: 10px;
}

.rates .rates_box .table01 td.right img{
	position: relative;
	margin: -2px 0 0 5px;
	vertical-align: middle;
}


.rates .rates_box .table02{
	margin: 0 0 0 0;
	border: 1px #cccccc solid;
}

.rates .rates_box .table02 .img{
	margin: 5px 0 0 0;
	height: 15px;
}

.rates .rates_box .table02 .img_none{
	margin: 5px 0 0 0;
	height: 15px;
	text-indent: -9999px;
}

.rates .rates_box .table02 .lunch{
	margin: 5px 0 0 0;
	font-weight: bold;
	letter-spacing: -1px;
}

.rates .rates_box .table02 .lunch span{
	margin: 5px 0 0 0;
	font-size: 117%;
}

.rates .rates_box .table02 .lunch img{
	vertical-align: middle;
}

.rates .rates_box .table02 .red{
	color: #cc3333;
}

.rates .rates_box .table02 .blue	{
	color: #6699cc;
}

.rates .rates_box .table02 .txt_red{
	color: #cc3333;
	text-align: center;
	letter-spacing: -1px;
}

.rates .rates_box .table02 .txt_blue	{
	color: #6699cc;
	text-align: center;
	letter-spacing: -1px;
}

.rates .rates_box .table02 .txt_purple	{
	color: #996699;
	text-align: center;
	letter-spacing: -1px;
}

.rates .rates_box .table02 .txt_green{
	color: #669966;
	text-align: center;
	letter-spacing: -1px;
}

.rates .rates_box .table02 th{
	padding: 5px;
	border: 1px #cccccc solid;
	text-align: center;
	font-weight: normal;
	vertical-align: top;
}

.rates .rates_box .table02 td{
 height: 85px;
	padding: 5px;
	border: 1px #cccccc solid;
	vertical-align: top;
}


.rates .rates_box .txt_box{
	margin: 5px 0 0 0;
}

.rates .rates_box .txt_box p{
	margin: 0 0 15px 0;
}

.rates .rates_box .txt_box p.btn{
	margin: 0 0 0 0;
	text-align: center;
}

/* rates .rates_table ------------------------------ */

.rates .rates_table {
	margin: 0 0 30px 0;
}

.rates .rates_table .inner{
	margin: 20px 0 0 0;
}

.rates .rates_table .inner h3{
	margin: 0 0 3px 0;
	font-weight: bold;
	color: #669966;
}

.rates .rates_table .inner .size10{
	margin: 5px 0 0 0;
	font-size: 87%;
}

.rates .rates_table .inner .table01{
	border: 1px #cccccc solid;
}

.rates .rates_table .inner .table01 th{
	width: 100px;
	padding: 5px 10px;
	border: 1px #cccccc solid;
	background: #f2ede8;
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

.rates .rates_table .inner .table01 th.bg01{
	width: 100px !important;
	background: #e5f2da;
	text-align: center;
}

.rates .rates_table .inner .table01 td{
	padding: 5px 10px;
	border: 1px #cccccc solid;
	vertical-align: middle;
}

.rates .rates_table .inner .table02{
	border: 1px #cccccc solid;
}

.rates .rates_table .inner .table02 th{
	width: 110px;
	padding: 5px 10px;
	border: 1px #cccccc solid;
	background: #f2ede8;
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

.rates .rates_table .inner .table02 td{
	padding: 5px 10px;
	border: 1px #cccccc solid;
	vertical-align: middle;
}


/* --------------------------------------------------------------------------------------
 facilities
--------------------------------------------------------------------------------------- */

/* facilities bg ------------------------------ */

.facilities .main_img {
	height: 260px;
	background: url(/tochiginomori/facilities/img/main_img.jpg) no-repeat 0 0;
	text-indent: -9999px;
}

/* facilities .facilities_area ------------------------------ */

.facilities .facilities_area {
	width: 690px;
	margin: 0 0 50px 27px;
	text-align: left;
}

.facilities .facilities_area .txt{
	margin: 0 0 30px 0;
}

/* facilities .facilities_area .nav_img ------------------------------ */

.facilities .facilities_area .nav_img {
	width: 615px;
	margin: 15px 0 0 50px;
}

.facilities .facilities_area .nav_img li{
	display: inline;
}

.facilities .facilities_area .nav_img li a{
	float: left;
	margin: 0 15px 15px 0;
}
