@charset "UTF-8";

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+
+　タイトル : ページ共有のスタイル
+　ファイル名 : ファイルのパスを入れます。(ルート、相対どちらでも)
+　概要 : CSSの用途を説明を入れます。
+　サイト名 : サイトの説明を入れます。
+　URL : http://
+
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* --------------------------------------------------------------------------------------
 基本設定
--------------------------------------------------------------------------------------- */

/* 基本フォント ------------------------------ */

body {
	color: #000;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 75%;
	line-height: 1.5;
}

html:not(:target) body {
	font-size: 12px;
}

input,textarea,select {
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 100%;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

/*\*/
* html table {
	font-size: 100%;
	line-height: 1.5;
}
/**/


/* 基本タグ ------------------------------ */

body,div,
h1,h2,h3,h4,h5,h6,
dl,dt,dd,ul,ol,li,
p,blockquote,pre,cite,code,caption,
form,fieldset,legend,input,textarea,select,option,label {
	margin: 0;
	padding: 0;
}

body {
	border-top: 5px #222222 solid;
	background: #FFFFFF;
	text-align: center;
}

body.popup {
	border-top: none;
	background: #eeeeee;
	text-align: center;
}

img,table {
	border: none;
}

table {
	border-collapse: collapse;
}

ul {
	list-style: none;
}

li img,
dt img {
	vertical-align: bottom;
}

address,em,cite {
	font-style: normal;
}


/* 基本テキストリンク ------------------------------ */

a {
	overflow: hidden;
}

a:link {
	color: #669966;
}
a:visited {
	color: #669966;
}
a:hover {
	color: #F60;
	text-decoration: none;
}
a:active {
	color: #F60;
	text-decoration: none;
}


/* --------------------------------------------------------------------------------------
 float解除
--------------------------------------------------------------------------------------- */

.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: .1em;}
.clearfix { display:inline-block; }
/*\*/
* html .clearfix { height:1%; }
.clearfix { display:block; }
/**/


/* --------------------------------------------------------------------------------------
 レイアウト枠
--------------------------------------------------------------------------------------- */

div#wrap {
	position: relative;
	width: 100%;
	margin: 0 auto;
	text-align: left;
	background: url(../img/side_bg.png) repeat-y left top;
}

div#ctArea {
	width: 100%;
	min-height:1200px;
}

.popup div#ctArea {
	width: 100%;
	background: #fff;
	padding: 15px 0 0 0;
}

div#ctRight {
	margin: 0 0 0 239px;
}


/* --------------------------------------------------------------------------------------
 ヘッダー
--------------------------------------------------------------------------------------- */

div#hd {
	position: absolute;
	left: 0;
	top: 5px;
}


/* --------------------------------------------------------------------------------------
 パンくず
--------------------------------------------------------------------------------------- */

.location {
	margin: 20px 0 20px 17px;
}

.location li{
	display: inline;
}

.location li a{
	float: left;
	margin: 0 10px 0;
	padding: 0 15px 0 0;
	background: url(../../common/img/ico_arw03.gif) no-repeat right center;
}

.location li span{
	float: left;
}


/* --------------------------------------------------------------------------------------
 ページトップへ
--------------------------------------------------------------------------------------- */

.pagetop {
	width: 718px;
	margin: 0 0 0 0;
	text-align: right;
}


/* --------------------------------------------------------------------------------------
 サイド
--------------------------------------------------------------------------------------- */

div#side_area {
	position: absolute;
	left: 0;
	top: 156px;
	width: 239px;
	padding: 0 0 0 0;
}

div#side_area .side_bnr{
	margin: 20px 0 0 0;
	text-align: center;
}

div#side_area .side_bnr li{
	margin: 0 0 15px 0;
}


/* --------------------------------------------------------------------------------------
 フッター
--------------------------------------------------------------------------------------- */

div#ft {
	width: 100%;
	background: #eeeeee url(../img/bg_ft.gif) repeat-x left top;
}

div#ft .inner{
	position: relative;
	width: 980px;
	text-align: left;
}

.popup div#ft .inner{
	position: relative;
	width: 731px;
	height: 156px;
	margin: 0 auto;
	text-align: left;
}

div#ft .inner ul{
	width: 750px;
	padding: 130px 0 30px 40px;
}

div#ft .inner ul li{
	display: inline;
}

div#ft .inner ul li a{
	display: block;
	float: left;
	padding: 0 15px 0 9px;
	background: url(../img/ico_arw01.png) no-repeat 0 .45em;
}

div#ft .inner ul li a:link {
	color: #333;
	text-decoration: none;
}
div#ft .inner ul li a:visited {
	color: #333;
	text-decoration: none;
}
div#ft .inner ul li a:hover {
	color: #669966;
	text-decoration: underline;
}
div#ft .inner ul li a:active {
	color: #669966;
	text-decoration: underline;
}


div#ft .inner .logo{
	position: absolute;
	left: 38px;
	top: 33px;
}

div#ft .inner .tel{
	position: absolute;
	left: 363px;
	top: 33px;
}

div#ft .inner .qr{
	position: absolute;
	right: 0;
	top: 22px;
}

div#ft .inner .copy{
	position: absolute;
	right: 0;
	top: 139px;
}

.popup div#ft .inner .copy{
	position: static;
	right: 0;
	top: 0;
	padding: 120px 0 0 0;
	text-align: center;
}


/* --------------------------------------------------------------------------------------
 メインイメージ
--------------------------------------------------------------------------------------- */

.rc .main_img_area {
	position: relative;
	width: 784px;
	height: 260px;
	margin: 0 0 0 0;
	background: #000;
}

.rc .main_img_area p{
	position: absolute;
	left: 0;
	top: 0;
}
