@charset "utf-8";

/* ===================================================================
css information

File Name  : base.css
Author     :
Style Info : 
=================================================================== */

@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css'); /* 'Noto Sans Japanese'*/

/*********************************************************************

Browser Default Initialization

*********************************************************************/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin:0; padding:0; border:0; outline:0; font-size:inherit; vertical-align:baseline; background:transparent; font-style:normal; font-weight:inherit;
}
html, body { height:100%; }
html { overflow-y:scroll; line-height:1; box-sizing:border-box; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
body { font-weight:normal; letter-spacing:normal; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }
input, select, textarea, button { margin:0; font-family:inherit; font-size:inherit; font-weight:inherit; line-height:inherit; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
dl, ol, ul { list-style:none; }
table { border-collapse:collapse; border-spacing:0; }
img { vertical-align:bottom; }
img, x:-moz-any-link, x:default { box-shadow:#000 0 0 0; }
a { color:inherit; -webkit-backface-visibility:hidden; backface-visibility:hidden; -moz-user-select:none; -khtml-user-select:none; -webkit-user-select:none; }
*,
:before,
:after { font-size:inherit; box-sizing:inherit; -webkit-tap-highlight-color:rgba(0,0,0,0); }

/*********************************************************************

basic style

*********************************************************************/

html { color:#444; }
body { font-size:13px; background:#fff; line-height:1.6; }
h1, h2, h3, h4, h5, h6 { line-height:1.35; }
a { text-decoration:none; }
img { width:100%; }

/* SP --------------------------------*/
@media (max-width:767px) {
body { font-size:13px; line-height:1.6; }
h1, h2, h3, h4, h5, h6 { line-height:1.35; }
}

/* ===================================================================
 font
=================================================================== */

@font-face {
font-family:'YuGothic M';
src:local('Yu Gothic Medium');
}
html { font-family: 'Noto Sans Japanese', '游ゴシック体', YuGothic, 'YuGothic M', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; font-weight:400; }

/* ie */
html.bn-ie { font-family: 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; }

/* ===================================================================
 cursor
=================================================================== */ 

.device-mobile *,
.device-tablet * { cursor:pointer; }

/* ===================================================================
 clearfix
=================================================================== */ 

.clearfix::after { display:block; clear:both; content:''; }

/* ===================================================================
 display:none
=================================================================== */ 

@media (min-width:768px) {
.only-sp { display:none !important; }
}

/* SP --------------------------------*/
@media (max-width:767px) {
.only-pc { display:none !important; }
}

/* ===================================================================
 form
=================================================================== */

select.select-1 { width:100%; height:44px; font-size:14px; display:inline-block; vertical-align:middle; padding:0 35px 0 10px; background:#fff URL(../img/select-arrow-1.png) no-repeat right center; background-size:25px auto; border:#ddd 1px solid; border-radius:3px; white-space:nowrap; text-overflow:ellipsis; box-shadow:0 0 4px 0 rgba(0,0,0,0.1); -webkit-appearance:none; -moz-appearance:none; appearance:none; }
select.select-1::-ms-expand { display:none; }

/*********************************************************************

bootstrap custom

*********************************************************************/

/* ===================================================================
 container
=================================================================== */

.container { max-width:1000px; padding-left:0; padding-right:0; }

@media (max-width:767px){
.container { max-width:none; padding-left:15px; padding-right:15px; max-width:640px; }
}
