@charset "utf-8";

/*********************************************************************

Custom style 'dp_940_new.css'

*********************************************************************/

.domtour940 {
padding-bottom: 0;
background: none;
zoom: 1;
}
.domtour940 .domtourTit {
height: auto;
font-size:16px;
position: relative;
background:#cc0000;
color:#fff;
padding:10px 0;
min-height:60px;
}
.domtour940 .domtourTit > .col { padding:0 20px; }
.domtour940 .dtr940 {
background: none;
zoom: 1;
border:#cc0000 3px solid;
border-top:0;
border-radius:0 0 4px 4px; 
}
.domtour940 .seaBox {
margin: 0;
padding: 15px;
border-top: solid 1px #ccc;
}
.domtour940 .seaBox h4 {
float: left;
width: 110px;
border:#ddd 1px solid;
text-align:center;
font-size:14px;
line-height:1.35;
font-weight:500;
padding:4px 0;
}
.domtour940 .seaBox h4 .step { 
display:block; 
color:#cc0000;
margin-bottom:2px;
}
.domtour940 .seaBox .iBox {
width:100%;
float:right;
margin-left:-110px;
padding-left:125px;
}
.domtour940 .seaBox dl.line {
padding-top: 15px;
background:none;
border-top:#999 1px dotted;
}
.domtour940 .seaBox dl.clm2 {
margin-top: 12px;
background: none;
position:relative;
}
.domtour940 .seaBox dl.clm2:before { 
content:'';
display:block;
width:1px; 
height:100%; 
border-left:#999 1px dotted; 
position:absolute; 
top:0;
left:48%;
}
.domtour940 .seaBox dl.clm1 .ttl,
.domtour940 .seaBox dl.clm2 .ttl {
margin-top: 0;
width: 14%;
font-size:16px;
font-weight:500; 
position:relative;
}
.domtour940 .seaBox dl.clm1 .ttl.icon,
.domtour940 .seaBox dl.clm2 .ttl.icon {
padding-left:24px;	
}
.domtour940 .seaBox dl.clm1 .ttl.icon:before,
.domtour940 .seaBox dl.clm2 .ttl.icon:before {
content:'';
width:20px;
height:20px; 
position:absolute;
left:0; 
top:50%; 
margin-top:-10px;
background:transparent no-repeat center center;
background-size:100% 100%;
}
.domtour940 .seaBox dl.clm1 .ttl.icon.arrival:before,
.domtour940 .seaBox dl.clm2 .ttl.icon.arrival:before {
background-image:URL(../img/txt_dp_arrival.gif);
}
.domtour940 .seaBox dl.clm1 .ttl.icon.boarding:before,
.domtour940 .seaBox dl.clm2 .ttl.icon.boarding:before {
background-image:URL(../img/txt_dp_boarding.gif);
}
.domtour940 .seaBox dl.clm1 .ttl.icon.departure:before,
.domtour940 .seaBox dl.clm2 .ttl.icon.departure:before {
background-image:URL(../img/txt_dp_departure.gif);
}
.domtour940 .seaBox dl.clm1 .ttl.icon.member:before,
.domtour940 .seaBox dl.clm2 .ttl.icon.member:before {
background-image:URL(../img/txt_dp_member.gif);
}
.domtour940 .seaBox dl.clm1 .ttl.icon.room:before,
.domtour940 .seaBox dl.clm2 .ttl.icon.room:before {
background-image:URL(../img/txt_dp_room.gif);
}
.domtour940 .seaBox dl.clm1 .ttl.icon.schedule:before,
.domtour940 .seaBox dl.clm2 .ttl.icon.schedule:before {
background-image:URL(../img/txt_dp_schedule.gif);
}
.domtour940 .seaBox dl.sta dd.btnChi {
margin-top: 0;
width: 140px;
height: 23px;
display: block;
float: left;
cursor: pointer;
}
.domtour940 .seaBox dl.sta dd.btnChi span {
background: #f5f5f5;
width: 140px;
height: 23px;
display: block;
text-indent: 0;
border:#ddd 1px solid;
border-radius:3px;
font-size:13px;
color:#444;
line-height:21px;
position:relative;
padding-left:24px;
}
.domtour940 .seaBox dl.sta dd.btnChi span:before {
content:'＋';
width:14px;
height:14px; 
position:absolute; 
top:50%; 
left:6px; 
background:#666;
line-height:14px; 
font-size:10px;
text-align:center;
margin-top:-7px;
color:#fff;	
}
.domtour940 .seaBox dl.sta dd.btnChi,
.domtour940 .seaBox dl.sta dd.btnChi span:hover {
background: #eee;
}
.domtour940 .seaBox dl.sta dd.btnChi.childClose span {
background: #f5f5f5;
}
.domtour940 .seaBox dl.sta dd.btnChi.childClose span:before {
content:'－';
}
.domtour940 .seaBox dl.sta dd.btnChi.childClose,
.domtour940 .seaBox dl.sta dd.btnChi.childClose span:hover {
background: #eee;
}

/* step */
.domtour940 .dtrBtm {
margin: 0;
padding: 15px;
background-color: #eee;
border-top: solid 1px #ccc;
}
.domtour940 .dtrBtm .condition span {
display:block;
}
.domtour940 .dtrBtm .condition--text-1 {
font-size:16px;
font-weight:500;
padding-right:15px;
}
.domtour940 .dtrBtm .condition--btn-1 button {
cursor:pointer;
width:190px;
background:#cc0000;
color:#fff;
text-align:center;
font-weight:500;
line-height:1.35;
border-radius:3px;
border:0;
font-size:16px;
padding:9px 0;
-webkit-appearance:none; -moz-appearance:none; appearance:none;
}
.domtour940 .dtrBtm .condition--link-1 {
margin-top:8px;	
}

/* only style
------------------------------ */

/* hotel modal */
.domtour940.modal .domtourTit .modalClose {
position:relative;
top: 0;
right: 0;
display:block; 
width:60px; 
height:40px; 
background:URL(../img/close-1.png) no-repeat center center; 
background-size:19px auto;
}
a.floatCalIcon {
display:inline-block;
width:20px; 
height:20px;
vertical-align:middle !important;
}
.dpModalBg {
background-color: #000;
opacity: 0.5;
height: 100%;
width: 100%;
min-width: 1000px;
position: fixed;
top: 0;
left: 0;
z-index: 50;
}
.dpModalBox {
width: 100%;
text-align: center;
position: absolute;
top: 100px;
left: 0;
z-index: 51;
}
.dpModalBox .inBox {
margin: 0 auto;
background-color: #fff;
box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
width: 1000px;
z-index: 52;
text-align: left;
border-radius:4px;
overflow: hidden;
}

/* SP --------------------------------*/
@media (max-width:767px) {
	.domtour940 .domtourTit {
	font-size:14px;
	min-height:50px;
	}
	.domtour940 .domtourTit > .col { padding:0 10px; }
	.domtour940 .seaBox {
	padding: 10px;
	}
	.domtour940 .seaBox select {
	height:32px;
	}
	.domtour940 .seaBox h4 {
	float: none;
	width: 100%;
	text-align:left;
	padding:6px 10px;
	}
	.domtour940 .seaBox h4 .step { 
	display:inline; 
	margin-bottom:0;
	padding-right:0.5em;
	}
	.domtour940 .seaBox .iBox {
	width:100%;
	float:none;
	margin-left:0;
	padding-left:0;
	margin-top:10px;
	}
	.domtour940 .seaBox ul.mem li {
	margin-bottom: 6px;
	width: 100%;
	display:table;
	table-layout:fixed;
	}
	.domtour940 .seaBox ul.mem li:before,
	.domtour940 .seaBox ul.mem li:after {
	display:none;	
	}
	.domtour940 .seaBox ul.mem li .txt {
	float:none;
	width:100px;
	display:table-cell;
	vertical-align:middle;
	}
	.domtour940 .seaBox ul.mem li .sel {
	float: none;
	width: auto;
	display:table-cell;
	vertical-align:middle;
	}
	.domtour940 .seaBox dl.line {
	padding-top: 10px;
	}
	.domtour940 .seaBox dl dt,
	.domtour940 .seaBox dl dd {
	min-height:32px;	
	}
	.domtour940 .seaBox dl dt {
	clear:both;
	font-size:13px;
	line-height:1.6;
	padding:5.6px 0;
	}
	.domtour940 .seaBox dl.clm2 {
	margin-top: 10px;
	}
	.domtour940 .seaBox dl.clm2:before { 
	display:none;
	}
	.domtour940 .seaBox dl.clm1 .ttl,
	.domtour940 .seaBox dl.clm2 .ttl {
	width: 100%;
	font-size:15px;
	float:none;
	}
	.domtour940 .seaBox dl.clm1 .ttl.icon,
	.domtour940 .seaBox dl.clm2 .ttl.icon {
	padding-left:20px;	
	}
	.domtour940 .seaBox dl.clm1 .ttl.icon:before,
	.domtour940 .seaBox dl.clm2 .ttl.icon:before {
	width:16px;
	height:16px; 
	margin-top:-8px;
	}
	.domtour940 .seaBox dl.clm1,
	.domtour940 .seaBox dl.clm2 .ttl {
	border-top:#999 1px dotted;
	}
	.domtour940 .seaBox dl.clm1 .con {
	width: 100%;
	float:none;
	}
	.domtour940 .seaBox dl.clm2 .con {
	width:100%; 
	float:none;
	}
	.domtour940 .seaBox dl.sta dt {
	margin-bottom: 6px;
	padding-bottom: 0;
	}
	.domtour940 .seaBox dl.sta dd {
	margin-bottom: 6px;
	padding-bottom: 0;
	padding-right: 0;
	}
	.domtour940 .seaBox dl.sta dd.txtChi {
	padding-top:5.6px;
	padding-bottom:5.6px;
	}
	.domtour940 .seaBox dl.sta dd.btnChi {
	margin-top:10px;
	width: 160px;
	height: 32px;
	float: none;
	clear:both;
	}
	.domtour940 .seaBox dl.sta dd.btnChi span {
	width: 160px;
	height: 32px;
	line-height:30px;
	padding-left:32px;
	}
	.domtour940 .seaBox dl.sta dd.btnChi span:before {
	left:10px; 
	}
	.domtour940 .seaBox dl.sta dd.btnChi,
	.domtour940 .seaBox dl.sta dd.btnChi span:hover {
	background: #f5f5f5;
	}
	.domtour940 .seaBox dl.sta dd.btnChi.childClose,
	.domtour940 .seaBox dl.sta dd.btnChi.childClose span:hover {
	background: #f5f5f5;
	}
	.domtour940 .seaBox dl.chi {
	padding: 10px 10px 4px 10px;
	float:none;
	}
	.domtour940 .seaBox dl.chi dt,
	.domtour940 .seaBox dl.chi dd {
	padding-bottom:0;
	margin-bottom:6px;
	max-width: 100%;
	}
	.domtour940 .seaBox dl.chi dd {
	padding-right: 0;
	}
	.domtour940 .seaBox dl.air dt {
	margin-bottom: 6px;
	width: 70px;
	}
	.domtour940 .seaBox dl.air dd {
	margin-bottom: 6px;
	width: 100%;
	margin-left:-70px;
	padding-left:70px;
	}
	.domtour940 .seaBox .selChi li {
	margin-top: 6px;
	padding: 6px 10px;
	background: #eee;
	}
	.domtour940 .seaBox .selChi li strong,
	.domtour940 .seaBox .selChi li span {
	width:100%;
	display: block;
	float: none; 
	margin-bottom:6px;
	margin-left:0;
	line-height:30px;
	}
	.domtour940 .seaBox .selChi p {
	padding-left: 0;
	background: none;
	font-weight: bold;
	margin-bottom:6px;
	}
	
	/* step */
	.domtour940 .seaBox.step1 .iBox {
	padding-top:0;
	}
	.domtour940 .dtrBtm {
	padding: 10px 10px 15px 10px;
	}
	.domtour940 .dtrBtm > .col-12 {
	margin-bottom:10px;	
	}
	.domtour940 .dtrBtm > .col-12:last-child {
	margin-bottom:0 !important;	
	}
	.domtour940 .dtrBtm .condition--text-1 {
	font-size:14px;
	padding-right:10px;
	}
	.domtour940 .dtrBtm .condition--btn-1 button {
	width:180px;
	font-size:14px;
	padding:10px 0;
	-webkit-appearance:none; -moz-appearance:none; appearance:none;
	}
	.domtour940 .dtrBtm .condition--link-1 {
	margin-top:10px;	
	}
	
	.domtour940 span.JS_dtdp_lb_arr {
	padding-top:5.6px;
	padding-bottom:5.6px;
	display:inline-block;	
	}
	
	.domtour940 .seaBox .mLR1 {
	padding-top:5.6px;
	padding-bottom:5.6px;
	display:inline-block;
	vertical-align:middle;
	}
	
	/* only style
	------------------------------ */
	
	/* hotel modal */
	.domtour940.modal .domtourTit .modalClose {
	width:45px; 
	height:30px; 
	background-size:15px auto;
	}
	a.floatCalIcon {
	width:20px; 
	height:20px;
	}
	.dpModalBg {
	min-width: 320px;
	}
	.dpModalBox {
	top: 50px;
	padding:0 15px;
	}
	.dpModalBox .inBox {
	width: 100%;
	max-width:640px;
	min-width:290px;
	}	
}

/*********************************************************************

Custom style 'base_2012.css'

*********************************************************************/

/* basic
------------------------------------------ */

.floatL {
float: left;
}
.floatR {
float: right;
}
.disNon {
display: none!important; 
}
.domtour940 strong {
font-weight:500;
}
.domtour940 .notice { 
display:none; 
}
.domtour940 select {
font-size:12px;
}
.smaller01 {
font-size:12px !important;
}
a.iconOtherW {
display:inline-block;
vertical-align:middle;
font-size:13px;
line-height:1.35;	
background:URL(../img/icon_popup_p_003.gif) no-repeat left 2px;
background-size:16px 13px;
padding-left: 16px !important;
text-decoration:underline;
}
a.iconOtherW:hover {
text-decoration:none;
}

/* calendar
------------------------------------------ */

#dispCalendarSpace {
display: none;
position: absolute;
z-index: 997;
margin: 0;
padding: 0;
}
#dispCalendarSpaceWrite {
position: absolute;
top: 0;
left: 0;
width: 580px;
background-color: #ffffff;
z-index: 999;
border-right-width: 1px;
border-bottom-width: 1px;
}

/* floating */
.floating {
background-color: #efefef;
}

/* calendar */
.calendar01 {
margin: 0;
padding-bottom:15px;
width: 582px;
border: solid 1px #bbbbbb;
text-align: left;
font-size: 12px !important;
line-height:1.5;
}
.calendar01 p, 
.calendar01 h2, 
.calendar01 h3, 
.calendar01 h4, 
.calendar01 h5, 
.calendar01 h6, 
.calendar01 li, 
.calendar01 th, 
.calendar01 td, 
.calendar01 dt, 
.calendar01 dd {
line-height:1;	
}
.calendar01 strong {
font-weight:500;	
}
.calendar01 .calendar01H {
border: none;
border-top: solid 1px #ffffff;
background-color: #efefef;
}
* html body .calendar01 .calendar01H {
width: 585px!important;
}
.calendar01 .calendar01H h2 {
float: left;
padding: 10px;
line-height: 1.4;
font-size: 16px!important;
font-weight:500;
}
.calendar01 .calendar01H .close {
position: relative;
padding: 0;
float: right;
background: none;
line-height: 1.4;
font-size: 12px;
text-align: left;
zoom: 1;
}
.calendar01 .calendar01H .close a {
display: block;
width: 42px;
height: 42px;
background: url(../img/parts_module_close_n.gif) no-repeat center center;
background-size:22px;
line-height: 1.4;
font-size: 12px;
text-align: left;
overflow: hidden;
zoom: 1;
}
.calendar01 .calendar01H .close a:hover {
background-image:url(../img/parts_module_close_o.gif);
text-indent: 0;
zoom: 1;
}
.calendar01 .calendar01H .close a img {
display:none !important;	
}
.calendar01 .calendar01C {
margin: 8px 0 0 9px;
width: auto;
}
.calendar01 .month01 {
float: left;
margin-right: 9px;
width: 180px;
}
.calendar01 .month01H {
padding: 2px 0;
line-height: 1.4;
font-size: 12px;
font-weight: normal!important;
}
.calendar01 .month01H strong {
font-size: 16px!important;
zoom: 1;
}
.calendar01 .month01H span {
zoom: 1;
padding: 2px 5px 0 5px;
background: #cc0000;
color: #ffffff;
font-size: 83%;
}
.calendar01 table {
width: 180px;
margin-top: 2px;
border-top: solid 1px #cccccc;
border-left: solid 1px #cccccc;
border-collapse: separate;
}
.calendar01 td {
border-right: solid 1px #cccccc;
border-bottom: solid 1px #cccccc;
text-align: center;
width: 23px;
font-size: 12px;
}
.calendar01 td a:link,
.calendar01 td a:visited {
display: block;
width: 100%;
height: 100%;
padding: 6px 0 4px 0;
}
* html .calendar01 td a:link,
.calendar01 td a:visited {
width: 107%;
}
*:first-child + html .calendar01 td a:link,
.calendar01 td a:visited {
width: 107%;
}
.calendar01 td a:hover,
.calendar01 td a:active {
display: block;
background: #ffffd0;
}
.calendar01 td.week {
padding: 6px 0 4px 0;
background: #e9e9e9;
}
.calendar01 td.today {
font-weight: bold;
width: 22px;
}
.calendar01 td.today a:link,
.calendar01 td.today a:visited {
background: #d6d6d6;
}
* html .calendar01 td.today a:link,
.calendar01 td.today a:visited {
width: 112%;
}
*:first-child + html .calendar01 td.today a:link,
.calendar01 td.today a:visited {
width: 112%;
}
.calendar01 td.today a:hover,
.calendar01 td.today a:active {
background: #ffffd0;
}
.calendar01 td.sat a:link,
.calendar01 td.sat a:visited {
background: #ddebff;
}
.calendar01 td.sat a:hover,
.calendar01 td.sat a:active {
background: #ffffd0;
}
.calendar01 td.sun a:link,
.calendar01 td.sun a:visited,
.calendar01 td.holiday a:link,
.calendar01 td.holiday a:visited {
background: #FFE1E1;
}
.calendar01 td.sun a:hover,
.calendar01 td.sun a:active,
.calendar01 td.holiday a:hover,
.calendar01 td.holiday a:active {
background: #ffffd0;
}
.calendar01 td.week.sun {
color: #cc0000!important;
}
.calendar01 td.unselectable {
padding: 6px 0 4px 0;
background: #ffffff;
color: #B7BECC!important;
}
.calendar01 .calendarLi {
margin: 12px 10px 0 9px;
width: auto;
}
.calendar01 .calendarLi .prevMonth {
float: left;
font-size: 12px;
line-height: 1.4;
}
.calendar01 .calendarLi .prevMonth a {
padding: 0;
line-height: 1.4!important;
zoom: 1;
display:inline-block;
vertical-align:middle;
}
.calendar01 .calendarLi .prevMonth a:before { 
content:'\0025C0';
font-size:10px;
padding-right:0.5em;
vertical-align:baseline;
color:#cc0000;
display:inline-block;
-webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
-webkit-transform-origin: center center;
-ms-transform-origin: center center;
transform-origin: center center;
}
.calendar01 .calendarLi .nextMonth {
float: right;
font-size: 12px;
line-height: 1.4;
}
.calendar01 .calendarLi .nextMonth a {
padding: 0;
line-height: 1.4!important;
zoom: 1;
display:inline-block;
vertical-align:middle;
}
.calendar01 .calendarLi .nextMonth a:after { 
content:'\0025B6';
font-size:10px;
padding-left:0.5em;
vertical-align:baseline;
color:#cc0000;
display:inline-block;
-webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
-webkit-transform-origin: center center;
-ms-transform-origin: center center;
transform-origin: center center;
}
a.floatCalIcon.hidden {
visibility: hidden;
cursor: default;
}

/*intltour*/
#FORCIASearchGadget1_CalPopUp th,
#FORCIASearchGadget1_CalPopUp td {
line-height: 1;
padding: 0;
}
#FORCIASearchGadget1_CalPopUp.calendar01 td.week {
padding: 6px 0 4px 0;
}
#FORCIASearchGadget1_CalPopUp.calendar01 td.unselectable {
padding: 6px 0 4px 0;
}

/*domtour*/
#domtourPanel02 .module_select_two .leftCol .baseModuleTable #FORCIAJALDOMSearchGadget1_CalPopUp td,
#domtourPanel02 .module_select_two .leftCol .baseModuleTable #FORCIAJALDOMSearchGadget1_CalPopUp th {
line-height: 1;
padding: 0;
}
#domtourPanel02 .module_select_two .leftCol .baseModuleTable #FORCIAJALDOMSearchGadget1_CalPopUp.calendar01 td.week {
padding: 6px 0 4px 0;
}
#domtourPanel02 .module_select_two .leftCol .baseModuleTable #FORCIAJALDOMSearchGadget1_CalPopUp.calendar01 td.unselectable {
padding: 6px 0 4px 0;
}
#FORCIAGadgetWrapper {
display: none;
}

/* SP --------------------------------*/
@media (max-width:767px) {	
	/* calendar
	------------------------------------------ */
	#dispCalendarSpace {
	width:100%;
	left:0 !important;
	padding:0 15px;
	min-width:320px;
	}
	#dispCalendarSpaceWrite {
	position:relative;
	width: 100% !important;
	max-width:640px;
	margin:0 auto;
	}
	
	/* calendar */
	.calendar01 {
	width: 100% !important;
	max-width:640px;
	}
	.calendar01 .calendar01H .close a:hover {
	background-image:url(../img/parts_module_close_n.gif);
	}

	.calendar01 .calendar01C {
	margin: 8px auto 0 auto;
	padding:0 10px;
	width: 100%;
	max-width:300px;
	}
	.calendar01 .month01 {
	float:none;
	margin-right: 0;
	width: 100%;
	margin-bottom:10px;
	}
	.calendar01 .month01:nth-child(n+2) {
	display:none !important;
	}
	.calendar01 .month01:last-child {
	margin-bottom:0 !important;	
	}
	.calendar01 table {
	width: 100%;
	table-layout:fixed;
	}
	.calendar01 th,
	.calendar01 td {
	width: auto !important;
	padding:0 !important;
	}
	.calendar01 td.week,
	.calendar01 td.unselectable,
	.calendar01 th a,
	.calendar01 td a { 
	padding-top:8px !important;
	padding-bottom:8px !important;	
	}
}

/* ie */
html.bn-ie .domtour940 .seaBox h4,
html.bn-ie .domtour940 .seaBox dl.clm1 .ttl,
html.bn-ie .domtour940 .seaBox dl.clm2 .ttl,
html.bn-ie .domtour940 .dtrBtm .condition--text-1,
html.bn-ie .domtour940 .dtrBtm .condition--btn-1 button,
html.bn-ie .domtour940 strong,
html.bn-ie .calendar01 strong,
html.bn-ie .calendar01 .calendar01H h2 {
font-weight:bold !important;
}