@charset "utf-8";

/* clearfix */
.domtour940 .seaBox:before,.domtour940 .seaBox .clm1:before,.domtour940 .seaBox .clm2:before,.domtour940 .seaBox dl.sta:before,
.domtour940 .seaBox dl.air:before,.domtour940 .seaBox ul.mem:before,.domtour940 .seaBox ul.mem li:before,.domtour940 .seaBox .selChi li:before{content:"";display:block;overflow:hidden;}
.domtour940 .seaBox:after,.domtour940 .seaBox .clm1:after,.domtour940 .seaBox .clm2:after,.domtour940 .seaBox dl.sta:after,
.domtour940 .seaBox dl.air:after,.domtour940 .seaBox ul.mem:after,.domtour940 .seaBox ul.mem li:after,.domtour940 .seaBox .selChi li:after{content:"";display:block;overflow:hidden;clear:both;}
*:first-child+html .domtour940 .seaBox,*:first-child+html .domtour940 .seaBox .clm1,*:first-child+html .domtour940 .seaBox .clm2,*:first-child+html .domtour940 .seaBox dl.sta,
*:first-child+html .domtour940 .seaBox dl.air,*:first-child+html .domtour940 .seaBox ul.mem,*:first-child+html .domtour940 .seaBox ul.mem li,*:first-child+html .domtour940 .seaBox .selChi li{zoom:1;}

/* domtour 940 */
.domtour940{padding-bottom:10px;background:url(../img/bg_booking940_btm.gif) no-repeat 0 100%;zoom:1;}
.domtour940 .domtourTit{height:100%;font-size:100%;position:relative;}
.domtour940 .dtr940{background:url(../img/bg_booking940_mdl.gif) repeat-y 0 0;zoom:1;}
.domtour940 .dtrTop{margin:0 3px;padding:0 15px 10px;border-bottom:solid 1px #cccccc;}
.domtour940 .seaBox{margin:0 3px;padding:15px;border-top:solid 1px #cccccc;}

.domtour940 .seaBox h4{float:left;width:110px;}
.domtour940 .seaBox .iBox{float:right;width:790px;}

.domtour940 .seaBox .mLR1{margin:0 1em;}
.domtour940 .seaBox .wid80{width:80px;}
.domtour940 .seaBox .wid280{width:280px;}
.domtour940 .seaBox .mW54{min-width:54px;}
.domtour940 .seaBox span.per{white-space:nowrap;}
.domtour940 .seaBox input.keyW{padding:0 3px;width:392px;}
.domtour940 .seaBox input.pfOn{color:#999999 !important;}
.domtour940 .seaBox select{vertical-align:middle;}
.domtour940 .seaBox select.per{width:60px;}
.domtour940 .seaBox select.opt{width:100px;}
.domtour940 .seaBox select.fli{width:180px;}
.domtour940 .seaBox select.mon{margin-right:3px;width:70px;}
.domtour940 .seaBox select.day{margin-right:3px;width:80px;}
.domtour940 .seaBox a.cal{vertical-align:-7px;}
.domtour940 .seaBox p.stt{margin-top:15px;padding:5px 10px 5px 7px;border-left:solid 3px #cc0000;background:#eeeeee;font-weight:bold;}
.domtour940 .seaBox p.lab{margin-top:15px;padding:10px;border:solid 1px #cc0000;}
.domtour940 .seaBox p.lab.first{margin-top:0;}
.domtour940 .seaBox p.lab input{margin-right:6px;vertical-align:middle;}
.domtour940 .seaBox p.nam{margin-bottom:3px;display:block;font-size:118%;color:#cc0000;}
.domtour940 .seaBox ul li{line-height:1.6;}
.domtour940 .seaBox ul.mem{width:100%;}
.domtour940 .seaBox ul.mem li{margin-bottom:3px;width:49%;float:left;}
.domtour940 .seaBox ul.mem li .txt{float:left;width:38%;}
.domtour940 .seaBox ul.mem li .txt span{font-size:88%;white-space:nowrap;}
.domtour940 .seaBox ul.mem li .sel{float:left;width:62%;}
.domtour940 .seaBox ul.mem li .sel span{margin-left:5px;}
.domtour940 .seaBox dl.line{padding-top:15px;background:url(../img/bg_line_dot_006.gif) repeat-x 0 0;}
.domtour940 .seaBox dl dt,.domtour940 .seaBox dl dd{float:left;line-height:1.6;min-height:1.6em;}
.domtour940 .seaBox dl dd:after{content:"";display:block;clear:both;height:0;}
.domtour940 .seaBox dl.clm1{margin-top:12px;}
.domtour940 .seaBox dl.clm2{margin-top:12px;background:url(../img/bg_line_dot_005.gif) repeat-y 48% 0;}
.domtour940 .seaBox dl.clm1 .ttl,.domtour940 .seaBox dl.clm2 .ttl{margin-top:2px;width:14%;}
.domtour940 .seaBox dl.clm1 .con{width:86%;}
.domtour940 .seaBox dl.clm2 .con{width:36%;}
.domtour940 .seaBox dl.sta{width:100%;}
.domtour940 .seaBox dl.sta dt{margin-bottom:3px;}
.domtour940 .seaBox dl.sta dt span{font-size:88%;}
.domtour940 .seaBox dl.sta dd{padding-bottom:3px;padding-right:30px;}
.domtour940 .seaBox dl.sta dd.txtChi{margin-right:10px;}
.domtour940 .seaBox dl.sta dd.btnChi{margin-top:-2px;width:140px;height:23px;display:block;float:left;cursor:pointer;}
.domtour940 .seaBox dl.sta dd.btnChi span{background:url(../img/btn_childtoggle_002_n.gif) no-repeat;width:140px;height:23px;display:block;text-indent:-10000px;}
.domtour940 .seaBox dl.sta dd.btnChi,.domtour940 .seaBox dl.sta dd.btnChi span:hover{background:url(../img/btn_childtoggle_002_o.gif) no-repeat;}
.domtour940 .seaBox dl.sta dd.btnChi.childClose span{background:url(../img/btn_childtoggle_003_n.gif) no-repeat;}
.domtour940 .seaBox dl.sta dd.btnChi.childClose,.domtour940 .seaBox dl.sta dd.btnChi.childClose span:hover{background:url(../img/btn_childtoggle_003_o.gif) no-repeat;}
.domtour940 .seaBox dl.chi{margin-top:10px;padding:10px 0 10px 20px;background:#f5f5f5;float:left;}
.domtour940 .seaBox dl.chi dt{word-break:all-break;max-width:130px;}
.domtour940 .seaBox dl.chi dt span{white-space:nowrap;font-size:88%;}
.domtour940 .seaBox dl.chi dd{padding-right:20px;}
.domtour940 .seaBox dl.air dt{margin-bottom:3px;width:23%;}
.domtour940 .seaBox dl.air dd{margin-bottom:3px;width:77%;}
.domtour940 .seaBox dl.air dd.dat{line-height:1%;}
.domtour940 .seaBox dl.air dd strong{display:block;padding:0 3px;}
.domtour940 .seaBox span.btnHot{margin:2px 0 6px;}
.domtour940 .seaBox span.btnHot{width:138px;height:26px;display:block;cursor:pointer;}
.domtour940 .seaBox span.btnHot span{background:url(../img/btn_hoteltoggle_n.gif) no-repeat;width:138px;height:26px;display:block;text-indent:-10000px;}
/* .domtour940 .seaBox span.btnHot,.domtour940 .seaBox span.btnHot span:hover{background:url(../img/btn_hoteltoggle_o.gif) no-repeat;} */
.domtour940 .seaBox .selChi{padding-top:8px;}
/* .domtour940 .seaBox .selChi p{padding-left:12px;background:url(../img/icon_square_red.gif) no-repeat 0 6px;font-weight:bold;} */
.domtour940 .seaBox .selChi li{margin-top:3px;padding:5px 10px;background:#eeeeee;}
.domtour940 .seaBox .selChi li strong{margin-top:4px;width:11em;display:block;float:left;}
.domtour940 .seaBox .selChi li span{margin-left:30px;}
.domtour940 .seaBox .selChi li span select{margin-left:10px;}
/* step */
.domtour940 .seaBox.step1{border-top:none;}
.domtour940 .seaBox.step1 .iBox{padding-top:15px;}
.domtour940 .seaBox.step1 .iBox dl.clm1{margin-top:0;}
.domtour940 .seaBox.step3 .iBox dl.sta dt{margin-right:10px;}
.domtour940 .dtrBtm{margin:0 3px;padding:10px 15px 5px;background-color:#eeeeee;border-top:solid 1px #cccccc;}
.domtour940 .dtrBtm .floatL,.domtour940 .dtrBtm .floatR{width:50%;}
.domtour940 .dtrBtm .condition img{margin:9px 14px 0 0;vertical-align:top;}
.domtour940 .dtrBtm .condition input{vertical-align:top;}

/* only style
------------------------------ */
/* onTitle or offTitle */
.domtour940.onTitle .dtrTop{padding-top:10px;}
.domtour940.offTitle .domtourTit{background:url(../img/bg_booking940_top.gif) no-repeat 0 0;height:5px;line-height:1%;font-size:1%;text-indent:-9999px;}

/* hotel modal */
.domtour940 .seaBox p.nam{display:none;}
.domtour940.hotel .seaBox dl.hOf{display:none;}
.domtour940.hotel .seaBox p.hOn{display:block;}
.domtour940.modal .domtourTit .modalClose{position:absolute;top:15px;right:10px;}

.hotelSel01{margin:0;padding-bottom:8px;width:382px;border:solid 1px #bbbbbb;text-align:left;font-size:12px !important;}
.hotelSel01 .hotelSel01H{border:none;border-top:solid 1px #ffffff;background-color:#efefef;}
.hotelSel01 .hotelSel01H h2{float:left;padding:10px;line-height:1.4;font-size:16px!important;}
.hotelSel01 .hotelSel01H .close{position:relative;padding:10px;float:right;background:none;line-height:1.4;font-size:12px;text-align:left;zoom:1;}
.hotelSel01 .hotelSel01H .close a{display:block; width:22px;height:22px;background:url(../img/parts_module_close_o.gif) no-repeat 0 0;line-height:1.4;font-size:12px;text-align:left;overflow:hidden;zoom:1;}
.hotelSel01 .hotelSel01H .close a:hover{text-indent:-9999px;zoom:1;}
.hotelSel01 .hotelSel01C{margin:8px 9px 0 9px;width:auto;}
.hotelSel01 .hotelSel01C li{padding:2px 0;font-size:13.6px;line-height:1.5;padding-left:1.5em;text-indent:-1.5em;}
.hotelSel01 .hotelSel01C li input{margin-right:5px;vertical-align:middle;}
a.floatCalIcon.hidden{visibility:hidden;cursor:default;}

.dpModalBg{background-color:#000;-ms-filter:"alpha(opacity=50)";filter:alpha(opacity=50);-khtml-opacity:0.5;-moz-opacity:0.5;opacity:0.5;height:100%;width:100%;min-width:950px;position:fixed;top:0;left:0;z-index:50;}
.dpModalBox{width:100%;text-align:center;position:absolute;top:100px;left:0;z-index:51;}
.dpModalBox .inBox{margin:0 auto;background-color:#ffffff;box-shadow:0 5px 15px rgba(0, 0, 0, 0.6);width:940px;z-index:52;text-align:left;}