@charset "utf-8";

/* ===================================================================
css information

File Name  : style.css
Author     : 
Style Info : 
=================================================================== */

/*********************************************************************

#wrapper

*********************************************************************/

#wrapper { width:auto; min-width:1000px; }

/* SP --------------------------------*/
@media (max-width:767px) {
#wrapper { min-width:0; }	
}

/*********************************************************************

#g-header

*********************************************************************/

#g-header { width:100%; }
#g-header a { display:block; }
.g-header--row-1 { height:120px; padding-top:10px; }
.g-header--col-1 { width:334px; }
.g-header--col-2 { width:112px; }

/* SP --------------------------------*/
@media (max-width:767px) {
#g-header { min-width:320px; }
.g-header--row-1 { height:90px; padding-top:6px; }
.g-header--col-1 { width:194px; }
.g-header--col-2 { width:80px; }
}

/*********************************************************************

#g-footer

*********************************************************************/

#g-footer { width:100%; height:75px; background:#000; text-align:center; color:#fff; padding-top:15px; line-height:1.35; }
.g-footer--text-1 { font-size:14px; font-weight:500; margin-bottom:2px; }
.g-footer--text-2 { font-size:12px; }

/* ie */
html.bn-ie .g-footer--text-1 { font-weight:bold; }

/* SP --------------------------------*/
@media (max-width:767px) {
#g-footer { min-width:320px; height:auto; padding:15px 0 18px 0; line-height:1.5; }
.g-footer--text-2 { font-size:11px; }
}

/*********************************************************************

#main-container

*********************************************************************/

#main-container { width:1000px; margin:0 auto 60px auto; }

/* SP --------------------------------*/
@media (max-width:767px) {
#main-container { width:100%; min-width:320px; max-width:640px; margin-bottom:45px; }
}

/*********************************************************************

#content-main

*********************************************************************/

#content-main { margin-bottom:35px; }
.content-main--col-1 { margin-bottom:12px; }

/* SP --------------------------------*/
@media (max-width:767px) {
.content-main--col-1 { margin-bottom:10px; }	
}

/*********************************************************************

#content-nav

*********************************************************************/

#content-nav { margin-bottom:40px; }
.content-nav--items { font-size:13px; color:#666; }
.content-nav--items .item { padding:3px 0; }
.content-nav--items .item:before { content:'｜'; }
.content-nav--items .item:first-child:before { display:none; }
.content-nav--items .item.current { color:#c7a956; }
.content-nav--items .item.current a { cursor:default; }
.content-nav--items .item > * { padding:0 0.4em; }

/* hover */
.content-nav--items .item a:hover { text-decoration:underline; }
.content-nav--items .item.current a:hover { text-decoration:none; }

/* SP --------------------------------*/
@media (max-width:767px) {
#content-nav { margin-bottom:15px; }
.content-nav--select .select-body { padding-left:20px; }
}

/*********************************************************************

#content-list

*********************************************************************/

#content-list { margin-bottom:100px; }

/* SP --------------------------------*/
@media (max-width:767px) {
#content-list { margin-bottom:50px; }
}

/*********************************************************************

#content-notice

*********************************************************************/

#content-notice { background:#fff; border-radius:3px; padding:25px 25px 30px 25px; box-shadow:0 0 6px 0 rgba(0,0,0,0.2); }
.content-notice--body { font-size:13px; color:#666; }
.content-notice--body .indent-1 { margin-left:1em; text-indent:-1em; }
.content-notice--body .pl-1 { padding-left:1em; }

/* SP --------------------------------*/
@media (max-width:767px) {
#content-notice { padding:20px 20px 25px 20px; }
}

/*********************************************************************

.cmn-hl-1

*********************************************************************/

.cmn-hl-1 { font-size:16px; line-height:1.35; font-weight:500; background-color:#f4f4f4; color:#947f28; padding:11px 15px; margin-bottom:20px; }

/* ie */
html.bn-ie .cmn-hl-1 { font-weight:bold; }

/*********************************************************************

.cmn-hl-2

*********************************************************************/

.cmn-hl-2 { font-size:18px; line-height:1.35; font-weight:500; color:#947f28; position:relative; padding-left:20px; margin-bottom:20px; }
.cmn-hl-2:before { content:''; width:5px; height:20px; position:absolute; top:2px; left:0; background:#947f28; }

/* ie */
html.bn-ie .cmn-hl-2 { font-weight:bold; }

/* SP --------------------------------*/
@media (max-width:767px) {
.cmn-hl-2 { margin-bottom:15px; }	
}

/*********************************************************************

.cmn-icon-1

*********************************************************************/

.cmn-icon-1 { font-size:14px; display:inline-block; vertical-align:middle; text-decoration:underline; position:relative; padding-left:24px; color:#666; }
.cmn-icon-1:before { content:''; width:18px; height:16px; position:absolute; top:50%; left:0; margin-top:-8px; background:URL(../img/icon-detail.png) no-repeat center center; background-size:100% 100%; }
.cmn-icon-1.size-s { font-size:12px; }

/* tel */
.cmn-icon-1.tel { text-decoration:none; font-weight:500; color:#444; }
.cmn-icon-1.tel:before { width:14px; height:12px; margin-top:-6px; background-image:URL(../img/icon-tel-1.png); }

/* hover */
.cmn-icon-1:hover { text-decoration:none; }

/* ie */
html.bn-ie .cmn-icon-1.tel { font-weight:bold; }

/* SP --------------------------------*/
@media (max-width:767px) {
/* hover */
.cmn-icon-1:hover { text-decoration:underline; }	
}

/*********************************************************************

.cmn-btn-1

*********************************************************************/

.cmn-btn-1 { width:100%; display:inline-block; vertical-align:middle; color:#fff; font-size:12px; line-height:1.35; text-align:center; background:#c7a956; border-radius:3px; padding:7px 0; }

/*********************************************************************

.cmn-list-1

*********************************************************************/

.cmn-list-1 { overflow:hidden; }
.cmn-list-1--items {  margin-left:-10px; margin-right:-10px; margin-bottom:-58px; }
.cmn-list-1--item { padding-left:10px; padding-right:10px; padding-bottom:58px; }
.cmn-list-1--item .item-head { font-size:14px; line-height:1.35; font-weight:500; position:relative; padding-left:10px; margin-bottom:7px; }
.cmn-list-1--item .item-head:before { content:''; width:3px; height:16px; position:absolute; top:1.5px; left:0; background:#666; }
.cmn-list-1--item .item-body { font-size:12px; line-height:1.35; }
.cmn-list-1--item .item-body--col-2 { padding-left:20px; }
.cmn-list-1--item .item-body--thumb { width:108px; }
.cmn-list-1--item .item-body--address { margin-bottom:10px; }
.cmn-list-1--item .item-body--address .zip { padding-right:0.5em; }
.cmn-list-1--item .item-body--tel { margin-bottom:8px; }
.cmn-list-1--item .item-body--front { margin-bottom:10px; }
.cmn-list-1--item .item-body--front .check { padding-right:10px; }
.cmn-list-1--item .item-body--front .check:last-child { padding-right:0 !important; }
.cmn-list-1--item .item-body--front .check:before { min-width:22px; display:inline-block; vertical-align:baseline; font-size:11px; line-height:12px; border:#707070 1px solid; padding:0 2px; text-align:center; margin-right:4px; }
.cmn-list-1--item .item-body--front .check.in:before { content:'IN'; }
.cmn-list-1--item .item-body--front .check.out:before { content:'OUT'; }
.cmn-list-1--item .item-body--links .cmn-btn-1 { width:96px; }

/* ie */
html.bn-ie .cmn-list-1--item .item-head { font-weight:bold; }

/* SP --------------------------------*/
@media (max-width:767px) {
.cmn-list-1--items {  margin-left:0; margin-right:0; margin-bottom:-55px; }
.cmn-list-1--item { padding-left:0; padding-right:0; padding-bottom:55px; }
.cmn-list-1--item .item-body--col-1 {
-ms-flex: 0 0 30%;
flex: 0 0 30%;
max-width: 30%;	
}
.cmn-list-1--item .item-body--thumb { width:100%; }
.cmn-list-1--item .item-body--links .link-detail { padding-right:14px; }
.cmn-list-1--item .item-body--links .link-select {
-ms-flex: 0 1 96px;
flex: 0 1 96px;
max-width: 96px;
}
.cmn-list-1--item .item-body--links .cmn-btn-1 { width:100%; }	
}