@charset "utf-8";

@import url("/common/css/pc/pc_common.css");
@import url("/common/css/pc/jquery-ui.css");


.search_box {
	position: relative;
	margin: 0 0 9px 0 !important;
}

/* --------------------------------------------------------------------------------------
 other_area
--------------------------------------------------------------------------------------- */

/* other_area ------------------------------ */

.other .other_area {
	display: inline;
	float: left;
	width: 789px;
	padding: 5px;
	border: 1px #cdcac6 solid;
	background: #fff;
	-moz-box-shadow:
		0px 0 4px rgba(000,000,000,0.2);
	-webkit-box-shadow:
		0px 0 4px rgba(000,000,000,0.2);
	box-shadow:
		0px 0 4px rgba(000,000,000,0.2);
}

.other .other_area .inner{
	padding: 28px 30px 35px 30px;
}

/* ttl_box ------------------------------ */

.other .other_area .ttl_box {
	margin: 24px 0 24px 0;
	padding: 8px 7px 8px 7px;
	background-color: #eee;
	font-size: 14px;
	color: #996633;
}

.other .other_area .ttl_box h2{
	padding: 0 0 0 9px;
	border-left: 4px solid #aa885e;
	line-height: 1.6;
}

.other .other_area .pull_box {
	margin: 0 0 39px;
}

.other .other_area .pull_box dl {
	float: left;
	width: 341px;
}
.other .other_area .pull_box dl:nth-child(2n) {
	float: right;
}

.other .other_area .pull_box dl dt {
	float: left;
	margin: 0 1em 0 0;
	line-height: 22px;
}

.other .other_area .pull_box select {
	width: 200px;
	font-size: 12px;
}


/* --------------------------------------------------------------------------------------
 メインイメージ
--------------------------------------------------------------------------------------- */

/* main_img ------------------------------ */

.other .main_img {
	width: 701px;
	margin: 0 0 10px 0;
}

.other .main_img img {
	width: 100%;
	height: auto !important;
}

.other .lead_box {
	margin: 3%;
}

.other .lead_box p {
	margin: 0 0 0.5em;
}

.other .lead_box .lead {
	font-size: 133.3%;
	color: #0081cc;
}

.other .lead_box .red_txt {
	font-size: 116.7%;
}

.other .lead_box .red_txt span {
	padding: 0 0.5em;
	background: #d61518;
	color: #fff;
}

/* --------------------------------------------------------------------------------------
 マップ
--------------------------------------------------------------------------------------- */

/* map_box ------------------------------ */

.other .map_skytree {
	margin: 0 0 20px 0;
}


/* --------------------------------------------------------------------------------------
 ホテルリスト
--------------------------------------------------------------------------------------- */

/* hotel_list ------------------------------ */

.other .skytree_hotel_list .list_box {
	float: left;
	width: 341px;
	margin: 0 0 15px 0;
	clear: both;
}
.other .skytree_hotel_list .list_box:nth-child(2n) {
	float: right;
	clear: none;
}

.other .skytree_hotel_list .inner{
	padding: 10px;
	border: 1px #97c6d7 solid;
}

.other .skytree_hotel_list .left_img{
	float: left;
	width: 108px;
}

.other .skytree_hotel_list .left_img img{
	width: 100%;
	height: auto !important;
}

.other .skytree_hotel_list .left_img span {
	display:block;
	margin: 0 0 12px;
}

.other .skytree_hotel_list .txt_img{
	margin: 5px 0 0 0;
}

.other .skytree_hotel_list .right_txt{
	float: right;
	width: 200px;
	min-height: 14.5em;
}

.other .skytree_hotel_list .right_txt .link{
	font-weight: bold;
}

.other .skytree_hotel_list .right_txt .link a{
	color: #0d7797;
	text-decoration: underline;
}

.other .skytree_hotel_list .right_txt .link a:hover{
	color: #0d7797;
	text-decoration: none;
}

.other .over a:hover img{
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	background: #fff;
}


.other .skytree_hotel_list .right_txt p{
	margin: 0 0 0.5em 0;
}

.other .skytree_hotel_list ul{
	margin: 0 18px 0 18px;
	padding: 0 0 10px 0;
}

.other .skytree_hotel_list ul li{
	float: left;
}

.other .skytree_hotel_list ul li.right{
	float: right;
}

.other .skytree_hotel_list .btn_detail{
	clear: both;
	text-align: center;
}

.other .skytree_hotel_list .btn_detail a {
	display: block;
	padding:5px 0 4px 0;
	background: #0d7797;
	font-size: 14px;
	text-align: center;
	color: #fff;
}

.other .skytree_hotel_list .btn_detail a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
}
