@charset "utf-8";

@import url("/common/css/sp/sp_common.css");
@import url("/common/css/sp/jquery-ui.css");


/* --------------------------------------------------------------------------------------
 other_area
--------------------------------------------------------------------------------------- */

/* other_area ------------------------------ */

.other .other_area {
	margin: 3% 3% 0 3%;
	border: 1px #cdcac6 solid;
	background: #fff;
	-moz-box-shadow:
		0px 0 4px rgba(000,000,000,0.2);
	-webkit-box-shadow:
		0px 0 4px rgba(000,000,000,0.2);
	box-shadow:
		0px 0 4px rgba(000,000,000,0.2);
}

.other .other_area .inner{
	padding: 0 0 10px 0;
}

/* ttl_box ------------------------------ */

.other .other_area .ttl_box {
	margin: 12px 3% 12px 3%;
	padding: 8px 7px 8px 7px;
	background-color: #eee;
	font-size: 14px;
	color: #996633;
}

.other .other_area .ttl_box h2{
	padding: 0 0 0 9px;
	border-left: 4px solid #aa885e;
}

.other .other_area .pull_box {
	margin: 0 3% 0 3%;
}

.other .other_area .pull_box dl {
	margin: 0 0 12px;
}

.other .other_area .pull_box dl dt {
	margin: 0 0 4px;
}

.other .other_area .pull_box select {
	width: 100%;
	font-size: 12px;
}

/* --------------------------------------------------------------------------------------
 メインイメージ
--------------------------------------------------------------------------------------- */

/* main_img ------------------------------ */

.other .main_img {
	margin: 0 0 10px 0;
}

.other .main_img img{
	width: 100%;
	height: auto !important;
}

.other .lead_box {
	margin: 3%;
}

.other .lead_box p {
	margin: 0 0 0.5em;
}

.other .lead_box .lead {
	font-size: 133.3%;
	color: #0081cc;
}

.other .lead_box .red_txt {
	font-size: 116.7%;
}

.other .lead_box .red_txt span {
	display: block;
	padding: 0 0.5em;
	background: #d61518;
	color: #fff;
}


/* --------------------------------------------------------------------------------------
 イメージ
--------------------------------------------------------------------------------------- */

/* img ------------------------------ */

.other .img01 img{
	width: 100%;
	height: auto !important;
}


/* --------------------------------------------------------------------------------------
 マップ
--------------------------------------------------------------------------------------- */

/* map_box ------------------------------ */

.other .map_skytree {
	margin: 0 0 20px 0;
}

.other .map_skytree #area_map {
	width: 100% !important;
	height: 250px !important;
}

/* --------------------------------------------------------------------------------------
 ホテルリスト
--------------------------------------------------------------------------------------- */

/* hotel_list ------------------------------ */

.other .skytree_hotel_list {
	margin: 0 3% 0 3%;
}

.other .skytree_hotel_list .list_box {
	margin: 0 0 2% 0;
}

.other .skytree_hotel_list .inner{
	padding: 10px;
	border: 1px #97c6d7 solid;
}

.other .skytree_hotel_list .left_img{
	float: left;
	width: 30%;
}

.other .skytree_hotel_list .left_img img{
	width: 100%;
	height: auto !important;
}

.other .skytree_hotel_list .left_img span {
	display:block;
	margin: 0 0 6px;
}

.other .skytree_hotel_list .txt_img{
	margin: 5px 0 0 0;
}

.other .skytree_hotel_list .right_txt{
	float: right;
	width: 68%;
}

.other .skytree_hotel_list .right_txt .link{
	font-weight: bold;
}

.other .skytree_hotel_list .right_txt .link a{
	color: #0d7797;
	text-decoration: underline;
}

.other .skytree_hotel_list .right_txt .link a:hover{
	color: #0d7797;
	text-decoration: none;
}

.other .over a:hover img{
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	background: #fff;
}


.other .skytree_hotel_list .right_txt p{
	margin: 0 0 5px 0;
}

.other .skytree_hotel_list ul{
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
	text-align: center;
}

.other .skytree_hotel_list ul li{
	margin: 0 0 2% 0;
}

.other .skytree_hotel_list ul li.right{
	margin: 0 0 0 0;
}

.other .skytree_hotel_list .btn_detail{
	clear: both;
	text-align: center;
}

.other .skytree_hotel_list .btn_detail a {
	display: block;
	padding:5px 0 4px 0;
	background: #0d7797;
	font-size: 14px;
	text-align: center;
	color: #fff;
}

.other .skytree_hotel_list .btn_detail a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
}

.other .anc {
	margin-top: -66px !important;
	padding-top: 66px !important;
}
