
/* ------ Header ------ */
.pcHide {
	display:none !important;
}

header .inner {
	width:1180px;
	margin:0 auto;
}

header h1 {
	float:left;
	margin:0 0 1px;
}

header .right_box {
	float:right;
	width:350px;
	padding:20px 0;
	text-align:right;
}

header .right_box p {
	display:inline-block;
	vertical-align:middle;
	margin:0 0 0 20px;
}

header .right_box .menu {
	display:none;
}

header .nav {
	min-width:1180px;
	background:#682682;
}

header .nav ul {
	width:880px;
	margin:0 auto;
	letter-spacing:-0.4em;
	text-align:left;
}

header .nav ul li {
	display:inline-block;
	width:350px;
	padding:7px 0 7px 18px;
	letter-spacing:0;
	vertical-align:middle;
	box-sizing:border-box;
}

header .nav ul li:nth-child(2) {
	width:300px;
}
header .nav ul li:nth-child(3) {
	width:230px;
}

header .nav ul li a {
	padding:0 0 0 23px;
	color:#fff;
	font-size:167%;
	background:url(../img/ico_arw_01.png) no-repeat left center;
}

/* ------ Contents ------ */

#mainvisual {
	max-width:1366px;
	min-width:1180px;
	margin:0 auto;
}


.info {
	position:relative;
	width:1180px;
	margin:-76px auto 0;
	padding:0 0 75px;
	background:#fff;
	z-index:9999;
}

.info .news {
	float:left;
	width:770px;
	height:440px;
	padding:0 3px 0 20px;
	box-sizing:border-box;
	overflow-y:scroll;
}

.info .news h2 {
	margin:15px 0 14px;
	color:#752681;
	font-size:184%;
	font-weight:bold;
	letter-spacing:5px;
}

.info .news ul li {
	margin:0 0 10px;
	padding:0 0 5px;
	border-bottom:1px solid #dddddd;
}

.info .news ul li h3 {
	display:inline-block;
	margin:0 0 2px;
	padding:0 10px;
	color:#fff;
	font-size:150%;
	line-height:1.39;
	background:#682682;
}

.info .news ul li p {
	font-size:150%;
	letter-spacing:-0.4px;
}

.info .movie {
	float:right;
	width:362px;
	padding:61px 0 0;
	box-sizing:border-box;
}

.info .movie .youtube {
	margin:0 0 20px;
}

.info .movie .youtube iframe {
	width:362px;
	height:205px;
}


.city {
	position:relative;
	min-width:1180px;
	background:#efefef;
	z-index:10000;
}

.city .inner {
	width:1180px;
	margin:0 auto;
	padding:45px 0 80px;
	text-align:center;
}

.city .inner h2 {
	position:absolute;
	top:-16px;
	left:0;
	right:0;
	margin:0 auto;
}

.city .inner .lead {
	margin:0 0 32px;
	font-size:167%;
	line-height:1.75;
}

.city .list01 {
	width:900px;
	margin:0 auto;
	letter-spacing:-0.4em;
}

.city .list01 li {
	position:relative;
	display:inline-block;
	width:280px;
	margin:0 10px 20px;
	letter-spacing:0;
	vertical-align:top;
	background:#fff;
}

.city .list01 li a {
	display:block;
}

.city .list01 li h3 {
	min-height:73px;
	padding:5px 15px 0;
	font-size:167%;
	line-height:1.7;
	text-align:left;
	box-sizing:border-box;
}

.city .list01 li .date {
	min-height:inherit;
	padding:5px 0;
	background:#efefef;
}

.city .list01 li p {
	min-height:61px;
	padding:0 15px 5px;
	font-size:134%;
	line-height:1.5;
	text-align:left;
}

.city .list01 li .img {
	min-height:inherit;
	padding:0;
}

.city .list01 li .ov {
	display:none;
	position:absolute;
	top:34px;
	left:0;
	min-height:inherit;
	padding:0;
}

.city .list02 {
	width:900px;
	margin:0 auto;
	letter-spacing:-0.4em;
}

.city .list02 li {
	position:relative;
	display:inline-block;
	width:280px;
	margin:0 10px 20px;
	letter-spacing:0;
	vertical-align:top;
	background:#fff;
}

.city .list02 li a {
	display:block;
}

.city .list02 li p {
	min-height:194px;
	padding:5px 15px;
	font-size:167%;
	line-height:1.75;
	text-align:left;
	box-sizing:border-box;
}

.city .list02 li .img {
	min-height:inherit;
	padding:0;
}

.city .list02 li .ov {
	display:none;
	position:absolute;
	top:0;
	left:0;
	min-height:inherit;
	padding:0;
}

.city .list02 li p span {
	font-size:80%;
}

.city .bnr {
	padding:20px 0 0;
}

.map {
	position:relative;
	min-width:1180px;
	padding:43px 0 80px;
	text-align:center;
	z-index:10001;
}

.map h2 {
	position:absolute;
	top:-16px;
	left:0;
	right:0;
	margin:0 auto;
}

.map #area_map {
	width:100%;
	height:580px;
}

.map .bnr {
	padding:40px 0 0;
}

.all {
	position:relative;
	min-width:1180px;
	padding:40px 0 0;
	z-index:10002;
}

.all h2 {
	position:absolute;
	top:-16px;
	left:0;
	right:0;
	margin:0 auto;
	text-align:center;
}

.all .anc {
	min-width:880px;
	letter-spacing:-0.4em;
}

.all .anc li {
	display:inline-block;
	width:50%;
	padding:22px 0;
	letter-spacing:0;
	border-bottom:3px solid #ddd;
}

.all .anc li.act {
	border-bottom:3px solid #682682;
}

.all .anc li a {
	padding:0 0 0 25px;
	color:#ddd;
	font-size:167%;
	background:url(../img/ico_arw_02.png) no-repeat left center;
}

.all .anc li.act a {
	color:#682682;
	background:url(../img/ico_arw_03.png) no-repeat left center !important;
}

#anc05.all .anc li a {
	background:url(../img/ico_arw_04.png) no-repeat left center;
}

.all .anc li span {
	display:block;
	width:440px;
	margin:0 auto 0 0;
	padding:0 50px 0 0;
	text-align:right;
	box-sizing:border-box;
}

.all .anc li:first-child span {
	margin:0 0 0 auto;
	padding:0 0 0 57px;
	text-align:left;
}

.all .hotel_list {
	width:900px;
	margin:0 auto;
	padding:0 0 80px;
	letter-spacing:-0.4em
}

.all .hotel_list li {
	display:inline-block;
	width:420px;
	margin:40px 10px 0;
	letter-spacing:0;
	vertical-align:top;
}

.all .hotel_list li a {
	display:block;
}

.all .hotel_list li h3 {
	margin:0 0 5px;
	padding:0 0 5px;
	color:#682682;
	font-size:167%;
	letter-spacing:2px;
	border-bottom:1px solid #682682;
}

.all .hotel_list li p {
	font-size:134%;
	letter-spacing:2px;
}

.all .hotel_list li .area {
	display:inline-block;
	margin:0 0 10px;
	padding:0 10px;
	color:#fff;
	letter-spacing:0;
	background:#682682;
}


/* ------ Footer ------ */

footer {
	min-width:1180px;
	padding:30px 0;
	border-top:3px solid #682682;
}

footer .inner {
	width:1180px;
	margin:0 auto;
}

footer .inner .logo {
	float:left;
}

footer .inner .copy {
	float:right;
	font-size:117%;
	text-align:right;
}














@media screen and (max-width: 770px) {

.pcHide {
	display:block !important;
}

.spHide {
	display:none !important;
}

/* ------ Header ------ */

header .inner {
	width:auto;
	margin:0 auto;
}

header h1 {
	float:left;
	width:90px;
	margin:10px 3% ;
}

header .right_box {
	float:right;
	width:65%;
	padding:0;
	text-align:right;
}

header .right_box p {
	display:inline-block;
	width:22px;
	vertical-align:middle;
	margin:0 0 0 5%;
}

header .right_box p:first-child {
	display:none;
}

header .right_box .menu {
	display:inline-block;
	width:52px;
	text-align:center;
}

header .right_box .menu a {
	padding:13px 0;
	font-size:15px;
	font-weight:bold;
}

header .right_box .menu .close {
	color:#fff;
	background:#682682;
}

header .right_box .menu .default ,
header .right_box .menu.active .close {
	display:block;
}

header .right_box .menu.active .default ,
header .right_box .menu .close {
	display:none;
}
header .right_box .menu img {
	height:12px;
}
header .right_box .menu span {
	display:block;
	margin:3px 0 0;
	font-size:9px;
	font-weight:normal;
}
header .nav {
	position:relative;
	min-width:inherit;
	background:#682682;
}

header .nav ul {
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	margin:0 auto;
	letter-spacing:0;
	text-align:left;
	background:#682682;
	z-index:10005;
}

header .nav ul li {
	display:block;
	width:100%;
	margin:0 auto;
	padding:0;
	letter-spacing:0;
	vertical-align:middle;
	border-bottom:1px solid #fff;
	box-sizing:border-box;
}

header .nav ul li:nth-child(2) {
	width:100%;
}
header .nav ul li:nth-child(3) {
	width:100%;
	border:none;
}

header .nav ul li a {
	display:block;
	width:100%;
	margin:0 auto;
	padding:10px 0 10px 18%;
	color:#fff;
	font-size:117%;
	background:url(../img/ico_arw_01.png) no-repeat 10% center;
}

/* ------ Contents ------ */

#mainvisual {
	max-width:inherit;
	min-width:inherit;
	margin:0 auto;
}


.info {
	position:relative;
	width:93.75%;
	margin:-5% auto 0;
	padding:0 0 75px;
	background:#fff;
	z-index:9999;
}

.info .news {
	float:none;
	width:100%;
	height:220px;
	padding:0 3%;
	box-sizing:border-box;
	overflow-y:scroll;
}

.info .news h2 {
	margin:3% 0;
	color:#752681;
	font-size:134%;
	font-weight:bold;
	letter-spacing:3px;
}

.info .news ul li {
	margin:0 0 3%;
	padding:0 0 2%;
	border-bottom:1px solid #dddddd;
}

.info .news ul li h3 {
	display:inline-block;
	margin:0 0 1%;
	padding:0 5px;
	color:#fff;
	font-size:100%;
	line-height:1.39;
	background:#682682;
}

.info .news ul li p {
	font-size:100%;
	letter-spacing:-0.4px;
}

.info .movie {
	float:none;
	width:100%;
	padding:10% 0 0;
	box-sizing:border-box;
}

.info .movie .youtube {
	position:relative;
	margin:0 0 5%;
	padding:56.6% 0 0;
}

.info .movie .youtube iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


.city {
	position:relative;
	min-width:inherit;
	background:#efefef;
	z-index:10000;
}

.city .inner {
	width:93.75%;
	margin:0 auto;
	padding:8% 0;
	text-align:center;
}

.city .inner h2 {
	position:absolute;
	top:-9px;
	left:0;
	right:0;
	width:300px;
	margin:0 auto;
}

.city .inner .lead {
	margin:0 0 5%;
	font-size:117%;
	line-height:1.75;
	text-align:left;
}

.city .inner .lead br {
	display:none;
}

.city .list01 {
	width:auto;
	margin:0 auto;
	letter-spacing:0;
}

.city .list01 li {
	display:block;
	width:100%;
	margin:0 0 5%;
}

.city .list01 li a {
	display:block;
}

.city .list01 li h3 {
	min-height:inherit;
	padding:5px 10px 0;
	font-size:117%;
	line-height:1.75;
	text-align:left;
	box-sizing:border-box;
}

.city .list01 li p {
	min-height:inherit;
	padding:0 10px 5px;
	font-size:100%;
	line-height:1.5;
	text-align:left;
}

.city .list01 li .img {
	min-height:inherit;
	padding:0;
}

.city .list01 li .img img {
	width:100%;
}

.city .list01 li .ov {
	display:none !important;
}

.city .list02 {
	width:auto;
	margin:0 auto;
	letter-spacing:0;
}

.city .list02 li {
	display:block;
	width:100%;
	margin:0 0 5%;
}

.city .list02 li a {
	display:block;
}

.city .list02 li p {
	min-height:inherit;
	padding:5px 10px;
	font-size:117%;
	line-height:1.75;
	text-align:left;
	box-sizing:border-box;
}

.city .list02 li .img {
	min-height:inherit;
	padding:0;
}

.city .list02 li .img img {
	width:100%;
}

.city .list02 li .ov {
	display:none !important;
}

.city .list02 li p span {
	font-size:80%;
}

.city .bnr {
	padding:0;
}

.map {
	position:relative;
	min-width:inherit;
	width:93.75%;
	margin:0 auto;
	padding:8% 0 12%;
	text-align:center;
	z-index:10001;
}

.map h2 {
	position:absolute;
	top:-9px;
	left:0;
	right:0;
	width:300px;
	margin:0 auto;
}

.map #area_map {
	width:100%;
	height:300px;
}

.map .bnr {
	padding:5% 0 0;
}

.all {
	min-width:inherit;
	padding:8% 0 0;
}
.all h2 {
	position:absolute;
	top:-9px;
	left:0;
	right:0;
	width:300px;
	margin:0 auto;
}

.all .anc {
	min-width:inherit;
	letter-spacing:-0.4em;
}

.all .anc li {
	display:inline-block;
	width:50%;
	padding:5px 0;
	letter-spacing:0;
	border-bottom:2px solid #ddd;
}

.all .anc li.act {
	border-bottom:2px solid #682682;
}

.all .anc li a {
	padding:0 0 0 12px;
	color:#ddd;
	font-size:125%;
	background:url(../img/ico_arw_02.png) no-repeat left center;
	background-size:8px auto;
}

.all .anc li.act a {
	color:#682682;
	background:url(../img/ico_arw_03.png) no-repeat left center !important;
	background-size:8px auto !important;
}

#anc05.all .anc li a {
	background:url(../img/ico_arw_04.png) no-repeat left center;
	background-size:8px auto;
}

.all .anc li span {
	display:block;
	width:100%;
	margin:0 0 0 auto;
	padding:0 15% 0 0;
	text-align:right;
	box-sizing:border-box;
}

.all .anc li:first-child span {
	margin:0 auto 0 0;
	padding:0 0 0 15%;
	text-align:left;
}

.all .hotel_list {
	width:93.75%;
	margin:0 auto;
	padding:0 0 8%;
	letter-spacing:0
}

.all .hotel_list li {
	display:block;
	width:100%;
	margin:8% 0 0;
}

.all .hotel_list li a {
	display:block;
}

.all .hotel_list li h3 {
	margin:0 0 5px;
	padding:0 0 5px;
	color:#682682;
	font-size:125%;
	letter-spacing:2px;
	border-bottom:1px solid #682682;
}

.all .hotel_list li p {
	font-size:117%;
	letter-spacing:2px;
}

.all .hotel_list li .area {
	display:inline-block;
	margin:0 0 5px;
	padding:0 5px;
	color:#fff;
	letter-spacing:0;
	background:#682682;
}


/* ------ Footer ------ */

footer {
	min-width:inherit;
	padding:5% 0;
	text-align:center;
	border-top:2px solid #682682;
}

footer .inner {
	width:93.75%;
	margin:0 auto;
}

footer .inner .logo {
	float:none;
	margin:0 0 5%;
}

footer .inner .copy {
	float:none;
	font-size:100%;
	text-align:center;
}



}


