a { outline: none; }

img{
	border:0;
	padding:0;
	margin:0;
}
*{ padding:0; margin:0;}
table{
	font-size:1em; 
	border-collapse: collapse;
}
/* clearfix */
.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   height: 0;
   overflow:hidden;
font-size:0.1em;
line-height:0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1% }
.clearfix {display:block;}
.mt5{	margin-top:5px;}
.mb5{	margin-bottom:5px;}
.mtb5{	margin-top:5px;margin-bottom:5px;}
.mt10{	margin-top:10px;}
.mb10{	margin-bottom:10px;}
.mtb10{	margin-top:10px;margin-bottom:10px;}
.mt15{	margin-top:15px;}
.mb15{	margin-bottom:15px;}
.mtb15{	margin-top:15px;margin-bottom:15px;}
.mt20{	margin-top:20px;}
.mb20{	margin-bottom:20px;}
.mtb20{	margin-top:20px;margin-bottom:20px;}
.mt25{	margin-top:25px;}
.mb25{	margin-bottom:25px;}
.mtb25{	margin-top:25px;margin-bottom:25px;}
.mt40{	margin-top:40px;}
.mb40{	margin-bottom:40px;}
.pr10{ padding-right:10px;}
.pl10{ padding-left:10px;}
.prl10{ padding-right:10px;padding-left:10px;}
.righttext{ text-align:right;}
.centertext{ text-align:center;}
.textmini{ font-size:0.8em; }

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}

