@charset "UTF-8";
BODY {
  background: #fff;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-indent: 0pt;
  color: #002658;
  margin: 0;
  font-size: 85%;
  padding: 0;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",sans-serif;
}
.font-min{font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",serif;}
.font-eb{font-family: 'EB Garamond', serif;}

#header a:link { color: #959595; text-decoration: none; }
#header a:visited { color: #959595; text-decoration: none; }
#header a:hover { color: #959595; text-decoration: underline; }
#header a:active { color: #959595; text-decoration: none; }
.btnbox a:link { color: #fff; text-decoration: none; }
.btnbox a:visited { color: #fff; text-decoration: none; }
.btnbox a:hover { color: #fff; text-decoration: none; }
.btnbox a:active { color: #fff; text-decoration: none; }
.content_a_floatbox a:link { color: #fff; text-decoration: none; }
.content_a_floatbox a:visited { color: #fff; text-decoration: none; }
.content_a_floatbox a:hover { color: #fff; text-decoration: none; }
.content_a_floatbox a:active { color: #fff; text-decoration: none; }


.basebox{width:100%;margin:0 auto; text-align: center;}
.content_main {width:100%;height:856px;position:relative;background:url(../images/mainimg.jpg) 0 0 no-repeat;background-size:cover;}
.content_main_text{position:absolute;top:197px;bottom:0;left:0;right:0;margin:0 auto;width:800px;height:94px;}
.content_main_text2{position:absolute;top:197px;bottom:0;left:0;right:0;margin:0 auto;width:800px;height:94px;}
.content_main_text3{position:absolute;top:197px;bottom:0;left:0;right:0;margin:0 auto;width:100%;height:94px;}
.content_sub_text{position:absolute;top:291px;bottom:0;left:0;right:0;margin:0 auto;width:800px;height:94px;}
.content_main .audiobtn{position:absolute;top:10px;right:10px;cursor: pointer;}
.content_main .audiobtn img{width:30px;}
.footer a:hover{opacity: 0.8;}
.btnbox a:hover{opacity: 0.8;}
#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}
.modal_close {
  position: absolute;
  top: 12px;
  right: 12px;
  display: block;
  width: 43px;
  height: 45px;
  background: url('../images/sample/close.jpg');
  z-index: 2;
}
.popup {
  background: none repeat scroll 0 0 #FFFFFF;
/*  border-radius: 5px 5px 5px 5px; */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  display: none;
}
header {position:relative;height:128px;width:100%;max-width:1230px;margin:0 auto;font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif;}
header .logo {position:absolute;top:10px;left:0;width:128px;}
header .logo img{width:105px;}
header .gmenu{width:850px;position:absolute;top:60px;left:0;right:0;margin: auto;text-align:center;}
header .gmenu li{display:inline-block;margin:0 22px;}
header .submenu{width:260px;position:absolute;top:60px;right:0;right:0;}
header .submenu li{display:inline-block;margin:0 5px;font-size:0.9em;}
header .submenu li:first-child a{border-right:1px #ccc solid;padding-right:10px;}
.footer {width:100%;max-width:1223px;margin:0 auto ;padding:30px 0;}
.footer .logo{width:403px;float:left;}
.footer .footerlink{width:650px;float:right;text-align:right;margin-top:25px;}
.footer .footerlink li{display:inline-block;}
.copyright{font-size:0.9em;margin-top:0px;text-align:left;}

.content_title{font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif;font-size:3.5em;padding:95px 0 40px 0;}
.content_title span{border-bottom:1px #000 solid;padding:0 40px 30px 40px;}
.content_text{font-size:1.7em;margin-bottom:100px;line-height:1.8;}

.content_a_floatbox{display:table;table-layout: fixed;text-align: center;width: 977px;margin:0 auto;padding-bottom:140px;color:#fff;}
.content_a_floatbox .content_a_floatbox_inner{display:table-cell;}
.content_a_floatbox_inner_inner{background:url(../images/content_a_bg.png) 0 0 no-repeat;width:280px;height:280px;position:relative;}
.content_a_floatbox div .name_a{position:absolute;top:50px;left:0;right:0;margin:0 auto;text-align:center;width:5em;font-size:2em;font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif;}
.content_a_floatbox div .text_a{position:absolute;top:90px;left:0;right:0;margin:0 auto;text-align:center;280px;font-size:1.4em;}
.content_a_floatbox .content_a_floatbox_inner_b .text_a{top:90px;}
.content_b{background:url(../images/bgimg01.jpg) 0 0 no-repeat;background-size:cover;width:100%;height:770px;color:#fff;}
.content_c{background:url(../images/bgimg02.jpg) 0 0 no-repeat;background-size:cover;width:100%;height:770px;color:#fff;}
.content_d{background:url(../images/bgimg03.jpg) 0 0 no-repeat;background-size:cover;width:100%;height:770px;color:#fff;}
.content_f{background:url(../images/bgimg05.jpg) 0 0 no-repeat;background-size:cover;width:100%;height:770px;color:#fff;}
.content_g{background:url(../images/bgimg06.jpg) 0 0 no-repeat;background-size:cover;width:100%;height:770px;color:#fff;}
.content_b .content_title {padding-top:220px;}
.content_c .content_title {padding-top:240px;}
.content_d .content_title {padding-top:230px;}
.content_g .content_title_read{padding-top:190px;margin-bottom:0;font-size:1.8em;line-height:1.8;}
.content_g .content_title {padding-top:20px;}
.content_b .content_title span , .content_c .content_title span , .content_d .content_title span , .content_f .content_title span, .content_g .content_title span{border-bottom:1px #fff solid;}
.content_e .content_e_inner{width: 100%;display:table;table-layout: fixed;text-align: center;margin:0 auto;}
.content_e .content_e_inner div{display:table-cell;width:25%;margin:0;padding:0;}
.content_e .content_e_inner_a{background:url(../images/bgimg04_01.jpg) center 0 no-repeat;background-size:cover;width:100%;height:399px;}
.content_e .content_e_inner_b{background:url(../images/bgimg04_02.jpg) center 0 no-repeat;background-size:cover;width:100%;height:399px;}
.content_e .content_e_inner_c{background:url(../images/bgimg04_03.jpg) center 0 no-repeat;background-size:cover;width:100%;height:399px;}
.content_e .content_e_inner_d{background:url(../images/bgimg04_04.jpg) center 0 no-repeat;background-size:cover;width:100%;height:399px;}
.content_e_inner div img{padding-top:100px;}
.content_e_inner .content_e_inner_a dl{width:315px;margin:5px auto;color:#fff;display:table;}
.content_e_inner .content_e_inner_b dl{width:225px;margin:5px auto;color:#fff;display:table;}
.content_e_inner dt{width:3em;display:table-cell;font-size:1.8em;padding-right:5px;vertical-align: top;}
.content_e_inner dd{display:table-cell;text-align:left;border-left:1px #fff solid;margin:0;padding:5px 0 0 10px;vertical-align: top;font-size:1.2em;}
.content_e_inner p.caption{font-size:0.8em;margin-top:0;}
.content_e_inner p{font-size:1.8em;color:#fff;margin-top:10px;text-shadow: 0 0 0.5em rgba(0,0,0,0.9);}
.btnbox a{background:#c3b48b url(../images/arrow.png) 95% 50% no-repeat;padding:15px 40px;border:1px #fff solid;font-size:1.4em;}
.content_g .btnbox li{width:325px;display:inline-block;margin:0 50px;}
.content_g .btnbox li a{display:block;padding:15px 0px;}

div.box1 {
  text-align:center;
  width:200px;
  padding:50px 0;
  margin:100px auto;
  background:#00BCD4;
  color:#fff;
}
.br-sp { display:none; }
.br-pc { display:inline-block; }

.naver-handle{display:none;}

.content_main_text div{display:inline-block;width:75px;height:75px;}

.main_text_02{margin-left:-30px;}
.main_text_03{margin-left:-10px;}
.main_text_04{margin-left:-25px;}
.main_text_05{margin-left:-50px;}
.main_text_06{margin-left:-10px;}
.main_text_07{margin-left:-20px;}
.main_text_08{}
.main_text_09{margin-left:-15px;}
.main_text_10{margin-left:-20px;}
.main_text_11{margin-left:-20px;}
.main_text_12{margin-left:-25px;}

.main_text_01 img{width: 0px;height: 0px;display: none;position: relative;}
.main_text_02 img{width: 0px;height: 0px;display: none;position: relative;}
.main_text_03 img{width: 0px;height: 0px;display: none;position: relative;}
.main_text_04 img{width: 0px;height: 0px;display: none;position: relative;}
.main_text_05 img{width: 0px;height: 0px;display: none;position: relative;}
.main_text_06 img{width: 0px;height: 0px;display: none;position: relative;}
.main_text_07 img{width: 0px;height: 0px;display: none;position: relative;}
.main_text_08 img{width: 0px;height: 0px;display: none;position: relative;}
.main_text_09 img{width: 0px;height: 0px;display: none;position: relative;}
.main_text_10 img{width: 0px;height: 0px;display: none;position: relative;}
.main_text_11 img{width: 0px;height: 0px;display: none;position: relative;}
.main_text_12 img{width: 0px;height: 0px;display: none;position: relative;}
.main_text_13 img{width: 0px;height: 0px;display: none;position: relative;}
.main_text_14 img{width: 0px;height: 0px;display: none;position: relative;}
.main_text_15 img{width: 0px;height: 0px;display: none;position: relative;}

.main_text_b{margin-left:-30px;}
.main_text_c{margin-left:-10px;}
.main_text_d{margin-left:-25px;}
.main_text_e{margin-left:-50px;}
.main_text_f{margin-left:-10px;}
.main_text_g{margin-left:-20px;}
.main_text_h{}
.main_text_i{margin-left:-15px;}
.main_text_j{margin-left:-20px;}
.main_text_k{margin-left:-20px;}
.main_text_l{margin-left:-25px;}

.main_text_n{width:100%;margin:0 auto;}
.main_text_n img{width: 200%;height: 200%;display: none;position: relative;left:0;}

.readtextspan {display:block;font-size:1.4em;margin-bottom:40px;}
.commentbox{font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;}
.boxlink{cursor: pointer;}
.pc_block{display:block;}
.tab_block{display:none;}
.sp_block{display:none;}

.english_contents{font-family: 'EB Garamond', serif;}
.english_contents .content_a_floatbox div .name_a{top: 90px;}
@media screen and (max-width: 900px) {
BODY {font-size:80%;}
.content_a_floatbox{width:90%;padding-bottom: 100px;}
.footer .footerlink ,.footer .logo{float:none;width:100%;}
.footer .footerlink {text-align:center;}
header .submenu{position:static;width:100%;}
header .gmenu{position:static;width:100%;padding:20px 0;}
header .logo{position:static;width:100%;text-align:center;margin-top:10px;}
header{height:190px;}
.content_main_text{width:100%;}
.content_sub_text{width:100%;}
.content_b{background:url(../images/bgimg01.jpg)50% 50% / cover no-repeat;width:100%;height:770px;color:#fff;}
.content_c{background:url(../images/bgimg02.jpg)50% 50% / cover no-repeat;width:100%;height:770px;color:#fff;}
.content_d{background:url(../images/bgimg03.jpg)50% 50% / cover no-repeat;width:100%;height:770px;color:#fff;}
.content_f{background:url(../images/bgimg05.jpg)50% 50% / cover no-repeat;width:100%;height:770px;color:#fff;}
.content_g{background:url(../images/bgimg06.jpg)50% 50% / cover no-repeat;width:100%;height:770px;color:#fff;}
.content_b .content_title {padding-top: 120px;}
.content_c .content_title {padding-top: 120px;}
.content_d .content_title {padding-top: 120px;}
.content_a_floatbox_inner_inner{background:url(../images/content_a_bg.png) 0 0 no-repeat;background-size:cover;width:200px;height:200px;position:relative;font-size:0.8em;}
.content_a_floatbox div .name_a{top:20px;}
.content_a_floatbox div .text_a{top:60px;}
.content_a_floatbox .content_a_floatbox_inner_b .text_a{top:60px;}
.content_e_inner .content_e_inner_b dl{width:200px;}
.pc_block{display:none;}
.tab_block{display:block;}
.sp_block{display:none;}
.content_e .content_e_inner{font-size:0.8em;}
.br-sp { display:inline-block; }
.br-pc { display:none; }
.content_e_inner dd{padding-top:8px;}
.content_g .btnbox li{width:240px;}
.logo.tab_block{margin-top:10px;}
.logo.sp_block{margin-top:10px;}
#content_f .commentbox{text-align:center;}
.copyright{font-size:0.9em;margin-top:20px;text-align:center;}
.english_contents .content_a_floatbox div .name_a{top: 70px;}
}
@media screen and (max-width: 740px) {
.basebox {margin: 0 auto;min-width: 100%;width: 100%;}
header .logo {float:none;position:static;margin:10px auto 8px auto;}
header .logo img{width:80px;}
header .gmenu{padding-bottom:0;}
.naver{position:relative;z-index:99999;}
.naver-container{text-align:center;}
    nav a { display:inline-block; margin: 0 0 1px 0; width: 100%; }
.naver-handle{display:block;}
.naver-container{text-align:center;}
header {width:100%;height:auto;}
header .gmenu{width:100%;position:static;}
header .submenu{width:100%;position:static;}
header .gmenu li,header .submenu li{text-align:left;padding:10px 10px;border-bottom:1px #ccc solid;margin:0;display:block;}
.gmenu li{display:block;width:100%;}
.submenu li{display:block;width:100%;}
.footer  {width:100%;padding:20px 0 0 0;}
.footer .logo{width:70%;float:none;margin:0 auto;}
.footer .footerlink{width:100%;float:none;text-align:center;margin-top:25px;}
.footer .footerlink li{display:inline-block;width:48%;}
.footer img{width:100%;}
.content_e .content_e_inner div {display: block;width: 100%;}
.content_a_floatbox_inner_inner {
    background: rgba(0, 0, 0, 0) url("../images/content_a_bg.png") no-repeat scroll top center;
    background-size:cover;
    height: 200px;
    position: relative;
    width: 200px;
    margin:0 auto;
}
.content_b{height: auto;padding-bottom: 80px;}
.content_c{height: auto;padding-bottom: 80px;}
.content_d{height: auto;padding-bottom: 80px;}
.content_f{height: auto;padding-bottom: 80px;}
.content_g{height: auto;padding-bottom: 80px;}

.content_a_floatbox div .text_a{top:55px;}
.content_a_floatbox .content_a_floatbox_inner_b .text_a{top:55px;}
.content_a_floatbox .content_a_floatbox_inner {display: block;margin-bottom:10px;}
.content_a_floatbox { width: 100%;display: block;table-layout: auto;}
.content_main_text {width:95%;top:80px;}
.content_main_text2 {width:80%;top:80px;}
.content_main {height:500px;margin-bottom:20px;}
.content_main_text div{width:20px;}
.content_main img {width:100%;}
.content_title{font-size:1.8em;padding:0 10px 5px 10px;margin-bottom:20px;}
.content_title span {padding: 0 0 10px 0;}
.content_text {font-size:1.2em;padding:0 10px 5px 10px;margin-bottom:20px;}
.content_b{padding-bottom:80px;}

.content_b .content_title {padding-top: 80px;}
.content_c .content_title {padding-top: 80px;}
.content_d .content_title {padding-top: 80px;}
.content_e .content_title {padding-top: 40px;}
.content_e .content_text {margin-bottom: 40px;}
.content_f .content_title {padding-top: 80px;}
.content_g .content_title_read {padding-top: 80px;font-size:1.2em;}
.btnbox ul.linklist{width:90%;margin:0 auto;}
.btnbox ul.linklist li{margin:0 0 20px 0;width:100%;}
.btnbox ul.linklist li a{padding: 10px 0px;display:block;}
.content_e_inner dd{padding:3px 0 0 10px;vertical-align: top;font-size:1.4em;}

.pc_block{display:none;}
.tab_block{display:none;}
.sp_block{display:block;}
.readtextspan{ font-size: 1.3em;}
.commentbox{text-align:left;padding:0 10px;}
.footer .footerlink {width:90%;margin:0 auto 20px auto;}
.copyright{font-size:0.9em;margin-top:20px;text-align:center;}
}

