#calendar {background-color:#fff;}
#calendar .pager{width:100%; margin:0 auto 5px auto; background:#eee; line-height:24px; height:24px; text-align:center;}
#calendar .pager a{color:#4a5050;}
#calendar .pager .prev{font-size:12px; float:left;width:9em;}
#calendar .pager .prev a:before{content:"《"; display:inline-block; margin-right:5px;}
#calendar .pager .now{font-size:14px;}
#calendar .pager .next{font-size:12px; float:right;width:9em;}
#calendar .pager .next a:after{content:"》"; display:inline-block; margin-left:5px;}
#calendar a:hover table{opacity:0.7; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"; -moz-opacity:0.7; -khtml-opacity: 0.7; zoom:1;}
#calendar table{width:100%; margin:0 auto 5px auto; border-top:1px solid #d8d8d8; border-left:1px solid #d8d8d8; position:relative;}
#calendar table th,
#calendar table td{border-right:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; width:14.2%; box-sizing:border-box;}
#calendar table thead th{font-size:12px; padding:3px;}
#calendar table thead th:nth-child(1),
#calendar table thead th:nth-child(1) a,
#calendar table tbody td:nth-child(1) span.days{color:#c33;}
#calendar table thead th:nth-child(7),
#calendar table tbody td:nth-child(7) span.days{color:#69c;}
#calendar table tbody td{padding:3px; position:relative; height:24px; font-size:10px;vertical-align: top;}
#calendar table tbody td span.days{/*position:absolute; top:3px; left:5px;*/ display:block; margin-bottom:10px;}
#calendar table tbody td span.holiday{color:#d00;}
#calendar table tbody td span.category{/*position:absolute; top:8px; left:0; text-align:center;*/ width:100%; display:block;}
/*#calendar table tbody td span.category span{width:16px; height:16px; margin:0 2px; display:inline-block;}*/
#calendar ul li:nth-child(1),
#calendar table tbody td span.category .restaurant{background: url(../../../../images/ja/myoko/pc/icon-restaurant.png) 0 50% no-repeat; color:#90c320;}
#calendar ul li:nth-child(2),
#calendar table tbody td span.category .illumination{background: url(../../../../images/ja/myoko/pc/icon-illumination.png) 0 50% no-repeat; color:#202488;}
#calendar table tbody td span.category .illumination a{color: #3A2F08;}
#calendar table tbody td span.category .event a{color: #3A2F08;}
#calendar ul li:nth-child(3),
#calendar table tbody td span.category .event{background: url(../../../../images/ja/myoko/pc/icon-event.png) 0 50% no-repeat; color:#e40114;}

#calendar table tbody td span.category span{padding:0px 0 10px 21px; display:block; background-position:0 0!important;}
#calendar table tbody td span.category span a{text-decoration:underline; line-height:1.4;}

#calendar ul{width:770px; margin:0 auto;}
#calendar ul li{font-size:12px; display:inline-block; padding-left:20px; margin-right:10px; line-height:16px;}
@media only screen and (max-width:740px){

.iframebox{width:100%;max-width:100%;}
#calendar table , #calendar .pager{width:100%;}
#calendar table tr{display: block!important;}
#calendar table thead{display:none;}
#calendar table th,#calendar table td{width:100%;display: list-item;height:auto!important;list-style:none;}
#calendar table tbody td{font-size:100%;}
#calendar table td:empty {display:none;}
.iframebox iframe{height:2900px;}
#calendar{padding:0 15px 35px 15px; background:#fff; box-sizing:border-box;}
#calendar .container{width:100%; position:relative; background:#fff; padding:20px 10px; box-sizing:border-box;}
#calendar .pager{width:100%; margin:0 auto 0 auto; line-height:48px; height:48px; text-align:center; background:#887535; color:#fff; border-radius:5px 5px 0 0;}
#calendar .pager a{color:#4a5050;}
#calendar .pager .year{display:none;}
#calendar .pager .month{display: inline-block; width:2.5em;}
#calendar .pager .prev{font-size:12px; float:left; margin-left:10px;width:7em;}
#calendar .pager .prev a{color:#fff; background:url(/global/assets/images/ja/myoko/sp/btn-arrow-left.png) #3b2f08 0% 50% no-repeat; background-size:17px 15px; padding:5px 10px 5px 25px; border-radius:5px;}
#calendar .pager .prev span.nonlink{background:none; background-size:17px 15px; padding:5px 10px 5px 25px; border-radius:5px;}
#calendar .pager .prev span.nonlink{color:#887535; user-select: none;}
#calendar .pager .now{font-size:14px;}
#calendar .pager .next{font-size:12px; float:right; margin-right:10px;width:7em;}
#calendar .pager .next a{color:#fff; background:url(/global/assets/images/ja/myoko/sp/btn-arrow-right.png) #3b2f08 100% 50% no-repeat; background-size:17px 15px; padding:5px 25px 5px 10px;  border-radius:5px;}
#calendar .pager span.nonlink{background:none; background-size:17px 15px; padding:5px 25px 5px 10px;  border-radius:5px;}
#calendar .pager .next span.nonlink{color:#887535; user-select: none;}
#calendar table tbody td span.category .restaurant{background-image:none;}
#calendar ul li:nth-child(2),
#calendar table tbody td span.category .illumination{background-image:none;}
#calendar table tbody td span.category .event{background-image:none;}

#calendartable,
#calendar tbody,
#calendar thead,
#calendar tfoot,
#calendar tr,
#calendar th,
#calendar td {display: block;}

#calendar a:hover table{opacity:0.7; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"; -moz-opacity:0.7; -khtml-opacity: 0.7; zoom:1;}
#calendar table{width:100%; margin:0 auto 20px auto; border:1px solid #887535; position:relative; height:340px; display:block; overflow:scroll; box-sizing:border-box;}
#calendar table thead{display:none;}
#calendar table td.pc{display:none;}
#calendar table tbody td span.days{background:#bfaf7b; color:#fff;}
#calendar table tbody td:nth-child(1) span.days{background:#c33; color:#fff;}
#calendar table tbody td:nth-child(7) span.days{background:#69c; color:#fff;}
#calendar table tbody td{padding:0px; position:relative;}
#calendar table tbody td span.days{display:block;padding:5px 10px;}
#calendar table tbody td span.holiday{background:#d00; color:#fff;}
#calendar table tbody td span.category{width:100%; display:block; min-height:2em;}
#calendar table tbody td span.category .restaurant,
#calendar table tbody td span.category .illumination,
#calendar table tbody td span.category .event{display:block; padding:10px 10px 10px 20px; border-bottom:1px #bfaf7b solid; position:relative; line-height:1.2;}

#calendar table tbody td span.category .restaurant:before,
#calendar table tbody td span.category .illumination:before,
#calendar table tbody td span.category .event:before{content:"■"; position:absolute; left:3px;}
#calendar table tbody td span.category a{display:block;}

#calendar ul li:before{content:"■"; font-size:16px; position:relative; top:2px;}
#calendar table tbody td span.category .restaurant:before,
#calendar ul li:nth-child(1):before{color:#00695c;}
#calendar table tbody td span.category .illumination:before,
#calendar ul li:nth-child(2):before{color:#232fcb;}
#calendar table tbody td span.category .event:before,
#calendar ul li:nth-child(3):before{color:#dc0a41;}
#calendar ul{width:100%; margin:0 auto;}
#calendar ul li{font-size:10px; margin-bottom:0;}
}