@charset "UTF-8";

body.concept#index{}
body.concept#index .area-title h1{margin:50px 0 70px 0;}

body.concept#index #section-concept{width: 1200px; margin: 0 auto;}
body.concept#index #section-concept #slider{width: 1180px;}
body.concept#index #section-concept .hotellist{}
body.concept#index #section-concept .hotellist li{float: left;width: 174px;}
body.concept#index #section-concept .hotellist li img{margin-bottom: 5px;}
body.concept#index #section-concept .hotellist li p{font-size: 12px;line-height: 1.4;}

body.concept#index #section-concept .hotel-info{margin-bottom: 80px;}
body.concept#index #section-concept .box-info{clear:both;margin-top: 50px;}
body.concept#index #section-concept .box-info .box{clear: both;margin-bottom: 80px;}
body.concept#index #section-concept .box-info h3{font-size: 20px;line-height: 1.4;}
body.concept#index #section-concept .box-info .box .box-text{float: right;width: 580px;margin: 0 0 0 20px;}
body.concept#index #section-concept .box-info .box .box-text p{margin-bottom: 20px;}
body.concept#index #section-concept .box-info .box .box-image{float: left; width: 585px;}
body.concept#index #section-concept .box-info .box .box-image img{width: 100%;}
body.concept#index #section-concept .box-info .box .btn{text-align: right;}
body.concept#index #section-concept .box-facilities{} 
body.concept#index #facilities.box-facilities .box{float: left;width: 330px;margin-right: 70px;height: auto;margin-bottom: 60px;}
body.concept#index #facilities.box-facilities .box img{width: 100%;margin-bottom: 15px;}
body.concept#index #facilities.box-facilities .box h3{margin-top: 10px;margin-bottom: 15px;}
body.concept#index #facilities.box-facilities .box:nth-child(3n){margin-right: 0px;}
body.concept#index #facilities.box-facilities .box:nth-child(3n+1){clear: both;}
body.concept#index #facilities.box-facilities .description{margin-bottom: 15px;}
body.concept#index #facilities.box-facilities .business_hour{font-size: 12px;}