@charset "UTF-8";

.gallery#index .area-title h1{margin:50px 0 70px 0;}

#_tab ul.tabs li{width:299px; margin-bottom:80px;}
#_tab ul.tabs li:nth-last-childs(1){width:300px;}

section.area-gallery{margin-bottom:50px;}
section.area-gallery ul{}
section.area-gallery ul li{width:285px; height:auto; margin:0 20px 30px 0; float:left;}
section.area-gallery ul li:nth-child(4n){margin-right:0;}
section.area-gallery ul li:nth-child(4n+1){clear:both;}
section.area-gallery ul li .img img{width:100%;}
section.area-gallery ul li .img{display:block; position:relative;}
section.area-gallery ul li a:hover .img:before{content:""; display:block; z-index:10; background: url(../../../../images/ja/resort_hotels/gallery/btn-gallery.png) rgba(0,0,0,0.6) 50% 50% no-repeat; position:absolute; top:0; bottom:0; left:0; right:0;}
section.area-gallery ul li .title{font-size:14px; margin-top:10px; display:block;}

