/* calendar */
section.calendar{padding:0 0 40px 0; margin-bottom:0;}
section.calendar ._p{margin-bottom:20px;}
section.calendar .pager{width:770px; margin:0 auto 5px auto; /*background:#eee;*/ border-top:1px #ccc solid; line-height:34px; height:34px; text-align:center;}
section.calendar .pager a{color:#4a5050;}
section.calendar .pager .prev{font-size:12px; float:left; position:relative; top:0px;}
section.calendar .pager .prev a:before{content:"<"; display:inline-block; margin-right:5px; font-size:24px; color:#444; transform: scale( 0.4 , 1 ); position:relative; top:3px;}
section.calendar .pager .prev span.nonlink:before{content:"<"; display:inline-block; margin-right:5px; font-size:24px; color:#fff; transform: scale( 0.4 , 1 ); position:relative; top:3px;}
section.calendar .pager .prev span.nonlink{color:#fff; user-select: none;}
section.calendar .pager .now{font-size:14px; position:relative; top:2px;}
section.calendar .pager .next{font-size:12px; float:right; position:relative; top:0px;}
section.calendar .pager .next a:after{content:">"; display:inline-block; margin-left:5px; font-size:24px; color:#444; transform: scale( 0.4 , 1 ); position:relative; top:3px;}
section.calendar .pager .next span.nonlink:after{content:">"; display:inline-block; margin-left:5px; font-size:24px; color:#fff; transform: scale( 0.4 , 1 ); position:relative; top:3px;}
section.calendar .pager .next span.nonlink{color:#fff; user-select: none;}
section.calendar a:hover table{opacity:0.7; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"; -moz-opacity:0.7; -khtml-opacity: 0.7; zoom:1;}
section.calendar table{width:770px; margin:0 auto 40px auto; border-top:1px solid #d8d8d8; border-left:1px solid #d8d8d8; position:relative;}
section.calendar table th,
section.calendar table td{border-right:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8;}
section.calendar table td.pc{}
section.calendar table td .sp{display:none;}
section.calendar table thead th{font-size:12px; padding:10px; width:110px;}
section.calendar table thead th:nth-child(1),
section.calendar table thead th:nth-child(1) a,
section.calendar table tbody td:nth-child(1) span.days{color:#c33;}
section.calendar table thead th:nth-child(7),
section.calendar table tbody td:nth-child(7) span.days{color:#69c;}
section.calendar table tbody td{padding:5px; position:relative; height:95px;}
section.calendar table tbody td span.days{font-size:10px; position:absolute; top:5px; left:5px;}
section.calendar table tbody td span.holiday{color:#d00;}
section.calendar table tbody td span.category{/*position:absolute; top:15px; left:0; text-align:center; */ width:100%; display:block; padding-top:25px;}

section.calendar table tbody td .txt{color:#fff; display:block; font-size:10px; padding:5px; margin-bottom:5px;}
section.calendar table tbody td .green{background:#669966;}
section.calendar table tbody td .blue{background:#6699cc;}
section.calendar table tbody td .red{background:#cc3333;}
section.calendar table tbody td .purple{background:#996699}
section.calendar table tbody td .golfday{background:#2c9999;}
section.calendar table tbody td .lunch{margin-top:25px; display:block;}
section.calendar table tbody td .lunch .title{padding:2px; text-align:center; margin-right:5px; color:#fff; background:#cc3333; font-size:8px; width:3em; display:inline-block;}
section.calendar table tbody td .lunch .price{font-weight:bold; font-size:12px; position:relative; top:-4px; line-height:1.6;}

 section#plan .container{width:830px; position:relative; background:#fff; padding:0px; box-sizing:border-box;}
 section#plan h3{}
 section#plan table{margin:10px 0 40px 0;}

 @media only screen and (max-width:740px){
/* calendar */
h2{border-top:#3a2f08 2px solid; padding-top:10px; margin-bottom:20px;}
section.calendar{margin-bottom:40px;}
section.calendar h2{margin-bottom:40px;}
section.calendar .container{width:100%; position:relative; background:#fff; padding:0px 15px; box-sizing:border-box;}
section.calendar .pager{width:100%; margin:0 auto 0 auto; line-height:48px; height:48px; text-align:center; background:#887535; color:#fff; border-radius:5px 5px 0 0;}
section.calendar .pager a{color:#4a5050;}
section.calendar .pager .year{display:none;}
section.calendar .pager .month{display: inline-block; width:2.5em;}
section.calendar .pager .prev{font-size:12px; float:left; margin-left:10px;}
section.calendar .pager .prev a{color:#fff; background:url(../../../../images/ja/myoko/sp/btn-arrow-left.png) #3b2f08 0% 50% no-repeat; background-size:17px 15px; padding:5px 10px 5px 25px; border-radius:5px;}
section.calendar .pager .prev span.nonlink{background:none; background-size:17px 15px; padding:5px 10px 5px 25px; border-radius:5px;}
section.calendar .pager .prev span.nonlink{color:#887535; user-select: none;}
section.calendar .pager .now{font-size:14px;}
section.calendar .pager .next{font-size:12px; float:right; margin-right:10px;}
section.calendar .pager .next a{color:#fff; background:url(../../../../images/ja/myoko/sp/btn-arrow-right.png) #3b2f08 100% 50% no-repeat; background-size:17px 15px; padding:5px 25px 5px 10px;  border-radius:5px;}
section.calendar .pager span.nonlink{background:none; background-size:17px 15px; padding:5px 25px 5px 10px;  border-radius:5px;}
section.calendar .pager .next span.nonlink{color:#887535; user-select: none;}

section.calendartable,
section.calendar tbody,
section.calendar thead,
section.calendar tfoot,
section.calendar tr,
section.calendar th,
section.calendar td {display: block;}

section.calendar a:hover table{opacity:0.7; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"; -moz-opacity:0.7; -khtml-opacity: 0.7; zoom:1;}
section.calendar table{width:100%; margin:0 auto 20px auto; border:1px solid #887535; position:relative; height:340px; display:block; overflow:scroll; box-sizing:border-box;}
section.calendar table thead{display:none;}
section.calendar table td.pc{display:none;}
section.calendar table tbody td span.days{background:#bfaf7b; color:#fff;position:static;font-size:100%;}
section.calendar table tbody td:nth-child(1) span.days{background:#c33; color:#fff;}
section.calendar table tbody td:nth-child(7) span.days{background:#69c; color:#fff;}
section.calendar table tbody td{padding:0px; position:relative;}
section.calendar table tbody td span.days{display:block;padding:5px 10px;}
section.calendar table tbody td span.holiday{background:#d00; color:#fff;}
section.calendar table tbody td span.category{width:100%; display:block; min-height:2em;padding-top:0;}

section.calendar table tbody td .txt{display:block; padding:10px; border-bottom:1px #bfaf7b solid;font-size:100%;}
section.calendar table tbody td .green{}
section.calendar table tbody td .blue{}
section.calendar table tbody td .red{}
section.calendar table tbody td .purple{}
section.calendar table tbody td .golfday{}
section.calendar table tbody td .lunch{display:table; padding:10px;margin-top:0;}
section.calendar table tbody td .lunch .title{margin-right:10px;margin-left:7px;color:#000;background-color:transparent;font-size:100%;width:auto;}
section.calendar table tbody td .lunch .price{position:static;font-size:100%;}
section.calendar table tbody td:empty {display:none;}

section#plan .container{width:100%; position:relative; background:#fff; padding:0px 15px; box-sizing:border-box;}
section#plan h3{}
section#plan table{margin:10px 0 40px 0;}
section#plan table th{width:30%;}
}