@charset "UTF-8";

.guest_room#index .visual{width:100%; height:666px; background:url(../../../../images/ja/myoko/guest_room/img-mainvisual.jpg) 50% 50% no-repeat; background-size:cover !important; display:block;}

.guest_room#index .area-title h1{margin-top:60px;}

.guest_room#index section#search{padding:40px 0 20px 0; margin-bottom:50px;}

.guest_room#index section#section-head{padding:40px 0;}
.guest_room#index section#section-head p{ line-height:1.6;}

.guest_room#index #_tab ul.tabs li{width:599px; margin-bottom:30px;}
.guest_room#index #_tab ul.tabs li:nth-last-child(1){width:600px;}

.guest_room#index #section-guest_rooms h2 .logo{display:inline-block;}
.guest_room#index #section-guest_rooms h2 .logo img{height:35px; position:relative; top:2px;}
.guest_room#index #section-guest_rooms h2 .text{margin-right:20px;}
.guest_room#index #section-guest_rooms h2 .roomnum{font-size:18px; color:#fff; background:#3b2f08; padding:3px 10px 5px 10px;}

.guest_room#index #section-guest_rooms .box-wrap{margin-bottom:70px;}
.guest_room#index #section-guest_rooms .box-wrap .image{width:585px; float:left;}
.guest_room#index #section-guest_rooms .box-wrap .text{width:585px; float:right;}
.guest_room#index #section-guest_rooms .box-wrap .text p{line-height:1.6;}
.guest_room#index #section-guest_rooms .box-wrap .text .banner{font-size:20px; line-height:1.6; width:330px; box-sizing:border-box; padding:10px 25px; background:#aa1919; color:#fff; text-align:center; margin-bottom:25px;}
.guest_room#index #section-guest_rooms .box-wrap .text .banner .date{display:block; border-bottom:1px #fff solid; padding-bottom:4px; margin-bottom:4px;}

.guest_room#index #section-guest_rooms ul._anchor li{margin-bottom:20px;}
.guest_room#index #section-guest_rooms ul._anchor li{width:20%;}
.guest_room#index #section-guest_rooms ul._anchor li a{line-height: 50px;}
.guest_room#index #section-guest_rooms ul._anchor li:nth-child(6){border-left: 1px solid #3a2f08;}

.guest_room#index section.area-room {border-top:#3a2f08 1px solid; padding-top:20px; margin-bottom:80px;}
.guest_room#index section.area-room h2{margin-bottom:20px;}
.guest_room#index section.area-room ._photo-bottom{float:left;}
.guest_room#index section.area-room .txt{float:right; width:585px;}
.guest_room#index section.area-room ._lead{margin-bottom:20px;color: #877434;font-weight: bold;}
.guest_room#index section.area-room ._p{margin-bottom:30px;}
.guest_room#index section.area-room .txt ul{list-style:disc; font-size:14px; margin:0 0 30px 20px; line-height:1.7;}
.guest_room#index section.area-room h3{font-size:16px; margin-bottom:10px;}
.guest_room#index section.area-room ._table{font-size:14px; line-height:1.4;margin-bottom: 20px;}
.guest_room#index section.area-room ._table th{width:auto;}
.guest_room#index section.area-room ._table th,
.guest_room#index section.area-room ._table td{padding:15px 5px; text-align:center; vertical-align:middle;}
.guest_room#index section.area-room ._btn-small.pet{width: 230px;background: #877434 url("/global/assets/images/ja/resort_hotels/pc/btn-small-arrow.png") no-repeat scroll 210px 50%}
.guest_room#index section.area-service{border-top:#3a2f08 1px solid; padding-top:20px; margin-bottom:80px;}
.guest_room#index section.area-service h2{margin-bottom:20px;}
.guest_room#index section.area-service .btn{text-align:right; margin-top:30px;}
.guest_room#index section.area-price{border-top:#3a2f08 1px solid; padding-top:20px; margin-bottom:60px;}
.guest_room#index section.area-price ._h2{margin-bottom:20px;}