@charset "UTF-8";
.visual{width:100%; height:666px; background:url(/global/assets/images/ja/myoko/guest_room/img-mainvisual.jpg) 50% 50% no-repeat; background-size:cover !important; display:block;}

.area-title{margin-top:60px; letter-spacing:10px; margin-right: -10px;}

.party .links{width: 1200px;margin: 0 auto 50px;}
.party .links li{float:left; width:398px; margin-right:2px; font-size:20px;display: block; height:70px; line-height:70px; text-decoration: none; text-align:center; color: #fff; outline: none; background:#beaf7a;cursor: pointer;}
.party .links li:hover,
.party .links li.active{background:#877434;}
.party .links li.active a,.party .links li.active a:hover,.party .links li a:hover{background:#877434;}

body.party#index .links li.party a,
body.party#wedding .links li.wedding a,
body.party#plan .links li.plan a{background: #877434;}

.tab-panel{display: none;}
.tab-panel.active{display: block;}
.tab-panel h1{font-size: 22px;margin-bottom: 30px;}
.tab-panel ._h2{font-size: 20px;}

body#index.party h1{text-align:left;}
body#index.party .area-title ._h1{text-align: center;}
body#index.party h2{}

body#index.party{}
body#index.party .section-party{width: 1200px;margin: 0 auto 80px;}
body#index.party .section-party .box-head{margin-bottom: 60px;}
body#index.party .section-party .box-party{margin-bottom: 60px;}
body#index.party .section-party .box-party .main{margin-bottom: 5px;width: 585px;}
body#index.party .section-party .box-party .main img{width: 100%;}
body#index.party .section-party .box-party .name{font-size: 12px;margin-bottom: 20px;}
body#index.party .section-party.conference .box-image{float: left;width: 585px;margin-right: 20px;}
body#index.party .section-party.conference .box-sub{float: left;width: 550px;}
/*plan*/
body#index.party{}
body#index.party #section-plan{width: 1200px;margin: 0 auto 80px;}
body#index.party #section-plan .box-head{margin-bottom: 30px;}
body#index.party #section-plan .box-plan{}
body#index.party #section-plan .box-plan .main{float: left;width: 585px;}
body#index.party #section-plan .box-plan .main img{width: 100%;}
body#index.party #section-plan .box-plan .box-table {width: 585px;float: right;}
body#index.party #section-plan .box-plan .box-table ._table{margin-bottom: 20px;}
body#index.party #section-plan .box-plan .box-table ._table th{width: 250px;}
body#index.party #section-plan .box-plan .box-table .note{font-size: 14px;line-height: 1.4;background: #f3f3f0;padding: 25px;}
body#index.party #section-plan .box-plan .box-table .box-info{margin-bottom: 30px;}
body#index.party #section-plan .box-plan .box-table .box-info h3{margin-bottom: 20px;}
body#index.party #section-plan .box-plan .box-table .box-banner{margin-bottom: 20px;}
/*wedding*/
body#index.party{}
body#index.party #section-wedding{width: 835px;margin: 0 auto;}
body#index.party #section-wedding .main{margin-bottom: 10px;}
body#index.party #section-wedding .box-banners{margin-bottom: 30px;}
body#index.party #section-wedding .box-banners p{margin-bottom: 5px;}
body#index.party #section-wedding img{width: 100%;}
body#index.party #section-wedding .chapel{}
body#index.party #section-wedding .chapel .box{clear: both;margin-bottom: 30px;padding-bottom: 30px;border-bottom: dotted #ccc 1px;}
body#index.party #section-wedding .chapel .box .box-image{float: left;margin-right: 35px;}
body#index.party #section-wedding .chapel .box .box-text{float: left;width: 430px;}

