@charset "UTF-8";

/* 共通 */
.timeline .visual{width:100%; height:666px; background:url(../../../../images/ja/myoko/timeline/img-mainvisual.jpg) 50% 50% no-repeat; background-size:cover !important; display:block;}
.timeline .area-title h1{margin-top:60px;}

.timeline ._h2{font-size:22px; margin-bottom:30px; line-height:1.6;}

.timeline section#lead{border-top:#3a2f08 1px solid; padding-top:20px; margin:0 auto 0 auto;}
.timeline section#lead .image,
.timeline section#lead .text{text-align:center;}
.timeline section#lead .image{margin-bottom:40px;}
.timeline section#lead .image img{margin:0 auto;}
.timeline section#lead .text{margin-bottom:60px;}

/*
.timeline section#lead .image{width:150px; float:left;}
.timeline section#lead .image img{width:100%;}
.timeline section#lead .text{width:650px; float:right;}
.timeline section#lead .text p{position: relative; width:100%;  margin-bottom: 20px;  padding:15px 20px; border:3px solid #8bae6e; background:#fff; line-height:1.8; font-size:20px; box-sizing:border-box;}
.timeline section#lead .text p::before{content: ""; position: absolute; left: -30px; top: 50%; margin-top: -10px; width: 0px; height: 0px; border-right:20px solid #8bae6e; border-top: 10px solid transparent; border-left: 10px solid transparent; border-bottom: 10px solid transparent; z-index:102;}
.timeline section#lead .text p::after{ content: ""; position: absolute; left: -24px; top: 50%; margin-top: -7px; width: 0px; height: 0px; border-right: 18px solid #fff; border-top: 8px solid transparent; border-left: 8px solid transparent; border-bottom: 8px solid transparent; z-index:103;}
*/

.timeline #plan-navi{margin:0 auto 60px auto; width:800px; box-sizing:border-box;}
.timeline #plan-navi li{width:399px; float: left; text-align: center; font-size:20px; color:#fff; margin-right:1px; box-sizing:border-box;}
.timeline #plan-navi li:nth-last-child(1){width:400px; margin-right:0;}
.timeline #plan-navi a{display: block; height:70px; line-height:70px; text-decoration: none; color: #fff; outline: none; background:#beaf7a;cursor: pointer;}
.timeline #plan-navi a:hover{}
.timeline #plan-navi li.active,.timeline #plan-navi li.active a,.timeline #plan-navi li.active a:hover{background:#877434;}


.timeline section.flow{margin:0 auto 0 auto;}
.timeline section.flow .wrapper{padding:45px 85px; background:#f3f3f0; border-radius:5px; margin-bottom:80px;}

.timeline section.flow p.day{font-size:24px; box-sizing:border-box; width:86px; line-height:40px; background:#3a2f08; color:#fff; text-align:center;}
.timeline section.flow p.day span{font-size:16px;}

.timeline section.flow dl{width:100%; line-height:1.8; font-size:14px; margin-bottom:30px;}
.timeline section.flow dl.summer{display: none;}
.timeline section.flow dt{display: block; width:80px; clear: left; float: left; padding:30px 0 5px 0; color:#3a2f08; font-size:22px;}
.timeline section.flow dd{border-left:6px #beaf7a solid; display: block; width:945px; float: left; box-sizing:border-box;  padding:30px 0 5px 45px; position:relative;}
/*.timeline section.flow dd:nth-last-child(1):before{content:""; display:block; position:absolute; background:#f3f3f0; width:6px; height:100%; z-index:1; top:48px; left:-6px;}*/
.timeline section.flow dd::before{content:""; display:block; position:absolute; background:#beaf7a; width:6px; height:100%; z-index:1; top:48px; left:-6px;}
.timeline section.flow dl:nth-last-child(1) dd:before{background:#f3f3f0;}
.timeline section.flow dd .wrap{background:#fff; display:block; position:relative; top:-5px; border-radius:5px; padding:20px 30px;}
.timeline section.flow dd .wrap:before{content:""; width:14px; height:14px; border-radius:14px; background:#3a2f08; display:block; position:absolute; top:18px; left:-55px; z-index:2;}
.timeline section.flow dd .title{font-size:16px; color:#3a2f08; display:block; line-height:1.4; margin-bottom:20px;}
.timeline section.flow dd .title:before{content:""; border-top:1px #3a2f08 solid; width:45px; display:block; position:relative; top:4px; left:-75px; z-index:1;}
.timeline section.flow dd .eng{font-size:12px; color:#fff; display:block;}
.timeline section.flow dd .text{width:480px; float:left;}
.timeline section.flow dd .text span{margin-bottom:10px; display:block;}
.timeline section.flow dd .image{width:200px; float:right;}
.timeline section.flow dd .image img{width:100%; margin-bottom:10px;}
