@charset "UTF-8";

.root#index .bx-viewport{margin:0; padding:0; box-shadow:none; border:none; left:0;}
.root#index .bx-wrapper{margin-bottom: 0px;}
.root#index .ul.bxslider.top{margin:0; padding:0;}
.root#index .visual{width:100%; height:666px;background-size:cover !important;background-position: center center !important;}

.root#index #top-banner ul{margin:0; padding:0 0 0 1%; box-sizing:border-box; width:100%;}
.root#index #top-banner ul li{float:left; width:216px; margin:0 1% 20px 0; display:block;}
.root#index #top-banner ul li:nth-child(5n){margin-right:0;}
.root#index #top-banner ul li a,
.root#index #top-banner ul li img{width:100%;}
.root#index #top-banner{border:#3b2f08 1px solid; padding:30px 30px 10px 30px; width:1200px; box-sizing:border-box; margin:0 auto 50px auto;}

.root#index #movie .youtube {position: relative; width: 100%; padding-top: 56.25%;}
.root#index #movie .youtube iframe{position: absolute; top: 0; right: 0; width: 100%!important; height: 100%!important;}

.root#index section#search ._p{font-size:12px;}
.root#index section#search.plan .nights,
.root#index section#search.plan .price{width:370px; margin-right:0px; margin-left:100px;}
.root#index section#search.plan .people,
.root#index section#search.plan .plan{width:230px; margin-right:0px;}
.root#index section#search.plan ._h4{position:relative; left:60px; top:10px;}
.root#index section#search.plan .btn-plan{position:absolute; right:30px; bottom:50px; line-height:30px; padding:35px 0  0 25px; border-left:#3a2f08 1px solid;}
.root#index section#search.plan .btn{position:absolute; /* right:240px; */ right:140px; bottom:50px; line-height:30px;}

.root#index section#search{padding:40px 0 10px 0; margin-bottom:0;}
.root#index section#search .container{width:1030px; position:relative;}

.root#index section#news .container{width:970px; position:relative;}
.root#index section#news{padding:40px 0 40px 0;}
.root#index section#news dl{font-size:13px;}
.root#index section#news dl dt{width: 245px; margin: 0 0 15px 0; padding:0; float: left; clear: left;}
.root#index section#news dl dt span.date{width: 70px;display: inline-block;}
.root#index section#news dl dt span._label{margin-left:30px;}
.root#index section#news dl dd{margin: 0 0 16px 245px; padding:0px 0 5px 0px; line-height:1.6;}
.root#index section#news .btn{text-align:right;}

.root#index section#info .container{background:#fff; padding:30px;width: 1030px;}
.root#index section#info ul{}
.root#index section#info ul li{position:relative; border-bottom:#3b2f08 1px solid; margin-top:20px; padding-bottom:20px;}
.root#index section#info ul li:nth-last-child(1){border-bottom:none; padding-bottom:0px;}
.root#index section#info ul li h4{margin-bottom:10px; font-size:16px; line-height:1.2; width:80%;}
.root#index section#info ul li p.lead{font-size:13px; line-height:1.6; width:80%;}
.root#index section#info ul li p.btn{ position:absolute; right:0; bottom:20px;}


.root#index section#calendar{padding:0 0 40px 0; margin-bottom:0; background:#f3f3f0;}
.root#index section#calendar .iframebox{overflow-y: scroll;height: 500px;}
.root#index section#calendar .container{width:1030px; position:relative; background:#fff; padding:30px; box-sizing:border-box;}
.root#index section#calendar .pager{width:770px; margin:0 auto 5px auto; background:#eee; line-height:24px; height:24px; text-align:center;}
.root#index section#calendar .pager a{color:#4a5050;}
.root#index section#calendar .pager .prev{font-size:12px; float:left;}
.root#index section#calendar .pager .prev a:before{content:"《"; display:inline-block; margin-right:5px;}
.root#index section#calendar .pager .now{font-size:14px;}
.root#index section#calendar .pager .next{font-size:12px; float:right;}
.root#index section#calendar .pager .next a:after{content:"》"; display:inline-block; margin-left:5px;}
.root#index section#calendar a:hover table{opacity:0.7; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"; -moz-opacity:0.7; -khtml-opacity: 0.7; zoom:1;}
.root#index section#calendar table{width:770px; margin:0 auto 5px auto; border-top:1px solid #d8d8d8; border-left:1px solid #d8d8d8; position:relative;}
.root#index section#calendar table th,
.root#index section#calendar table td{border-right:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; width:14.2%; box-sizing:border-box;}
.root#index section#calendar table thead th{font-size:12px; padding:3px;}
.root#index section#calendar table thead th:nth-child(1),
.root#index section#calendar table thead th:nth-child(1) a,
.root#index section#calendar table tbody td:nth-child(1) span.days{color:#c33;}
.root#index section#calendar table thead th:nth-child(7),
.root#index section#calendar table tbody td:nth-child(7) span.days{color:#69c;}
.root#index section#calendar table tbody td{padding:3px; position:relative; height:24px; font-size:10px;}
.root#index section#calendar table tbody td span.days{/*position:absolute; top:3px; left:5px;*/ display:block; margin-bottom:10px;}
.root#index section#calendar table tbody td span.holiday{color:#d00;}
.root#index section#calendar table tbody td span.category{/*position:absolute; top:8px; left:0; text-align:center;*/ width:100%; display:block;}
/*.root#index section#calendar table tbody td span.category span{width:16px; height:16px; margin:0 2px; display:inline-block;}*/
.root#index section#calendar ul li:nth-child(1),
.root#index section#calendar table tbody td span.category .restaurant{background: url(../../../../images/ja/myoko/pc/icon-restaurant.png) 0 50% no-repeat; color:#90c320;}
.root#index section#calendar ul li:nth-child(2),
.root#index section#calendar table tbody td span.category .illumination{background: url(../../../../images/ja/myoko/pc/icon-illumination.png) 0 50% no-repeat; color:#202488;}
.root#index section#calendar ul li:nth-child(3),
.root#index section#calendar table tbody td span.category .event{background: url(../../../../images/ja/myoko/pc/icon-event.png) 0 50% no-repeat; color:#e40114;}

.root#index section#calendar table tbody td span.category span{padding:5px 0 5px 21px; display:block; background-position:0 0!important;}
.root#index section#calendar table tbody td span.category span a{text-decoration:underline; line-height:1.4;}

.root#index section#calendar ul{width:770px; margin:0 auto;}
.root#index section#calendar ul li{font-size:12px; display:inline-block; padding-left:20px; margin-right:10px; line-height:16px;}

.root#index section#howto{margin-top:30px;}
.root#index section#howto .container{position:relative; padding:30px 40px; background:#3a2f08; border-radius:5px;}
.root#index section#howto ._h3{color:#fff; margin-bottom:30px;}
.root#index section#howto ul{margin:0 20px;}
.root#index section#howto ul li{width:190px; float:left; margin-right:30px;}
.root#index section#howto ul li:nth-last-child(1){margin-right:0;}
.root#index section#howto ul li .image{display:block; margin-bottom:15px;}
.root#index section#howto ul li .image img{width:190px; border-radius:50%; border:3px #bfaf7b solid;}
.root#index section#howto ul li .lead{text-align:center; display:block; color:#fff; line-height:1.4;}

.root#index section#pic{padding:50px 0;} 
.root#index section#pic ul li{margin-right:60px; font-size:16px; float:left;width: 355px;}
.root#index section#pic ul li:nth-last-child(1){margin-right:0;}
.root#index section#pic ul li .img{margin-bottom:12px; display:block; width:360px;}
.root#index section#pic ul li .img img{width:100%;}


.root#index section#event{width: 1200px;margin: 0 auto;}
.root#index section#event .container{width:900px; position:relative;float: left;}
.root#index section#event h3{margin-bottom:15px;}
.root#index section#event{padding:0px 0 40px 0;}
.root#index section#event ul{width:100%; margin:0; padding:0; font-size:13px;}
.root#index section#event ul{width:100%; box-sizing:border-box; margin-bottom:40px;}
.root#index section#event ul li{width:50%; box-sizing:border-box; color:#333; display:table; height:170px; margin:0; padding:15px 0 10px 0; border-bottom:1px #ddd solid; float:left;}
.root#index section#event ul li:nth-child(n){padding-right:2%;}
.root#index section#event ul li:nth-child(2n){padding-left:2%;}
.root#index section#event ul li:nth-child(2n+1){clear:both;}
.root#index section#event ul li p.pic{width:25%; display:table-cell; padding:0 20px 0px 0; vertical-align:top; margin:0;}
.root#index section#event ul li p.pic img{max-width:100%; max-height:130px; margin:0 auto;}
.root#index section#event ul li p.txt{width:75%; display:table-cell; vertical-align:top; padding-top:0px; position:relative; top:0px; text-align:left;}
.root#index section#event ul li span.date{display:block; font-size:12px;}
.root#index section#event ul li a{text-decoration:underline; line-height:1.4;}
.root#index section#event ul li span.lead{display:block; margin-top:10px; line-height:1.4;}
.root#index section#event .more{clear: both;text-align: center;padding-top: 20px;}
.root#index section#event ._asterix{clear: both;padding-top: 20px;position: absolute;right: 0px;bottom: 0px;width: 350px;font-size: 10px;}
.root#index section#event .side{float: right;width: 250px;}
.root#index section#event .twitter{height: 400px;overflow-y: scroll;}
.root#index section#event .box-ta{margin-top: 20px;}
.root#index section#event .box-ta iframe{width: 100%;margin-bottom: 10px;border: 1px solid #589442;width: 100%;}
.root#index section#event .banner{margin-bottom: 10px;}
.root#index section#event .banner img{width: 100%;height: auto;}
.root#index section#event ._p{font-size: 12px;line-height: 1.2;}

.root#index section#event .row {width:100%;display:table;}
.root#index section#event .row .col4{width:33% ; display:table-cell;vertical-align: top;}
.root#index section#event .col--inner1{ margin-right:20px; }
.root#index section#event .col--inner2{ margin-right:10px;margin-left:10px; }
.root#index section#event .col--inner3{ margin-left:20px; }
.root#index section#event img{width:100%;}

.root#index section#event #area{padding:20px 20px 10px 20px;background:#f3f3f0;}
.root#index section#event #area ._h3{margin-bottom:20px;text-align:center; }
.root#index section#event #area ul{vertical-align:middle;}
.root#index section#event #area ul li{display:inline-block;width:170px;text-align:center;border:none;}
.root#index section#event #area ul li .icon{margin:0 auto 15px auto;display:block;}
.root#index section#event #area ul li .icon img{width:70px; margin:0 auto;}
.root#index section#event #area ul li .title{font-size:12px; line-height:1.4;}




#open-hopup{display: none;;width: 940px;box-sizing: border-box;position: absolute;margin: 0 auto;top:50px;z-index: 999999999;background: #fff;left: 0px;right: 0px;padding: 40px;border-radius: 20px;}
#open-hopup .box-hopaup{}
#open-hopup .box-hopaup .close{position: absolute;right: 20px;top:20px;z-index: 1;}
#open-hopup .box-hopaup .head{padding-top: 60px;position: relative;}
#open-hopup .box-hopaup .head h2{text-align: center;font-size: 30px;color: #c8a11e; padding: 0 0 50px;color: #3a2f08;font-weight: bold;font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;position: relative;}
#open-hopup .box-hopaup .head h2:after{content:'';position: absolute;display: block;border-bottom: 1px solid #3a2f08; width: 100%;bottom: 0px;left: 0;right: 0;margin: 0 auto;}
#open-hopup .box-hopaup .head h2 span{display: inline-block;width: 71px;height: 24px;}
#open-hopup .box-hopaup .head h2 .before{background: url(../../../../images/ja/myoko/h-icon_left.png) no-repeat left center;position: absolute;left: 40px;top:15px;}
#open-hopup .box-hopaup .head h2 .after{background: url(../../../../images/ja/myoko/h-icon_right.png) no-repeat right center;position: absolute;right: 40px;top:15px;}
#open-hopup .box-hopaup .body{padding: 50px 0 0;}
#open-hopup .box-hopaup .box{margin-bottom: 60px;clear: both;}
#open-hopup .box-hopaup .box h3{color: #c8a11e;line-height: 1.4;border-bottom: 1px solid #c8a11e;padding-bottom: 3px;margin-bottom: 30px;line-height: 1.4;}
#open-hopup .box-hopaup .box h4{margin-bottom: 30px;line-height: 1.4;}
#open-hopup .box-hopaup .box table{font-size: 14px;}
#open-hopup .box-hopaup .box table tr{border: 1px solid #ccc;}
#open-hopup .box-hopaup .box table th{background: #c8a11e;color: #fff;padding: 20px;text-align: left;}
#open-hopup .box-hopaup .box table td{padding: 20px;line-height: 1.4;}
#open-hopup .box-hopaup .box p{line-height: 1.4;margin-bottom: 40px;}
#open-hopup .box-hopaup .box .box-images{}
#open-hopup .box-hopaup .box .box-images p{width: 50%;float: left;text-align: center;}
#open-hopup .box-hopaup .box .box-images p img{width: 100%;height: auto;margin-bottom: 10px;border: 1px solid #eee;}
#open-hopup .box-hopaup .box .box-images p span{font-size: 12px;text-align: center;}
#open-hopup .box-hopaup .box.box-3 .box-images p{width: 33%;}
#bk-screen{display: none;background: #000;width: 100%;height: 100%;position: fixed;left: 0px;top:0px;z-index: 999999998;opacity: 0.8;}
.iframebox {width:100%;margin:0 auto;}
.iframebox iframe{width:100%;padding:0;height:800px;}
