@charset "UTF-8";

.facility#index .area-title h1{margin:50px 0 70px 0; letter-spacing:10px; margin-right:-10px;}

.facility#index section.area-facility-info{margin:0 auto 50px auto; border-top:#3a2f08 1px solid; padding-top:10px;}
.facility#index section.area-facility-info .image img{margin:0 auto 80px auto; padding:0;}
.facility#index section.area-facility-info .image{font-size:20px;}
.facility#index section.area-facility-info .image img{width: 100%;}
.facility#index section.area-facility-info .image.elevations,
.facility#index section.area-facility-info .image.plane{position:relative;}
.facility#index section.area-facility-info .image.elevations:before{content:"立面"; position:absolute; top:0; left:70px;}
.facility#index section.area-facility-info .image.plane:before{content:"平面"; position:absolute; top:0; left:180px;}

.facility#index section.area-facility-etc{margin:0 auto 60px auto; border-top:#3a2f08 1px solid; padding-top:10px;}
.facility#index section.area-facility-etc h2{margin-bottom:30px;}

section.area-facility-etc .image{float:left; width:265px;}
section.area-facility-etc .txt{float:right; width:860px;}

section.area-facility-etc table,
section.area-facility-etc p{margin-bottom:20px;}
section.area-facility-etc p{font-size:12px; line-height:1.8;}
section.area-facility-etc table td p:nth-last-child(1){margin-bottom:0;}
section.area-facility-etc a{ text-decoration:underline;}