@charset "UTF-8";

.hall#index .visual{width:100%; height:666px; background:url(/c/resort/makuhari/assets/images/ja/resort_hotels/hall/img-mainvisual.jpg) 50% 50% no-repeat; background-size:cover !important; display:block;background-position:center center !important;}
.hall#index .area-title h1{margin:60px 0; letter-spacing:5px; margin-right: -5px;}

.hall#index .area-hall-list{border-top:#3a2f08 1px solid; padding-top:15px; margin-bottom:20px;}
.hall#index .area-hall-list h2{margin-bottom:20px;}

.hall#index .area-hall-list{margin-bottom:10px;}
.hall#index .area-hall-list ul{}
.hall#index .area-hall-list ul li{width:330px; height:auto; margin:0 105px 60px 0; float:left;}
.hall#index .area-hall-list ul li:nth-child(3n){margin-right:0;}
.hall#index .area-hall-list ul li:nth-child(3n+1){clear:both;}
.hall#index .area-hall-list ul li .image img{width:100%;}
.hall#index .area-hall-list ul li .title{font-size:18px; line-height:1.6; margin:10px 0; display:block;}
.hall#index .area-hall-list ul li .lead{font-size:14px; line-height:1.6; margin-bottom:15px; display:block;}
.hall#index .area-hall-list ul li .btn{text-align:right; display:block;}