@charset "UTF-8";

/* web Fonts */
@font-face {
   font-family: 'EB Garamond';
   src: url('../../font/EB_Garamond/EBGaramond-Regular.ttf') format("truetype");
}
@font-face {
   font-family: 'Lato';
   src: url('../../font/Lato/Lato-Regular.ttf') format("truetype");
   font-weight: 400;
}
@font-face {
   font-family: 'Lato';
   src: url('../../font/Lato/Lato-Light.ttf') format("truetype");
   font-weight: 300;
}
@font-face {
   font-family: 'Lato';
   src: url('../../font/Lato/Lato-Bold.ttf') format("truetype");
   font-weight: 700;
}

._pc{display:inline-block;}
._pc-b{display:block;}
._sp,
._sp-b{display:none;}

.wrap{font-family: 'Lato'; background: #fff; margin: 0 auto; min-width: 100%; overflow-x: hidden;}
._bg-glay{background: #F4F3F0;}
._bg-wt{background: #FFFFFF;}

.wrap a{ text-decoration: none;}
.wrap a img:hover,a:hover{opacity:0.7; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"; -moz-opacity:0.7; -khtml-opacity: 0.7; zoom:1;}
.wrap a img:active,a:active{opacity:0.9; filter: alpha(opacity=90); -ms-filter: "alpha(opacity=90)"; -moz-opacity:0.9; -khtml-opacity: 0.9; zoom:1;}


.main_pc{margin-bottom: 50px;  text-align: center; }
.main_pc .outer{width: 100%;}
.main_pc .outer.top{background: #3B2F08;height: 50px;}
.main_pc .outer.bottom{background: #F4F3F0;padding: 10px 0;height: 180px;box-sizing: border-box;padding-top: 30px;}
.main_pc .inner{width: 1000px; margin: 0 auto;}
.main_pc .logo p{ text-align: left; width: 1200px; margin: 0 auto; padding: 5px 0 4px 0;} 
.main_pc .logo p img{width:213px;}
.main_pc p img{margin:  0 auto;}
.section-01{margin: 0 auto; margin-bottom: 50px; text-align: center;}
.section-01 .wrapper_btn{width: 724px; margin: 0 auto; }
.section-01 img{margin:  0 auto; clear: both; }

.btn .font_gothic{width: 100%; color: #fff; font-family: 'Lato'; font-size: 14px;}
.btn ._btn-pickup{width: 100%; color: #fff; font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-size: 22px;}
.section-01 .wrapper_btn{margin-bottom: 40px;}
.section-01 .wrapper_btn .btn{display: inline;margin: 0 30px 0;}
.section-01 .inner{width: 1000px;margin: 0 auto;}
.section-01 .wrapper_btn .btn:nth-child(2) .font_gothic{font-size: 22px;font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;}
.section-01 .wrapper_btn .btn:nth-child(2) ._btn-pickup{font-size: 14px;font-family: 'Lato'; }


.section-02{margin: 0 auto; text-align: center; margin-bottom: 85px;}
.section-02 img{margin:  0 auto; }

#section-03{margin-bottom: 0px; text-align: center;background: #EFEFEF;}
#section-03 h2{width: 100%;background: url(../../../../images/ja/resort_hotels/pc/makuhari/lp/bg-h.png) repeat-x; text-align: center;height: 89px;box-sizing: border-box;line-height: 95px;color: #fff;font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;font-size: 23px;letter-spacing: 2px;}
#section-03 h2 img{padding-top: 1px;}
#section-03 .bg-glay{background: #F4F3F0;}
#section-03 .bg-wt{background: #FFFFFF;}
#section-03 img{margin:  0 auto;}
#section-03 .box-01{padding: 50px 0 65px 0;}
#section-03 .box-02{padding: 65px 0 75px 0;}
#section-03 .box-03{padding: 60px 0 95px 0;}
#section-03 .box-04{padding: 70px 0 125px 0;}

#section-04{border-bottom: 1px solid #3b2f08; text-align: center;}
#section-04 h2{width: 100%;background: url(../../../../images/ja/resort_hotels/pc/makuhari/lp/bg-h.png) repeat-x; text-align: center;height: 89px;box-sizing: border-box;line-height: 95px;color: #fff;font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;font-size: 23px;letter-spacing: 2px;}#section-04 img{margin:  0 auto;}
#section-04 .box-01{padding: 50px 0;}
#section-04 .box-02{padding: 65px 0;}
#section-04 .box-03{padding: 45px 0;}
#section-04 .box-04{padding: 90px 0 58px 0;}

.box-go-top{width: 100%;position: relative;height: 42px;}
._btn-top{position: absolute;right: 0px;}
._btn-top img{position: relative; top: 11px;right: 0px;}
._btn-top a{position: relative; display: block; width: 42px; height: 42px; background: #3b2f08;}


.section-05{width: 1200px; margin: 0 auto; text-align: center; margin-top: 22px; padding-bottom: 20px;}
.section-05 img{float: left; margin-bottom: 18px;}
.section-05 .address{color: #3b2f08; margin-top: 0px;}
.section-05 .address p{float: left; font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;}
.section-05 .address .makuhari{float: right; margin-top: 47px;}
.section-05 .address .makuhari p:last-child{margin-left: 3px;}
.section-05 .address .makuhari p img{margin-left: 13px;}
.section-05 .copy{clear: both; padding-top: 5px; border-top: 1px solid #3b2f08; margin: 15px 0 50px 0;  }
.section-05 .copy img{margin:7px 0 0 15px;}
.section-05 .copy p{font-size: 12px; font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;}
.section-05 .copy p:last-child{margin-top: 20px;float: right; }

