@charset "UTF-8";

.news#index .area-title h1,
.news#detail .area-title h1{margin:50px 0 70px 0; letter-spacing:5px; margin-right:-5px;}
._box-btn{width: 220px;}

section.area-news-list {margin:0 auto 40px auto; width:830px;}
section.area-news-list section.list{border-bottom:#3a2f08 1px solid; padding-bottom:30px; margin-bottom:30px;}
section.area-news-list section.list .img{float:left; width:200px;}
section.area-news-list section.list .img img{width:200px;}
section.area-news-list section.list .txt{float:right; width:600px;}
section.area-news-list section.list .txt .date{font-size:14px;}
section.area-news-list section.list .txt .date ._label{margin:0 0 10px 20px;}
section.area-news-list section.list .txt h2{font-size:14px; margin-bottom:5px; line-height:1.4;}
section.area-news-list section.list .txt .lead{font-size:14px; margin-bottom:10px; line-height:1.6;}
section.area-news-list section.list .txt .btn{text-align:right;}

.pager{margin-bottom:80px; text-align:center; font-size:0;}
.pager li{display:inline-block; font-size:29px;}
.pager li span,
.pager li a{display: block; font-size: 29px; padding:0 0.4em; background:#fff;}
.pager li a{text-decoration:underline;}

section.area-news-detail{margin:0 auto 80px auto; width:830px; border-top:#3a2f08 1px solid; padding-top:10px;}
section.area-news-detail .date{font-size:14px; margin-bottom:40px;}
section.area-news-detail .date ._label{margin:0 0 10px 20px;}
section.area-news-detail h2{font-size:22px; margin-bottom:20px; font-weight:normal;}
section.area-news-detail ._p{margin-bottom:30px;}
section.area-news-detail h3{font-size:14px; font-weight:normal; line-height:1.6;}
section.area-news-detail h3:before{content:"■"; font-size:14px;}

section.area-news-detail ul{font-size:14px; line-height:1.6; list-style:disc; margin-bottom:30px;}
section.area-news-detail ul li{margin-left:20px;}

section.area-news-detail .image img{ margin:0 auto; padding:30px 0;}
section.area-news-detail .btn{text-align:right; margin-top:40px;}
section.area-news-detail .btn.ctr{text-align:center;}
section.area-news-detail .btn.mb{margin-bottom:60px;}

section.area-news-detail .box-entry{}
section.area-news-detail .box-entry img{max-width: 100%;height: auto;margin: 0 0 30px;}
section.area-news-detail .box-entry.news181204 img{margin: 0 auto 30px;}
section.area-news-detail .box-entry h1{font-size:28px; margin-bottom:40px; text-align: center;}
section.area-news-detail .box-entry h2{font-size:22px; margin-bottom:30px;}
section.area-news-detail .box-entry h3{font-size:18px; margin-bottom:20px;}
section.area-news-detail .box-entry h4{font-size:16px; margin-bottom:20px;}
section.area-news-detail .box-entry p{font-size:14px; font-weight:normal; line-height:1.6;margin: 0 0 30px;}

/* table basic */
section.area-news-detail .box-entry table {width:100%; border-collapse: collapse; background:#f3f3f0; font-size:12px; line-height:1.8; box-sizing:border-box;margin-bottom: 30px;}
section.area-news-detail .box-entry table thead th{background: #ddd;}
section.area-news-detail .box-entry table th{background: rgba(191, 175, 123, 0.85) none repeat scroll 0 0;border-right:1px solid #fff; border-bottom:1px solid #fff;}
section.area-news-detail .box-entry table td{border-right:1px solid #fff; border-bottom:1px solid #fff;}
section.area-news-detail .box-entry table th{padding:20px; text-align: left; vertical-align: top; font-weight:normal; /* white-space: nowrap; */ width:185px; box-sizing:border-box;}
section.area-news-detail .box-entry table td{padding:20px; border-right:1px solid #fff;}
section.area-news-detail .box-entry table span.note{font-size:12px;}

section.area-news-detail .box-entry dl{margin-bottom: 30px;}
section.area-news-detail .box-entry dt{font-weight: bold;margin-bottom: 5px;}
section.area-news-detail .box-entry dd{margin-bottom: 20px;}

section.area-news-detail .box-entry ol,
section.area-news-detail .box-entry ul{margin-bottom: 30px;}

section.area-news-detail .box-entry ol li{margin-left: 1em;margin-bottom: 10px;}
section.area-news-detail .box-entry blockquote{background: #eee;padding: 20px;}
section.area-news-detail .box-entry blockquote p{margin-bottom: 0;}
section.area-news-detail .box-entry address{margin-bottom: 20px;}
section.area-news-detail .box-entry div{line-height: 1.4;}
section.area-news-detail .box-entry .alignleft{float: left;margin: 10px;}
section.area-news-detail .box-entry .alignright{float: right;margin: 10px;}