@charset "UTF-8";

/* web Fonts */
@font-face {
   font-family: 'EB Garamond';
   src: url('../../../font/EB_Garamond/EBGaramond-Regular.ttf') format("truetype");
}

/* cording support */
.clear {clear: both;}
.clearfix {min-height:1px}
.clearfix:after {content:".";display:block;clear:both;height:0;visibility:hidden}
sup{font-size: 10px;vertical-align: top;}
a{ text-decoration: none;}
img {display: block;}
ul{list-style:none;}

/* basic styles */
._h1,
._h2,
._h3,
._h4,
._lead,
._btn-small,
._btn-middle,
._btn-large,
._btn-large-wide,
._btn-pickup,
#_tab ul.tabs{font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-weight:normal; letter-spacing: 0.045em;}
._h1 i,
._h3 i,
._label,
#_tab ul.tabs i{font-family: 'EB Garamond', serif; font-weight:normal; letter-spacing: 0.045em;}

._p,
._table{font-family:/* "游ゴシック", YuGothic,*/ "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif; letter-spacing: 0.045em;}
._caution{color: #e23636; font-weight: bold;}
._h1 i,
._h2 i,
._h3 i{font-style:normal; display:block;}

._h1{font-size:28px; margin-bottom:40px; text-align: center;}
._h1 i{font-size:16px; margin-bottom:10px;}
._h2{font-size:22px; margin-bottom:30px;}
._h2 i{font-size:16px; margin-bottom:10px;}
._h3{font-size:18px; margin-bottom:20px;}
._h3 i{font-size:20px;}
._h4{font-size:16px; margin-bottom:20px;}

._lead{font-size:16px; line-height:1.6;}
._p{font-size:14px; font-weight:normal; line-height:1.6;}

/* table basic */
._table {width:100%; border-collapse: collapse; background:#f3f3f0; font-size:12px; line-height:1.8; box-sizing:border-box;}
._table thead {}
._table tbody {}
._table th,
._table td{border-right:1px solid #fff; border-bottom:1px solid #fff;}
._table th{padding:20px; text-align: left; vertical-align: top; font-weight:normal; /* white-space: nowrap; */ width:185px; box-sizing:border-box;}
._table td{padding:20px; border-right:1px solid #fff;}
._table span.note{font-size:12px;}
._asterix{font-size: 12px;color: #333;line-height: 1.4;}
/* css3 animation */
._fadeout {-webkit-animation: fadeOut .5s cubic-bezier(.55,0,.1,1) both;animation: fadeOut .5s cubic-bezier(.55,0,.1,1) both;}
._fadein {-webkit-animation: fadeIn .5s cubic-bezier(.55,0,.1,1) both;animation: fadeIn .5s cubic-bezier(.55,0,.1,1) both;}

/* btn */
._btn-small,
._btn-large,
._btn-middle,
._btn-large-wide,
._btn-pickup{display:inline-block; text-align:center; color:#fff; box-sizing:border-box;}
._btn-small{background: url(/c/resort/makuhari/assets/images/ja/resort_hotels/pc/btn-small-arrow.png) #877434 140px 50% no-repeat; font-size:14px; padding:0 10px 0 0; line-height:30px; width:160px; height:30px;}
._btn-middle{background: url(/c/resort/makuhari/assets/images/ja/resort_hotels/pc/btn-large-arrow.png) #877434 170px 50% no-repeat; font-size:16px; padding:0 10px 0 0; line-height:60px; width:200px; height:60px;}
._btn-large{background: url(/c/resort/makuhari/assets/images/ja/resort_hotels/pc/btn-large-arrow.png) #877434 230px 50% no-repeat; font-size:16px; padding:0 10px 0 0; line-height:60px; width:260px; height:60px;}
._btn-large-wide{background: url(/c/resort/makuhari/assets/images/ja/resort_hotels/pc/btn-large-arrow.png) #877434 255px 50% no-repeat; font-size:16px; padding:0 10px 0 0; line-height:60px; width:280px; height:60px;}
._btn-pickup{background: url(/c/resort/makuhari/assets/images/ja/resort_hotels/pc/btn-pickup-arrow.png) #beaf7a 540px 50% no-repeat; font-size:16px; padding:0 10px 0 0; line-height:60px; width:585px; height:60px;}

/* label */
._label{background:#beaf7a; display:inline-block; color:#fff; line-height:20px; width:120px; height:20px; font-size:13px; text-align:center;}

/* tab */
#_tab .panel{display: none; clear: both; overflow: hidden; width:100%; box-sizing:border-box;}
#_tab .panel.active{display: block;} 

#_tab ul.tabs{zoom: 1; background:#fff; list-style: none; margin:0 auto; padding: 0;}
#_tab  ul.tabs:after{ content:"."; display: block; height:0px; clear:both; line-height:0; visibility:hidden;}
#_tab ul.tabs li{float: left; text-align: center; font-size:20px; color:#fff; margin-right:1px; box-sizing:border-box;}
#_tab ul.tabs li:nth-last-child(1){margin-right:0;}
#_tab  ul.tabs li a{display: block; height:70px; line-height:70px; text-decoration: none; color: #fff; outline: none; background:#beaf7a;}
#_tab  ul.tabs li a.row{line-height:25px; padding-top:10px; height:60px;}
#_tab  ul.tabs li a:hover{}
#_tab  ul.tabs li.active,#_tab ul.tabs li.active a,#_tab ul.tabs li.active a:hover{background:#877434;}
#_tab ul.tabs i{font-style:normal;}

/* anchor */
ul._anchor{box-sizing:border-box;}
ul._anchor li:nth-child(1){border-left:1px #3a2f08 solid;}
ul._anchor li{border-right:1px #3a2f08 solid; float:left; font-size:16px; line-height:1.4; text-align:center; box-sizing:border-box;}
ul._anchor li a{display:block; height:50px; line-height:50px;}

/* photo side bottom */
._photo-bottom{width:585px;}
._photo-bottom .main{position: relative;width:585px; /*height:450px;*/ margin-bottom:23px;}
._photo-bottom .main .title{position: absolute;background: #877434;padding: 5px 5px; color: #fff;font-size: 12px;font-weight: bold;right: 0px;bottom: 6px;}
._photo-bottom .main .title.hide{display: none;}

._photo-bottom .thumbnail{}
._photo-bottom .thumbnail li{width:140px; height:107px; margin:0 8px 8px 0; float:left;}
._photo-bottom .main img,
._photo-bottom .thumbnail li img{width:100%;}
._photo-bottom .thumbnail li:nth-child(2n){margin-right:9px;}
._photo-bottom .thumbnail li:nth-child(4n){margin-right:0;}

._photo-side{width:1200px; margin-bottom:20px;}
._photo-side .main{width:715px; /*height:450px;*/ float:left;}
._photo-side .thumbnail{width:452px;float:right;}
._photo-side .thumbnail li{width:216px; height:auto; margin:0 20px 20px 0; float:left;}
._photo-side .main img,
._photo-side .thumbnail li img{width:100%;}
._photo-side .thumbnail li:nth-child(2n){margin-right:0;}

/*
._photo-side{width:585px;}
._photo-side .main{width:450px; height:340px; margin-right:15px; float:left;}
._photo-side .thumbnail{float:right;}
._photo-side .thumbnail li{width:120px; height:90px; margin-bottom:10px;}
._photo-side .main img,
._photo-side .thumbnail li img{width:100%;}
*/

/* a link */
._photo-side span img,
._photo-bottom span img{cursor:pointer;}
a{color:#3A2F08;}
._photo-side span img,
._photo-bottom span img,
.dummy_a,
a img,a{-webkit-transition: 0.2s ease-in-out;  -moz-transition: 0.2s ease-in-out;  -o-transition: 0.2s ease-in-out;transition: 0.2s ease-in-out;cursor: pointer;}

.dummy_a:hover,
._photo-side span img:hover,
._photo-bottom span img:hover,
a img:hover,a:hover{opacity:0.7; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"; -moz-opacity:0.7; -khtml-opacity: 0.7; zoom:1;}

.dummy_a:active,
._photo-side span img:active,
._photo-bottom span img:active,
a img:active,a:active{opacity:0.9; filter: alpha(opacity=90); -ms-filter: "alpha(opacity=90)"; -moz-opacity:0.9; -khtml-opacity: 0.9; zoom:1;}
a img.not-effect:hover,a.not-effect:hover,a.not-effect:hover img{opacity:1; filter: alpha(opacity=100); -ms-filter: "alpha(opacity=100)"; -moz-opacity:1; -khtml-opacity: 1; zoom:1;}
a img.not-effect:active,a.not-effect:active,a.not-effect:active img{opacity:1; filter: alpha(opacity=100); -ms-filter: "alpha(opacity=100)"; -moz-opacity:1; -khtml-opacity: 1; zoom:1;}