@charset "UTF-8";

.root#index .bx-viewport{margin:0; padding:0; box-shadow:none; border:none; left:0;}
.root#index .bx-wrapper{margin-bottom: 0px;}
.root#index .ul.bxslider.top{margin:0; padding:0;}
.root#index .visual{width:100%; height:666px;background-size:cover !important;background-position: center center !important;}

/*
.root#index #slider .ul.bxslider-banner.top{margin:0; padding:0;}
.root#index #slider{border:#3b2f08 1px solid; padding:30px 0; width:1200px; box-sizing:border-box; margin:50px auto 80px auto;}
.root#index #slider .bx-wrapper .bx-prev {left:-63px; background: url(/c/resort/makuhari/assets/images/ja/resort_hotels/top/icon-slider-left.png) no-repeat 0 0;}
.root#index #slider .bx-wrapper .bx-next {right:-63px;	background: url(/c/resort/makuhari/assets/images/ja/resort_hotels/top/icon-slider-right.png) no-repeat 0 0;}
.root#index #slider .bx-wrapper .bx-controls-direction a {margin-top: -18px; width: 19px; height: 35px;}
*/

.root#index #top-banner ul{margin:0; padding:0 0 0 1%; box-sizing:border-box; width:100%;}
.root#index #top-banner ul li{float:left; width:24%; margin:0 1% 20px 0; display:block;height: 60px;}
.root#index #top-banner ul li:nth-child(4n){margin-right:0;}
.root#index #top-banner ul li a,
.root#index #top-banner ul li img{width:100%;}
.root#index #top-banner{border:#3b2f08 1px solid; padding:30px 30px 10px 30px; width:1200px; box-sizing:border-box; margin:50px auto 80px auto;}

.root#index section#search ._p{font-size:12px;}
.root#index section#search.plan .nights,
.root#index section#search.plan .price{width:370px; margin-right:0px;}
.root#index section#search.plan .people,
.root#index section#search.plan .plan{width:230px; margin-right:0px;}
.root#index section#search.plan ._h4{position:relative; left:60px; top:10px;}
.root#index section#search.plan .btn-plan{position:absolute; right:30px; bottom:50px; line-height:30px; padding:35px 0  0 25px; border-left:#3a2f08 1px solid;}
.root#index section#search.plan .btn{position:absolute; right:240px; bottom:50px; line-height:30px;}

.root#index section#search{padding:40px 0 20px 0; margin-bottom:0;}
.root#index section#search .container,
.root#index section#info .container{width:1030px; position:relative;}
.root#index section#news .container{width:970px; position:relative;}
.root#index section#news{padding:40px 0 40px 0;}
.root#index section#news dl{font-size:13px;}
.root#index section#news dl dt{width: 245px; margin: 0 0 15px 0; padding:0; float: left; clear: left;}
.root#index section#news dl dt span.date{width: 70px;display: inline-block;}
.root#index section#news dl dt span._label{margin-left:30px;}
.root#index section#news dl dd{margin: 0 0 16px 245px; padding:0px 0 5px 0px; line-height:1.6;}
.root#index section#news .btn{text-align:right;}

.root#index section#info .container{background:#fff; padding:30px;}
.root#index section#info ul{}
.root#index section#info ul li{position:relative; border-bottom:#3b2f08 1px solid; margin-top:20px; padding-bottom:20px;}
.root#index section#info ul li:nth-last-child(1){border-bottom:none; padding-bottom:0px;}
.root#index section#info ul li h4{margin-bottom:10px; font-size:16px; line-height:1.2; width:80%;}
.root#index section#info ul li p.lead{font-size:13px; line-height:1.6; width:80%;}
.root#index section#info ul li p.btn{ position:absolute; right:0; top:-5px;}

.root#index section#pic{padding:50px 0;} 
.root#index section#pic ul li{margin-right:60px; font-size:16px; float:left;width: 355px;height: 320px;}
.root#index section#pic ul li:nth-child(3n){margin-right:0;}
.root#index section#pic ul li .img{margin-bottom:12px; display:block; width:360px;}
.root#index section#pic ul li .img img{width:100%;}


.root#index section#event h3{margin-bottom:15px;}
.root#index section#event{padding:0px 0 40px 0;width: 1200px;margin: 0 auto;position: relative;}
.root#index section#event .container{float: left;width: 1200px;}
.root#index section#event .side{width: 440px;margin: 0 auto;}
.root#index section#event .side .box-ta{float: right;width: 200px; margin-left: 40px;}
.root#index section#event .side .box-ta iframe{margin-bottom: 10px;text-align: center;border: 1px solid #589442;width: 100%;}
.root#index section#event .side .box-ta img{margin: 0 auto;}
.root#index section#event .side img{width: 100%;height: auto;}
.root#index section#event .side .banner{margin-bottom: 10px;width: 200px;float: right;}
.root#index section#event .side ._p{font-size: 12px;line-height: 1.2;width: 200px;float: right;}
.root#index section#event ul{width:100%; margin:0; padding:0; font-size:13px;}
.root#index section#event ul{width:100%; box-sizing:border-box; margin-bottom:20px;}
.root#index section#event ul li{width:50%; box-sizing:border-box; color:#333; display:table; height:170px; margin:0; padding:15px 0 10px 0; border-bottom:1px #ddd solid; float:left;}
.root#index section#event ul li:nth-child(n){padding-right:2%;}
.root#index section#event ul li:nth-child(2n){padding-left:2%;}
.root#index section#event ul li:nth-child(2n+1){clear:both;}
.root#index section#event ul li p.pic{width:25%; display:table-cell; padding:0 20px 0px 0; vertical-align:top; margin:0;}
.root#index section#event ul li p.pic img{max-width:100%; max-height:130px; margin:0 auto;}
.root#index section#event ul li p.txt{width:75%; display:table-cell; vertical-align:top; padding-top:0px; position:relative; top:0px; text-align:left;}
.root#index section#event ul li span.date{display:block; font-size:12px;}
.root#index section#event ul li a{text-decoration:underline; line-height:1.4;}
.root#index section#event ul li span.lead{display:block; margin-top:10px; line-height:1.4;}
.root#index section#event .more{clear: both;text-align: center;padding-top: 20px;}
.root#index section#event ._asterix{clear: both;padding-top: 20px;position: absolute;right: 10px;bottom: 0px;width: 300px;font-size: 10px;}