/*Footer*/
.footer{
	background-color: #000;
	padding: 40px 0;
	text-align: center;
	color: #fff;
	bottom: 0;
	left: 0;
	width: 100%;
}
.wrap {
    margin: auto;
    width: 94%;
    max-width: 1000px;
}
.ft-copyright {
    font-size: 11px;
}
.page-top {
    display: none;
    z-index: 100;
    position: fixed;
    bottom: 20px;
    right: 20px;
    line-height: 1;
    padding: 10px 15px;
    background-color: #947F28;
    text-align: center;
    font-size: 18px;
    color: #fff;
    opacity: .8;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.bnr{
    margin: 0 0 60px;
}