@charset "utf-8";


@import url("pc/jquery-ui.css");


/* 基本フォント ------------------------------ */

body {
	color: #333;
	font-family: 'Yu Mincho' , YuMincho , "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	font-size: 75%;
	line-height: 1.5;
	font-feature-setting: "pkna";
}

input,textarea,select {
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-size: 100%;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

.pd_font {
font-family: 'Playfair Display', serif;
}


/* 基本タグ -------------------- */

body,div,
h1,h2,h3,h4,h5,h6,
dl,dt,dd,ul,ol,li,
p,blockquote,pre,cite,code,caption,
form,fieldset,legend,input,textarea,select,option,label {
	margin: 0px;
	padding: 0px;
}

body {
	background: ;
}

img,table {
	border: none;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

ol,ul {
	list-style: none;
}

address,em,cite {
	font-style: normal;
}

fieldset {
	border: none;
}

article, aside, dialog, figure, footer, header, hgroup, menu, nav, section { display: block; }



/* box-sizing -------------------- */

*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}

/* 基本テキストリンク -------------------- */

a:link {
	color: #333333;
	text-decoration: underline;
}
a:visited {
	color: #333333;
	text-decoration: none;
}
a:hover {
	color: #333333;
	text-decoration: none;
}
a:active {
	color: #333333;
	text-decoration: none;
}


/* ボタンリンク -------------------- */




/* 透過hover -------------------- */

.over a:hover {
	opacity: .70;
	filter: alpha(opacity=70);
	-ms-filter:  "alpha(opacity=70)";
}


.pcHide {
display: none !important;
}

.soHide {
display: block !important;
}

.hd_area ,
#hd_bnr ,
.welcome_area {
	display:none;
}


/* --------------------------------------------------------------------------------------
 float解除
--------------------------------------------------------------------------------------- */

.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: .1em;}
.clearfix { display:inline-block; }
/*\*/
* html .clearfix { height:1%; }
.clearfix { display:block; }
/**/

/* --------------------------------------------------------------------------------------
 header
--------------------------------------------------------------------------------------- */
/* header ------------------------------ */

.yokohama header .reserv{position:absolute; top:24px; right: 375px;}
.yokohama header .reserv{text-align:center; width:150px; display:block;}
.yokohama header .reserv i{font-style:normal; font-size:13px; line-height:1; margin-bottom:5px; display:block;}
.yokohama header .reserv a{color:#fff; background:#877434; display:block; padding:10px 0 0 0; height:50px; text-decoration: none;}
.yokohama header .reserv a:hover{opacity:0.7; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"; -moz-opacity:0.7; -khtml-opacity: 0.7; zoom:1;}
.yokohama header .reserv a{-webkit-transition: 0.2s ease-in-out;  -moz-transition: 0.2s ease-in-out;  -o-transition: 0.2s ease-in-out;transition: 0.2s ease-in-out;cursor: pointer;}

.yokohama header .box-info{margin-right: 60px;}

.yokohama header {
min-width: 1180px;
height: 98px;
background: #fff;
}

.yokohama header .inner{
display: table;
width: 1280px;
/*
width: 980px;
*/
height: 98px;
margin: 0 auto;
position: relative;
}

.yokohama header .logo{
display: table-cell;
vertical-align: middle;
}

.yokohama header .bnr_tel{
display: table-cell;
vertical-align: middle;
font-size: 0;
text-align: right;
position: absolute;
right: 45px;
top: 27px;
}

.yokohama header .bnr_fb{
display: table-cell;
padding:18px 0 0;
vertical-align: middle;
font-size: 0;
text-align: right;
width: 30px;
position: absolute;
right: 0;
top: 25px;

}

.yokohama header .other_box {
	display:none !important;
}

/* --------------------------------------------------------------------------------------
メインビジュアル
--------------------------------------------------------------------------------------- */
._pc-b{display: block;}
._sp-b{display: none;}

.wrap{max-width: 1280px !important;width: 100% !important; }
.bx-viewport{margin:0 !important; padding:0 !important; box-shadow:none !important; border:none !important; left:0 !important;}
.bx-wrapper{margin-bottom: 0px;}
.ul.bxslider.top{margin:0; padding:0;}
.visual{width:100%; height:568px;background-size:cover !important;background-position: center center !important;}
.kv h1 {position: absolute;z-index: 100;width: 100%; height: auto;text-align: center;padding-top: 75px;}



/* --------------------------------------------------------------------------------------
 フッター
--------------------------------------------------------------------------------------- */

.bnr_yoyaku_fix {
position: fixed;
bottom: -10px;
right: 0;
transition: .3s;
z-index: 99;
}

.bnr_yoyaku_fix a{
display: block;
width: 342px;
height: 80px;
background: url(../img/bnr_yoyaku_fix01_pc.png) no-repeat 0 0;
transition: .3s;
}

.bnr_yoyaku_fix img{
display: none;
}

.bnr_yoyaku_fix:hover {
position: fixed;
bottom: 0;
right: 0;
}

/* ページトップ ------------------------------ */

.pagetop_area {
width: 1064px;
min-width: 1064px;
	margin: 0 auto 0 auto;
	padding: 32px 0 0;
	text-align: right;
	font-size: 11px;
}

.pagetop_area p a{
	padding: 0 0 0 18px;
	background: url(../img/ico_arw_black02.png) no-repeat 0 center;
}

/* footer ------------------------------ */

footer {
	position: relative;
	min-width: 1064px;
	margin: 100px 0 0 0;
	padding: 0 0 10px 0;
	background: #f5f1ec;
}


footer .contents {
max-width: 1180px;
margin: 0 auto;
}

footer #anc03_show {
	position: absolute;
	bottom: 100%;
	text-indent: -9999px;
}


@media print {
footer {
	/*display: none;*/
}
}

footer a:link {
	color: #333;
	text-decoration: none;
}
footer a:visited {
	color: #333;
	text-decoration: none;
}
footer a:hover {
	color: #76560e;
	text-decoration: underline;
}
footer a:active {
	color: #76560e;
	text-decoration: underline;
}


/* ft_bnr01 ------------------------------ */

footer .ft_bnr01 {
display: none;
}

/* ft_bnr02 ------------------------------ */

footer .ft_bnr02 {
display: none;

}

/* apa_nav ------------------------------ */


footer .apa_nav {
width: 1064px;
min-width: 1064px;
	margin: 0 auto 28px auto;
	font-size: 0;
}

footer #ft_bnr {
display: none;
}


footer .apa_nav p{
	display: inline;
	float: left;
	width: 570px;
	margin: 0 0 0 0;
}

footer .apa_nav .network_area,
footer .apa_nav .group_nav02{
	display: inline;
	float: right;
	width: 169px;
	margin: 0 0 0 8px;
	padding: 15px 0 0 0;
	font-size: 12px;
}

footer .apa_nav .group_nav02{
	width: 165px;
	margin: 0 0 0 8px;
}

footer .apa_nav .network_area p,
footer .apa_nav .group_nav02 p{
width: auto;
	margin: 0 0 0 0;
	text-align: center;
}

footer .apa_nav .network_area p a,
footer .apa_nav .group_nav02 p a{
	display: block;
	width: 165px;
	padding: 0 0 0 20px;
	line-height: 34px;
	border: 1px #cbcbcb solid;
	background: #fff url(../img/ico_network_plus.gif) no-repeat 7px center;
	color: #333;
	text-decoration: none;
}

footer .apa_nav .group_nav02 p a{
	padding:0;
	background:#fff;
}

footer .apa_nav .network_area p.active a{
	background: #fff url(../img/ico_network_minus.gif) no-repeat 7px center;
}

footer .apa_nav ul.group_nav{
	display: inline;
	float: right;
	width: 460px;
	margin: 0 0 0 0;
	padding: 15px 0 0 0;
	text-align:right;
}

footer .apa_nav ul.group_nav li{
	display: inline-block;
	margin: 0 0 0 3px;
	vertical-align: middle;
}

footer .apa_nav .inner_hotel {
	clear: both;
	float: left;
	margin: -36px 0 0 74px;
	font-size: 12px;
}
footer .apa_nav .inner_hotel h3 {
	font-weight: bold;
	margin: 15px 0 3px;
}
footer .apa_nav .inner_hotel p {
	display: block;
	float: none;
	margin: 0;
}
footer .apa_nav .inner_hotel a {
	font-weight: bold;
	display: inline-block;
	margin: 0 6px 0 0;
	text-decoration: underline;
}
footer .apa_nav .inner_hotel a:hover {
	text-decoration: none;
}

footer nav .other_nav {
	margin: 0 0 0 0;
	font-size: 0;
}

footer nav .other_nav li{
	display: inline-block;
	font-size: 10px;
}

footer small {
	display: block;
width: 1064px;
min-width: 1064px;
	margin: 15px auto 0 auto;
	font-size: 11px;
}



footer #hotel_list_box {
width: 1064px;
min-width: 1064px;
	margin: 0 auto 28px auto;
}
footer #hotel_list_box .inner_hotel {
    padding: 0;
}
footer #hotel_list_box .inner_hotel h3 {
    font-weight: bold;
    margin: 15px 0 1px;
}
footer #hotel_list_box .inner_hotel div {
    float: left;
    width: 230px;
}
footer #hotel_list_box .inner_hotel div h3 a:link {
    color: black;
    text-decoration: underline;
}
footer #hotel_list_box .inner_hotel div h3 a:visited {
    color: black;
    text-decoration: underline;
}
footer #hotel_list_box .inner_hotel div h3 a:hover {
    text-decoration: none;
}
footer #hotel_list_box .inner_hotel div a.footer {
    color: #624f24;
    display: block;
    font-size: 84%;
    margin: 0 0 3px;
    text-decoration: none;
}
footer #hotel_list_box .inner_hotel div a:hover {
    text-decoration: underline;
}
footer #hotel_list_box .inner_hotel div a img {
    margin: 0 2px 0 0;
}


footer .text_helper {
	font-size: 75%;
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 200px;
	height: 150px;

	border: 1px #cdcac6 solid;
	background: #fff;
	-moz-box-shadow: 0px 0 4px rgba(000,000,000,0.2);
	-webkit-box-shadow: 0px 0 4px rgba(000,000,000,0.2);
	box-shadow: 0px 0 4px rgba(000,000,000,0.2);
}

footer .text_helper .inner {
	padding: 5px;
}

footer .text_helper .inner a {
	color: #886231;
	padding: 2px 5px 0 0;
	cursor: pointer;
	text-decoration: underline;
}

footer .text_helper p.title {
	font-size: 100%;
	padding: 2px 0;
	background: #a8865c;
	text-align: center;
	color: #fff;
	vertical-align: top;
}

footer .text_helper p.desc {
	margin: 3px;
	color: #666;
}

footer .text_helper p.close {
	text-align: center;
	padding: 2px 0;
	color: #666;
}

footer .text_helper p.close a {
	display: block;
	width: 100px;
	margin: 0 auto;
	cursor: pointer;
	background: #ededed;
}

footer #hotel_list_box + nav {
width: 1064px;
min-width: 1064px;
margin: 0 auto;
}

footer #hotel_list_box + nav + small {
display: none;
width: 1064px;
min-width: 1064px;
margin: 15px auto 0 auto;
}


/* --------------------------------------------------------------------------------------
 contents
--------------------------------------------------------------------------------------- */

.linkBox {
	min-width:1180px;
	margin:0 auto;
	background:#beaf7a;
}

.linkBox ul {
	width:620px;
	margin:0 auto;
	letter-spacing:-0.5em;
}

.linkBox ul li {
	display:inline-block;
	width:200px;
	letter-spacing:0;
	vertical-align:top;
	text-align:center;
}

.linkBox ul li:nth-child(2) {
	width:180px;
	margin:0 20px;
}

.linkBox ul li a {
	display:block;
	padding:5px 0 24px;
	color:#fff;
	font-size:150%;
	text-decoration:none;
	background:url(../img/ico_arw_01.png) no-repeat center 53px;
}

.linkBox ul li a span {
	display:block;
	color:#726024;
	font-size:62%;
}

.kv {
	position:relative;
	max-width:1280px;
	min-width:1180px;
	margin:0 auto 75px;
}
/*
.kv h1 {
	padding:87px 0;
	text-align:center;
	background:url(../img/bg_kv_01.jpg) no-repeat center top;
}
*/

.kv .txtBox {
	margin:40px 0 80px;
	letter-spacing:-0.5em;
	text-align:center;
}

.kv .txtBox li {
	display:inline-block;
	margin:0 10px;
	letter-spacing:0;
	vertical-align:top;
}

.kv .news {
	width:980px;
	margin:0 auto;
}

.kv .news h2 {
	padding:5px 0;
	color:#fff;
	font-size:150%;
	text-align:center;
	letter-spacing:1px;
	background:#beaf7a;
}

.kv .news ul {
	padding:20px;
}

.kv .news ul li {
	color:#626262;
	font-size:117%;
	line-height:2.15;
	letter-spacing:1px;
}

.kv .news ul li span {
	display:inline-block;
	width:103px;
}


.outer h2 {
	padding:40px 0;
	color:#fff;
	font-size:250%;
	text-align:center;
	background:linear-gradient(to right bottom, #cfc7aa, #beaf7a);
}

.outer h2 span {
	display:block;
	color:#726024;
	font-size:57%;
}

.outer h3 {
	padding:25px 0 30px;
	color:#877434;
	font-size:250%;
	text-align:center;
	background:#e8e5d9;
}

.outer h3 span {
	display:block;
	margin:-5px 0 0;
	padding:0 0 14px;
	color:#877434;
	font-size:47%;
	background:url(../img/bg_ttl_02.gif) no-repeat center bottom;
}

.about {
	min-width:1180px;
	margin:0 auto;
}

.about p {
	margin:80px 0;
	text-align:center;
}

.box-about{position: relative; width: 980px;margin: 0 auto;}
.box-about .spHide{width: 980px;}
.box-about .btn-banner{position: absolute; right: 310px;bottom: 30px;-webkit-transition: 0.3s ease-in-out;-moz-transition: 0.3s ease-in-out;-o-transition: 0.3s ease-in-out;transition: 0.3s ease-in-out;}
.box-about .btn-banner:hover{opacity: 0.8;filter: alpha(opacity=80);-moz-opacity: 0.8;-webkit-transition: 0.3s ease-in-out;-moz-transition: 0.3s ease-in-out;-o-transition: 0.3s ease-in-out;transition: 0.3s ease-in-out;}

.facility {
	min-width:1180px;
	margin:0 auto;
	text-align:center;
}

.guest .lead {
	margin:70px 0 0;
	font-size:184%;
	font-weight:bold;
	line-height:1.82;
}

.guest .lead span {
	font-size:64%;
	vertical-align:text-top;
}

.guest .note {
	margin:0 0 43px;
	font-size:109%;
	font-weight:bold;
	line-height:1;
}

.guest ul {
	margin:80px 0 100px;
	letter-spacing:-0.5em;
	text-align:center;
}

.guest ul li {
	display:inline-block;
	margin:0 20px 0 0;
	letter-spacing:0;
	vertical-align:top;
}

.guest ul li:last-child {
	margin:0;
}

.relax .ctBox {
	width:980px;
	margin:60px auto 92px;
}

.relax .ctBox .left {
	float:left;
	width:480px;
}

.relax .ctBox .right {
	float:right;
	width:480px;
}

.relax .ctBox h4 {
	margin:0 0 14px;
	font-size:167%;
	font-weight:bold;
	line-height:2;
	border-bottom:1px solid #000;
	text-align:left;
}

.relax .ctBox p {
	font-size:117%;
	line-height:1.72;
	text-align:left;
}

.banquet .inner {
	position:relative;
	width:1180px;
	margin:0 auto 100px;
}

.banquet .lead {
	margin:75px 0 0;
	font-size:184%;
	font-weight:bold;
	line-height:1.82;
}

.banquet .ctBox {
	width:780px;
	margin:70px 0 35px;
}

.banquet .ctBox .left {
	float:left;
	width:380px;
}

.banquet .ctBox .right {
	float:right;
	width:380px;
}

.banquet .ctBox h4 {
	margin:0 0 14px;
	font-size:167%;
	font-weight:bold;
	line-height:2;
	border-bottom:1px solid #000;
	text-align:left;
}

.banquet .ctBox p {
	font-size:117%;
	line-height:1.72;
	text-align:left;
}

.banquet .img01 {
	width:780px;
}

.banquet .img02 {
	position:absolute;
	top:0;
	right:78px;
}

.other .ctBox {
	width:1180px;
	margin:60px auto 100px;
}

.other .ctBox .left {
	float:left;
	width:580px;
}

.other .ctBox .right {
	float:right;
	width:580px;
}

.other .ctBox .right .box-shop span{
	float:left;
  display: inline-block;
  padding-top: 13px;
}
.other .ctBox .right .box-shop img{
	float:left;
  display: inline-block;
  margin-left: 10px;
  width: 45px;
}

.other .ctBox table {
	width:100%;
	border-collapse:collapse;
}

.other .ctBox table th {
	width:180px;
	padding:6px 0;
	font-size:109%;
	line-height:1.85;
	vertical-align:middle;
	text-align:center;
	background:#e8e5d9;
	border:1px solid #cac2a2;
	box-sizing:border-box;
}

.other .ctBox table td {
	padding:6px 10px 6px 20px;
	font-size:109%;
	line-height:1.39;
	text-align:left;
	letter-spacing:-1px;
	vertical-align:middle;
	border:1px solid #cac2a2;
}

.other .ctBox table td p {
	padding:4px 0 4px 100px;
}

.other .ctBox table td p span {
	display:inline-block;
	width:100px;
	margin-left:-100px;
}


.access {
	min-width:1180px;
	margin:0 auto;
	text-align:center;
}

.map .lead {
	margin:75px 0 0;
	font-size:184%;
	font-weight:bold;
	line-height:1.82;
}

.map .ctBox {
	width:1180px;
	margin:80px auto 0;
	padding:0 0 64px;
}

.map .ctBox .left {
	float:left;
	width:580px;
}

.map .ctBox .left p {
	margin:0 0 30px;
}

.map .ctBox .right {
	float:right;
	width:520px;
	padding:30px 0 0;
}

.map .ctBox .right p {
	margin:0 0 36px;
}

.sight ul {
	width:1180px;
	margin:60px auto 0;
	letter-spacing:-0.5em;
	text-align:center;
}

.sight ul li {
	display:inline-block;
	width:268px;
	margin:0 32px 20px 0;
	letter-spacing:0;
	vertical-align:top;
}

.sight ul li:nth-child(4n) {
	margin:0 0 20px;
}

.sight .note {
	width:1180px;
	margin:0 auto;
	padding:18px 0 95px;
	text-align:left;
  font-size: 120%;
  line-height: 1.8;
}


.sight .center {
	margin:0 0 60px;
	text-align:center;
}

#page_top {
	position:fixed;
	bottom:0;
	right:0;
	font-size:11px;
}

#page_top a {
	background:#1a1a1a url(../img/pagetop.png) no-repeat center 20px;
	text-decoration:none;
	color:#fbfbfb;
	width:75px;
	height:70px;
	padding-top:30px;
	text-align:center;
	display:block;
}



/* --------------------------------------------------------------------------------------
 コンテンツスクロール アニメ
--------------------------------------------------------------------------------------- */

.sight ,
.banquet ,
.other ,
.relax ,
#anc01,
#anc02,
#anc03{
opacity: 0;
transition: 1.5s;
}
.active{
opacity: 1.0 !important;
}










