@charset "utf-8";


@import url("sp/jquery-ui.css");

._sp-b{display: block;}
._pc-b{display: none;}

/* 基本フォント ------------------------------ */

body {
	color: #333;
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-size: 75%;
	line-height: 1.5;
	font-feature-setting: "pkna";
}

input,textarea,select {
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-size: 100%;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

.pd_font {
font-family: 'Playfair Display', serif;
}


/* 基本タグ -------------------- */

body,div,
h1,h2,h3,h4,h5,h6,
dl,dt,dd,ul,ol,li,
p,blockquote,pre,cite,code,caption,
form,fieldset,legend,input,textarea,select,option,label {
	margin: 0px;
	padding: 0px;
}



img,table {
	border: none;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

ol,ul {
	list-style: none;
}

address,em,cite {
	font-style: normal;
}

fieldset {
	border: none;
}

article, aside, dialog, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* box-sizing -------------------- */

*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}

/* 基本テキストリンク -------------------- */

a:link {
	color: #333333;
	text-decoration: underline;
}
a:visited {
	color: #333333;
	text-decoration: underline;
}
a:hover {
	color: #333333;
	text-decoration: none;
}
a:active {
	color: #333333;
	text-decoration: none;
}

/* ボタンリンク -------------------- */
.btn{padding: 10px 20px;
    display: block;
    text-decoration: none !important;
    background-color: #947F28;
    color: #fff !important;
    width: 75%;
    text-align: center;
    margin: 0 auto 40px;
    font-size: 13px;
}

.btn:hover{opacity: 0.8;}

/* 非表示 ------------------------------ */

.spHide {
	display: none !important;
}

.pcHide {
	display: block !important;
}

.sp_none {
	display:none;
}

/* ページトップ ------------------------------ */

.pagetop_area {
	margin: 0 3% 0 3%;
	text-align: right;
	font-size: 11px;
}

.pagetop_area p a{
	padding: 3px 0 3px 14px;
	background: url(../img/ico_arw_black02.png) no-repeat 0 center;
	background-size: auto 12px;
}



/* --------------------------------------------------------------------------------------
 float解除
--------------------------------------------------------------------------------------- */

.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: .1em;}
.clearfix { display:inline-block; }
/*\*/
* html .clearfix { height:1%; }
.clearfix { display:block; }
/**/

/* --------------------------------------------------------------------------------------
 header
--------------------------------------------------------------------------------------- */
.yokohama .hd_area,
.yokohama #hd_bnr,
.yokohama .welcome_area {
display: none;
}
/* header ------------------------------ */

.yokohama header {
width: 100%;
height: 54px;
background: #fff;
}

.yokohama header .fix_area{
position: fixed;
top: 0;
width: 100%;
background: #fff;
z-index: 10;
}

.yokohama header .inner{
display: table;
width: 100%;
margin: 0 auto;
}

.yokohama header .inner{
  color: #fff;
  transition: .3s;
}


.yokohama header .logo{
display: table-cell;
width: 62%;
padding: 22px 0 20px 6.4%;
vertical-align: middle;
}

.yokohama header .logo img{
max-width: 180px;
}

.yokohama header .bnr_web{
position: absolute;
top: 0;
right: 15%;
width: 23.4666%;
max-width: 88px;
z-index: 98;
}

/*
.yokohama header .open{
position: absolute;
top: 18px;
right: 4.6%;
width: 5.6666%;
max-width: 21px;
z-index: 100;
}

.yokohama header .open img:first-child{
display: block;
}

.yokohama header .open img:last-child{
display: none;
}

.yokohama header .open.active img:first-child{
display: none;
}

.yokohama header .open.active img:last-child{
display: block;
}

.yokohama header .other_box{
display: none;
position: absolute;
top: 0;
right: 0;
width: 80%;
height: 100%;
padding: 70px 13.809% 0 13.809%;
background-color: rgba(0,0,0,.9);
vertical-align: middle;
font-size: 0;
text-align: left;
z-index: 99;
}

.yokohama header nav{
display: inline-block;
font-size: 0;
vertical-align: top;
}

.yokohama header nav li{
display: block;
margin: 0 0 0 0;
padding: 20px 0;
font-size: 16px;
vertical-align: top;
}

.yokohama header nav li a{
color: #fff;
}
*/
header #nav-toggle {top:15px; width:25px; height:20px; right: 15px; display: none; position: absolute; z-index:99999; cursor: pointer;}
header #nav-toggle div {position: relative;}
header #nav-toggle span {background: rgb(58, 47, 8); transition:0.35s ease-in-out; left: 0px; width: 100%; height: 3px; display: block; position: absolute; -webkit-transition:0s ease-in-out; -moz-transition:0s ease-in-out;}
header #nav-toggle span:nth-child(1) {top: 0px;}
header #nav-toggle span:nth-child(2) {top: 9px;}
header #nav-toggle span:nth-child(3) {top: 18px;}
header #nav-toggle {display: block;}
header .open #nav-toggle span:nth-child(1) {position:relative; top: 9px; transform: rotate(315deg); -webkit-transform: rotate(315deg); -moz-transform: rotate(315deg);}
header .open #nav-toggle span:nth-child(2) {left: 50%; width: 0px;}
header .open #nav-toggle span:nth-child(3) {top: 9px; transform: rotate(-315deg); -webkit-transform: rotate(-315deg); -moz-transform: rotate(-315deg);}
header .open:before{content:""; background:rgba(0,0,0,0.2); top:0; right:0; left:0; bottom:0; z-index:-1; position:fixed; width:100%; height:100%;}

header .open nav{transform: translateY(711px); -webkit-transform: translateY(711px); -moz-transform: translateY(711px);}
header .menu{transition:0.5s ease-in-out; top: -658px; width: 100%; position: absolute; -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out; right: 0; z-index: 4000;}
header .menu ul li{font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-weight:normal; letter-spacing: 0.045em;width:100%; background:rgba(59,47,9,1); border-bottom:1px rgba(255,255,229,1) solid; height:50px; line-height:50px; position:relative; box-sizing:border-box;}
header .menu ul li:after{content:""; display:block; width:10px; height:15px; background:url(/c/resort/makuhari/assets/images/ja/resort_hotels/sp/btn-arrow-sp.png) 0 50% no-repeat; background-size:10px 15px; position:absolute; top:16px; right:25px;}
header .menu ul li:nth-child(n + 10):after{background:none;}
header .menu ul li:nth-child(8){background:rgba(169,25,24,1);}
header .menu ul li:nth-child(1){background:rgba(137,118,52,1); border:none;}
header .menu ul li:nth-child(3){height: 70px; line-height: 24px; padding-top: 12px;}
header .menu ul li:nth-child(3) a i{margin-left: 0;}
header .menu ul li:nth-child(n + 10){background:rgba(242,243,238,1);  border-bottom:1px rgba(59,47,9,1) solid; width:100%;}
/*header .menu ul li:nth-child(n + 10){background:rgba(242,243,238,1);  border-bottom:1px rgba(59,47,9,1) solid; width:50%; float:left;}
header .menu ul li:nth-child(13){width:100%;}
header .menu ul li:nth-child(2n + 11){border-left:1px rgba(59,47,9,1) solid;}*/
header .menu ul li a {font-size:16px; text-align:left; padding:0 25px; color:rgba(255,255,229,1); display:block; text-decoration: none;}
header .menu ul li a i{margin-left:15px; font-size:12px; position:relative; top:-2px; font-style:normal;}
header .menu ul li:nth-child(n + 10) a{text-align:center; color:rgba(59,47,9,1); padding:0;}
header .menu ul li:nth-child(n + 10) a i{margin-left:0; font-size:12px;}
header .box-sns ul{position: absolute;right: 55px;top: 15px;}
header .box-sns ul .image{width: 21px;float: left;}
header .box-sns ul .image:first-child{margin-right: 15px;}
header .box-sns ul .image img{width: 21px;}


.yokohama .sns {
margin: 40px 0;
font-size: 0;
text-align: center;
}

.yokohama .sns li{
display: inline-block;
margin: 0 0 0 14px;
}

.yokohama .outer{background: #fff;}

/* --------------------------------------------------------------------------------------
メインビジュアル
--------------------------------------------------------------------------------------- */
._pc-b{display: none;}
._sp-b{display: block;}

.wrap{width: 100% !important;}
.bx-viewport{margin:0 !important; padding:0 !important; box-shadow:none !important; border:none !important; left:0;}
.bx-wrapper{margin-bottom: 0px; width: 100%;}
.ul.bxslider.top{margin:0; padding:0;}
.visual{width:100%; height:370px; background-size:cover !important;background-position: center center !important;}
.wrap{margin-top:50px;}
.kv h1 {position: absolute;z-index: 99;top: 0;left: 0;right: 0;bottom: 0;margin: auto;width: 270px; max-width: 62vw; height: auto;text-align: center;margin-top: 85px;}


/* --------------------------------------------------------------------------------------
 フッター
--------------------------------------------------------------------------------------- */

.bnr_yoyaku_fix {
position: fixed;
bottom: 0;
right: 0;
z-index: 99;
}

footer {
	margin: 25px 0 0 0;
	padding: 0 0 0;
}

footer a:link {
	color: #333;
	text-decoration: none;
}
footer a:visited {
	color: #333;
	text-decoration: none;
}
footer a:hover {
	color: #76560e;
	text-decoration: underline;
}
footer a:active {
	color: #76560e;
	text-decoration: underline;
}


/* ft_bnr01 ------------------------------ */

footer .ft_bnr01 {
display: none;
}


/* ft_bnr02 ------------------------------ */

footer .ft_bnr02 {
display: none;
}


/* apa_nav ------------------------------ */


footer .apa_nav {
	margin: 0 0 0 0;
	background: #fff;
	font-size: 0;
}

footer .apa_nav p{
	display: none;
}

footer .apa_nav .group_nav02,
footer .apa_nav .network_area{
	display: none;
}

footer .apa_nav ul.group_nav{
	margin: 8px 3% 0 3%;
	padding: 8px 0 8px 0;
}

footer .apa_nav ul.group_nav li{
	display: inline-block;
	width: 31.333%;
	margin: 0 1% 0 1%;
	vertical-align: middle;
}

footer .apa_nav ul.group_nav li img{
	width: 100%;
}

footer .apa_nav .inner_hotel{
	display: none;
}

footer nav {
	width: 100%;
	overflow: hidden;
}

footer nav .other_nav {
	display: table;
	width: 100%;
	border-bottom: 1px #cbcbcb solid;
	border-collapse: collapse;
	background: #fff;
	font-size: 0;
	text-align: center;
}

footer nav .other_nav li{
	display: inline-table;
	width: 50%;
	height: 30px;
	border-top: 1px #cbcbcb solid;
	border-right: 1px #cbcbcb solid;
	border-left: 1px #cbcbcb solid;
	font-size: 10px;
	vertical-align: bottom;
	box-sizing: border-box;
}
footer nav .other_nav li:nth-child(9){
	width: 100%;
}
footer nav .other_nav li:nth-child(10){
	width: 100%;
}
/*
footer nav .other_nav li:last-child{
	width: 100%;
}
*/
footer nav .other_nav li a{
	display: inline-block;
	width: 100%;
	margin: 0 0 0 0;
	box-sizing: border-box;
	vertical-align: bottom;
}

footer nav .other_nav li span{
	display: none;
}

footer small {
	display: block;
	margin: 0 0 -25px 0;
	padding: 15px 0 15px 0;
	background: #fff;
	font-size: 9px;
	text-align: center;
}


footer #hotel_list_box {
	display: none;
}


/* --------------------------------------------------------------------------------------
 contents
--------------------------------------------------------------------------------------- */

.kv {
	position:relative;
	max-width:inherit;
	min-width:inherit;
	margin:0 0 10%;
}

.kv h1 {
	padding:0;
	text-align:center;
	background:none;
}

.kv .txtBox {
	margin:5% 0 10%;
	letter-spacing:0;
	text-align:center;
}

.kv .txtBox li {
	display:block;
	width:75%;
	margin:0 auto 3%;
}

.kv .news {
	width:auto;
	margin:0 auto;
}

.kv .news h2 {
	padding:5px 0;
	color:#fff;
	font-size:150%;
	text-align:center;
	letter-spacing:1px;
	background:#beaf7a;
}

.kv .news ul {
	padding:20px;
}

.kv .news ul li {
	margin:0 0 4%;
	color:#626262;
	font-size:117%;
	line-height:1.5;
	letter-spacing:1px;
}

.kv .news ul li span {
	display:block;
	width:auto;
}


.outer h2 {
	padding:20px 0;
	color:#fff;
	font-size:150%;
	text-align:center;
	background:linear-gradient(to right bottom, #cfc7aa, #beaf7a);
}

.outer h2 span {
	display:block;
	color:#726024;
	font-size:57%;
}

.outer h3 {
	padding:12px 0 15px;
	color:#877434;
	font-size:150%;
	text-align:center;
	background:#e8e5d9;
}

.outer h3 span {
	display:block;
	margin:-3px 0 0;
	padding:0 0 7px;
	color:#877434;
	font-size:47%;
	background:url(../img/bg_ttl_02.gif) no-repeat center bottom;
	background-size:auto 2px;
}

.about {
	min-width:inherit;
	margin:0 auto;
}

.about p {
	margin:0 0 5%;
	text-align:center;
}

.facility {
	min-width:inherit;
	margin:0 auto;
	text-align:center;
}

.guest .lead {
	width:90.625%;
	margin:5% auto 0;
	font-size:125%;
	font-weight:bold;
	line-height:1.82;
}

.guest .lead span {
	font-size:64%;
	vertical-align:text-top;
}

.guest .note {
	margin:1% 0 5%;
	font-size:84%;
	font-weight:bold;
	line-height:1;
}

.guest .txt {
	width:90.625%;
	margin:0 auto;
}

.guest ul {
	margin:6% 0 10%;
	letter-spacing:0;
	text-align:center;
}

.guest ul li {
	display:block;
	width:90.625%;
	margin:0 auto 6%;
}

.guest ul li:last-child {
	margin:0 auto;
}

.relax .ctBox {
	width:auto;
	margin:5% auto 10%;
}

.relax .ctBox .left {
	float:none;
	width:90.625%;
	margin:0 auto 6%;
}

.relax .ctBox .right {
	float:none;
	width:90.625%;
	margin:0 auto;
}

.relax .ctBox h4 {
	margin:0 0 14px;
	font-size:150%;
	font-weight:bold;
	line-height:2;
	border-bottom:1px solid #000;
	text-align:left;
}

.relax .ctBox p {
	font-size:100%;
	line-height:1.72;
	text-align:left;
}

.banquet .inner {
	position:relative;
	width:auto;
	margin:0 auto 10%;
}

.banquet .lead {
	width:90.625%;
	margin:5% auto 0;
	font-size:125%;
	font-weight:bold;
	line-height:1.82;
}

.banquet .ctBox {
	width:auto;
	margin:8% 0 5%;
}

.banquet .ctBox .left {
	float:none;
	width:90.625%;
	margin:0 auto 6%;
}

.banquet .ctBox .right {
	float:none;
	width:90.625%;
	margin:0 auto 6%;
}

.banquet .ctBox h4 {
	margin:0 0 14px;
	font-size:150%;
	font-weight:bold;
	line-height:2;
	border-bottom:1px solid #000;
	text-align:left;
}

.banquet .ctBox p {
	font-size:100%;
	line-height:1.72;
	text-align:left;
}

.banquet .img01 {
	width:90.625%;
	margin:0 auto 6%;
}

.banquet .img02 {
	position:static;
	width:45.3125%;
	margin:0 auto;
}

.other .ctBox {
	width:auto;
	margin:5% auto 10%;
}

.other .ctBox .left {
	float:none;
	width:auto;
}

.other .ctBox .right {
	float:none;
	width:auto;
}

.other .ctBox .right .box-shop span{
	float:left;
  display: inline-block;
  padding-top: 19px;
}
.other .ctBox .right .box-shop img{
	float:left;
  display: inline-block;
  margin-left: 10px;
  width: 50px;
}

.other .ctBox table {
	width:90.625%;
	margin:0 auto 6%;
	border-collapse:collapse;
}

.other .ctBox table th {
	width:105px;
	padding:3px 0;
	font-size:84%;
	line-height:1.85;
	vertical-align:middle;
	text-align:center;
	background:#e8e5d9;
	border:1px solid #cac2a2;
	box-sizing:border-box;
}

.other .ctBox table td {
	padding:3px 10px;
	font-size:84%;
	line-height:1.39;
	text-align:left;
	letter-spacing:-1px;
	vertical-align:middle;
	border:1px solid #cac2a2;
}

.other .ctBox table td p {
	padding:2px 0 2px 70px;
}

.other .ctBox table td p span {
	display:inline-block;
	width:70px;
	margin-left:-70px;
}

.access {
	min-width:inherit;
	margin:0 auto;
	text-align:center;
}

.map .lead {
	width:90.625%;
	margin:5% auto 0;
	font-size:125%;
	font-weight:bold;
	line-height:1.82;
}

.map .ctBox {
	width:90.625%;
	margin:5% auto 0;
	padding:0 0 8%;
}

.map .ctBox .left {
	float:none;
	width:auto;
}

.map .ctBox .left p {
	margin:0 0 6%;
}

.map .ctBox .right {
	float:none;
	width:auto;
	padding:0;
}

.map .ctBox .right p {
	margin:0 0 6%;
}

.sight ul {
	width:90.625%;
	margin:5% auto 0;
	letter-spacing:-0.5em;
	text-align:center;
}

.sight ul li {
	display:inline-block;
	width:48%;
	margin:0 4% 4% 0;
	letter-spacing:0;
	vertical-align:top;
}

.sight ul li:nth-child(2n) {
	margin:0 0 4%;
}

.sight .note {
	width:90.625%;
	margin:0 auto;
	padding:3% 0 10%;
	font-size:90%;
	text-align:left;
}

.sight .center {
	width:90.625%;
	margin:0 auto 8%;
	font-size:84%;
	text-align:center;
}

.sight .bnr {
	width:90.625%;
	margin:0 auto;
}

#page_top {
	position:fixed;
	bottom:0;
	right:0;
	font-size:11px;
}

#page_top a {
	background:#1a1a1a url(../img/pagetop.png) no-repeat center 20px;
	text-decoration:none;
	color:#fbfbfb;
	width:75px;
	height:70px;
	padding-top:30px;
	text-align:center;
	display:block;
}


/* --------------------------------------------------------------------------------------
 コンテンツスクロール アニメ
--------------------------------------------------------------------------------------- */
.sight ,
.banquet ,
.other ,
.relax ,
#anc01,
#anc02,
#anc03{
opacity: 0;
transition: 1.5s;
}
.active{
opacity: 1.0 !important;
}










