@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);

BODY  {
  background:#fff;
  font-style:normal;
  font-weight:normal;
  text-indent:0pt;
  letter-spacing:0em;
  color:$basefontcolor;
  font-size:100%;
  line-height:1.4;
  margin:0;
  padding:0;
  font-family: "Noto Sans CJK JP", sans-serif; 
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings : "palt";
}

a { outline: none; }
a:link { color: #333; text-decoration: none; }
a:visited { color: #333; text-decoration: none; }
a:hover { color: #333; text-decoration: none; opacity: 0.8;}
a:active { color: #333; text-decoration: none; }


/*--header--*/
/*
header {background-color: #000;}
header .contentsbase {position: relative;height: 110px;}
.contentsbase {min-width: 1000px;width: 1000px;margin: 0 auto;}
header #logo {width: 297px;height: 67px;background: url(../img/apa-partner-logo.png) 0 0 no-repeat;text-indent: -9999px;position: absolute;top: 25px;left: 0;}
header #header-linkbox {width: calc(100% - 297px);position: absolute;top: 17px;right: 0;text-align: right;}
header #header-linkbox .box-logo {clear: both;position: relative;top: -6px;}
header #header-linkbox .box-logo p {font-size: 0.8em;float: left;color: #fff;position: relative;left: 190px;top: 10px;}
header #header-linkbox .box-logo a {display: inline-block;width: 37%;}
header #header-linkbox .box-logo .logo-apahotel {background: url(../img/header-hotel_resorts_pc.png) center 0 no-repeat;background-size: auto auto;background-size: contain;text-indent: -9999px;width: 100%;margin: 0 auto;min-height: 40px;min-width: 70%;display: inline-block;}
header #header-linkbox p.inquiry {background-color: #947F28;display: inline-block;border-radius: 5px;}
header #header-linkbox p.inquiry a {padding: 10px;font-size: 0.8em;color: #ffffff;display: block;}
*/
header {background-color: #000;}
header .contentsbase {position: relative;height: 110px;z-index: 100;}
.contentsbase {min-width: 1000px;width: 1000px;margin: 0 auto;}
header #logo {width: 10%;height: 85px;background: url(../img/apa-partner-logo.png) 0 0 no-repeat;background-position-y: 0px;background-size: auto auto;text-indent: -9999px;position: absolute;top: 25px;left: 0;background-size: 80px;}
header #header-linkbox {width: calc(100% - 297px);position: absolute;top: 17px;right: 0;text-align: right;}
header #header-linkbox .box-logo {clear: both;position: relative;top: -6px;}
header #header-linkbox .box-logo p {font-size: 13px;float: left;color: #fff;position: relative;left: 190px;top: 10px;}
header #header-linkbox .box-logo a {display: inline-block;width: 37%;}
header #header-linkbox .box-logo .logo-apahotel {background: url(../img/header-hotel_resorts_pc.png) center 0 no-repeat;background-size: auto auto;background-size: contain;text-indent: -9999px;width: 100%;margin: 0 auto;min-height: 40px;min-width: 70%;display: inline-block;}
header #header-linkbox .box-logo .logo-apahotel span{display: none;}
header #header-linkbox p.inquiry {background-color: #947F28;display: inline-block;border-radius: 5px;}
header #header-linkbox p.inquiry a {padding: 10px;font-size: 14px;color: #ffffff;display: block;}
header #header-linkbox a:link { color: #fff; text-decoration: none; }
header #header-linkbox a:visited { color: #fff; }
header #header-linkbox a:hover { color: #fff; text-decoration: none; }
header #header-linkbox a:active { color: #fff; text-decoration: none; }
.navToggle { display: none; }
nav.globalMenuSp { display: none; }
/*--header--*/

/*-- tab --*/
.tab{width: 100%; /*border-bottom: 1px solid #eee;*/position: relative;top:2px; z-index: 100; }
.tab ul.btns{overflow: hidden; margin: 0 auto;width: 741px;}
.tab ul.btns li{position: relative;float: left;width: 50%; box-sizing: border-box;background-color: rgba(220,220,220,0.9);color: #848484; border: 1px solid #eee;}
.tab ul.btns li a{color: #848484; border-top: 4px solid rgba(220,220,220,0.9);border-bottom: 1px solid #fff;}
.tab ul.btns li.active{border-bottom: none;}
.tab ul.btns li.active a{color: #C7A956;background: #fff; border-top: 4px solid #C7A956 !important; }
.tab ul.btns li:first-child:before{border-bottom: 1px solid #eee;}
.tab ul.btns li a{display: block;padding: 20px;}
.tab ul.btns li:hover{opacity: 0.8;}
/*-- tab --*/

/*-- footer --*/
.footer {
    background-color: #000;
    padding: 40px 0;
    text-align: center;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    clear: both;
}
.wrap {
    margin: auto;
    width: 94%;
    max-width: 1000px;
}
.ft-links {
    margin: 0 0 30px 0;
    overflow: hidden;
}
.ft-links ul li {
    float: left;
    width: 25%;
    padding: 0 10px;
    vertical-align: middle;
    line-height: 12px;
    font-size: 16px;
}
.ft-links ul li a {
    display: block;
}
.ft-links ul li a img {
    width: 100%;
    display: block;
}
.ft-banner {
    display: none;
}
.ft-menu {
    margin: 0 0 10px 0;
}
.link-tabs ul, .link-menu ul, .fi-sns-login ul, .footer ul, .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.ft-menu ul li {
    display: inline-block;
    line-height: 1;
    font-size: 11px;
}
.ft-menu ul li a {

    display: block;
    border-right: solid 1px #fff;
    padding: 0 10px;
    text-decoration: none;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}
.ft-menu ul li:last-child a {
    border-right: none;
}
.ft-sns {
    margin: 12px 0;
    font-size: 0;
    text-align: center;
    position: relative;
}
.ft-sns > div {
    display: inline-block;
}
.ft-sns img {
    width: 40px;
}
.ft-sns > div + div {
    margin-left: 12px;
}
.ft-sns iframe {
}

.fb_iframe_widget span {
    display: inline-block;
    position: relative;
    text-align: justify;
    height: 0px !important; 
}
.ft-copyright {
    font-size: 12px;
}
/*-- footer --*/


.contentsbase{
  width:1000px;
  margin:0 auto;
}
#pageTop { position: fixed; bottom: 20px; right: 20px;z-index: 1000; }
#pageTop a { display: block; z-index:1000; padding: 5px 0 0 0; width: 50px; height: 40px; background-color: #947F28; opacity: 0.5; color: #fff; font-weight: bold; text-decoration: none; text-align: center; }
#pageTop a:hover { text-decoration: none; opacity: 0.7; }

h2{
    margin: 20px 0 20px 0;
    font-weight: normal;
    color: #C7A956;
    font-size: 18px;
    padding: 0;
}
.page-container {
    padding: 50px 0 0;
}

.center{
  text-align:center;
}
/* -------------------------------sp--------------------------------------------- */
@media screen and (max-width: 800px) {
/*-- tab --*/
.tab{width: 95%; /*border-bottom: 1px solid #eee;*/position: relative;top:2px; z-index: 100; margin: 0 auto;}
.tab ul.btns{overflow: hidden; margin: 0 auto;width: 100%;padding-top: 90px;margin-top: -90px !important;}
.tab ul.btns li{position: relative;float: left;width: 50%; box-sizing: border-box;background-color: rgba(220,220,220,0.9);color: #848484; border: 1px solid #eee;}
.tab ul.btns li a{color: #848484; }
.tab ul.btns li.active{border-bottom: none;}
.tab ul.btns li.active a{color: #C7A956;background: #fff;}
.tab ul.btns li:first-child:before{border-bottom: 1px solid #eee;}
.tab ul.btns li a{display: block;padding: 20px;}
.tab ul.btns li:hover{opacity: 0.8;}
.contentsbase.inner{border-top: 1px solid #eee;z-index: -100; width: 100%;padding: 0 2.5%;}
.txt_box03 .indent_box01 {margin-bottom: 20px !important;}

}

@media screen and (max-width: 740px) { nav.globalMenuSp { display: block; position: fixed; z-index: 9999; top:60px; left: 0; background: #fff; color: #333; text-align: center; transform: translateY(-140%); transition: all 0.6s; width: 100%;z-index: 100; }
  nav.globalMenuSp.active { transform: translateY(0%); }
  nav.globalMenuSp p { padding: 10px 0; color: #573200; background-color: #fff; }
  nav.globalMenuSp ul { background: #ededed; margin: 0 auto; padding: 0; width: 100%; }
  nav.globalMenuSp ul li { font-size: 16px; list-style-type: none; width: 100%; text-align: left; border-bottom: 1px #cbcbcb solid; }
  nav.globalMenuSp ul li a { display: block; color: #333; padding: 0.7em; }
  nav.globalMenuSp .box-logo p{font-size: 16px;}
  nav.globalMenuSp .box-logo a{display: inline-block; width: 50%;}
  nav.globalMenuSp .box-logo .logo-apahotel{background: url(../img/header-hotel_resorts_sp.png) center 0 no-repeat;background-size: contain;text-indent: -9999px;width: 100%;margin: 0 auto;min-height: 40px;min-width: 70%;display: inline-block;}
  header { position: fixed; width: 100%; margin-bottom: 110px;}
  header #logo { width: 13%; height: 41px; background-size: contain; top: 16px; z-index: 200;max-width: 55px;}
  .navToggle { display: block; position: absolute; right: -10px; top: 10px; width: 42px; height: 42px; cursor: pointer; z-index: 3; background: #000; text-align: center; }
  .navToggle span { display: block; position: absolute; width: 30px; border-bottom: solid 3px #947F28; -webkit-transition: .35s ease-in-out; -moz-transition: .35s ease-in-out; transition: .35s ease-in-out; left: 6px; }
  .navToggle span:nth-child(1) { top: 9px; }
  .navToggle span:nth-child(2) { top: 18px; }
  .navToggle span:nth-child(3) { top: 27px; }
  /* 最初のspanをマイナス45度に */
  .navToggle.active span:nth-child(1) { top: 18px; left: 6px; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg); }
  /* 2番目と3番目のspanを45度に */
  .navToggle.active span:nth-child(2), .navToggle.active span:nth-child(3) { top: 18px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); transform: rotate(45deg); }
  .contentsbase { min-width: 90%; width: 90%; margin: 0 auto; }
  #bottombox-yellow, #bottombox-black, footer { min-width: 90%; }
  #bottombox-black .contentsbase { padding-bottom: 0; }
  header{z-index: 200;}
  header #header-linkbox { display: none; }
  header .contentsbase {position: relative;height: 60px;}
  .contentsbase.main{padding-top: 65px;}
}

@media screen and (max-width: 740px) {
.contentsbase  {
  width:95%;
}
.ft-links {
    display: none;
}
.ft-menu, .ft-sns, .pc {
    display: none !important;
}
#header--inner h1 img{
  width:100%;
  height:auto;
}
.footer {
    padding: 0 0 30px 0;
}
.wrap {
    padding: 0;
}

.ft-banner {
    display: block;
    border-bottom: solid 1px #fff;
}
.ft-copyright {
    padding: 30px 10px 0 10px;
}

}



@media screen and (max-width: 480px) {
.wrap {padding: 0 20px;width: 100%;}
.page-container {padding: 30px 0 0px;}
/*-- tab --*/
.tab{width: 95%; /*border-bottom: 1px solid #eee;*/position: relative;top:2px; z-index: 100; margin: 0 auto;}
.tab ul.btns{overflow: hidden; margin: 0 auto;width: 100%;}
.tab ul.btns li{position: relative;float: left;width: 50%; box-sizing: border-box;background-color: rgba(220,220,220,0.9);color: #848484; border: 1px solid #eee;}
.tab ul.btns li.active{border-bottom: none;}
.tab ul.btns li.active a{color: #C7A956;background: #fff;padding: 12px 0px; }
.tab ul.btns li:first-child:before{border-bottom: 1px solid #eee;}
.tab ul.btns li a{display: block;padding: 5px;color: #848484; font-size: 12px; text-align: center;padding: 12px 0px; }
.tab ul.btns li:hover{opacity: 0.8;}
nav.globalMenuSp .box-logo p {font-size: 12px;}
/*-- tab --*/



}
