img{
  border:0;
  padding:0;
  margin:0;
  vertical-align: top;
}
*{ padding:0; margin:0;}
table{
  font-size:1em; 
  border-collapse: collapse;
}
/* clearfix */
.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   height: 0;
   overflow:hidden;
font-size:0.1em;
line-height:0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1% }
.clearfix {display:block;}
.mt-5{  margin-top:5px;}
.mb-5{  margin-bottom:5px;}
.mtb-5{ margin-top:5px;margin-bottom:5px;}
.mt-10{ margin-top:10px;}
.mb-10{ margin-bottom:10px;}
.mtb-10{  margin-top:10px;margin-bottom:10px;}
.mt-15{ margin-top:15px;}
.mb-15{ margin-bottom:15px;}
.mtb-15{  margin-top:15px;margin-bottom:15px;}
.mt-20{ margin-top:20px;}
.mb-20{ margin-bottom:20px;}
.mtb-20{  margin-top:20px;margin-bottom:20px;}
.mt-25{ margin-top:25px;}
.mb-25{ margin-bottom:25px;}
.mtb-25{  margin-top:25px;margin-bottom:25px;}
.mt-40{ margin-top:40px;}
.mb-40{ margin-bottom:40px;}
.pr-10{ padding-right:10px;}
.pl-10{ padding-left:10px;}
.prl-10{ padding-right:10px;padding-left:10px;}
.righttext{ text-align:right;}
.centertext{ text-align:center;}
.text_mini{ font-size:0.8em; }
.pc_block{display:block}
.sp_block{display:none}
.br-pc{display:inline-block}
.br-sp{display:none}

/* SELF CLEARING FLOATS - CLEARFIX METHOD */
.container:after,
.row:after, 
.col:after, 
.clr:after, 
.group:after { 
  content: ""; 
  display: table; 
  clear: both; 
}

/*  DEFAULT ROW STYLES 
  Set bottom padding according to preference */
.row { padding-bottom: 0em;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}

@media screen and (max-width: 740px) {
#wrapper,#header,#globalmenu {
  width: 100% }
.sp_block{display:block;}
.pc_block{display:none;}
.br-pc{display:none}
.br-sp{display:inline-block}
 }
