@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);

BODY  {
  background:#fff;
  font-style:normal;
  font-weight:normal;
  text-indent:0pt;
  letter-spacing:0em;
  color:$basefontcolor;
  font-size:100%;
  line-height:1.4;
  margin:0;
  padding:0;
  font-family: "Noto Sans CJK JP", sans-serif; 
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings : "palt";
}

a { outline: none; }
a:link { color: #333; text-decoration: none; }
a:visited { color: #333; text-decoration: none; }
a:hover { color: #333; text-decoration: none; }
a:active { color: #333; text-decoration: none; }

header{
  background-color:#000;
  padding:10px 0;
  color:#fff;
}
#header--inner{
  width:1000px;
  margin:0 auto;
  text-align:left;
}
#header--inner h1{
  text-align:center;
  padding:10px 0;
}
#header--inner h1 img{
  height:70px;
  width:auto;
}
footer{
  background-color:#000;
  padding:60px 0;
  margin-top:40px;
}
footer p{
  text-align:center;
  color:#fff;
  font-size:0.9em;
}
.contentsbase{
  width:1000px;
  margin:0 auto;
}
#pageTop { position: fixed; bottom: 20px; right: 20px; }
#pageTop a { display: block; z-index: 999; padding: 5px 0 0 0; width: 50px; height: 40px; background-color: #947F28; opacity: 0.5; color: #fff; font-weight: bold; text-decoration: none; text-align: center; }
#pageTop a:hover { text-decoration: none; opacity: 0.7; }

h2{
    margin: 0 0 20px 0;
    font-weight: normal;
    color: #C7A956;
    font-size: 22px;
    padding: 0;
}
.page-container {
    padding: 50px 0;
}

.center{
  text-align:center;
}
/* -------------------------------sp--------------------------------------------- */
@media screen and (max-width: 740px) {
#header--inner , .contentsbase  {
  width:95%;
}
#header--inner h1 img{
  width:100%;
  height:auto;
}
}