body {
  margin: 0;
}
 
@media (max-width: 1024px) {
  body {
    min-width: 100%;
  }
}
 
h1, h2, h3, h4, h5, h6 {
  line-height: 2;
  margin-top: 0px;
  margin-bottom: 0px;
}
 
@media (max-width: 1024px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.6;
  }
}
@media (max-width: 740px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }
}
 
h1, h2, h3, h4, h5, h6,
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary,
div, span,
p,
ul, ol, li,
dl, dt, dd,
table, tr, th, td,
a, img,
*:after, *:before {
  box-sizing: border-box;
}
 
figure {
  margin: 0;
  padding: 0;
}
 
p,
li,
dl,
table {
  line-break: strict;
  word-break: break-strict;
  word-wrap: break-word;
  font-size: 1em;
  margin: 0px;
}
 
small {
  font-size: 12px;
}
 
@media (max-width: 1024px) {
  p,
  li,
  dl,
  table {
    line-height: 1.7;
  }
}
@media (max-width: 740px) {
  p,
  li,
  dl,
  table {
    line-height: 1.5;
  }
}
 
tr {
  word-break: break-all;
}
.nw {
  white-space: nowrap;
}
 
img {
  vertical-align: bottom;
  max-width: 100%;
}
 
::selection {
  background: #7cc6cf;
  color: #ffffff;
}
 
::-moz-selection {
  background: #7cc6cf;
  color: #ffffff;
}
 
a {
  background: transparent;
  text-decoration: none;
  color: #2a3297;
  transition: 0.3s;
}
 
a:focus{
	outline:none;
}
 
a:hover {
  text-decoration: underline;
}
 
.cfx:after {
  content: "";
  display: block;
  clear: both;
}
.cfxo {
  overflow: hidden;
}
ul,
.li_none {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
 
dd {
  margin-left: 0;
}
.ul{
  list-style-type: disc;
  margin: 1em 0;
  padding-left: 40px;
}
 
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
 
select option {
  padding: 0px 5px;
}
 
form label {
  cursor: pointer;
}
 
input:placeholder {
  color: #999;
}
 
input:-ms-input-placeholder {
  color: #999;
}