@charset "utf-8";

/*==================================================================
	基本テキスト
===================================================================*/

body {
	color: #111;
	line-height: 1.8;
	-webkit-text-size-adjust: 100%; /*スマホ横向きテキスト*/
	/*letter-spacing: 1px;*/
	font-family: Lato, Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; /*ゴシック体*/
	/*font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", "MS 明朝", serif; /*明朝体*/
}

a:link,
a:visited,
a:hover,
a:active {
	color:#111;
	/*text-decoration: none;*/
}

.current {
	cursor:default;
}

/*==================================================================
	基本デザイン
===================================================================*/

body {
	background:#e9ecf4;
}

#wrap {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
}

header,
#navi,
#title_area,
#under_area,
footer {
	width: auto;
}

#tag {
	display:none;
}

.inner {
	width:1000px;
	margin:0 auto;
	position: relative;
}


/*---------------------------------
 レスポンシブ対応
--------------------------------*/
img {
	max-width: 100%;
	width: auto\9;/*IE8 max-widthバグへの対応*/
	height: auto;
}

.txt {
	text-align: center;/*コピーセンターリング*/
}

.inline_block li {
	display: inline-block;
 	*display: inline;
 	*zoom: 1;
}

.txt_l {
	float: left;
	width: 65%;
}

.img_r {
	float: right;
	width: 30%;
}

.img_l {
	float: left;
	width: 30%;
}

.txt_r {
	float: right;
	width: 65%;
}

.content2,
.content3,
.content4 {
	overflow: hidden;
}

.content2_1,
.content2_2 {
	width: 49%;
	float: left;
}

.content2_1 {
	margin-right: 2%;
}

.content3_1,
.content3_2,
.content3_3 {
	width: 32%;
	float: left;
	margin-bottom:20px;
}

.content3_2 {
	margin-right: 2%;
	margin-left: 2%;
}

.content4_1,
.content4_2,
.content4_3,
.content4_4 {
	width: 23.5%;
	float: left;
	margin-bottom:20px;
}

.content4_1,
.content4_2,
.content4_3 {
	margin-right: 2%;
}

.pc {
	display: block !important;
}

.smp {
	display: none !important;
}


/* --------------------------------------------------------------------------------------
 ヘッダー
--------------------------------------------------------------------------------------- */

header {
	width: 100%;
	height:15px;
	background: #eb5c08;
}

h1 {
	display:none;
	position: absolute;
	top: 14px;
	right: 0px;
}

#hnavi {
	position: absolute;
	top: 10px;
	right: 0px;
}

#hnavi li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	background-color: #34321b;
    background: -moz-linear-gradient(top, #55502b, #34321b); /* mozilla */
    background: -webkit-gradient(linear, center top, center bottom, from(#55502b), to(#34321b)); /* Webkit */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FF55502b', endColorstr='#FF34321b'); /* IE5.5以上 */
}

#hnavi li a{
	display:block;
	padding: 3px 30px;
}

/*
.social-icon a {
	display: block;
	margin: 0 10px;
	padding: 0;
	color: #fbfbfb;
	font-size: 7px;
}

.social-icon i {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #d3d4d6;
	line-height:26px;
	text-align:center;
}

.social-icon i:hover {
	background: #afb0b1;
}
*/

/* --------------------------------------------------------------------------------------
 ナビゲーションメニュー
--------------------------------------------------------------------------------------- */

#navi_btn {
	display :none;
}

#navi {
	padding: 12px 0;
}

#navi ul li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 0 10px 0 15px;
	line-height: 1;
	font-size:93%;
	color: #fff;
	border-left: solid 1px #fff;
}

#navi ul li:first-child {
	border-left: none;
}

#smp_hnavi {
	display :none;
}


/* --------------------------------------------------------------------------------------
 コンテンツエリア
--------------------------------------------------------------------------------------- */

#contents .inner {
	padding: 50px 0;
}
/*
#title_area {
	padding: 25px 0;
	border-bottom: #d1d1d1 1px solid;
	line-height: 0;
}

#title_area .inner .pan_navi {
	position: absolute;
	top: 0px;
	right: 0px;
	color: #666666;
	font-size: 77%;
}

#under_area .inner {
	padding: 0 0 30px 0;
	width: 626px;
	margin: 0 auto;
	overflow: hidden;
}

#under_area li {
	float: left;
	margin-right:20px;
}

#under_area li:last-child {
	margin-right:0px;
}
*/

/* --------------------------------------------------------------------------------------
 フッターナビ
--------------------------------------------------------------------------------------- */
#footer_navi {
	text-align: center;
	margin: 10px 0;
	display:none;
}

#footer_navi ul li {
	display: inline-block;
	*display: inline;
	*margin-bottom: 12px;
	padding: 0 10px 0 15px;
	line-height: 1.2;
	font-size: 86%;
	border-left: solid 1px #7b7b7b;
	*zoom: 1;
}

#footer_navi ul li:first-child {
	border-left: none;
}

/* --------------------------------------------------------------------------------------
 フッター
--------------------------------------------------------------------------------------- */

footer {
	background: #0b1939;
	padding: 30px 0;
	color:#fff;
}

footer p a:link,
footer p a:visited {
	color:#fff;
}

#footer_tel p {
	/*
	display: inline-block;
	*display: inline;
	*zoom: 1;
	*/
	margin: 0 10px;
	padding: 0px;
}

#footer_tel_num{
	font-size: 36px;
	line-height:0.6;
	padding:15px 0;
}

#footer_tel_num p{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align:middle;
}

#footer_tel_num a{
	color:#fbfbfb;
}

#footer_tel .btn_inq{
	border:#fff 1px solid;
	width:300px;
	margin:20px auto 20px;
}
#footer_tel .btn_inq a{
	display:block;
	padding:3px 0;
}

#ft_logo {
	padding:40px 0 0;
}

#ft_logo li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-right: 50px;
}

#ft_logo li:last-child {
	margin-right: 0px;
}

#copyright {
	position: absolute;
	bottom: 15px;
	right: 250px;
	/*border-top:#60c3f0 1px solid;*/
	font-size: 11px;
}

/* ページトップへ -------------------- */
#page_top {
	position: fixed;
	bottom: 0;
	right: 0px;
	font-size: 11px;
}

#page_top a {
	background:#1a1a1a url(../../img/pagetop.png) no-repeat center 20px;
	text-decoration: none;
	color: #fbfbfb;
	width: 75px;
	height: 70px;
	padding-top:30px;
	text-align: center;
	display: block;
}

#page_top a:hover {
	background:#393939 url(../../img/pagetop.png) no-repeat center 20px;
	text-decoration: none;
}


/*-----------------------------------------------------	*/
/*	for - 1000px					*/
/*-----------------------------------------------------	*/

@media screen and (max-width: 1000px) {

.inner {
	width: 100%;
}

#hnavi {
	right:70px;
}

#navi {
	overflow: hidden;
	width: 100%;
	text-align:center;
	padding: 50px 0 0;
}

#navi,
#smp_hnavi {
	font-size:0;
}

#navi ul {
	display: none;
}

#navi ul li,
#smp_hnavi ul li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 49.9%;
    vertical-align: middle;
	line-height:1.5;
	border-bottom: solid 1px #fbfbfb;
	border-left: none;
	padding: 0;
	background:#000;
}

#navi ul li:nth-child(odd),
#smp_hnavi ul li:nth-child(odd) {
	border-right: solid 1px #fbfbfb;
}

#navi ul li a,
#smp_hnavi ul li a {
	display:block;
	padding:10px;
	text-decoration:none;
	font-size:13px;
	color: #fff;
	text-align:center;
}

#navi ul li a:hover,
#smp_hnavi ul li a:hover {
	background: #333;
}

#navi ul li br{
	display:none;
}

#navi_btn {
	display: block;
	position:absolute;
	top:5px;
	right:10px;
}

#navi_btn a {
	display: block;
	background: url(../../img/navi_smp.png) no-repeat;
	background-size:contain;
	text-align:right;
	width: 40px;
	height: 40px;
	margin: 0 0 10px 0;
}

#navi_btn .current {
	cursor: auto;
}

#navi .sub_nav{
	display: none;
}

#ft_logo {
	padding:40px 0 20px;
}

#copyright {
	position: relative;
	bottom: 0;
	right: 0;
}
}


/*-----------------------------------------------------	*/
/*	for - 767px					*/
/*-----------------------------------------------------	*/

@media screen and (max-width: 767px) {

#hnavi {
	display:none;
}

#smp_hnavi {
	display: block;
}

img.fit{
	width: 100%;
}

#ft_logo {
	padding:20px 0;
}
	
#ft_logo li {
	display: block;
	margin-right: 0px;
	margin-top: 20px;
}
}


/*-----------------------------------------------------	*/
/*	for - 479px					*/
/*-----------------------------------------------------	*/

@media screen and (max-width: 479px) {

#logo {
	top:20px;
	max-width: 60%;
}

#hnavi .ico1 {
	display:none;
}

#navi ul li {
	width: 50%;
}

#smp_hnavi ul li {
	width: 100%;
}

#smp_hnavi ul li:nth-child(odd){
	border-right:none;
}

#smp_hnavi li a {
	padding:12px 20px;
}


#title_area .inner .pan_navi {
	display: none;
}

#under_area .inner li {
	width: 100%;
}

#under_area .inner li {
	float: none;
	width: 100%;
	text-align:center;
}

.txt{
	text-align:left;
}

.nobr {
	display:none;/*改行無視*/
}


}
