﻿
/* --------------------------------------------------------------------------------------
 トップページ
--------------------------------------------------------------------------------------- */

/* ------ Mainvisual ------ */

#mainvisual {
	width: 100%;
	overflow: hidden;
}

#mainvisual .img {
	width: 1200px;		/* 画像の幅 */
	margin-left: -600px;	/* -(画像の幅÷2) */
	padding-left: 50%;
}

/* ------ Contents ------ */

/*
.waku {
	background-image: url(../images/body_bg.gif);
	margin-bottom: 30px;
	padding: 0 30px 20px;
	border-top: none;
	border-bottom: solid 1px #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 7px rgba(0,0,0,0.15) inset;
	box-shadow: 0px 1px 7px rgba(0,0,0,0.15) inset;
}
*/

/* ------ Left Column ------ */

#left-column {
	float: left;
	width: 670px;
	padding-bottom: 20px;
}

article section h2 {
	margin: 0 0 20px;
	font-size: 100%;
	font-weight: bold;
	line-height: 180%;
	color: #000;
	border-bottom:#cccccc 1px solid;
}

.news-box {
	font-size: 83%;
	color: #555;
	line-height: 160%;
}

.news-box dt {
	float: left;
	width: 10em;
}

.news-box dd {
	margin-left: 10em;
}

/* ------ Right Column ------ */

#right-column {
	float: right;
	width: 260px;
}

#right-column .ad {
	margin-bottom: 20px;
	padding: 0;
}

#right-column .ad li {
	padding-bottom: 10px;
	text-align: center;
}


/*-----------------------------------------------------	*/
/*	for - 979px					*/
/*-----------------------------------------------------	*/

@media screen and (max-width: 979px) {

#mainvisual .img {
	width: 122%;		/* 画像の幅÷980 */
	margin-left: -61%;	/* -(画像の幅÷980÷2) */
}

#left-column {
	width: 67%;
}

#right-column {
	width: 30%;
}
}


/*-----------------------------------------------------	*/
/*	for - 767px					*/
/*-----------------------------------------------------	*/

@media screen and (max-width: 767px) {

#left-column {
	width: 100%;
	margin-bottom:30px;
}

#right-column {
	width: 100%;
}
}


/*-----------------------------------------------------	*/
/*	for - 479px					*/
/*-----------------------------------------------------	*/

@media screen and (max-width: 479px) {

.waku {
	margin-bottom: 20px;
	padding: 0 20px 20px;
}

#left-column {
}

.news-box dt {
	float: none;
	width: auto;
}

.news-box dd {
	margin: 0 0 10px 0;
}

#right-column {
	*margin-bottom: 0;
}

#right-column-inner {
	width: 100%;
}

#right-column .ad {
	margin-right: 0;
	padding: 10px 10px 0;
}
}
