@charset "utf-8";

/*==================================================================
	
	default.css (ver 1.4.1)
	
	1: reset styles
	2: font setting
	3: text setting
	4: clearfix
	5: layout styles
	
===================================================================*/

/*==================================================================
	1: reset styles
===================================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
embed, ruby{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}

ol, ul{
	list-style:none;
}

blockquote, q{
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content:'';
	content:none;
}

table{
	border-collapse:collapse;
	border-spacing:0;
}

img{
	vertical-align:bottom;
}


/*==================================================================
	2: font setting
===================================================================*/
body{ font:13px/1.231 'メイリオ','ＭＳ Ｐゴシック',sans-serif; *font-size:small; *font:x-small; }
select, input, button, textarea, button{ font:99% arial,helvetica,clean,sans-serif; }
table{ font-size:inherit; font:100%; }
pre, code, kbd, samp, tt{ font-family:monospace; *font-size:108%; line-height:1; }


/*==================================================================
	3: text setting
===================================================================*/
/*
10px = 77%     11px = 85%     12px = 93%     13px = 100%
14px = 108%    15px = 116%    16px = 123.1%  17px = 131%
18px = 138.5%  19px = 146.5%  20px = 153.9%  21px = 161.6%
22px = 167%    23px = 174%    24px = 182%    25px = 189%    26px = 197%
*/
.f10{ font-size:77%; }  /* renders 10px */
.f11{ font-size:85%; }  /* renders 11px */
.f12{ font-size:93%; }  /* renders 12px */
.f14{ font-size:108%; } /* renders 14px */
.f15{ font-size:116%; } /* renders 15px */
.f16{ font-size:123.1%; } /* renders 16px */
.f18{ font-size:138.5%; } /* renders 18px */

h1, h2, h3, h4, h5, h6{ font-weight:normal; }

strong, b, em{ font-weight:bold; }

sup{ vertical-align: text-top; }
sub{ vertical-align: text-bottom; }


/*==================================================================
	4: clearfix
===================================================================*/
.clearfix{ zoom:1; }

.clearfix:after{
    content:""; 
    display:block; 
    clear:both;
}

/* clearfix代替
-------------------------------------------------------------------*/
.box{
	overflow:hidden;
	zoom:1;
}


/*==================================================================
	5: layout styles
===================================================================*/
/* text styles
-------------------------------------------------------------------*/
.bold{ font-weight:bold; }
 
.cap_l{
	font-size:77%;
	text-align:left;
}
.cap_r{
	font-size:77%;
	text-align:right;
}

/* text-align styles
-------------------------------------------------------------------*/
.center{ text-align:center; }
.left{ text-align:left; }
.right{ text-align:right; }
.middle{ vertical-align:middle; }

/*float styles
-------------------------------------------------------------------*/
.fl_l{ float:left; }
.fl_r{ float:right; }

/*clear styles
-------------------------------------------------------------------*/
.clear{ clear:both; }

/* hover styles
-------------------------------------------------------------------*/
/*
a.hover:hover img{
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity:0.8;
	opacity:0.8;
}
*/
a:hover img{
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity:0.8;
	opacity:0.8;
}
.nover a:hover img{
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	-khtml-opacity:1.0;
	opacity:1.0;
}

/* box-sizing
-------------------------------------------------------------------*/
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

/* margin styles
-------------------------------------------------------------------*/
.mt00{ margin-top: 0px !important; }
.mt05{ margin-top: 5px !important; }
.mt10{ margin-top:10px !important; }
.mt15{ margin-top:15px !important; }
.mt20{ margin-top:20px !important; }
.mt25{ margin-top:25px !important; }
.mt30{ margin-top:30px !important; }
.mt40{ margin-top:40px !important; }
.mt50{ margin-top:50px !important; }

.ml00{ margin-left: 0px !important; }
.ml05{ margin-left: 5px !important; }
.ml10{ margin-left:10px !important; }
.ml15{ margin-left:15px !important; }
.ml20{ margin-left:20px !important; }
.ml25{ margin-left:25px !important; }
.ml30{ margin-left:30px !important; }
.ml40{ margin-left:40px !important; }
.ml50{ margin-left:50px !important; }

.mr00{ margin-right: 0px !important; }
.mr05{ margin-right: 5px !important; }
.mr10{ margin-right:10px !important; }
.mr15{ margin-right:15px !important; }
.mr20{ margin-right:20px !important; }
.mr25{ margin-right:25px !important; }
.mr30{ margin-right:30px !important; }
.mr40{ margin-right:40px !important; }
.mr50{ margin-right:50px !important; }

.mb00{ margin-bottom: 0px !important; }
.mb05{ margin-bottom: 5px !important; }
.mb10{ margin-bottom:10px !important; }
.mb15{ margin-bottom:15px !important; }
.mb20{ margin-bottom:20px !important; }
.mb25{ margin-bottom:25px !important; }
.mb30{ margin-bottom:30px !important; }
.mb40{ margin-bottom:40px !important; }
.mb50{ margin-bottom:50px !important; }

/* padding styles
-------------------------------------------------------------------*/
.pt00{ padding-top: 0px !important; }
.pt05{ padding-top: 5px !important; }
.pt10{ padding-top:10px !important; }
.pt15{ padding-top:15px !important; }
.pt20{ padding-top:20px !important; }
.pt25{ padding-top:25px !important; }
.pt30{ padding-top:30px !important; }
.pt40{ padding-top:40px !important; }
.pt50{ padding-top:50px !important; }

.pl00{ padding-left: 0px !important; }
.pl05{ padding-left: 5px !important; }
.pl10{ padding-left:10px !important; }
.pl15{ padding-left:15px !important; }
.pl20{ padding-left:20px !important; }
.pl25{ padding-left:25px !important; }
.pl30{ padding-left:30px !important; }
.pl40{ padding-left:40px !important; }
.pl50{ padding-left:50px !important; }

.pr00{ padding-right: 0px !important; }
.pr05{ padding-right: 5px !important; }
.pr10{ padding-right:10px !important; }
.pr15{ padding-right:15px !important; }
.pr20{ padding-right:20px !important; }
.pr25{ padding-right:25px !important; }
.pr30{ padding-right:30px !important; }
.pr40{ padding-right:40px !important; }
.pr50{ padding-right:50px !important; }

.pb00{ padding-bottom: 0px !important; }
.pb05{ padding-bottom: 5px !important; }
.pb10{ padding-bottom:10px !important; }
.pb15{ padding-bottom:15px !important; }
.pb20{ padding-bottom:20px !important; }
.pb25{ padding-bottom:25px !important; }
.pb30{ padding-bottom:30px !important; }
.pb40{ padding-bottom:40px !important; }
.pb50{ padding-bottom:50px !important; }

/* 計測タグを入れた時にフッターにできる隙間対策
-------------------------------------------------------------------
html > body img{
	display:none;
}
html > body div img{
	display:inline;
}*/