@charset "utf-8";

@import url("../common/css/sp/jquery-ui.css");

/* 基本フォント ------------------------------ */

body {
	color: #333;
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-size: 75%;
	line-height: 1.5;
	font-feature-setting: "pkna";
}

input,textarea,select {
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-size: 100%;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

.pd_font {
font-family: 'Playfair Display', serif;
}


/* 基本タグ -------------------- */

body,div,
h1,h2,h3,h4,h5,h6,
dl,dt,dd,ul,ol,li,
p,blockquote,pre,cite,code,caption,
form,fieldset,legend,input,textarea,select,option,label {
	margin: 0px;
	padding: 0px;
}



img,table {
	border: none;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

ol,ul {
	list-style: none;
}

address,em,cite {
	font-style: normal;
}

fieldset {
	border: none;
}

article, aside, dialog, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* box-sizing -------------------- */

*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}

/* 基本テキストリンク -------------------- */

a:link {
	color: #333333;
	text-decoration: none;
}
a:visited {
	color: #333333;
	text-decoration: none;
}
a:hover {
	color: #333333;
	text-decoration: underline;
}
a:active {
	color: #333333;
	text-decoration: none;
}

/* 透過hover -------------------- */

.over a:hover {
	opacity: .70;
	filter: alpha(opacity=70);
	-ms-filter:  "alpha(opacity=70)";
}

/* 非表示 ------------------------------ */

.sp_none {
	display: none !important;
}

.disp_pc {
	display: none !important;
}

.disp_sp {
display: block;
}

/* ページトップ ------------------------------ */

.pagetop_area {
	margin: 0 3% 0 3%;
	text-align: right;
	font-size: 11px;
}

.pagetop_area p a{
	padding: 3px 0 3px 14px;
	background: url(/common/img/ico_arw_black02.png) no-repeat 0 center;
	background-size: auto 12px;
}



/* --------------------------------------------------------------------------------------
 float解除
--------------------------------------------------------------------------------------- */

.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: .1em;}
.clearfix { display:inline-block; }
/*\*/
* html .clearfix { height:1%; }
.clearfix { display:block; }
/**/

/* --------------------------------------------------------------------------------------
 header
--------------------------------------------------------------------------------------- */
.ladies .hd_area,
.ladies #hd_bnr,
.ladies .welcome_area {
display: none;
}
/* header ------------------------------ */

.ladies header {
width: 100%;
height: 54px;
background: #fff;
}

.ladies header .fix_area{
position: fixed;
top: 0;
width: 100%;
background: #fff;
z-index: 10;
}

.ladies header .inner{
display: table;
width: 100%;
margin: 0 auto;
}

.ladies header .inner{
  color: #fff;
  transition: .3s;
}


.ladies header .logo{
display: table-cell;
width: 62%;
padding: 22px 0 20px 6.4%;
vertical-align: middle;
}

.ladies header .logo img{
max-width: 180px;
}

.ladies header .bnr_web{
position: absolute;
top: 0;
right: 15%;
width: 23.4666%;
max-width: 88px;
z-index: 98;
}

.ladies header .open{
position: absolute;
top: 18px;
right: 4.6%;
width: 5.6666%;
max-width: 21px;
z-index: 100;
}

.ladies header .open img:first-child{
display: block;
}

.ladies header .open img:last-child{
display: none;
}

.ladies header .open.active img:first-child{
display: none;
}

.ladies header .open.active img:last-child{
display: block;
}

.ladies header .other_box{
display: none;
position: absolute;
top: 0;
right: 0;
width: 80%;
height: 100%;
padding: 70px 13.809% 0 13.809%;
background-color: rgba(0,0,0,.9);
vertical-align: middle;
font-size: 0;
text-align: left;
z-index: 99;
}

.ladies header nav{
display: inline-block;
font-size: 0;
vertical-align: top;
}

.ladies header nav li{
display: inline-block;
margin: 0 0 0 0;
padding: 20px 0;
font-size: 16px;
vertical-align: top;
}

.ladies header nav li a{
color: #fff;
}

.ladies .sns {
margin: 40px 0;
font-size: 0;
text-align: center;
}

.ladies .sns li{
display: inline-block;
margin: 0 0 0 14px;
}



/* --------------------------------------------------------------------------------------
 フッター
--------------------------------------------------------------------------------------- */

.bnr_yoyaku_fix {
position: fixed;
bottom: 0;
right: 0;
z-index: 99;
}

footer {
	margin: 25px 0 0 0;
	padding: 0 0 0;
}

footer a:link {
	color: #333;
	text-decoration: none;
}
footer a:visited {
	color: #333;
	text-decoration: none;
}
footer a:hover {
	color: #76560e;
	text-decoration: underline;
}
footer a:active {
	color: #76560e;
	text-decoration: underline;
}


/* ft_bnr01 ------------------------------ */

footer .ft_bnr01 {
display: none;
}


/* ft_bnr02 ------------------------------ */

footer .ft_bnr02 {
display: none;
}


/* apa_nav ------------------------------ */


footer .apa_nav {
	margin: 0 0 0 0;
	background: #fff;
	font-size: 0;
}

footer .apa_nav p{
	display: none;
}

footer .apa_nav .group_nav02,
footer .apa_nav .network_area{
	display: none;
}

footer .apa_nav ul.group_nav{
	margin: 8px 3% 0 3%;
	padding: 8px 0 8px 0;
}

footer .apa_nav ul.group_nav li{
	display: inline-block;
	width: 31.333%;
	margin: 0 1% 0 1%;
	vertical-align: middle;
}

footer .apa_nav ul.group_nav li img{
	width: 100%;
}

footer .apa_nav .inner_hotel{
	display: none;
}

footer nav {
	width: 100%;
	overflow: hidden;
}

footer nav .other_nav {
	display: table;
	width: 100%;
	border-bottom: 1px #cbcbcb solid;
	border-collapse: collapse;
	background: #fff;
	font-size: 0;
	text-align: center;
}

footer nav .other_nav li{
	display: inline-table;
	width: 50%;
	height: 30px;
	border-top: 1px #cbcbcb solid;
	border-right: 1px #cbcbcb solid;
	border-left: 1px #cbcbcb solid;
	font-size: 10px;
	vertical-align: bottom;
	box-sizing: border-box;
}
footer nav .other_nav li:nth-child(9){
	width: 100%;
}
footer nav .other_nav li:nth-child(10){
	width: 100%;
}
/*
footer nav .other_nav li:last-child{
	width: 100%;
}
*/
footer nav .other_nav li a{
	display: inline-block;
	width: 100%;
	margin: 0 0 0 0;
	box-sizing: border-box;
	vertical-align: bottom;
}

footer nav .other_nav li span{
	display: none;
}

footer small {
	display: block;
	margin: 0 0 -25px 0;
	padding: 15px 0 15px 0;
	background: #fff;
	font-size: 9px;
	text-align: center;
}


footer #hotel_list_box {
	display: none;
}


/* --------------------------------------------------------------------------------------
 mv_area
--------------------------------------------------------------------------------------- */

/* mv_area ------------------------------ */

.ladies .mv_area {
position: relative;
margin: 0 auto;
}

.ladies .mv_area h1{
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
width: 85%;
height: 69px;
margin: auto;
z-index: 9;
}



.ladies .mv_area .st li.slick-current img,
.ladies .mv_area li img{
-moz-transition: -moz-transform 6s linear;
-webkit-transition: -webkit-transform 6s linear;
-o-transition: -o-transform 6s linear;
-ms-transition: -ms-transform 6s linear;
transition: transform 6s linear;
}

.ladies .mv_area li img{
-webkit-transform: scale(1);
-moz-transform: scale(1);
-o-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
}


.ladies .mv_area .st li.slick-current img{
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}


/* --------------------------------------------------------------------------------------
 content
--------------------------------------------------------------------------------------- */

/* bnr_section_area ------------------------------ */

.ladies .bnr_section_area {
position: relative;
margin: 0 auto;
padding: 26px 0 0;
}

.ladies .bnr_section_area p.over{
position: relative;
margin: 0 5.3333%;
}

.ladies .bnr_section_area p.over .btn_hotel{
position: absolute;
left: 0;
bottom: 3%;
margin: 0 3%;
}

.ladies .bnr_section_area p.over .btn_hotel img{
width: 100%;
}

/* news_area ------------------------------ */

.ladies .bnr_section_area .news_area {
/*
min-width: 375px;
*/
padding: 19px 0 0;
font-size: 14px;
}

.ladies .bnr_section_area .news_area h2{
margin: 0 0 25px;
text-align: center;
font-size: 30px;
font-weight: 700;
font-style: italic;
}


.ladies .bnr_section_area .news_area h2 span{
padding: 0 0 10px;
background: url(../img/bg_ttl01.png) repeat-x left bottom;
}

.ladies .bnr_section_area .news_area ul {
margin: 0 5.333%;
height: 200px;
overflow-y: scroll;
overflow-x: hidden;
}

.ladies .bnr_section_area .news_area ul li {
margin: 16px 0 0;
}

.ladies .bnr_section_area .news_area ul li:first-child {
margin: 0 0 0;
}

.ladies .bnr_section_area .news_area ul li span{
display: inline-block;
width: 30%;
vertical-align: top;
}

.ladies .bnr_section_area .news_area ul li a{
display: inline-block;
width: 70%;
vertical-align: top;
}

.ladies .bnr_section_area .news_area ul li img{
position: relative;
margin: -4px 0 0 8px;
vertical-align: middle;
font-size: 0;
line-height: 0;
}

/* smoke_area ------------------------------ */

.ladies .smoke_area {
/*
min-width: 375px;
*/
margin: 0 5.333%;
padding: 19px 0 0;
font-size: 14px;
}

.ladies .smoke_area h2{
margin: 0 0 25px;
text-align: center;
font-size: 30px;
font-weight: 700;
font-style: italic;
}


.ladies .smoke_area h2 span{
padding: 0 0 10px;
background: url(../img/bg_ttl01.png) repeat-x left bottom;
}

.ladies .smoke_area ul{
padding: 28px 0 0;
font-size: 0;
}

.ladies .smoke_area ul li {
    display: inline-block;
    width: 100%;
    margin: 0 0 38px 0;
    vertical-align: top;
    font-size: 20px;
    text-align: left;
}

.ladies .smoke_area ul li img{width:100%;}

.ladies .smoke_area ul li span.img img{margin-bottom:10px;}

.ladies .smoke_area ul li span.title{
    font-size: 16px;
    line-height: 1.6;
    font-weight: bold;
}

/* ranking_area ------------------------------ */

.ladies .bnr_section_area .ranking_area {
margin: 0 5.333%;
font-size: 0;
}

.ladies .bnr_section_area .ranking_area ul{
padding: 28px 0 0;
font-size: 0;
}

.ladies .bnr_section_area .ranking_area ul li {
margin: 22px 0 0 0;
vertical-align: top;
font-size: 20px;
}

.ladies .bnr_section_area .ranking_area ul li:first-child {
margin: 0 0 0 0;
}

.ladies .bnr_section_area .ranking_area ul li .img {
position: relative;
margin: -18px 0 0;
}

.ladies .bnr_section_area .ranking_area ul li .img .more {
display: none;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.ladies .bnr_section_area .ranking_area ul li .data {
margin: 17px 0 0;
font-size: 9px;
color: #777;
}

.ladies .bnr_section_area .ranking_area ul li h2 {
margin: 10px 0 0;
font-size: 16px;
line-height: 1.6;
font-weight: bold;
}

.ladies .bnr_section_area .ranking_area ul li .lead {
margin: 12px 0 0;
font-size: 14px;
line-height: 1.6;
}

.ladies .bnr_section_area .ranking_area ul li:hover .img .more{
display: block;
}

.ladies .bnr_section_area .ranking_area ul li:hover{
cursor: pointer;
}

.ladies .bnr_section_area .ranking_area ul li:hover .data span,
.ladies .bnr_section_area .ranking_area ul li:hover h2 span,
.ladies .bnr_section_area .ranking_area ul li:hover .lead span{
background-color: rgba(255,238,39,0.5);
}

/* hot_area ------------------------------ */

.ladies .hot_area {
position: relative;
background:url(../img/bg_hot_sp.png) repeat-x top;
}

.ladies .hot_area .cs_box{
position: relative;
margin: 0 auto 0 auto;
}

.ladies .cs_area .ttl_main_box {
position: relative;
width: 100%;
}

.ladies .hot_area .ttl_main_box h2 {
    padding: 103px 0 30px;
    /* font-size: 40px; */
    font-weight: 700;
	font-size:22px;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 4px;
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.ladies .hot_area .ttl_main_box .check{
	text-align:center;
}

.ladies .hot_area .ttl_main_box .blue{
	color:#6b9bb9;
	font-size:30px;
}

.ladies .hot_area .ttl_main_box .text{
	width:85%;
	margin:auto;
	font-size:14px;
	line-height:1.8;
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.ladies .hot_area ul {
    width: 100%;
    margin: 0 auto;
    padding: 24px 0 32px;
}

.ladies .hot_area ul li {
    display: inline-block;
	padding: 0 26px;
    vertical-align: top;
    font-size: 22px;
	font-weight: bold;
}

.ladies .hot_area ul li img{
	padding: 20px 0 10px;
}

.ladies .hot_area ul img{
	width:100%;
	height:100%;
}


.ladies .hot_area .btn_hot {
	text-align:center;
	margin-bottom: 10px;
}

/* cs_area ------------------------------ */

.ladies .cs_area {
position: relative;
margin: 62px auto 0 auto;
}

.ladies .cs_area .note{
position: relative;
margin: 59px 5.333% -74px 5.333%;
font-size: 12px;
text-align: right;
}

.ladies .cs_area #anc01_show {
position: absolute;
left: 0;
top: -500px;
text-indent: -9999px;
}


.ladies .cs_area .cs_box{
position: relative;
margin: 0 auto 0 auto;
}

.ladies .cs_area .ttl_main_box {
position: relative;
width: 100%;
height: 321px;
background: url(../img/bg_cs01.jpg) no-repeat center bottom;
background-size: cover;
text-align: center;
}

.ladies .cs_area .ttl_main_box h2{
padding: 35px 0 30px;
font-size: 22px;
font-weight: 700;
font-style: italic;
background: url(../img/bg_ttl02.png) no-repeat center bottom;
color: #fff;
text-align: center;
line-height: 1.4;
	letter-spacing: 4px;
}

.ladies .cs_area .ttl_main_box h2 span{
display: block;
font-size: 14px;
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	letter-spacing: 0;
}

.ladies .cs_area .ttl_main_box p{
padding: 26px 0 0;
font-size: 18px;
font-weight: bold;
color: #fff;
}

.ladies .cs_area .ttl_main_box p span{
display: block;
margin: 8px 0 0;
font-size: 12px;
font-weight: normal;
line-height: 1.8;
}

.ladies .cs_area ul{
margin: 0 5.333%;
padding: 0 0 0;
font-size: 0;
}

.ladies .cs_area ul li {
margin: 35px 0 0 0;
vertical-align: top;
font-size: 20px;
}

.ladies .cs_area ul li:nth-child(3n) {
margin: 35px 0 0 0;
}


.ladies .cs_area ul li .ttl_sub {
padding: 15px 17px 0 17px;
font-size: 14px;
color: #6b9bb9;
font-weight: 700;
font-style: italic;
}

.ladies .cs_area ul li h2 {
margin: 0 17px 0;
font-size: 16px;
line-height: 1.6;
font-weight: bold;
}

.ladies .cs_area ul li .lead {
margin: 9px 17px 0;
font-size: 14px;
line-height: 2;
}

.ladies .cs_area ul li .lead span {
font-size: 12px;
}



/* sa_area ------------------------------ */

.ladies .sa_area {
position: relative;
margin: 90px auto 0 auto;
}

.ladies .sa_area .ttl_main_box {
position: relative;
width: 100%;
height: 321px;
background: url(../img/bg_sa01.jpg) no-repeat center bottom;
background-size: cover;
text-align: center;
}


.ladies .sa_area #anc02_show {
position: absolute;
left: 0;
top: -500px;
text-indent: -9999px;
}

.ladies .sa_area .ttl_main_box h2{
padding: 35px 0 30px;
font-size: 22px;
font-weight: 700;
font-style: italic;
background: url(../img/bg_ttl02.png) no-repeat center bottom;
color: #fff;
text-align: center;
line-height: 1.4;
	letter-spacing: 4px;
}

.ladies .sa_area .ttl_main_box h2 span{
display: block;
font-size: 16px;
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	letter-spacing: 0;
}

.ladies .sa_area .ttl_main_box p{
padding: 26px 0 0;
font-size: 18px;
font-weight: bold;
color: #fff;
}

.ladies .sa_area .ttl_main_box p span{
display: block;
margin: 8px 0 0;
font-size: 12px;
font-weight: normal;
line-height: 1.8;
}

.ladies .sa_area ul{
margin: 0 5.333%;
padding: 14px 0 0;
font-size: 0;
}

.ladies .sa_area ul li {
display: inline-block;
margin: 40px 0 0 0;
vertical-align: top;
font-size: 20px;
}

.ladies .sa_area ul li:nth-child(3n) {
margin: 40px 0 0 0;
}

.ladies .sa_area ul li .img {
text-align: center;
}


.ladies .sa_area ul li h2 {
margin: 15px 0 0;
font-size: 16px;
line-height: 1.6;
font-weight: bold;
}

.ladies .sa_area ul li .lead {
margin: 5px 0 0;
font-size: 14px;
line-height: 2;
}


.ladies .sa_area .bnr {
margin: 40px 5.333% 0 !important;
text-align: center;
}

.ladies .sa_area .bnr{
position: relative;
margin: 0 5.3333%;
}

.ladies .sa_area .bnr img{
width: 100%;
}

.ladies .sa_area .bnr .btn_hotel{
position: absolute;
left: 0;
bottom: 3%;
margin: 0 3%;
}



/* --------------------------------------------------------------------------------------
 search_area
--------------------------------------------------------------------------------------- */

/* search_area ------------------------------ */

.ladies .search_area {
	margin: 25px 5.333% 0 5.333%;
	border: 1px #cdcac6 solid;
	background: #fff;
	-moz-box-shadow:
		0px 0 4px rgba(000,000,000,0.2);
	-webkit-box-shadow:
		0px 0 4px rgba(000,000,000,0.2);
	box-shadow:
		0px 0 4px rgba(000,000,000,0.2);
}

.ladies .search_area .inner{
	padding: 14px 0 25px 0;
}

/* ttl_box ------------------------------ */

.ladies .search_area .ttl_box {
	margin: 0 0 12px 3%;
	font-size: 24px;
	color: #886231;
}

.ladies .search_area .ttl_box span{
	margin: 0 0 0 0;
	font-size: 20px;
	color: #333;
}

/* search_box ------------------------------ */

.ladies .search_area .search {
	margin: 0 3%;
	border: 1px #c3c3c3 solid;
	background: #f4f4f4;
}

.ladies .search_area .search h2{
	background: #dcdcdc;
	text-align: center;
}

.ladies .search_area .search h2.active{
	border-bottom: 1px #c3c3c3 solid;
}

.ladies .search_area .search h2 a{
	display: block;
	padding: 8px 0;
	background: url(/common/img/ico_minus01.gif) no-repeat 96% center;
	background-size: auto 17px;
	color: #333;
	}

.ladies .search_area .search h2.active a{
	background: url(/common/img/ico_plus01.gif) no-repeat 96% center;
	background-size: auto 17px;
	}

.ladies .search_area .search_box {
	padding: 20px 3% 0 3%;
	font-size: 0;
}

/* search_box txt_box01 ------------------------------ */

.ladies .search_area .search_box .txt_box01{
	padding: 0 0 8px 0;
}

.ladies .search_area .search_box .txt_box01 p{
	margin: 0 0 8px 0;
	font-size: 13px;
}

.ladies .search_area .search_box .txt_box01 .txt01,
.ladies .search_area .search_box .txt_box01 .txt02,
.ladies .search_area .search_box .txt_box01 .txt03{
	font-size: 14px;
	font-weight: bold;
}

.ladies .search_area .search_box .txt_box02 {
	float: left;
	width: 50%;
}

.ladies .search_area .search_box .txt_box03 {
	float: left;
	width: 50%;
}

.ladies .search_area .search_box .txt_box03 .word_field input {
	width: 93%;
}

.ladies .search_area .search_box .txt_box01 select{
	max-width: 95%;
}

.ladies .search_area .search_box .txt_box01 #kodawari .kodawari_area{
	padding: 10px 0 0 0;
	font-size: 12px;
}

.ladies .search_area .search_box .txt_box01 #kodawari .kodawari_area h3{
	margin: 0 0 4px 0;
	font-size: 14px;
	font-weight: bold;
}

.ladies .search_area .search_box .txt_box01 #kodawari .kodawari_area ul{
	margin: 0 0 20px 0;
	font-size: 0;
}

.ladies .search_area .search_box .txt_box01 #kodawari .kodawari_area li{
	display: inline-block;
	width: 39%;
	margin: 0 10px 4px 0;
	padding: 0 0 0 1.5em;
	text-indent: -1.5em;
	font-size: 12px;
	vertical-align: top;
}

.ladies .search_area .search_box .txt_box01 #kodawari .kodawari_area li.all{
	display: inline-block;
	width: 100%;
	margin: 0 0 4px 0;
	padding: 0 0 0 1.5em;
	text-indent: -1.5em;
	font-size: 12px;
	vertical-align: top;
}

.ladies .search_area .search_box .txt_box01 #kodawari .kodawari_area input{
	margin: 0 5px 0 0;
	vertical-align: middle;
}


/* search_box txt01 ------------------------------ */

.ladies .search_area .search_box .txt01{
	display: block;
	margin: 0 0 2px 0 !important;
}

.ladies .search_area .search_box .txt02{
	margin: 0 0 2px 0 !important;
	color: #333;
}

.ladies .search_area .search_box .txt03{
	margin: 0 0 2px 0 !important;
	color: #333;
}


/* search_box plan_list ------------------------------ */

.ladies .search_area .search_box .plan_list{
	display: inline-block;
	margin: 0 0 0 0;
	font-size: 13px;
}

.ladies .search_area .search_box .plan_list li{
	display: inline;
	margin: 0 5px 0 0;
}

.ladies .search_area .search_box .plan_list li input{
	margin: 0 2px 0 0;
	vertical-align: middle;
}


/* search_box smoke_list ------------------------------ */

.ladies .search_area .ensen_map_box .smoke_list,
.ladies .search_area .search_box .smoke_list{
	display: inline-block;
	font-size: 0;
}

.ladies .search_area .ensen_map_box .smoke_list li,
.ladies .search_area .search_box .smoke_list li{
	display: inline-block;
	margin: -10px 5px 0 0;
	font-size: 13px;
	vertical-align: middle;
}

.ladies .search_area .ensen_map_box .smoke_list li input,
.ladies .search_area .search_box .smoke_list li input{
	margin: 0 2px 0 0;
	vertical-align: middle;
}


/* search_box ticket_list ------------------------------ */

.ladies .search_area .search_box .ticket_list{
	display: inline-block;
	margin: 0 0 0 0;
	font-size: 13px;
}

.ladies .search_area .search_box .ticket_list li{
	display: inline;
	margin: 0 5px 0 0;
}

.ladies .search_area .search_box .ticket_list li input{
	margin: 0 2px 0 0;
	vertical-align: middle;
}


/* search_box btn ------------------------------ */

.ladies .search_area .search_box .btn01 {
	width: 100px;
	padding: 4px 0;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#e5e5e5);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		to(#e5e5e5));
	border: 1px solid #cbcbcb;
	font-size: 12px;
	text-align: center;
}

.ladies .search_area .search_box .btn01 a{
	color: #333;
}

.ladies .search_area .search_box .btn_box01{
	margin: 0 0 0 0;
	padding: 22px 0 18px 0;
	border-top: 1px #b4b4b4 dotted;
	text-align: center;
}

.ladies .search_area .search_box .btn_box01 input{
	display: inline-block;
	width: 200px;
	padding: 5px 0;
	color: #fff;
	border: none;
	background: #a8865c;
	background:-webkit-gradient(linear, left top, left bottom, from(#a8865c), to(#a8865c));
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}



/* フォームパーツ ------------------------------ */

select {
	padding: 4px 10px 4px 0;
	padding: 4px 0px 4px 0;
	border: 1px #cbcbcb solid;
	background: #fff;
}

input {
	padding: 2px 0;
	border: 1px #cbcbcb solid;
}

.smoke_list input[type='radio']{
	filter: alpha(opacity=0); -moz-opacity:0; opacity:0;
	position: absolute;
}
.smoke_list .crobd01 label{
	display: inline-block;
	width: 28px;
	height: 28px;
	background: url(/common/img/img_smoke01_off.png) no-repeat left top;
	line-height: 28px;
	cursor: pointer;
	overflow: hidden;
	text-indent: -9999px;
	vertical-align: middle;
}
.smoke_list .crobd01.c_on label{
	background: url(/common/img/img_smoke01_on.png) no-repeat 0 0;
}

.smoke_list .crobd02 label{
	display: inline-block;
	width: 28px;
	height: 28px;
	background: url(/common/img/img_smoke02_off.png) no-repeat left top;
	line-height: 28px;
	cursor: pointer;
	overflow: hidden;
	text-indent: -9999px;
	vertical-align: middle;
}
.smoke_list .crobd02.c_on label{
	background: url(/common/img/img_smoke02_on.png) no-repeat 0 0;
}

.smoke_list .crobd03 label{
	display: inline-block;
	width: 28px;
	height: 28px;
	background: url(/common/img/img_smoke03_off.png) no-repeat left top;
	line-height: 28px;
	cursor: pointer;
	overflow: hidden;
	text-indent: -9999px;
	vertical-align: middle;
}
.smoke_list .crobd03.c_on label{
	background: url(/common/img/img_smoke03_on.png) no-repeat 0 0;
}

.w90 {width: 90px;}
.w100 {width: 100px;}
.w150 {width: 150px;}
.w200 {width: 200px;}


/* search_detail_area search ------------------------------ */

.ladies .search_detail_area .search{
	margin: 15px 0 0 0;
}

.ladies .search_detail_area .search .search_box{
	padding: 20px 3% 20px 3% !important;
	background: #f4f4f4;
	font-size: 12px;
}

.ladies .search_detail_area .search .search_box h3{
	margin: 0 5px 0 0;
	padding: 4px 0 0 0;
	color: #886231;
}

.ladies .search_detail_area .search .search_box .txt_box01{
	margin: 0 0 8px 0;
}

.ladies img.ui-datepicker-trigger{
	width: 14px;
	margin: 0 0 0 5px;
	vertical-align: middle;
}


.ladies .search_detail_area .search .search_box .txt_box01 img{
	width: 14px;
	margin: 0 0 0 5px;
	vertical-align: middle;
}


.ladies .search_detail_area .search .search_box .txt_box02{
	margin: 0 0 8px 0;
	float: left;
	width: 50%;
}

.ladies .search_detail_area .search .search_box .txt_box03{
	margin: 0 0 8px 0;
}

.ladies .search_detail_area .search .search_box .txt_box03 .smoke_list {
	font-size: 0;
}

.ladies .search_detail_area .search .search_box .txt_box03 .smoke_list li{
	display: inline-block;
	margin: 0 5px 0 0;
	font-size: 12px;
}

.ladies .search_detail_area .search .search_box .txt_box04{
	margin: 0 0 8px 0;
	display: none;
}

.ladies .search_detail_area .search .search_box .txt_box04 .ticket_list{
	font-size: 0;
}

.ladies .search_detail_area .search .search_box .txt_box04 .ticket_list li{
	display: inline-block;
	margin: 0 10px 0 0;
	font-size: 12px;
}

.ladies .search_detail_area .search .search_box .txt_box04 .ticket_list li input{
	margin: 0 5px 0 0;
	vertical-align: middle;
}

.ladies .search_detail_area .search .search_box .txt_box05{
	margin: 0 0 8px 0;
}

.ladies .search_detail_area .search .search_box .txt_box05 p{
	display: inline;
	margin: 0 10px 0 0;
}

.ladies .search_detail_area .search .search_box .txt_box05 select{
	width: 30%;
}

.ladies .search_detail_area .search .search_box .txt_box05 span{
	font-size: 11px;
}

.ladies .search_detail_area .search .search_box .txt_box05 .ticket_list{
	display: block;
	margin: 8px 0 0 0;
	font-size: 0;
}

.ladies .search_detail_area .search .search_box .txt_box05 .ticket_list li{
	display: inline-block;
	margin: 0 6px 0 0;
	font-size: 12px;
}

.ladies .search_detail_area .search .search_box .txt_box05 .ticket_list li input{
	margin: 0 3px 0 0;
	vertical-align: middle;
}


.ladies .search_detail_area .search .search_box .txt_box06{
	margin: 0 0 8px 0;
}

.ladies .search_detail_area .search .search_box .txt_box06 select{
	width: 132px;
}

.ladies .search_detail_area .search .search_box .txt_box07{
	margin: 0 0 8px 0;
}

.ladies .search_detail_area .search .search_box .txt_box07 select{
	width: 132px;
}


.ladies .search_detail_area .search .search_box .btn_box01{
	padding: 16px 0 0 0;
	border-top: 1px #cbcbcb dotted;
}

.ladies .search_detail_area .search .search_box .btn_box01 p{
	width: 200px;
	margin: 0 auto;
}

.ladies .search_detail_area .search .search_box .btn_box01 input{
	width: 200px;
	margin: 0 auto;
	padding: 5px 0;
	color: #fff;
	border: none;
	background: #a8865c;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}

.ladies .search_detail_area .search .search_box_block{
	display: block !important;
}

.ladies .search_detail_area .search .search_box .calendar_none{
	margin: 0 0 4px 0;
}

.ladies .search_detail_area .search .search_box .data_box{
	margin: 0 0 0 0;
}



/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}






/* --------------------------------------------------------------------------------------
 コンテンツスクロール アニメ
--------------------------------------------------------------------------------------- */

#anc01,
#anc02,
#anc03{
opacity: 0;
transition: 1.5s;
}
.active{
opacity: 1.0 !important;
}

/* hotel_list_all */
p.hotel_list_all{text-align:center; margin:40px 0 40px 0;}
p.hotel_list_all a{padding:12px; text-align: center; box-sizing: border-box; background:#666; width:100%; display: inline-block; color:#fff; font-size: 18px;}
/*p.hotel_list_all a:hover{background:#949494; text-decoration: none;}*/