@charset "utf-8";

@import url("../common/css/pc/jquery-ui.css");

/* 基本フォント ------------------------------ */

body {
	color: #333;
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-size: 75%;
	line-height: 1.5;
	font-feature-setting: "pkna";
}

input,textarea,select {
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-size: 100%;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

.pd_font {
font-family: 'Playfair Display', serif;
}


/* 基本タグ -------------------- */

body,div,
h1,h2,h3,h4,h5,h6,
dl,dt,dd,ul,ol,li,
p,blockquote,pre,cite,code,caption,
form,fieldset,legend,input,textarea,select,option,label {
	margin: 0px;
	padding: 0px;
}

body {
min-width: 1180px;
}

img,table {
	border: none;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

ol,ul {
	list-style: none;
}

address,em,cite {
	font-style: normal;
}

fieldset {
	border: none;
}

article, aside, dialog, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* box-sizing -------------------- */

*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}

/* 基本テキストリンク -------------------- */

a:link {
	color: #333333;
	text-decoration: none;
}
a:visited {
	color: #333333;
	text-decoration: none;
}
a:hover {
	color: #333333;
	text-decoration: underline;
}
a:active {
	color: #333333;
	text-decoration: none;
}

/* 透過hover -------------------- */

.over a:hover {
	opacity: .70;
	filter: alpha(opacity=70);
	-ms-filter:  "alpha(opacity=70)";
}


.disp_pc {
display: block;
}

.disp_sp {
display: none !important;
}


/* --------------------------------------------------------------------------------------
 float解除
--------------------------------------------------------------------------------------- */

.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: .1em;}
.clearfix { display:inline-block; }
/*\*/
* html .clearfix { height:1%; }
.clearfix { display:block; }
/**/

/* --------------------------------------------------------------------------------------
 header
--------------------------------------------------------------------------------------- */

.ladies .hd_area,
.ladies #hd_bnr,
.ladies .welcome_area {
display: none;
}

/* header ------------------------------ */

.ladies header {
width: 100%;
height: 110px;
background: #fff;
}

.ladies header .fix_area{
position: fixed;
top: 0;
width: 100%;
background: #fff;
z-index: 10;
}

.ladies header .inner{
display: table;
width: 1180px;
height: 110px;
margin: 0 auto;
padding: 0 16px;
}

.ladies header .inner{
  color: #fff;
  transition: .3s;
}
.is_animation {
  height: 75px !important;
}

.ladies header .logo{
display: table-cell;
vertical-align: middle;
}

.ladies header .other_box{
display: table-cell;
vertical-align: middle;
font-size: 0;
text-align: right;
}

.ladies header nav{
display: inline-block;
font-size: 0;
vertical-align: top;
}

.ladies header nav li{
display: inline-block;
margin: 0 0 0 34px;
font-size: 16px;
vertical-align: top;
}

.ladies header .sns {
display: inline-block;
margin: 0 0 0 20px;
font-size: 0;
}

.ladies header .sns li{
display: inline-block;
margin: 0 0 0 14px;
}



/* --------------------------------------------------------------------------------------
 フッター
--------------------------------------------------------------------------------------- */

.bnr_yoyaku_fix {
position: fixed;
bottom: -10px;
right: 0;
transition: .3s;
z-index: 99;
}

.bnr_yoyaku_fix a{
display: block;
width: 342px;
height: 80px;
background: url(../img/bnr_yoyaku_fix01_pc.png) no-repeat 0 0;
transition: .3s;
}

.bnr_yoyaku_fix img{
display: none;
}

.bnr_yoyaku_fix:hover {
position: fixed;
bottom: 0;
right: 0;
}

/* ページトップ ------------------------------ */

.pagetop_area {
width: 1064px;
min-width: 1064px;
	margin: 0 auto 0 auto;
	padding: 32px 0 0;
	text-align: right;
	font-size: 11px;
}

.pagetop_area p a{
	padding: 0 0 0 18px;
	background: url(/common/img/ico_arw_black02.png) no-repeat 0 center;
}

/* footer ------------------------------ */

footer {
position: relative;
min-width: 1064px;
	margin: 50px 0 0 0;
	padding: 0 0 10px 0;
	background: #f5f1ec;
}


footer .contents {
max-width: 1180px;
margin: 0 auto;
}

footer #anc03_show {
	position: absolute;
	bottom: 100%;
	text-indent: -9999px;
}


@media print {
footer {
	/*display: none;*/
}
}

footer a:link {
	color: #333;
	text-decoration: none;
}
footer a:visited {
	color: #333;
	text-decoration: none;
}
footer a:hover {
	color: #76560e;
	text-decoration: underline;
}
footer a:active {
	color: #76560e;
	text-decoration: underline;
}


/* ft_bnr01 ------------------------------ */

footer .ft_bnr01 {
display: none;
}

/* ft_bnr02 ------------------------------ */

footer .ft_bnr02 {
display: none;

}

/* apa_nav ------------------------------ */


footer .apa_nav {
width: 1064px;
min-width: 1064px;
	margin: 0 auto 28px auto;
	font-size: 0;
}

footer #ft_bnr {
display: none;
}


footer .apa_nav p{
	display: inline;
	float: left;
	width: 570px;
	margin: 0 0 0 0;
}

footer .apa_nav .network_area,
footer .apa_nav .group_nav02{
	display: inline;
	float: right;
	width: 169px;
	margin: 0 0 0 8px;
	padding: 15px 0 0 0;
	font-size: 12px;
}

footer .apa_nav .group_nav02{
	width: 165px;
	margin: 0 0 0 8px;
}

footer .apa_nav .network_area p,
footer .apa_nav .group_nav02 p{
width: auto;
	margin: 0 0 0 0;
	text-align: center;
}

footer .apa_nav .network_area p a,
footer .apa_nav .group_nav02 p a{
	display: block;
	width: 165px;
	padding: 0 0 0 20px;
	line-height: 34px;
	border: 1px #cbcbcb solid;
	background: #fff url(/common/img/ico_network_plus.gif) no-repeat 7px center;
	color: #333;
	text-decoration: none;
}

footer .apa_nav .group_nav02 p a{
	padding:0;
	background:#fff;
}

footer .apa_nav .network_area p.active a{
	background: #fff url(/common/img/ico_network_minus.gif) no-repeat 7px center;
}

footer .apa_nav ul.group_nav{
	display: inline;
	float: right;
	width: 460px;
	margin: 0 0 0 0;
	padding: 15px 0 0 0;
	text-align:right;
}

footer .apa_nav ul.group_nav li{
	display: inline-block;
	margin: 0 0 0 3px;
	vertical-align: middle;
}

footer .apa_nav .inner_hotel {
	clear: both;
	float: left;
	margin: -36px 0 0 74px;
	font-size: 12px;
}
footer .apa_nav .inner_hotel h3 {
	font-weight: bold;
	margin: 15px 0 3px;
}
footer .apa_nav .inner_hotel p {
	display: block;
	float: none;
	margin: 0;
}
footer .apa_nav .inner_hotel a {
	font-weight: bold;
	display: inline-block;
	margin: 0 6px 0 0;
	text-decoration: underline;
}
footer .apa_nav .inner_hotel a:hover {
	text-decoration: none;
}

footer nav .other_nav {
	margin: 0 0 0 0;
	font-size: 0;
}

footer nav .other_nav li{
	display: inline-block;
	font-size: 10px;
}

footer small {
	display: block;
width: 1064px;
min-width: 1064px;
	margin: 15px auto 0 auto;
	font-size: 11px;
}



footer #hotel_list_box {
width: 1064px;
min-width: 1064px;
	margin: 0 auto 28px auto;
}
footer #hotel_list_box .inner_hotel {
    padding: 0;
}
footer #hotel_list_box .inner_hotel h3 {
    font-weight: bold;
    margin: 15px 0 1px;
}
footer #hotel_list_box .inner_hotel div {
    float: left;
    width: 230px;
}
footer #hotel_list_box .inner_hotel div h3 a:link {
    color: black;
    text-decoration: underline;
}
footer #hotel_list_box .inner_hotel div h3 a:visited {
    color: black;
    text-decoration: underline;
}
footer #hotel_list_box .inner_hotel div h3 a:hover {
    text-decoration: none;
}
footer #hotel_list_box .inner_hotel div a.footer {
    color: #624f24;
    display: block;
    font-size: 84%;
    margin: 0 0 3px;
    text-decoration: none;
}
footer #hotel_list_box .inner_hotel div a:hover {
    text-decoration: underline;
}
footer #hotel_list_box .inner_hotel div a img {
    margin: 0 2px 0 0;
}


footer .text_helper {
	font-size: 75%;
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 200px;
	height: 150px;

	border: 1px #cdcac6 solid;
	background: #fff;
	-moz-box-shadow: 0px 0 4px rgba(000,000,000,0.2);
	-webkit-box-shadow: 0px 0 4px rgba(000,000,000,0.2);
	box-shadow: 0px 0 4px rgba(000,000,000,0.2);
}

footer .text_helper .inner {
	padding: 5px;
}

footer .text_helper .inner a {
	color: #886231;
	padding: 2px 5px 0 0;
	cursor: pointer;
	text-decoration: underline;
}

footer .text_helper p.title {
	font-size: 100%;
	padding: 2px 0;
	background: #a8865c;
	text-align: center;
	color: #fff;
	vertical-align: top;
}

footer .text_helper p.desc {
	margin: 3px;
	color: #666;
}

footer .text_helper p.close {
	text-align: center;
	padding: 2px 0;
	color: #666;
}

footer .text_helper p.close a {
	display: block;
	width: 100px;
	margin: 0 auto;
	cursor: pointer;
	background: #ededed;
}

footer #hotel_list_box + nav {
width: 1064px;
min-width: 1064px;
margin: 0 auto;
}

footer #hotel_list_box + nav + small {
display: none;
width: 1064px;
min-width: 1064px;
margin: 15px auto 0 auto;
}


/* --------------------------------------------------------------------------------------
 mv_area
--------------------------------------------------------------------------------------- */

/* mv_area ------------------------------ */

.ladies .mv_area {
position: relative;
width: 1180px;
min-width: 1180px;
margin: 0 auto;
overflow: hidden;
}

.ladies .mv_area h1{
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
width: 538px;
height: 120px;
margin: auto;
z-index: 9;
}

.ladies .mv_area li {
overflow: hidden;
}

.ladies .mv_area .st li.slick-current img,
.ladies .mv_area li img{
-moz-transition: -moz-transform 8s linear;
-webkit-transition: -webkit-transform 8s linear;
-o-transition: -o-transform 8s linear;
-ms-transition: -ms-transform 8s linear;
transition: transform 8s linear;
}

.ladies .mv_area li img{
-webkit-transform: scale(1);
-moz-transform: scale(1);
-o-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
}


.ladies .mv_area .st li.slick-current img{
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}



/* --------------------------------------------------------------------------------------
 content
--------------------------------------------------------------------------------------- */

/* bnr_section_area ------------------------------ */

.ladies .bnr_section_area {
position: relative;
width: 100%;
margin: 0 auto;
padding: 60px 0 0;
}

.ladies .bnr_section_area .over {
position: relative;
}


.ladies .bnr_section_area .over a{
display: block;
height: 226px;
margin: 0 16px;
background: url(../img/bnr_web01_pc.png) no-repeat 0 0;
background-size: contain;
}

.ladies .bnr_section_area .over img{
display: none;
}

.ladies .bnr_section_area .over a.btn_hotel{
position: absolute;
right: 12px;
bottom: 8%;
display: block;
width: 250px;
height: 50px;
background: url(../img/bnr_web02_pc.png) no-repeat 0 0;
}

/* news_area ------------------------------ */

.ladies .bnr_section_area .news_area {
padding: 97px 0 0;
font-size: 16px;
}

.ladies .bnr_section_area .news_area h2{
margin: 0 0 35px;
text-align: center;
font-size: 30px;
font-weight: 700;
font-style: italic;
}

.ladies .bnr_section_area .news_area h2 span{
padding: 0 0 10px;
background: url(../img/bg_ttl01.png) repeat-x left bottom;
}

.ladies .smoke_area h2 br{display:none;}

.ladies .bnr_section_area .news_area ul {
max-width: 850px;
margin: 0 auto;
height: 200px;
overflow-y: scroll;
overflow-x: hidden;
}

.ladies .bnr_section_area .news_area ul li {
margin: 16px 0 0;
}

.ladies .bnr_section_area .news_area ul li:first-child {
margin: 0 0 0;
}

.ladies .bnr_section_area .news_area ul li span{
display: inline-block;
width: 13%;
}

.ladies .bnr_section_area .news_area ul li a{
display: inline-block;
width: 86%;
}

.ladies .bnr_section_area .news_area ul li img{
position: relative;
margin: -4px 0 0 16px;
vertical-align: middle;
font-size: 0;
line-height: 0;
}

/* smoke_area ------------------------------ */
.ladies .smoke_area {
    padding: 97px 16px 0 16px;
    font-size: 16px;
}

.ladies .smoke_area h2{
margin: 0 0 35px;
text-align: center;
font-size: 30px;
font-weight: 700;
font-style: italic;
}

.ladies .smoke_area h2 span{
padding: 0 0 10px;
background: url(../img/bg_ttl01.png) repeat-x left bottom;
}

.ladies .smoke_area p.lead{line-height:1.6; width:770px; margin: auto;}

.ladies .smoke_area ul{
text-align:center;
padding: 54px 0 0;
font-size: 0;
}

.ladies .smoke_area ul li:nth-child(1),
.ladies .smoke_area ul li:nth-child(4){margin:0 0 38px 0;}

.ladies .smoke_area ul li {
    display: inline-block;
    width: 30.333%;
    margin: 0 0 38px 3%;
    vertical-align: top;
    font-size: 20px;
    text-align: left;
}

.ladies .smoke_area ul li img{width:100%;}

.ladies .smoke_area ul li span.img img{margin-bottom:10px;}

.ladies .smoke_area ul li span.title{
    font-size: 20px;
    line-height: 1.6;
    font-weight: bold;
}


/* ranking_area ------------------------------ */

.ladies .bnr_section_area .ranking_area {
width: 1180px;
margin: 0 auto;
padding: 0 16px;
font-size: 0;
text-align: center;
}

.ladies .bnr_section_area .ranking_area ul{
padding: 54px 0 0;
font-size: 0;
}

.ladies .bnr_section_area .ranking_area ul li {
display: inline-block;
width: 30.333%;
margin: 0 0 0 3%;
vertical-align: top;
font-size: 20px;
text-align: left;
}

.ladies .bnr_section_area .ranking_area ul li:first-child {
margin: 0 0 0 0;
}

.ladies .bnr_section_area .ranking_area ul li .img {
position: relative;
margin: -18px 0 0;
}

.ladies .bnr_section_area .ranking_area ul li .img .more {
display: none;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.ladies .bnr_section_area .ranking_area ul li .data {
margin: 14px 0 0;
font-size: 12px;
color: #777;
}

.ladies .bnr_section_area .ranking_area ul li h2 {
margin: 10px 0 0;
font-size: 20px;
line-height: 1.6;
font-weight: bold;
}

.ladies .bnr_section_area .ranking_area ul li .lead {
margin: 12px 0 0;
font-size: 16px;
line-height: 1.6;
}

.ladies .bnr_section_area .ranking_area ul li:hover .img .more{
display: block;
}

.ladies .bnr_section_area .ranking_area ul li:hover{
cursor: pointer;
}

.ladies .bnr_section_area .ranking_area ul li:hover .data span,
.ladies .bnr_section_area .ranking_area ul li:hover h2 span,
.ladies .bnr_section_area .ranking_area ul li:hover .lead span{
background-color: rgba(255,238,39,0.5);
}

/* hot_area ------------------------------ */

.ladies .hot_area {
position: relative;
margin: 50px auto 0 auto;
background:url(../img/bg_hot_sp.png) repeat-x top;
}

.ladies .hot_area .cs_box{
position: relative;
margin: 0 auto 0 auto;
}

.ladies .cs_area .ttl_main_box {
position: relative;
width: 100%;
}

.ladies .hot_area .ttl_main_box h2 {
    padding: 75px 0 30px;
    /* font-size: 40px; */
    font-weight: 700;
	font-size: 30px;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 4px;
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.ladies .hot_area .ttl_main_box .check{
	text-align:center;
}

.ladies .hot_area .ttl_main_box .blue{
	color:#6b9bb9;
	font-size:40px;
}

.ladies .hot_area .ttl_main_box .text{
	width:770px;
	margin:auto;
	font-size:16px;
	line-height:1.8;
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.ladies .hot_area ul {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 32px;
}

.ladies .hot_area ul li {
    display: inline-block;
    width: 32.333%;
    vertical-align: top;
    font-size: 20px;
	font-weight: bold;
}

.ladies .hot_area ul li img{
	padding: 20px 0 10px;
}

.ladies .hot_area .btn_hot {
	text-align:center;
	margin-bottom: 10px;
}


/* cs_area ------------------------------ */

.ladies .cs_area {
position: relative;
margin: 90px auto 0 auto;
padding: 0 16px;
}

.ladies .cs_area .note{
position: relative;
margin: 82px auto -82px auto;
font-size: 14px;
text-align: right;
}

.ladies .cs_area #anc01_show {
position: absolute;
left: 0;
top: -500px;
text-indent: -9999px;
}


.ladies .cs_area .cs_box{
position: relative;
margin: 0 auto 0 auto;
}

.ladies .cs_area .ttl_main_box {
position: relative;
width: 100%;
height: 321px;
background: url(../img/bg_cs01.jpg) no-repeat center 0;
background-size: cover;
text-align: center;
}

.ladies .cs_area .ttl_main_box h2{
padding: 55px 0 30px;
font-size: 40px;
font-weight: 700;
font-style: italic;
background: url(../img/bg_ttl02.png) no-repeat center bottom;
color: #fff;
text-align: center;
line-height: 1;
	letter-spacing: 4px;
}

.ladies .cs_area .ttl_main_box h2 span{
display: block;
font-size: 16px;
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	letter-spacing: 0;
}

.ladies .cs_area .ttl_main_box p{
padding: 26px 0 0;
font-size: 30px;
font-weight: bold;
color: #fff;
}

.ladies .cs_area .ttl_main_box p span{
display: block;
margin: 8px 0 0;
font-size: 16px;
font-weight: normal;
line-height: 1.8;
}

.ladies .cs_area ul{
margin: 0 auto;
padding: 14px 0 0;
font-size: 0;
}

.ladies .cs_area ul li {
display: inline-block;
width: 32.333%;
margin: 40px 1% 0 0;
vertical-align: top;
font-size: 20px;
}

.ladies .cs_area ul li:nth-child(3n) {
margin: 40px 0 0 0;
}


.ladies .cs_area ul li .ttl_sub {
padding: 20px 17px 0 17px;
font-size: 14px;
color: #6b9bb9;
font-weight: 700;
font-style: italic;
}

.ladies .cs_area ul li h2 {
margin: 5px 17px 0;
font-size: 20px;
line-height: 1.6;
font-weight: bold;
}

.ladies .cs_area ul li h2 sup{
font-size: 11px;
}

.ladies .cs_area ul li .lead {
margin: 5px 17px 0;
font-size: 16px;
line-height: 2;
}

.ladies .cs_area ul li .lead span {
font-size: 12px;
}



/* sa_area ------------------------------ */

.ladies .sa_area {
position: relative;
margin: 90px auto 0 auto;
padding: 0 16px;
}

.ladies .sa_area .ttl_main_box {
position: relative;
width: 100%;
height: 321px;
background: url(../img/bg_sa01.jpg) no-repeat 0 0;
background-size: cover;
text-align: center;
}


.ladies .sa_area .ttl_main_box h2{
padding: 55px 0 30px;
font-size: 40px;
font-weight: 700;
font-style: italic;
background: url(../img/bg_ttl02.png) no-repeat center bottom;
color: #fff;
text-align: center;
line-height: 1;
	letter-spacing: 4px;
}

.ladies .sa_area .ttl_main_box h2 span{
display: block;
font-size: 16px;
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	letter-spacing: 0;
}

.ladies .sa_area .ttl_main_box p{
padding: 26px 0 0;
font-size: 30px;
font-weight: bold;
color: #fff;
}

.ladies .sa_area .ttl_main_box p span{
display: block;
margin: 8px 0 0;
font-size: 16px;
font-weight: normal;
line-height: 1.8;
}

.ladies .sa_area ul{
margin: 0 auto;
padding: 14px 0 0;
font-size: 0;
text-align: center;
}

.ladies .sa_area ul li {
display: inline-block;
width: 30.333%;
margin: 40px 3% 0 0;
vertical-align: top;
font-size: 20px;
text-align: left;
}

.ladies .sa_area ul li:nth-child(3n) {
margin: 40px 0 0 0;
}

.ladies .sa_area ul li .img {
text-align: center;
}


.ladies .sa_area ul li h2 {
margin: 15px 0 0;
font-size: 20px;
line-height: 1.6;
font-weight: bold;
}

.ladies .sa_area ul li .lead {
margin: 5px 0 0;
font-size: 16px;
line-height: 2;
}


.ladies .sa_area .bnr {
margin: 0 auto;
padding: 80px 0 0;
text-align: center;
}

.ladies .sa_area .bnr {
position: relative;
}


.ladies .sa_area .bnr a{
display: block;
width: 100%;
height: 226px;
background: url(../img/bnr_web01_pc.png) no-repeat 0 0;
background-size: contain;
}

.ladies .sa_area .bnr img{
display: none;
}

.ladies .sa_area .bnr a.btn_hotel{
position: absolute;
right: 12px;
bottom: 6%;
display: block;
width: 250px;
height: 50px;
background: url(../img/bnr_web02_pc.png) no-repeat 0 0;
}



.ladies .search_area {
width: 774px;
	margin: 40px auto 0;
	padding: 22px 19px;
	border: 1px #ccc solid;
}


/* ttl_box ------------------------------ */

.ladies .search_area .ttl_box {
	font-size: 24px;
	color: #886231;
}

.ladies .search_area .ttl_box span{
	margin: 0 0 0 0;
	font-size: 20px;
	color: #333;
}

/* search_box ------------------------------ */

.ladies .search_area .search_box {
	padding: 20px 13px 0 23px;
	border-top: 2px #c3c3c3 solid;
	background: #f4f4f4;
	font-size: 0;
}

.ladies img.ui-datepicker-trigger {
    width: 14px;
    margin: 0 0 0 5px;
    vertical-align: middle;
}

/* search_box txt_box01 ------------------------------ */

.ladies .search_area .search_box .txt_box01{
	padding: 0 0 16px 0;
}

.ladies .search_area .search_box .txt_box01 p{
	display: inline-block;
	margin: 0 5px 0 0;
	font-size: 13px;
}

.ladies .search_area .search_box .txt_box02 {
	float: left;
	width: 50%;
}

.ladies .search_area .search_box .txt_box03 {
	display: inline-block;
}

.ladies .search_area .search_box .txt_box01 #kodawari .kodawari_area{
	padding: 10px 0 0 0;
	font-size: 12px;
}

.ladies .search_area .search_box .txt_box01 #kodawari .kodawari_area h3{
	margin: 0 0 4px 0;
	font-size: 14px;
	font-weight: bold;
}

.ladies .search_area .search_box .txt_box01 #kodawari .kodawari_area ul{
	width: auto;
	margin: 0 0 20px 0;
	font-size: 0;
}

.ladies .search_area .search_box .txt_box01 #kodawari .kodawari_area li{
	display: inline-block;
	width: 30%;
	margin: 0 0 4px 0;
	padding: 0 0 0 1.5em;
	text-indent: -1.5em;
	font-size: 12px;
	vertical-align: top;
}

.ladies .search_area .search_box .txt_box01 #kodawari .kodawari_area input{
	margin: 0 5px 0 0;
	vertical-align: middle;
}


/* search_box txt01 ------------------------------ */

.ladies .search_area .search_box .txt01{
	width: 95px;
	color: #886231;
}

.ladies .search_area .search_box .txt02{
	margin: 0 4px 0 20px !important;
	color: #333;
}

.ladies .search_area .search_box .txt03{
	margin: 0 5px 0 20px !important;
	color: #886231;
}

.ladies .search_area .search_box .mokuteki_selector{
	width: 115px;
}


/* search_box plan_list ------------------------------ */

.ladies .search_area .search_box .plan_list{
	display: inline-block;
	margin: 0 0 0 20px;
	font-size: 13px;
}

.ladies .search_area .search_box .plan_list li{
	display: inline;
	margin: 0 5px 0 0;
}

.ladies .search_area .search_box .plan_list li input{
	margin: 0 2px 0 0;
	vertical-align: middle;
}


/* search_box smoke_list ------------------------------ */

.smoke_list input[type='radio']{
	filter: alpha(opacity=0); -moz-opacity:0; opacity:0;
	position: absolute;
}
.smoke_list .crobd01 label{
	display: inline-block;
	width: 28px;
	height: 28px;
	background: url(/common/img/img_smoke01_off.png) no-repeat left top;
	line-height: 28px;
	cursor: pointer;
	overflow: hidden;
	text-indent: -9999px;
	vertical-align: middle;
}
.smoke_list .crobd01.c_on label{
	background: url(/common/img/img_smoke01_on.png) no-repeat 0 0;
}

.smoke_list .crobd02 label{
	display: inline-block;
	width: 28px;
	height: 28px;
	background: url(/common/img/img_smoke02_off.png) no-repeat left top;
	line-height: 28px;
	cursor: pointer;
	overflow: hidden;
	text-indent: -9999px;
	vertical-align: middle;
}
.smoke_list .crobd02.c_on label{
	background: url(/common/img/img_smoke02_on.png) no-repeat 0 0;
}

.smoke_list .crobd03 label{
	display: inline-block;
	width: 28px;
	height: 28px;
	background: url(/common/img/img_smoke03_off.png) no-repeat left top;
	line-height: 28px;
	cursor: pointer;
	overflow: hidden;
	text-indent: -9999px;
	vertical-align: middle;
}
.smoke_list .crobd03.c_on label{
	background: url(/common/img/img_smoke03_on.png) no-repeat 0 0;
}

.ladies .search_area .search_box .smoke_list{
	display: inline-block;
	width: auto;
	margin: 0 0 0 10px;
	font-size: 0;
}

.ladies .search_area .search_box .smoke_list li{
	display: inline-block;
	width: auto;
	margin: -10px 5px 0 0;
	font-size: 13px;
	vertical-align: middle;
}

.ladies .search_area .search_box .smoke_list li input{
	margin: 0 2px 0 0;
	vertical-align: middle;
}


/* search_box ticket_list ------------------------------ */

.ladies .search_area .search_box .ticket_list{
	display: inline-block;
	margin: 0 0 0 0;
	font-size: 13px;
}

.ladies .search_area .search_box .ticket_list li{
	display: inline;
	margin: 0 5px 0 0;
}

.ladies .search_area .search_box .ticket_list li input{
	margin: 0 2px 0 0;
	vertical-align: middle;
}


/* search_box btn ------------------------------ */

.ladies .search_area .search_box .btn01 {
	width: 100px;
	padding: 4px 0;
	background: -ms-linear-gradient(top,#ffffff,#e5e5e5);
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#e5e5e5);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		to(#e5e5e5));
	border: 1px solid #cbcbcb;
	font-size: 12px;
	text-align: center;
}

.ladies .search_area .search_box .btn01 a{
	color: #333;
}

.ladies .search_area .search_box .btn_box01{
	margin: 0 23px 0 0;
	padding: 22px 0 18px 0;
	border-top: 1px #b4b4b4 dotted;
	text-align: center;
}

.ladies .search_area .search_box .btn_box01 input{
	display: inline-block;
	width: 200px;
	padding: 5px 0;
	color: #fff;
	border: none;
	background: #a8865c;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}





/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide　{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}






/* --------------------------------------------------------------------------------------
 コンテンツスクロール アニメ
--------------------------------------------------------------------------------------- */

#anc01,
#anc02,
#anc03{
opacity: 0;
transition: 1.5s;
}
.active{
opacity: 1.0 !important;
}


/* hotel_list_all */
p.hotel_list_all{text-align:center; margin:60px 0 40px 0;}
p.hotel_list_all a{padding:12px; text-align: center; box-sizing: border-box; background:#666; width:380px; display: inline-block; color:#fff; font-size: 18px;}
p.hotel_list_all a:hover{background:#949494; text-decoration: none;}