@charset "UTF-8";

.access#index .area-title h1{margin:60px 0; letter-spacing:5px; margin-right: -5px;}

.access#index .area-basic-info,
.access#index .area-directions,
.access#index .area-info-list{border-top:#3a2f08 1px solid; padding-top:15px;}

.access#index .area-basic-info{margin-bottom:50px;}
.access#index .area-basic-info .img,
.access#index .area-basic-info .txt{width:585px;}
.access#index .area-basic-info .txt{float:left;}

.access#index .area-basic-info .img{float:right;}
.access#index .area-basic-info .img p{margin-bottom:20px;}
.access#index .area-basic-info .img img{width:100%;}
.access#index .area-basic-info .img p.btn{display: inline-block;margin-right: 10px;}
.access#index .area-basic-info .data{border-top:#3a2f08 1px solid; padding-top:10px; position:relative;margin-bottom: 15px;padding-bottom: 15px;}
.access#index .area-basic-info .data:nth-child(1){border:none; padding-top:0;}
.access#index .area-basic-info .data h3{font-size:16px;}
.access#index .area-basic-info .data h3.name{font-size: 22px;font-weight: bold;margin-bottom: 15px;}
.access#index .area-basic-info .data ul{font-size: 12px;margin-bottom: 20px;}
.access#index .area-basic-info .data ul li{margin-bottom: 5px;}
.access#index .area-basic-info .data h3.icon_1:before,
.access#index .area-basic-info .data h3.icon_2:before,
.access#index .area-basic-info .data h3.icon_3:before,
.access#index .area-basic-info .data h3.icon_4:before{content:""; width:36px; height:36px; display:inline-block; margin-right:15px; position:relative; top:10px;}
.access#index .area-basic-info .data h3.icon_1:before{background:url(../../../../images/ja/myoko/access/icon-car.png) 0 0 no-repeat;}
.access#index .area-basic-info .data h3.icon_2:before{background:url(../../../../images/ja/myoko/access/icon-train.png) 0 0 no-repeat;}
.access#index .area-basic-info .data h3.icon_3:before{background:url(../../../../images/ja/myoko/access/icon-bus.png) 0 0 no-repeat;}
.access#index .area-basic-info .data h3.icon_4:before{background:url(../../../../images/ja/myoko/access/icon-airport.png) 0 0 no-repeat;}
.access#index .area-basic-info .data p{margin-bottom:30px;}
.access#index .area-basic-info .data p.image img{margin:0 auto;}
.access#index .area-basic-info .data p.image.side{float:right;}
.access#index .area-basic-info .data p.image.side img{width:220px;}
.access#index .area-basic-info .data p span.square,
.access#index .area-basic-info .data p span.circle{display:block;}
.access#index .area-basic-info .data p span.square:before{content:"■";}
.access#index .area-basic-info .data p span.circle:before{content:"●";}
.access#index .area-basic-info .data p.btn{ position:absolute; bottom:0; right:0; margin:0;}

.access#index .area-basic-info .data p.link{line-height:1.6; font-size:14px;}
.access#index .area-basic-info .data p.link ._btn-small{width: 340px;background-position: 310px 50%;margin-bottom: 10px;}
.access#index .area-basic-info .data p .mapcode{padding-left:23px; background:url(../../../../images/ja/myoko/common/ico-mapcode.png) left center no-repeat; background-size:17px 17px;}

.access#index .area-basic-info .banner img{padding-top:50px;}

.access#index .area-directions{margin-bottom:50px;}
.access#index .area-directions ul{}
.access#index .area-directions ul li{width:220px; height:auto; margin:0 25px 30px 0; float:left;height: 230px;}
.access#index .area-directions ul li:nth-child(5n){margin-right:0;}
.access#index .area-directions ul li .image img{width:100%;}
.access#index .area-directions ul li .lead{font-size:14px; line-height:1.6; margin-top:10px; display:block;}

.access#index .area-info-list{margin-bottom:20px;}

.access#index .area-info-list .image.side{float:left; padding-left:90px;}
.access#index .area-info-list .info{position:relative; margin-bottom:50px;}
.access#index .area-info-list .btn.side{float:right;}
.access#index .area-info-list .btn.side a{position:absolute; bottom:0; right:0;}

.access#index .area-info-list ul{}
.access#index .area-info-list ul li{width:330px; height:auto; margin:0 105px 60px 0; float:left;}
.access#index .area-info-list ul li:nth-child(3n){margin-right:0;}
.access#index .area-info-list ul li:nth-child(3n+1){clear:both;}
.access#index .area-info-list ul li .image img{width:100%;}
.access#index .area-info-list ul li .title{font-size:18px; line-height:1.6; margin:10px 0; display:block;}
.access#index .area-info-list ul li .lead{font-size:14px; line-height:1.6; margin-bottom:15px; display:block;}
.access#index .area-info-list ul li .btn{text-align:right; display:block;}

.access#index .area-space-list .access .txt .btn{text-align:right; display:block;}
.access#index .googlemap iframe{width: 585px; height:380px;}
.access#index .googlemap ._btn-small{background-position: 160px 50% !important;width: 180px;}

.access#bus main .container{width: 800px;}
.access#bus .area-title h1{margin:60px 0!important; letter-spacing:5px; margin-right: -5px;}
.access#bus .area-basic-info{border-top:#3a2f08 1px solid; padding-top:15px;}
.access#bus .area-basic-info .image,
.access#bus .area-basic-info ._p{margin-bottom:30px;}
.access#bus .area-basic-info .image img{width:100%;}
.access#bus ._p span{font-size:12px; display:block; margin:10px 0 20px 0;}
.access#bus td span{font-size:12px;}

.access#bus .area-basic-info ._table{margin-bottom:30px; text-align:center; font-size:14px;}
.access#bus .area-basic-info ._table th{text-align:center;}
.access#bus .area-basic-info ._table.detail td{text-align:left;}