@charset "UTF-8";

.activity#index #section-map{}

.activity#index .area-title h1{margin-top:60px;}
.activity#index .wrapper{width:830px; margin:0 auto;}

.activity#index .box-hidden{display:none; padding:40px 70px; background:#f4f3f0; box-sizing:border-box; margin-bottom:60px;}
.activity#index .panel{display:block; margin-top:5px;}
.activity#index .panels{margin-bottom:50px;}

.activity#index ._anchor{margin:50px 0 80px 0;}
.activity#index ._anchor li{width:276px;}

.activity#index .box-accordion{margin-bottom:30px;}
.activity#index ._btn-pickup{width:100%; background: url(../../../../images/ja/myoko/pc/btn-pickup-arrow.png) #3a2f08 785px 50% no-repeat; position:relative; cursor:pointer;}
.activity#index .open ._btn-pickup:after{content:""; display:block; width:17px; height:10px; background:url(../../../../images/ja/myoko/pc/btn-pickup-arrow.png) #3a2f08 0 0 no-repeat;  position:absolute; top:25px; right:28px; transform: rotate(-180deg); -webkit-transform: rotate(-180deg); -moz-transform: rotate(-180deg);}

.activity#index #bus{}
.activity#index #bus .image{margin-bottom:20px;}
.activity#index #bus .image img{width:100%;}

.activity#index #bus ._table {background:#fff; margin-bottom:20px;}
.activity#index #bus ._table th,
.activity#index #bus ._table td{border-right:1px solid #f3f3f0; border-bottom:1px solid #f3f3f0; text-align:center;}
.activity#index #bus ._table th{padding:10px;}
.activity#index #bus ._table td{padding:10px; border-right:1px solid #f3f3f0;}

.activity#index #bus .first,
.activity#index #bus .second{width:335px; height:440px; background:#fff; display:block; margin-bottom:10px; padding:20px; box-sizing:border-box;}
.activity#index #bus .first{float:left;}
.activity#index #bus .second{float:right;}

.activity#index #bus ol{ margin-left:25px;}
.activity#index #bus ol li{line-height:1.6;}
.activity#index #bus ol li span{font-size:12px;}

.activity#index #bus p.title{font-size:14px; line-height:1.6; text-align:center; padding-bottom:10px; margin-bottom:20px; border-bottom:1px #3a2f08 solid;}
.activity#index #bus p.title span{font-size:12px; display:block;}
.activity#index #bus p.note{font-size:12px; line-height:1.6; clear:both;}

.activity#index #cart{}
.activity#index #cart .image{float:left; width:250px;}
.activity#index #cart .text{float:right; width:440px;}
.activity#index #cart .text p{font-size:14px; margin-bottom:20px; line-height:1.6;}
.activity#index #cart .text p.note{font-size:12px; margin:50px 0 0 0;}

.activity#index .box-activity h2{border-top:#3a2f08 1px solid; padding-top:20px;}
.activity#index .box-activity h3{font-size:18px; margin-bottom:20px;}
.activity#index .box-activity h3 + p{font-size:14px; line-height:1.6; margin-bottom:20px;}
.activity#index .box-activity table + .note{margin-top:10px; font-size:12px; line-height:1.6;}

.activity#index .box-activity ul{margin-top:60px;}
.activity#index .box-activity li{margin-bottom:60px;}

.activity#index #section-indoor .image,
.activity#index #section-outdoor .image{float:left; width:300px;}
.activity#index #section-indoor .text,
.activity#index #section-outdoor .text{float:right; width:510px;}
.activity#index .box-activity table td span{margin-bottom:10px; display:block;}
.activity#index .box-activity table td span:nth-last-child(1){margin-bottom:0;}
.activity#index .box-activity table td span.note{font-size:10px; margin-bottom:0;}

.activity#index #section-indoor ._table th,
.activity#index #section-outdoor ._table th{width:180px; text-align:center; vertical-align:middle;}

.activity#index #section-rental{margin-bottom:100px;}
.activity#index #section-rental h2 + p{font-size:14px; line-height:1.6; margin-bottom:40px;}
.activity#index #section-rental table th{width:270px; text-align:center; vertical-align:middle;}
.activity#index #section-rental table td{padding-left:100px; padding-right:100px;}
