#calendar {background-color:#fff;}
#calendar .pager{width:100%; margin:0 auto 5px auto; background:#eee; line-height:24px; height:24px; text-align:center;}
#calendar .pager a{color:#4a5050;}
#calendar .pager .prev{font-size:12px; float:left;width:9em;}
#calendar .pager .prev a:before{content:"《"; display:inline-block; margin-right:5px;}
#calendar .pager .now{font-size:14px;}
#calendar .pager .next{font-size:12px; float:right;width:9em;}
#calendar .pager .next a:after{content:"》"; display:inline-block; margin-left:5px;}
#calendar a:hover table{opacity:0.7; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"; -moz-opacity:0.7; -khtml-opacity: 0.7; zoom:1;}
#calendar table{width:100%; margin:0 auto 5px auto; border-top:1px solid #d8d8d8; border-left:1px solid #d8d8d8; position:relative;}
#calendar table th,
#calendar table td{border-right:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; width:14.2%; box-sizing:border-box;}
#calendar table thead th{font-size:12px; padding:3px;}
#calendar table thead th:nth-child(1),
#calendar table thead th:nth-child(1) a,
#calendar table tbody td:nth-child(1) span.days{color:#c33;}
#calendar table thead th:nth-child(7),
#calendar table tbody td:nth-child(7) span.days{color:#69c;}
#calendar table tbody td{padding:3px; position:relative; height:24px; font-size:10px;vertical-align: top;}
#calendar table tbody td span.days{/*position:absolute; top:3px; left:5px;*/ display:block; margin-bottom:10px;}
#calendar table tbody td span.holiday{color:#d00;}
#calendar table tbody td span.category{/*position:absolute; top:8px; left:0; text-align:center;*/ width:100%; display:block;}
/*#calendar table tbody td span.category span{width:16px; height:16px; margin:0 2px; display:inline-block;}*/
#calendar ul li:nth-child(1),
#calendar table tbody td span.category .restaurant{background: url(../../../../images/ja/myoko/pc/icon-restaurant.png) 0 50% no-repeat; color:#90c320;}
#calendar ul li:nth-child(2),
#calendar table tbody td span.category .illumination{background: url(../../../../images/ja/myoko/pc/icon-illumination.png) 0 50% no-repeat; color:#202488;}
#calendar table tbody td span.category .illumination a{color: #3A2F08;}
#calendar table tbody td span.category .event a{color: #3A2F08;}
#calendar ul li:nth-child(3),
#calendar table tbody td span.category .event{background: url(../../../../images/ja/myoko/pc/icon-event.png) 0 50% no-repeat; color:#e40114;}

#calendar table tbody td span.category span{padding:0px 0 10px 21px; display:block; background-position:0 0!important;}
#calendar table tbody td span.category span a{text-decoration:underline; line-height:1.4;}

#calendar ul{width:770px; margin:0 auto;}
#calendar ul li{font-size:12px; display:inline-block; padding-left:20px; margin-right:10px; line-height:16px;}
@media only screen and (max-width:740px){
.iframebox{width:100%;max-width:100%;}
#calendar table , #calendar .pager{width:100%;}
#calendar table tr{display: block!important;}
#calendar table thead{display:none;}
#calendar table th,#calendar table td{width:100%;display: list-item;height:auto!important;list-style:none;}
#calendar table td:empty {display:none;}
.iframebox iframe{height:2900px;}
}