@charset "UTF-8";

.contact#index .area-title h1{margin:60px 0; letter-spacing:5px; margin-right: -5px;}

.contact#index .area-form{ background:#f3f3f0; margin:0 auto 80px auto; padding:40px 30px; box-sizing:border-box; width:830px; font-size:14px;}
.contact#index .area-form .note{font-size:12px; margin-bottom:30px; display:block;}
.contact#index .area-form .note.required:before,
.contact#index .area-form .required span.name span.required:after{content:"＊"; color:#fe0000; display:inline-block;}
.contact#index .area-form .required span.name{width:150px; line-height:50px; display:block; margin-bottom:30px; clear:both; float:left;}
.contact#index .area-form .required span.title,
.contact#index .area-form .required span.input-title,
.contact#index .area-form .required span.input-name,
.contact#index .area-form .required span.input-kana,
.contact#index .area-form .required span.input-id,
.contact#index .area-form .required span.input-mail,
.contact#index .area-form .required span.text-area{display:block; width:620px; float:left;}
.contact#index .area-form .required span input:placeholder-shown{color:#bfaf7a;}
.contact#index .area-form .required span input::-webkit-input-placeholder{color:#bfaf7a;}
.contact#index .area-form .required span input:-ms-input-placeholder{color:#bfaf7a;}
.contact#index .area-form .required span input:-moz-placeholder{color:#bfaf7a; opacity: 1;}
.contact#index .area-form .required span input::-moz-placeholder{color:#bfaf7a; opacity: 1;}

.contact#index .area-form .required span.title span.text{padding:15px 17px; font-size:14px; border:none; width:100%; box-sizing:border-box; line-height:1.4; margin-bottom:30px; background:#fff; display:block;}

.contact#index .area-form .required span.input-title select
{position: relative; width:100%; -webkit-appearance: none; -moz-appearance: none; appearance: none; padding:17px; font-size:14px; border:none; margin:0 0 30px 0;
background:url(../../../../images/ja/resort_hotels/common/arrow-btn-down.png) #fff right center no-repeat; background-size: 40px 12px;}
.contact#index .area-form .required span.input-title select::-ms-expand {display: none;}

.contact#index .area-form .required span.input-name input,
.contact#index .area-form .required span.input-kana input{padding:17px; font-size:14px; border:none; width:265px; margin:0 15px 30px 0;}
.contact#index .area-form .required span.input-id input{padding:17px; font-size:14px; border:none; width:265px; margin:0 0 15px 0;}
.contact#index .area-form .required span.input-name input:nth-last-child(1),
.contact#index .area-form .required span.input-kana input:nth-last-child(1){margin-right:0}
.contact#index .area-form .required span.input-mail input{padding:17px; font-size:14px; border:none; width:586px; margin-bottom:30px;}

.contact#index .area-form .required span.text-area textarea{padding:17px; font-size:14px; border:none; width:586px; height:151px; margin-bottom:30px;}

.contact#index .area-form .btn{margin:0 auto 10px auto; background-image:none; text-align:center;}
.contact#index .area-form .btn ._btn-middle{margin:0 5px; background-image:none; padding:0; display:inline-block;}

.contact#index .area-form ._p{margin-bottom:30px; text-align:center;}

.contact#index .area-contact-list{border-top:#3a2f08 1px solid; padding-top:15px; width:830px; margin:0 auto 0 auto;}
.contact#index .area-contact-list h2{margin-bottom:30px;}
.contact#index .area-contact-list ul{margin-bottom: 50px;}
.contact#index .area-contact-list h3{font-weight: bold;}
.contact#index .area-contact-list:nth-last-child(1){margin-bottom:40px;}
.contact#index .area-contact-list li{border-bottom:#bfaf7a 1px solid; padding-bottom:30px; margin:30px 0;}
.contact#index .area-contact-list li span.title{font-size:18px; line-height:26px; float:left; width:340px; margin-right:20px;}
.contact#index .area-contact-list li span.tel{font-size:26px; line-height:26px; float:left; width:200px; margin-right:20px;}
.contact#index .area-contact-list li span.tel:before{content:"";  background:url(../../../../images/ja/resort_hotels/inquiry/icon-tel.png) left center no-repeat; width:17px; height:17px; display:inline-block; margin-right:7px;}
.contact#index .area-contact-list li span.fax{font-size:26px; line-height:26px; float:left; width:210px;}
.contact#index .area-contact-list li span.fax:before{content:"";  background:url(../../../../images/ja/resort_hotels/inquiry/icon-fax.png) left center no-repeat; width:21px; height:19px; display:inline-block; margin-right:7px;}
.contact#index .area-contact-list li span.note{font-size:12px; line-height:1.6; float:left; width:250px;}

.error_massages{background: #fff0f0 none repeat scroll 0 0;color: #c00;line-height: 1.4;margin: 0 auto 20px;padding: 30px;width: 770px;}