@charset "UTF-8";

.faq#index .area-title h1{margin:50px 0 70px 0;}

.faq#index ul._anchor{margin:0 auto 80px auto; width:960px;}
.faq#index ul._anchor li{width:20%;font-size: 13px;}

section.area-faq {border-top:#3a2f08 1px solid; padding-top:10px; margin:0 auto 0 auto; width:830px;}
section.area-faq#s04{margin-bottom:50px;}
section.area-faq ._h2{margin-bottom:10px;}

section.area-faq .faq{margin-top:30px; border-bottom:1px #beaf7a solid;}
section.area-faq .faq:nth-last-child(1){border:none;}
section.area-faq .faq .q,
section.area-faq .faq .a{padding-left:50px; position:relative;}

section.area-faq .faq .q{font-size:18px; line-height:1.6; margin-bottom:24px;}
section.area-faq .faq .a{font-size:14px; line-height:1.8; margin-bottom:30px;}

section.area-faq .faq .q:before,
section.area-faq .faq .a:before{font-size:20px; color:#fff; width:30px; height:30px; text-align:center; display:block; font-family: 'EB Garamond', serif; font-weight:normal;}
section.area-faq .faq .q:before{content:"Q"; background:#3a2f08; position:absolute; left:0; top:0; line-height:25px;}
section.area-faq .faq .a:before{content:"A"; background:#beaf7a; position:absolute; left:0; top:6px; line-height:30px;}

section.note{padding-top: 10px;width: 830px;margin: 50px auto 0;line-height: 1.4;border-top: 1px solid #3a2f08;}
section.note li{margin-bottom: 20px;list-style: disc;margin-left: 1em;}
section.note h2{font-size: 22px; font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","ＭＳ 明朝",serif;font-weight: normal;letter-spacing: 0.045em;margin-bottom: 20px;}
section.note dl{margin-bottom: 30px;border-bottom: 1px solid #beaf7a;}
section.note dt{font-weight: bold;margin-bottom: 20px;}
section.note dd{}