@charset "UTF-8";

/* 共通 */
.golf .visual{width:100%; height:666px; background:url(../../../../images/ja/myoko/golf/img-mainvisual.jpg) 50% 50% no-repeat; background-size:cover !important; display:block;}
.golf .visual .inner{width: 1140px;margin: 0 auto; position: relative;}
.golf .visual .inner .btn{position: absolute;top:30px;right: 0px;}
.golf .area-title h1{margin-top:60px;}
.golf .links{margin-bottom:50px;}
.golf .links li{float:left; width:190px; margin-right:2px; font-size:20px;}
.golf .links li:nth-last-child(1){width:240px; margin-right:0;}
.golf .links li a{display: block; height:70px; line-height:70px; text-decoration: none; text-align:center; color: #fff; outline: none; background:#beaf7a;}
.golf .links li.active a,.golf .links li.active a:hover,.golf .links li a:hover{background:#877434;}
.golf .links li.row2 a{line-height: 20px;padding-top: 15px;height: 55px;}

body.golf#index .golf h2{border-top:#3a2f08 1px solid; padding-top:15px; margin-bottom:40px;}
body.golf#index .golf h3{font-weight:normal; margin-bottom:20px; font-size:14px;}
body.golf#index .links li.index a,
body.golf#course .links li.course a,
body.golf#play .links li.play a,
body.golf#web .links li.web a,
body.golf#club .links li.club a,
body.golf#challenge .links li.challenge a{background: #887535;}

#section-box-btns{width: 710px;margin: 0 auto 80px;}
#section-box-btns .btns.main{float: left;}
#section-box-btns ul.btns.sub{float: right;}
#section-box-btns ul.btns.sub li{margin-bottom: 8px;}


/* index */
.golf#index section#news {position:relative; background:#f3f3f0; border-radius:5px; padding:60px 0 30px 0; margin-bottom:50px;}
.golf#index section#news .box-wrap{width:830px; margin:0 auto;}
.golf#index section#news .box-news{border-bottom:#3a2f08 1px solid; padding-bottom:30px; margin-bottom:30px;}
.golf#index section#news .box-news:nth-last-child(1){border:none; padding-bottom:0;}
.golf#index section#news .box-news .date{float:left; width:110px; font-size:14px;margin-top: 3px;}
.golf#index section#news .box-news .text{float:left; width:530px; line-height:1.6; font-size:14px;margin: 0 20px;}
.golf#index section#news .btn{text-align: right;margin-right: 20px;}
.golf#index section#recommend ul{margin-bottom:70px;}
.golf#index section#recommend ul li{float:left; width:360; margin:0 55px 50px 0; font-size:14px; line-height:1.5;}
.golf#index section#recommend ul li:nth-child(3n){margin:0 0 0 1px;}
.golf#index section#recommend ul li .image{margin-bottom:10px;}
.golf#index section#recommend ul li .image img{width:100%;}
.golf#index section#recommend ul li h3{font-weight: normal;}

.golf#course #section-course .width{width: 750px;}
.golf#course #section-course ._h3{border-left: #0d4826 solid 4px; padding:4px 0 4px 10px;font-size: 20px;}
.golf#course #section-course ._p{margin-bottom: 30px;font-size: 16px;}
.golf#course #section-course .box-info{margin-bottom: 60px;}
.golf#course #section-course .box-info .box-image{}
.golf#course #section-course .box-info .box-image .main{margin-bottom: 20px;}
.golf#course #section-course .box-info .box-image .sub{float: left;margin-right: 30px;}
.golf#course #section-course .box-info .box-image .sub:nth-last-child(1){margin-right: 0px;}
.golf#course #section-course .box-course{margin-bottom: 80px;}
.golf#course #section-course .box-course .main{margin-bottom: 20px;}
.golf#course #section-course .box-course .table{margin-bottom: 30px;}
.golf#course #section-course .box-course h4{background: #0d4826; color: #fff; padding: 10px 0 10px 20px;margin-bottom: 10px;}
.golf#course #section-course .box-course h4 a{color:#fff;}
.golf#course #section-course .box-course .list-course{}
.golf#course #section-course .box-course .list-course li{float: left;margin-right: 3px;}

/* clib */
.golf#club h2{font-size:22px;}
.golf#club section#member{width:830px; margin:0 auto 80px auto;}
.golf#club section#member .member img{margin:0 auto;}
.golf#club section#apply{width:830px; margin:0 auto 120px auto;}
.golf#club section#apply h2 + p{line-height:1.9; margin-bottom:70px;}
.golf#club section#apply .btn a{width:370px; display: block; height:60px; line-height:60px; font-size:20px; color:#fff; margin:0 auto; text-align:center; background:#003300; border-radius:5px; letter-spacing:5px;}

/* play */
.golf#play h2{font-size:22px; margin-bottom:10px;}
.golf#play h2 + p{margin-bottom:40px;}
.golf#play section#price{width:830px; margin:0 auto 60px auto;}
.golf#play section#price ._table th,
.golf#play section#price ._table td{width:50%; text-align:center;}
.golf#play section#info{width:830px; margin:0 auto 120px auto; background:none;}
.golf#play section#info .box-wrap{margin-bottom:10px;}
.golf#play section#info .box-wrap .image{float:left; width:210px; font-size:14px;}
.golf#play section#info .box-wrap .text{float:right; width:600px; line-height:1.6; font-size:14px;}
.golf#play section#info .box-wrap .text p{margin-bottom:30px;}
.golf#play ._btn.calender{margin: 40px auto;text-align: center;}
.golf#play ._btn.calender a{width: 300px;background-position: 260px 50%;}

/* web */
.golf#web section#price p{margin-bottom: 30px;}
.golf#web section#price .box{float: left;width: 260px;margin-right: 30px;}
.golf#web section#price .box:nth-child(4){margin-right: 0px;}
.golf#web section#price .box-price{background: #f4f3f0;padding: 40px 35px;margin-bottom: 50px;}
.golf#web section#price .box-price .text .point{display: inline-block;background: #0d4826;border-radius: 55px;width: 55px;height: 43px;padding-top: 12px;color: #fff;vertical-align: middle;text-align: center;margin-bottom: 10px;}
.golf#web section#price .box-price .text .point small{display: block;font-size: 10px;}
.golf#web section#price .box-price .text .point span{font-size: 24px;}
.golf#web section#price .box-price .text h3{color: #0d4826;display: inline-block;vertical-align: top;padding-top: 20px;font-size: 20px;}
.golf#web section#price .box-price .image{text-align: center;}
.golf#web section#price .box-price .image img{margin: 0 auto;}
.golf#web section#price .box-price .lead{font-size: 15px;margin-bottom: 10px;line-height: 1.4;}
.golf#web #box-btns{width: 830px;margin: 0 auto 80px;}
.golf#web #box-btns ul.btns li.first{float: left;}
.golf#web #box-btns ul.btns li.last{float: right;}


/* challenge */
.golf#challenge h2{font-size:22px;}
.golf#challenge h3{font-size:20px; padding-left:15px; line-height:25px; border-left:#0d4725 5px solid; margin-bottom:20px;}
.golf#challenge section#item .box-wrap{margin-bottom:100px;}
.golf#challenge section#item .box-wrap table th{width:125px;}
.golf#challenge section#item .box-wrap .text{float:left; width:620px; line-height:1.2; font-size:14px; margin-right:30px;}
/*.golf#challenge section#item .box-wrap .text .btn a{width:370px; display: block; height:60px; line-height:60px; font-size:16px; color:#fff; margin:40px 0 0 0; text-align:center; background:#003300; border-radius:5px; letter-spacing:5px;}
.golf#challenge section#item .box-wrap .text .btn span{background:url(../../../../images/ja/myoko/golf/icon_king.png) 0 50% no-repeat; padding-left:37px;}*/
.golf#challenge section#item .box-wrap .image{float:left; width:220px; font-size:14px;}
.golf#challenge section#item .box-wrap .image img{width: 100%;}
.golf#challenge .box-hidden{display:none; background:#003300; color:#fff; padding:40px 50px;}
.golf#challenge .box-accordion{padding-top:40px;}
.golf#challenge .box-accordion .btn{width:370px; display: block; height:60px; line-height:60px; font-size:16px; color:#fff; margin:0; text-align:center; background:#003300; border-radius:5px 5px 0 0; letter-spacing:5px; position:relative; cursor:pointer; user-select: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none;}
.golf#challenge .box-accordion .btn span.font-m{background:url(../../../../images/ja/myoko/golf/icon_king.png) 0 50% no-repeat; padding-left:37px;}
.golf#challenge .box-accordion .btn .btn-king:after{content:""; display:block; width:14px; height:8px; background:url(../../../../images/ja/myoko/sp/btn-pickup-arrow-sp.png) 0 0 no-repeat; background-size:14px 8px; position:absolute; top:26px; right:30px;}
.golf#challenge .box-accordion .btn.open .btn-king:after{content:""; display:block; width:14px; height:8px; background:url(../../../../images/ja/myoko/sp/btn-pickup-arrow-sp.png) 0 0 no-repeat; background-size:14px 8px; position:absolute; top:26px; right:30px; transform: rotate(-180deg); -webkit-transform: rotate(-180deg); -moz-transform: rotate(-180deg);}

.golf#challenge .box-accordion .congrats{font-size:22px; text-align:center; background:url(../../../../images/ja/myoko/golf/line-challenge.png) 50% 0 no-repeat; padding-top:40px;}
.golf#challenge .box-accordion ul{}
.golf#challenge .box-accordion ul li{width:250px; height:auto; margin:0 33px 20px 0; float:left;}
.golf#challenge .box-accordion ul li:nth-child(4n){margin-right:0;}
.golf#challenge .box-accordion ul li:nth-child(4n+1){clear:both;}
.golf#challenge .box-accordion ul li .image img{width:100%; margin-bottom:20px;}
.golf#challenge .box-accordion ul li .date{clear: both;font-size:13px; display:block; margin-bottom:5px;}
.golf#challenge .box-accordion ul li .title{font-size:13px; line-height:1.6; margin:0; display:block;}

/**/
.news#index .area-title h1,
.news#detail .area-title h1{margin:50px 0 70px 0; letter-spacing:5px; margin-right:-5px;}

section.area-news-list {margin:0 auto 40px auto; width:830px;}
section.area-news-list section.list{border-bottom:#3a2f08 1px solid; padding-bottom:30px; margin-bottom:30px;}
section.area-news-list section.list .img{float:left; width:200px;}
section.area-news-list section.list .img img{width:200px;}
section.area-news-list section.list .txt{float:right; width:600px;}
section.area-news-list section.list .txt .date{font-size:14px;margin-bottom: 5px;}
section.area-news-list section.list .txt .date ._label{margin:0 0 10px 20px;}
section.area-news-list section.list .txt h2{font-size:14px; margin-bottom:5px; line-height:1.4;}
section.area-news-list section.list .txt .lead{font-size:14px; margin-bottom:10px; line-height:1.6;}
section.area-news-list section.list .txt .btn{text-align:right;}

.pager{margin-bottom:80px; text-align:center; font-size:0;}
.pager li{display:inline-block; font-size:29px;}
.pager li span,
.pager li a{display: block; font-size: 29px; padding:0 0.4em; background:#fff;}
.pager li a{text-decoration:underline;}

section.area-news-detail{margin:0 auto 80px auto; width:830px; border-top:#3a2f08 1px solid; padding-top:10px;}
section.area-news-detail .date{font-size:14px; margin-bottom:40px;}
section.area-news-detail .date ._label{margin:0 0 10px 20px;}
section.area-news-detail h2{font-size:22px; margin-bottom:20px; font-weight:normal;}
section.area-news-detail ._p{margin-bottom:30px;}
section.area-news-detail h3{font-size:14px; font-weight:normal; line-height:1.6;}
section.area-news-detail h3:before{content:"■"; font-size:14px;}

section.area-news-detail ul{font-size:14px; line-height:1.6; list-style:disc; margin-bottom:30px;}
section.area-news-detail ul li{margin-left:20px;}

section.area-news-detail .image img{ margin:0 auto; padding:30px 0;}
section.area-news-detail .btn{text-align:right; margin-top:40px;}

section.area-news-detail .box-entry{}
section.area-news-detail .box-entry img{max-width: 100%;height: auto;margin: 0 0 30px;}
section.area-news-detail .box-entry h1{font-size:28px; margin-bottom:40px; text-align: center;}
section.area-news-detail .box-entry h2{font-size:22px; margin-bottom:30px;}
section.area-news-detail .box-entry h3{font-size:18px; margin-bottom:20px;}
section.area-news-detail .box-entry h4{font-size:16px; margin-bottom:20px;}
section.area-news-detail .box-entry p{font-size:14px; font-weight:normal; line-height:1.6;margin: 0 0 30px;}

/* table basic */
section.area-news-detail .box-entry table {width:100%; border-collapse: collapse; background:#f3f3f0; font-size:12px; line-height:1.8; box-sizing:border-box;margin-bottom: 30px;}
section.area-news-detail .box-entry table thead th{background: #ddd;}
section.area-news-detail .box-entry table th{background: rgba(191, 175, 123, 0.85) none repeat scroll 0 0;border-right:1px solid #fff; border-bottom:1px solid #fff;}
section.area-news-detail .box-entry table td{border-right:1px solid #fff; border-bottom:1px solid #fff;}
section.area-news-detail .box-entry table th{padding:20px; text-align: left; vertical-align: top; font-weight:normal; /* white-space: nowrap; */ width:185px; box-sizing:border-box;}
section.area-news-detail .box-entry table td{padding:20px; border-right:1px solid #fff;}
section.area-news-detail .box-entry table span.note{font-size:12px;}

section.area-news-detail .box-entry dl{margin-bottom: 30px;}
section.area-news-detail .box-entry dt{font-weight: bold;margin-bottom: 5px;}
section.area-news-detail .box-entry dd{margin-bottom: 20px;}

section.area-news-detail .box-entry ol,
section.area-news-detail .box-entry ul{margin-bottom: 30px;}

section.area-news-detail .box-entry ol li{margin-left: 1em;margin-bottom: 10px;}
section.area-news-detail .box-entry blockquote{background: #eee;padding: 20px;}
section.area-news-detail .box-entry blockquote p{margin-bottom: 0;}
section.area-news-detail .box-entry address{margin-bottom: 20px;}
section.area-news-detail .box-entry{line-height: 1.4;}
section.area-news-detail .box-entry div{line-height: 1.4;}
section.area-news-detail .box-entry .alignleft{float: left;margin: 10px;}
section.area-news-detail .box-entry .alignright{float: right;margin: 10px;}

/* calendar */
.golf#calendar  section#calendar .container{width:830px; position:relative; background:#fff; padding:0px; box-sizing:border-box;}
.golf#calendar  section#calendar{padding:0 0 40px 0; margin-bottom:0;}
.golf#calendar  section#calendar ._p{margin-bottom:20px;}
.golf#calendar  section#calendar .pager{width:770px; margin:0 auto 5px auto; /*background:#eee;*/ border-top:1px #ccc solid; line-height:34px; height:34px; text-align:center;}
.golf#calendar  section#calendar .pager a{color:#4a5050;}
.golf#calendar  section#calendar .pager .prev{font-size:12px; float:left; position:relative; top:0px;}
.golf#calendar  section#calendar .pager .prev a:before{content:"<"; display:inline-block; margin-right:5px; font-size:24px; color:#444; transform: scale( 0.4 , 1 ); position:relative; top:3px;}
.golf#calendar  section#calendar .pager .prev span.nonlink:before{content:"<"; display:inline-block; margin-right:5px; font-size:24px; color:#fff; transform: scale( 0.4 , 1 ); position:relative; top:3px;}
.golf#calendar  section#calendar .pager .prev span.nonlink{color:#fff; user-select: none;}
.golf#calendar  section#calendar .pager .now{font-size:14px; position:relative; top:2px;}
.golf#calendar  section#calendar .pager .next{font-size:12px; float:right; position:relative; top:0px;}
.golf#calendar  section#calendar .pager .next a:after{content:">"; display:inline-block; margin-left:5px; font-size:24px; color:#444; transform: scale( 0.4 , 1 ); position:relative; top:3px;}
.golf#calendar  section#calendar .pager .next span.nonlink:after{content:">"; display:inline-block; margin-left:5px; font-size:24px; color:#fff; transform: scale( 0.4 , 1 ); position:relative; top:3px;}
.golf#calendar  section#calendar .pager .next span.nonlink{color:#fff; user-select: none;}
.golf#calendar  section#calendar a:hover table{opacity:0.7; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"; -moz-opacity:0.7; -khtml-opacity: 0.7; zoom:1;}
.golf#calendar  section#calendar table{width:770px; margin:0 auto 40px auto; border-top:1px solid #d8d8d8; border-left:1px solid #d8d8d8; position:relative;}
.golf#calendar  section#calendar table th,
.golf#calendar  section#calendar table td{border-right:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8;}
.golf#calendar  section#calendar table td.pc{}
.golf#calendar  section#calendar table td .sp{display:none;}
.golf#calendar  section#calendar table thead th{font-size:12px; padding:10px; width:110px;}
.golf#calendar  section#calendar table thead th:nth-child(1),
.golf#calendar  section#calendar table thead th:nth-child(1) a,
.golf#calendar  section#calendar table tbody td:nth-child(1) span.days{color:#c33;}
.golf#calendar  section#calendar table thead th:nth-child(7),
.golf#calendar  section#calendar table tbody td:nth-child(7) span.days{color:#69c;}
.golf#calendar  section#calendar table tbody td{padding:5px; position:relative; height:95px;}
.golf#calendar  section#calendar table tbody td span.days{font-size:10px; position:absolute; top:5px; left:5px;}
.golf#calendar  section#calendar table tbody td span.holiday{color:#d00;}
.golf#calendar  section#calendar table tbody td span.category{/*position:absolute; top:15px; left:0; text-align:center; */ width:100%; display:block; padding-top:25px;}

.golf#calendar  section#calendar table tbody td .txt{color:#fff; display:block; font-size:10px; padding:5px; margin-bottom:5px;}
.golf#calendar  section#calendar table tbody td .green{background:#669966;}
.golf#calendar  section#calendar table tbody td .blue{background:#6699cc;}
.golf#calendar  section#calendar table tbody td .red{background:#cc3333;}
.golf#calendar  section#calendar table tbody td .purple{background:#996699}
.golf#calendar  section#calendar table tbody td .golfday{background:#2c9999;}
.golf#calendar  section#calendar table tbody td .lunch{margin-top:25px; display:block;}
.golf#calendar  section#calendar table tbody td .lunch .title{padding:2px; text-align:center; margin-right:5px; color:#fff; background:#cc3333; font-size:8px; width:3em; display:inline-block;}
.golf#calendar  section#calendar table tbody td .lunch .price{font-weight:bold; font-size:12px; position:relative; top:-4px; line-height:1.6;}

.golf#calendar  section#plan .container{width:830px; position:relative; background:#fff; padding:0px; box-sizing:border-box;}
.golf#calendar  section#plan h3{}
.golf#calendar  section#plan table{margin:10px 0 40px 0;}

