@charset "UTF-8";

.restaurant#index .visual{width:100%; height:666px; background:url(../../../../images/ja/myoko/restaurant/img-mainvisual.jpg) 50% 50% no-repeat; background-size:cover !important; display:block;}

.restaurant#index .area-title h1{margin-top:60px;}
.restaurant#index h2{border-top:#3a2f08 1px solid; padding-top:20px; margin-bottom:20px;}
.restaurant#index .time{margin:0 10px 15px 0;}



.restaurant#index section.area-restaurant {margin-bottom:40px;}
.restaurant#index section.area-restaurant ._photo-bottom{float:left;}
.restaurant#index section.area-restaurant .thumbnail{margin-bottom:70px;}
.restaurant#index section.area-restaurant .txt{float:right; width:585px;}
.restaurant#index section.area-restaurant .txt .logo{margin-bottom:30px;}
.restaurant#index section.area-restaurant .txt .logo img{margin:0 auto;}
.restaurant#index section.area-restaurant .txt ._lead{margin-bottom:30px;}
.restaurant#index section.area-restaurant .txt h3{font-size:16px; margin-bottom:10px;}

.restaurant#index .area-course-list{margin-bottom:20px;}
.restaurant#index .area-course-list .time{margin-bottom:40px;}
.restaurant#index .area-course-list ul.menu{}
.restaurant#index .area-course-list ul.menu li{width:330px; height:auto; margin:0 105px 60px 0; float:left;}
.restaurant#index .area-course-list ul.menu li:nth-child(3n){margin-right:0;}
.restaurant#index .area-course-list ul.menu li.note + li,
.restaurant#index .area-course-list ul.menu li:nth-child(3n+1){clear:both;}
.restaurant#index .area-course-list ul.menu li .image img{width:100%;}
.restaurant#index .area-course-list ul.menu li .menu{display:block; margin-bottom:20px;}
.restaurant#index .area-course-list ul.menu li .title{font-size:16px; line-height:1.6; margin:10px 0 20px 0; padding-bottom:10px; display:block; border-bottom:#3a2f08 1px solid;}
.restaurant#index .area-course-list ul.menu li .lead{font-size:14px; line-height:1.6; margin-bottom:15px; display:block;}
.restaurant#index .area-course-list ul.menu li.note{width:765px; margin:0 0 60px 0;}
.restaurant#index .area-course-list ul.menu li.note span{font-size:14px; line-height:1.8; padding:50px 45px; background:#f3f3f0; display:block;}

.restaurant#index .area-bbq{margin-bottom:80px;}
.restaurant#index .area-bbq .lead{margin-bottom:40px;line-height: 1.4;}
.restaurant#index .area-bbq .image{width:340px; float:left;}
.restaurant#index .area-bbq .text{width:765px; float:right;}
.restaurant#index .area-bbq .text .note{font-size:14px; line-height:1.8; padding:20px 45px; background:#f3f3f0; display:block; margin-bottom:30px;}

.restaurant#index .area-bbq .text dl{width:100%; line-height:1.8; font-size:14px;clear: both;}
.restaurant#index .area-bbq .text dt{display: block; width:25%; clear: left; float: left; margin-bottom:30px;}
.restaurant#index .area-bbq .text dd{display: block; width:75%; float: right; margin-bottom:30px;}

/*
#_tab ul.tabs{margin-bottom:79px;}
#_tab ul.tabs li{width:399px; margin-bottom:1px;}
#_tab ul.tabs li:nth-child(3n){width:400px; margin-right:0;}
*/

/*-----------------------------------------------------------------*/
#tc-widget{border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;padding: 10px 0;}
#tc-widget[data-layout="horizontal"]{width: 585px !important;}
#tc-widget input[type="text"]{width: 88px !important;}
#tc-widget[data-layout="horizontal"] .tc-shop, #tc-widget[data-layout="horizontal"] .tc-date, #tc-widget[data-layout="horizontal"] .tc-time, #tc-widget[data-layout="horizontal"] .tc-ppl{margin-right: 15px !important;}
#tc-widget[data-layout="horizontal"] .tc-book{margin: 0 10px !important;padding: 0px !important;}
#tc-widget[data-layout="horizontal"] .tc-date{margin-left: 0px !important;}