@charset "UTF-8";

.spa#index .visual,
.spa#plan .visual{width:100%; height:666px; background:url(../../../../images/ja/myoko/spa/img-mainvisual.jpg) 50% 50% no-repeat; background-size:cover !important; display:block;}

.spa#index .area-title h1{margin-top:60px; letter-spacing:10px; margin-right: -10px;}

.spa#index ul._anchor{margin-bottom:80px; font-size:20px;}
.spa#index ul._anchor li{width:33.3%;}
.spa#index ul._anchor li i{display:block; font-size:14px; font-style:normal;}
.spa#index ul._anchor li a{line-height:25px;}

.spa#index .box-spa{clear: both;margin: 0 0 80px 0;}
.spa#index section.area-spa {border-top:#3a2f08 1px solid; padding-top:20px; margin-bottom:80px;}
.spa#index section.area-spa h2{font-size:22px; margin-bottom:20px;}
.spa#index section.area-spa h3{font-size:20px; margin-bottom:20px; line-height:1.6;}
.spa#index section.area-spa ._photo-bottom{float:left;}

.spa#index section.area-spa ._photo-bottom .thumbnail li{width:181px; height:auto; margin:0 20px 20px 0; float:left;}
.spa#index section.area-spa ._photo-bottom .thumbnail li:nth-child(3n){margin-right:0;}


.spa#index section.area-spa .txt{float:right; width:585px;}
.spa#index section.area-spa ._lead{font-size:16px; line-height:1.5; margin-bottom:100px;color: #877434;}
.spa#index section.area-spa ._table{font-size:14px; line-height:1.4;margin-bottom: 20px;}
.spa#index section.area-spa ._table th{width:110px;}
.spa#index section.area-spa ._table th,
.spa#index section.area-spa ._table td{padding:15px; line-height:1.6;}
.spa#index section.area-spa .btn{clear: both;float: right;}


.spa#plan h1{margin:50px 0 70px 0;}
.spa#plan section#head{margin-bottom:70px;}
.spa#plan section#head .box-wrap{width:830px; margin:0 auto; padding-top:20px; border-top:#3a2f08 1px solid;}
.spa#plan section#head .lead{font-size:16px; line-height:1.6; margin-bottom:40px;}
.spa#plan section#head .image{}

.spa#plan section#plan{margin-bottom:70px;}
.spa#plan section#plan .box-wrap{width:830px; margin:0 auto; padding:30px; background:#f3f3f0; border-radius:5px; margin-bottom:30px;}
.spa#plan section#plan h2{border-bottom:#3a2f08 1px solid; margin-bottom:20px; padding-bottom:10px;}
.spa#plan section#plan h2 span{font-size:16px;}
.spa#plan section#plan .lead{font-size:16px; line-height:1.6; margin-bottom:30px;}
.spa#plan section#plan ._table{margin-bottom:5px;}
.spa#plan section#plan ._table tbody th{width:270px; padding: 14px 0px;}
.spa#plan section#plan ._table tbody td{padding: 14px 45px;}
.spa#plan section#plan ._table tbody td.price{width:7em; padding: 14px 10px; vertical-align:middle;}
.spa#plan section#plan ._table tbody td.benefits{padding: 14px 10px;}
.spa#plan section#plan ._table tbody th,
.spa#plan section#plan ._table tbody td {font-size:14px; line-height: 1.4; font-family: 'Lato', sans-serif; font-weight:100; letter-spacing: 0.01em; border: solid 1px #f3f3f0;color: #3a2f08; background:#fff;padding: 15px;}
.spa#plan section#plan ._table tbody td .price-off{color:#a91919;}
.spa#plan section#plan ._table tbody td .note{font-size:12px;}
.spa#plan section#plan p.note{font-size:12px; display:block; margin-top:0; line-height:1.4;}
.spa#plan section#plan p.banner{margin-top:20px;}
.spa#plan section#plan ul.images{margin:30px 0 0 0;}
.spa#plan section#plan ul.images li{width:32%; margin-right:2%; float:left;}
.spa#plan section#plan ul.images li:nth-last-child(1){margin-right:0%;}
.spa#plan section#plan ul.images li img{width:100%;}

.spa#plan section#search .nights,
.spa#plan section#search .price{width:470px;}
.spa#plan section#search .people,
.spa#plan section#search .plan{width:330px;}
.spa#plan section#search.plan .btn{position:absolute; right:50px; bottom:50px; line-height:30px;}