@charset "utf-8";

/*==================================================================
	基本テキスト
===================================================================*/

body {
	color: #222;
	line-height: 1.8;
	-webkit-text-size-adjust: 100%; /*スマホ横向きテキスト*/
	/*letter-spacing: 1px;*/
	font-family: Lato, Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; /*ゴシック体*/
	/*font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", "MS 明朝", serif; /*明朝体*/
}

a:link,
a:visited,
a:hover,
a:active {
	color:#222;
	text-decoration: none;
}

.current {
	cursor:default;
}

/*==================================================================
	基本デザイン
===================================================================*/

body {
	font-size:12px;
	line-height:1.5;
}

#wrap {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
}

header,
#navi,
#title_area,
#under_area,
footer {
	width: auto;
}

#tag {
	display:none;
}


/*---------------------------------
 レスポンシブ対応
--------------------------------*/
img {
	max-width: 100%;
	width: auto\9;/*IE8 max-widthバグへの対応*/
	height: auto;
}

.txt {
	text-align: center;/*コピーセンターリング*/
}
