
/* ------ Header ------ */
.pcHide {
	display:none !important;
}

header .inner {
	width:1180px;
	margin:0 auto;
}

header h1 {
	float:left;
	width:360px;
}

header .right_box {
	float:right;
	width:465px;
	letter-spacing:-0.4em;
}

header .right_box p {
	display:inline-block;
	margin:0 0 0 20px;
	vertical-align:middle;
	letter-spacing:0;
}

header .nav {
	margin-bottom:1px;
	background:#000;
}

header .nav ul {
	max-width:1366px;
	min-width:1180px;
	margin:0 auto;
	letter-spacing:-0.4em;
	text-align:center;
}

header .nav ul li {
	position:relative;
	display:inline-block;
	padding:0 1px 0 0;
	letter-spacing:0;
	vertical-align:top;
	background:url(../img/bg_nav.png) no-repeat right center;
}

header .nav ul li:first-child:before {
	content:' ';
	display:inline-block;
	position:absolute;
	top:0;
	left:-1px;
	width:1px;
	padding-top:62px;
	background:url(../img/bg_nav.png) no-repeat left center;
}

header .nav ul li a {
	display:block;
}


/* ------ Contents ------ */

#mainvisual {
	max-width:1366px;
	min-width:1180px;
	margin:0 auto;
}

#mainvisual .slide {
	position:relative;
}

#mainvisual .slide p {
	position:absolute;
	bottom:-24px;
	left:0;
	right:0;
	width:1180px;
	margin:0 auto;
	z-index:2;
}

#mainvisual .slide p a {
	display:block;
	width:269px;
	margin:0 3px 0 auto;
}

#mainvisual .movie {
	min-height:415px;
	background:url(../img/bg_movie_01.jpg) no-repeat center top;
}

#mainvisual .movie .inner {
	position:relative;
	width:1180px;
	margin:0 auto;
}

#mainvisual .movie h2 {
	padding:133px 0 0 255px;
}

#mainvisual .movie .youtube {
	position:absolute;
	top:85px;
	right:0;
}

.topics {
	width:1180px;
	margin:0 auto;
	padding:0 0 39px;
}

.topics h2 {
	padding:40px 0;
	text-align:center;
}

.topics ul {
	letter-spacing:-0.4em;
}

.topics ul li {
	display:inline-block;
	width:378px;
	margin:0 22px 21px 0;
	letter-spacing:0;
	vertical-align:top;
	background:#f6f1ec;
}

.topics ul li:nth-child(3n) {
	margin:0 0 21px;
}
.topics ul li a {
	display:block;
}
.topics ul li p {
	min-height:106px;
	padding:5px;
	font-size:150%;
	line-height:1.8;
}

.topics ul li .img {
	padding:0;
}

.topics ul li p .color {
	color:#7c5500;
}

.topics ul li p .small {
	display:block;
	margin:-3px 0 0;
	font-size:78%;
}

.product {
	background:#f6f1ec;
}

.product .inner {
	width:1180px;
	margin:0 auto;
	padding:0 0 60px;
}

.product h2 {
	padding:40px 0;
	text-align:center;
}

.product .tblBox {
	margin:0 0 40px;
}

.product .tblBox h3 {
	float:left;
	width:280px;
}

.product .tblBox table {
	float:right;
	width:880px;
	background:#fff;
}

.product .tblBox table th {
	width:180px;
	padding:5px 10px;
	color:#fff;
	font-size:134%;
	line-height:1.7;
	vertical-align:middle;
	text-align:left;
	background:#b28e65;
	border-bottom:1px solid #fff;
	box-sizing:border-box;
}

.product .tblBox table td {
	padding:5px 10px;
	font-size:134%;
	line-height:1.7;
	vertical-align:middle;
	border-bottom:1px solid #f6f1ec;
}

.product .tblBox table td span {
	margin:0 0 0 20px;
}

.product .tblBox table tr:last-child th {
	border-bottom:none;
}

.product .tblBox table tr:last-child td {
	padding:18px 10px;
	border-bottom:none;
}

.product .tblBox table tr:last-child td.last {
	padding:8px 10px;
}

.product .intro {
	margin:0 0 40px;
	letter-spacing:-0.4em;
}

.product .intro li {
	display:inline-block;
	width:380px;
	margin:0 20px 0 0;
	letter-spacing:0;
	vertical-align:top;
	background:#fff;
}

.product .intro li:last-child {
	margin:0;
}

.product .intro li p {
	padding:4px 8px;
	font-size:150%;
	line-height:1.7;
}

.product .intro .red {
	color:red;
}

.product .intro li .img {
	padding:0;
}

.product .buy {
	margin:0 0 40px;
	letter-spacing:-0.4em;
	background:#fff;
}

.product .buy li {
	display:inline-block;
	width:315px;
	margin:0 15px 0 0;
	padding:0;
	color:#fff;
	font-size:150%;
	line-height:2.25;
	letter-spacing:0;
	text-align:center;
	vertical-align:middle;
	background:#fff;
}

.product .buy li:first-child {
	width:180px;
	margin:0 10px 0 0;
	padding:20px 0;
	background:url(../img/bg_product_01.png) no-repeat left top;
}

.product .buy li:nth-child(3) a {
	display:block;
	color:#fff;
	padding:10px 0;
	background:url(../img/bg_product_02.png) no-repeat left top;
}

.product .buy li:last-child a {
	display:block;
	color:#fff;
	padding:10px 0;
	background:url(../img/bg_product_03.png) no-repeat left top;
}

.product .bnr {
	margin:0 0 40px;
	text-align:center;
}

.product .linkBox {
	letter-spacing:-0.4em;
}

.product .linkBox li {
	display:inline-block;
	width:380px;
	margin:0 20px 0 0;
	color:#fff;
	font-size:200%;
	line-height:1.5;
	letter-spacing:0;
	text-align:center;
	vertical-align:middle;
	background:#fff;
	border:1px solid #ccc;
}

.product .linkBox li:last-child {
	margin:0;
}

.product .linkBox li a {
	display:block;
	padding:22px 0 22px 50px;
	color:#866635;
	font-weight:bold;
	background:url(../img/ico_shop_03.png) no-repeat 10px 10px;
}

.product .linkBox li:first-child a {
	background:url(../img/ico_shop_02.png) no-repeat 10px 10px;
}

.product .linkBox li:last-child a {
	background:url(../img/ico_shop_04.png) no-repeat 10px 10px;
}

.shop {
	width:1180px;
	margin:0 auto;
	padding:0 0 126px;
}

.shop h2{
  position: relative;
	padding:75px 0 40px;
	text-align:center;
}

.shop h2 .curry_logo {
  width: 10%;
  position: absolute;
  top:35px;
  left: 295px;
}


.shop .campaign {
	width:100%;
	margin:0 auto;
	text-align:center;
    margin: 0 0 40px;
}

.shop .lead {
	margin:0 0 34px;
	font-size:150%;
	line-height:1.7;
	text-align:center;
}

.shop .list {
	position:relative;
	padding:24px 0;
	background:url(../img/bg_shop_01.png) no-repeat center top;
}

.shop .list:after {
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	content:' ';
	width:1180px;
	padding-top:24px;
	background:url(../img/bg_shop_03.png) no-repeat center top;
}

.shop .list .inner {
	padding:24px 48px 0;
	background:url(../img/bg_shop_02.png) repeat-y center top;
}

.shop .list .ctBox {
	margin:0 0 40px;
	border-bottom:1px solid #b28e65;
}

.shop .list .ctBox:last-child {
	margin:0;
	border-bottom:none;
}

.shop .list .ctBox .img {
	float:left;
	width:332px;
}

.shop .list .ctBox .right {
	float:right;
	width:732px;
	text-align:left;
}

.shop .list .ctBox .right h3 {
	margin:0 0 15px;
	padding:9px 10px 8px;
	color:#fff;
	font-size:200%;
	font-weight:bold;
	line-height:1.05;
	background:#ecad00;
}

.shop .list .ctBox .right h3 span {
	display:inline-block;
	margin:0 12px 0 0;
	padding:0 8px;
	font-size:67%;
	vertical-align:bottom;
	background:#cc0000;
}

.shop .list .ctBox .right p {
	margin:0 0 35px;
	font-size:150%;
	line-height:1.7;
	letter-spacing:-0.1px;
}

.shop .list .ctBox .right .ele {
	margin:0 0 20px;
	letter-spacing:-0.4em;
}

.shop .list .ctBox .right .ele li {
	display:inline-block;
	width:90px;
	margin:0 10px 0 0;
	padding:2px 0;
	color:#fff;
	font-size:117%;
	letter-spacing:0;
	vertical-align:top;
	text-align:center;
	background:#000;
	border-radius:2px;
}

.shop .list .ctBox .right .bg {
	margin:0 0 20px;
	padding:6px 10px;
	font-size:134%;
	background:#f6f1ec;
}

.shop .list .ctBox .right .link {
	width:190px;
	margin:0 0 40px;
}

.shop .list .ctBox .right .link a {
	display:block;
	padding:6px 0 5px 36px;
	color:#fff;
	background:#b28e65 url(../img/ico_shop_01.png) no-repeat 10px 10px;
	border-radius:2px;
}

.shop .list .ctBox:last-child .link {
	margin:0 0 28px;
}

.rank {
	background:#efefef;
}

.rank .inner {
	position:relative;
	width:1180px;
	margin:0 auto;
	padding:86px 0 60px;
}

.rank h2 {
	position:absolute;
	top:-66px;
	left:0;
	right:0;
	margin:0 auto;
	text-align:center;
}

.rank ul {
	letter-spacing:-0.4em;
}

.rank ul li {
	position:relative;
	display:inline-block;
	width:360px;
	margin:0 20px;
	letter-spacing:0;
	vertical-align:top;
}

.rank ul li:last-child {
	margin:0 0 0 20px;
}

.rank ul li .pos {
	position:absolute;
	top:-41px;
	left:-20px;
}

.rank ul li .txt {
	position:absolute;
	bottom:12px;
	left:12px;
	font-size:150%;
}


/* ------ Footer ------ */

footer {
	min-width:1180px;
	padding:30px 0;
	background:#000;
}

footer .inner {
	width:1180px;
	margin:0 auto;
}

footer .inner .logo {
	float:left;
}

footer .inner .copy {
	float:right;
	color:#fff;
	font-size:117%;
	text-align:right;
}














@media screen and (max-width: 770px) {

.pcHide {
	display:block !important;
}

.spHide {
	display:none !important;
}

/* ------ Header ------ */

header {
	position:relative;
}

header .inner {
	width:90.625%;
	margin:0 auto;
}

header h1 {
	float:left;
	width:90px;
	padding:5px 0;
}

header .right_box {
	float:right;
	width:200px;
	letter-spacing:-0.4em;
}

header .right_box p {
	display:inline-block !important;
	width:20px;
	margin:0 0 0 10px;
	vertical-align:middle;
	letter-spacing:0;
}

header .right_box .prize {
	width:60px;
}

header .nav {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	width:100%;
	margin-bottom:0;
	z-index:99999;
}

header .nav ul {
	max-width:inherit;
	min-width:inherit;
	margin:0 auto;
	letter-spacing:0;
	text-align:center;
}

header .nav ul li {
	display:block;
	padding:0;
	background:none;
}

header .nav ul li:first-child:before {
	display:none;
}

header .nav ul li a {
	display:block;
}


/* ------ Contents ------ */

#mainvisual {
	max-width:inherit;
	min-width:inherit;
	margin:0 auto;
}

#mainvisual .slide {
	position:relative;
}

#mainvisual .slide p {
	position:static;
	width:auto;
	margin:0 auto;
}

#mainvisual .slide p a {
	display:block;
	width:46%;
	margin:0;
	padding:2.2% 27%;
	text-align:center;
	box-sizing:content-box;
}

#mainvisual .movie {
	min-height:inherit;
	padding:0 0 7%;
	background:url(../img/bg_movie_01_sp.jpg) no-repeat center top;
	background-size:100% auto;
}

#mainvisual .movie .inner {
	position:relative;
	width:auto;
	margin:0 auto;
}

#mainvisual .movie h2 {
	padding:0 0 3%;
}

#mainvisual .movie .youtube {
	position:relative;
	top:inherit;
	right:inherit;
	width:90.625%;
	margin:0 auto;
	padding-top:51%;
}

#mainvisual .movie .youtube iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.topics {
	width:90.625%;
	margin:0 auto;
	padding:0 0 10%;
}

.topics h2 {
	width:70%;
	margin:0 auto;
	padding:5% 0;
	text-align:center;
}

.topics ul {
	letter-spacing:-0.4em;
}

.topics ul li {
	display:block;
	width:auto;
	margin:0 0 5%;
	background:#f6f1ec;
}

.topics ul li:nth-child(3n) {
	margin:0 0 5%;
}

.topics ul li p {
	min-height: inherit;
	padding:5px;
	font-size:100%;
	line-height:1.5;
}

.topics ul li .img {
	padding:0;
}

.topics ul li p .color {
	color:#7c5500;
}

.topics ul li p .small {
	display:block;
	margin:-3px 0 0;
	font-size:78%;
}

.product {
	background:#f6f1ec;
}

.product .inner {
	width:90.625%;
	margin:0 auto;
	padding:0 0 10%;
}

.product h2 {
	width:70%;
	margin:0 auto;
	padding:5% 0;
	text-align:center;
}

.product .tblBox {
	margin:0 0 8%;
}

.product .tblBox h3 {
	float:none;
	width:60%;
	margin:0 auto 3%;
}

.product .tblBox table {
	float:none;
	width:auto;
	background:#fff;
}

.product .tblBox table th {
	width:20%;
	padding:5px;
	color:#fff;
	font-size:100%;
	line-height:1.5;
	vertical-align:middle;
	text-align:left;
	background:#b28e65;
	border-bottom:1px solid #fff;
	box-sizing:border-box;
}

.product .tblBox table td {
	padding:5px;
	font-size:100%;
	line-height:1.5;
	vertical-align:middle;
	border-bottom:1px solid #f6f1ec;
}

.product .tblBox table td span {
	display:block;
	width:60%;
	margin:0 auto 0 0;
}

.product .tblBox table tr:last-child th {
	border-bottom:none;
}

.product .tblBox table tr:last-child td {
	padding:10px 5px;
	border-bottom:none;
}

.product .tblBox table tr:last-child td.last {
	padding:10px 5px;
}

.product .intro {
	margin:0 0 8%;
	letter-spacing:0;
}

.product .intro li {
	display:inline-block;
	width:auto;
	margin:0 0 5%;
	background:#fff;
}

.product .intro li:last-child {
	margin:0;
}

.product .intro li p {
	padding:4px 8px;
	font-size:100%;
	line-height:1.5;
}

.product .intro li .img {
	padding:0;
}

.product .buy {
	margin:0 0 8%;
	padding:0 0 5%;
	letter-spacing:0;
	background:#fff;
}
.product .buy img {
	width:100%;
}

.product .buy li {
	display:block;
	width:90%;
	margin:0 auto 3%;
	padding:10px 0;
	color:#fff;
	font-size:117%;
	line-height:2.25;
	letter-spacing:0;
	text-align:center;
	background:#fff;
}

.product .buy li:first-child {
	position:relative;
	width:auto;
	margin:0 0 6%;
	padding:10px 0;
	background:#000;
}
.product .buy li:first-child:after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -50px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 50px 0 50px;
	border-color: #000 transparent transparent transparent;
}
.product .buy li:nth-child(2) {
	padding:0;
}
.product .buy li:nth-child(3) a {
	background:url(../img/bg_product_02.png) no-repeat left top;
	background-size:100% auto;
}

.product .buy li:last-child a {
	background:url(../img/bg_product_03.png) no-repeat left top;
	background-size:100% auto;
}

.product .bnr {
	margin:0 0 8%;
	text-align:center;
}

.product .linkBox {
	letter-spacing:0;
}

.product .linkBox li {
	display:block;
	width:auto;
	margin:0 0 3%;
	color:#fff;
	font-size:125%;
	line-height:1.5;
	letter-spacing:0;
	text-align:center;
	vertical-align:middle;
	background:#fff;
	border:1px solid #ccc;
}

.product .linkBox li:last-child {
	margin:0;
}

.product .linkBox li a {
	display:block;
	padding:11px 0 11px 25px;
	color:#866635;
	font-weight:bold;
	background:url(../img/ico_shop_03.png) no-repeat 3% center;
	background-size:29px auto;
}

.product .linkBox li:first-child a {
	background:url(../img/ico_shop_02.png) no-repeat 3% center;
	background-size:29px auto;
}

.product .linkBox li:last-child a {
	background:url(../img/ico_shop_04.png) no-repeat 3% center;
	background-size:29px auto;
}

.shop {
	width:90.625%;
	margin:0 auto;
	padding:0 0 20%;
}

.shop h2 {
	width:100%;
	margin:0 auto;
	padding:5% 0;
	text-align:center;
  position: static;
  left: 0;
}

.shop h2 p{
	padding:20px 0 0px;
	text-align:center;
}


.shop h2 .curry_logo {
  width: 18%;
  position: static;
  top: 0px;
  margin-right: 0;
  clear: both;
}

.shop .lead {
	margin:0 0 7%;
	font-size:117%;
	line-height:1.7;
	text-align:left;
}

.shop .list {
	position:relative;
	padding:0;
	background:none;
}

.shop .list:after {
	display:none;
}

.shop .list .inner {
	padding:5% 0;
	background:url(../img/bg_shop_02.png) repeat-y center top;
}

.shop .list .ctBox {
	margin:0 0 8%;
	border-bottom:1px solid #b28e65;
}

.shop .list .ctBox:last-child {
	margin:0;
	border-bottom:none;
}

.shop .list .ctBox .img {
	float:none;
	width:70%;
	margin:0 auto 3%;
}

.shop .list .ctBox .right {
	float:none;
	width:auto;
	text-align:left;
}

.shop .list .campaign {
	margin:0 0 3%;
}

.shop .list .ctBox .right h3 {
	margin:0 0 3%;
	padding:9px 10px 8px;
	color:#fff;
	font-size:134%;
	font-weight:bold;
	line-height:1.5;
	background:#ecad00;
}

.shop .list .ctBox .right h3 span {
	display:inline-block;
	margin:0 6px 0 0;
	padding:0 4px;
	font-size:67%;
	vertical-align:text-bottom;
	background:#cc0000;
}

.shop .list .ctBox .right p {
	margin:0 0 7%;
	font-size:117%;
	line-height:1.7;
	letter-spacing:-0.1px;
}

.shop .list .ctBox .right .ele {
	margin:0 0 4%;
	letter-spacing:-0.4em;
}

.shop .list .ctBox .right .ele li {
	display:inline-block;
	width:25%;
	padding:2px 0;
	color:#fff;
	font-size:100%;
	letter-spacing:0;
	vertical-align:top;
	text-align:center;
	background:#000;
	border-radius:2px;
}

.shop .list .ctBox .right .bg {
	margin:0 0 4%;
	padding:6px 10px;
	font-size:117%;
	background:#f6f1ec;
}

.shop .list .ctBox .right .link {
	width:60%;
	margin:0 0 8%;
}

.shop .list .ctBox .right .link a {
	display:block;
	padding:6px 0 5px 30px;
	color:#fff;
	background:#b28e65 url(../img/ico_shop_01.png) no-repeat 10px center;
	background-size:12px auto;
	border-radius:2px;
}

.shop .list .ctBox:last-child .link {
	margin:0 0 28px;
}

.rank {
	background:#efefef;
}

.rank .inner {
	position:relative;
	width:90.625%;
	margin:0 auto;
	padding:18% 0 12%;
}

.rank h2 {
	position:absolute;
	top:-32px;
	left:0;
	right:0;
	width:250px;
	margin:0 auto;
	text-align:center;
}

.rank ul {
	margin:0 0 0 5%;
	letter-spacing:0;
}

.rank ul li {
	position:relative;
	display:block;
	width:auto;
	margin:0 0 15%;
}

.rank ul li:last-child {
	margin:0;
}

.rank ul li .pos {
	position:absolute;
	top:-16%;
	left:-5%;
	width:22%;
}

.rank ul li .txt {
	position:absolute;
	bottom:4%;
	left:1em;
	font-size:125%;
}



/* ------ Footer ------ */

footer {
	min-width:inherit;
	padding:5% 0;
	text-align:center;
}

footer .inner {
	width:93.75%;
	margin:0 auto;
}

footer .inner .logo {
	float:none;
	margin:0 0 5%;
}

footer .inner .copy {
	float:none;
	font-size:100%;
	text-align:center;
}



}

/* ------ curry_comm ------ */

.planmain05 {
    margin: 10px auto 0px;
    border: 10px #d4d0bd solid;
    width: 500px;
    text-align: center;
}
