@charset "UTF-8";

.activity#index #section-map{}

.activity#index header{}
.activity#index .area-title h1{margin:75px 0 0 0; padding-bottom:40px;}
.activity#index .wrapper{}

.activity#index #section-map{margin-bottom:25px;}
.activity#index #section-map img{width:100%;}

.activity#index .box-hidden{padding:15px; background:#f4f3f0; box-sizing:border-box; margin-bottom:0px;display: none;}
.activity#index .panel{display:block; margin-top:5px;}
.activity#index .panels{margin-bottom:50px;}

.activity#index ._anchor{display:none;}

.activity#index .box-accordion{margin-bottom:15px;}
.activity#index ._btn-pickup{width:100%; background: url(../../../../images/ja/myoko/sp/btn-pickup-arrow-sp.png) #3a2f08 785px 50% no-repeat; position:relative;}
.activity#index .open ._btn-pickup:after{content:""; display:block; width:14px; height:8px; background:url(../../../../images/ja/myoko/sp/btn-pickup-arrow-sp.png) 0 0 no-repeat; background-size:14px 8px; position:absolute; top:16px; right:10px; transform: rotate(-180deg); -webkit-transform: rotate(-180deg); -moz-transform: rotate(-180deg);}

.activity#index #bus{}
.activity#index #bus .image{margin-bottom:20px;}
.activity#index #bus .image img{width:100%;}

.activity#index #bus ._table {background:#fff; margin-bottom:20px;}
.activity#index #bus ._table th,
.activity#index #bus ._table td{border-right:1px solid #f3f3f0; border-bottom:1px solid #f3f3f0; text-align:center;}
.activity#index #bus ._table th{padding:5px; font-size:11px;}
.activity#index #bus ._table td{padding:5px; font-size:10px; border-right:1px solid #f3f3f0;}

.activity#index #bus .first,
.activity#index #bus .second{width:100%; background:#fff; display:block; margin-bottom:10px; padding:10px; box-sizing:border-box;}
.activity#index #bus .first{float:left;}
.activity#index #bus .second{float:right;}

.activity#index #bus ol{ margin-left:25px;}
.activity#index #bus ol li{font-size:12px; line-height:1.6;}
.activity#index #bus ol li br{display:none;}
.activity#index #bus ol li span{font-size:11px;}

.activity#index #bus p.title{font-size:14px; line-height:1.6; text-align:center; padding-bottom:10px; margin-bottom:10px; border-bottom:1px #3a2f08 solid;}
.activity#index #bus p.title span{font-size:12px; display:block;}
.activity#index #bus p.note{font-size:12px; line-height:1.6; clear:both;}

.activity#index #cart{}
.activity#index #cart h3{margin-bottom:10px;}
.activity#index #cart .image{margin-bottom:10px;}
.activity#index #cart .image img {width:50%;}
.activity#index #cart .text{}
.activity#index #cart .text p{font-size:14px; margin-bottom:10px; line-height:1.6;}
.activity#index #cart .text p.note{font-size:12px; margin:10px 0 0 0;}

.activity#index h2,
.activity#index .box-activity h2{border-top:#3a2f08 2px solid; padding-top:10px; margin-bottom:20px;}
.activity#index .box-activity h3{font-size:18px; margin-bottom:20px;}
.activity#index .box-activity h3 + p{font-size:14px; line-height:1.6; margin-bottom:20px;}
.activity#index .box-activity table + .note{margin-top:10px; font-size:12px; line-height:1.6;}

.activity#index .box-activity ul{margin-top:30px;}
.activity#index .box-activity li{margin-bottom:50px;}

.activity#index #osusume{margin-bottom:30px;}

.activity#index #section-indoor .image img,
.activity#index #section-outdoor .image img{width:100%;}
.activity#index #section-indoor .image,
.activity#index #section-outdoor .image{margin-bottom:10px;}
.activity#index #section-indoor .text,
.activity#index #section-outdoor .text{}

.activity#index .box-activity table td span{margin-bottom:10px; display:block;}
.activity#index .box-activity table td span:nth-last-child(1){margin-bottom:0;}
.activity#index .box-activity table td span.note{font-size:10px; margin-bottom:0;}

.activity#index #section-indoor ._table th,
.activity#index #section-outdoor ._table th{width:30%; text-align:center; vertical-align:middle;}

.activity#index #section-rental{margin-bottom:50px;}
.activity#index #section-rental h2 + p{font-size:14px; line-height:1.6; margin-bottom:40px;}
.activity#index #section-rental table th{width:30%; text-align:center; vertical-align:middle;}
.activity#index #section-rental table td{}
