@charset "UTF-8";

body.concept#index{}

body.concept#index .container{padding:0;}
body.concept#index .area-title h1{margin:75px 0 40px 0;}
body.concept#index h2{border-top:#3a2f08 2px solid; padding-top:10px; margin-bottom:20px;}
body.concept#index  ._p{margin-bottom:15px;}

body.concept#index #section-concept{width:100%; margin: 0 auto;}
body.concept#index #section-concept #slider{width:100%;}
body.concept#index #section-concept #slider .bx-wrapper .bx-viewport{border:none; box-shadow:none;left:0px;}

body.concept#index #section-concept .hotellist{}
body.concept#index #section-concept .hotellist li{float: left;width: 174px;}
body.concept#index #section-concept .hotellist li img{margin-bottom: 5px;}
body.concept#index #section-concept .hotellist li p{font-size: 12px;line-height: 1.4;}

body.concept#index #section-concept .hotel-info{margin-bottom: 80px;}
body.concept#index #section-concept .box-info{clear:both;margin-top: 50px; padding:0 15px;}
body.concept#index #section-concept .box-info .box{clear: both;margin-bottom: 80px;}
body.concept#index #section-concept .box-info h3{font-size: 22px;line-height: 1.4;}
body.concept#index #section-concept .box-info .box .box-text{}
body.concept#index #section-concept .box-info .box .box-image{}
body.concept#index #section-concept .box-info .box .box-image img{width: 100%;}

body.concept#index #facilities.box-facilities{padding: 0 2%;}
body.concept#index #facilities.box-facilities .box{width: 100%;margin-bottom: 20px;}
body.concept#index #facilities.box-facilities .box img{width: 100%;margin-bottom: 15px;}
body.concept#index #facilities.box-facilities .box h3{margin-top: 10px;margin-bottom: 15px;font-weight: bold;}
body.concept#index #facilities.box-facilities .description{margin-bottom: 15px;}
body.concept#index #facilities.box-facilities .business_hour{font-size: 12px;}