@charset "UTF-8";

/* 共通 */
.golf .visual{margin-top:50px; width:100%; height:320px;  background:url(../../../../images/ja/myoko/golf/img-mainvisual.jpg) 50% 50% no-repeat; background-size:cover !important; display:block;}

.golf .area-title h1{margin-top:30px;}
.golf .links{width:100%; margin-bottom:50px;box-sizing:border-box;}
.golf .links li{float:left; width:50%; font-size:14px; box-sizing:border-box;}
.golf .links li a{display: block; height:40px; line-height:40px; text-decoration: none; text-align:center; color: #fff; outline: none; background:#beaf7a; margin:0 2px 2px 0;}
.golf .links li:nrh-child(even) a{margin-right:0;}
.golf .links li.active a,.golf .links li.active a:hover,.golf .links li a:hover{background:#877434;}

.golf .container{padding:0;}

#box-btns{width:100%;margin-bottom:40px; padding:0 15px; box-sizing:border-box;}
#box-btns img{width:100%;}
#box-btns ul{}
#box-btns ul li.first{margin-bottom:15px;}
#box-btns ul li.last{}

#section-box-btns{width:100%;margin-bottom:40px; padding:0 15px; box-sizing:border-box;}
#section-box-btns img{width:100%;}
#section-box-btns .main{margin-bottom: 15px;}
#section-box-btns li.first{margin-bottom:15px;}



body.golf#index .golf h2{border-top:#3a2f08 1px solid; padding-top:15px; margin-bottom:40px;}
body.golf#index .golf h3{font-weight:normal; margin-bottom:20px; font-size:14px;}
body.golf#index .links li.index a,
body.golf#course .links li.course a,
body.golf#play .links li.play a,
body.golf#web .links li.web a,
body.golf#club .links li.club a,
body.golf#challenge .links li.challenge a{background: #887535;}

body.golf#index #box-btns{}
body.golf#index #box-btns .btns.main{margin-bottom: 10px;}
body.golf#index #box-btns ul.btns.sub{margin-bottom: 5px;}
body.golf#index #box-btns ul.btns.sub li{margin-bottom: 5px;}


/* index */
.golf#index section#news {position:relative; background:#f3f3f0; border-radius:5px; padding:25px 15px 30px 15px; margin:0 15px 40px 15px;}
.golf#index section#news .box-wrap{width:100%;}
.golf#index section#news .box-news{border-bottom:#3a2f08 1px solid; padding-bottom:15px; margin-bottom:15px;}
.golf#index section#news .box-news:nth-last-child(1){border:none; padding-bottom:0;}
.golf#index section#news .box-news .date{font-size:14px; margin-bottom:10px;}
.golf#index section#news .box-news .text{line-height:1.6; font-size:14px;margin-bottom:15px;}
.golf#index section#news .box-news .image img{margin:0 auto;}

.golf#index section#recommend{padding:0 30px;}
.golf#index section#recommend h2{border-top:#3a2f08 2px solid; padding-top:10px; margin-bottom:20px;}
.golf#index section#recommend ul{margin-bottom:70px;}
.golf#index section#recommend ul li{float:left; width:360; margin:0 0 30px 0; font-size:14px; line-height:1.5;}
.golf#index section#recommend ul li:nth-child(3n){margin:0 0 0 1px;}
.golf#index section#recommend ul li .image{margin-bottom:10px;}
.golf#index section#recommend ul li .image img{width:100%;}
.golf#index section#recommend ul li h3{font-weight: normal;}

.golf#course #section-course{padding:0 30px;}
.golf#course #section-course h2{border-top:#3a2f08 2px solid; padding-top:10px; margin-bottom:20px;}
.golf#course #section-course .width{width:100%;}
.golf#course #section-course ._h3{border-left: #0d4826 solid 4px; padding:4px 0 4px 10px;font-size: 20px;}
.golf#course #section-course ._p{margin-bottom: 30px;font-size: 16px;}
.golf#course #section-course .box-info{margin-bottom:40px;}
.golf#course #section-course .box-info .box-image img{width:100%;}
.golf#course #section-course .box-info .box-image .main{margin-bottom: 20px;}
.golf#course #section-course .box-info .box-image .sub{margin-bottom: 20px;}
.golf#course #section-course .box-course{margin-bottom: 80px;}
.golf#course #section-course .box-course .main{margin-bottom: 20px;}
.golf#course #section-course .box-course .main img{width:100%;}
.golf#course #section-course .box-course .table{margin-bottom: 30px;overflow-x: scroll;}
.golf#course #section-course .box-course .table img{width: 960px;}
.golf#course #section-course .box-course h4{background: #0d4826; color: #fff; padding: 10px 0 10px 20px;margin-bottom: 10px;}
.golf#course #section-course .box-course h4 a{color:#fff;}
.golf#course #section-course .box-course .list-course{}
.golf#course #section-course .box-course .list-course li{margin-bottom:20px;width:33%;float: left;}
.golf#course #section-course .box-course .list-course li:nth-child(1){}
.golf#course #section-course .box-course .list-course li:nth-child(1) img{}
.golf#course #section-course .box-course .list-course li:nth-last-child(1){margin-bottom:0;}
.golf#course #section-course .box-course .list-course li img{width:100%;}

/* clib */
.golf#club h2{border-top:#3a2f08 2px solid; padding-top:10px; margin-bottom:20px;}
.golf#club section#member{width:100%; padding:0 15px; margin-bottom:40px; box-sizing:border-box;}
.golf#club section#member .member img{width:100%;}
.golf#club section#apply{width:100%; padding:0 15px; margin-bottom:80px; box-sizing:border-box;}
.golf#club section#apply h2 + p{line-height:1.6; margin-bottom:40px;}
.golf#club section#apply .btn a{width:100%; display: block; height:60px; line-height:60px; font-size:20px; color:#fff; margin:0 auto; text-align:center; background:#003300; border-radius:5px; letter-spacing:5px;}

/* play */
.golf#play h2{border-top:#3a2f08 2px solid; padding-top:10px; margin-bottom:20px;}
.golf#play h2 + p{margin-bottom:20px;}
.golf#play section#price{padding:0 15px; margin-bottom:40px;}
.golf#play section#price ._table{margin-bottom:10px;}
.golf#play section#price ._table th,
.golf#play section#price ._table td{width:50%; text-align:center;}
.golf#play section#info{padding:0 15px; margin-bottom:80px; background:none;}
.golf#play section#info .box-wrap{margin-bottom:10px;}
.golf#play section#info .box-wrap .image{width:100%; margin-bottom:20px;}
.golf#play section#info .box-wrap .image img{width:70%; margin:0 auto;}
.golf#play section#info .box-wrap .text{width:100%; line-height:1.6;}
.golf#play section#info .box-wrap .text p{margin-bottom:30px;}
.golf#play section#info .banner img{width:100%;}
.golf#play ._btn.calender{margin: 40px auto;text-align: center;}
.golf#play ._btn.calender a{width: 95%;background-position: 260px 50%;}

/* web */
.golf#web section#price{padding:0 15px;}
.golf#web section#price #box-btns{padding:0;}
.golf#web section#price h2{border-top:#3a2f08 2px solid; padding-top:10px; margin-bottom:20px;}
.golf#web section#price p{margin-bottom: 30px;}
.golf#web section#price .box{width:100%; position:relative;}
.golf#web section#price .box-price{background: #f4f3f0;padding:20px 10px 0 10px;margin-bottom: 50px;}
.golf#web section#price .box-price .text .point{display: inline-block;background: #0d4826;border-radius: 55px;width: 55px;height: 43px;padding-top: 12px;color: #fff;vertical-align: middle;text-align: center;margin-bottom: 10px;}
.golf#web section#price .box-price .text .point small{display: block;font-size: 10px;}
.golf#web section#price .box-price .text .point span{font-size: 24px;}
.golf#web section#price .box-price .text h3{color: #0d4826;display: inline-block;vertical-align: top;padding-top: 20px;font-size: 20px;}
.golf#web section#price .box-price .image{ position:absolute; right:0; top:0;}
.golf#web section#price .box-price .image img{width:65px;}
.golf#web section#price .box-price .lead{font-size: 15px;margin:10px 0;line-height: 1.4;}

/* challenge */
.golf#challenge h2{border-top:#3a2f08 2px solid; padding-top:10px; margin-bottom:20px;}
.golf#challenge h3{font-size:18px; padding-left:15px; line-height:25px; border-left:#0d4725 5px solid; margin-bottom:20px;}
.golf#challenge section#item{width:100%; padding:0 15px; box-sizing:border-box;}
.golf#challenge section#item .box-wrap{margin-bottom:50px; box-sizing:border-box;}
.golf#challenge section#item .box-wrap table{margin-bottom:20px;}
.golf#challenge section#item .box-wrap table th{width:30%;}
.golf#challenge section#item .box-wrap .text{width:100%; line-height:1.2; font-size:14px; margin-bottom:20px;}
.golf#challenge section#item .box-wrap .image{width:100%; font-size:14px;margin-bottom: 5px;}
.golf#challenge section#item .box-wrap .image img{width:100%;}

.golf#challenge .box-hidden{display:none; background:#003300; color:#fff; padding:0 5px 20px 5px;}
.golf#challenge .box-accordion{padding-top:20px;}
.golf#challenge .box-accordion .btn{width:100%; display: block; height:60px; line-height:60px; font-size:16px; color:#fff; margin:0; text-align:center; background:#003300; border-radius:5px 5px 0 0; letter-spacing:5px; position:relative; cursor:pointer; user-select: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none;}
.golf#challenge .box-accordion .btn span.font-m{background:url(../../../../images/ja/myoko/golf/icon_king.png) 0 50% no-repeat; padding-left:37px;}
.golf#challenge .box-accordion .btn .btn-king:after{content:""; display:block; width:14px; height:8px; background:url(../../../../images/ja/myoko/sp/btn-pickup-arrow-sp.png) 0 0 no-repeat; background-size:14px 8px; position:absolute; top:26px; right:30px;}
.golf#challenge .box-accordion .btn.open .btn-king:after{content:""; display:block; width:14px; height:8px; background:url(../../../../images/ja/myoko/sp/btn-pickup-arrow-sp.png) 0 0 no-repeat; background-size:14px 8px; position:absolute; top:26px; right:30px; transform: rotate(-180deg); -webkit-transform: rotate(-180deg); -moz-transform: rotate(-180deg);}

.golf#challenge .box-accordion .congrats{font-size:16px; text-align:center; background:url(../../../../images/ja/myoko/golf/line-challenge.png) 50% 0 no-repeat; background-size:50% auto; padding-top:20px;}
.golf#challenge .box-accordion ul{}
.golf#challenge .box-accordion ul li{width:50%; height:auto; padding:0 5px 20px 5px; float:left; box-sizing:border-box;}
.golf#challenge .box-accordion ul li:nth-child(2n+1){clear:both;}
.golf#challenge .box-accordion ul li .image img{width:100%;}
.golf#challenge .box-accordion ul li .date{clear: both;font-size:13px; display:block; margin:5px 0;}
.golf#challenge .box-accordion ul li .title{font-size:13px; line-height:1.6; margin:0; display:block;}

/* calendar */
.golf#calendar h2{border-top:#3a2f08 2px solid; padding-top:10px; margin-bottom:20px;}
.golf#calendar  section#calendar{margin-bottom:40px;}
.golf#calendar  section#calendar h2{margin-bottom:40px;}
.golf#calendar  section#calendar .container{width:100%; position:relative; background:#fff; padding:0px 15px; box-sizing:border-box;}
.golf#calendar  section#calendar .pager{width:100%; margin:0 auto 0 auto; line-height:48px; height:48px; text-align:center; background:#887535; color:#fff; border-radius:5px 5px 0 0;}
.golf#calendar  section#calendar .pager a{color:#4a5050;}
.golf#calendar  section#calendar .pager .year{display:none;}
.golf#calendar  section#calendar .pager .month{display: inline-block; width:2.5em;}
.golf#calendar  section#calendar .pager .prev{font-size:12px; float:left; margin-left:10px;}
.golf#calendar  section#calendar .pager .prev a{color:#fff; background:url(../../../../images/ja/myoko/sp/btn-arrow-left.png) #3b2f08 0% 50% no-repeat; background-size:17px 15px; padding:5px 10px 5px 25px; border-radius:5px;}
.golf#calendar  section#calendar .pager .prev span.nonlink{background:none; background-size:17px 15px; padding:5px 10px 5px 25px; border-radius:5px;}
.golf#calendar  section#calendar .pager .prev span.nonlink{color:#887535; user-select: none;}
.golf#calendar  section#calendar .pager .now{font-size:14px;}
.golf#calendar  section#calendar .pager .next{font-size:12px; float:right; margin-right:10px;}
.golf#calendar  section#calendar .pager .next a{color:#fff; background:url(../../../../images/ja/myoko/sp/btn-arrow-right.png) #3b2f08 100% 50% no-repeat; background-size:17px 15px; padding:5px 25px 5px 10px;  border-radius:5px;}
.golf#calendar  section#calendar .pager span.nonlink{background:none; background-size:17px 15px; padding:5px 25px 5px 10px;  border-radius:5px;}
.golf#calendar  section#calendar .pager .next span.nonlink{color:#887535; user-select: none;}

.golf#calendar  section#calendartable,
.golf#calendar  section#calendar tbody,
.golf#calendar  section#calendar thead,
.golf#calendar  section#calendar tfoot,
.golf#calendar  section#calendar tr,
.golf#calendar  section#calendar th,
.golf#calendar  section#calendar td {display: block;}

.golf#calendar  section#calendar a:hover table{opacity:0.7; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"; -moz-opacity:0.7; -khtml-opacity: 0.7; zoom:1;}
.golf#calendar  section#calendar table{width:100%; margin:0 auto 20px auto; border:1px solid #887535; position:relative; height:340px; display:block; overflow:scroll; box-sizing:border-box;}
.golf#calendar  section#calendar table thead{display:none;}
.golf#calendar  section#calendar table td.pc{display:none;}
.golf#calendar  section#calendar table tbody td span.days{background:#bfaf7b; color:#fff;}
.golf#calendar  section#calendar table tbody td:nth-child(1) span.days{background:#c33; color:#fff;}
.golf#calendar  section#calendar table tbody td:nth-child(7) span.days{background:#69c; color:#fff;}
.golf#calendar  section#calendar table tbody td{padding:0px; position:relative;}
.golf#calendar  section#calendar table tbody td span.days{display:block;padding:5px 10px;}
.golf#calendar  section#calendar table tbody td span.holiday{background:#d00; color:#fff;}
.golf#calendar  section#calendar table tbody td span.category{width:100%; display:block; min-height:2em;}

.golf#calendar  section#calendar table tbody td .txt{display:block; padding:10px; border-bottom:1px #bfaf7b solid;}
.golf#calendar  section#calendar table tbody td .green{}
.golf#calendar  section#calendar table tbody td .blue{}
.golf#calendar  section#calendar table tbody td .red{}
.golf#calendar  section#calendar table tbody td .purple{}
.golf#calendar  section#calendar table tbody td .golfday{}
.golf#calendar  section#calendar table tbody td .lunch{display:block; padding:10px;}
.golf#calendar  section#calendar table tbody td .lunch .title{margin-right:10px;}
.golf#calendar  section#calendar table tbody td .lunch .price{}

.golf#calendar  section#plan .container{width:100%; position:relative; background:#fff; padding:0px 15px; box-sizing:border-box;}
.golf#calendar  section#plan h3{}
.golf#calendar  section#plan table{margin:10px 0 40px 0;}
.golf#calendar  section#plan table th{width:30%;}
section.area-news-list {margin:0 auto 40px auto; width:100%:}
section.area-news-list section.list{border-bottom:#3a2f08 1px solid; padding-bottom:15px; margin-bottom:15px;}
section.area-news-list section.list .img{float:left; width:25%;}
section.area-news-list section.list .img img{max-width:100%; max-height:90px; margin:0 auto;}
section.area-news-list section.list .txt{float:right; width:71%;}
section.area-news-list section.list .txt .date{font-size:14px;}
section.area-news-list section.list .txt .date ._label{margin:0 0 10px 20px;}
section.area-news-list section.list .txt h2{font-size:14px; margin-bottom:5px; line-height:1.4;}
section.area-news-list section.list .txt .lead{font-size:14px; margin-bottom:10px; line-height:1.6;}
section.area-news-list section.list .txt .btn{text-align:right;}

.pager{margin-bottom:40px; text-align:center; font-size:0;}
.pager li{display:inline-block; font-size:29px;}
.pager li span,
.pager li a{display: block; font-size: 29px; padding:0 0.4em; background:#fff;}
.pager li a{text-decoration:underline;}

section.area-news-detail{margin:0 auto 40px auto; width:100%; border-top:#3a2f08 2px solid; padding:10px;box-sizing: border-box;}
section.area-news-detail .date{font-size:14px; margin-bottom:10px;}
section.area-news-detail .date ._label{margin:0 0 0px 20px;}
section.area-news-detail h2{font-size:22px; margin-bottom:20px; font-weight:normal;}
section.area-news-detail ._p{margin-bottom:20px!important;}
section.area-news-detail h3{font-size:14px; font-weight:normal; line-height:1.6; margin:0px!important;}
section.area-news-detail h3:before{content:"■"; font-size:14px;}
section.area-news-detail p{margin-bottom: 30px;}
section.area-news-detail ul{font-size:14px; line-height:1.6; list-style:disc; margin-bottom:20px!important;}
section.area-news-detail ul li{margin-left:20px;}

section.area-news-detail .image img{padding:10px 0; width:70%; text-align:center!important; margin:0 auto!important;}
section.area-news-detail .btn{text-align:right; margin-top:20px 20px 20px 0;}

section.area-news-detail .box-entry{margin-bottom: 30px;}
section.area-news-detail .box-entry img{max-width: 100%;height: auto;margin: 0 0 30px;}
section.area-news-detail .box-entry h1{font-size:28px; margin-bottom:40px; text-align: center;}
section.area-news-detail .box-entry h2{font-size:22px; margin-bottom:30px;}
section.area-news-detail .box-entry h3{font-size:18px; margin-bottom:20px;}
section.area-news-detail .box-entry h4{font-size:16px; margin-bottom:20px;}
section.area-news-detail .box-entry p{font-size:14px; font-weight:normal; line-height:1.6;margin: 0 0 30px;}

/* table basic */
section.area-news-detail .box-entry table {width:100%; border-collapse: collapse; background:#f3f3f0; font-size:12px; line-height:1.8; box-sizing:border-box;margin-bottom: 30px;}
section.area-news-detail .box-entry table thead th{background: #ddd;}
section.area-news-detail .box-entry table th{background: rgba(191, 175, 123, 0.85) none repeat scroll 0 0;border-right:1px solid #fff; border-bottom:1px solid #fff;}
section.area-news-detail .box-entry table td{border-right:1px solid #fff; border-bottom:1px solid #fff;}
section.area-news-detail .box-entry table th{padding:10px; text-align: left; vertical-align: top; font-weight:normal; /* white-space: nowrap; */ width:45%; box-sizing:border-box;}
section.area-news-detail .box-entry table td{padding:10px; border-right:1px solid #fff;}
section.area-news-detail .box-entry table span.note{font-size:12px;}

section.area-news-detail .box-entry dl{margin-bottom: 30px;}
section.area-news-detail .box-entry dt{font-weight: bold;margin-bottom: 5px;}
section.area-news-detail .box-entry dd{margin-bottom: 20px;}

section.area-news-detail .box-entry ol,
section.area-news-detail .box-entry ul{margin-bottom: 30px;}

section.area-news-detail .box-entry ol li{margin-left: 1em;margin-bottom: 10px;}
section.area-news-detail .box-entry blockquote{background: #eee;padding: 20px;}
section.area-news-detail .box-entry blockquote p{margin-bottom: 0;}
section.area-news-detail .box-entry address{margin-bottom: 20px;}
section.area-news-detail .box-entry div{line-height: 1.4;}
section.area-news-detail .box-entry .alignleft{float: left;margin: 10px;}
section.area-news-detail .box-entry .alignright{float: right;margin: 10px;}