@charset "UTF-8";

body#index.party header{}
body#index.party .area-title h1{margin:75px 0 0 0; padding-bottom:40px;}

.party .links{width:100%;margin-bottom:40px;}
.party .links li{width:100%; font-size:20px;display: block; height:50px; margin-bottom:2px; line-height:50px; text-decoration: none; text-align:center; color: #fff; outline: none; background:#beaf7a;}
.party .links li:hover{background:#877434;}
.party .links li.active{background:#877434;}

body.party#index .links li.party a,
body.party#wedding .links li.wedding a,
body.party#plan .links li.plan a{background: #877434;}

.tab-panel{display: none;}
.tab-panel.active{display: block;}
.tab-panel h1{font-size: 22px;margin-bottom: 30px;}
.tab-panel ._h2{font-size: 20px;}

/*
body#index.party .box-hidden{display:none; padding:20px 0 0 0;}
body#index.party .panel{display:block; margin-top:5px;}
body#index.party .panels{margin-bottom:50px;}
*/

body#index.party h1{border-top:#3a2f08 2px solid; padding-top:10px; margin-bottom:20px; text-align:left;}
body#index.party .area-title ._h1{text-align: center;border-top: none;}

body#index.party h2{margin-bottom:20px;}

body#index.party{}
body#index.party .section-party{width:100%;margin-bottom:40px; box-sizing:border-box; padding:0;}
body#index.party .section-party .box-head{margin-bottom: 40px;}
body#index.party .section-party .box-party{margin-bottom:50px;}
body#index.party .section-party .box-party .main{margin-bottom: 5px;}
body#index.party .section-party .box-party .main img{width: 100%;}
body#index.party .section-party .box-party .table{overflow-x: scroll;}
body#index.party .section-party .box-party .name{font-size: 12px;margin-bottom: 20px;}

/*plan*/
body#index.party{}
body#index.party #section-plan{width:100%;margin-bottom:40px; box-sizing:border-box; padding:0;}
body#index.party #section-plan .box-head{margin-bottom: 30px;}
body#index.party #section-plan .box-plan ._asterix{margin-bottom:10px;}
body#index.party #section-plan .box-plan .main{}
body#index.party #section-plan .box-plan .main img{width:100%;}
body#index.party #section-plan .box-plan .box-table {margin:20px 0;}
body#index.party #section-plan .box-plan .box-table ._table{margin-bottom: 20px;overflow-x: scroll;}
body#index.party #section-plan .box-plan .box-table ._table th{width: 60%}
body#index.party #section-plan .box-plan .box-table ._table td{}
body#index.party #section-plan .box-plan .box-table .note{font-size: 14px;line-height: 1.4;background: #f3f3f0;padding:15px;}
body#index.party #section-plan .box-table .box-info{;margin-bottom: 30px;}
body#index.party #section-plan .box-table .box-info h3{margin-bottom: 20px;}
body#index.party #section-plan .box-table .box-banner{margin-bottom:30px;}
body#index.party #section-plan .box-table .box-banner img{width:100%;}

/*wedding*/
body#index.party{}
body#index.party #section-wedding{width:100%;margin-bottom:40px; box-sizing:border-box; padding:0;}
body#index.party #section-wedding .main{margin-bottom: 10px;}
body#index.party #section-wedding .box-banners{margin-bottom: 30px;}
body#index.party #section-wedding .box-banners p{margin-bottom: 5px;}
body#index.party #section-wedding img{width: 100%;}
body#index.party #section-wedding .chapel{}
body#index.party #section-wedding .chapel .box{clear: both;margin-bottom: 30px;padding-bottom: 30px;border-bottom: dotted #ccc 1px;}
body#index.party #section-wedding .chapel .box .box-image{margin-bottom:10px;}
body#index.party #section-wedding .chapel .box .box-text{}
