@charset "UTF-8";

.restaurant#index .visual{margin-top:50px; width:100%; height:320px; background:url(../../../../images/ja/myoko/restaurant/img-mainvisual-sp.jpg) 50% 50% no-repeat; background-size:cover !important; display:block;}

.restaurant#index .area-title h1{margin:30px 0 0 0; padding-bottom:40px;}
.restaurant#index h2{border-top:#3a2f08 2px solid; padding-top:10px; margin-bottom:20px;}
.restaurant#index .time{margin:0 10px 15px 10px;}

.restaurant#index section.area-restaurant {margin-bottom:40px;}

.restaurant#index section.area-restaurant ._photo-bottom{}
.restaurant#index section.area-restaurant .thumbnail{margin-bottom:20px;}
.restaurant#index section.area-restaurant .txt{width:100%;}
.restaurant#index section.area-restaurant .txt ._lead{margin-bottom:40px;}
.restaurant#index section.area-restaurant .txt .logo{margin-bottom:30px;}
.restaurant#index section.area-restaurant .txt .logo img{margin:0 auto; width:60%;}
.restaurant#index section.area-restaurant .txt h3{font-size:16px; margin-bottom:10px;}

.restaurant#index .area-course-list{margin-bottom:10px;}
.restaurant#index .area-course-list .time{margin-bottom:20px; line-height:1.4;}
.restaurant#index .area-course-list ul{}
.restaurant#index .area-course-list ul.menu li{width:100%; height:auto; margin:0 0 40px 0;}
.restaurant#index .area-course-list ul.menu li.note + li,
.restaurant#index .area-course-list ul.menu li:nth-child(3n){margin-right:0;}
.restaurant#index .area-course-list ul.menu li:nth-child(3n+1){clear:both;}
.restaurant#index .area-course-list ul.menu li .image img{width:100%;}
.restaurant#index .area-course-list ul.menu li .menu{display:block; margin-bottom:20px;}
.restaurant#index .area-course-list ul.menu li .title{font-size:16px; line-height:1.6; margin:10px 0 20px 0; padding-bottom:10px; display:block; border-bottom:#3a2f08 1px solid;}
.restaurant#index .area-course-list ul.menu li .lead{font-size:14px; line-height:1.6; margin-bottom:15px; display:block;}
.restaurant#index .area-course-list ul.menu li.note{width:100%; margin:0 0 60px 0;}
.restaurant#index .area-course-list ul.menu li.note span{font-size:14px; line-height:1.8; padding:25px 20px; background:#f3f3f0; display:block;}

.restaurant#index .area-bbq{margin-bottom:40px;}
.restaurant#index .area-bbq .lead{margin-bottom:40px; line-height:1.4;}
.restaurant#index .area-bbq .image{width:100%;}
.restaurant#index .area-bbq .image img{width:100%; margin-bottom:20px;}
.restaurant#index .area-bbq .text{width:100%;}
.restaurant#index .area-bbq .text .note{font-size:12px; line-height:1.8; padding:20px 20px; background:#f3f3f0; display:block; margin-bottom:30px;}

.restaurant#index .area-bbq .text dl{width:100%; line-height:1.8; font-size:11px;}
.restaurant#index .area-bbq .text dt{display: block; width:40%; clear: left; float: left; margin-bottom:30px;}
.restaurant#index .area-bbq .text dd{display: block; width:60%; float: left; margin-bottom:30px;}

.restaurant#index ._photo-bottom{margin-bottom: 40px;}
/*
#_tab ul.tabs{margin-bottom:79px;}
#_tab ul.tabs li{width:399px; margin-bottom:1px;}
#_tab ul.tabs li:nth-child(3n){width:400px; margin-right:0;}
*/