.area-title{margin-top: 60px;}
header{width: 600px !important;}
footer{width: 600px !important;}
h1{margin-top: 50px;padding-top: 30px;}
#section-body iframe{width: 100%;height: 1200px;display: block;margin: 0 auto;}
#section-body iframe #CDSWIDCR{width: 100% !important;}