@charset "UTF-8";
/* import font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
a{color: #19d1ff;}

.font-g{font-family:/* "游ゴシック", YuGothic,*/ "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif; font-weight:normal; letter-spacing: 0.045em;}
.font-m{font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-weight:normal; letter-spacing: 0.045em;}
.clearfix:after{
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility:hidden;
}
	
.floatcontainer{display: inline-block;} 
.sp_block{
	display:block;
}
.pc_block{
	display:none;
}
.clearfix.pc_block{
	display:none;
}

/* Hides from IE Mac \*/
* html .clearfix {height: 1%;}
.clearfix{display:block;}
/* End Hack */ 

._box-head{color: #fff;margin: 0 auto;text-align: center;position: relative;}
._box-head h2{font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-weight:normal; letter-spacing: 0.045em;font-size: 19px;margin-bottom: 10px;}
._box-head p.sub{font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-weight:normal; letter-spacing: 0.045em;font-size: 10px;}
._box-head p{font-family:/* "游ゴシック", YuGothic,*/ "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;  font-size: 12px; line-height: 1.5; margin-top: 10px;}


._box-head .before{background: url(../images/common/icon-h_left.png) no-repeat left center;width: 28px;height: 11px;position: absolute;top:10px;left: 0px;}
._box-head .after{background: url(../images/common/icon-h_right.png) no-repeat right center;width: 28px;height: 11px;position: absolute;top:10px;right: 0px;}

._btn{text-align: center;}
._btn a{display: inline-block;background: #877434;color: #fff;border-radius: 10px;width: 95%;height: 70px;box-sizing: border-box;padding-top: 22px;text-decoration: none;text-align: center;font-size: 16px;font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;cursor: pointer;}
._btn a:hover{opacity: 0.7;}

img{width: 100%;height: auto;}
body{background: #000;}
#header{width: 100%;height: 70px; padding-top:14px;box-sizing: border-box; position:relative;}
#header .seo{display:none;}
#header .inner{width: 100%;}
#header .inner .logo{width: 165px;margin: 0 0 0 10px; position:relative; z-index:9999;}

#header .inner nav{position:absolute; z-index:99; width:100%; height:auto; margin:0; padding:0; box-sizing:border-box; display:block; top:0;}
#header .inner nav .menu { position:relative; z-index:999;}
#header .inner nav .menu .btn{position:absolute; top:15.75px; right:10px; background:url(../images/common/btn_menu.png) no-repeat 0 50%; background-size:32px 38.5px; width:32px; height:38.5px;}
#header .inner nav.open .menu .btn{background:url(../images/common/head_btn_close.png) no-repeat 0 50%; background-size:32px 38.5px;}
#header nav .pulldown{position:absolute; top:70px; left:0; width:100%; height:auto; display:none; z-index:9999;}
#header nav .pulldown ul{width:100%; height:auto; list-style:none; box-sizing:border-box; padding-top:0; margin:0;}
#header nav .pulldown ul li:nth-child(1){border-top:1px rgb(153,153,153) solid;}
#header nav .pulldown ul li{font-size:1.2rem; box-sizing:border-box; padding:0; display:block;}
#header nav .pulldown ul li a{text-decoration:none; display:block; padding:0 10px; color:#2a3237; height:45px; line-height:45px; border-bottom:1px rgb(153,153,153) solid; background:rgba(38,38,38,0.7);}
#header nav .pulldown ul li img{height:45px; width:auto;}

body#areamap #header,
body#shop #header,
body#ticket #header,
body#access #header{margin-bottom:40px;}


#section-mainv{width: 100%;padding-top: 70%;position: relative;}
#section-mainv .inner{position: absolute;top:0px;left: 0px;width: 100%;height: 100%;}
#section-mainv .inner .box-visual{position: relative;z-index: 1;height: 100%;}
#section-mainv .slick-track,
#section-mainv .slick-list{height: 100%;}
#section-mainv .inner .box-visual .visual{height: 100%;width: 100%;background-repeat: no-repeat !important; background-size: cover !important;position: relative;z-index: 9999;background-position: center center !important;}
#section-mainv .inner .copy{text-align: center;position: absolute;z-index: 1;left: 0px;right: 0px;top:0;}


#section-mainv .box-ribbon{display: block;margin: 0 auto;text-align: center;position: relative;top: 5px;}
#section-mainv .attention {display: inline-block;position: relative;height: 45px;vertical-align: middle;text-align: center;box-sizing: border-box;z-index: 30; -webkit-transform: scale(1); transition:0.5s all ease 0s}
#section-mainv .attention span{display: inline-block;position: relative;margin: 0;padding: 0 20px;line-height: 35px;font-size: 18px;color: #000;border-radius: 8px; background: rgba(255, 255, 255, 0.7);/*真ん中の背景色*/font-size: 12px;}
#section-mainv .attention span.label{background: #ffa300;color: #fff;font-size: 12px;padding: 0px;line-height: 22px;border-radius: 0;padding: 0 10px;padding-top: 0px;padding-top: 0px; margin-right: 7px;}
#section-mainv .attention a{color: #fff;}
#section-mainv .attention:hover{opacity: 0.7;transition:0.5s all ease 0s}



#section-carousel{position: relative;z-index: 1;margin: 20px 0 0;}
#section-carousel .inner{background: url(../images/top/thumb-bg.png) no-repeat;background-size: 100%;width: 100%;height: 230px;margin: 0 auto 100px;}
#section-carousel .inner h2{text-align: center;padding: 30px 20px 10px;}
#section-carousel .inner h2 img{width:60%;}
#section-carousel .inner ul{list-style: none;padding: 10px 20px;box-sizing: border-box; font-size:0; line-height:1; text-align:center;}
#section-carousel .inner ul li{/*float: left;*/ display:inline-block; color: #fff;text-align: center;font-size:9px;line-height: 1.4;cursor: pointer;width:25%;height:120px; vertical-align:top;}
#section-carousel .inner ul li img{margin-bottom: 5px;border: 1px solid #000;box-sizing: border-box;width: 100%;height: auto;}
#section-carousel .inner ul li:hover img,
#section-carousel .inner ul li.current img{border: 1px solid #ccc;}
#section-carousel .inner ul li p{position:relative; background: url(../images/common/icon-arrow.png) no-repeat 50% 100%; background-size:12px 7px; padding-bottom:15px;}

#section-body{}
#section-body .inner{width: 100%;margin: 0 auto 50px;}
#section-body .inner .box-information{margin-bottom: 30px; margin-top:30px; padding: 0 10px 0;}
#section-body .inner .box-information h2{margin-bottom: 10px;width: 140px;}
#section-body .inner .box-information .wrapper-news{}
#section-body .inner .box-information .wrapper-news .box-news{height: 310px;font-size: 14px;overflow-y: scroll;-webkit-overflow-scrolling: touch}
#section-body .inner .box-information .wrapper-news .box-news a{color: #fff;text-decoration: none;}
#section-body .inner .box-information .wrapper-news .box-news dl{padding: 10px 0 20px;border-bottom: 1px dotted #999;}
#section-body .inner .box-information .wrapper-news .box-news dt{color: #fff;margin-bottom: 10px;}
#section-body .inner .box-information .wrapper-news .box-news dd{line-height: 1.4;}
#section-body .inner .box-twitter{height: 360px !important;overflow-y: scroll !important;margin: 0 20px 0;}

#section-attraction{}
#section-attraction .inner{background: url(../images/common/bg-atraction.png) no-repeat;background-size: 100% auto;}
#section-attraction ._box-head{width: 80%;margin-bottom: 30px;}
#section-attraction .box-body{width: 100%;margin: 0 auto ;padding: 0 3%;box-sizing: border-box;}
#section-attraction .box-body .box-attraction{margin-bottom: 70px;}
#section-attraction .box-body .box-attraction .box-image{width: 100%;}
#section-attraction .box-body .box-attraction .box-text{width: 100%;padding-top: 30px;box-sizing: border-box;color: #fff;}
#section-attraction .box-body .box-attraction.right .box-image{float: right;}
#section-attraction .box-body .box-attraction.right .box-text{float: right;}
#section-attraction .box-body .box-attraction .box-text h3{font-size: 18px;line-height: 1.2; margin-bottom: 15px;font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;}
#section-attraction .box-body .box-attraction .box-text p{font-size: 14px;line-height: 1.4;}
#section-attraction .box-body .yellow{color: #ffe04d;}
#section-attraction .box-body .box-sound{color: #fff;text-align: left;margin-bottom: 60px;}
#section-attraction .box-body .box-sound h4{font-weight: normal;margin-bottom: 20px;font-size: 14px;}
#section-attraction .box-body .box-sound p{color: #999;font-size: 12px;line-height: 1.6;}
#section-attraction .box-body .box-sound p:nth-of-type(1){color: #ffe04d !important;}
#section-attraction .box-profice{color: #fff;width: 100%;margin: 0 auto 30px;}
#section-attraction .box-profice .box-image{width: 80%;margin:0 auto 30px;text-align: center;}
#section-attraction .box-profice .box-image img{width: 100%;height: auto;}
#section-attraction .box-profice .box-text{width: 100%;margin-bottom: 30px;}
#section-attraction .box-profice .box-text h5{font-size: 20px;margin-bottom: 30px;}
#section-attraction .box-profice .box-text h6{font-size: 18px;margin-bottom: 20px;}
#section-attraction .box-profice .box-text p{font-size: 14px;line-height: 1.4;margin-bottom: 10px;}


/*エリアマップ*/
#section-areamap{margin-bottom: 20px; color: #fff; overflow: hidden;}
#section-areamap .box-body .box-look ul{display:none;}
#section-areamap .inner{width: 100%;margin: 0 auto;padding: 0 2% 0;box-sizing: border-box; position: relative;}
#section-areamap .note{font-size: 10px; font-weight:normal; line-height:1.6;position: absolute;right: 2%;bottom: -18px;}
#section-areamap .box-walk{text-align: center; padding: 0 2%; margin-top: 40px;}
#section-areamap .box-walk p{font-size: 14px; line-height: 1.6; padding-top: 16px; padding: 10px 0; border-top: 1px solid #fff; border-bottom: 1px solid #fff; }
#section-areamap ._box-head{width: 80%;margin-bottom: 30px;}
#section-areamap ._box-head.shop{width:520px;margin-bottom: 70px;}
#section-areamap .box-body p{text-align: center;margin-bottom: 20px;}
#section-areamap .box-body p img{max-width: 100%;}
#section-areamap .box-body map area{cursor : pointer;}





#section-areainfomation{overflow: hidden;}
#section-areainfomation .inner{width: 100%;margin: 0 auto;padding: 0 2% 0; box-sizing: border-box; position: relative;}
#section-areainfomation .inner ul{}
#section-areainfomation .inner ul li{list-style: none; float: left; width: 49%; margin-right: 2%; margin-bottom: 20px;padding: 7px; box-sizing: border-box; height: 330px;}
#section-areainfomation .inner ul li p.image{position: relative; top:-40px; z-index: 0;}
#section-areainfomation .inner ul li p.image img{width: 100%;}
#section-areainfomation .inner ul li h3{color: #fff; position: relative; top: -40px; font-size: 15px; line-height: 1.2;}
/*
#section-areainfomation .inner ul li h3 br{display: none;}
*/
#section-areainfomation .inner ul li p{color: #fff; position: relative; top: -30px; font-size: 14px; line-height: 1.4;}
#section-areainfomation .inner ul li span.number{display: block; background: #fff; font-size: 18px; font-weight: bold; border-radius: 50%; position: relative; top:-7px; left: -7px; box-sizing: border-box; width: 40px; height: 40px; text-align: center; line-height: 32px; z-index: 100;}
#section-areainfomation .inner ul li h3 span.small{font-size: 14px;}
#section-areainfomation .inner ul li:nth-child(1){background: rgba(11,93,177,0.5);}
#section-areainfomation .inner ul li:nth-child(1) span.number{color: #0B5DB1; border: 3px solid #0B5DB1;}
#section-areainfomation .inner ul li:nth-child(2){background: rgba(56,166,62,0.5);}
#section-areainfomation .inner ul li:nth-child(2) span.number{color: #38A63E; border: 3px solid #38A63E;}
#section-areainfomation .inner ul li:nth-child(3){background: rgba(232,96,30,0.5);}
#section-areainfomation .inner ul li:nth-child(3) span.number{color: #E8601E; border: 3px solid #E8601E;}
#section-areainfomation .inner ul li:nth-child(4){background: rgba(220,0,16,0.5);}
#section-areainfomation .inner ul li:nth-child(4) span.number{color: #DC0010; border: 3px solid #DC0010;}
#section-areainfomation .inner ul li:nth-child(5){background: rgba(218,0,108,0.5);}
#section-areainfomation .inner ul li:nth-child(5) span.number{color: #DA006C; border: 3px solid #DA006C;}
#section-areainfomation .inner ul li:nth-child(6){background: rgba(241,145,10,0.5);}
#section-areainfomation .inner ul li:nth-child(6) span.number{color: #F1910A; border: 3px solid #F1910A;}
#section-areainfomation .inner ul li:nth-child(7){background: rgba(144,77,150,0.5);}
#section-areainfomation .inner ul li:nth-child(7) span.number{color: #904D96; border: 3px solid #904D96;}
#section-areainfomation .inner ul li:nth-child(2n){margin-right: 0;}

#section-attention{color: #fff; overflow: hidden; margin-bottom: 40px;}
#section-attention .inner{width: 100%;margin: 0 auto;padding: 0 2% 0;box-sizing: border-box;}
#section-attention .inner ul{}
#section-attention .inner ul li{list-style: none; float: none; clear: both; width: 100%; height: 35px; box-sizing: border-box; margin-right: 2%; margin-bottom: 10px;}
#section-attention .inner ul li:last-child{margin-right: 0; padding-right: 0; width: ;}
#section-attention .inner ul li:last-child p{width: 90%; margin-left: 5px;}
#section-attention .inner ul li h4{float: left; font-size: 12px; font-weight: normal; margin-left: 10px; margin-bottom: 4px;}
#section-attention .inner ul li:nth-child(1) p{padding-top: 10px;}
#section-attention .inner ul li:nth-child(2) h4{width: 85%;}
#section-attention .inner ul li:nth-child(3) p{padding-top: 10px;}
#section-attention .inner ul li:nth-child(2n){margin-right: 0;}
#section-attention .inner ul li p{float: left; font-size: 10px; width: 80%; margin-left: 10px; line-height: 1.2;}
#section-attention .inner ul li p br{display: none;}
#section-attention .inner ul li p.image{width: 35px; margin-left: 0; padding-top: 0;}
#section-attention .inner ul li .box-wheelchair{float: left; width: 88%;}
#section-attention .inner ul li p.image.attention{margin-left: 10px; width: 10px;padding-top: 1px;}
#section-attention .inner ul li p.image img{width: 100%;}





#section-shop{margin-bottom: 100px;}
#section-shop ._box-head{width: 80%;margin-bottom: 30px;}
#section-shop .box-body{width: 100%;margin: 0 auto;padding: 0 2% 0;box-sizing: border-box;}
#section-shop .box-body .box-shop{width: 49%;float: left;margin-right: 2%;margin-bottom: 20px;background: #fff;border-radius: 10px;}
#section-shop .box-body .box-shop:nth-child(2n){margin-right: 0px;}
#section-shop .box-body .box-shop .box-image{width: 100%;}
#section-shop .box-body .box-shop .box-image p{padding-top: 74%;background-size:  cover !important;}
#section-shop .box-body .box-shop .box-text{padding-bottom: 15px;border-bottom: 1px dotted #ccc;height: 140px;}
#section-shop .box-body .box-shop.r1 .box-text{height: 160px;}
#section-shop .box-body .box-shop.r2 .box-text{height: 240px;}
#section-shop .box-body .box-shop.r3 .box-text{height: 160px;}
#section-shop .box-body .box-shop .box-text h3{text-align: center;margin: 15px 0;}
#section-shop .box-body .box-shop .box-text h3 img{width: 100%;height: auto;}
#section-shop .box-body .box-shop .box-text p{font-size: 14px;color: #333;line-height: 1.4;margin: 10px;}
#section-shop .box-body .box-shop .box-image{width: 100%;}
#section-shop .box-body .box-shop .box-image p{height: 100%;background-size:  cover !important; border-radius: 0 0 10px 10px;}

#section-shop .box-goods{clear: both;width: 100%;background:url(../images/shop/bg-goods_sp.png) no-repeat;;padding: 10px; 50px;margin: 0 auto;text-align: center;box-sizing: border-box;position: relative;background-size: 100% 100%;}
#section-shop .box-goods .logo{text-align: center;margin:0 0 0;} 
#section-shop .box-goods .text{color: #fff;font-size: 14px;line-height: 1.4;margin-bottom: 20px;text-shadow: 0 0 3px #000;}
#section-shop .box-goods .text br{display: none;}
#section-shop .box-goods .goods{text-align: center;}
#section-shop .box-goods .goods p{display: inline-block;width: 32%;}


#section-ticket{margin-bottom: 60px;}
#section-ticket ._box-head{width: 85%;margin-bottom: 30px;}
#section-ticket .inner{margin: 0 auto;}
#section-ticket .box-body{color: #fff;padding: 0 2%;}
#section-ticket .box-info{}
#section-ticket .box-info strong{color: #ffe04d;}
#section-ticket .box-info h4{font-size: 22px;font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-weight:normal; letter-spacing: 0.045em;border-left: 5px solid #f4d063;padding: 3px 0 3px 15px;margin-bottom: 15px;}
#section-ticket .box-info .schedule{margin-bottom: 50px;}
#section-ticket .box-info .schedule p{font-size: 14px;line-height: 1.4;margin-bottom: 20px;/*padding-left: 10px;*/}
#section-ticket .box-info .schedule h5{font-size: 14px;margin-bottom: 5px;padding-left: 10px;}
#section-ticket .box-info .price{margin-bottom: 50px;}
#section-ticket .box-info .price h4{}
#section-ticket .box-info .price h4 strong{font-size: 80%;margin-left: 10px;}
#section-ticket .box-info .price table{border: 1px solid #fff;font-size: 14px;}
#section-ticket .box-info .price table td{border: 1px solid #fff;padding: 10px 10px;text-align: center;}
#section-ticket .box-info .price ul.note{font-size: 14px;margin: 20px 0 0;line-height: 1.4;}
#section-ticket .box-info .price ul.note li{list-style:none;}
#section-ticket .box-info .place{margin-bottom: 50px;}
#section-ticket .box-info .place h5{font-size: 14px;margin-bottom: 5px;/*padding-left: 10px;*/}
#section-ticket .box-info .place p{font-size: 14px;line-height: 1.4;margin-bottom: 20px;/*padding-left: 10px;*/}
#section-ticket .box-info .place p.image{padding-left:0px; margin-bottom:0;}
#section-ticket .box-info .place p.image img{}
#section-ticket .box-info .place ul{padding-left:1.5em;padding-top:2px;font-size: 14px;}
#section-ticket .box-info .place ul li{list-style: disc;margin-bottom: 5px;}
#section-ticket .box-info .place ul.note{padding-left:0em; margin-top:20px; margin-bottom:20px;}
#section-ticket .box-info .place ul.note li{list-style:none;}

#section-ticket .box-place{margin-top:60px;}
#section-ticket .box-place h4{font-size: 22px;font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-weight:normal; letter-spacing: 0.045em;border-left: 5px solid #f4d063;padding: 3px 0 3px 15px;margin-bottom: 15px;}
#section-ticket .box-place table{border: 1px solid #fff;font-size: 14px;}
#section-ticket .box-place table td{border: 1px solid #fff;padding: 10px 10px; line-height:1.2; min-width:2.5em;}
#section-ticket .box-place ul.note{font-size: 14px;margin: 20px 0 0;line-height: 1.4;}
#section-ticket .box-place ul.note li{list-style:none;}
#section-ticket .box-place p.image{text-align:center; margin-top:30px;}
#section-ticket .box-place p.image img{}

#section-ticket .box-benefit{width: 96%;margin: 0 2% 0;background: url(../images/ticket/bg-benefits.png) no-repeat center top #fff;border: 2px solid #fff;box-sizing: border-box;background-size: 100% ;}
#section-ticket .box-benefit h3{color: #a6800b;font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;text-align: center;font-size: 26px;margin-top: 30px;background: url(../images/common/h-border.png) no-repeat center bottom;padding-bottom: 10px; margin-bottom: 20px; }
#section-ticket .box-benefit .point{color: #000;padding: 0 10px;margin-bottom: 30px;} 
#section-ticket .box-benefit .point h4{font-size: 22px;font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; /*background: url(../images/common/icon-benefits_1.png) no-repeat left center; height: 50px;*/box-sizing: border-box;padding-top: 15px;/*padding-left: 55px;*/font-weight: normal;margin-bottom:25px; text-align:center;} 
#section-ticket .box-benefit .point.no2 h4{background: url(../images/common/icon-benefits_2.png) no-repeat left center;}
#section-ticket .box-benefit .point p{line-height: 1.4;font-size: 14px;} 
#section-ticket .box-stay{clear: both;padding-top: 50px;}
#section-ticket .box-stay h4{font-size: 22px;font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-weight:normal; letter-spacing: 0.045em;border-left: 5px solid #f4d063;padding: 3px 0 3px 15px;margin-bottom: 15px;}
#section-ticket .box-stay  p{line-height: 1.4;font-size: 14px;margin-bottom: 20px;}
#section-ticket .box-stay .box-images{margin-bottom:20px;}
#section-ticket .box-stay .box-images p{float: left;margin-right: 1%;width: 32%;}
#section-ticket .box-stay .box-images p:nth-child(3n){margin-right: 0px;}
#section-ticket .box-stay .box-images p img{width:100%;}

#section-access{margin-bottom: 60px;}
#section-access ._box-head{margin-bottom: 70px;width: 60%;}
#section-access .inner{margin: 0 auto;}
#section-access .inner .lead{color: #fff;text-align: center;line-height: 1.4;}
#section-access .inner ._btn{margin: 30px 0 50px;}
#section-access .inner ._btn a{padding-top: 24px;}
#section-access .inner .box-body{}
#section-access .inner .box-body .maps{margin-bottom: 50px;padding: 0 3%;box-sizing: border-box;}
#section-access .inner .box-body .maps p.image{float: left;margin: 0 0 10px;box-sizing: border-box;}
#section-access .inner .box-body .box-access{color: #fff;}
#section-access .inner .box-body .box-access .access{margin: 0 2% 20px;font-size: 14px;}
#section-access .inner .box-body .box-access .access:nth-child(3n){margin-right: 0px;}
#section-access .inner .box-body .box-access h4{font-size: 22px;font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-weight:normal; letter-spacing: 0.045em;border-left: 5px solid #f4d063;padding: 3px 0 3px 15px;margin-bottom: 15px;}
#section-access .inner .box-body .box-access .box{margin-bottom: 30px;}
#section-access .inner .box-body .box-access .box h5{font-size: 14px;font-weight: bold;margin-bottom: 5px;}
#section-access .inner .box-body .box-access .box p{line-height: 1.4;}
#section-access .inner .box-body .box-access .box ul{margin-left: 20px;line-height: 1.4;}
#section-access .inner .box-body .box-access .box ul.note{font-size: 14px;margin: 20px 0 0;line-height: 1.4;}
#section-access .inner .box-body .box-access .box ul.note li{ list-style:none;}

#section-faq{clear: both;color: #fff;}
#section-faq ._box-head{margin-bottom: 70px;width: 80%;}
#section-faq .inner{margin: 0 auto;padding: 0 2%;box-sizing: border-box;}
#section-faq h3{font-size: 22px;font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-weight:normal; letter-spacing: 0.045em;border-left: 5px solid #f4d063;padding: 3px 0 3px 15px;margin-bottom: 15px;}
#section-faq .box-faq{margin-bottom: 40px;line-height: 1.4;}
#section-faq .box-faq .box-q{background: url(../images/common/icon-q.png) no-repeat; padding: 10px 0 20px 50px;}
#section-faq .box-faq .box-a{background: url(../images/common/icon-a.png) no-repeat; padding: 10px 0 20px 50px;}



#section-fotter{;background: url(../images/common/footer/footer-bg.png) center bottom no-repeat; background-size: 100% 500px; padding: 0 10px 0;}
#section-fotter .inner{width: 100%;margin: 0 auto;}
#section-fotter .inner h2{margin-bottom: 30px;}
#section-fotter .content-movie{padding: 0 10px;box-sizing: border-box;margin-bottom: 30px;}
#section-fotter .content-movie .box-movie{color: #fff;}
#section-fotter .content-movie .box-movie .box{margin-bottom: 10px;}
#section-fotter .content-movie .box-movie .box:bth-child(3n){margin-right: 0px;}
#section-fotter .content-movie .box-movie .box h3{font-size: 20px;margin-bottom: 5px;}
#section-fotter .content-movie .box-movie .box img{border: 1px solid #999;}
#section-fotter .content-movie .box-movie .box img:hover{border: 1px solid #ccc;}

#section-fotter .content-bottom{clear: both;padding-bottom: 30px;}

#section-fotter .content-sponsorship{color: #fff; line-height: 1.4; margin-bottom: 30px;}
#section-fotter .content-sponsorship ul li{list-style: none;}
#section-fotter .content-sponsorship h3{font-size: 18px; margin-bottom: 15px; font-weight: normal; width: 37%;}
#section-fotter .content-sponsorship .box-high-sponsor img{float: left; height:auto; margin-bottom: 20px; width:49.5%;}
#section-fotter .content-sponsorship .box-high-sponsor .logo-gin img{margin-right: 5%;}
#section-fotter .content-sponsorship .box-high-sponsor .logo-kirin img{width:40.5%;}
#section-fotter .content-sponsorship .box-text{clear: both; text-align: center;}
#section-fotter .content-sponsorship .box-middle-sponsor{margin-bottom: 10px;}
#section-fotter .content-sponsorship .box-middle-sponsor ul li{font-size: 18px;margin-bottom: 10px;}
#section-fotter .content-sponsorship .box-small-sponsor ul li{font-size: 10px;display: inline-block;margin: 0 5px;}
/*
#section-fotter .content-sponsorship .box-small-sponsor p:nth-child(even){float: right; text-align: left;}
*/
#section-fotter .content-bottom .logo1{padding: 0 40px;margin-bottom: 20px;}
#section-fotter .content-bottom .logo2{padding: 0 40px;margin-bottom: 20px;}
#section-fotter .content-bottom .logo3{padding: 0 60px;margin-bottom: 10px;}
#section-fotter .content-bottom .link{text-align: center;}
#section-fotter .content-bottom .link a{color: #fff;font-size: 10px;}
#section-fotter .content-bottom .copy{color: #fff;font-size: 10px;text-align: center;}
#section-fotter .content-bottom .seo{color: #fff;font-size: 10px;text-align: center;}