@charset "UTF-8";
/* import font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
a{color: #19d1ff;}
.font-g{font-family:/* "游ゴシック", YuGothic,*/ "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif; font-weight:normal; letter-spacing: 0.045em;}
.font-m{font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-weight:normal; letter-spacing: 0.045em;}
.clearfix:after{
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility:hidden;
}
.sp_block{
	display:none;
}
.pc_block{
	display:block;
}
.clearfix.sp_block{
	display:none;
}
.floatcontainer{display: inline-block;} 

/* Hides from IE Mac \*/
* html .clearfix {height: 1%;}
.clearfix{display:block;}
/* End Hack */ 

._box-head{color: #fff;margin: 0 auto;text-align: center;position: relative;}
._box-head h2{font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-weight:normal; letter-spacing: 0.045em;font-size: 38px;margin-bottom: 10px;}
._box-head p.sub{font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-weight:normal; letter-spacing: 0.045em;font-size: 20px;}
._box-head p{font-family:/* "游ゴシック", YuGothic,*/ "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif; font-size: 16px; line-height: 1.5; margin-top: 20px;}

._box-head .before{background: url(../images/common/icon-h_left.png) no-repeat left center;width: 56px;height: 22px;position: absolute;top:10px;left: 0px;}
._box-head .after{background: url(../images/common/icon-h_right.png) no-repeat right center;width: 56px;height: 22px;position: absolute;top:10px;right: 0px;}

._btn{text-align: center;}
._btn a{display: inline-block;background: #877434;color: #fff;border-radius: 10px;width: 460px;height: 70px;box-sizing: border-box;padding-top: 20px;text-decoration: none;text-align: center;font-size: 22px;font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;cursor: pointer;}
._btn a:hover{opacity: 0.7;}

body{background: #000;}
#header{width: 100%;height:170px;padding-top: 10px;box-sizing: border-box;position: relative;z-index: 2;}
#header .inner{text-align: center;width: 1000px;margin: 0 auto;}
#header .inner .logo{}
#header .seo{color: #fff;text-align: right;font-size: 10px;margin-right: 10px;}
#header nav .nav{background:#262626; width:100%; height:80px; display:block; font-size:0; line-height:1; text-align:center;}
#header nav .nav li{list-style:none; height:80px; display:inline-block;}
#header nav .nav li:hover{background:#444;}

body#areamap #header,
body#shop #header,
body#ticket #header,
body#access #header{margin-bottom:80px;}

body#index #header nav .nav li:nth-child(1),
body#areamap #header nav .nav li:nth-child(2),
body#shop #header nav .nav li:nth-child(3),
body#ticket #header nav .nav li:nth-child(4),
body#access #header nav .nav li:nth-child(5){background:#444;}

#section-mainv{height: 770px;width: 100%;}
#section-mainv .inner{position: relative;}
#section-mainv .inner .box-visual{}
#section-mainv .inner .box-visual .visual{height: 770px;width: 100%;background-repeat: no-repeat !important; background-size: cover !important;}
#section-mainv .inner .copy{text-align: center;position: absolute;z-index: 1;left: 0px;right: 0px;top:20px;}

#section-mainv .box-ribbon{display: block;margin: 0 auto;text-align: center;position: relative;top: -100px;}
#section-mainv .attention {display: inline-block;position: relative;height: 45px;vertical-align: middle;text-align: center;box-sizing: border-box;z-index: 30; -webkit-transform: scale(1); transition:0.5s all ease 0s}
#section-mainv .attention span{display: inline-block;position: relative;margin: 0;padding: 0 20px;line-height: 45px;font-size: 14px;color: #000; border-radius: 8px; background: rgba(255, 255, 255, 0.7);/*真ん中の背景色*/}
#section-mainv .attention span.label{background: #ffa300;color: #fff;font-size: 12px;padding: 0px;line-height: 22px;border-radius: 0;padding: 0 10px;padding-top: 0px;padding-top: 2px; margin-right: 7px;}
#section-mainv .attention a{color: #fff;}
#section-mainv .attention:hover{opacity: 0.7;transition:0.5s all ease 0s}




#section-carousel{position: relative;z-index: 1;margin: -10px 0 0;}
#section-carousel .inner{background: url(../images/top/thumb-bg.png) no-repeat;width: 1060px;height: 327px;margin: 0 auto 100px;}
#section-carousel .inner h2{text-align: center;padding-top:70px;margin-bottom: 30px;}
#section-carousel .inner h2 img{height:25px;}
#section-carousel .inner ul{list-style: none;padding-left: 50px;}
#section-carousel .inner ul li{float: left;margin-right:6px;color: #fff;text-align: center;font-size: 14px;line-height: 1.4;width: 132px;cursor: pointer;}
#section-carousel .inner ul li img{margin-bottom: 5px;border: 1px solid #000;box-sizing: border-box;width: 100%;height: auto;}
#section-carousel .inner ul li:hover img,
#section-carousel .inner ul li.current img{border: 1px solid #ccc;}
#section-carousel .inner ul li p{position:relative; background: url(../images/common/icon-arrow.png) no-repeat 50% 100%; background-size:12px 7px; padding-bottom:15px;}

#section-body{}
#section-body .inner{width: 1000px;margin: 0 auto 50px;}
#section-body .inner .box-information{float: left;width: 680px;}
#section-body .inner .box-information h2{margin-bottom: 10px;}
#section-body .inner .box-information .wrapper-news{}
#section-body .inner .box-information .wrapper-news .box-news{height: 310px;font-size: 14px;overflow-y: scroll;}
#section-body .inner .box-information .wrapper-news .box-news a{color: #fff;text-decoration: none;}
#section-body .inner .box-information .wrapper-news .box-news dl{padding: 20px 0 40px;border-bottom: 1px dotted #999;}
#section-body .inner .box-information .wrapper-news .box-news dt{float: left;width: 100px;margin-right: 20px;color: #fff;}
#section-body .inner .box-information .wrapper-news .box-news dd{float: left;width: 525px;}
#section-body .inner .box-twitter{float: right;width: 270px;height: 360px !important;overflow-y: scroll !important;}


#section-attraction{}
#section-attraction .inner{background: url(../images/top/bg-atraction.png) no-repeat;background-size: 100% auto;}
#section-attraction ._box-head{width: 400px;margin-bottom: 70px;}
#section-attraction .box-body{width: 1000px;margin: 0 auto ;}
#section-attraction .box-body .box-attraction{margin-bottom: 70px;}
#section-attraction .box-body .box-attraction .box-image{width: 540px;float: left;}
#section-attraction .box-body .box-attraction .box-text{width: 460px;float: left;padding-top: 100px;padding-left: 40px; padding-right: 40px;box-sizing: border-box;color: #fff;}
#section-attraction .box-body .box-attraction.right .box-image{float: right;}
#section-attraction .box-body .box-attraction.right .box-text{float: right;}
#section-attraction .box-body .box-attraction.safari .box-text{position: relative;top: -58px;}
#section-attraction .box-body .box-attraction .box-text h3{font-size: 26px; line-height:1.2; margin-bottom: 15px;font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;}
#section-attraction .box-body .box-attraction .box-text p{font-size: 14px;line-height: 1.4;}
#section-attraction .box-body .yellow{color: #ffe04d;}
#section-attraction .box-body .box-sound{color: #fff;text-align: center;margin-bottom: 120px;}
#section-attraction .box-body .box-sound h4{font-weight: normal;margin-bottom: 20px;}
#section-attraction .box-body .box-sound p{color: #999;font-size: 12px;line-height: 1.6;}
#section-attraction .box-body .box-sound p:nth-of-type(1){color: #ffe04d !important;}
#section-attraction .box-profice{color: #fff;width: 900px;margin: 0 auto 60px;}
#section-attraction .box-profice .box-image{float: left;width: 200px;margin-left: 30px;}
#section-attraction .box-profice .box-image img{width: 100%;height: auto;}
#section-attraction .box-profice .box-text{float: left;width: 650px;}
#section-attraction .box-profice .box-text h5{font-size: 20px;margin-bottom: 30px;}
#section-attraction .box-profice .box-text h6{font-size: 18px;margin-bottom: 20px;}
#section-attraction .box-profice .box-text p{font-size: 14px;line-height: 1.4;margin-bottom: 10px;}

/*エリアマップ*/
#section-areamap{color: #fff; overflow: hidden;}
#section-areamap .inner{width: 1000px; margin: 0 auto; position: relative;}
#section-areamap .note{font-size: 10px; font-weight:normal; line-height:1.6;position: absolute;right: 0px;bottom: -18px;}
#section-areamap .box-walk{width: 180px; height: 80px; background: #C7CBCF; color: #000; text-align: center; position: absolute;bottom: 20px;padding-left: 10px;}
#section-areamap .box-walk p{font-size: 16px; line-height: 1.6; padding-top: 16px;}
#section-areamap ._box-head{width: 400px;margin-bottom: 70px;}
#section-areamap ._box-head.shop{width:520px;margin-bottom: 70px;}
#section-areamap .box-body p{text-align: center;margin-bottom: 60px;}
#section-areamap .box-body .box-look{position: relative;}
#section-areamap .box-body .box-look ul{}
#section-areamap .box-body .box-look ul li{list-style: none;position: absolute;z-index: 400;box-shadow:0px 0px 8px 4px #7e6737; width: 50px; height: 50px;border-radius: 50%;transition: all 0.2s ease-out;}
#section-areamap .box-body .box-look ul li:hover{transform: scale(1.2);transition: all 0.2s ease-out;cursor : pointer;}
#section-areamap .box-body .box-look ul li:nth-child(1){top: -392px;left: 372px;}
#section-areamap .box-body .box-look ul li:nth-child(2){top: -595px;left: 189px;}
#section-areamap .box-body .box-look ul li:nth-child(3){top: -802px;left: 189px;}
#section-areamap .box-body .box-look ul li:nth-child(4){top: -888px;left: 682px;}
#section-areamap .box-body .box-look ul li:nth-child(5){top: -725px;left: 852px;}
#section-areamap .box-body .box-look ul li:nth-child(6){top: -626px;left: 909px;}
#section-areamap .box-body .box-look ul li:nth-child(7){top: -507px;left: 661px;}
#section-areamap .box-body .box-look ul li img{width: 50px; position: absolute;}

body#areamap #bk_screen{z-index: 9999;opacity: 0.8;width: 100%;height: 100%;left: 0px;top:0px;position: fixed;background: #000;}
body#areamap #box-hopup{position: fixed;width: 800px;height: 600px; top:50px;border-radius: 10px;z-index: 10000;left: 0px;right: 0px;margin: 0 auto; box-sizing: border-box;padding: 40px;}
body#areamap #box-hopup .close{position: absolute; right: 10px; top:10px;cursor: pointer; z-index: 500;}
body#areamap #box-hopup .inner{margin-top: 30px;display: none; width: 800px;height: 520px; top:100px;border-radius: 10px;position: absolute;top: -30px;left: 0px;padding: 50px;box-sizing: border-box;}
body#areamap #box-hopup .inner span.number{display: block;background: #fff;font-size: 18px;font-weight: bold;border-radius: 50%;position: relative;top: 10px;left: 0px;box-sizing: border-box;width: 60px;height: 60px;text-align: center;line-height: 57px;z-index: 100;}
body#areamap #box-hopup .inner .box-main{float: left; }
body#areamap #box-hopup .inner .box-main p.image{position: relative;top: 5px;}
body#areamap #box-hopup .inner .box-main p.image img{}
body#areamap #box-hopup .inner .box-thumbnail{float: right; margin-top: 5px;width: 127px;}
body#areamap #box-hopup .inner .box-thumbnail img{width: 100%;height: auto;margin-bottom: 5px;transition: all 0.6s ease-in; opacity: 0.8;}
body#areamap #box-hopup .inner .box-thumbnail img:hover{opacity: 1; transition: all 0.2s ease-out;box-shadow:0px 0px 8px 4px rgba(215, 215, 215, 0.76);}
body#areamap #box-hopup .inner .box-thumbnail img.current{opacity: 1;}
body#areamap #box-hopup .inner h3{color: #FFF;font-size: 25px; position: relative;left: 72px;top: -32px;}
body#areamap #box-hopup .inner hr{position: relative;top: -20px;}
body#areamap #box-hopup .inner .box-text p{color: #FFF;line-height: 1.2;}

body#areamap #box-hopup .inner.box-01{background: rgba(11,93,177,0.5);}
body#areamap #box-hopup .inner.box-01 span.number{color: #0B5DB1;border: 3px solid #0B5DB1;}
body#areamap #box-hopup .inner.box-02{background: rgba(56,166,62,0.5);}
body#areamap #box-hopup .inner.box-02 span.number{color: #38A63E;border: 3px solid #38A63E;}
body#areamap #box-hopup .inner.box-03{background: rgba(232,96,30,0.5);}
body#areamap #box-hopup .inner.box-03 span.number{color: #E8601E;border: 3px solid #E8601E;}
body#areamap #box-hopup .inner.box-04{background: rgba(220,0,16,0.5);}
body#areamap #box-hopup .inner.box-04 span.number{color: #DC0010;border: 3px solid #DC0010;}
body#areamap #box-hopup .inner.box-05{background: rgba(218,0,108,0.5);}
body#areamap #box-hopup .inner.box-05 span.number{color: #DA006C;border: 3px solid #DA006C;}
body#areamap #box-hopup .inner.box-06{background: rgba(241,145,10,0.5);}
body#areamap #box-hopup .inner.box-06 span.number{color: #F1910A;border: 3px solid #F1910A;}
body#areamap #box-hopup .inner.box-07{background: rgba(144,77,150,0.5);}
body#areamap #box-hopup .inner.box-07 span.number{color: #904D96;border: 3px solid #904D96;}

body#areamap #box-hopup .box-head{position: relative;top:-30px;}
body#areamap #box-hopup .box-body{position: relative;top:-60px;}


#section-areainfomation{overflow: hidden;margin-bottom: 20px;}
#section-areainfomation .inner{width: 1000px; margin: 0 auto; position: relative;}
#section-areainfomation .inner ul{}
#section-areainfomation .inner ul li{list-style: none; float: left; width: 235px; margin-right: 20px;margin-bottom: 20px;padding: 7px; box-sizing: border-box;}
#section-areainfomation .inner ul li p.image{position: relative; top:-60px; z-index: 0;}
#section-areainfomation .inner ul li p.image img{width: 221px;}
#section-areainfomation .inner ul li h3{color: #fff; position: relative; top: -55px; font-size: 15px; line-height: 1.2;}
/*
#section-areainfomation .inner ul li h3 br{display: none;}
*/
#section-areainfomation .inner ul li p{color: #fff; position: relative; top: -40px; font-size: 14px; line-height: 1.4;}
#section-areainfomation .inner ul li span.number{display: block; background: #fff; font-size: 18px; font-weight: bold; border-radius: 50%; position: relative; top:-7px; left: -7px; box-sizing: border-box; width: 60px; height: 60px; text-align: center; line-height: 57px; z-index: 100;}
#section-areainfomation .inner ul li h3 span.small{font-size: 14px;}
#section-areainfomation .inner ul li:nth-child(1){background: rgba(11,93,177,0.5);}
#section-areainfomation .inner ul li:nth-child(1) span.number{color: #0B5DB1; border: 3px solid #0B5DB1;}
#section-areainfomation .inner ul li:nth-child(2){background: rgba(56,166,62,0.5);}
#section-areainfomation .inner ul li:nth-child(2) span.number{color: #38A63E; border: 3px solid #38A63E;}
#section-areainfomation .inner ul li:nth-child(3){background: rgba(232,96,30,0.5);}
#section-areainfomation .inner ul li:nth-child(3) span.number{color: #E8601E; border: 3px solid #E8601E;}
#section-areainfomation .inner ul li:nth-child(4){background: rgba(220,0,16,0.5);}
#section-areainfomation .inner ul li:nth-child(4) span.number{color: #DC0010; border: 3px solid #DC0010;}
#section-areainfomation .inner ul li:nth-child(5){background: rgba(218,0,108,0.5);}
#section-areainfomation .inner ul li:nth-child(5) span.number{color: #DA006C; border: 3px solid #DA006C;}
#section-areainfomation .inner ul li:nth-child(6){background: rgba(241,145,10,0.5);}
#section-areainfomation .inner ul li:nth-child(6) span.number{color: #F1910A; border: 3px solid #F1910A;}
#section-areainfomation .inner ul li:nth-child(7){background: rgba(144,77,150,0.5);}
#section-areainfomation .inner ul li:nth-child(7) span.number{color: #904D96; border: 3px solid #904D96;}
#section-areainfomation .inner ul li:nth-child(4n){margin-right: 0;}

#section-attention{color: #fff; overflow: hidden; margin-bottom: 70px; clear: both;}
#section-attention .inner{width: 1000px; margin: 0 auto; position: relative;}
#section-attention .inner ul{}
#section-attention .inner ul li{list-style: none; float: left; width: 170px; box-sizing: border-box; margin-right: 30px; border-right: 1px dotted #fff;}
#section-attention .inner ul li:last-child{margin-right: 0; padding-right: 0; width: 360px; border: none;}
#section-attention .inner ul li:last-child p{width: 280px; margin-left: 5px;}
#section-attention .inner ul li h4{float: left; font-size: 12px; font-weight: normal; width: 290px; margin-left: 10px; margin-bottom: 4px;}
#section-attention .inner ul li:nth-child(1) p{padding-top: 12px;}
#section-attention .inner ul li:nth-child(2) h4{width: 80px;}
#section-attention .inner ul li:nth-child(3) p{padding-top: 5px;}
#section-attention .inner ul li p{float: left; font-size: 10px; width: 80px; margin-left: 10px; line-height: 1.2;}
#section-attention .inner ul li p.image{width: 50px; margin-left: 0; padding-top: 0;}
#section-attention .inner ul li p.image.attention{margin-left: 10px; width: 10px;}
#section-attention .inner ul li p.image img{width: 100%;}




#section-shop{margin-bottom: 120px;}
#section-shop ._box-head{width: 520px;margin-bottom: 55px;}
#section-shop .box-body{width: 1000px;margin: 0 auto;}
#section-shop .box-body .box-shop{width: 320px;height: 394px;float: left;margin-right: 20px;margin-bottom: 60px;background: #fff;border-radius: 10px;}
#section-shop .box-body .box-shop:nth-child(3n){margin-right: 0px;}
#section-shop .box-body .box-shop .box-text{padding-bottom: 0px;height: 180px;}
#section-shop .box-body .box-shop .box-text h3{text-align: center;margin: 15px 0;}
#section-shop .box-body .box-shop .box-text h3 img{width: 300px;height: auto;}
#section-shop .box-body .box-shop .box-text p{font-size: 14px;color: #333;line-height: 1.4;margin: 10px; font-weight: bold;}
#section-shop .box-body .box-shop .box-image{width: 320px;height: 205px;}
#section-shop .box-body .box-shop .box-image p{height: 100%;background-size:  cover !important; border-radius: 0 0 10px 10px;}
#section-shop .box-body .box-shop:last-child{margin-right: 0px;}

#section-shop .box-body .box-shop.vega .logo{width: 315px; margin: 10px 0 20px 0;}
#section-shop .box-body .box-shop.vega .logo img{width: 100%;}
#section-shop .box-body .box-shop.vega{margin-right: 0px;}
#section-shop .box-body .box-shop.vega .box-image{margin-top: 6px;}

#section-shop .box-body-2column{width:660px; margin: 0 auto;}

#section-shop .box-goods{clear: both;width: 872px;height: 452px;background:url(../images/shop/bg-goods.png) no-repeat;;padding: 30px; 50px;margin: 0 auto;text-align: center;box-sizing: border-box;position: relative; border-radius: 40px;}
#section-shop .box-goods .logo{text-align: center;margin:0 0 0;} 
#section-shop .box-goods .text{color: #fff;font-size: 16px;line-height: 1.4;margin-bottom: 25px;text-shadow: 0 0 3px #000;}
#section-shop .box-goods .goods{text-align: center;}
#section-shop .box-goods .goods p{display: inline-block; width: 200px; height: auto;}
#section-shop .box-goods .goods p img{width: 100%;}

#section-ticket{margin-bottom: 120px;}
#section-ticket ._box-head{margin-bottom: 70px;width: 560px;}
#section-ticket .inner{width: 1000px;margin: 0 auto;}
#section-ticket .box-body{color: #fff;}
#section-ticket .box-info{float:left;width: 720px;}
#section-ticket .box-info strong{color: #ffe04d;}
#section-ticket .box-info h4{font-size: 22px;font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-weight:normal; letter-spacing: 0.045em;border-left: 5px solid #f4d063;padding: 3px 0 3px 15px;margin-bottom: 15px;}
#section-ticket .box-info .schedule{margin-bottom: 50px;}
#section-ticket .box-info .schedule p{font-size: 14px;line-height: 1.4;margin-bottom: 20px;/*padding-left: 10px;*/}
#section-ticket .box-info .schedule h5{font-size: 14px;margin-bottom: 5px;padding-left: 10px;}
#section-ticket .box-info .price{margin-bottom: 50px;}
#section-ticket .box-info .price h4{}
#section-ticket .box-info .price h4 strong{font-size: 80%;margin-left: 10px;}
#section-ticket .box-info .price table{border: 1px solid #fff;font-size: 14px;}
#section-ticket .box-info .price table td{border: 1px solid #fff;padding: 10px 60px;text-align: center;}
#section-ticket .box-info .price ul.note{font-size: 14px;margin: 20px 0 0;line-height: 1.4;}
#section-ticket .box-info .price ul.note li{ list-style:none;}
#section-ticket .box-info .place{margin-bottom: 50px;}
#section-ticket .box-info .place h5{font-size: 14px;margin-bottom: 5px;}
#section-ticket .box-info .place p{font-size: 14px;line-height: 1.4;margin-bottom: 20px;/*padding-left: 10px;*/}
#section-ticket .box-info .place p.image{padding-left:10px; margin-bottom:0; clear:both;}
#section-ticket .box-info .place p.image img{height:113px;}
#section-ticket .box-info .place ul{padding-left:1.5em; padding-top:2px; font-size: 14px;/*width: 360px;*/float: left;margin-right: 40px;}
#section-ticket .box-info .place ul li{list-style:disc;margin-bottom: 5px;}
#section-ticket .box-info .place ul.note{padding-left:0em; margin-top:20px; margin-bottom:20px; clear:both;}
#section-ticket .box-info .place ul.note li{list-style:none;}

#section-ticket .box-place{clear:both; margin-bottom:30px; position:relative;}
#section-ticket .box-place h4{font-size: 22px;font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-weight:normal; letter-spacing: 0.045em;border-left: 5px solid #f4d063;padding: 3px 0 3px 15px;margin-bottom: 15px;}
#section-ticket .box-place table{border: 1px solid #fff;font-size: 14px;}
#section-ticket .box-place table td{border: 1px solid #fff;padding: 10px 20px;}
#section-ticket .box-place ul.note{font-size: 14px;margin: 20px 0 0;line-height: 1.4;}
#section-ticket .box-place ul.note li{ list-style:none;}
#section-ticket .box-place p.image{position:absolute; right:0 ;top:40px;}
#section-ticket .box-place p.image img{width:auto; height:202px;}

#section-ticket .box-benefit{float: right;width: 280px;background: url(../images/ticket/bg-benefits.png) no-repeat center top #fff;border: 2px solid #fff;box-sizing: border-box;}
#section-ticket .box-benefit h3{color: #a6800b;font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;text-align: center;font-size: 26px;margin-top: 30px;background: url(../images/h-border.png) no-repeat center bottom;padding-bottom: 10px; margin-bottom: 20px; }
#section-ticket .box-benefit .point{color: #000;padding: 0 10px;margin-bottom: 30px;} 
#section-ticket .box-benefit .point h4{font-size: 22px;font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;/*background: url(../images/icon-benefits_1.png) no-repeat left center;height: 50px;*/box-sizing: border-box;padding-top: 15px;/*padding-left: 55px;*/font-weight: normal;margin-bottom: 25px; text-align:center;} 
#section-ticket .box-benefit .point.no2 h4{background: url(../images/icon-benefits_2.png) no-repeat left center;}
#section-ticket .box-benefit .point p{line-height: 1.4;font-size: 14px;} 
#section-ticket .box-stay{clear: both;padding-top: 50px;}
#section-ticket .box-stay h4{font-size: 22px;font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-weight:normal; letter-spacing: 0.045em;border-left: 5px solid #f4d063;padding: 3px 0 3px 15px;margin-bottom: 15px;}
#section-ticket .box-stay  p{line-height: 1.4;font-size: 14px;margin-bottom: 20px;}
#section-ticket .box-stay .box-images{margin-bottom:20px;}
#section-ticket .box-stay .box-images p{float: left;margin-right: 20px;}
#section-ticket .box-stay .box-images p img{width:318px;}
#section-ticket .box-stay .box-images p:nth-child(3n){margin-right: 0px;}

#section-access{margin-bottom: 60px;}
#section-access ._box-head{margin-bottom: 70px;width: 320px;}
#section-access .inner{width: 1000px;margin: 0 auto;}
#section-access .inner .lead{color: #fff;text-align: center;}
#section-access .inner ._btn{margin: 30px 0 50px;}
#section-access .inner ._btn a{padding-top: 24px;}
#section-access .inner .box-body{}
#section-access .inner .box-body .maps{margin-bottom: 50px;}
#section-access .inner .box-body .maps p.image{float: left;margin: 0 5px;box-sizing: border-box;}
#section-access .inner .box-body .box-access{color: #fff;}
#section-access .inner .box-body .box-access .access{float: left;width: 300px;margin-right: 50px;font-size: 14px;}
#section-access .inner .box-body .box-access .access:nth-child(3n){margin-right: 0px;}
#section-access .inner .box-body .box-access h4{font-size: 22px;font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-weight:normal; letter-spacing: 0.045em;border-left: 5px solid #f4d063;padding: 3px 0 3px 15px;margin-bottom: 15px;}
#section-access .inner .box-body .box-access .box{margin-bottom: 30px;}
#section-access .inner .box-body .box-access .box h5{font-size: 14px;font-weight: bold;margin-bottom: 5px;}
#section-access .inner .box-body .box-access .box p{line-height: 1.4;}
#section-access .inner .box-body .box-access .box ul{margin-left: 20px;line-height: 1.4;}
#section-access .inner .box-body .box-access .box ul.note{font-size: 14px;margin: 20px 0 0;line-height: 1.4;}
#section-access .inner .box-body .box-access .box ul.note li{ list-style:none;}

#section-faq{clear: both;color: #fff;}
#section-faq ._box-head{margin-bottom: 70px;width: 400px;}
#section-faq .inner{width: 1000px;margin: 0 auto;}
#section-faq h3{font-size: 22px;font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-weight:normal; letter-spacing: 0.045em;border-left: 5px solid #f4d063;padding: 3px 0 3px 15px;margin-bottom: 15px;}
#section-faq .box-faq{margin-bottom: 40px;line-height: 1.4;}
#section-faq .box-faq .box-q{background: url(../images/icon-q.png) no-repeat; padding: 10px 0 20px 50px;}
#section-faq .box-faq .box-a{background: url(../images/icon-a.png) no-repeat; padding: 10px 0 20px 50px;}

#section-fotter{height: 865px;;background: url(../images/footer/footer-bg.png) center bottom no-repeat; background-size: 100% 500px; }
#section-fotter .inner{width: 1000px;margin: 0 auto;}
#section-fotter .inner h2{margin-bottom: 30px;}
#section-fotter .content-movie{}
#section-fotter .content-movie .box-movie{color: #fff;}
#section-fotter .content-movie .box-movie .box{float: left;margin-right: 14px;}
#section-fotter .content-movie .box-movie .box:bth-child(3n){margin-right: 0px;}
#section-fotter .content-movie .box-movie .box h3{font-size: 16px;margin-bottom: 5px;}
#section-fotter .content-movie .box-movie .box img{border: 1px solid #999;}
#section-fotter .content-movie .box-movie .box img:hover{border: 1px solid #ccc;}

#section-fotter .content-bottom{clear: both;position: relative;width: 1000px;margin: 70px auto 20px;}
#section-fotter .content-sponsorship{color: #fff; line-height: 1.4;margin-bottom: 30px;}
#section-fotter .content-sponsorship ul li{list-style: none;text-shadow: 0 0 3px 1 #000;}
#section-fotter .content-sponsorship h3{font-size: 22px; margin-bottom: 30px; font-weight: normal;}
#section-fotter .content-sponsorship .box-high-sponsor{margin-bottom: 30px;}
#section-fotter .content-sponsorship .box-high-sponsor img{height:100px;}
#section-fotter .content-sponsorship .box-high-sponsor ul{display: flex; justify-content: center;}
#section-fotter .content-sponsorship .box-high-sponsor .logo-gin img{margin-right: 25px;}
#section-fotter .content-sponsorship .box-high-sponsor .logo-kirin img{}
#section-fotter .content-sponsorship .box-text{clear: both;}
#section-fotter .content-sponsorship .box-middle-sponsor ul{display: flex;justify-content:center;}
#section-fotter .content-sponsorship .box-middle-sponsor ul li{font-size: 22px; margin-bottom: 30px;}
#section-fotter .content-sponsorship .box-middle-sponsor ul li:nth-child(2){margin: 0 30px;}
#section-fotter .content-sponsorship .box-small-sponsor{}
#section-fotter .content-sponsorship .box-small-sponsor ul{display: flex;justify-content:center;flex-wrap: wrap;}
#section-fotter .content-sponsorship .box-small-sponsor ul li{font-size: 12px;float: left; margin-right: 20px;margin-bottom: 10px;}



#section-fotter .content-bottom .box-bottom{overflow: hidden; width: 1000px;height: 125px; }
#section-fotter .content-bottom .logo1{position: absolute;left: 0px;bottom: 90px;}
#section-fotter .content-bottom .logo2{position: absolute;left: 0px;bottom: 0px;}
#section-fotter .content-bottom .logo3{position: absolute;right: 0px;bottom: 60px;}
#section-fotter .content-bottom .link{position: absolute;right: 0px;bottom: 90px;}
#section-fotter .content-bottom .link a{color: #fff;font-size: 10px;}
#section-fotter .content-bottom .copy{color: #fff;font-size: 10px;position: absolute;right: 0px;bottom: 40px;}
#section-fotter .content-bottom .seo{color: #fff;font-size: 10px;position: absolute;right: 0px;bottom: 20px;}
