@media screen and (max-width: 767px) {
.disp_sp {
display: block !important;
}

.disp_pc {
display: none !important;
}
}

@media screen and (min-width: 768px) {
.disp_sp {
display: none !important;
}

.disp_pc {
display: block !important;
}
}



/* --------------------------------------------------------------------------------------
 トップページ
--------------------------------------------------------------------------------------- */

/* ------ Mainvisual ------ */

#mainvisual {
	width: 100%;
	text-align:center;
	background: url(../../img/main_bg.png) no-repeat;
	background-size: cover;
}

#mainvisual .inner {
	padding: 0px 0 0px;
	width:1082px;
}

@media screen and (min-width: 768px) {
.disp_pc {
position: relative;
max-width: 1082px;
padding: 0 0 72%;
left:1.5%;
background: url(../../img/main_pc2.png) no-repeat 0 0;
background-size: 100%;
}

.disp_pc h2{
position: absolute;
top: 6.5%;
width: 97%;
padding: 0 0 39.680%;
margin-left: 3%;
margin-top: 1.2%;
background: url(../../img/main_txt01_2.png) no-repeat 0 0;
background-size: 100%;
text-indent: -9999px;
}

.disp_pc .txt01{
position: absolute !important;
top: 50%;
left: 4%;
width: 65%;
padding: 0 0 26.4534%;
background: url(../../img/main_txt02.png) no-repeat 0 0;
background-size: 100%;
text-indent: -9999px;
}

.disp_pc .txt02{
position: absolute !important;
top: 71%;
left: 3%;
width: 68.5%;
padding: 0 0 25.7267%;
background: url(../../img/main_txt03_2.png) no-repeat 0 0;
background-size: 100%;
text-indent: -9999px;
}

}


/* ------ Contents ------ */
#contents {
	font-size: 138.5%;
}

#contents .inner {
	padding: 0.5% 0;
	width:1000px;
}

#contents h2 {
	background: #03427e;
}

#contents h2 .inner{
	padding:35px 0;
	text-align: center;
}

#access{
}

#access .information{
	background: #fff;
	border: 3px solid #cc3333;
-webkit-border-radius:10px;
-moz-border-radius:10px; 
border-radius:10px;
}

#access .information h2{
	padding: 0 40px;
	background: #cc3333;
-webkit-border-radius:1px 1px 0 0;
-moz-border-radius:1px 1px 0 0;
border-radius:1px 1px 0 0;
	font-size: 150%;
	color: #fff;
}

#access .information .content2{
	padding: 10px 20px;
}

#access .information dl{
	padding: 10px 20px;
	border-bottom: 1px dotted #111;
}
.information .content2{
	height: 565px;
    overflow-y: scroll;
	overflow-x: hidden;
}
#access .information dl:last-child{
	border-bottom: none;
}

#access .information dl dt{
	float: left;
	width: 6em;
}

#access .information dl dd{
	margin: 0 0 0 6em;
}

#link {
	width: 100%;
	text-align:center;
	background: url(../../img/btn_bg.png) no-repeat;
	background-size: cover;
}

#link ul li {
	padding: 7px 0;
}

/**/
/*
.content2_1,
.content2_2 {
	width: 50%;
	float: left;
	margin: 0 0 30px;
}

.content2_1 {
	margin-right: 0%;
}
*/

.btn_app {
	font-size: 0;
}

.btn_app li  {
	width: 48%;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.btn_app li:first-child {
	margin-right: 4%;
}

#friend h2 , #all_return h2 ,#summer h2{
	background-color:#156fa2;
	color:#ffffff;
	font-size:34px;
	text-align: center;
	margin:10px 0;
	height:69px;
}

#summer .enter,#all_return .enter{
	padding:10px 0;
}

#summer .comments ,#all_return .comments{
	font-size:70%;
}

.mbauto{
	padding: 0 0 3% 0;
}

.mbauto span.cap_l{
	display: block;
	margin: 8px 0 0;
	padding: 0 0 0 1em;
	text-indent: -1em;
	line-height: 1.5;
}

#u_26 .mbauto{
	padding: 0;
}

.waku{
	background: #fff;
	border: 3px solid #cc3333;
	padding: 40px;
-webkit-border-radius:10px;
-moz-border-radius:10px; 
border-radius:10px;
}

.gray{
	background: #f2efe5;
	padding: 30px;
-webkit-border-radius:10px;
-moz-border-radius:10px; 
border-radius:10px;
}

.white{
	background: #fff;
	padding: 30px;
-webkit-border-radius:10px;
-moz-border-radius:10px; 
border-radius:10px;
}

.white02{
	background: #fff;
	padding: 30px 0;
-webkit-border-radius:10px;
-moz-border-radius:10px; 
border-radius:10px;
}

.white02 p{
	display: inline-block;
}

.white02 .btn{
	display: inline-block;
	width: 500px;
	vertical-align: top;
	font-size: 0;
}

.white02 .btn li {
	display: inline-block;
	margin: 0 15px 0 0;
	vertical-align: top;
}

.white02 .btn li:last-child {
	margin: 0 0 0 0;
}


@media screen and (max-width: 1000px) {
.white02 .btn{
	display: block;
	width: 100%;
	margin: 16px 0 0;
	padding: 0 5.4%;
	vertical-align: top;
	font-size: 0;
	text-align: center;
}

.white02 .btn li {
	display: inline-block;
	width: 48%;
	margin: 0 4% 0 0;
	vertical-align: top;
}

.white02 .btn li:last-child {
	margin: 0 0 0 0;
}

}


.app{
	background: url(../../img/obi_bg.png);
}

#contents .app .inner{
	padding: 43px 0;
	margin-top: 10px;
}

.app p{
	width: 80%;
}
	
.app .btn {
	width: 16%;
}

.app .btn {
	position: absolute;
	top: 15%;
	right: 0;
	font-size: 0;
}

.app .btn li:first-child {
	margin-bottom: 3%;
}

.line{
	border-bottom: 1px solid #ccc;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.point{
	margin-bottom: 50px;
}

/* ------ campaign ------ */

#contents .campaign .inner{
	padding: 2% 0 4%;
}

#contents .campaign h2{
	background: #c69943;
}

#contents .campaign h2 .inner{
	padding: 20px 0;
}

#contents .campaign .img01{
	margin: 0 6.52% 0 0;
}

#contents .campaign h3{
	margin: 0 0 20px;
	padding: 0 0 10px;
	border-bottom: 3px solid #232a54;
}

#contents .campaign .txt01{
	font-size: 122.22%;
}

#contents .campaign ul li{
	padding: 0 0 0 1em;
	text-indent: -1em;
}

/*-----------------------------------------------------	*/
/*	for - 1000px					*/
/*-----------------------------------------------------	*/

@media screen and (max-width: 1000px) {

#mainvisual .inner,
#contents .inner,
footer .inner{
	width:95%;
}

}

/*-----------------------------------------------------	*/
/*	for - 767px					*/
/*-----------------------------------------------------	*/

@media screen and (max-width: 767px) {
#access .information h2{
	text-align: center;
}

#access .information .content2{
	padding: 2.5% 5%;
}

#access .information dl{
	padding: 2.5% 5%;
}

#access .information dl dt{
	float: none;
	width: auto;
}

#access .information dl dd{
	margin: 0;
}


/* ------ campaign ------ */

#contents .campaign .img01{
	margin: 0;
}

#contents .campaign .content2_1,#contents .campaign .content2_2 {
	width: 100%;
	margin: 0;
}

#contents .campaign .content2_1 {
	margin: 0 0 5%;
}

#contents .campaign h3{
	margin: 0 0 20px;
	padding: 0 0 10px;
	border-bottom: 3px solid #232a54;
}

#contents .campaign .txt01{
	font-size: 122.22%;
}

#contents .campaign ul li{
	padding: 0 0 0 1em;
	text-indent: -1em;
}
}

/*-----------------------------------------------------	*/
/*	for - 479px					*/
/*-----------------------------------------------------	*/

@media screen and (max-width: 479px) {

.pc {
	display: none !important;
}

.smp {
	display: block !important;
}
	
#mainvisual {
}

#link ul li {
	padding: 3px 0;
}
	
#contents {
	font-size: 108%;
}

#contents .inner {
	padding: 10% 0;
}
	
#contents h2 .inner{
	padding:25px 0;
	background: none;
	text-align:center;
}

.content2_1,
.content2_2 {
	width: 100%;
}

.content2_1 {
	margin-right: 0;
}

.content3_1,
.content3_2,
.content3_3 {
	width: 100%;
}

.content3_2 {
	margin-right: 0;
	margin-left: 0;
}
	
.txt_l {
	width: 100%;
}

.img_r {
	width: 100%;
}
	
.mbauto{
	padding: 0 0 5% 0;
}

.waku{
	padding: 30px;
}

#contents .app .inner{
	padding: 20px 0;
}
	
.app p{
	width: 65%;
}
	
.app .btn {
	width: 25%;
}

/* ------ campaign ------ */

#contents .campaign .inner{
	padding: 2.5% 0 10%;
}

}


#mainvisual p {
	position:relative;
}

#mainvisual .aps {
	position: absolute;
	top: 50%;
	left: 57%;
	display: block;
	width: 14.1%;
	padding-top: 4.15%;
}

#mainvisual .ggp {
	position:absolute;
	top:57%;
	left: 57%;
	display:block;
	width: 14.1%;
	padding-top: 4.15%;
}

#mainvisual a:hover {
	background:rgba(255,255,255,0.20);
}




.app_member_area {
	position: relative;
	margin: 0 0 137px;
}

.app_member_area .link01{
    position: absolute;
    left: 60.2%;
    top: 74%;
    font-size: 77%;
}

.app_member_area .link01 a,
.app_member_area .link02 a{
	text-decoration: underline;
}

.app_member_area .link01 a:hover,
.app_member_area .link02 a:hover{
	text-decoration: none;
}

.app_member_area .link02{
	position: absolute;
	left: 52%;
	top: 84%;
	font-size: 77%;
}

.app_member_area .link02 li{
	margin: 10px 0 0 0;
}

.app_member_area .link02 li:first-child{
	margin: 0 0 0 0;
}

.app_member_area .link02 li a{
	padding: 0 0 0 15px;
	background: url(../../img/ico_arw01.png) no-repeat 0 center;
}

.app_member_area .cap_l{
	position: absolute;
	margin-top: 20px;
}

@media screen and (max-width: 1000px) {
.app_member_area {
	position: relative;
	margin: 0 0 74px;
}

.app_member_area .link01{
    position: absolute;
				left: 67.2%;
    top: 59%;
    font-size: 77%;
}

.app_member_area .link02{
	position: inherit;
	left: 0;
	top: 0;
	margin: 16px 0 0;
	font-size: 77%;
}

.app_member_area .link02 li{
	margin: 0 0 0 0;
}

.app_member_area .cap_l{
	margin-top: 10px;
}
}


.app_new_member_area .left_box{
	display: inline;
	float: left;
	width: 24.3%;
}

.app_new_member_area .left_box .btn_app li{
	display: block;
	width: 238px;
	margin: 0 0 18px;
}

.app_new_member_area .right_box{
	display: inline;
	float: right;
	width: 74.6%;
}


@media screen and (max-width: 1000px) {
.app_new_member_area .left_box{
	display: block;
	float: none;
	width: auto;
}

.app_new_member_area .left_box .btn_app li{
	display: inline-block;
	width: 48%;
	margin: 0 4% 0 0;
}

.app_new_member_area .left_box .btn_app li:last-child{
	margin: 0 0 0 0;
}

.app_new_member_area .right_box{
	display: block;
	float: none;
	width: auto;
}

}

/*お友達紹介キャンペーン*/
#friend .imgbox{
	text-align:center;
	margin-bottom:10px;
}
#friend .friend--commentbox{
	width:100%;
display:table;
}
#friend .friend--commentbox-inner{
	width:50%;
display:table-cell;
vertical-align: top;
}
#friend .friend--commentbox-innerbox{
	padding:0 10px;
}
#friend .friend--commentbox--subtitle{
	text-align:center;
	background-color:#ef7f32;
	color:#fff;
	padding:3px;
	margin-bottom:10px;
}
#friend .friend--commentbox--comment{
	text-align:center;
}

#friend .centericon{text-align:center;}
#friend ul.friend--commentbox--marklist{
	margin-top:20px;
	padding-top:20px;
	border-top:1px #ccc dotted;
}
#friend ul.friend--commentbox--marklist li{
	text-indent:-1em;
	padding-left:1em;
	line-height:1.2;
	margin-bottom:10px;
	font-size:0.8em;
}
#friend .friend_content_b dl{
	margin:30px 0;
}
#friend .friend_content_b dt{
	width:5em;
	float:left;
	padding:5px;
	background-color:#0a448e;
	color:#fff;
	text-align: center;
}
#friend .friend_content_b dd{
	padding:5px 5px 5px 6em;
	margin-bottom:10px;

}





