﻿
/* --------------------------------------------------------------------------------------
 OUTLINEページ
--------------------------------------------------------------------------------------- */

.iframe {
  width: 100%;
  height: 100%;
}

.outline{
	background:none;
	width:980px;
	margin:0 auto;
}

.out_tab li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.out_tab li p{
}
.out_tab li a {
	display: table-cell;
	text-align:center;
	padding:8px 0px;
	margin:10px;
	width:300px;
	color:#FFFFFF;
	background:#a5d1cf;
	font-size:16px;
	font-weight: 300;
	line-height:1.3;
	height:60px;
	vertical-align:middle;
}
.out_tab li a:hover,
.out_tab li a.on{
	background:#19a7a0;
}

/*table
---------------------------------*/

#contents .outline table{
    border-collapse:collapse;
    border-spacing:0;
    empty-cells:show;
	width:100%;
	margin-bottom:10px;
	line-height:1.5;
	font-size:12px;
}
#contents .outline table th{
	border:1px solid #999;
	background:#222;
    text-align:left;
	width:25%;
	font-weight:normal;
	padding:0.8em;
}
#contents .outline table td{
    border:1px solid #999;
    padding:0.8em;
}

#contents .outline p.view{
	font-size:84%;
	text-align:right;
}

#contents .outline p.view a{
	color:#999;
}


/*-----------------------------------------------------	*/
/*	for - 1179px					*/
/*-----------------------------------------------------	*/

@media screen and (max-width: 1179px) {

#contents .inner {
	width:95%;
}
}


/*-----------------------------------------------------	*/
/*	for - 767px					*/
/*-----------------------------------------------------	*/

@media screen and (max-width: 767px) {

.outline{
	width:100%;
}
}


/*-----------------------------------------------------	*/
/*	for - 479px					*/
/*-----------------------------------------------------	*/

@media screen and (max-width: 479px) {

}