@charset "UTF-8";

.gallery#index header{border-bottom:1px #bcb275 solid;}
.gallery#index .area-title h1{margin:75px 0 0 0; padding-bottom:40px;}

.gallery#index .box-hidden{display: none; padding:20px 0 0 0;}
.gallery#index #_tab .panel{display:block; margin-bottom:5px;}
.gallery#index #_tab .panels{margin-bottom:50px;}

section.area-gallery{margin-bottom:0;}
section.area-gallery ul{width:100%; box-sizing:border-box;}
section.area-gallery ul li{width:50%; height:auto; margin:0 0 15px 0; float:left; box-sizing:border-box;}
section.area-gallery ul li:nth-child(2n-1){padding-right:5px;}
section.area-gallery ul li:nth-child(2n){padding-left:5px;}
section.area-gallery ul li:nth-child(2n+1){clear:both;}
section.area-gallery ul li .img img{width:100%;}
section.area-gallery ul li .img{display:block; position:relative;}
section.area-gallery ul li a:hover .img:before{content:""; display:block; z-index:10; background: url(/c/resort/makuhari/assets/images/ja/resort_hotels/gallery/btn-gallery.png) rgba(0,0,0,0.6) 50% 50% no-repeat; position:absolute; top:0; bottom:0; left:0; right:0;}
section.area-gallery ul li .title{font-size:14px; margin-top:10px; display:block;}

