@charset "UTF-8";

.guest_room#index .visual{margin-top:50px; width:100%; height:320px; background:url(/c/resort/makuhari/assets/images/ja/resort_hotels/guest_room/img-mainvisual-sp.jpg) 50% 50% no-repeat; background-size:cover !important; display:block;}

.guest_room#index header{}
.guest_room#index .area-title h1{margin:30px 0 0 0; padding-bottom:40px;}

.guest_room#index .box-hidden{display:none; padding:20px 0 0 0;}
.guest_room#index .panel{display:block; margin-top:5px;}
.guest_room#index .panels{margin-bottom:50px;}

.guest_room#index section#search{padding:40px 0 20px 0; margin-bottom:50px;}

.guest_room#index section.area-room {border-top:#3a2f08 1px solid; padding-top:20px; margin-bottom:40px;}
.guest_room#index section.area-room h2{margin-bottom:20px;}
.guest_room#index section.area-room ._photo-bottom{}

.guest_room#index section.area-room .txt{margin-top:10px; width:100%;}
.guest_room#index section.area-room ._lead{margin-bottom:10px;}
.guest_room#index section.area-room ._p{margin-bottom:15px;}
.guest_room#index section.area-room .txt ul{list-style:disc; font-size:14px; margin:0 0 30px 20px; line-height:1.7;}
.guest_room#index section.area-room h3{font-size:16px; margin-bottom:10px;}
.guest_room#index section.area-room ._table{font-size:12px; line-height:1.4;}
.guest_room#index section.area-room ._table th{width:auto;}
.guest_room#index section.area-room ._table th,
.guest_room#index section.area-room ._table td{padding:15px 5px; text-align:center; vertical-align:middle;}

.guest_room#index section.area-service{border-top:#3a2f08 1px solid; padding-top:20px; margin-bottom:40px;}
.guest_room#index section.area-service h2{margin-bottom:20px;}
.guest_room#index section.area-service .btn{text-align:right; margin-top:30px;}
.guest_room#index section.area-service table th{width:30%;}

.guest_room#index section.area-price{border-top:#3a2f08 1px solid; padding-top:20px; margin-bottom:20px;}
.guest_room#index section.area-price ._h2{margin-bottom:20px;}
.guest_room#index section.area-price table th{width:30%;}