/*SP*/

@charset "UTF-8";

/* web Fonts */
@font-face {
   font-family: 'EB Garamond';
   src: url('../../font/EB_Garamond/EBGaramond-Regular.ttf') format("truetype");
}
@font-face {
   font-family: 'Lato';
   src: url('../../font/Lato/Lato-Regular.ttf') format("truetype");
   font-weight: 400;
}
@font-face {
   font-family: 'Lato';
   src: url('../../font/Lato/Lato-Light.ttf') format("truetype");
   font-weight: 300;
}
@font-face {
   font-family: 'Lato';
   src: url('../../font/Lato/Lato-Bold.ttf') format("truetype");
   font-weight: 700;
}

._pc,
._pc-b{display:none;}
._sp{display:inline-block;}
._sp-b{display:block;}
._hidden{display: none;}

html{font-size:16px; -webkit-text-size-adjust: 100%;}
.wrap{font-family: 'Lato'; background: #fff; margin: 0 auto; width: 100%; overflow-x: hidden;}
.wrap .btn{float: left;}
.wrap a{ text-decoration: none;}
.wrap img{width: 100%;}
.wrap a img:hover,a:hover{opacity:0.7; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"; -moz-opacity:0.7; -khtml-opacity: 0.7; zoom:1;}
.wrap a img:active,a:active{opacity:0.9; filter: alpha(opacity=90); -ms-filter: "alpha(opacity=90)"; -moz-opacity:0.9; -khtml-opacity: 0.9; zoom:1;}



.wrap .main_pc{margin-bottom: 30px; width: 100%;  text-align: center; }
.wrap .main_pc .logo{background: #3b2f08;}
.wrap .main_pc .logo p{ text-align: center;  margin: 0 auto; padding: 8px 0 6px 0;} 
.wrap .main_pc .logo p img{width:40%;}
.wrap .main_pc p img{margin:  0 auto; width: 100%; }
.wrap .section-01{margin: 0 auto; margin-bottom: 32px; text-align: center; }
.wrap .section-01 .wrapper_btn{width: 91%; margin: 0 auto; box-sizing: padding-box;}
.wrap .section-01 img{margin:  0 auto; clear: both; width: 100%;}

.wrap .btn {display: block; font-size:6vw; line-height: 1.2em; width: 49%;  box-sizing: border-box; margin-bottom: 27px; background-image: url(/c/resort/makuhari/assets/images/ja/pc/common/side-menu-arrow-down.png); background-position: center 88%; background-repeat: no-repeat;}
.wrap .btn a{display: block; width: 100%; height: 100%; padding-top: 1px;}

.wrap .btn:hover{opacity:0.7; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"; -moz-opacity:0.7; -khtml-opacity: 0.7; zoom:1;}



.wrap .btn:first-child{margin-right: 2%;}
.wrap .btn .font_gothic{color: #fff; font-family: 'Lato'; font-size:3vw;}
.wrap .btn ._btn-pickup{color: #fff; font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-size:4vw;}

.wrap .section-01 .wrapper_btn .btn:nth-child(2) a{line-height: 0.6em; }
.wrap .section-01 .wrapper_btn .btn:nth-child(2) .font_gothic{font-size: 4vw; font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; margin-bottom: 0px; padding-bottom: 0px;}
.wrap .section-01 .wrapper_btn .btn:nth-child(2) a:first-line{line-height: 1.2em;}
.wrap .section-01 .wrapper_btn .btn:nth-child(2) .service{color: #fff; font-size: 4vw; line-height: 1.7em; font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-size:4vw; margin-bottom: 0.5555%;} 
.wrap .section-01 .wrapper_btn .btn:nth-child(2) ._btn-pickup{font-size: 3vw; font-family: 'Lato'; line-height: 1.2em; margin-bottom: 1px;}


.wrap .section-02{margin: 0 6% 0 4%; text-align: center; margin-bottom: 45px; width: 90%;}
.wrap .section-02 img{margin:  0 auto;}

.wrap .section-03{margin-bottom: 50px; text-align: center;}
.wrap .section-03 img{margin:  0 auto;}
.wrap .section-03 img:nth-child(2){margin-bottom: 35px;}
.wrap .section-03 img:nth-child(3){margin-bottom: 40px; width: 90%;}
.wrap .section-03 img:nth-child(4){margin-bottom: 29px;}
.wrap .section-03 img:nth-child(5){width: 90%;}

.wrap .section-04{padding-bottom: 61px; border-bottom: 1px solid #3b2f08; text-align: center;}
.wrap .section-04 img{margin:  0 auto;}
.wrap .section-04 img:nth-child(2){margin-bottom: 28px;}
.wrap .section-04 img:nth-child(3){margin-bottom: 42px;}
.wrap .section-04 img:nth-child(4){width: 88%;}

.wrap ._btn-top{position: absolute; width: 90%;  text-align: center; margin: 0 auto; margin-top: 6px; margin-right: 20%;}
.wrap ._btn-top img{position: relative; top: 18px; width: 65%; }
.wrap ._btn-top a{position: relative; display: block; width: 55px; height: 55px; background: #3b2f08; right: -100%; box-sizing: padding-box;}


.wrap .section-05{width: 88%; margin: 0 auto; text-align: left; margin-top: 22px; padding-bottom: 20px;}
.wrap .section-05 img{float: none;}
.wrap .section-05 .address{color: #3b2f08;}
.wrap .section-05 .address p{float: none;  font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;}
.wrap .section-05 .address a{display: block;text-align: center;}
.wrap .section-05 .address p img{width: 70%; text-align: center;}
.wrap .section-05 .address .makuhari{font-size: 2.5vw; margin-top: 22px; line-height: 1.4;}
.wrap .section-05 .address .makuhari .mapcode {width: 100%; margin-top: 5px; margin-bottom: 40px;}
.wrap .section-05 .address .makuhari .mapcode p:nth-child(1){float: left; width:17px; height: 17px; }
.wrap .section-05 .address .makuhari .mapcode p:last-child{float: left; margin-left: 3px; }
.wrap .section-05 .address .makuhari .mapcode p img{width: 17px; }
.wrap .section-05 .copy{clear: both; width: 100%; text-align: left; margin: 0px 0 0px 0;  }
.wrap .section-05 .copy img{width: 60%; margin-bottom: 5px;}
.wrap .section-05 .copy p{font-size: 2vw; font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;}
.wrap .section-05 .copy p:last-child{margin-top: 0px; }

