@charset "UTF-8";

.restaurant#index .visual{margin-top:50px; width:100%; height:320px; background:url(/c/resort/makuhari/assets/images/ja/resort_hotels/restaurant/img-mainvisual-sp.jpg) 50% 50% no-repeat; background-size:cover !important; display:block;}

.restaurant#detail header{border-bottom:1px #bcb275 solid;}
.restaurant#index .area-title h1{margin:30px 0 0 0; padding-bottom:40px;}
.restaurant#detail .area-title h1{margin:75px 0 0 0; padding-bottom:10px;}
.restaurant#detail .area-title p.btn{margin:0; padding:0;}
.restaurant#detail .area-title ._btn-small{color:#3a2f08; background:none; text-decoration:underline; width:auto; margin:0; padding:0;}
.restaurant#detail .area-title ._btn-small:after{display:none; background:none;}

.restaurant#index .area-shop-list{margin-bottom:10px;}
.restaurant#index .area-shop-list ul{}
.restaurant#index .area-shop-list ul li{width:100%; height:auto; margin:0 0 40px 0;}
.restaurant#index .area-shop-list ul li:nth-child(3n){margin-right:0;}
.restaurant#index .area-shop-list ul li:nth-child(3n+1){clear:both;}
.restaurant#index .area-shop-list ul li .image img{width:100%;}
.restaurant#index .area-shop-list ul li .title{font-size:18px; line-height:1.6; margin:10px 0; display:block;  font-weight:bold;}
.restaurant#index .area-shop-list ul li .title i{font-size:12px; display:block; font-style:normal; font-weight:normal;}
.restaurant#index .area-shop-list ul li .lead,
.restaurant#index .area-shop-list ul li .info{font-size:14px; line-height:1.6; margin-bottom:15px; display:block;}
.restaurant#index .area-shop-list ul li .btn{text-align:right; display:block;}

/*
#_tab ul.tabs{margin-bottom:79px;}
#_tab ul.tabs li{width:399px; margin-bottom:1px;}
#_tab ul.tabs li:nth-child(3n){width:400px; margin-right:0;}
*/

.restaurant#detail section.area-restaurant {border-top:#3a2f08 2px solid; padding-top:10px; margin-bottom:40px;}
.restaurant#detail section.area-restaurant h2{margin-bottom:20px;}
.restaurant#detail section.area-restaurant ._photo-bottom{}
.restaurant#detail section.area-restaurant .thumbnail{margin-bottom:20px;}
.restaurant#detail section.area-restaurant .google-map{}
.restaurant#detail section.area-restaurant .google-map iframe{width: 100%; height: 240px; margin-bottom:20px;}
.restaurant#detail section.area-restaurant .layout{margin-bottom:20px;}
.restaurant#detail section.area-restaurant .layout img{width:100%;}
.restaurant#detail section.area-restaurant .txt{width:100%;}
.restaurant#detail section.area-restaurant .txt ._lead{margin-bottom:10px;}
.restaurant#detail section.area-restaurant .txt h3{font-size:16px; margin-bottom:10px;}
.restaurant#detail .layout{margin-top:25px;}
.restaurant#detail .btn{text-align:right; margin-bottom:10px;}
.restaurant#detail section.area-restaurant .txt ul.osusume{margin-bottom:30px;}
.restaurant#detail section.area-restaurant .txt ul.osusume li{width:100%; height:auto; margin:0 0 20px 0; clear:both;}
.restaurant#detail section.area-restaurant .txt ul.osusume li .img img{width:50%; margin:0 10px 10px 0; float:left;}
.restaurant#detail section.area-restaurant .txt ul.osusume li .title{font-size:14px; line-height:1.4; margin-top:10px; display:block;}
.restaurant#detail section.area-restaurant .txt table.price{font-size:14px; margin-bottom:50px;}
.restaurant#detail section.area-restaurant .txt table th{width:30%;}
.restaurant#detail section.area-restaurant .txt table td span.time,
.restaurant#detail section.area-restaurant .txt table td span.price,
.restaurant#detail section.area-restaurant .txt table td span.parking{display:block; position:relative;}
.restaurant#detail section.area-restaurant .txt table td span.time,
.restaurant#detail section.area-restaurant .txt table td span.price{text-indent:-6.3em; padding-left:6em;}
.restaurant#detail section.area-restaurant .txt table td span.parking{text-indent:-5em; padding-left:5em;}
.restaurant#detail section.area-restaurant .txt table td span.time:before,
.restaurant#detail section.area-restaurant .txt table td span.price:before,
.restaurant#detail section.area-restaurant .txt table td span.parking:before{ position:relative top:0; left:0;}
.restaurant#detail section.area-restaurant .txt table td span.time:before{content:"【営業時間】"; }
.restaurant#detail section.area-restaurant .txt table td span.price:before{content:"【料　　金】";}
.restaurant#detail section.area-restaurant .txt table td span.parking:before{content:"【駐車場】";}

.restaurant#detail section.area-restaurant .txt .pickup .btn{ margin-bottom:5px;}
.restaurant#detail section.area-restaurant .txt .pickup .image{margin: 0 0 20px;}
.restaurant#detail section.area-restaurant .txt .pickup .image img {width:100%;}
.restaurant#detail section.area-restaurant .txt .pickup .text{line-height: 1.4;margin-bottom: 30px;}
.restaurant#detail section.area-restaurant .txt .pickup .box-hidden{display: none;padding:20px;}
.restaurant#detail section.area-restaurant .txt .pickup .box-pickup{background: #fafafa;margin-bottom:5px;}
.restaurant#detail section.area-restaurant .txt .pickup{margin-bottom:45px; margin-top: 30px;}

.restaurant#detail section.area-restaurant .txt .coupon .ticket{background:#f3f3f0; padding:15px; margin-bottom:25px;}
.restaurant#detail section.area-restaurant .txt .coupon .ticket image{float:right; margin-left:40px;}
.restaurant#detail section.area-restaurant .txt .coupon .ticket ._p{margin-bottom:20px;}
.restaurant#detail section.area-restaurant .txt .coupon .ticket p.image img{width:100%;}

.restaurant#detail section.area-restaurant .txt .coupon .btn{text-align:center; margin-top:30px;}
.restaurant#detail section.area-restaurant .txt .coupon ._btn-middle{height:40px!important; line-height:40px!important;}
.restaurant#detail section.area-restaurant .txt .coupon ._btn-middle:after{display:none;}
.restaurant#detail section.area-restaurant .txt .coupon .expiration{font-size:16px; font-weight:bold; margin:20px 0; padding:15px 0; border-top:#3a2f08 1px solid;  border-bottom:#3a2f08 1px solid; }
.restaurant#detail section.area-restaurant .txt .coupon .btn ._btn-middle{ background-image:none; padding:0; line-height:50px; height:50px;}


.restaurant#detail section.area-restaurant .txt .reserve{color:#877434; padding:10px 10px 0px 10px; box-sizing:border-box; border:3px #beaf7a solid; margin-bottom:20px; position:relative;}
.restaurant#detail section.area-restaurant .txt .reserve span.title{font-size:12px; display:block; margin-bottom:10px;}
.restaurant#detail section.area-restaurant .txt .reserve span.tel{display:block; font-size:38px; line-height:1; padding-left:37px; background:url(/c/resort/makuhari/assets/images/ja/resort_hotels/pc/restaurant/icon-reserve-tel.png) 0 50% no-repeat; position:relative; top:-3px;}
.restaurant#detail section.area-restaurant .txt .reserve-btn{text-align:right; margin-bottom:20px;}
.restaurant#detail section.area-restaurant .txt .back-btn{text-align:right;}

/*-----------------------------------------------------------------
予約ウィジェット
-----------------------------------------------------------------*/
.restaurant#detail #section-reserve{background: #f3f3f0;padding: 10px;margin-bottom: 25px;font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;font-weight: normal;letter-spacing: 0.045em;}
.restaurant#detail #section-reserve.la-veranda{}
.restaurant#detail #section-reserve .tile{}
.restaurant#detail #section-reserve .tile #tc-widget{width: 100%;}
.restaurant#detail #section-reserve .tile #tc-widget .tc-icon{margin-right: 5px;}
.restaurant#detail #section-reserve .tile #tc-widget select{/*width: 90px;*/}
.restaurant#detail #section-reserve .tile .tc-h1{display: none;}
.restaurant#detail #section-reserve .tile .tc-body{padding: 0px 0 0px 0;}
.restaurant#detail #section-reserve .tile .tc-body .tc-ppl{width: 45%;}
.restaurant#detail #section-reserve .tile .tc-body .tc-content{overflow: hidden;}
.restaurant#detail #section-reserve .tile #tc-widget input[type="text"] {width: 77%;float: left;}
.restaurant#detail #section-reserve .tile #tc-widget select{float: left;}
.restaurant#detail #section-reserve .tile .tc-body .tc-time{margin-left: 4%;}
.restaurant#detail #section-reserve .tile .tc-body .tc-time .tc-wrap-input #reservation_start_time{width: 77%;}
.restaurant#detail #section-reserve #tc-widget .tc-shop, #tc-widget .tc-date, #tc-widget .tc-time{margin-bottom: 15px;float: left;width: 48% !important;}
.restaurant#detail #section-reserve .tile .tc-body .tc-ppl{width: 100%;}
.restaurant#detail #section-reserve .tile .tc-body .tc-ppl .tc-wrap-input #reservation_num_people{width: 89%;}
.restaurant#detail #section-reserve .tile .tc-body .tc-wrap-book{padding: 0;}
.restaurant#detail #section-reserve .tile .tc-body .tc-wrap-book .tc-book{ background-color: #877434;font-size: 16px;border-radius: 0;border: none;font-weight: normal;font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;-webkit-transition: 0.2s ease-in-out;-moz-transition: 0.2s ease-in-out;-o-transition: 0.2s ease-in-out;transition: 0.2s ease-in-out;cursor: pointer;}
.restaurant#detail #section-reserve .tile .tc-body .tc-wrap-book .tc-book:hover{opacity: 0.8;}
.restaurant#detail #section-reserve .restaurant-book--text01{margin-bottom: 10px; font-size: 14px;}
.restaurant#detail #section-reserve .cf h4{font-size: 16px; margin-bottom: 20px;line-height: 1.2;}
.restaurant#detail #section-reserve .restaurant-book--text01 .fi-input{}
.restaurant#detail #section-reserve .indent-05{font-size: 12px;}


.restaurant#coupon{padding:15px; box-sizing:border-box; width:100%; display:block;}
.restaurant#coupon .container,
.restaurant#coupon main{margin:0; padding:0; box-sizing:border-box; width:100%;}
.restaurant#coupon h1{border-bottom:#3a2f08 1px solid; padding-bottom:20px; margin-bottom:0;}
.restaurant#coupon h2{margin:40px 0 20px 0;}
.restaurant#coupon p{margin-bottom:20px;}
.restaurant#coupon p.image img{width:100%;}
.restaurant#coupon .ticket{background:#f3f3f0; padding:30px 30px 20px 30px; margin-bottom:25px;}
.restaurant#coupon .expiration{font-size:16px; font-weight:bold; margin:20px 0; padding:15px 0; border-top:#3a2f08 1px solid;  border-bottom:#3a2f08 1px solid;}
.restaurant#coupon .btn{text-align:center; margin-top:30px;}
.restaurant#coupon .btn ._btn-middle{}
