@charset "UTF-8";

.spa#index .visual{margin-top:50px; width:100%; height:320px; background:url(/c/resort/makuhari/assets/images/ja/resort_hotels/spa/img-mainvisual-sp.jpg) 50% 50% no-repeat; background-size:cover !important; display:block;}

section#search{margin-bottom:20px;}

.spa#plan header{border-bottom:1px #bcb275 solid;}
.spa#index .area-title h1{margin:30px 0 0 0; padding-bottom:40px;}
.spa#plan .area-title h1{margin:75px 0 0 0; padding-bottom:40px;}

.spa#plan .box-hidden{display:none; padding:20px 0 0 0;}
.spa#plan .panel{display:block; margin-top:5px;}
.spa#plan .panels{margin-bottom:50px;}

.spa#index section.area-spa {border-top:#3a2f08 1px solid; padding-top:20px; margin-bottom:40px;}
.spa#index section.area-spa h2{margin-bottom:20px;}
.spa#index section.area-spa h3{margin-bottom:10px;}
.spa#index section.area-spa h2 + section.spa{margin-top:40px;}
.spa#index section.area-spa .txt{margin-top:20px; width:100%;}
.spa#index section.area-spa ._lead{margin-bottom:40px;}
.spa#index section.area-spa section.spa{margin-bottom:30px;}
.spa#index section.area-spa section.map .img{}
.spa#index section.area-spa section.map .img img{width:100%;}
.spa#index section.area-spa section.map .txt{float:right;}
.spa#index section.area-spa section.map .txt table{font-size:14px;}
.spa#index section.area-spa section.map .txt th{width:30%;}
.spa#index section.area-spa section.map .txt ul{list-style:disc; margin-left:20px;}
.spa#index section.area-spa section.map .txt .btn{text-align:right; margin-top:20px;}

.spa#plan #_tab ul.tabs{text-align:center; font-size:0;}
.spa#plan #_tab ul.tabs li{width:299px; margin-bottom:30px; float:none; display:inline-block;}
.spa#plan #_tab ul.tabs li:nth-last-childs(1){width:300px;}
.spa#plan .btn-spa{margin-top: 20px; text-align: center;}

.spa#plan .plan-visual{/* background:#f3f3F0; */ padding:15px; margin-bottom:40px; text-align:center; border:2px #2e3120 solid;}
.spa#plan .plan-visual h2{width:100%; text-align:center; font-size:20px; border-bottom:#3a2f08 2px solid; margin:0 auto 15px auto; padding-bottom:5px;}
.spa#plan .plan-visual h2 span{font-size:12px; display:block; margin-bottom:5px;}
.spa#plan .plan-visual p.plan{font-size:16px; display:block; text-align:center; margin-bottom:20px; vertical-align:top;}
.spa#plan .plan-visual p.plan span{width:70px; height:70px; line-height:70px; text-align:center; color:#fff; background:#3a2f08; border-radius:35px; display:inline-block; position:relative; margin-right:30px;}
.spa#plan .plan-visual p.plan span:after{content:""; background:url(/c/resort/makuhari/assets/images/ja/resort_hotels/spa/icon-plan.png) 0 50% no-repeat; display:block; width:14px; height:14px; position:absolute; top:28px; left:78px; background-size:14px 14px;}
.spa#plan .plan-visual p.plan span:nth-last-child(1){margin-right:0;}
.spa#plan .plan-visual p.plan span:nth-last-child(1):after{content:""; background:none; display:none;}
.spa#plan .plan-visual p.price{display:inline-block; margin-bottom:20px; text-align:left;}
.spa#plan .plan-visual p.price span.count{display:none;}
.spa#plan .plan-visual p.price span.price span{font-size:16px; text-align:center;}
.spa#plan .plan-visual p.price span.price{font-size:40px; display:inline-block; margin:0 auto; text-align:center;}
.spa#plan .plan-visual p.price span.note{font-size:12px!important; display:block; margin-top:10px; line-height:1.4;}
.spa#plan .plan-visual .image img{width:100%;}

.spa#plan h3 span{font-size:28px;}
.spa#plan ._table{font-size:14px; margin-bottom:20px;}
.spa#plan span.square:before{content:"■"; font-size:14px;}

.spa#plan .plan-room{border-top:#3a2f08 2px solid; padding-top:10px; margin-bottom:40px;}
.spa#plan .plan-room ._p{margin-bottom:20px;}
.spa#plan .plan-room .image{margin-bottom:20px;}
.spa#plan .plan-room .image img{width:100%;}
.spa#plan .plan-room h4{margin:20px 0 10px 0; font-weight:normal;}
.spa#plan .plan-room table th:nth-child(1){width:7em; text-align:center;}
.spa#plan .plan-room table th:nth-child(2){text-align:center;}

.spa#plan .plan-restaurant{border-top:#3a2f08 2px solid; padding-top:10px; margin-bottom:10px;}
.spa#plan .plan-restaurant ul{}
.spa#plan .plan-restaurant ul li{width:100%; height:auto; margin:0 0 30px 0;}
.spa#plan .plan-restaurant ul li .image img{width:100%;}
.spa#plan .plan-restaurant ul li .title{font-size:16px; line-height:1.4; margin-top:10px; display:block;}
.spa#plan .plan-restaurant ul li .lead{font-size:14px; line-height:1.6; margin-top:10px; display:block; }

.spa#plan .plan-option{border-top:#3a2f08 2px solid; padding-top:10px; margin-bottom:20px;}
.spa#plan .plan-option h3{margin-bottom:20px;}
.spa#plan .plan-option h4{margin-bottom:10px;}
.spa#plan .plan-option .first{}
.spa#plan .plan-option .second{}
.spa#plan .plan-option .first,
.spa#plan .plan-option .second{width:100%; padding-left:10px; margin-bottom:20px; border-left:6px #3a2f08 solid;}
.spa#plan .plan-option .first
.spa#plan .plan-option .second{}

.spa#plan .plan-cation{border-top:#3a2f08 2px solid; padding-top:10px; margin-bottom:20px;}
.spa#plan .plan-cation h3 {margin-bottom:20px; text-indent:-1em; padding-left:1em; line-height:1.2;}
.spa#plan .plan-cation ul{font-size:14px; line-height:1.6; list-style:disc; margin-bottom:30px;}
.spa#plan .plan-cation ul li{margin-left:20px;}