@charset "UTF-8";

.root#index .bx-viewport{margin:0; padding:0; box-shadow:none; border:none; left:0;}
.root#index .bx-wrapper{margin-bottom: 0px;}
.root#index .ul.bxslider.top{margin:0; padding:0;}
.root#index .visual{width:100%; height:370px; background-size:cover !important;background-position: center center !important;}
.root#index .wrap{margin-top:50px;}

/*
.root#index .slider-wrap{padding:0 15px; box-sizing:border-box;}
.root#index #slider .ul.bxslider-banner.top{margin:0; padding:0;}
.root#index #slider{border:#3b2f08 1px solid; padding:12px 0; width:100%; box-sizing:border-box; margin:0 0 40px 0;}
.root#index #slider .bx-wrapper .bx-prev {display:none; left:-15px; background: url(/c/resort/makuhari/assets/images/ja/resort_hotels/top/icon-slider-left.png) no-repeat 0 0; background-size:9px 17px;}
.root#index #slider .bx-wrapper .bx-next {display:none; right:-15px;background: url(/c/resort/makuhari/assets/images/ja/resort_hotels/top/icon-slider-right.png) no-repeat 0 0; background-size:9px 17px;}
.root#index #slider .bx-wrapper .bx-controls-direction a {margin-top: -9px; width:9px; height:17px;}
*/

.root#index .banner-wrap{width:100%; box-sizing:border-box; padding:0 15px;}
.root#index #top-banner ul{margin:0; padding:0; box-sizing:border-box; width:100%;}
.root#index #top-banner ul li{float:left; width:49%; margin:0 2% 10px 0; display:block;}
.root#index #top-banner ul li:nth-child(2n){margin-right:0;}
.root#index #top-banner ul li a,
.root#index #top-banner ul li img{width:100%;}
.root#index #top-banner{border:#3b2f08 1px solid; padding:10px 10px 0 10px; width:100%; box-sizing:border-box; margin:25px 0 40px 0;}

.root#index section#search{padding:20px 0; margin:50px 0 0 0;}
.root#index section#search .container{}
.root#index section#info .container,
.root#index section#news .container{padding:0 25px;}
.root#index section#news{padding:25px 0 25px 0;}
.root#index section#news dl{font-size:13px;}
.root#index section#news dl dt{width:100%; margin: 0 0 7px 0; padding:0;}
.root#index section#news dl dt span.date{width:50px; margin-right:5px; display:inline-block;}
.root#index section#news dl dt span._label{margin-left:30px;}
.root#index section#news dl dd{margin: 0 0 16px 0px; padding:0px 0 5px 0px; line-height:1.6;}
.root#index section#news dl dd a{text-decoration:underline;}
.root#index section#news .btn{text-align:right;}

.root#index section#info .container{background:#fff; padding:1px 10px 20px 10px; margin:0 15px;}
.root#index section#info ul{}
.root#index section#info ul li{position:relative; border-bottom:#3b2f08 1px solid; margin-top:20px; padding-bottom:20px;}
.root#index section#info ul li:nth-last-child(1){border-bottom:none; padding-bottom:0px;}
.root#index section#info ul li h4{margin-bottom:10px; font-size:16px; line-height:1.2;}
.root#index section#info ul li p.lead{font-size:13px; line-height:1.6; margin-bottom:20px;}
.root#index section#info ul li p.btn{}

.root#index section#pic{padding:25px 0;} 
.root#index section#pic ul li{margin:0 0 20px 0; font-size:16px; width:100%; line-height:1.6;}
.root#index section#pic ul li:nth-last-child(1){margin:0;}
.root#index section#pic ul li .img{margin-bottom:12px; display:block;}
.root#index section#pic ul li .img img{width:100%;}

.root#index section#event .container{padding:0 25px;}
.root#index section#event h3{margin-bottom:0px;}
.root#index section#event{padding:0px 0 0px 0;}
.root#index section#event .side{width: 90%;margin:0 auto;}
.root#index section#event .side .box-ta iframe{margin-bottom: 10px;text-align: center;border: 1px solid #589442;width: 100%;}
.root#index section#event .side .box-ta img{margin: 0 auto;}
.root#index section#event .side img{width: 100%;}
.root#index section#event .side .banner{margin-bottom: 10px;margin-top: 10px;}
.root#index section#event .side ._p{font-size: 12px;line-height: 1.2;}

.root#index section#event ul{width:100%; margin:0; padding:0; font-size:13px;}
.root#index section#event ul{width:100%; box-sizing:border-box; margin-bottom:40px;}
.root#index section#event ul li{width:100%; box-sizing:border-box; color:#333; display:table; margin:0; padding:15px 0 15px 0; border-bottom:1px #ddd solid;}
.root#index section#event ul li p.pic{width:30%; display:table-cell; padding:0 20px 0px 0; vertical-align:middle; margin:0;}
.root#index section#event ul li p.pic img{max-width:100%; max-height:90px; margin:0 auto;}
.root#index section#event ul li p.txt{width:70%; display:table-cell; vertical-align:top; padding-top:0px; position:relative; top:0px; text-align:left;}
.root#index section#event ul li span.date{display:block; margin-bottom:10px; font-size:12px;}
.root#index section#event ul li a{text-decoration:underline; line-height:1.4;}
.root#index section#event ul li span.lead{display:block; margin-top:10px; line-height:1.4;}
.root#index section#event ._asterix{margin:20px 0; font-size: 10px;}