.clearfix {
	min-height:1px
}

.clearfix:after {
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden
}


/*不要な項目を非表示*/
#footer-thankyou,#footer-upgrade,.update-nag,.editinline,#wp-admin-bar-updates,#wp-admin-bar-comments,.view-switch,.tablenav .hide-if-no-js,#sticky-span, #message a,#edit-slug-box{display: none !important;}

/*==========================================
	投稿画面 type = post
*/
#tagsdiv-post_tag{display: none;}
#visibility{display: none;}
#preview-action{display: none;}
#save-post{display: none;}
/*公開ボタン*/
#major-publishing-actions .box-preview h3{font-size: 14px;}
#major-publishing-actions .box-preview p {display: inline-block;margin-right: 10px;}

/*サムネイル*/
#misc-publishing-actions .misc-pub-post-status{display: none;}
.tab-btns li{padding: 6px 40px 0 !important; height: 40px !important;}
.tab-btns li.active{border: none !important;background: #fff !important;font-weight: bold;padding-top:8px !important;}

/*カスタムフィールドのボックス*/
#section-author,
#section-author inside{display: block !important;}
.inside2{clear: both;border-bottom: 1px dotted #CCC; padding: 0 0 10px 0;}
.inside2 textarea{height: 150px;}
.inside2 select{padding: 0 10px 0;}
.inside2 h2{font-size: 14px !important; font-weight: bold; line-height: 1.4 !important; margin: 10px 0 10px !important; padding: 0 !important;}
.inside2 h3{cursor: default !important; display: inline; border-bottom: none; margin: 0 10px 0 0; margin: 0 10px 0 0 !important; padding: 0 !important; font-weight: normal;}
.inside2.radio label{margin-right: 20px;}
.inside2.checkbox label{margin-right: 20px;}
.inside2 table{border: 1px solid #ccc;width: 100%;}
.inside2 table thead{cursor: pointer;}
.inside2 table h2{display: none;}
.inside2 table h3{font-size: 14px;}
.inside2 table tbody{background: #fff;}
.inside2 table tr{border-bottom: 1px solid #ccc;}
.inside2 table thead th{background: #f1f1f1;font-size: 14px;font-weight: bold;border:1px solid #eee;border-bottom: none;padding: 10px 10px 10px 15px;margin-bottom: 0px;cursor: pointer;border-bottom: 1px solid #fff;}
.inside2 table th{padding: 6px;background: #eee;text-align: left;border-bottom: 1px solid #eee;}
.inside2 table td{padding: 6px;}
.inside2 table td textarea{width: 100%;}

.box-sub_field{background: #f9f9f9;position: relative;}
.box-sub_field .wrapper-inside{padding-bottom: 20px;}
.box-sub_field .inside2{padding: 10px 10px 10px 20px;}
.box-sub_field_h{background: #f1f1f1;font-size: 14px;font-weight: bold;border:1px solid #eee;border-bottom: none;padding: 10px 10px 10px 15px;margin-bottom: 0px;cursor: pointer;}
.box-sub_field .add_group{margin-top: 20px;margin-left: 20px;}
.box-sub_field .delete_group{position: absolute;top:4px;right: 10px;}
.box-sub_field .hide{display: none;}

.inside2.table tr textarea{height:70px;}
.inside2.table tr.row td{border-bottom: 1px solid #eee;}
.inside2.table .delete_table_row.hide{display: none;}
.inside2.table tr.add td{padding-bottom: 30px;}

.upload_images .inside { padding-top:8px; padding-bottom:13px; }
.upload_images { display:block; margin:0; clear:both; list-style-type: none; }
.upload_images:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.upload_images li {margin:15px 10px 10px; padding:5px 0; text-align:left; float: left;}
.upload_images li span.box-image { display:inline-block; margin:0; height:auto; width:auto; padding:4px; position:relative; background:#eee; }
.upload_images li span img { margin:0; padding:0; max-height: 120px; width:auto; vertical-align:text-bottom; }
.upload_images li span input { display:none; }
.upload_images li span a.remove { position:absolute; top:-8px; right:-8px; height:32px; width:32px; text-align:center; vertical-align:middle; background:#ccc; border-radius:50%; }
.upload_images li span a.remove:before { content:'×'; display:inline-block; text-decoration:none; width:1em; margin-right:.2em; text-align:center; font-size:20px; line-height:20px; padding:6px; color:#fff; font-weight:bold; }
.upload_images li span a.remove:hover { background:#aaa; }
.btn-uploader{ padding:6px; height:32px; line-height:20px; font-weight:bold; text-align:center; background: #eee !important;}

/*メディア表示各種設定*/
div.attachment-display-settings { display: none; }
.attachment-details .setting[data-setting="description"]{display: none !important;}
.attachment-details .setting[data-setting="alt"]{display: none !important;}
.attachment-details .setting[data-setting="title"]{display: none !important;}
.attachment-details .setting[data-setting="caption"]{display: none !important;}
.media-types-required-info{display: none !important;}

/*ステータス*/
#taxonomy-sales_status #sales_status-tabs{display: none;}
#taxonomy-sales_status #sales_status-all{background: none; border: none;}
#taxonomy-sales_status #sales_status-all li{display: inline; margin: 0 20px 0 0;}
#taxonomy-sales_status #sales_status-adder{display: none;}
#taxonomy-sales_status .text{display: none;}

/*バリデーションエラー*/
.error{background: #FFF0F0;	color: #F00;	padding: 3px;}
#category-add-toggle{display: none;}
#brand-add-toggle{display: none;}

/*タブ*/
.tab-wrapper{display: none;}
.tab-wrapper.show{display: block;}
.tab-wrapper .hide-if-js{display: block !important;};
.tab-wrapper .inside{display: block !important;};