@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);
BODY { background: #fff; font-style: normal; font-weight: normal; text-align: center; text-indent: 0pt; letter-spacing: 0em; color: #333; font-size: 100%; line-height: 1.4; margin: 0; padding: 0; font-family: "Noto Sans CJK JP", sans-serif; font-weight: 500; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-feature-settings: "palt"; }

a { outline: none; }

a:link { color: #333; text-decoration: none; }

a:visited { color: #333; }

a:hover { color: #C7A956; text-decoration: none; }

a:active { color: #333; text-decoration: none; }

header { background-color: #000; }
header .contentsbase { position: relative; height: 110px; }
header #logo { width: 297px; height: 67px; background: url(../images/common/logo.png) 0 0 no-repeat; text-indent: -9999px; position: absolute; top: 25px; left: 0; }
header #header-linkbox { width: calc(100% - 297px); position: absolute; top: 17px; right: 0; text-align: right; }
header #header-linkbox li { display: inline-block; margin-left: 10px; }
header #header-linkbox li a { border-radius: 5px; padding: 10px; font-size: 0.8em; }
header #header-linkbox li:nth-child(1) a { background-color: #947F28; }
header #header-linkbox li:nth-child(2) a { background-color: #C7A956; }
header #header-linkbox li:nth-child(3) a { background-color: #2B4564; }
header #header-linkbox a:link { color: #fff; text-decoration: none; }
header #header-linkbox a:visited { color: #fff; }
header #header-linkbox a:hover { color: #fff; text-decoration: none; }
header #header-linkbox a:active { color: #fff; text-decoration: none; }


header #header-linkbox .box-logo{clear: both;position: relative;top: -6px;}
header #header-linkbox .box-logo p{font-size: 0.8em;float: left;color: #fff;position: relative;left: 216px;top: 10px;}
header #header-linkbox .box-logo a{display: inline-block; width: 37%;}
header #header-linkbox .box-logo .logo-apahotel{background: url(../images/common/header-hotel_resorts_pc.png) center 0 no-repeat;background-size: contain;text-indent: -9999px;width: 100%;margin: 0 auto;min-height: 40px;min-width: 70%;display: inline-block;}
header #header-linkbox .box-logo .logo-apahotel span{display: none;}


.navToggle { display: none; }

nav.globalMenuSp { display: none; }

.contentsbase { min-width: 1000px; width: 1000px; margin: 0 auto; }
@media (max-width:576px) {
  .contextbtnbox li { display: inline-block; width: 100% !important; margin: 20px; }
}

@media (min-width:576px) and (max-width: 767.98px) {
  .contextbtnbox li { display: inline-block; width: 100% !important; margin: 20px; }
}
.contextbtnbox {margin: 40px 0 20px 0;display:  flex;}
.contextbtnbox ul { margin-top: 40px; }
.contextbtnbox li { display: inline-block; width: 50% !important; margin: 0 20px; }
.contextbtnbox li a { border-radius: 5px; padding: 10px; font-size: 1.3em; display: block; }
.contextbtnbox li.contact-a a { background-color: #947F28; }
.contextbtnbox li.contact-b a { background-color: #C7A956; }
.contextbtnbox li.contact-c a { background-color: #2B4564; }
.contextbtnbox li a:link { color: #fff; text-decoration: none; }
.contextbtnbox li a:visited { color: #fff; }
.contextbtnbox li a:hover { color: #fff; text-decoration: none; opacity: 0.5; }
.contextbtnbox li a:active { color: #fff; text-decoration: none; }

.shadowbox { box-shadow: 0px 0px 5px 1px #ededed; padding: 30px; background-color: #fff; border-radius: 5px; }

.h2box { height: 5em; background: url(../images/common/logo2.png) 0 0 no-repeat; margin-bottom: 40px; }
.h2box h2 { color: #573200; font-size: 1.8em; font-weight: bold; }

h3 { background: url(../images/common/h3bg.png) 0 0 no-repeat; color: #947F28; font-size: 1.4em; text-align: center; font-weight: bold; margin-bottom: 20px; }

.contentsbase--photobox img { width: 100%; }

.contentsbase--subinner { margin-bottom: 40px; }
.contentsbase--subinner p { text-align: left; }

.contentsbase--row:after { content: "."; display: block; clear: both; height: 0; overflow: hidden; font-size: 0.1em; line-height: 0; }

.contentsbase--row { display: inline-block; }

* html .contentsbase--row { height: 1%; }

.contentsbase--row { display: block; }

.contentsbase--tablerow { display: table; width: 100%; }

.contentsbase--halfbox { width: 48.5%; }
.contentsbase--halfbox:first-child { float: left; }
.contentsbase--halfbox:last-child { float: right; }

.forvideobtn { text-align: center; margin: 20px 0 40px 0; }
.forvideobtn a { background: url(../images/common/logo3.png), -webkit-gradient(linear, left top, left bottom, color-stop(1, #B24500), color-stop(0.48, #B24500), color-stop(0.42, #C74D00), color-stop(0, #C74D00)); background: url(../images/common/logo3.png), -webkit-linear-gradient(top, #C74D00 0%, #C74D00 42%, #B24500 48%, #B24500 100%); background: url(../images/common/logo3.png), -moz-linear-gradient(top, #C74D00 0%, #C74D00 42%, #B24500 48%, #B24500 100%); background: url(../images/common/logo3.png), -o-linear-gradient(top, #C74D00 0%, #C74D00 42%, #B24500 48%, #B24500 100%); background: url(../images/common/logo3.png), -ms-linear-gradient(top, #C74D00 0%, #C74D00 42%, #B24500 48%, #B24500 100%); background: url(../images/common/logo3.png), linear-gradient(to bottom, #C74D00 0%, #C74D00 42%, #B24500 48%, #B24500 100%); background-position: left center; background-repeat: no-repeat; border-radius: 5px; text-align: center; width: 732px; height: 64px; margin: 0 auto; display: table; }
.forvideobtn a span { display: table-cell; vertical-align: middle; font-size: 1.4em; }
.forvideobtn a:link { color: #fff; text-decoration: none; }
.forvideobtn a:visited { color: #fff; }
.forvideobtn a:hover { color: #fff; text-decoration: none; }
.forvideobtn a:active { color: #fff; text-decoration: none; }

.gmaenu ul { margin-top: 45px; }
.gmaenu li { display: inline-block; vertical-align: top; margin: 0 5px; }
.gmaenu li:first-child { margin-left: 0; }
.gmaenu li:last-child { margin-right: 0; }
.gmaenu li.gmaenu-a { background: url(../images/common/gmaenu-a2.png) 0 0 no-repeat; }
.gmaenu li.gmaenu-b { background: url(../images/common/gmaenu-b2.png) 0 0 no-repeat; }
.gmaenu li.gmaenu-c { background: url(../images/common/gmaenu-c2.png) 0 0 no-repeat; }
.gmaenu li.gmaenu-d { background: url(../images/common/gmaenu-d2.png) 0 0 no-repeat; }
.gmaenu li a { display: table; width: 230px; height: 150px; background: rgba(255, 255, 255, 0); }
.gmaenu li a span { display: table-cell; vertical-align: middle; font-size: 1.3em; line-height: 1; font-weight: bold; }
.gmaenu li a:link { color: #fff; text-decoration: none; }
.gmaenu li a:visited { color: #fff; }
.gmaenu li a:hover { color: #fff; text-decoration: none; background: rgba(255, 255, 255, 0.3); }
.gmaenu li a:active { color: #fff; text-decoration: none; }

#bottombox-yellow { min-width: 1000px; background: #F3EDDC; margin-top: 40px; }
#bottombox-yellow .contentsbase { padding: 2px 0 85px 0; }

#bottombox-black { min-width: 1000px; background: #000; color: #fff; }
#bottombox-black .contentsbase { padding: 40px 0 40px 0; }
#bottombox-black .contentsbase p { text-align: left; margin-bottom: 10px; }

footer { min-width: 1000px; background: #000; color: #fff; }
footer .contentsbase { padding: 20px 0 40px 0; text-align: center;-moz-osx-font-smoothing: auto;font-feature-settings: "normal";letter-spacing: 0.1em;}
footer .contentsbase ul{margin-bottom:10px;}
footer .contentsbase li { display: inline-block; font-size: 11px; }
footer .contentsbase li a { padding: 0 15px; border-right: 1px #fff solid;transition: all 0.3s ease; }
footer .contentsbase li a:link { color: #fff; text-decoration: none; }
footer .contentsbase li a:visited { color: #fff; }
footer .contentsbase li a:hover { color: #C7A956; text-decoration: none; }
footer .contentsbase li a:active { color: #fff; text-decoration: none; }
footer .contentsbase li:last-child a { border-right: none; }
footer .contentsbase .copyright { margin: 20px 0 0 0; text-align: center; font-size: 11px; }

#pageTop { position: fixed; bottom: 20px; right: 20px; }
#pageTop a { display: block; z-index: 999; padding: 5px 0 0 0; width: 50px; height: 40px; background-color: #947F28; opacity: 0.5; color: #fff; font-weight: bold; text-decoration: none; text-align: center; }
#pageTop a:hover { text-decoration: none; opacity: 0.7; }

.youtubebox { position: relative; width: 100%; height: 0; padding-top: 56.25%; display: block; }

.youtubebox iframe { position: absolute; top: 0; right: 0; width: 100%; height: 100%; }

/*---- ここまで共通 ----*/
#slidbox ul { text-align: center; margin: 0 0 5px 0; width: 100%; }

#slidbox ul li.slide { width: 100%; text-align: center; padding: 20px 60px; margin: 0 0; color: #fff; }

#slidbox ul li.slide span { text-align: center; font-size: 30px; font-size: 3.0rem; min-height: 200px; line-height: 200px; font-weight: bold; }

#index .contentsbase.shadowbox { margin-bottom: 40px; }
#index #slidbox { width: 100%; /*左右の矢印の色を変える*/ /*左右の矢印の位置を変える*/ /*スライド数のドットの色を変える*/ }
#index #slidbox .flickity-page-dots { display: none; }
#index #slidbox .slider li { height: 630px; display: table; }
#index #slidbox .slider li a { display: table-cell; vertical-align: middle;text-shadow:2px -1px 3px #222222; }
#index #slidbox .slider li a:link { color: #fff; text-decoration: none; }
#index #slidbox .slider li a:visited { color: #fff; }
#index #slidbox .slider li a:hover { color: #fff; text-decoration: none; }
#index #slidbox .slider li a:active { color: #fff; text-decoration: none; }
#index #slidbox .slider li.index { background: url(../images/top/slide01.jpg) center center no-repeat; background-size: cover; }
#index #slidbox .slider li.interview { background: url(../images/top/slide02.jpg) center center no-repeat; background-size: cover; }
#index #slidbox .slider li.report { background: url(../images/top/slide03.jpg) center center no-repeat; background-size: cover; }
#index #slidbox .slider li.flow { background: url(../images/top/slide04.jpg) center center no-repeat; background-size: cover; }
#index #slidbox .slider li p { position: absolute; top: 0; bottom: 0; text-align: center; color: #fff; }
#index #slidbox .slick-prev:before, #index #slidbox .slick-next:before { color: #000; }
#index #slidbox .slick-next { right: 20px; z-index: 99; }
#index #slidbox .slick-prev { left: 15px; z-index: 100; }
#index #slidbox .slick-dots { display: none; }
#index #slidbox img { max-width: 100%; height: auto; }
#index .mainreadbox { text-align: center; padding: 50px; }
#index #content-a { background: #F3EDDC url(../images/top/contenta_bg.png) top left no-repeat; padding: 100px 0 0 0; box-shadow: 0px 5px 6px -3px #DDD7C7 inset; }
#index #content-a #content-a--inner { padding: 0 0 85px; box-shadow: 0px -5px 6px -3px #DDD7C7 inset; }
#index #content-a #content-a--inner h1 { color: #573200; font-size: 2.5em; line-height: 1; }
#index #content-a #content-a--inner p { color: #573200; font-size: 1.6em; }
#index #content-b { padding: 80px 0 0 0; }
#index #content-b .mainmovie { max-width: 930px; width: 100%; margin: 0 auto; }
#index #content-b .mainmovie .youtubebox iframe { width: 100%; height: 523px; }
#index #content-b .mainmovie p { max-width: 930px; font-size: 1.4em; margin: 20px auto; padding: 0 20px; }
#index #content-b #content-b-a dl { text-align: left; }
#index #content-b #content-b-a dt { font-weight: bold; width: 5em; float: left; }
#index #content-b #content-b-a dd { padding-left: 6em; margin-bottom: 14px; }
#index #content-b #content-b-a .contentsbase--photobox-a { width: 100%; float: left;margin-bottom: 2rem; }
#index #content-b #content-b-a .contentsbase--photobox-b { width: 295px; float: right; }
#index #content-b #content-b-a .contentsbase--photobox-b img { margin-bottom: 10px; }
#index #content-b #content-b-a .readtext { font-size: 1.6em; padding: 0 20px; }
#index #content-b-b .content-b-b-b-a { width: calc(100% - 300px); float: left; }
#index #content-b-b .content-b-b-b-b { width: 258px; float: right; }
#index #content-b-b .numberlist dl { width: 100%; }
#index #content-b-b .numberlist dt { width: 30px; float: left; }
#index #content-b-b .numberlist dt .circlebox { height: 45px; width: 45px; border-radius: 50%; line-height: 45px; font-size: 1.2em; text-align: center; background-color: #2B4564; color: #fff; }
#index #content-b-b .numberlist dd { text-align: left; font-size: 1.6em; font-weight: bold; margin-left: 60px; margin-bottom: 15px; padding-bottom: 15px; background: url(../images/common/dotted.gif) bottom center repeat-x; }
#index #content-b-b .content-b-b-c .borderbox { border: 1px #947F28 solid; margin-bottom: 15px; }
#index #content-b-b .content-b-b-c .borderbox h4 { color: #947F28; border-bottom: 1px #947F28 solid; font-size: 1.3em; }
#index #content-b-b .content-b-b-c .borderbox .content-b-b-c--text { display: table-cell; vertical-align: top; }
#index #content-b-b .content-b-b-c .borderbox .content-b-b-c--text p { text-align: left; padding: 5px 10px 5px 10px; font-size: 0.9em; line-height: 1.8; }
#index #content-b-b .content-b-b-c .borderbox .content-b-b-c--img { width: 165px; display: table-cell; vertical-align: top; }
#index #content-b-b .content-b-b-c .borderbox .content-b-b-c--img.sp_block { display: none; }
#index #content-b-b .content-b-b-c .readtext2 { font-size: 2em; font-weight: bold; margin-top: 20px;text-align:center; }
/*------コンテンツ共通---------*/
#kvbox { width: 100%; height: 300px; display: table; }
#kvbox p { font-size: 3em; font-weight: bold; color: #fff; display: table-cell; vertical-align: middle;text-shadow:2px -1px 3px #222222; }

#pageinnernav { padding: 85px 0 30px 0; }
#pageinnernav li { display: inline-block; }
#pageinnernav li a { font-size: 0.8em; border-right: 1px #ccc solid; padding: 0 10px; }
#pageinnernav li:last-child a { border-right: none; }

/*------インタビュー---------*/
#interview .contentsbase.shadowbox { margin-bottom: 40px; }
#interview #kvbox { background: url(../images/interview/interview.jpg) center center no-repeat; background-size: cover; }
#interview .interview-main-photobox { margin-bottom: 20px; }
#interview .interview-main-photobox img { width: 100%; }
#interview h2.interview--title { text-align: left; font-size: 1.2em; font-weight: normal; color: #C7A956; margin-bottom: 20px; }
#interview h3 { background-color: #F3F8FF; background-image: none; text-align: left; }
#interview h3 span { border-left: 5px #2B4564 solid; padding-left: 10px; font-size: 0.8em; text-align: left; font-weight: normal; color: #2B4564; }
#interview .interview-content--text { width: calc(100% - 420px); float: left; }
#interview .interview-content--text p { text-align: left; }
#interview .interview-content--text img { width: 100%; margin-bottom: 10px; }
#interview .interview-content--img { width: 400px; float: right; }
#interview .interview-content--img img { width: 100%; margin-bottom: 10px; }
#interview .interview-content--img p.caption { text-align: right; font-size: 0.8em; }

/*------流れ---------*/
#flow .contentsbase.shadowbox { margin-bottom: 40px; }
#flow #kvbox { background: url(../images/flow/flow.jpg) center center no-repeat; background-size: cover; }
#flow #flow-content-a .typebox { margin-bottom: 40px; }
#flow #flow-content-a .typebox .typename { font-size: 2em; color: #fff; font-weight: bold; border-radius: 40px; padding: 10px 40px; }
#flow #flow-content-a .typebox ul { margin-top: 20px; }
#flow #flow-content-a .typebox ul li { text-align: left; font-weight: bold; font-size: 1.1em; }
#flow #flow-content-a .type-a { padding: 20px; background-color: #F3F8FF; }
#flow #flow-content-a .type-a .typename { background-color: #CBE0FF; color: #1E86FF; }
#flow #flow-content-a .type-b { padding: 20px; background-color: #DFF5CE; }
#flow #flow-content-a .type-b .typename { background-color: #C1E8A2; color: #388400; }
#flow #flow-content-a table { width: 100%; border: 1px #707070 solid; }
#flow #flow-content-a table th { border: 1px #CCCCCC solid; padding: 10px; text-align: left; background-color: #EEEEEE; }
#flow #flow-content-a table td { border: 1px #CCCCCC solid; padding: 10px; text-align: left; }
#flow #flow-content-a table td .pricebox { font-size: 1.4em; margin-bottom: 20px; }
#flow #flow-content-a table thead td.type-a { background-color: #CBE0FF; text-align: center; font-size: 1.2em; font-weight: bold; width: 20em; }
#flow #flow-content-a table thead td.type-b { background-color: #C1E8A2; text-align: center; font-size: 1.2em; font-weight: bold; width: 20em; }
#flow #flow-content-b .borderbox { border: 1px #947F28 solid; margin-bottom: 15px; }
#flow #flow-content-b .borderbox h4 { color: #947F28; border-bottom: 1px #947F28 solid; font-size: 1.3em; }
#flow #flow-content-b .borderbox .flow-content-b--text { display: table-cell; vertical-align: top; }
#flow #flow-content-b .borderbox .flow-content-b--text p { text-align: left; padding: 5px 10px 5px 10px; font-size: 0.9em; line-height: 1.7; }
#flow #flow-content-b .borderbox .flow-content-b--img { width: 165px; display: table-cell; vertical-align: top; }
#flow #flow-content-b .borderbox .flow-content-b--img img { width: 100%; }
#flow #flow-content-b .borderbox .flow-content-b--img.sp_block { display: none; }
#flow .flow-content-c .flow-content-c-l img { height: 310px; }
#flow .flow-content-c li { display: inline-block; width: 48%; margin-bottom: 10px; }
#flow .flow-content-c li img { width: 100%; }
#flow .flow-content-c li:nth-child(odd) { margin-right: 5px; }
#flow .flow-content-c li:nth-child(even) { margin-left: 5px; }
#flow .flow-content-c p { text-align: left; }

/*------流れ---------*/
#report .contentsbase.shadowbox { margin-bottom: 40px; }
#report #kvbox { background: url(../images/report/report.jpg) center center no-repeat; background-size: cover; }
#report .report-content-a-basebox { margin-left: 15px; margin-bottom: 40px; padding-bottom: 40px; border-bottom: 1px #ccc solid; }
#report .report-content-a--content { display: table-cell; vertical-align: top; }
#report .report-content-a--graph { width: 304px; display: table-cell; vertical-align: top; }
#report .report-content-a--graph img { width: 100%; }
#report .report-content-a--text { display: table-cell; vertical-align: top; text-align: left; }
#report .report-content-a--text p { margin-bottom: 10px; }
#report .report-content-a--text ul { margin-left: 20px; }
#report .report-content-a--photo { width: 306px; display: table-cell; vertical-align: top; }
#report .report-content-a--photo img { width: 100%; }
#report .report-content-a--casebox { margin-bottom: 20px; }
#report .report-content-a--content--text { margin-bottom: 40px; text-align: left; }
#report .report-content-a--content--text h4 { border-left: 5px #947F28 solid; color: #947F28; font-size: 1.2em; line-height: 1; padding-left: 10px; margin-bottom: 20px; }
#report .report-content-a--content--text h4 a:link { color: #947F28; text-decoration: underline; }
#report .report-content-a--content--text h4 a:visited { color: #947F28; }
#report .report-content-a--content--text h4 a:hover { color: #947F28; text-decoration: underline; }
#report .report-content-a--content--text h4 a:active { color: #947F28; text-decoration: underline; }
#report #report-content-b .report-content-b--newslistbox { width: 100%; display: table; text-align: left; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px #ccc solid; }
#report #report-content-b .report-content-b--newslistbox:last-child { border-bottom: none; }
#report #report-content-b .report-content-b--newslist li{text-align:left;margin-bottom:10px;}
#report #report-content-b .report-content-b--newslist .newslist--icon { width: 3em; display: table-cell; color: #C74D00; }
#report #report-content-b .more a:link { color: #C74D00; text-decoration: none; }
#report #report-content-b .more a:visited { color: #C74D00; }
#report #report-content-b .more a:hover { color: #C74D00; text-decoration: none; }
#report #report-content-b .more a:active { color: #C74D00; text-decoration: none; }
#report #report-content-b .more a i { font-size: 1.4em; margin-left: 10px; }
#report #report-content-c .contentsbase--subinner p{	margin-bottom:20px;}
@media screen and (-webkit-min-device-pixel-ratio: 0) { #flow #flow-content-b .borderbox .flow-content-b--text p { line-height: 1.6; font-size: 0.8em; } }
@media all and (-ms-high-contrast: none) { #flow #flow-content-b .borderbox .flow-content-b--text p { line-height: 1.6; font-size: 0.8em; } }
/* -------------------------------sp--------------------------------------------- */
@media screen and (max-width: 740px) { nav.globalMenuSp { display: block; position: fixed; z-index: 9999; top: 100px; left: 0; background: #fff; color: #333; text-align: center; transform: translateY(-140%); transition: all 0.6s; width: 100%; }
  nav.globalMenuSp.active { transform: translateY(0%); }
  nav.globalMenuSp p { padding: 10px 0; color: #573200; background-color: #fff; }
  nav.globalMenuSp ul { background: #ededed; margin: 0 auto; padding: 0; width: 100%; }
  nav.globalMenuSp ul li { font-size: 1em; list-style-type: none; width: 100%; text-align: left; border-bottom: 1px #cbcbcb solid; }
  nav.globalMenuSp ul li a { display: block; color: #333; padding: 0.7em; }
  nav.globalMenuSp .box-logo p{font-size: 0.8em;}
  nav.globalMenuSp .box-logo a{display: inline-block; width: 50%;}
  nav.globalMenuSp .box-logo .logo-apahotel{background: url(../images/common/header-hotel_resorts_sp.png) center 0 no-repeat;background-size: contain;text-indent: -9999px;width: 100%;margin: 0 auto;min-height: 40px;min-width: 70%;display: inline-block;}
  header { position: relative; }
  header #logo { width: 70%; background-size: contain; top: 23px; }
  .navToggle { display: block; position: absolute; right: -10px; top: 25px; width: 42px; height: 42px; cursor: pointer; z-index: 3; background: #000; text-align: center; }
  .navToggle span { display: block; position: absolute; width: 30px; border-bottom: solid 3px #947F28; -webkit-transition: .35s ease-in-out; -moz-transition: .35s ease-in-out; transition: .35s ease-in-out; left: 6px; }
  .navToggle span:nth-child(1) { top: 9px; }
  .navToggle span:nth-child(2) { top: 18px; }
  .navToggle span:nth-child(3) { top: 27px; }
  /* 最初のspanをマイナス45度に */
  .navToggle.active span:nth-child(1) { top: 18px; left: 6px; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg); }
  /* 2番目と3番目のspanを45度に */
  .navToggle.active span:nth-child(2), .navToggle.active span:nth-child(3) { top: 18px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); transform: rotate(45deg); }
  .contentsbase { min-width: 90%; width: 90%; margin: 0 auto; }
  #bottombox-yellow, #bottombox-black, footer { min-width: 90%; }
  #bottombox-black .contentsbase { padding-bottom: 0; }
  header #header-linkbox { display: none; }
  footer .footerlink { display: none; }
  #bottombox-black .youtubebox { margin-bottom: 10px; }
  .contextbtnbox { width: 100%; margin: 40px auto;display: block; }
  .contextbtnbox li { width: 100%; margin: 0 0 10px 0; }
  .contextbtnbox li a { font-size: 1em; }
  .contentsbase--halfbox { width: 100%; float: none; }
  .forvideobtn a { width: 100%; line-height: 1; }
  .forvideobtn a span { font-size: 1.2em; }
  .gmaenu li { display: inline-block; width: 45%; margin-bottom: 10px; }
  .gmaenu li a { height: 110px; font-size: 0.8em; }
  .gmaenu li.gmaenu-a, .gmaenu li.gmaenu-b, .gmaenu li.gmaenu-c, .gmaenu li.gmaenu-d { background-size: cover; }
  .gmaenu li:nth-child(odd) { margin-left: 0px; margin-right: 5px; }
  .gmaenu li:nth-child(even) { margin-left: 5px; margin-right: 0; }
  .gmaenu li a { width: 100%; }
  .h2box { background: url(../images/common/logo2.png) top center no-repeat; padding-top: 100px; height: auto; }
  .h2box h2 { font-size: 1.4em; }
  .shadowbox { padding: 15px; }
  .contentsbase--tablerow { display: block; }
  #pageinnernav { display: none; }
  #kvbox { margin-bottom: 20px; }
  #kvbox p { padding: 0 20px; }
  #index #slidbox .slider li { height: 425px; }
  #index #slidbox .slider li.slide span { line-height: 1; font-size: 2em; }
  #index .mainreadbox { width: 90%; margin: 0 auto; padding: 0; }
  #index .mainreadbox .sp_block { margin: 20px 0; }
  #index .mainreadbox .sp_block img { width: 100%; }
  #index #content-a { padding-top: 20px; }
  #index #content-a #content-a--inner h1 { font-size: 2.5em; line-height: 1.6; letter-spacing: -0.5px; }
  #index #content-a #content-a--inner p { font-size: 1.2em; }
  #index #content-b #content-b-a .contentsbase--photobox-a, #index #content-b #content-b-a .contentsbase--photobox-b { width: 100%; float: none; }
  #index #content-b #content-b-a .readtext { font-size: 1.2em; }
  #index #content-b #content-b-a .contentsbase--photobox img { margin-bottom: 10px; }
  #index #content-b #content-b-b .content-b-b-b-a, #index #content-b #content-b-b .content-b-b-b-b { width: 100%; float: none; }
  #index #content-b #content-b-b .youtubebox { margin-bottom: 10px; }
  #index #content-b #content-b-b .numberlist dt { width: 40px; line-height: 40px; }
  #index #content-b #content-b-b .numberlist dt .circlebox { height: 40px; width: 40px; }
  #index #content-b #content-b-b dd { padding-top: 10px; font-size: 1em; margin-left: 50px; }
  #index #content-b .content-b-b-b-b img { width: 100%; }
  #index #content-b .content-b-b-c .borderbox .content-b-b-c--text, #index #content-b .content-b-b-c .borderbox .content-b-b-c--img { width: 100%; display: block; }
  #index #content-b .content-b-b-c .borderbox .content-b-b-c--img { padding: 10px; }
  #index #content-b .content-b-b-c .borderbox .content-b-b-c--img img { width: 100%; }
  #index .youtubebox p { padding: 0; font-size: 1.2em; }
  #interview, #flow, #report { background-color: #EEEEEE; }
  #interview .interview-content--text, #interview .interview-content--img { width: 100%; float: none; }
  #interview .interview-content--text p { margin-bottom: 20px; line-height: 1.8em; }
  #flow #flow-content-a table thead td.type-a, #flow #flow-content-a table thead td.type-b { width: 35%; }
  #flow #flow-content-a table td .pricebox { font-size: 1.2em; }
  #flow #flow-content-a .type-a { margin-bottom: 10px; }
  #flow #flow-content-b .borderbox .flow-content-b--text, #flow #flow-content-b .borderbox .flow-content-b--img { width: 100%; display: block; }
  #flow #flow-content-b .borderbox .flow-content-b--img { padding: 10px; }
  #flow #flow-content-b .borderbox .flow-content-b--img img { width: 100%; }
  #report .report-content-a--content, #report .report-content-a--graph, #report .report-content-a--text, #report .report-content-a--photo { width: 100%; display: block; margin-bottom: 20px; }
  #report .report-content-a-basebox { margin-left: 0px; }
  #report #report-content-b .report-content-b--newslistbox .newslist--title dl { width: 100%; display: block; }
  #report #report-content-b .report-content-b--newslistbox .newslist--title dl dt, #report #report-content-b .report-content-b--newslistbox .newslist--title dl dd { width: 100%; display: block; }
  #report #report-content-b .report-content-b--newslistbox .newslist--title dl dd { text-align: left; margin-top: 10px; } }
