@font-face {
  font-family: 'apaicon';
  src:  url('../fonts/apaicon.eot?jc5kz3');
  src:  url('../fonts/apaicon.eot?jc5kz3#iefix') format('embedded-opentype'),
    url('../fonts/apaicon.ttf?jc5kz3') format('truetype'),
    url('../fonts/apaicon.woff?jc5kz3') format('woff'),
    url('../fonts/apaicon.svg?jc5kz3#apaicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="apaicon-"], [class*=" apaicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'apaicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.apaicon-airport_transportation:before {
  content: "\e926";
}
.apaicon-apa_card:before {
  content: "\e927";
}
.apaicon-apple_town_monthly:before {
  content: "\e928";
}
.apaicon-copy_fax_service:before {
  content: "\e929";
}
.apaicon-eco-friendly_showers:before {
  content: "\e92a";
}
.apaicon-humidifier:before {
  content: "\e92b";
}
.apaicon-massage_service:before {
  content: "\e92c";
}
.apaicon-single-unit_bathroom:before {
  content: "\e92d";
}
.apaicon-trouser_press_rental:before {
  content: "\e92e";
}
.apaicon-d_mesh_pillow:before {
  content: "\e92f";
}
.apaicon-aed_ready:before {
  content: "\e930";
}
.apaicon-aed:before {
  content: "\e931";
}
.apaicon-air_purifier:before {
  content: "\e932";
}
.apaicon-apa_channel:before {
  content: "\e933";
}
.apaicon-apa_eco_make:before {
  content: "\e934";
}
.apaicon-apa_room_theater:before {
  content: "\e935";
}
.apaicon-apa_story:before {
  content: "\e936";
}
.apaicon-apple_town:before {
  content: "\e937";
}
.apaicon-aroma_diffuser:before {
  content: "\e938";
}
.apaicon-baggage_rack:before {
  content: "\e939";
}
.apaicon-banquet_rooms:before {
  content: "\e93a";
}
.apaicon-bbc_news:before {
  content: "\e93b";
}
.apaicon-bed-sharing_infant_free:before {
  content: "\e93c";
}
.apaicon-beside_outlets:before {
  content: "\e93d";
}
.apaicon-besides_room_controls:before {
  content: "\e93e";
}
.apaicon-blanket_rental:before {
  content: "\e93f";
}
.apaicon-body_sponge:before {
  content: "\e940";
}
.apaicon-breakfast:before {
  content: "\e941";
}
.apaicon-check-out_extension:before {
  content: "\e942";
}
.apaicon-classification_garbage:before {
  content: "\e943";
}
.apaicon-cloud_fit_bed:before {
  content: "\e944";
}
.apaicon-clound_fit_bed_premium:before {
  content: "\e945";
}
.apaicon-coin_laundry:before {
  content: "\e946";
}
.apaicon-cotton_swab:before {
  content: "\e947";
}
.apaicon-different_color_towels:before {
  content: "\e948";
}
.apaicon-digital_signage:before {
  content: "\e949";
}
.apaicon-disposable_sleepers:before {
  content: "\e94a";
}
.apaicon-dryer:before {
  content: "\e94b";
}
.apaicon-early_check-in:before {
  content: "\e94c";
}
.apaicon-easy_check-out:before {
  content: "\e94d";
}
.apaicon-eco-friendly_electricity:before {
  content: "\e94e";
}
.apaicon-feather_pillow_rental:before {
  content: "\e94f";
}
.apaicon-folded-paper_crane:before {
  content: "\e950";
}
.apaicon-free_lan_cable_access_available:before {
  content: "\e951";
}
.apaicon-guidance:before {
  content: "\e952";
}
.apaicon-hair_tie:before {
  content: "\e953";
}
.apaicon-hairbrush:before {
  content: "\e954";
}
.apaicon-hanger:before {
  content: "\e955";
}
.apaicon-heated_bidet-equipped_toilet:before {
  content: "\e956";
}
.apaicon-high-quality_duvet:before {
  content: "\e957";
}
.apaicon-ice_machine:before {
  content: "\e958";
}
.apaicon-international_news_channel:before {
  content: "\e959";
}
.apaicon-laptop_rental:before {
  content: "\e95a";
}
.apaicon-late_check-out:before {
  content: "\e95b";
}
.apaicon-laundry_service:before {
  content: "\e95c";
}
.apaicon-lcd_tv:before {
  content: "\e95d";
}
.apaicon-light-cut_curtains:before {
  content: "\e95e";
}
.apaicon-luxury_towel:before {
  content: "\e95f";
}
.apaicon-meeting_rooms:before {
  content: "\e960";
}
.apaicon-microwave:before {
  content: "\e961";
}
.apaicon-nature-sourced_onsen:before {
  content: "\e962";
}
.apaicon-news:before {
  content: "\e963";
}
.apaicon-night_gown:before {
  content: "\e964";
}
.apaicon-night_wear:before {
  content: "\e965";
}
.apaicon-non-smoking_room:before {
  content: "\e966";
}
.apaicon-parking:before {
  content: "\e967";
}
.apaicon-press:before {
  content: "\e968";
}
.apaicon-public_bath:before {
  content: "\e969";
}
.apaicon-razor:before {
  content: "\e96a";
}
.apaicon-reading_glasses_rental:before {
  content: "\e96b";
}
.apaicon-refrigerator:before {
  content: "\e96c";
}
.apaicon-sanitization_deodorant_spray:before {
  content: "\e96d";
}
.apaicon-sauna:before {
  content: "\e96e";
}
.apaicon-security:before {
  content: "\e96f";
}
.apaicon-service:before {
  content: "\e970";
}
.apaicon-shampoo:before {
  content: "\e971";
}
.apaicon-shower_cap:before {
  content: "\e972";
}
.apaicon-smoke_guard:before {
  content: "\e973";
}
.apaicon-tea_set:before {
  content: "\e974";
}
.apaicon-toothbrush_set:before {
  content: "\e975";
}
.apaicon-vending_machine:before {
  content: "\e976";
}
.apaicon-wheelchair_rental:before {
  content: "\e977";
}
.apaicon-wi-fi_lobby:before {
  content: "\e978";
}
.apaicon-wi-fi_rooms:before {
  content: "\e979";
}
.apaicon-wifi_service:before {
  content: "\e97a";
}
.apaicon-apa-tel:before {
  content: "\e925";
}
.apaicon-apa-brochure:before {
  content: "\e920";
}
.apaicon-apa-favorite:before {
  content: "\e921";
}
.apaicon-apa-gps:before {
  content: "\e922";
}
.apaicon-apa-phone:before {
  content: "\e923";
}
.apaicon-apa-price:before {
  content: "\e924";
}
.apaicon-apa-select-arrow:before {
  content: "\e91f";
}
.apaicon-apa-mypage:before {
  content: "\e901";
}
.apaicon-apa-bed:before {
  content: "\e91b";
}
.apaicon-apa-calender:before {
  content: "\e91c";
}
.apaicon-apa-checkin:before {
  content: "\e91d";
}
.apaicon-apa-people:before {
  content: "\e91e";
}
.apaicon-apa-menu:before {
  content: "\e900";
}
.apaicon-align-justify:before {
  content: "\e902";
}
.apaicon-arrow-down3:before {
  content: "\e903";
}
.apaicon-arrow-left3:before {
  content: "\e904";
}
.apaicon-arrow-right3:before {
  content: "\e905";
}
.apaicon-arrow-up3:before {
  content: "\e906";
}
.apaicon-check2:before {
  content: "\e907";
}
.apaicon-chevron-down:before {
  content: "\e908";
}
.apaicon-chevron-left:before {
  content: "\e909";
}
.apaicon-chevron-right:before {
  content: "\e90a";
}
.apaicon-chevron-up:before {
  content: "\e90b";
}
.apaicon-chevrons-down:before {
  content: "\e90c";
}
.apaicon-chevrons-left:before {
  content: "\e90d";
}
.apaicon-chevrons-right:before {
  content: "\e90e";
}
.apaicon-chevrons-up:before {
  content: "\e90f";
}
.apaicon-download:before {
  content: "\e910";
}
.apaicon-log-in:before {
  content: "\e911";
}
.apaicon-log-out:before {
  content: "\e912";
}
.apaicon-map-pin:before {
  content: "\e913";
}
.apaicon-menu:before {
  content: "\e914";
}
.apaicon-minus2:before {
  content: "\e915";
}
.apaicon-plus2:before {
  content: "\e916";
}
.apaicon-upload:before {
  content: "\e917";
}
.apaicon-x:before {
  content: "\e918";
}
.apaicon-zoom-in:before {
  content: "\e919";
}
.apaicon-zoom-out:before {
  content: "\e91a";
}
.apaicon-arrow-up2:before {
  content: "\ea3a";
}
.apaicon-arrow-right2:before {
  content: "\ea3c";
}
.apaicon-arrow-down2:before {
  content: "\ea3e";
}
.apaicon-arrow-left2:before {
  content: "\ea40";
}
.apaicon-plus:before {
  content: "\f067";
}
.apaicon-minus:before {
  content: "\f068";
}
.apaicon-envelope-o:before {
  content: "\f003";
}
.apaicon-check:before {
  content: "\f00c";
}
.apaicon-close:before {
  content: "\f00d";
}
.apaicon-remove:before {
  content: "\f00d";
}
.apaicon-times:before {
  content: "\f00d";
}
.apaicon-arrow-left:before {
  content: "\f060";
}
.apaicon-arrow-right:before {
  content: "\f061";
}
.apaicon-arrow-up:before {
  content: "\f062";
}
.apaicon-arrow-down:before {
  content: "\f063";
}
.apaicon-comments:before {
  content: "\f086";
}
.apaicon-twitter:before {
  content: "\f099";
}
.apaicon-facebook:before {
  content: "\f09a";
}
.apaicon-facebook-f:before {
  content: "\f09a";
}
.apaicon-google-plus:before {
  content: "\f0d5";
}
.apaicon-caret-down:before {
  content: "\f0d7";
}
.apaicon-caret-up:before {
  content: "\f0d8";
}
.apaicon-caret-left:before {
  content: "\f0d9";
}
.apaicon-caret-right:before {
  content: "\f0da";
}
.apaicon-envelope:before {
  content: "\f0e0";
}
.apaicon-linkedin:before {
  content: "\f0e1";
}
.apaicon-angle-double-left:before {
  content: "\f100";
}
.apaicon-angle-double-right:before {
  content: "\f101";
}
.apaicon-angle-double-up:before {
  content: "\f102";
}
.apaicon-angle-double-down:before {
  content: "\f103";
}
.apaicon-angle-left:before {
  content: "\f104";
}
.apaicon-angle-right:before {
  content: "\f105";
}
.apaicon-angle-up:before {
  content: "\f106";
}
.apaicon-angle-down:before {
  content: "\f107";
}
.apaicon-youtube:before {
  content: "\f167";
}
.apaicon-youtube-play:before {
  content: "\f16a";
}
.apaicon-instagram:before {
  content: "\f16d";
}
.apaicon-tumblr:before {
  content: "\f173";
}