@charset "UTF-8";

/* web Fonts */
@font-face {
   font-family: 'EB Garamond';
   src: url('../../font/EB_Garamond/EBGaramond-Regular.ttf') format("truetype");
}
@font-face {
   font-family: 'Lato';
   src: url('../../font/Lato/Lato-Regular.ttf') format("truetype");
   font-weight: 400;
}
@font-face {
   font-family: 'Lato';
   src: url('../../font/Lato/Lato-Light.ttf') format("truetype");
   font-weight: 300;
}
@font-face {
   font-family: 'Lato';
   src: url('../../font/Lato/Lato-Bold.ttf') format("truetype");
   font-weight: 700;
}

/* cording support */
.clear {clear: both;}
.clearfix {min-height:1px}
.clearfix:after {content:".";display:block;clear:both;height:0;visibility:hidden}
sup{font-size: 10px;vertical-align: top;}
a{ text-decoration: none;}
img {display: block;}


/* basic layout */
body {color: #252525;}
.container {width: 1600px; margin: 0 auto; position: relative;}
header.global {background: rgba(225,225,225,0.85); position: absolute; width: 100%; height: 130px;}
header.global .logo {margin: 23px 0 0 -28px; float: left;}
header.global .logo img {width: 106px;}
header.global nav {float: right; margin: 60px 0 0;}
header.global nav > ul {float: left;}
header.global nav > ul > li {float: left; margin: 0 30px 0 0;}
header.global nav > ul > li a {font-size:18px; font-family: 'EB Garamond', serif; font-weight:normal; letter-spacing: 0.045em; color: #252525;}
header.global nav > ul > li a._btn-header {width: 200px; display: block; background: #8560a8; border: solid 1px #8560a8; text-align: center; color: #fff; text-decoration: none; font-size: 16px; line-height: 1.2; font-family: 'Lato', sans-serif; font-weight:700; padding: 8px; box-sizing: border-box; letter-spacing: 0.045em; margin: -9px 5px 0;}
header.global .nav-lang {float: left; position: relative;}
header.global .nav-lang .btn {cursor: pointer; font-size:18px; font-family: 'EB Garamond', serif; font-weight:normal; letter-spacing: 0.045em; color: #9a9a9a; padding-right: 27px; background: url(../../../images/ja/common/header-arrow-lang.png) right center no-repeat;}
header.global .nav-lang .btn.close {background: url(../../../images/ja/common/header-arrow-lang-close.png) right center no-repeat;}
header.global .nav-lang .box-select {display: none; background: rgba(37,37,37,0.9); border:solid 1px #959595; padding: 0 25px; position: absolute; left: -17px; top: 28px}
header.global .nav-lang .box-select li a {font-size: 16px; line-height: 54px; color: #fff; border-top: solid 1px #555; display: block; width: 170px;}
header.global .nav-lang .box-select li:first-child a {border-top: none;}

header.page {padding-top: 80px;}

section.bg-color {background: #ebebeb;}
section > .inner, header > .inner, footer > .inner {width: 1170px; margin: 0 auto;}

section.new-jersey {border-bottom: solid 1px #cbcbcb; background: url(../../../images/ja/common/bg-new-jersey.jpg); height: 770px; padding: 190px 0 0; box-sizing: border-box; color: #fff;}
section.new-jersey hr {border-color: #fff !important;}
section.new-jersey ._btn-cta {width: 420px; margin: 55px auto 0;}

section.apa-card {border-bottom: solid 1px #cbcbcb; background: url(../../../images/ja/common/bg-apa-card.jpg); height: 641px; padding: 100px 0 0; box-sizing: border-box; color: #fff;}
section.apa-card hr {border-color: #fff !important;}
section.apa-card .main-col {width: 573px; float: left; margin: 0 0 50px;}
section.apa-card .main-col ._lead {margin:0}
section.apa-card .main-col .icon {text-align: center; margin: 20px 0 0;}
section.apa-card .sub-col {width: 570px; float: right; text-align: center;}
section.apa-card img {display:inline-block;}
section.apa-card .btn {clear: both; text-align: center;}
section.apa-card ._btn-cta {width: 370px; margin: 55px auto 0;}

footer.global {padding: 64px 0 0; background: #ebebeb;}
footer.global .inner {position: relative; }
footer.global .logo {margin: 0 10px; width: 420px; float: left;}
footer.global .logo img {width: 420px; height: auto;}
footer.global nav .footer-menu_01 {float: left; margin: 0 0 25px 120px;}
footer.global nav .footer-menu_02 {float: left; margin: 0 0 25px 90px;}
footer.global nav .footer-menu-list li {margin: 0 0 20px;}
footer.global nav .footer-menu-list li a {font-size: 17px; line-height: 1.2; font-family: 'Lato', sans-serif; font-weight:300; letter-spacing: 0.045em; color: #252525;}
footer.global nav .footer-menu-banners {position: absolute; right: -15px; top: 0;}
footer.global nav .footer-menu-banners li {margin: 0 0 10px;}
footer.global nav .footer-menu-banners img {width: 170px; height: auto;}
footer.global .copyright { clear: both; width: 1200px; margin: 0 -15px 0; padding: 25px 15px; box-sizing: border-box; font-size: 16px; line-height: 1.2; font-family: 'Lato', sans-serif; font-weight:300; border-top: solid 1px #868686; letter-spacing: 0.01em;}


#side-menu {position: fixed; right: 0; top: 200px;}
#side-menu .menu-list {width: 300px; box-sizing: border-box; float: right; display: none;}
#side-menu .menu-list > li {background: #947f3a; margin-bottom: 1px;}
#side-menu .menu-list > li.open {margin-bottom: 0;}
#side-menu .menu-list > li b {color: #fff; display: block; cursor: pointer; font-size: 17px; line-height: 1.2; font-family: 'Lato', sans-serif; font-weight:300; letter-spacing: 0.05em; padding: 24px 22px; background: url(../../../images/ja/common/side-menu-arrow-down.png) right 13px center no-repeat;}
#side-menu .menu-list > li.open b {background: url(../../../images/ja/common/side-menu-arrow-up.png) right 13px center no-repeat;}
#side-menu .menu-list ol {display: block; background: #fff; border: solid 1px #947f3a; border-width: 0 1px 1px; padding: 8px 0; list-style: none;}
#side-menu .menu-list ol li a { display: block; color: #000; font-size: 16px; line-height: 1.2; font-family: 'Lato', sans-serif; font-weight:300; letter-spacing: 0.05em; padding: 6px 30px;}
#side-menu .menu-list ol li.active a {color: #947f3a;}
#side-menu .menu-list ol.close {display: none;}
#side-menu .btn-open { width: 68px; height: 68px; cursor: pointer; background: #947f3a url(../../../images/ja/common/side-menu-arrow-left.png) 30px center no-repeat; text-indent: -9999px; }
#side-menu .btn-close {display: none; float: right; margin-right: 3px; width: 68px; height: 68px; cursor: pointer; background: #947f3a url(../../../images/ja/common/side-menu-arrow-right.png) 30px center no-repeat; text-indent: -9999px;}

/* basic styles */
._h1{font-size:45px; font-family: 'EB Garamond', serif; font-weight:normal; letter-spacing: 0.01em; text-align: center;}
._h2{font-size:30px; font-family: 'EB Garamond', serif; font-weight:normal; letter-spacing: 0.05em;}
._h3{font-size:26px; font-family: 'Lato', sans-serif; font-weight:700; letter-spacing: 0.05em;}
._h4{font-size:20px; font-family: 'Lato', sans-serif; font-weight:700; line-height: 1.4;}

._h1 small { display: block; font-size:25px; font-family: 'Lato', sans-serif; font-weight:400; letter-spacing: 0.065em; text-align: center; margin: 0 0 15px;}

._hr {border: solid 1px #000; border-width: 0 0 1px; margin: 50px auto;}
._hr-wide {border: solid 1px #000; border-width: 0 0 1px; margin: 50px auto; width: 1600px;}
._h1 + ._hr {border: solid 1px #000; width: 440px; border-width: 0 0 1px; margin: 30px auto;}

._lead {text-align: center; margin: 0 100px; font-size: 20px; line-height: 1.5; font-family: 'Lato', sans-serif; font-weight:400; letter-spacing: 0.045em;}
._p {font-size: 20px; line-height: 1.5; font-family: 'Lato', sans-serif; font-weight:400; letter-spacing: 0.045em;}
._ul {list-style:disc outside; margin-left: 25px; color: #947f3a; font-size:20px; line-height: 1.5; font-family: 'Lato', sans-serif; font-weight:400;}
._ol {list-style:decimal outside; margin-left: 25px; color: #947f3a; font-size:20px; line-height: 1.5; font-family: 'Lato', sans-serif; font-weight:700;}
._ul li, ._ol li {margin-bottom: 10px;}
._ul ._li-content, ._ol ._li-content {color: #252525; font-weight:400;}

._q-box {font-size: 20px; line-height: 1.2; font-family: 'Lato', sans-serif; font-weight:400; letter-spacing: 0.045em; margin-bottom: 12px;}
._q-box:before {content: "Q:"; font-family: 'Lato', sans-serif; font-weight:700; color: #947f3a; margin-right: 10px;}
._a-box {font-size: 20px; line-height: 1.2; font-family: 'Lato', sans-serif; font-weight:400; letter-spacing: 0.045em; margin-bottom: 12px;}
._a-box:before {content: "A:"; font-family: 'Lato', sans-serif; font-weight:700; color: #947f3a; margin-right: 10px;}

._asterix {font-size: 16px; line-height: 1.5; font-family: 'Lato', sans-serif; font-weight:400; letter-spacing: 0.045em;}

._info-box {border:solid 1px #868686; width: 277px; box-sizing: border-box; text-align: center; color: #707070; padding: 10px;}
._info-box > .text {font-size:16px; font-family: 'EB Garamond', serif; font-weight:normal; letter-spacing: 0.045em; margin: 0 0 4px;}
._info-box > .time {font-size:21px; font-family: 'Lato', sans-serif; font-weight:700; letter-spacing: 0.01em;}

._category_h3 {background: rgba(148,127,58,1); color: #fff; font-size:26px; font-family: 'Lato', sans-serif; font-weight:700; letter-spacing: 0.05em; padding: 20px; width: 572px; box-sizing: border-box;}
._photo-item_h3 {background: rgba(148,127,58,0.8); color: #fff; font-size:20px; font-family: 'Lato', sans-serif; font-weight:700; letter-spacing: 0.05em; padding: 22px 20px; width: 572px; box-sizing: border-box;}
._small-photo_h4 {background: rgba(148,127,58,0.8); color: #fff; font-size:20px; font-family: 'Lato', sans-serif; font-weight:700; letter-spacing: 0.05em; padding: 26px 20px; width: 374px; box-sizing: border-box;}
._tabs-small-image {background: rgba(148,127,58,0.8); color: #fff; font-size:20px; font-family: 'Lato', sans-serif; font-weight:700; letter-spacing: 0.05em; padding: 20px 30px; width: 311px; box-sizing: border-box;}

._table {}
._table thead {}
._table tbody {}
._table tbody th, ._table tbody td {font-size: 20px; line-height: 1.2; font-family: 'Lato', sans-serif; font-weight:400; letter-spacing: 0.01em; padding: 14px 25px; border: solid 1px #959595;}
._table tbody th {border-width: 1px 1px 0 0;}
._table tbody td {border-width: 1px 0 0 0;}
._table tbody tr:first-child th, ._table tbody tr:first-child td {border-top: none;}

/* css3 animation */
._fadeout {-webkit-animation: fadeOut .5s cubic-bezier(.55,0,.1,1) both;animation: fadeOut .5s cubic-bezier(.55,0,.1,1) both;}
._fadein {-webkit-animation: fadeIn .5s cubic-bezier(.55,0,.1,1) both;animation: fadeIn .5s cubic-bezier(.55,0,.1,1) both;}



/* btn */
._btn-cta { width: 572px; display: block; background: #8560a8; border: solid 1px #8560a8; text-align: center; color: #fff; text-decoration: none; font-size: 26px; line-height: 1.2; font-family: 'Lato', sans-serif; font-weight:700; padding: 17px; box-sizing: border-box; letter-spacing: 0.045em;cursor: pointer;}
._btn-cta2 { width: 572px; display: block; background: #fff; border: solid 1px #8560a8; text-align: center; color: #8560a8; text-decoration: none; font-size: 26px; line-height: 1.2; font-family: 'Lato', sans-serif; font-weight:700; padding: 17px; box-sizing: border-box; letter-spacing: 0.045em;cursor: pointer;}
._btn-search { width: 170px; display: block; background: #8560a8; border: solid 1px #8560a8; text-align: center; color: #fff; text-decoration: none; font-size: 20px; line-height: 1.2; font-family: 'Lato', sans-serif; font-weight:700; padding: 8px; box-sizing: border-box; letter-spacing: 0.045em;cursor: pointer;}
._btn-more { width: 270px; display: block; background: #8560a8; border: solid 1px #8560a8; text-align: center; color: #fff; text-decoration: none; font-size: 20px; line-height: 1.2; font-family: 'Lato', sans-serif; font-weight:700; padding: 5px; box-sizing: border-box; letter-spacing: 0.045em;cursor: pointer;}
._btn-more2 { width: 270px; display: block; background: #fff; border: solid 1px #8560a8; text-align: center; color: #8560a8; text-decoration: none; font-size: 20px; line-height: 1.2; font-family: 'Lato', sans-serif; font-weight:700; padding: 5px; box-sizing: border-box; letter-spacing: 0.045em;cursor: pointer;}

._btn-arrow-left { background: url(../../../images/ja/common/arrow-btn-left.png) 32px center no-repeat; }


/* a link */
a img:hover,a:hover{opacity:0.7; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"; -moz-opacity:0.7; -khtml-opacity: 0.7; zoom:1;}
a img:active,a:active{opacity:0.9; filter: alpha(opacity=90); -ms-filter: "alpha(opacity=90)"; -moz-opacity:0.9; -khtml-opacity: 0.9; zoom:1;}
a img.not-effect:hover,a.not-effect:hover,a.not-effect:hover img{opacity:1; filter: alpha(opacity=100); -ms-filter: "alpha(opacity=100)"; -moz-opacity:1; -khtml-opacity: 1; zoom:1;}
a img.not-effect:active,a.not-effect:active,a.not-effect:active img{opacity:1; filter: alpha(opacity=100); -ms-filter: "alpha(opacity=100)"; -moz-opacity:1; -khtml-opacity: 1; zoom:1;}


