@charset "UTF-8";

.contact#index header{border-bottom:1px #bcb275 solid;}
.contact#index .area-title h1{margin:75px 0 0 0; padding-bottom:40px;}

.contact#index .area-form{ background:#f3f3f0; margin:0 auto 50px auto; padding:15px 15px; box-sizing:border-box; width:100%; font-size:14px;}
.contact#index .area-form .note{font-size:16px; margin-bottom:10px; display:block; line-height:1.2;}
.contact#index .area-form .note.required:before,
.contact#index .area-form .required span.name span.required:after{content:"＊"; color:#fe0000; display:inline-block;}
.contact#index .area-form .required span.name{width:100%; line-height:50px; display:block; margin-bottom:0;}
.contact#index .area-form .required span.input-title,
.contact#index .area-form .required span.input-name,
.contact#index .area-form .required span.input-kana,
.contact#index .area-form .required span.input-id,
.contact#index .area-form .required span.input-mail,
.contact#index .area-form .required span.text-area{display:block; width:100%; box-sizing:border-box;}
.contact#index .area-form .required span input:placeholder-shown{color:#bfaf7a;}
.contact#index .area-form .required span input::-webkit-input-placeholder{color:#bfaf7a;}
.contact#index .area-form .required span input:-ms-input-placeholder{color:#bfaf7a;}
.contact#index .area-form .required span input:-moz-placeholder{color:#bfaf7a; opacity: 1;}
.contact#index .area-form .required span input::-moz-placeholder{color:#bfaf7a; opacity: 1;}

.contact#index .area-form .required span.title span.text{padding:10px 10px; font-size:14px; border:none; width:100%; box-sizing:border-box; line-height:1.4; margin-bottom:10px; background:#fff; display:block;}
.contact#index .area-form .required span.title span.text.last{margin-bottom:30px;}

.contact#index .area-form .required span.input-title select
{position: relative; width:100%; -webkit-appearance: none; -moz-appearance: none; appearance: none; padding:17px; font-size:14px; border:none; margin:0 0 15px 0;
background:url(../../../../images/ja/resort_hotels/common/arrow-btn-down.png) #fff right center no-repeat; background-size: 30px 9px;}

.contact#index .area-form .required span.input-name input,
.contact#index .area-form .required span.input-kana input{padding:17px; font-size:14px; border:none; width:47%; margin:0 2% 15px 0; box-sizing:border-box;}
.contact#index .area-form .required span.input-id input{padding:17px; font-size:14px; border:none; width:48%; margin:0 0 15px 0; box-sizing:border-box;}
.contact#index .area-form .required span.input-name input:nth-last-child(1),
.contact#index .area-form .required span.input-kana input:nth-last-child(1){margin-right:0}
.contact#index .area-form .required span.input-mail input{padding:17px; font-size:14px; border:none; width:100%; margin-bottom:30px; box-sizing:border-box;}

.contact#index .area-form .required span.text-area textarea{padding:17px; font-size:14px; border:none; width:100%; height:151px; margin-bottom:30px; box-sizing:border-box;}

.contact#index .area-form .btn{margin:20px auto 0 auto; background-image:none; text-align:center;}
.contact#index .area-form .btn ._btn-middle{margin:0 0 10px 0; background-image:none; padding:0; display:block;}
.contact#index .area-form .btn ._btn-middle:after{background:none;}

.contact#index .area-form ._p{margin-bottom:15px;}

.contact#index .area-contact-list{border-top:#3a2f08 2px solid; padding-top:15px; width:100%; margin:0 auto 0 auto;}
.contact#index .area-contact-list h2{margin-bottom:30px;}
.contact#index .area-contact-list h3{font-size:14px; margin:20px 0 10px 0;font-weight: bold;}
.contact#index .area-contact-list ul{margin-bottom: 50px;}

.contact#index .area-contact-list:nth-last-child(1){margin-bottom:20px;}
.contact#index .area-contact-list li{border-bottom:#bfaf7a 1px solid; padding-bottom:15px; margin:15px 0;}
.contact#index .area-contact-list li span.title{font-size:12px; line-height:1.2; float:left; width:52%; position:relative; top:5px; margin-bottom:10px;}
.contact#index .area-contact-list li span.tel{font-size:18px; line-height:1.2; float:right; width:auto; margin-right:0; position:relative; top:-0px;}
.contact#index .area-contact-list li span.tel:before{content:"";  background:url(../../../../images/ja/resort_hotels/inquiry/icon-tel.png) left center no-repeat; width:12px; height:12px; display:inline-block; margin-right:7px; background-size:12px 12px; position:relative; top:0px;}
.contact#index .area-contact-list li span.fax{font-size:18px; line-height:1.2; float:right; clear:both; width:auto; position:relative; top:-0px;}
.contact#index .area-contact-list li span.fax:before{content:"";  background:url(../../../../images/ja/resort_hotels/inquiry/icon-fax.png) left center no-repeat; width:14px; height:12px; display:inline-block; margin-right:7px; background-size:14px 12px; position:relative; top:0px;}
.contact#index .area-contact-list li span.note{font-size:12px; line-height:1.6; width:100%; display:block; clear:both;}

.error_massages{background: #fff0f0 none repeat scroll 0 0;color: #c00;line-height: 1.4;margin: 0 auto 20px;padding: 10px;font-size: 12px;}