@charset "UTF-8";

.faq#index header{border-bottom:1px #bcb275 solid;}

.faq#index .area-title h1{margin:75px 0 0 0; padding-bottom:40px;}

.faq#index ul._anchor{}
.faq#index ul._anchor li{}

section.area-faq {border-top:2px #3a2f08 solid; padding-top:10px; margin:0 auto 30px auto; width:100%;}
section.area-faq#s04 {margin-bottom:40px;}
section.area-faq h2{margin-bottom:0;}

section.area-faq .faq{padding-top:20px; margin-top:20px; border-top:1px #beaf7a solid;}
section.area-faq#s01 section.faq:nth-child(2){padding-top:0px; margin-top:20px; border:none;}


section.area-faq .faq .q,
section.area-faq .faq .a{padding-left:40px; position:relative;}

section.area-faq .faq .q{font-size:16px; line-height:1.6; margin-bottom:22px;}
section.area-faq .faq .a{font-size:12px; line-height:1.8; margin-bottom:28px;}

section.area-faq .faq .q:before,
section.area-faq .faq .a:before{font-size:20px; color:#fff; width:30px; height:30px; text-align:center; display:block; font-family: 'EB Garamond', serif; font-weight:normal;}
section.area-faq .faq .q:before{content:"Q"; background:#3a2f08; position:absolute; left:0; top:4px; line-height:25px;}
section.area-faq .faq .a:before{content:"A"; background:#beaf7a; position:absolute; left:0; top:4px; line-height:30px;}

section.note{padding-top: 10px;width: 100%;margin: 50px auto 0;line-height: 1.4;border-top: 1px solid #3a2f08;}
section.note li{margin-bottom: 20px;list-style: disc;margin-left: 1em;}
section.note h2{font-size: 22px; font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro","ＭＳ 明朝",serif;font-weight: normal;letter-spacing: 0.045em;margin-bottom: 20px;}
section.note dl{margin-bottom: 30px;border-bottom: 1px solid #beaf7a;}
section.note dt{font-weight: bold;margin-bottom: 20px;}
section.note dd{font-size: 14px;}