@charset "UTF-8";

.guest_room#index .visual{margin-top:50px; width:100%; height:320px; background:url(../../../../images/ja/myoko/guest_room/img-mainvisual-sp.jpg) 50% 50% no-repeat; background-size:cover !important; display:block;}

.guest_room#index header{}
.guest_room#index .area-title h1{margin:30px 0 0 0; padding-bottom:40px;}
.guest_room#index #tab-1 ._btn-pickup{font-size: 14px;}
.guest_room#index .box-hidden{display:none; padding:20px 0 0 0;}
.guest_room#index .panel{display:block; margin-top:5px;}
.guest_room#index .panels{margin-bottom:50px;}

.guest_room#index section#section-head{padding:0 0 20px 0;}
.guest_room#index section#section-head p{ line-height:1.6;}

.guest_room#index section#search{padding:40px 0 20px 0; margin-bottom:50px;}

.guest_room#index #section-guest_rooms h2{line-height:1.6;}
.guest_room#index #section-guest_rooms h2 .logo{display:inline-block;}
.guest_room#index #section-guest_rooms h2 .logo img{height:35px; position:relative; top:2px;}
.guest_room#index #section-guest_rooms h2 .text{margin-right:20px;}
.guest_room#index #section-guest_rooms h2 .roomnum{font-size:18px; color:#fff; background:#3b2f08; padding:3px 10px 5px 10px;}
.guest_room#index #section-guest_rooms .small ._btn-pickup{font-size:12px;}

.guest_room#index section.area-room {border-top:#3a2f08 1px solid; padding-top:20px; margin-bottom:40px;}
.guest_room#index section.area-room h2{margin-bottom:20px;}
.guest_room#index section.area-room ._photo-bottom{}


.guest_room#index #section-guest_rooms .box-wrap{margin-bottom:70px;}
.guest_room#index #section-guest_rooms .box-wrap .image{width:100%;}
.guest_room#index #section-guest_rooms .box-wrap .image img{width:100%;}
.guest_room#index #section-guest_rooms .box-wrap .text{width:100%;}
.guest_room#index #section-guest_rooms .box-wrap .text p{line-height:1.6;}
.guest_room#index #section-guest_rooms .box-wrap .text .banner{font-size:20px; line-height:1.6; width:100%; box-sizing:border-box; padding:10px 25px; background:#aa1919; color:#fff; text-align:center; margin-bottom:25px;}
.guest_room#index #section-guest_rooms .box-wrap .text .banner .date{display:block; border-bottom:1px #fff solid; padding-bottom:4px; margin-bottom:4px;}

.guest_room#index section.area-room .txt{margin-top:10px; width:100%;}
.guest_room#index section.area-room ._lead{margin-bottom:10px;}
.guest_room#index section.area-room ._p{margin-bottom:15px;}
.guest_room#index section.area-room .txt ul{list-style:disc; font-size:14px; margin:0 0 30px 20px; line-height:1.7;}
.guest_room#index section.area-room h3{font-size:16px; margin-bottom:10px;}
.guest_room#index section.area-room ._table{font-size:12px; line-height:1.4;}
.guest_room#index section.area-room ._table th{width:auto;}
.guest_room#index section.area-room ._table th,
.guest_room#index section.area-room ._table td{padding:15px 5px; text-align:center; vertical-align:middle;}

.guest_room#index section.area-service{border-top:#3a2f08 1px solid; padding-top:20px; margin-bottom:40px;}
.guest_room#index section.area-service h2{margin-bottom:20px;}
.guest_room#index section.area-service .btn{text-align:right; margin-top:30px;}
.guest_room#index section.area-service table th{width:30%;}

.guest_room#index section.area-service h2.btn{text-align:left; margin-top:0; position:relative;}
.guest_room#index .btn-h2:after{content:""; display:block; width:14px; height:8px; background:url(../../../../images/ja/myoko/sp/btn-h2-arrow-sp.png) 0 0 no-repeat; background-size:14px 8px; position:absolute; top:6px; right:10px;}
.guest_room#index .box-accordion .open .btn-h2:after{content:""; display:block; width:14px; height:8px; background:url(../../../../images/ja/myoko/sp/btn-h2-arrow-sp.png) 0 0 no-repeat; background-size:14px 8px; position:absolute; top:6px; right:10px; transform: rotate(-180deg); -webkit-transform: rotate(-180deg); -moz-transform: rotate(-180deg);}

.guest_room#index section.area-price{border-top:#3a2f08 1px solid; padding-top:20px; margin-bottom:20px;}
.guest_room#index section.area-price ._h2{margin-bottom:20px;}
.guest_room#index section.area-price table th{width:30%;}