@charset "UTF-8";

.news#index header{border-bottom:1px #bcb275 solid;}

.news#index .area-title h1,
.news#detail .area-title h1{margin:75px 0 0 0; padding-bottom:40px;}


.news#detail .linkfont a{color: blue !important;}


section.area-news-list {margin:0 auto 0 auto; width:100%;}
section.area-news-list section.list{margin-bottom:40px;}
section.area-news-list section.list .img{width:100%; margin-bottom:10px;}
section.area-news-list section.list .img img{width:100%;}
section.area-news-list section.list .txt{width:100%;}
section.area-news-list section.list .txt .date{font-size:14px;}
section.area-news-list section.list .txt .date ._label{margin:0 0 10px 20px;}
section.area-news-list section.list .txt h2{font-size:14px; margin-bottom:5px; line-height:1.4;}
section.area-news-list section.list .txt .lead{font-size:14px; margin-bottom:10px; line-height:1.6;}
section.area-news-list section.list .txt .btn{text-align:right;}
*/

section.area-news-list {margin:0 auto 40px auto; width:100%:}
section.area-news-list section.list{border-bottom:#3a2f08 1px solid; padding-bottom:15px; margin-bottom:15px;}
section.area-news-list section.list .img{float:left; width:25%;}
section.area-news-list section.list .img img{max-width:100%; max-height:90px; margin:0 auto;}
section.area-news-list section.list .txt{float:right; width:71%;}
section.area-news-list section.list .txt .date{font-size:14px;}
section.area-news-list section.list .txt .date ._label{margin:0 0 10px 20px;}
section.area-news-list section.list .txt h2{font-size:14px; margin-bottom:5px; line-height:1.4;}
section.area-news-list section.list .txt .lead{font-size:14px; margin-bottom:10px; line-height:1.6;}
section.area-news-list section.list .txt .btn{text-align:right;}

.pager{margin-bottom:40px; text-align:center; font-size:0;}
.pager li{display:inline-block; font-size:29px;}
.pager li span,
.pager li a{display: block; font-size: 29px; padding:0 0.4em; background:#fff;}
.pager li a{text-decoration:underline;}

section.area-news-detail{margin:0 auto 40px auto; width:100%; border-top:#3a2f08 2px solid; padding-top:10px;}
section.area-news-detail .date{font-size:14px; margin-bottom:10px;}
section.area-news-detail .date ._label{margin:0 0 0px 20px;}
section.area-news-detail h2{font-size:22px; margin-bottom:20px; font-weight:normal;}
section.area-news-detail ._p{margin-bottom:20px!important;}
section.area-news-detail h3{font-size:14px; font-weight:normal; line-height:1.6; margin:0px!important;}
section.area-news-detail h3:before{content:"■"; font-size:14px;}

section.area-news-detail ul{font-size:14px; line-height:1.6; list-style:disc; margin-bottom:20px!important;}
section.area-news-detail ul li{margin-left:20px;}

section.area-news-detail .image img{padding:10px 0; width:70%; text-align:center!important; margin:0 auto!important;}
section.area-news-detail .btn{text-align:right; margin-top:20px;}

section.area-news-detail .box-entry{}
section.area-news-detail .box-entry img{max-width: 100%;height: auto;margin: 0 0 30px;}
section.area-news-detail .box-entry h1{font-size:28px; margin-bottom:40px; text-align: center;}
section.area-news-detail .box-entry h2{font-size:22px; margin-bottom:30px;}
section.area-news-detail .box-entry h3{font-size:18px; margin-bottom:20px;}
section.area-news-detail .box-entry h4{font-size:16px; margin-bottom:20px;}
section.area-news-detail .box-entry p{font-size:14px; font-weight:normal; line-height:1.6;margin: 0 0 30px;}

/* table basic */
section.area-news-detail .box-entry table {width:100%; border-collapse: collapse; background:#f3f3f0; font-size:12px; line-height:1.8; box-sizing:border-box;margin-bottom: 30px;word-wrap: break-word;table-layout: fixed;}
section.area-news-detail .box-entry table thead th{background: #ddd;}
section.area-news-detail .box-entry table th{background: rgba(191, 175, 123, 0.85) none repeat scroll 0 0;border-right:1px solid #fff; border-bottom:1px solid #fff;}
section.area-news-detail .box-entry table td{border-right:1px solid #fff; border-bottom:1px solid #fff;}
section.area-news-detail .box-entry table th{padding:10px; text-align: left; vertical-align: top; font-weight:normal; /* white-space: nowrap; */ width:45%; box-sizing:border-box;}
section.area-news-detail .box-entry table td{padding:10px; border-right:1px solid #fff;}
section.area-news-detail .box-entry table span.note{font-size:12px;}

section.area-news-detail .box-entry dl{margin-bottom: 30px;}
section.area-news-detail .box-entry dt{font-weight: bold;margin-bottom: 5px;}
section.area-news-detail .box-entry dd{margin-bottom: 20px;}

section.area-news-detail .box-entry ol,
section.area-news-detail .box-entry ul{margin-bottom: 30px;}

section.area-news-detail .box-entry ol li{margin-left: 1em;margin-bottom: 10px;}
section.area-news-detail .box-entry blockquote{background: #eee;padding: 20px;}
section.area-news-detail .box-entry blockquote p{margin-bottom: 0;}
section.area-news-detail .box-entry address{margin-bottom: 20px;}
section.area-news-detail .box-entry div{line-height: 1.4;}
section.area-news-detail .box-entry .alignleft{float: left;margin: 10px;}
section.area-news-detail .box-entry .alignright{float: right;margin: 10px;}
section.area-news-detail .box-entry img.iconimg {margin: 0;display: inline-block;vertical-align: middle;}
