@charset "UTF-8";

.spa#index .visual,
.spa#plan .visual{margin-top:50px; width:100%; height:320px; background:url(../../../../images/ja/myoko/spa/fa454cf8f471e4593a851bbbef199a46-1.jpg) 50% 50% no-repeat; background-size:cover !important; display:block;}

section#search{margin-bottom:20px;}

.spa#plan header{border-bottom:1px #bcb275 solid;}
.spa#index .area-title h1{margin:30px 0 0 0; padding-bottom:40px;}
.spa#plan .area-title h1{margin:75px 0 0 0; padding-bottom:40px;}

.spa#plan .box-hidden{display:none; padding:20px 0 0 0;}
.spa#plan .panel{display:block; margin-top:5px;}
.spa#plan .panels{margin-bottom:50px;}

.spa#index section.area-spa {border-top:#3a2f08 1px solid; padding-top:20px; margin-bottom:40px;}
.spa#index section.area-spa h2{font-size:20px; margin-bottom:20px;}
.spa#index section.area-spa h3{font-size:16px; margin-bottom:20px;}
.spa#index section.area-spa ._photo-bottom{margin-bottom:40px;}

.spa#index section.area-spa ._photo-bottom .thumbnail li{width:40%; height:auto; margin:0 0 5px 0; padding-right:5px; float:left; box-sizing:border-box;}
.spa#index section.area-spa ._photo-bottom .thumbnail li:nth-child(2n){margin-right:0;}

.spa#index section.area-spa ._lead{margin-bottom:40px;}
.spa#index section.area-spa ._table{font-size:12px; line-height:1.4;margin-bottom: 30px;}
.spa#index section.area-spa ._table th{width:80px;}
.spa#index section.area-spa ._table th,
.spa#index section.area-spa ._table td{padding:15px; line-height:1.6;}
.spa#index section.area-spa .box-spa{margin-bottom: 50px;}

.spa#plan h1{margin:0 0 70px 0;}
.spa#plan section#head{margin-bottom:40px;}
.spa#plan section#head .box-wrap{margin:0 auto; padding-top:20px; border-top:#3a2f08 1px solid;}
.spa#plan section#head .lead{font-size:16px; line-height:1.6; margin-bottom:20px;}
.spa#plan section#head .image img{width:100%;}

.spa#plan section#plan{margin-bottom:40px;}
.spa#plan section#plan .box-wrap{width:100%; margin:0 auto; padding:15px; background:#f3f3f0; border-radius:5px; margin-bottom:30px; box-sizing:border-box;}
.spa#plan section#plan h2{border-bottom:#3a2f08 1px solid; margin-bottom:20px; padding-bottom:10px;}
.spa#plan section#plan h2 span{font-size:16px;}
.spa#plan section#plan .lead{font-size:16px; line-height:1.6; margin-bottom:30px;}
.spa#plan section#plan ._table{margin-bottom:5px;}
.spa#plan section#plan ._table tbody th{width:7em; padding: 14px 5px;}
.spa#plan section#plan ._table tbody td{padding: 14px 5px;}
.spa#plan section#plan ._table tbody td.price{width:7em;padding: 14px 5px; vertical-align:middle;}
.spa#plan section#plan ._table tbody td.benefits{padding: 14px 5px;}
.spa#plan section#plan ._table tbody th,
.spa#plan section#plan ._table tbody td {font-size:12px; line-height: 1.4; font-family: 'Lato', sans-serif; font-weight:100; letter-spacing: 0.01em; border: solid 1px #f3f3f0;color: #3a2f08; background:#fff;}
.spa#plan section#plan ._table tbody td .price-off{color:#a91919;}
.spa#plan section#plan ._table tbody td .note{font-size:12px;}
.spa#plan section#plan p.note{font-size:12px; display:block; margin-top:0; line-height:1.4;}
.spa#plan section#plan p.banner{margin-top:20px;}
.spa#plan section#plan p.banner img{width:100%;}
.spa#plan section#plan ul.images{margin:30px 0 0 0;}
.spa#plan section#plan ul.images li{width:32%; margin-right:2%; float:left;}
.spa#plan section#plan ul.images li:nth-last-child(1){margin-right:0%;}
.spa#plan section#plan ul.images li img{width:100%;}