@charset "UTF-8";

.root#index .bx-viewport{margin:0; padding:0; box-shadow:none; border:none; left:0;}
.root#index .bx-wrapper{margin-bottom: 0px;}
.root#index .ul.bxslider.top{margin:0; padding:0;}
.root#index .visual{width:100%; height:370px; background-size:cover !important;background-position: center center !important;}
.root#index .wrap{margin-top:50px;}

.root#index .banner-wrap{width:100%; box-sizing:border-box; padding:0 15px;}
.root#index #top-banner ul{margin:0; padding:0; box-sizing:border-box; width:100%;}
.root#index #top-banner ul li{float:left; width:49%; margin:0 2% 10px 0; display:block;}
.root#index #top-banner ul li:nth-child(2n){margin-right:0;}
.root#index #top-banner ul li a,
.root#index #top-banner ul li img{width:100%;}
.root#index #top-banner{border:#3b2f08 1px solid; padding:10px 10px 0 10px; width:100%; box-sizing:border-box; margin:25px 0 40px 0;}

.root#index #movie{padding-top:50px;}
.root#index #movie .youtube {position: relative; width: 100%; padding-top: 56.25%;}
.root#index #movie .youtube iframe{position: absolute; top:0; right: 0; width: 100%!important; height: 100%!important;}

.root#index section#search{padding:50px 0 20px; margin:0;}
.root#index section#search .container{}

.root#index section#news .container{padding:0 25px;}
.root#index section#news{padding:25px 0 25px 0;}
.root#index section#news dl{font-size:13px;}
.root#index section#news dl dt{width:100%; margin: 0 0 7px 0; padding:0;}
.root#index section#news dl dt span.date{width:50px; margin-right:5px; display:inline-block;}
.root#index section#news dl dt span._label{margin-left:30px;}
.root#index section#news dl dd{margin: 0 0 16px 0px; padding:0px 0 5px 0px; line-height:1.6;}
.root#index section#news dl dd a{text-decoration:underline;}
.root#index section#news .btn{text-align:right;}

.root#index section#calendar{padding:0 15px 35px 15px; background:#f3f3f0; box-sizing:border-box;}
.root#index section#calendar .container{width:100%; position:relative; background:#fff; padding:20px 10px; box-sizing:border-box;}
.root#index section#calendar .pager{width:100%; margin:0 auto 0 auto; line-height:48px; height:48px; text-align:center; background:#887535; color:#fff; border-radius:5px 5px 0 0;}
.root#index section#calendar .pager a{color:#4a5050;}
.root#index section#calendar .pager .year{display:none;}
.root#index section#calendar .pager .month{display: inline-block; width:2.5em;}
.root#index section#calendar .pager .prev{font-size:12px; float:left; margin-left:10px;}
.root#index section#calendar .pager .prev a{color:#fff; background:url(../../../../images/ja/myoko/sp/btn-arrow-left.png) #3b2f08 0% 50% no-repeat; background-size:17px 15px; padding:5px 10px 5px 25px; border-radius:5px;}
.root#index section#calendar .pager .prev span.nonlink{background:none; background-size:17px 15px; padding:5px 10px 5px 25px; border-radius:5px;}
.root#index section#calendar .pager .prev span.nonlink{color:#887535; user-select: none;}
.root#index section#calendar .pager .now{font-size:14px;}
.root#index section#calendar .pager .next{font-size:12px; float:right; margin-right:10px;}
.root#index section#calendar .pager .next a{color:#fff; background:url(../../../../images/ja/myoko/sp/btn-arrow-right.png) #3b2f08 100% 50% no-repeat; background-size:17px 15px; padding:5px 25px 5px 10px;  border-radius:5px;}
.root#index section#calendar .pager span.nonlink{background:none; background-size:17px 15px; padding:5px 25px 5px 10px;  border-radius:5px;}
.root#index section#calendar .pager .next span.nonlink{color:#887535; user-select: none;}

.root#index section#calendartable,
.root#index section#calendar tbody,
.root#index section#calendar thead,
.root#index section#calendar tfoot,
.root#index section#calendar tr,
.root#index section#calendar th,
.root#index section#calendar td {display: block;}

.root#index section#calendar a:hover table{opacity:0.7; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"; -moz-opacity:0.7; -khtml-opacity: 0.7; zoom:1;}
.root#index section#calendar table{width:100%; margin:0 auto 20px auto; border:1px solid #887535; position:relative; height:340px; display:block; overflow:scroll; box-sizing:border-box;}
.root#index section#calendar table thead{display:none;}
.root#index section#calendar table td.pc{display:none;}
.root#index section#calendar table tbody td span.days{background:#bfaf7b; color:#fff;}
.root#index section#calendar table tbody td:nth-child(1) span.days{background:#c33; color:#fff;}
.root#index section#calendar table tbody td:nth-child(7) span.days{background:#69c; color:#fff;}
.root#index section#calendar table tbody td{padding:0px; position:relative;}
.root#index section#calendar table tbody td span.days{display:block;padding:5px 10px;}
.root#index section#calendar table tbody td span.holiday{background:#d00; color:#fff;}
.root#index section#calendar table tbody td span.category{width:100%; display:block; min-height:2em;}
.root#index section#calendar table tbody td span.category .restaurant,
.root#index section#calendar table tbody td span.category .illumination,
.root#index section#calendar table tbody td span.category .event{display:block; padding:10px 10px 10px 20px; border-bottom:1px #bfaf7b solid; position:relative; line-height:1.2;}

.root#index section#calendar table tbody td span.category .restaurant:before,
.root#index section#calendar table tbody td span.category .illumination:before,
.root#index section#calendar table tbody td span.category .event:before{content:"■"; position:absolute; left:3px;}
.root#index section#calendar table tbody td span.category a{display:block;}

.root#index section#calendar ul li:before{content:"■"; font-size:16px; position:relative; top:2px;}
.root#index section#calendar table tbody td span.category .restaurant:before,
.root#index section#calendar ul li:nth-child(1):before{color:#00695c;}
.root#index section#calendar table tbody td span.category .illumination:before,
.root#index section#calendar ul li:nth-child(2):before{color:#232fcb;}
.root#index section#calendar table tbody td span.category .event:before,
.root#index section#calendar ul li:nth-child(3):before{color:#dc0a41;}
.root#index section#calendar ul{width:100%; margin:0 auto;}
.root#index section#calendar ul li{font-size:10px; margin-bottom:0;}

/*
.root#index section#calendar{padding:0 15px 35px 15px; background:#f3f3f0; box-sizing:border-box;}
.root#index section#calendar .container{padding:15px 10px; box-sizing:border-box; background:#fff;}
.root#index section#calendar .pager{width:100%; margin:0 auto 15px auto; line-height:24px; height:24px; text-align:center;}
.root#index section#calendar .pager a{color:#4a5050;}
.root#index section#calendar .pager .year{display:none;}
.root#index section#calendar .pager .month{display: inline-block; width:2.5em;}
.root#index section#calendar .pager .prev{font-size:12px; float:left;}
.root#index section#calendar .pager .prev a{color:#fff; background:url(../../../../images/ja/myoko/sp/btn-arrow-left.png) #bfaf7b 0% 50% no-repeat; background-size:17px 15px; padding:10px 10px 10px 25px; border-radius:5px;}
.root#index section#calendar .pager .now{font-size:14px;}
.root#index section#calendar .pager .next{font-size:12px; float:right;}
.root#index section#calendar .pager .next a{color:#fff; background:url(../../../../images/ja/myoko/sp/btn-arrow-right.png) #bfaf7b 100% 50% no-repeat; background-size:17px 15px; padding:10px 25px 10px 10px;  border-radius:5px;}

.root#index section#calendar a:hover table{opacity:0.7; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"; -moz-opacity:0.7; -khtml-opacity: 0.7; zoom:1;}
.root#index section#calendar table{width:100%; margin:0 auto 5px auto; border-top:1px solid #bfaf7b; border-left:1px solid #bfaf7b;}
.root#index section#calendar table th,
.root#index section#calendar table td{border-right:1px solid #bfaf7b; border-bottom:1px solid #bfaf7b; width:14.2%;}
.root#index section#calendar table thead th{font-size:10px; padding:5px;}
.root#index section#calendar table thead th:nth-child(1),
.root#index section#calendar table tbody td:nth-child(1) span.days{color:#c33;}
.root#index section#calendar table thead th:nth-child(7),
.root#index section#calendar table tbody td:nth-child(7) span.days{color:#69c;}
.root#index section#calendar table tbody td{text-align:center; font-size:12px; padding:10px 0;}
.root#index section#calendar table tbody td span.days{}
.root#index section#calendar table tbody td span.holiday{color:#d00;}
.root#index section#calendar table tbody td span.category{text-align:center; display:block; margin-top:7px; height:10px;}
.root#index section#calendar table tbody td span.category span{width:10px; height:10px; margin:0 1px; display:inline-block;}
.root#index section#calendar table tbody td span.category .restaurant{background:#00695c; color:#00695c;}
.root#index section#calendar table tbody td span.category .illumination{background:#232fcb; color:#232fcb;}
.root#index section#calendar table tbody td span.category .event{background:#dc0a41; color:#dc0a41;}
.root#index section#calendar ul li:nth-child(1){color:#00695c;}
.root#index section#calendar ul li:nth-child(2){color:#232fcb;}
.root#index section#calendar ul li:nth-child(3){color:#dc0a41;}
.root#index section#calendar ul li:before{content:"■"; font-size:16px; position:relative; top:2px;}
.root#index section#calendar ul li:nth-child(1):before{color:#00695c;}
.root#index section#calendar ul li:nth-child(2):before{color:#232fcb;}
.root#index section#calendar ul li:nth-child(3):before{color:#dc0a41;}
.root#index section#calendar ul{width:100%; margin:0 auto;}
.root#index section#calendar ul li{font-size:10px; margin-bottom:0;}
*/


.root#index section#howto{margin:35px 0;}
.root#index section#howto .container{width:85%; position:relative; margin:0 auto; padding:30px 15px; background:#3a2f08; border-radius:5px;}
.root#index section#howto ._h3{color:#fff;}
.root#index section#howto ul{}
.root#index section#howto ul li{margin-bottom:25px; text-align:center;}
.root#index section#howto ul li:nth-last-child(1){margin-bottom:0;}
.root#index section#howto ul li .image{display:block; margin-bottom:15px;}
.root#index section#howto ul li .image img{width:180px; border-radius:50%; border:3px #bfaf7b solid; margin:0 auto; }
.root#index section#howto ul li .lead{text-align:center; display:block; color:#fff; line-height:1.4;}
.root#index section#howto ul li .lead br{display:none;}

.root#index section#pic{padding:25px 0;} 
.root#index section#pic ul li{margin:0 0 20px 0; font-size:16px; width:100%; line-height:1.6;}
.root#index section#pic ul li:nth-last-child(1){margin:0;}
.root#index section#pic ul li .img{margin-bottom:12px; display:block;}
.root#index section#pic ul li .img img{width:100%;}

.root#index section#info h3{padding: 0 15px;}
.root#index section#info h4{margin-bottom: 10px;}
.root#index section#info p{line-height: 1.4;}
.root#index section#info p.lead{margin-bottom: 10px;}
.root#index section#info li{margin-bottom: 20px;}

.root#index section#event .container{padding:0 25px;}
.root#index section#event h3{margin-bottom:0px;}
.root#index section#event{padding:0px 0 0px 0;}
.root#index section#event ul{width:100%; margin:0; padding:0; font-size:13px;}
.root#index section#event ul{width:100%; box-sizing:border-box; margin-bottom:40px;}
.root#index section#event ul li{width:100%; box-sizing:border-box; color:#333; display:table; margin:0; padding:15px 0 15px 0; border-bottom:1px #ddd solid;}
.root#index section#event ul li p.pic{width:30%; display:table-cell; padding:0 20px 0px 0; vertical-align:middle; margin:0;}
.root#index section#event ul li p.pic img{max-width:100%; max-height:90px; margin:0 auto;}
.root#index section#event ul li p.txt{width:70%; display:table-cell; vertical-align:top; padding-top:0px; position:relative; top:0px; text-align:left;}
.root#index section#event ul li span.date{display:block; margin-bottom:10px; font-size:12px;}
.root#index section#event ul li a{text-decoration:underline; line-height:1.4;}
.root#index section#event ul li span.lead{display:block; margin-top:10px; line-height:1.4;}
.root#index section#event ._asterix{margin:20px 0; font-size: 10px;}
.root#index section#event .twitter{height: 300px;overflow-y: scroll;margin-bottom: 30px;-webkit-overflow-scrolling: touch;}
.root#index section#event .box-ta{margin-top: 20px;}
.root#index section#event .box-ta iframe{width: 100%;margin-bottom: 10px;border: 1px solid #589442;width: 100%;}
.root#index section#event img{width: 100%;}
.root#index section#event .banner{margin-bottom: 10px;margin-top: 10px;}
.root#index section#event ._p{font-size: 12px;line-height: 1.2;}
.root#index section#event .row {width:90%;display:block;margin:0 auto;}
.root#index section#event .row .col4{width:100%;display:block;}
.root#index section#event .col--inner1{ margin-right:0px; }
.root#index section#event .col--inner2{ margin-right:0px;margin-left:0px; }
.root#index section#event .col--inner3{ margin-left:0px; }
.root#index section#event img{width:100%;}

.root#index section#event #area{padding:0 0 50px 0;}
.root#index section#event #area .container{padding:25px 0 0 0; margin:0 15px; background:#f3f3f0; border-radius:5px; box-sizing:border-box;}
.root#index section#event #area ._h3{margin:0 20px 25px 20px;}
.root#index section#event #area ul{}
.root#index section#event #area ul li{width:50%; float:left; text-align:center; margin-bottom:35px;}
.root#index section#event #area ul li .icon{margin-bottom:15px;}
.root#index section#event #area ul li .icon img{width:70px; margin:0 auto 10px auto;}
.root#index section#event #area ul li .title{font-size:12px; line-height:1.4;}


#open-hopup{display: none;;width: 96%;box-sizing: border-box;position: absolute;margin: 0 auto;top:50px;z-index: 999999999;background: #fff;left: 0px;right: 0px;padding: 20px;border-radius: 20px;margin: 0 2%;}
#open-hopup .box-hopaup{}
#open-hopup .box-hopaup .close{position: absolute;right: 20px;top:20px;z-index: 1;}
#open-hopup .box-hopaup .head{padding-top: 60px;position: relative;}
#open-hopup .box-hopaup .head h2{text-align: center;font-size: 18px;color: #c8a11e; padding: 0 20px 30px;color: #3a2f08;font-weight: bold;font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;position: relative;}
#open-hopup .box-hopaup .head h2:after{content:'';position: absolute;display: block;border-bottom: 1px solid #3a2f08; width: 100%;bottom: 0px;left: 0;right: 0;margin: 0 auto;}
#open-hopup .box-hopaup .head h2 span{display: inline-block;width: 71px;height: 24px;}
#open-hopup .box-hopaup .head h2 .before{background: url(../../../../images/ja/myoko/h-icon_left.png) no-repeat left center;position: absolute;left: 0px;top:15px;background-size: 30px 10px;}
#open-hopup .box-hopaup .head h2 .after{background: url(../../../../images/ja/myoko/h-icon_right.png) no-repeat right center;position: absolute;right: 0px;top:15px;background-size: 30px 10px;}

#open-hopup .box-hopaup .body{padding: 50px 0 0;}
#open-hopup .box-hopaup .box{margin-bottom: 60px;clear: both;}
#open-hopup .box-hopaup .box h3{color: #c8a11e;line-height: 1.4;border-bottom: 1px solid #c8a11e;padding-bottom: 3px;margin-bottom: 30px;line-height: 1.4;}
#open-hopup .box-hopaup .box h4{margin-bottom: 30px;line-height: 1.4;}
#open-hopup .box-hopaup .box table{font-size: 14px;}
#open-hopup .box-hopaup .box table tr{border: 1px solid #ccc;display: block;}
#open-hopup .box-hopaup .box table th{background: #c8a11e;color: #fff;padding: 20px;text-align: left;display: block;width: 100%;box-sizing: border-box;}
#open-hopup .box-hopaup .box table td{padding: 20px;line-height: 1.4;box-sizing: border-box;}
#open-hopup .box-hopaup .box p{line-height: 1.4;margin-bottom: 40px;}
#open-hopup .box-hopaup .box .box-images{}
#open-hopup .box-hopaup .box .box-images p{width: 50%;float: left;}
#open-hopup .box-hopaup .box .box-images p img{width: 100%;height: auto;margin-bottom: 10px;border: 1px solid #eee;}
#open-hopup .box-hopaup .box .box-images p span{font-size: 12px;text-align: center;margin: 0 3px 0;display: block;}
#open-hopup .box-hopaup .box.box-3 .box-images p{width: 33%;}
#bk-screen{display: none;background: #000;width: 100%;height: 100%;position: fixed;left: 0px;top:0px;z-index: 999999998;opacity: 0.8;}
.iframebox iframe{width:100%;height:390px;}
._btn.more{display:none;}