@charset "UTF-8";

header,footer{display:none;}
body,main{width:100%!important; margin:0 !important; padding:0!important;} 
body {min-width:100%!important;}
.container{max-width:100%!important;}


.access#makuhari_bus{width:100%!important; display:block; margin:0!important; padding:0!important;}
.access#makuhari_bus .area-title h1._h1{margin:20px 0!important; padding:0!important; letter-spacing:5px; margin-right: -5px;}
.access#makuhari_bus .area-basic-info,
.access#makuhari_bus .area-place-info,
.access#makuhari_bus .area-directions,
.access#makuhari_bus .area-image{width:100%!important; border-top:#3a2f08 1px solid; padding-top:15px;}
.access#makuhari_bus .area-basic-info ._p{margin-bottom:30px; width:45%!important; float:left;}
.access#makuhari_bus ._p span{font-size:11px!important; display:block; margin-top:10px;}
.access#makuhari_bus .area-basic-info ._table{margin-bottom:30px; width:50%!important; text-align:center; font-size:12px!important; float:right;}
.access#makuhari_bus .area-basic-info ._table br{display:block!important;}
.access#makuhari_bus .area-basic-info ._table th,
.access#makuhari_bus .area-basic-info ._table td{text-align:center; border:1px #ccc solid; padding:10px; vertical-align:middle!important;}
.access#makuhari_bus .area-basic-info ._table td{white-space: nowrap;}
.access#makuhari_bus .area-place-info .img{width:30%!important;}
.access#makuhari_bus .area-place-info .txt{width:65%!important;}
.access#makuhari_bus .area-place-info .txt{float:left;}
.access#makuhari_bus .area-place-info .img{float:right;}
.access#makuhari_bus .area-place-info .img img{width:100%!important;}
.access#makuhari_bus .area-place-info .img span{margin-bottom:30px;}
.access#makuhari_bus .area-place-info .txt ul{list-style:disc; margin:0 0 20px 20px; line-height:1.6;}
.access#makuhari_bus .area-place-info .txt ul li{ font-size:13px!important;}
.access#makuhari_bus .area-place-info .txt ul span{font-size:11px!important; display:block;}
.access#makuhari_bus .area-place-info .image{clear:both; margin-bottom:30px;}
.access#makuhari_bus .area-place-info .btn{display:none;}
.access#makuhari_bus .area-place-info .image img{width:70%!important; margin:0 auto!important; text-align:center;}

.access#makuhari_bus .area-directions{margin-bottom:50px;}
.access#makuhari_bus .area-directions ul{margin:0 auto!important;}
.access#makuhari_bus .area-directions ul li{width:24%!important; height:auto; margin:0 1% 0 0!important; float:left; box-sizing:border-box;}
.access#makuhari_bus .area-directions ul li:nth-child(2n){margin-right:0;}
.access#makuhari_bus .area-directions ul li .image img{width:100%;}
.access#makuhari_bus .area-directions ul li .lead{font-size:13px!important; line-height:1.6; margin-top:10px; display:block;}

.access#makuhari_bus .area-image{margin-bottom:50px;}
.access#makuhari_bus .area-image ._p{margin-bottom:30px;}
.access#makuhari_bus .area-image .img{margin-bottom:30px;}
.access#makuhari_bus .area-image .img img{width:70%; margin:0 auto; text-align:center;}