@charset "UTF-8";

.sp{display: none !important;}

/* import font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);

.font-e,
header .language label span,
header .language ul,
header .reserv i,
header .menu ul i,
footer .btn-footer span,
footer .credit{font-family: 'EB Garamond', serif; font-weight:normal; letter-spacing: 0.045em;}
.font-o{font-family: 'Open Sans', sans-serif; font-weight:300; letter-spacing: 0.045em;}
.font-p,
footer .address .tel,
footer .address .post{font-family: Crimson Text , sans-serif; font-weight:500; letter-spacing: 0.045em;}
.font-g{font-family:/* "游ゴシック", YuGothic,*/ "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif; font-weight:normal; letter-spacing: 0.045em;}
.font-m,
header .best-rate,
header .reserv span,
header .menu ul span,
footer .address,
footer .btn-footer{font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-weight:normal; letter-spacing: 0.045em;}

/* basic layout */
html,body{width: 100%;height: 100%;}
body {color:#3a2f08;min-width: 1200px;}
.container {max-width:1200px; margin: 0 auto; position: relative; box-sizing:border-box;}
header{width: 100%; height:260px; font-size:14px;}

/* header */
header .link{position:absolute; top:10px;}
header .logo{position:absolute; top:29px; left:450px;}

header .language{position:absolute; top:11px; left:687px;}
header .language label{color:#3a2f08; padding:0; display: block; margin: 0; border: 1px solid #fff; width:190px; cursor:pointer; text-align:right;}
header .language label span{padding:8px 22px 8px 10px; display: block; background: url(/global/assets/images/ja/resort_hotels/pc/header-language.png) right center no-repeat;}
header .language{-webkit-transition: 0.2s ease-in-out;  -moz-transition: 0.2s ease-in-out;  -o-transition: 0.2s ease-in-out;transition: 0.2s ease-in-out;}
header .language:hover{opacity:0.9; filter: alpha(opacity=90); -ms-filter: "alpha(opacity=90)"; -moz-opacity:0.9; -khtml-opacity: 0.9; zoom:1;}
header .language input[type="checkbox"].on-off{display: none;}
header .language ul {width:190px; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; margin: 0; padding: 0; list-style: none;}
header .language li {margin-bottom:1px;}
header .language li a{padding:0 10px; background:#f4f3f0; color:#3a2f08; display:block; line-height:27px;}
header .language input[type="checkbox"].on-off + ul{height: 0; overflow: hidden;}
header .language input[type="checkbox"].on-off:checked + ul{height:140px;}

header .reserv{position:absolute; top:0; left:1050px;}
header .reserv{text-align:center; width:150px; display:block;}
header .reserv i{font-style:normal; font-size:13px; line-height:1; margin-bottom:5px; display:block;}
header .reserv a{color:#fff; background:#877434; display:block; padding:20px 0 0 0; height:50px;}

header .best-rate{position:absolute; top:0; left:890px;}
header .best-rate{text-align:center; width:150px; display:block; font-size:16px;}
header .best-rate span{font-style:normal; font-size:14px; line-height:1.4; margin-bottom:5px; display:block;}
header .best-rate a{color:#fff; background:#aa1819; display:block; }

header .menu{position:absolute; top:190px; background:rgba(191,175,123,0.85); width:100%; height:70px; min-width: 1200px;}
header .menu ul{width:1200px;}
header .menu ul i{font-style:normal; font-size:13px; line-height:1; margin-bottom:7px; display:block;}
header .menu ul li{text-align:center; width:171px; float:left;}
header .menu ul li:nth-child(2n){width:172px;}
header .menu ul li a{color:#fff; padding:18px 0; display:block; height:34px;}
header .menu ul li a:hover{background:#877434;}

header .box-sns ul{position: absolute;right: 0;top: 80px;}
header .box-sns ul .image{width: 30px;float: left;}
header .box-sns ul .image:first-child{margin-right: 10px;}
header .box-sns ul .image img{width: 30px;}

/* footer */
footer{background:#f4f3f0; width:100%; height:180px; margin-top:41px;} 
footer .pagetop{position:absolute; right:0; top:-41px;}
footer .logo{position:absolute; top:27px; left:0;}
footer .address{position:absolute; top:25px; right:0px; font-size:14px; line-height:1.4; width:790px;}
footer .address .post{font-size:16px;}
footer .address .tel{padding-left:25px; font-size:24px; background:url(/global/assets/images/ja/resort_hotels/pc/footer-tel.png) left center no-repeat;}
footer .address .mapcode{position:absolute; top:3px; right:0; padding-left:23px; background:url(/global/assets/images/ja/resort_hotels/common/ico-mapcode.png) left center no-repeat; background-size:17px 17px;}
footer .menu{position:absolute; top:130px; left:0; width:100%; border-top:#604d0b 1px solid; padding-top:15px;}
footer .menu ul{}
footer .menu ul i{font-style:normal; font-size:13px; line-height:1; margin-bottom:7px; display:block;}
footer .menu ul li{float:left;}
footer .menu ul li:after{content:"|"; font-size:12px; color:#3a2f08; margin:0 10px; line-height:1;}
footer .menu ul li:nth-last-child(1):after{content:"";}
footer .menu ul li a{font-size:12px; color:#3a2f08; line-height:1;}
footer .btn-brochure{position:absolute; top:53px; right:590px; text-align:center;}
footer .btn-brochure-en{position:absolute; top:88px; right:590px; text-align:center;}
footer .btn-pet-term{position:absolute; top:53px; right:325px; text-align:center;}
footer .btn-pet-consent{position:absolute; top:88px; right:325px; text-align:center;}
footer .btn-inquiry{position:absolute; top:53px; right:0px; text-align:center;}
footer .btn-brochure a,
footer .btn-brochure-en a{background:#bfaf7b; display:block; color:#fff; line-height:30px; width:200px; height:30px;font-size: 12px;}
footer .btn-pet-term a,
footer .btn-pet-consent a{background:#bfaf7b; display:block; color:#fff; line-height:30px; width:260px; height:30px;font-size: 12px;}
footer .btn-inquiry a{background:#877434; display:block; color:#fff; line-height:65px; width:320px; height:65px;}
footer .credit{position:absolute; top:170px; left:0; font-size:12px;}
footer .link{position:absolute; top:140px; right:0;width: 210px;}
footer .link img{width: 100%;}
/* SEARCH */
section#search,
section#news,
section#info{background:#f3f3f0;}
section#search h3,
section#news h3,
section#info h3{margin-bottom:30px;}
section#search .container{width:1200px; position:relative;}
section#search{padding:40px 0 20px 0; margin-bottom:50px;}
section#search .container{background:#fff; padding:30px;}
section#search select{padding:2px; font-size:12px; position:relative;}
section#search .smoking select,
section#search .price select,
section#search .plan select{min-width:6em;}
section#search .nights,
section#search .people,
section#search .smoking,
section#search .price,
section#search .plan{float:left;}
section#search .price{clear:both;}
section#search .nights p,
section#search .people p,
section#search .smoking p,
section#search .price p,
section#search .plan p{display:inline-block; margin-right:10px; text-align:right;}
section#search .nights p,
section#search .price p,
section#search .people p,
section#search .plan p{width:7em;}
section#search .nights,
section#search .price{width:470px; margin-right:0px;}
section#search .people,
section#search .plan{width:340px; margin-right:0px;}
section#search .nights {position:relative; top:-10px;}
section#search .nights input#select_date{width:5.5em; padding:2px 5px; display:inline-block; margin-right:5px;}
section#search .nights img#calendar{display:inline-block; margin:0; padding:0; height:24px; position:relative; top:9px;}
section#search .nights label{font-size:12px;}

section#search div{margin-bottom:20px;}
section#search .price span{margin-left:5px;}
section#search .btn{ position:absolute; right:30px; bottom:30px; line-height:30px;}
section#search .nights input#select_date{padding:1px 5px;}
section#search.plan .nights {position:relative; top:-1px;}
section#search.plan .people{position:relative; top:6px;}
section#search.plan .smoking{position:relative; top:6px; left:10px;}
section#search.plan .nights,
section#search.plan .price{width:420px; margin-right:0px;}
section#search.plan .people,
section#search.plan .plan{width:280px; margin-right:0px;}
section#search.plan ._h4{position:relative; left:115px; top:10px; display:inline-block;}
section#search.plan .btn-plan{position:absolute; right:30px; bottom:50px; line-height:30px; padding:35px 0  0px 60px; border-left:#3a2f08 1px solid;}
section#search.plan .btn-plan ._btn-small{background: url(/global/assets/images/ja/resort_hotels/pc/btn-small-arrow.png) #bfaf7b 140px 50% no-repeat;}
section#search.plan .btn{position:absolute; right:310px; bottom:50px; line-height:30px;}
section#search.plan label{font-size:12px;}