@charset "UTF-8";

.pc{display: none !important;}

/* import font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);

.font-e,
header .menu ul i,
footer .btn-footer span,
footer .credit{font-family: 'EB Garamond', serif; font-weight:normal; letter-spacing: 0.045em;}
.font-o{font-family: 'Open Sans', sans-serif; font-weight:300; letter-spacing: 0.045em;}
.font-p,
footer .address .tel,
footer .address .post{font-family: Crimson Text , sans-serif; font-weight:500; letter-spacing: 0.045em;}
.font-g{font-family:/* "游ゴシック", YuGothic,*/ "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif; font-weight:normal; letter-spacing: 0.045em;}
.font-m,
header .menu ul span,
footer .address,
footer .btn-footer{font-family:/* "游明朝", YuMincho,*/ "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif; font-weight:normal; letter-spacing: 0.045em;}

/* basic layout */
html,body{}
body {color:#3a2f08;}
.container {margin: 0 auto; padding:0 15px; position: relative; box-sizing:border-box;}
header{width:100%; height:50px; position:absolute; top:0; z-index:99999;}
/* header */
header #mobile-head{background: rgb(255, 255, 255); width: 100%; height:50px; position:relative; z-index:99999; display:block;}
header .logo{position:absolute; top:4px; left:15px;}
header .logo img{height:35px;}

header #nav-toggle {top:15px; width:25px; height:20px; right: 15px; display: none; position: absolute; z-index:99999; cursor: pointer;}
header #nav-toggle div {position: relative;}
header #nav-toggle span {background: rgb(58, 47, 8); transition:0.35s ease-in-out; left: 0px; width: 100%; height: 3px; display: block; position: absolute; -webkit-transition:0s ease-in-out; -moz-transition:0s ease-in-out;}
header #nav-toggle span:nth-child(1) {top: 0px;}
header #nav-toggle span:nth-child(2) {top: 9px;}
header #nav-toggle span:nth-child(3) {top: 18px;}
header #nav-toggle {display: block;}
header .open #nav-toggle span:nth-child(1) {position:relative; top: 9px; transform: rotate(315deg); -webkit-transform: rotate(315deg); -moz-transform: rotate(315deg);}
header .open #nav-toggle span:nth-child(2) {left: 50%; width: 0px;}
header .open #nav-toggle span:nth-child(3) {top: 9px; transform: rotate(-315deg); -webkit-transform: rotate(-315deg); -moz-transform: rotate(-315deg);}
header .open:before{content:""; background:rgba(0,0,0,0.2); top:0; right:0; left:0; bottom:0; z-index:-1; position:fixed; width:100%; height:100%;}

header .open .menu{transform: translateY(711px); -webkit-transform: translateY(711px); -moz-transform: translateY(711px);}
header .menu{transition:0.5s ease-in-out; top: -661px; width: 100%; position: absolute; -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out;}
header .menu ul li{width:100%; background:rgba(59,47,9,1); border-bottom:1px rgba(255,255,229,1) solid; height:50px; line-height:50px; position:relative; box-sizing:border-box;}
header .menu ul li:after{content:""; display:block; width:10px; height:15px; background:url(/global/assets/images/ja/resort_hotels/sp/btn-arrow-sp.png) 0 50% no-repeat; background-size:10px 15px; position:absolute; top:16px; right:25px;}
header .menu ul li:nth-child(n + 10):after{background:none;}
header .menu ul li:nth-child(8){background:rgba(169,25,24,1);}
header .menu ul li:nth-child(9){background:rgba(137,118,52,1); border:none;}
header .menu ul li:nth-child(n + 10){background:rgba(242,243,238,1);  border-bottom:1px rgba(59,47,9,1) solid; width:100%;}
/*header .menu ul li:nth-child(n + 10){background:rgba(242,243,238,1);  border-bottom:1px rgba(59,47,9,1) solid; width:50%; float:left;}
header .menu ul li:nth-child(13){width:100%;}
header .menu ul li:nth-child(2n + 11){border-left:1px rgba(59,47,9,1) solid;}*/
header .menu ul li a {font-size:16px; text-align:left; padding:0 25px; color:rgba(255,255,229,1); display:block;}
header .menu ul li a i{margin-left:15px; font-size:12px; position:relative; top:-2px; font-style:normal;}
header .menu ul li:nth-child(n + 10) a{text-align:center; color:rgba(59,47,9,1); padding:0;}
header .menu ul li:nth-child(n + 10) a i{margin-left:0; font-size:12px;}
header .box-sns ul{position: absolute;right: 55px;top: 15px;}
header .box-sns ul .image{width: 21px;float: left;}
header .box-sns ul .image:first-child{margin-right: 15px;}
header .box-sns ul .image img{width: 21px;}


/* footer */
footer{background:#f4f3f0; width:100%; height:auto; margin:40px 0 0 0; padding:0 0 10px 0; box-sizing:border-box;} 
footer .pagetop{position:absolute; right:13px; top:-40px;}
footer .pagetop img{width:40px;}
footer .logo{text-align:center; margin:0 auto; padding:10px 0 20px 0; width:55%;}
footer .logo img{width:100%;}

footer .address{font-size:14px; line-height:1.4; padding:0 10px; margin-bottom:15px;}
footer .address .post{font-size:18px;}
footer .address .tel{padding-left:15px; font-size:24px; background:url(/global/assets/images/ja/resort_hotels/pc/footer-tel.png) left center no-repeat;}
footer .address .mapcode{padding-left:23px; background:url(/global/assets/images/ja/resort_hotels/common/ico-mapcode.png) left center no-repeat; background-size:17px 17px; display:block;}

footer .btn-brochure,
footer .btn-brochure-en,
footer .btn-pet-term,
footer .btn-pet-consent,
footer .btn-inquiry{text-align:center; font-size:12px;}
footer .btn-brochure{float:left; width:48%; padding:0 0 0 10px; box-sizing:border-box;}
footer .btn-brochure-en{float:right; width:48%; padding:0 10px 0 0; box-sizing:border-box;font-size: 10px;}
footer .btn-pet-term,
footer .btn-pet-consent,
footer .btn-inquiry{padding:0 10px; clear:both;}

footer .btn-brochure a,
footer .btn-brochure-en a{background:#bfaf7b; display:block; color:#fff; line-height:30px; width:100%; height:30px; margin-bottom:10px;}
footer .btn-pet-term a,
footer .btn-pet-consent a{background:#bfaf7b; display:block; color:#fff; line-height:30px; width:100%; height:30px; margin-bottom:10px;}
footer .btn-inquiry a{background:#877434; display:block; color:#fff; line-height:40px; width:100%; height:40px; margin-bottom:10px;}

footer .menu{margin-bottom:15px;}
footer .menu ul{width:100%; padding:0 10px; box-sizing:border-box;}
footer .menu ul i{font-style:normal; font-size:13px; line-height:1; display:block;}
footer .menu ul li{float:left;}
footer .menu ul li:after{content:"|"; font-size:12px; color:#3a2f08; margin:0 5px; line-height:1;}
footer .menu ul li:nth-last-child(1):after{content:"";}
footer .menu ul li a{font-size:12px; color:#3a2f08; line-height:1.6;}

footer .credit{font-size:10px; margin-bottom:0; padding:0 5px;} 
footer .link{width: 60%;margin-top: 10px;margin-bottom: 5px;}
footer .link img{width: 100%;}

/* SEARCH */
section#search,
section#info,
section#news{background:#f3f3f0;}
section#search h3,
section#info h3{margin-bottom:15px; padding:0 25px;}
section#news h3{margin-bottom:15px;}
section#search .container{position:relative; margin:0 15px;}
section#search{padding:40px 0 20px 0; margin-bottom:50px;}
section#search .container{background:#fff; padding:20px 10px;}
section#search select{padding:2px; font-size:12px; position:relative;}
section#search .smoking select,
section#search .price select,
section#search .plan select{min-width:6em;}
section#search .price{line-height:2;}
section#search .nights label{margin-left:6.3em; padding-top:10px; display:inline-block;}
section#search .nights p,
section#search .people p,
section#search .smoking p,
section#search .price p,
section#search .plan p{display:inline-block; text-align:left; width:7em;}
section#search div{margin-bottom:20px;}
section#search .price span{margin-left:5px;}
section#search.plan .btn{margin-bottom:10px;}
section#search h4{border-top:#3a2f08 1px solid; margin-top:20px; padding-top:20px;}