@charset "UTF-8";

.facility#index header{border-bottom:1px #bcb275 solid;}
.facility#index .area-title h1{margin:75px 0 0 0; padding-bottom:40px;}

.facility#index section.area-facility-info{margin:0 auto 50px auto; border-top:#3a2f08 2px solid; padding-top:10px;}
.facility#index section.area-facility-info .image img{margin-bottom:80px; padding:0; width:100%;}
.facility#index section.area-facility-info .image:nth-last-child(1) img{margin-bottom:0px;}
.facility#index section.area-facility-info .image{font-size:20px;}
.facility#index section.area-facility-info .image.elevations,
.facility#index section.area-facility-info .image.plane{position:relative;}
.facility#index section.area-facility-info .image.elevations:before{content:"立面"; position:absolute; top:-40px; left:0px;}
.facility#index section.area-facility-info .image.plane:before{content:"平面"; position:absolute; top:-40px; left:0px;}

.facility#index section.area-facility-etc{margin-bottom:20px; border-top:#3a2f08 2px solid; padding-top:10px;}
.facility#index section.area-facility-etc:nth-last-child(1){margin-bottom:20px;}
.facility#index section.area-facility-etc h2{margin-bottom:30px;}

section.area-facility-etc .image{width:100%;}
section.area-facility-etc .image img{width:60%;}
section.area-facility-etc .txt{width:100%;}

section.area-facility-etc table,
section.area-facility-etc p{margin-bottom:20px;}
section.area-facility-etc p{font-size:12px; line-height:1.8;}
section.area-facility-etc table td p:nth-last-child(1){margin-bottom:0;}
section.area-facility-etc a{ text-decoration:underline;}
section.area-facility-etc table th{width:30%;}
section.area-facility-etc table td{width:70%;}