@charset "UTF-8";

/* import font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

/* basic layout */
body {color: #252525;}
.container {margin: 0 auto; position: relative; width:100%;}
header.global {background: rgba(225,225,225,0.85); position: relative; width: 100%;z-index: 1;}
header.global .inner {padding:6px 3%; box-sizing:border-box; display:table; width: 100%;}
header.global #header-logo{}
header.global #header-logo img{width: 60%;margin: 0 auto 10px;}
header.global .logo {display:table-cell; width:13%;}
header.global .logo img {width:100%;}
header.global nav{}
header.global nav p{display:table-cell; vertical-align:middle;}
header.global nav p.btn-make{width:42%; }
header.global nav p.btn-rupe{width:9%; padding:0 0 0 3%;}
header.global nav p.btn-rupe span{border-right:#b99f35 1px solid; display:block; padding:0 40% 0 0;}
header.global nav p.btn-rupe img{width:100%;}
header.global nav p.btn-language{width:15%; padding:0 3%;}
header.global nav p.btn-language .btn{font-size:10px; font-family: 'EB Garamond', serif; font-weight:normal; letter-spacing: 0.045em; color: #9a9a9a; padding:4px 15px 4px 0; background: url(/global/assets/images/ja/sp/common/header-arrow-lang.png) right center no-repeat; background-size:8px 4px; position:relative; top:-2px;}
header.global nav p.btn-menu{width:5%;}
header.global nav p.btn-menu img{width:100%;}

header.global nav span._btn-header{width:100%; display:block; background: #8560a8; border: solid 1px #8560a8; text-align: center; color: #fff; text-decoration: none; font-size: 9px; line-height:1; font-family: 'Open Sans', sans-serif; font-weight:600; padding:4px; letter-spacing: 0.045em; box-sizing:border-box;}

header.global nav .modal-content {width:100%; margin:0; padding:0; box-sizing:border-box; position:fixed; display: none; z-index:2;}
header.global nav .modal-content .box{width:auto; margin:0 12%; padding:10px 6% 10px 8%; background:rgba(36,36,36,0.9); border:#8c8c8c 1px solid; box-sizing:border-box;}

header.global nav .modal-content ul {width:70%; float:left;}
header.global nav .modal-content ul li a {font-size: 16px; line-height: 54px; color: #fff; border-top: solid 1px #555; display: block;}
header.global nav .modal-content ul li:first-child a {border-top: none;}
header.global nav .btn-close {width:10%; float:right; padding:10px 0 0 0;}
header.global nav .btn-close img{width:100%;}

header.global p.welcome{font-size:9px; font-family: 'Open Sans', sans-serif; font-weight:300; letter-spacing:0em; color: #252525; display:block; width:100%; margin:7px 0 15px 0;}
header.global p.welcome a{color:#252525;}
header.global p.welcome span.name,
header.global p.welcome span.login{border-right:#999 1px solid;}
header.global p.welcome span.name span{color:#ed1c24; margin:0 10px 0 5px;}
header.global p.welcome span.login{margin:0 10px; padding:0 10px 0 0;}
header.global p.welcome span.check{}

header.page {padding-top:40px;}

section.bg-color {background: #ebebeb; padding:30px 0;}
section > .inner{margin: 0 auto; padding:0 12%;}

section.new-jersey {border-bottom: solid 1px #cbcbcb; background: url(/global/assets/images/ja/sp/common/bg-new-jersey.jpg); height:auto; padding:35px 0; background-size:cover; box-sizing:content-box; color: #fff;}
section.new-jersey hr {border-color: #fff !important;}
section.new-jersey  div.btn{margin:25px auto 0;}
section.new-jersey p{}
section.new-jersey ._btn-cta {margin-top:10px;}
section.new-jersey ._lead{color: #fff;}
section.apa-card {border-bottom: solid 1px #cbcbcb; background: url(/global/assets/images/ja/sp/common/bg-apa-card.jpg); height:auto; padding:35px 0; background-size:cover; box-sizing: border-box; color: #fff;}
section.apa-card hr {border-color: #fff !important;}
section.apa-card .main-col {width:100%; margin: 0 0 25px;}
section.apa-card .main-col ._lead {margin:0;color: #fff;}
section.apa-card .main-col .icon {text-align: center; margin: 20px 0 0;}
section.apa-card .main-col .icon img{width:25%;}
section.apa-card .sub-col {width:100%; text-align: center;}
section.apa-card .sub-col .image img{width:65%;}
section.apa-card img {display:inline-block;}
section.apa-card .btn {clear: both; text-align: center;}
section.apa-card ._btn-cta {margin:35px auto 0;}

footer.global {padding:20px 0 0; background: #ebebeb;}
footer.global .inner {position: relative; }
footer.global .logo {margin: 0 10% 20px 10%; width:57%;}
footer.global .logo img {width:100%; height: auto;}
footer.global nav .footer-menu_01 {float: left; margin: 0 0 10px 12%;}
footer.global nav .footer-menu_02 {float: left; margin: 0 0 10px 9%;}
footer.global nav .footer-menu-list li {margin: 0 0 15px;}
footer.global nav .footer-menu-list li a {font-size:12px; line-height: 1.2; font-family: 'Open Sans', sans-serif; font-weight:300; letter-spacing: 0.045em; color: #252525;}
footer.global nav .footer-menu-banners {clear:both; margin:0 5%;}
footer.global nav .footer-menu-banners li {float:left; width:33%; margin-bottom:15px; border-right:#ebebeb 1px solid;}
footer.global nav .footer-menu-banners img {width:100%; height: auto;}
footer.global .copyright { clear: both; width:94%; margin:0px 3%; padding: 25px 7%; box-sizing: border-box; font-size: 10px; line-height: 1.2; font-family: 'Open Sans', sans-serif; font-weight:300; border-top: solid 1px #868686; letter-spacing: 0.01em;}

#section-mainvisual .images img{width:100%;}

/* popup */
#bk_screen{background: #000;opacity: 0.7;position: fixed;width: 100%;height: 100%;z-index: 9998;left: 0px;top: 0px;display: none;}
.content-popup{/*position:fixed;*/ position:absolute;z-index: 9999;left: 0px;top:25px;background: #fff;margin: 0 auto;display: none;}
.content-popup-search{/*position:fixed;*/ position:absolute; z-index: 9999;left: 0px;top:50px;background: #fff;margin: 0 auto;display: none;}
#section-popup-search {margin: 0 2%;}
#section-popup-search h1{text-align:left; color:#ccb468; margin-bottom:0; background:#252525; padding:20px 9% 15px 9%;}
#section-popup-search .box{border:1px #949494 solid; border-top:1px #fff solid; padding:15px 9% 15px 9%;}
#section-popup-search .box input.text{border:1px #949494 solid; width:74%; height:45px; padding:0 15px; margin:0 3% 0 0; line-height:1; display:inline-block; box-sizing:border-box; font-size: 15px; font-family: 'Lato', sans-serif; font-weight:100; letter-spacing: 0.045em; color: #252525; vertical-align:top;}
#section-popup-search .box a{display:inline-block; width:20%; height:45px; margin:0; padding:0; box-sizing:border-box; background:url(/global/assets/images/ja/common/btn-icon-search.png) #855fa7 50% 50% no-repeat; background-size:22px 22px; text-indent:-9999px;}

#section-popup-reservation{margin: 0 2% 0 0; width:96%; box-sizing:border-box;}
#section-popup-reservation h1{text-align:left; color:#ccb468; margin-bottom:0; background:#252525; padding:20px 9% 15px 9%;}
#section-popup-reservation .box{border:1px #949494 solid; border-top:1px #fff solid; padding:15px 9% 15px 9%;}
#section-popup-reservation .box .date input{border:1px #949494 solid; width:100%; height:35px; padding:8px 10px 0 15px; margin:0; line-height:1; display:inline-block; box-sizing:border-box; font-size: 15px; font-family: 'Lato', sans-serif; font-weight:100; letter-spacing: 0.045em; color: #252525; vertical-align:top; background: url(/global/assets/images/ja/sp/about/arrow-btn-down.png) right 50% no-repeat; background-size:37px 12px;}
#section-popup-reservation .box input[type=date]{-webkit-appearance: none; -moz-appearance: none; appearance: none;}
#section-popup-reservation .box input[type=date]::-webkit-inner-spin-button {-webkit-appearance: none;}
#section-popup-reservation .box input[type=date]::-webkit-datetime-edit-year-field:not([aria-valuenow]),
#section-popup-reservation .box input[type=date]::-webkit-datetime-edit-month-field:not([aria-valuenow]),
#section-popup-reservation .box input[type=date]::-webkit-datetime-edit-day-field:not([aria-valuenow]) { color: transparent;}
#section-popup-reservation .box input[type=date]::-webkit-datetime-edit-text {color: #666;}
#section-popup-reservation .box input[type=date]::-webkit-clear-button {-webkit-appearance: none;}
#section-popup-reservation .box input[type=date]::-webkit-calendar-picker-indicator {color: transparent; position: relative; background: url(/global/assets/images/ja/sp/about/arrow-btn-down.png) right 50% no-repeat;}
/*#section-popup-reservation .boxinput[type=date]::-webkit-calendar-picker-indicator:before {content:""; background: url(/global/assets/images/ja/sp/about/arrow-btn-down.png) right 50% no-repeat; position: absolute; left: -5px top: -5px;}*/

#section-popup-reservation span.label{display:block; margin-bottom:5px;}
#section-popup-reservation p.checkin{display:inline-block; margin:0 0 15px 0; width:100%;}
#section-popup-reservation p.checkout{display:inline-block; margin:0 0 15px 0; width:100%;}
#section-popup-reservation p.hotel{display:inline-block;  margin:0 0 15px 0; width:100%;}
#section-popup-reservation p.room{display:inline-block;  margin:0 0 30px 0; width:100%;}
#section-popup-reservation p.city{display:inline-block; margin:0 0 15px 0; width:100%;}
#section-popup-reservation p.prefecture{display:inline-block; margin:0 0 30px 0; width:100%;}
#section-popup-reservation p.logo{display:inline-block; margin:0 0 0 0; width:100%;  vertical-align:top;}
#section-popup-reservation p.logo img{width:57%;}
#section-popup-reservation p.btn{display:inline-block; margin:0 0 25px 0; width:100%;}

#section-popup-reservation a{display:inline-block; width:100%; height:35px; box-sizing:border-box; padding-top:10px;}

#section-popup-reservation .box select{-webkit-appearance: none; -moz-appearance: none; appearance: none; display: block; cursor: pointer;  width: 100%;  border: none; position: relative;}
#section-popup-reservation .box select::-ms-expand{ display: none;}
#section-popup-reservation .box .hotel select,
#section-popup-reservation .box .room select{border:1px #949494 solid; height:35px; padding:0 10px 0 15px; margin:0; line-height:1; display:inline-block; box-sizing:border-box; font-size: 15px; font-family: 'Lato', sans-serif; font-weight:100; letter-spacing: 0.045em; color: #252525; vertical-align:top;}
#section-popup-reservation .box .hotel select{width:100%;  background: url(/global/assets/images/ja/sp/about/arrow-btn-down.png) right 50% no-repeat;  background-size:37px 12px;}
#section-popup-reservation .box .room select{width:100%;  background: url(/global/assets/images/ja/sp/about/arrow-btn-down.png) right 50% no-repeat;  background-size:37px 12px;}
#section-popup-reservation .box .city select{width:100%;  background: url(/global/assets/images/ja/sp/about/arrow-btn-down.png) right 50% no-repeat;  background-size:37px 12px;}
#section-popup-reservation .box .prefecture select{width:100%;  background: url(/global/assets/images/ja/sp/about/arrow-btn-down.png) right 50% no-repeat;  background-size:37px 12px;}

<<<<<<< HEAD
#section-popup-makereservation{margin: 0 2% 0 0; width:96%; box-sizing:border-box;}
#section-popup-makereservation h1{text-align:left; color:#ccb468; margin-bottom:0; background:#252525; padding:20px 9% 15px 9%;}
#section-popup-makereservation .box{border:1px #949494 solid; border-top:1px #fff solid; padding:15px 9% 15px 9%;}

#section-makereservation{padding:0 box-sizing: border-box; font-family:Open Sans;}
#section-makereservation .inner{padding:35px 12% 45px 12%; box-sizing: border-box;}
#section-makereservation ._h1{margin-bottom:35px;}
#section-popup-makereservation .title,
#section-makereservation .title{margin-bottom:10px;}
#section-popup-makereservation .title img,
#section-makereservation .title img{margin-left:15px; display:inline-block; position:relative; top:7px;}

#section-popup-makereservation .item.area,
#section-popup-makereservation .item.rooms,
#section-popup-makereservation .item.nights,
#section-popup-makereservation .item.checkin,
#section-popup-makereservation .item.adults,
#section-makereservation .item.plans,
#section-makereservation .item.fees,
#section-makereservation .item.area,
#section-makereservation .item.rooms,
#section-makereservation .item.nights,
#section-makereservation .item.checkin,
#section-makereservation .item.adults{margin-bottom:30px;}

#section-popup-makereservation .item.checkin button,
#section-makereservation .item.checkin button{display:none;}

#section-popup-makereservation .item.smoking,
#section-makereservation .item.smoking{margin-bottom:45px; text-align:center;}
#section-popup-makereservation .item.smoking span,
#section-makereservation .item.smoking span{margin:0 10px;}
#section-popup-makereservation .item.checkin img,
#section-makereservation .item.checkin img{display:inline-block; position:relative; top:8px;}
#section-popup-makereservation select,
#section-makereservation select{width:100%;}

#section-popup-makereservation .btn ._btn-cta,
#section-makereservation .btn ._btn-cta{width:100%; margin:40px auto 0 auto; font-size:16px;}

/* #section-another */
#section-another {padding: 35px 0 60px;}
#section-another hr {width: 100%; margin: 0 auto 20px; border-top: solid 1px #868686; border-bottom: solid 1px #afafaf;}
#section-another .search_box {margin: 0 auto;}
#section-another .search_box .city, #section-another .search_box .prefecture {position: relative; display: block; width: 100%; margin-bottom: 20px; border-bottom: solid 1px #868686; background: url(/global/assets/images/ja/sp/hotels/arrow-area-search.png) right 10px center no-repeat; background-size: 22px auto; }
#section-another .search_box select, #section-another .search_box option {font-size: 16px; color: #252525; text-align: left; font-family: 'Lato', sans-serif; font-weight:400; width: 100%; height: 32px; line-height: 32px; padding: 0px; margin: 0; background-color: transparent; border: none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; }
#section-another .search_box option {height: auto;}
#section-another .search_box ._btn-cta {width: 100%; margin-top: 50px; font-size: 15.5px; padding: 15px;}
