@charset "UTF-8";

/* import font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

/* basic layout */
html,body{width: 100%;height: 100%;}
body {color: #252525;}
.container {max-width: 1600px; margin: 0 auto; position: relative;}
header.global {background: rgba(225,225,225,0.85); position: relative; width: 100%; height:155px;}
header.global .logo {margin: 23px 0 0 -28px; float: left;}
header.global .logo img {width: 385px;}
header.global nav {float: right; margin: 60px 0 0;}
header.global nav > ul {float: left;}
header.global nav > ul > li {float: left; margin: 0 30px 0 0;}
header.global nav > ul > li a {font-size:18px; font-family: 'EB Garamond', serif; font-weight:normal; letter-spacing: 0.045em; color: #252525;}
header.global nav > ul > li span._btn-header {width: 200px; display: block; background: #8560a8; border: solid 1px #8560a8; text-align: center; color: #fff; text-decoration: none; font-size: 16px; line-height: 1.2; font-family: 'Open Sans', sans-serif; font-weight:600; padding: 8px; box-sizing: border-box; letter-spacing: 0.045em; margin: -9px 5px 0;cursor: pointer;}
header.global .nav-lang {float: left; position: relative;}
header.global .nav-lang .btn {cursor: pointer; font-size:18px; font-family: 'EB Garamond', serif; font-weight:normal; letter-spacing: 0.045em; color: #9a9a9a; padding-right: 27px; background: url(/global/assets/images/ja/pc/common/header-arrow-lang.png) right center no-repeat;}
header.global .nav-lang .btn.close {background: url(/global/assets/images/ja/pc/common/header-arrow-lang-close.png) right center no-repeat;}
header.global .nav-lang .box-select {display: none; background: rgba(37,37,37,0.9); border:solid 1px #959595; padding: 0 25px; position: absolute; left: -17px; top: 28px}
header.global .nav-lang .box-select li a {font-size: 16px; line-height: 54px; color: #fff; border-top: solid 1px #555; display: block; width: 170px;}
header.global .nav-lang .box-select li:first-child a {border-top: none;}

header.global p.welcome{font-size:17px; font-family: 'Open Sans', sans-serif; font-weight:300; letter-spacing: 0.045em; color: #252525; display:block;  float:right; text-align:right; width:100%;}
header.global p.welcome a{color:#252525;}
header.global p.welcome span.name,
header.global p.welcome span.login{border-right:#999 1px solid;}
header.global p.welcome span.name span{color:#ed1c24; margin:0 20px 0 10px;}
header.global p.welcome span.login{margin:0 20px; padding:0 20px 0 0;}
header.global p.welcome span.check{}

header.page {padding-top: 80px;}

section.bg-color {background: #ebebeb; padding:40px 0;}
section > .inner, header > .inner, footer > .inner {max-width: 1170px;min-width: 1170px;margin: 0 auto;}

section.new-jersey {border-bottom: solid 1px #cbcbcb; background: url(/global/assets/images/ja/pc/common/bg-new-jersey.jpg); height: 770px; padding: 190px 0 0; box-sizing: border-box; color: #fff;}
section.new-jersey hr {border-color: #fff !important; margin-bottom:40px!important;}
section.new-jersey  div.btn{ text-align:center;}
section.new-jersey p{display:inline-block; width:420px; margin:0 25px;}
section.new-jersey ._btn-cta {width: 420px; margin: 110px auto 0;}
section.new-jersey ._lead{color: #fff;}
section.apa-card {border-bottom: solid 1px #cbcbcb; background: url(/global/assets/images/ja/pc/common/bg-apa-card.jpg); height: 641px; padding: 100px 0 0; box-sizing: border-box; color: #fff;}
section.apa-card hr {border-color: #fff !important;}
section.apa-card .main-col {width: 573px; float: left; margin: 0 0 50px;}
section.apa-card .main-col ._lead {margin:0;color: #fff;}
section.apa-card .main-col .icon {text-align: center; margin: 20px 0 0;}
section.apa-card .sub-col {width: 570px; float: right; text-align: center;}
section.apa-card img {display:inline-block;}
section.apa-card .btn {clear: both; text-align: center;padding-top: 1px;}
section.apa-card ._btn-cta {width: 370px; margin: 55px auto 0;}

footer.global {padding: 64px 0 0; background: #ebebeb;}
footer.global .inner {position: relative; }
footer.global .logo {margin: 0 10px; width: 420px; float: left;}
footer.global .logo img {width: 420px; height: auto;}
footer.global nav .footer-menu_01 {float: left; margin: 0 0 25px 120px;}
footer.global nav .footer-menu_02 {float: left; margin: 0 0 25px 90px;}
footer.global nav .footer-menu-list li {margin: 0 0 20px;}
footer.global nav .footer-menu-list li a {font-size: 17px; line-height: 1.2; font-family: 'Open Sans', sans-serif; font-weight:300; letter-spacing: 0.045em; color: #252525;}
footer.global nav .footer-menu-banners {position: absolute; right: -15px; top: 0;}
footer.global nav .footer-menu-banners li {margin: 0 0 10px;}
footer.global nav .footer-menu-banners img {width: 170px; height: auto;}
footer.global .copyright { clear: both; width: 1200px; margin: 0 -15px 0; padding: 25px 15px; box-sizing: border-box; font-size: 16px; line-height: 1.2; font-family: 'Open Sans', sans-serif; font-weight:300; border-top: solid 1px #868686; letter-spacing: 0.01em;}

/* popup */
#bk_screen{background: #000;opacity: 0.7;position: fixed;width: 100%;height: 100%;z-index: 9998;left: 0px;top: 0px;display: none;}
.content-popup{position: fixed;z-index: 9999;left: 0px;top:50px;background: #fff;margin: 0 auto;display: none;}
.content-popup-search{position: fixed;z-index: 9999;left: 0px;top:50px;background: #fff;margin: 0 auto;display: none;}
#section-popup-search {max-width: 1170px;min-width: 1170px;margin: 0 auto;}
#section-popup-search h1{text-align:left; color:#ccb468; margin-bottom:0; background:#252525; padding:36px 100px 28px 100px;font-size: 25px;}
#section-popup-search .box{border:1px #949494 solid; border-top:1px #fff solid; padding:40px 100px 50px 100px;}
#section-popup-search .box input.text{border:1px #949494 solid; width:800px; height:75px; padding:0 30px; margin:0 30px 0 0; line-height:1; display:inline-block; box-sizing:border-box; font-size: 26px; font-family: 'Lato', sans-serif; font-weight:100; letter-spacing: 0.045em; color: #252525; vertical-align:top;}
#section-popup-search .box a{display:inline-block; width:125px; height:75px; margin:0; padding:0; box-sizing:border-box; background:url(/global/assets/images/ja/common/btn-icon-search.png) #855fa7 50% 50% no-repeat; background-size:38px 38px; text-indent:-9999px;}

#section-popup-reservation{max-width: 1170px;min-width: 1170px;margin: 0 auto;}
#section-popup-reservation h1{text-align:left; color:#ccb468; margin-bottom:0; background:#252525; padding:36px 100px 28px 100px;}
#section-popup-reservation .box{border:1px #949494 solid; border-top:1px #fff solid; padding:40px 100px 50px 100px;}
#section-popup-reservation .box .date input{border:1px #949494 solid; width:470px; height:75px; padding:0 20px 0 30px; margin:0; line-height:1; display:inline-block; box-sizing:border-box; font-size: 16px; font-family: 'Lato', sans-serif; font-weight:100; letter-spacing: 0.045em; color: #252525; vertical-align:top; background: url(/global/assets/images/ja/pc/about/arrow-btn-down.png) 420px 50% no-repeat; height:45px;}
#section-popup-reservation .box .date input::-ms-clear{display:none;}
/*#section-popup-reservation .box input[type=date]{-webkit-appearance: none; -moz-appearance: none; appearance: none;}
#section-popup-reservation .box input[type=date]::-webkit-inner-spin-button {-webkit-appearance: none;}
#section-popup-reservation .box input[type=date]::-webkit-datetime-edit-year-field:not([aria-valuenow]),
#section-popup-reservation .box input[type=date]::-webkit-datetime-edit-month-field:not([aria-valuenow]),
#section-popup-reservation .box input[type=date]::-webkit-datetime-edit-day-field:not([aria-valuenow]) { color: transparent;}
#section-popup-reservation .box input[type=date]::-webkit-datetime-edit-text {color: #666;}
#section-popup-reservation .box input[type=date]::-webkit-clear-button {-webkit-appearance: none;}
#section-popup-reservation .box input[type=date]::-webkit-calendar-picker-indicator {color: transparent; position: relative; background: url(/global/assets/images/ja/pc/about/arrow-btn-down.png) right 50% no-repeat;}
/*#section-popup-reservation .boxinput[type=date]::-webkit-calendar-picker-indicator:before {content:""; background: url(/global/assets/images/ja/pc/about/arrow-btn-down.png) right 50% no-repeat; position: absolute; left: -5px top: -5px;}*/

#section-popup-reservation span.label{display:block; margin-bottom:25px;font-size: 20px;}
#section-popup-reservation p.checkin{display:inline-block; margin:0 19px 30px 0; width:470px;}
#section-popup-reservation p.checkout{display:inline-block; margin:0 0 30px 0; width:470px;}
#section-popup-reservation p.hotel{display:inline-block; margin:0 24px 60px 0; width:810px;}
#section-popup-reservation p.room{display:inline-block; margin:0 0 60px 0; width:125px;}
#section-popup-reservation p.city{display:inline-block; margin:0 19px 60px 0; width:470px;}
#section-popup-reservation p.prefecture{display:inline-block; margin:0 0 60px 0; width:470px;}
#section-popup-reservation p.logo{display:inline-block; margin:0 0 0 0; width:330px; float:left;}
#section-popup-reservation p.logo img{width:100%;}
#section-popup-reservation p.btn{display:inline-block; margin:0; width:550px; float:right;}

#section-popup-reservation a{display:inline-block; width:550px; height:75px; box-sizing:border-box; padding-top:22px;}

#section-popup-reservation .box select{-webkit-appearance: none; -moz-appearance: none; appearance: none; display: block; cursor: pointer;  width: 100%;  border: none; position: relative;}
#section-popup-reservation .box select::-ms-expand{ display: none;}
#section-popup-reservation .box .hotel select,
#section-popup-reservation .box .room select,
#section-popup-reservation .box .city select,
#section-popup-reservation .box .prefecture select{border:1px #949494 solid; height:75px; padding:0 20px 0 30px; margin:0; line-height:1; display:inline-block; box-sizing:border-box; font-size: 16px; font-family: 'Lato', sans-serif; font-weight:100; letter-spacing: 0.045em; color: #252525; vertical-align:top;}
#section-popup-reservation .box .hotel select{width:810px;  background: url(/global/assets/images/ja/pc/about/arrow-btn-down.png) 760px 50% no-repeat;height: 45px;}
#section-popup-reservation .box .room select{width:125px;  background: url(/global/assets/images/ja/pc/about/arrow-btn-down.png) 80px 50% no-repeat;height: 45px;font-size: 16px;}
#section-popup-reservation .box .city select{width:470px;  background: url(/global/assets/images/ja/pc/about/arrow-btn-down.png) 420px 50% no-repeat;}
#section-popup-reservation .box .prefecture select{width:470px;  background: url(/global/assets/images/ja/pc/about/arrow-btn-down.png) 420px 50% no-repeat;}

#section-popup-makereservation{max-width: 1170px;min-width: 1170px;margin: 0 auto;}
#section-popup-makereservation h1{text-align:left; color:#ccb468; margin-bottom:0; background:#252525; padding:36px 100px 28px 100px;}
#section-popup-makereservation .box{border:1px #949494 solid; border-top:1px #fff solid; padding:40px 100px 50px 100px;}

#section-makereservation{padding:110px 0 0px 0; height:782px; box-sizing: border-box; background: url(/global/assets/images/ja/pc/top/bg-makereservation.jpg) center top no-repeat; font-family:Open Sans;}
#section-makereservation .inner{padding:60px 100px 50px 100px; height:562px; background:#fff; box-sizing: border-box;}
#section-makereservation.plan .inner{padding-top:40px;}
#section-makereservation ._h1{margin-bottom:60px;}
#section-popup-makereservation .title,
#section-makereservation .title{font-size:20px;}
#section-popup-makereservation .title.area,
#section-popup-makereservation .title.checkin,
#section-popup-makereservation .title.rooms,
#section-makereservation .title.plans,
#section-makereservation .title.fees,
#section-makereservation .title.area,
#section-makereservation .title.checkin,
#section-makereservation .title.rooms{width:170px; display:inline-block; position:relative; top:3px;}
#section-popup-makereservation .item.area,
#section-popup-makereservation .item.rooms,
#section-popup-makereservation .item.adults,
#section-makereservation .item.plans,
#section-makereservation .item.fees,
#section-makereservation .item.area,
#section-makereservation .item.rooms,
#section-makereservation .item.adults{display:inline-block; margin-bottom:30px;}
#section-makereservation.plan .item.plans,
#section-makereservation.plan .item.fees,
#section-makereservation.plan .item.area,
#section-makereservation.plan .item.rooms,
#section-makereservation.plan .item.adults{display:inline-block; margin-bottom:20px;}
#section-popup-makereservation .item.checkin,
#section-popup-makereservation .item.nights,
#section-popup-makereservation .item.smoking,
#section-makereservation .item.checkin,
#section-makereservation .item.nights,
#section-makereservation .item.smoking{display:inline-block; margin-bottom:18px;}
#section-makereservation.plan .item.checkin,
#section-makereservation.plan .item.nights,
#section-makereservation.plan .item.smoking{display:inline-block; margin-bottom:8px;}

#section-popup-makereservation .item.checkin,
#section-makereservation .item.checkin{width:325px;}

#section-popup-makereservation .item.checkin input,
#section-makereservation .item.checkin input{width:210px;}
#section-popup-makereservation .item.checkin button,
#section-makereservation .item.checkin button{background: none;border: none;}


#section-makereservation .item.plans{width:400px;}
#section-popup-makereservation .item.rooms,
#section-popup-makereservation .item.adults,
#section-makereservation .item.rooms,
#section-makereservation .item.adults{margin-right:50px;}
#section-popup-makereservation .item.checkin img,
#section-makereservation .item.checkin img{display:inline-block; position:relative; top:8px;}
#section-popup-makereservation .item.area select,
#section-popup-makereservation .item.checkin select,
#section-makereservation .item.fees select,
#section-makereservation .item.area select,
#section-makereservation .item.checkin select{width:270px; display:inline-block;}
#section-popup-makereservation .item.area select:nth-child(1),
#section-makereservation .item.fees select:nth-child(1){margin-right:15px;}
#section-makereservation .item.fees select:nth-child(2){margin-left:15px;}
#section-makereservation .item.area select:nth-child(1){margin-right:55px;padding: 0 30px 0 10px;}
#section-makereservation .item.area select:nth-child(2){padding: 0 30px 0 10px;}

#section-popup-makereservation .title.nights,
#section-makereservation .title.nights{width:140px; display:inline-block; position:relative; top:3px;}
#section-popup-makereservation .title.adults,
#section-makereservation .title.adults{width:120px; display:inline-block; position:relative; top:3px;}
#section-popup-makereservation .item.nights select,
#section-popup-makereservation .item.rooms select,
#section-popup-makereservation .item.adults select,
#section-makereservation .item.nights select,
#section-makereservation .item.rooms select,
#section-makereservation .item.adults select{width:125px; display:inline-block;}
#section-popup-makereservation .title.smoking,
#section-makereservation .title.smoking{width:120px; display:inline-block; position:relative; top:12px;}

#section-popup-makereservation .btn ._btn-cta,
#section-makereservation .btn ._btn-cta{width:370px; margin:40px auto 0 auto;}

/*lightbox*/
.cboxPhoto{margin-top: 0px !important;width: auto !important; height: 100% !important;}

/*#section-another*/
#section-another {padding: 60px 0 80px;}
#section-another hr {width: 960px; margin: 0 auto 55px; border-top: solid 1px #868686; border-bottom: solid 1px #afafaf;}
#section-another .search_box {width: 1170px; margin: 0 auto;}
#section-another .search_box .city, #section-another .search_box .prefecture {position: relative; display: block; width: 370px; margin-right: 30px; float: left; border-bottom: solid 1px #868686; background: url(/global/assets/images/ja/pc/hotels/arrow-area-search.png) right 10px center no-repeat;}
#section-another .search_box select, #section-another .search_box option {font-size: 20px; color: #252525; text-align: left; font-family: 'Lato', sans-serif; font-weight:400; width: 100%; height: 42px; line-height: 42px; padding: 0px; margin: 0; background-color: transparent; border: none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; }
#section-another .search_box option {height: auto;}
#section-another .search_box ._btn-cta {width: 370px; float: right; margin-top: -10px;}

