@charset "UTF-8";

/* web Fonts */
@font-face {
   font-family: 'EB Garamond';
   src: url('../../../font/EB_Garamond/EBGaramond-Regular.ttf') format("truetype");
}
@font-face {
   font-family: 'Lato';
   src: url('../../../font/Lato/Lato-Regular.ttf') format("truetype");
   font-weight: 400;
}
@font-face {
   font-family: 'Lato';
   src: url('../../../font/Lato/Lato-Light.ttf') format("truetype");
   font-weight: 300;
}
@font-face {
   font-family: 'Lato';
   src: url('../../../font/Lato/Lato-Bold.ttf') format("truetype");
   font-weight: 700;
}

/* cording support */
.clear {clear: both;}
.clearfix {min-height:1px}
.clearfix:after {content:".";display:block;clear:both;height:0;visibility:hidden}
sup{font-size: 10px;vertical-align: top;}
a{ text-decoration: none;}
img {display: block;}

/* basic styles */
._h1{font-size:45px; font-family: 'EB Garamond', serif; font-weight:normal; letter-spacing: 0.01em; text-align: center;margin-bottom: 40px;}
._h1.title{margin-bottom: 30px;}
._h1.article_title{margin-bottom: 60px;}

._h2{font-size:30px; font-family: 'Lato', sans-serif; font-weight:400; letter-spacing: 0.05em;margin-bottom: 60px;}
._h3{font-size:26px; font-family: 'Lato', sans-serif; font-weight:400; letter-spacing: 0.05em;margin-bottom: 45px;}
._h4{font-size:20px; font-family: 'Lato', sans-serif; font-weight:400; margin-bottom: 40px;}
._h5{font-size:20px; font-family: 'Lato', sans-serif; font-weight:400; margin-bottom: 20px;line-height: 1.4;font-weight: bold;}

._h1 small { display: block; font-size:25px; font-family: 'Lato', sans-serif; font-weight:400; letter-spacing: 0.065em; text-align: center; margin: 0 0 15px;}

._hr {border: solid 1px #000; border-width: 0 0 1px; margin: 50px auto 50px;}
._hr-wide {border: solid 1px #000; border-width: 0 0 1px; margin: 50px auto; max-width:1600px; min-width:1170px;}
._h1 + ._hr {border: solid 1px #000; width: 440px; border-width: 0 0 1px; margin: 30px auto;}

._lead {text-align: center; margin: 0 100px; font-size: 20px; line-height: 1.5; font-family: 'Lato', sans-serif; font-weight:100; letter-spacing: 0.045em;color: #252525;}
._p {font-size: 20px; line-height: 1.5; font-family: 'Lato', sans-serif; font-weight:100; letter-spacing: 0.045em;color: #252525;margin-bottom: 45px;}
._p.indent{text-indent: -1em;padding-left: 1em;}
._ul {list-style:disc outside; margin-left: 25px; color: #947f3a; font-size:20px; line-height: 1.5; font-family: 'Lato', sans-serif; font-weight:100;margin-bottom: 45px;}
._ol {list-style:decimal outside; margin-left: 25px; color: #947f3a; font-size:20px; line-height: 1.5; font-family: 'Lato', sans-serif; font-weight:700;margin-bottom: 45px;}
._ul li, ._ol li {margin-bottom: 10px;}
._ul ._li-content, ._ol ._li-content {color: #252525; font-weight:100;}

._q-box {font-size: 20px; line-height: 1.2; font-family: 'Lato', sans-serif; font-weight:100; letter-spacing: 0.045em; margin-bottom: 12px;line-height: 1.4;color: #252525;}
._q-box:before {content: "Q:"; font-family: 'Lato', sans-serif; font-weight:700; color: #947f3a; margin-right: 10px;}
._a-box {font-size: 20px; line-height: 1.2; font-family: 'Lato', sans-serif; font-weight:100; letter-spacing: 0.045em; margin-bottom: 12px;line-height: 1.4;color: #252525;margin-bottom: 45px;}
._a-box:before {content: "A:"; font-family: 'Lato', sans-serif; font-weight:700; color: #947f3a; margin-right: 10px;}

._asterix {font-size: 16px; line-height: 1.5; font-family: 'Lato', sans-serif; font-weight:100; letter-spacing: 0.045em;margin-bottom: 30px;color: #252525;}

._info-box {border:solid 1px #868686; width: 277px; box-sizing: border-box; text-align: center; color: #707070; padding: 10px;}
._info-box > .text {font-size:16px; font-family: 'EB Garamond', serif; font-weight:normal; letter-spacing: 0.045em; margin: 0 0 4px;}
._info-box > .time {font-size:21px; font-family: 'Lato', sans-serif; font-weight:700; letter-spacing: 0.01em;}

._category_h3 {background: rgba(148,127,58,1); color: #fff; font-size:26px; font-family: 'Lato', sans-serif; font-weight:700; letter-spacing: 0.05em; padding: 20px; width: 572px; box-sizing: border-box;}
._photo-item_h3 {background: rgba(148,127,58,0.8); color: #fff; font-size:20px; font-family: 'Lato', sans-serif; font-weight:700; letter-spacing: 0.05em; padding: 22px 20px; width: 572px; box-sizing: border-box;}
._small-photo_h4 {background: rgba(148,127,58,0.8); color: #fff; font-size:20px; font-family: 'Lato', sans-serif; font-weight:700; letter-spacing: 0.05em; padding: 26px 20px; width: 374px; box-sizing: border-box;}
._tabs-small-image {background: rgba(148,127,58,0.8); color: #fff; font-size:20px; font-family: 'Lato', sans-serif; font-weight:700; letter-spacing: 0.05em; padding: 20px 30px; width: 311px; box-sizing: border-box;}

._table {}
._table thead {}
._table tbody {}
._table tbody th, ._table tbody td {font-size: 20px; line-height: 1.4; font-family: 'Lato', sans-serif; font-weight:100; letter-spacing: 0.01em; padding: 14px 25px; border: solid 1px #959595;color: #252525;}
._table.white tbody th, ._table.white tbody td {border: solid 1px #fff;border-left: none;border-bottom: none;}
._table.white tbody td:nth-last-child(1){border-right: none;}
._table tbody th {border-width: 1px 1px 0 0;}
._table tbody td {border-width: 1px 0 0 0;}
._table tbody tr:first-child th, ._table tbody tr:first-child td {border-top: none;}

/* css3 animation */
._fadeout {-webkit-animation: fadeOut .5s cubic-bezier(.55,0,.1,1) both;animation: fadeOut .5s cubic-bezier(.55,0,.1,1) both;}
._fadein {-webkit-animation: fadeIn .5s cubic-bezier(.55,0,.1,1) both;animation: fadeIn .5s cubic-bezier(.55,0,.1,1) both;}

/* btn */
._btn-cta { width: 572px; display: block; background: #8560a8; border: solid 1px #8560a8; text-align: center; color: #fff; text-decoration: none; font-size: 26px; line-height: 1.2; font-family: 'Lato', sans-serif; font-weight:700; padding: 17px; box-sizing: border-box; letter-spacing: 0.045em;cursor: pointer;}
._btn-cta2 { width: 572px; display: block; background: #fff; border: solid 1px #8560a8; text-align: center; color: #8560a8; text-decoration: none; font-size: 26px; line-height: 1.2; font-family: 'Lato', sans-serif; font-weight:700; padding: 17px; box-sizing: border-box; letter-spacing: 0.045em;cursor: pointer;}
._btn-search { width: 170px; display: block; background: #8560a8; border: solid 1px #8560a8; text-align: center; color: #fff; text-decoration: none; font-size: 20px; line-height: 1.2; font-family: 'Lato', sans-serif; font-weight:700; padding: 8px; box-sizing: border-box; letter-spacing: 0.045em;cursor: pointer;}
._btn-more { width: 270px; display: block; background: #8560a8; border: solid 1px #8560a8; text-align: center; color: #fff; text-decoration: none; font-size: 20px; line-height: 1.2; font-family: 'Lato', sans-serif; font-weight:700; padding: 5px; box-sizing: border-box; letter-spacing: 0.045em;cursor: pointer;}
._btn-more2 { width: 270px; display: block; background: #fff; border: solid 1px #8560a8; text-align: center; color: #8560a8; text-decoration: none; font-size: 20px; line-height: 1.2; font-family: 'Lato', sans-serif; font-weight:700; padding: 5px; box-sizing: border-box; letter-spacing: 0.045em;cursor: pointer;}

._btn-arrow-left { background: url(/global/assets/images/ja/pc/common/arrow-btn-left.png) 32px center no-repeat; }


/* a link */
a img,a{-webkit-transition: 0.2s ease-in-out;  -moz-transition: 0.2s ease-in-out;  -o-transition: 0.2s ease-in-out;transition: 0.2s ease-in-out;}
a img:hover,a:hover{opacity:0.7; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"; -moz-opacity:0.7; -khtml-opacity: 0.7; zoom:1;}
a img:active,a:active{opacity:0.9; filter: alpha(opacity=90); -ms-filter: "alpha(opacity=90)"; -moz-opacity:0.9; -khtml-opacity: 0.9; zoom:1;}
a img.not-effect:hover,a.not-effect:hover,a.not-effect:hover img{opacity:1; filter: alpha(opacity=100); -ms-filter: "alpha(opacity=100)"; -moz-opacity:1; -khtml-opacity: 1; zoom:1;}
a img.not-effect:active,a.not-effect:active,a.not-effect:active img{opacity:1; filter: alpha(opacity=100); -ms-filter: "alpha(opacity=100)"; -moz-opacity:1; -khtml-opacity: 1; zoom:1;}

/* form */
.section-flow{width:100%; margin-bottom:70px; box-sizing:border-box;}
.section-flow p{width:100%; box-sizing:border-box; display:table; border-collapse:separate; border-spacing:1px 0; font-family: 'Lato', sans-serif!important; font-weight:700!important;; line-height:1.2!important; font-size:14px!important;}
.section-flow p span{width:33%; display:table-cell; vertical-align:middle; text-align:center; height:71px; background:#af9947; position:relative; border:#af9947 1px solid; color:#fff;}
.section-flow p span.step,
.section-flow p span.active,
.section-flow p span.step:nth-last-child(1),
.section-flow p span.active:nth-last-child(1){background:#fff; color:#af9947;}
.section-flow p span:nth-last-child(1),
.section-flow p span:nth-last-child(1){background:#978337; margin:0;}
.section-flow p span:nth-last-child(1):before,
.section-flow p span:nth-last-child(1):before{position:absolute; right:-80px; top:-1px; content:"";	width: 0; height: 0; border:36px solid transparent; border-left:45px solid #978337; z-index:2;}
.section-flow p span.active:nth-last-child(1):before,
.section-flow p span.active:nth-last-child(1):before{border-left:45px solid #fff;}
.section-flow p span:nth-last-child(1):after,
.section-flow p span:nth-last-child(1):after{position:absolute; right:-81px; top:-1px; content:"";	width: 0; height: 0; border:36px solid transparent; border-left:45px solid #af9947; z-index:1;}

._form{font-family: 'Lato', sans-serif; font-weight:100;}
._form label,
._form_wrapper label{-moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select:none;  cursor: pointer;}
._form .checkbox,
._form_wrapper .checkbox {display:none;}
._form .checkbox + .checkbox-icon,
._form_wrapper .checkbox + .checkbox-icon{position: relative; top:10px;}
._form .checkbox + .checkbox-icon:before,
._form_wrapper .checkbox + .checkbox-icon:before{content:""; background:url(/global/assets/images/ja/reservation/icon-checkbox-check.png) no-repeat; background-size:34px 34px; width:34px; height:34px; display:inline-block; margin-right:15px;}
._form .checkbox:checked + .checkbox-icon:before,
._form_wrapper .checkbox:checked + .checkbox-icon:before{content:""; background:url(/global/assets/images/ja/reservation/icon-checkbox-checked.png) no-repeat; background-size:34px 34px;}

._form select,
._form_wrapper select{position: relative; width:100%; -webkit-appearance: none; -moz-appearance: none; appearance: none; line-height:45px; height:45px; padding:0 30px; font-size:16px; border:1px #959595 solid; background:url(/global/assets/images/ja/common/arrow-btn-down.png) #fff right center no-repeat; background-size:26px 8px;}
._form select::-ms-expand,
._form_wrapper select::-ms-expand{display: none;}

._form input[type="text"],
._form_wrapper input[type="text"],
._form input[type="password"],
._form_wrapper input[type="password"]{width:100%; height:45px; line-height:45px; padding:0 8px; border:1px #959595 solid; box-sizing:border-box;font-size: 14px;}

._form .radio {display:none;}
._form .radio + .radio-icon-smoking,
._form .radio + .radio-icon-nosmoking,
._form .radio + .radio-icon-preferance{position: relative; top:16px;}
._form .radio + .radio-icon-smoking:before {content:""; background:url(/global/assets/images/ja/top/icon-smoking.jpg) no-repeat; background-size:39px 39px; width:39px; height:39px; display:inline-block; margin-right:10px;}
._form .radio + .radio-icon-nosmoking:before {content:""; background:url(/global/assets/images/ja/top/icon-nosmoking.jpg) no-repeat; background-size:43px 39px; width:43px; height:39px; display:inline-block; margin-right:10px;}
._form .radio + .radio-icon-preferance:before {content:""; background:url(/global/assets/images/ja/top/icon-preferance.jpg) no-repeat; background-size:69px 39px; width:69px; height:39px; display:inline-block; margin-right:0px;}
._form .radio:checked + .radio-icon-smoking:before {content:""; background:url(/global/assets/images/ja/top/icon-smoking_o.jpg) no-repeat; background-size:39px 39px;}
._form .radio:checked + .radio-icon-nosmoking:before {content:""; background:url(/global/assets/images/ja/top/icon-nosmoking_o.jpg) no-repeat; background-size:43px 39px;}
._form .radio:checked + .radio-icon-preferance:before {content:""; background:url(/global/assets/images/ja/top/icon-preferance_o.jpg) no-repeat; background-size:69px 39px;}

._form_wrapper .item select,
._form_wrapper .item input[type="text"],
._form_wrapper .item-large input[type="text"]{position:relative; top:-12px;}
._form_wrapper .title{width:375px; clear:both; float:left; box-sizing:border-box; display:block; padding:0 30px;}
._form_wrapper .item{width:425px; float:right;  box-sizing:border-box; display:block; padding:0;}
._form_wrapper .title-large{width:250px; clear:both; float:left; box-sizing:border-box; display:block; padding:0 30px;}
._form_wrapper .item-large{width:550px; float:right;  box-sizing:border-box; display:block; padding:0; margin:0;}
._form_wrapper label{margin-right:50px; position:relative; top:-16px;}