.box-content{padding-bottom:0px; font-size:12px;}
.box-content img{max-width:100%;height: auto;}
.box-content h1{font-size:20px; font-family: 'EB Garamond', serif; font-weight:normal; letter-spacing: 0.01em; text-align: center;margin-bottom: 20px;}
.box-content h1.title{margin-bottom: 15px;}
.box-content h1.articletitle{margin-bottom:15px;}

.box-content h2{font-size:15px; font-family: 'Lato', sans-serif; font-weight:400; letter-spacing: 0.05em;margin-bottom: 20px;}
.box-content h3{font-size:13px; font-family: 'Lato', sans-serif; font-weight:400; letter-spacing: 0.05em;margin-bottom: 20px;}
.box-content h4{font-size:12px; font-family: 'Lato', sans-serif; font-weight:400; margin-bottom: 20px;}
.box-content h5{font-size:12px; font-family: 'Lato', sans-serif; font-weight:400; margin-bottom: 10px;}
.box-content h6{font-size:12px; font-family: 'Lato', sans-serif; font-weight:400; margin-bottom: 10px;}

.box-content h1 small { display: block; font-size:12px; font-family: 'Lato', sans-serif; font-weight:400; letter-spacing: 0.065em; text-align: center; margin: 0 0 15px;}

.box-content hr {border: solid 1px #000; border-width: 0 0 1px; margin: 25px auto 25px;}
.box-content hr-wide {border: solid 1px #000; border-width: 0 0 1px; margin: 25px auto; width:100%;}
.box-content h1 + .hr {border: solid 1px #000; width:220px; border-width: 0 0 1px; margin: 15px auto;}

.box-content lead {text-align: center; margin:0; font-size: 12px; line-height: 1.5; font-family: 'Lato', sans-serif; font-weight:100; letter-spacing: 0.045em;color: #252525;}
.box-content p {font-size: 12px; line-height: 1.5; font-family: 'Lato', sans-serif; font-weight:100; letter-spacing: 0.045em;color: #252525; margin-bottom:25px;}
.box-content dl {list-style:disc outside; font-size:12px; line-height: 1.5; font-family: 'Lato', sans-serif; font-weight:100;margin-bottom:25px;}
.box-content dl dt{color: #947f3a; }
.box-content dl dd{margin-bottom: 20px;}
.box-content ul {list-style:disc outside; margin-left: 15px; color: #947f3a; font-size:12px; line-height: 1.5; font-family: 'Lato', sans-serif; font-weight:100;margin-bottom: 25px;}
.box-content ol {list-style:decimal outside; margin-left: 15px; color: #947f3a; font-size:12px; line-height: 1.5; font-family: 'Lato', sans-serif; font-weight:700;margin-bottom: 25px;}
.box-content ul li, .ol li {margin-bottom: 10px;}
.box-content ul .li-content, .ol .li-content {color: #252525; font-weight:100;}

.box-content .q-box {font-size:12px; line-height: 1.2; font-family: 'Lato', sans-serif; font-weight:100; letter-spacing: 0.045em; margin-bottom: 12px;line-height: 1.4;color: #252525;}
.box-content .q-box:before {content: "Q:"; font-family: 'Lato', sans-serif; font-weight:700; color: #947f3a; margin-right: 10px;}
.box-content .a-box {font-size:12px; line-height: 1.2; font-family: 'Lato', sans-serif; font-weight:100; letter-spacing: 0.045em; margin-bottom: 12px;line-height: 1.4;color: #252525;margin-bottom: 25px;}
.box-content .a-box:before {content: "A:"; font-family: 'Lato', sans-serif; font-weight:700; color: #947f3a; margin-right: 10px;}

.box-content .asterix {font-size:10px; line-height: 1.5; font-family: 'Lato', sans-serif; font-weight:100; letter-spacing: 0.045em;margin-bottom: 30px;color: #252525;}

.box-content .info-box {border:solid 1px #868686; width:100%; box-sizing: border-box; text-align: center; color: #707070; padding: 10px;}
.box-content .info-box > .text {font-size:10px; font-family: 'EB Garamond', serif; font-weight:normal; letter-spacing: 0.045em; margin: 0 0 4px;}
.box-content .info-box > .time {font-size:12px; font-family: 'Lato', sans-serif; font-weight:700; letter-spacing: 0.01em;}

.box-content .categoryh3 {background: rgba(148,127,58,1); color: #fff; font-size:13px; font-family: 'Lato', sans-serif; font-weight:700; letter-spacing: 0.05em; padding: 10px; width:100%; box-sizing: border-box;}
.box-content .photo-itemh3 {background: rgba(148,127,58,0.8); color: #fff; font-size:12px; font-family: 'Lato', sans-serif; font-weight:700; letter-spacing: 0.05em; padding: 12px 10px; width:100%; box-sizing: border-box;}
.box-content .small-photoh4 {background: rgba(148,127,58,0.8); color: #fff; font-size:12px; font-family: 'Lato', sans-serif; font-weight:700; letter-spacing: 0.05em; padding: 13px 15px; width:100%; box-sizing: border-box;}
.box-content .tabs-small-image {background: rgba(148,127,58,0.8); color: #fff; font-size:12px; font-family: 'Lato', sans-serif; font-weight:700; letter-spacing: 0.05em; padding: 10px 15px; width:100%; box-sizing: border-box;}

.box-content table {margin-bottom:20px;}
.box-content table thead {}
.box-content table tbody {}
.box-content table tbody th, 
.box-content table tbody td {font-size:12px; line-height: 1.4; font-family: 'Lato', sans-serif; font-weight:100; letter-spacing: 0.01em; padding:7px 12px; border: solid 1px #959595;color: #252525;}
.box-content table tbody th {border-width: 1px 0 0 0;}
.box-content table tbody td {border-width: 1px 0 0 0;}
.box-content table tbody tr:first-child th,
.box-content  table tbody tr:first-child td {border-top: none;}

.box-content blockquote{font-size:12px;background: #f0f0f0;padding:10px;margin-bottom: 20px; }
.box-content blockquote p{margin-bottom: 10px}

.box-content pre{background: #f0f0f0;padding:10px;margin-bottom:20px;}
.box-content pre p{margin-bottom: 10px}

.box-content div{line-height: 1.4;margin-bottom: 30px;}