@charset "UTF-8";

.guest_room#index .visual{width:100%; height:666px; background:url(/global/assets/images/ja/resort_hotels/guest_room/img-mainvisual.jpg) 50% 50% no-repeat; background-size:cover !important; display:block;}

.guest_room#index .area-title h1{margin-top:60px;}

.guest_room#index section#search{padding:40px 0 20px 0; margin-bottom:50px;}

.guest_room#index #_tab ul.tabs li{width:399px; margin-bottom:30px;}
.guest_room#index #_tab ul.tabs li:nth-last-child(1){width:400px;}

.guest_room#index #section-guest_rooms ul._anchor li{margin-bottom:80px;}
.guest_room#index #section-guest_rooms ul._anchor li{width:20%;}
.guest_room#index #section-guest_rooms ul._anchor li a{line-height: 1.4;}
.guest_room#index #section-guest_rooms .box-accordion:nth-child(1) ul._anchor li a{line-height: 1.4;}
.guest_room#index #section-guest_rooms .box-accordion:nth-child(1) ul._anchor li:nth-child(2) a{line-height: 50px;}
.guest_room#index #section-guest_rooms .box-accordion:nth-child(1) ul._anchor li:nth-child(3) a{line-height: 50px;}
.guest_room#index #section-guest_rooms .box-accordion:nth-child(1) ul._anchor li:nth-child(4) a{line-height: 50px;}
.guest_room#index #section-guest_rooms .box-accordion:nth-child(1) ul._anchor li:nth-child(5) a{line-height: 50px;}


.guest_room#index section.area-room {border-top:#3a2f08 1px solid; padding-top:20px; margin-bottom:80px;}
.guest_room#index section.area-room h2{margin-bottom:20px;}
.guest_room#index section.area-room ._photo-bottom{float:left;}
.guest_room#index section.area-room .txt{float:right; width:585px;}
.guest_room#index section.area-room ._lead{margin-bottom:20px;color: #877434;font-weight: bold;}
.guest_room#index section.area-room ._p{margin-bottom:30px;}
.guest_room#index section.area-room .txt ul{list-style:disc; font-size:14px; margin:0 0 30px 20px; line-height:1.7;}
.guest_room#index section.area-room h3{font-size:16px; margin-bottom:10px;}
.guest_room#index section.area-room ._table{font-size:14px; line-height:1.4;margin-bottom: 20px;}
.guest_room#index section.area-room ._table th{width:auto;}
.guest_room#index section.area-room ._table th,
.guest_room#index section.area-room ._table td{padding:15px 5px; text-align:center; vertical-align:middle;}
.guest_room#index section.area-room ._btn-small.pet{width: 230px;background: #877434 url("/global/assets/images/ja/resort_hotels/pc/btn-small-arrow.png") no-repeat scroll 210px 50%}
.guest_room#index section.area-service{border-top:#3a2f08 1px solid; padding-top:20px; margin-bottom:80px;}
.guest_room#index section.area-service h2{margin-bottom:20px;}
.guest_room#index section.area-service .btn{text-align:right; margin-top:30px;}
.guest_room#index section.area-price{border-top:#3a2f08 1px solid; padding-top:20px; margin-bottom:60px;}
.guest_room#index section.area-price ._h2{margin-bottom:20px;}