@charset "UTF-8";

.hall#index .visual{margin-top:50px; width:100%; height:320px; background:url(/global/assets/images/ja/resort_hotels/hall/img-mainvisual-sp.jpg) 50% 50% no-repeat; background-size:cover!important; display:block;}

.hall#index header{border-bottom:1px #bcb275 solid;}
.hall#index .area-title h1{margin:30px 0 0 0; padding-bottom:40px;}

.hall#index .area-hall-list{border-top:#3a2f08 2px solid; padding-top:15px; margin-bottom:20px;}
.hall#index .area-hall-list h2{margin-bottom:20px;}

.hall#index .area-hall-list{margin-bottom:10px;}
.hall#index .area-hall-list ul{}
.hall#index .area-hall-list ul li{width:100%; height:auto; margin:0 0 40px 0;}
.hall#index .area-hall-list ul li:nth-last-child-(1){margin-bottom:0;}
.hall#index .area-hall-list ul li .image img{width:100%;}
.hall#index .area-hall-list ul li .title{font-size:18px; line-height:1.6; margin:10px 0; display:block;}
.hall#index .area-hall-list ul li .lead{font-size:14px; line-height:1.6; margin-bottom:15px; display:block;}
.hall#index .area-hall-list ul li .btn{}