@charset "UTF-8";

.restaurant#index .visual{width:100%; height:666px; background:url(/global/assets/images/ja/resort_hotels/restaurant/img-mainvisual.jpg) 50% 50% no-repeat; background-size:cover !important; display:block;}

.restaurant#index .area-title h1,
.restaurant#detail .area-title h1{margin-top:60px;}

.restaurant#index .area-shop-list{margin-bottom:20px;}
.restaurant#index .area-shop-list ul{}
.restaurant#index .area-shop-list ul li{width:330px; height:auto; margin:0 105px 60px 0; float:left;}
.restaurant#index .area-shop-list ul li:nth-child(3n){margin-right:0;}
.restaurant#index .area-shop-list ul li:nth-child(3n+1){clear:both;}
.restaurant#index .area-shop-list ul li .image img{width:100%;}
.restaurant#index .area-shop-list ul li .title{font-size:18px; line-height:1.6; margin:10px 0; display:block; font-weight:bold;}
.restaurant#index .area-shop-list ul li .title i{font-size:12px; display:block; font-style:normal; font-weight:normal;}
.restaurant#index .area-shop-list ul li .lead,
.restaurant#index .area-shop-list ul li .info{font-size:14px; line-height:1.6; margin-bottom:15px; display:block;}
.restaurant#index .area-shop-list ul li .btn{text-align:right; display:block;}

/*
#_tab ul.tabs{margin-bottom:79px;}
#_tab ul.tabs li{width:399px; margin-bottom:1px;}
#_tab ul.tabs li:nth-child(3n){width:400px; margin-right:0;}
*/

.restaurant#detail section.area-restaurant {border-top:#3a2f08 1px solid; padding-top:20px; margin-bottom:80px;}
.restaurant#detail section.area-restaurant h2{margin-bottom:20px;}
.restaurant#detail section.area-restaurant ._photo-bottom{float:left;}
.restaurant#detail section.area-restaurant .thumbnail{margin-bottom:70px;}
.restaurant#detail section.area-restaurant .google-map{}
.restaurant#detail section.area-restaurant .google-map iframe{width: 585px; height: 240px;}
.restaurant#detail section.area-restaurant .layout img{width:100%;}
.restaurant#detail section.area-restaurant .txt{float:right; width:585px;}
.restaurant#detail section.area-restaurant .txt ._lead{margin-bottom:30px;}
.restaurant#detail section.area-restaurant .txt h3{font-size:16px; margin-bottom:10px;}

.restaurant#detail .layout{margin-top:25px;}
.restaurant#detail .btn{text-align:right; margin-bottom:10px;}
.restaurant#detail section.area-restaurant .txt ul.osusume{margin-bottom:30px;}
.restaurant#detail section.area-restaurant .txt ul.osusume li{width:180px; height:auto; margin:0 22px 20px 0; float:left;height: 200px;}
.restaurant#detail section.area-restaurant .txt ul.osusume li:nth-child(3n){margin-right:0;}
.restaurant#detail section.area-restaurant .txt ul.osusume li .img img{width:100%;}
.restaurant#detail section.area-restaurant .txt ul.osusume li .title{font-size:14px; margin-top:10px; display:block;}

.restaurant#detail section.area-restaurant .txt table.price{font-size:14px; margin-bottom:10px;}
.restaurant#detail section.area-restaurant .txt table th{width:100px;}
.restaurant#detail section.area-restaurant .txt table td span.time,
.restaurant#detail section.area-restaurant .txt table td span.price,
.restaurant#detail section.area-restaurant .txt table td span.parking{display:block; position:relative;}
.restaurant#detail section.area-restaurant .txt table td span.time,
.restaurant#detail section.area-restaurant .txt table td span.price{text-indent:-6.3em; padding-left:6em;}
.restaurant#detail section.area-restaurant .txt table td span.parking{text-indent:-5em; padding-left:5em;}
.restaurant#detail section.area-restaurant .txt table td span.time:before,
.restaurant#detail section.area-restaurant .txt table td span.price:before,
.restaurant#detail section.area-restaurant .txt table td span.parking:before{ position:relative top:0; left:0;}
.restaurant#detail section.area-restaurant .txt table td span.time:before{content:"【営業時間】"; }
.restaurant#detail section.area-restaurant .txt table td span.price:before{content:"【料　　金】";}
.restaurant#detail section.area-restaurant .txt table td span.parking:before{content:"【駐車場】";}

.restaurant#detail section.area-restaurant .txt .pickup .btn{ margin-bottom:5px;}
.restaurant#detail section.area-restaurant .txt .pickup .image{margin: 0 0 30px;}
.restaurant#detail section.area-restaurant .txt .pickup .text{line-height: 1.4;margin-bottom: 30px;}
.restaurant#detail section.area-restaurant .txt .pickup .box-hidden{display: none;padding: 20px;}
.restaurant#detail section.area-restaurant .txt .pickup .box-pickup{background: #fafafa;margin-bottom: 10px;}
.restaurant#detail section.area-restaurant .txt .pickup{margin-bottom:45px;margin-top: 30px;}

.restaurant#detail section.area-restaurant .txt .coupon .ticket{background:#f3f3f0; padding:30px; margin-bottom:25px;}
.restaurant#detail section.area-restaurant .txt .coupon .ticket .image{float:right; margin-left:40px;width: 150px;background: #fff;padding: 10px;}
.restaurant#detail section.area-restaurant .txt .coupon .ticket .image img{width: 100%;}
.restaurant#detail section.area-restaurant .txt .coupon .ticket ._p{margin-bottom:20px;}
.restaurant#detail section.area-restaurant .txt .coupon .btn{text-align:center; margin-top:30px;}
.restaurant#detail section.area-restaurant .txt .coupon .expiration{font-size:16px; font-weight:bold; margin:20px 0; padding:15px 0; border-top:#3a2f08 1px solid;  border-bottom:#3a2f08 1px solid; }
.restaurant#detail section.area-restaurant .txt .coupon .btn ._btn-middle{ background-image:none; padding:0; line-height:50px; height:50px;}


.restaurant#detail section.area-restaurant .txt .reserve{color:#877434; height:70px; padding:0 25px; box-sizing:border-box; border:3px #beaf7a solid; margin-bottom:20px; position:relative;text-align: center;}
.restaurant#detail section.area-restaurant .txt .reserve span.title{font-size:16px; position: absolute; top:25px;left: 10px;line-height: 1;}
.restaurant#detail section.area-restaurant .txt .reserve span.shopname{display: block;line-height: 1;position: absolute;margin-top:10px;font-size: 12px;text-align: center;}
.restaurant#detail section.area-restaurant .txt .reserve .box-tel{}
.restaurant#detail section.area-restaurant .txt .box-tel .number{width: 330px;position: absolute;height: 65px;right: 0px;}
.restaurant#detail section.area-restaurant .txt .box-tel span.tel{font-size:38px; padding-left:30px; background:url(/global/assets/images/ja/resort_hotels/pc/restaurant/icon-reserve-tel.png) 0 50% no-repeat; top:20px;left: 0px;position: absolute;}
.restaurant#detail section.area-restaurant .txt .reserve-btn{text-align:right; margin-bottom:20px;}
.restaurant#detail section.area-restaurant .txt .back-btn{text-align:right;}

.restaurant#coupon{padding:50px; box-sizing:border-box; width:630px; min-width:630px; display:block;}
.restaurant#coupon .container,
.restaurant#coupon main{margin:0; padding:0; box-sizing:border-box; width:630px;}
.restaurant#coupon h1{border-bottom:#3a2f08 1px solid; padding-bottom:20px; margin-bottom:0;}
.restaurant#coupon h2{margin:40px 0 20px 0;}
.restaurant#coupon p{margin-bottom:20px;}
.restaurant#coupon p.image img{width:100%;}
.restaurant#coupon .ticket{background:#f3f3f0; padding:30px 30px 20px 30px; margin-bottom:25px;}
.restaurant#coupon .expiration{font-size:16px; font-weight:bold; margin:20px 0; padding:15px 0; border-top:#3a2f08 1px solid;  border-bottom:#3a2f08 1px solid;}
.restaurant#coupon .btn{text-align:center; margin-top:30px;}
.restaurant#coupon .btn ._btn-middle{ background-image:none; padding:0; line-height:50px; height:50px;}

/*-----------------------------------------------------------------*/
#tc-widget{border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;padding: 10px 0;}
#tc-widget[data-layout="horizontal"]{width: 585px !important;}
#tc-widget input[type="text"]{width: 88px !important;}
#tc-widget[data-layout="horizontal"] .tc-shop, #tc-widget[data-layout="horizontal"] .tc-date, #tc-widget[data-layout="horizontal"] .tc-time, #tc-widget[data-layout="horizontal"] .tc-ppl{margin-right: 15px !important;}
#tc-widget[data-layout="horizontal"] .tc-book{margin: 0 10px !important;padding: 0px !important;}
#tc-widget[data-layout="horizontal"] .tc-date{margin-left: 0px !important;}