@charset "UTF-8";

.shop#index .visual{margin-top:50px; width:100%; height:320px; background:url(/global/assets/images/ja/resort_hotels/shop/img-mainvisual-sp.jpg) 50% 50% no-repeat; background-size:cover !important; display:block;}

.shop#index header{}
.shop#index .area-title h1{margin:30px 0 0 0; padding-bottom:40px;}

.shop#index .area-shop-list{margin-bottom:10px;}
.shop#index .area-shop-list ul{}
.shop#index .area-shop-list ul li{width:100%; height:auto; margin:0 0 40px 0; float:left;}
.shop#index .area-shop-list ul li:nth-child(3n){margin-right:0;}
.shop#index .area-shop-list ul li:nth-child(3n+1){clear:both;}
.shop#index .area-shop-list ul li .image img{width:100%;}
.shop#index .area-shop-list ul li .title{font-size:18px; line-height:1.6; margin:10px 0; display:block;  font-weight:bold;}
.shop#index .area-shop-list ul li .title i{font-size:12px; display:block; font-style:normal; font-weight:normal;}
.shop#index .area-shop-list ul li .lead,
.shop#index .area-shop-list ul li .info{font-size:14px; line-height:1.6; margin-bottom:15px; display:block;}
.shop#index .area-shop-list ul li .btn{}