@charset "UTF-8";

.shop#index .visual{width:100%; height:666px; background:url(/global/assets/images/ja/resort_hotels/shop/img-mainvisual.jpg) 50% 50% no-repeat; background-size:cover !important; display:block;}
.shop#index .area-title h1{margin:60px 0; letter-spacing:5px; margin-right: -5px;}

.shop#index .area-shop-list{margin-bottom:20px;}
.shop#index .area-shop-list ul{}
.shop#index .area-shop-list ul li{width:330px; height:auto; margin:0 105px 60px 0; float:left;}
.shop#index .area-shop-list ul li:nth-child(3n){margin-right:0;}
.shop#index .area-shop-list ul li:nth-child(3n+1){clear:both;}
.shop#index .area-shop-list ul li .image img{width:100%;}
.shop#index .area-shop-list ul li .title{font-size:18px; line-height:1.6; margin:10px 0; display:block; font-weight:bold;}
.shop#index .area-shop-list ul li .title i{font-size:12px; display:block; font-style:normal; font-weight:normal;}
.shop#index .area-shop-list ul li .lead,
.shop#index .area-shop-list ul li .info{font-size:14px; line-height:1.6; margin-bottom:15px; display:block;}
.shop#index .area-shop-list ul li .btn{text-align:right; display:block;}