@charset "UTF-8";

.spa#index .visual{width:100%; height:666px; background:url(/global/assets/images/ja/resort_hotels/spa/img-mainvisual.jpg) 50% 50% no-repeat; background-size:cover !important; display:block;}

.spa#index .area-title h1{margin-top:60px; letter-spacing:10px; margin-right: -10px;}

.spa#index ul._anchor{margin-bottom:80px; font-size:20px;}
.spa#index ul._anchor li{width:33.3%;}
.spa#index ul._anchor li i{display:block; font-size:14px; font-style:normal;}
.spa#index ul._anchor li a{line-height:25px;}

.spa#index section.area-spa {border-top:#3a2f08 1px solid; padding-top:20px; margin-bottom:80px;}
.spa#index section.area-spa h2{margin-bottom:20px;}
.spa#index section.area-spa h2 + section.spa{margin-top:40px;}
/*.spa#index section.area-spa ._photo-bottom{float:left;}*/
.spa#index section.area-spa .txt{float:right; width:585px;}
.spa#index section.area-spa ._lead{margin-bottom:40px;}
.spa#index section.area-spa section.spa{margin-bottom:30px;}
.spa#index section.area-spa section.map{margin-bottom:40px;}
.spa#index section.area-spa section.map .img{float:right;width: 585px;}
.spa#index section.area-spa section.map .img img{width: 100%;}
.spa#index section.area-spa section.map .txt{float:left;}
.spa#index section.area-spa section.map .txt table{font-size:14px;}
.spa#index section.area-spa section.map .txt th{width:110px;}
.spa#index section.area-spa section.map .txt ul{list-style:disc; margin-left:20px;}
.spa#index section.area-spa .btn{text-align:right; margin-top:20px;}

.spa#plan #_tab ul.tabs{text-align:center; font-size:0;}
.spa#plan #_tab ul.tabs li{width:299px; margin-bottom:30px; float:none; display:inline-block;}
.spa#plan #_tab ul.tabs li:nth-last-childs(1){width:300px;}

.spa#plan h1{margin:50px 0 70px 0;}
.spa#plan .plan-visual{/* background:#f3f3F0; */ padding:50px 0; margin-bottom:70px; text-align:center; border:1px #2e3120 solid;}
.spa#plan .plan-visual h2{width:700px; text-align:center; font-size:26px; border-bottom:#3a2f08 1px solid; margin:0 auto 30px auto; padding-bottom:5px;}
.spa#plan .plan-visual h2 span{font-size:16px; margin-right:15px;}
.spa#plan .plan-visual p.plan{font-size:16px; display:inline-block; text-align:center; margin-bottom:50px; vertical-align:top;}
.spa#plan .plan-visual p.plan span{width:90px; height:90px; line-height:90px; text-align:center; color:#fff; background:#3a2f08; border-radius:45px; display:inline-block; position:relative; margin-right:63px;}
.spa#plan .plan-visual p.plan span:after{content:""; background:url(/global/assets/images/ja/resort_hotels/spa/icon-plan.png) 0 50% no-repeat; display:block; width:27px; height:27px; position:absolute; top:31px; left:108px;}
.spa#plan .plan-visual p.plan span:nth-last-child(1){megrin-right:40px;}
.spa#plan .plan-visual p.plan span:nth-last-child(1):after{content:""; background:none; display:none;}
.spa#plan .plan-visual p.price{display:inline-block; margin-bottom:50px; text-align:left;}
.spa#plan .plan-visual p.price span.count{font-size:16px; display:block;}
.spa#plan .plan-visual p.price span.count-sp{display:none;}
.spa#plan .plan-visual p.price span.price span{font-size:16px;}
.spa#plan .plan-visual p.price span.price{font-size:70px; display:inline-block;}
.spa#plan .plan-visual p.price span.note{font-size:14px; display:block; margin-top:10px; line-height:1.4;}
.spa#plan .plan-visual .image img{margin:0 auto;}

.spa#plan h3 span{font-size:28px;}
.spa#plan ._table{font-size:14px; margin-bottom:20px;}
.spa#plan ._table th{text-align:center; vertical-align:middle;}
.spa#plan ._table th,
.spa#plan ._table td{padding:10px 20px;}
.spa#plan span.square:before{content:"■"; font-size:14px;}

.spa#plan .plan-room{border-top:#3a2f08 1px solid; padding-top:10px; margin-bottom:50px;}
.spa#plan .plan-room ._p{margin-bottom:30px;}
.spa#plan .plan-room .image{float:right;}

.spa#plan .plan-restaurant{border-top:#3a2f08 1px solid; padding-top:10px; margin-bottom:50px;}
.spa#plan .plan-restaurant ul{}
.spa#plan .plan-restaurant ul li{width:270px; height:auto; margin:0 40px 30px 0; float:left;}
.spa#plan .plan-restaurant ul li:nth-child(4n){margin-right:0;}
.spa#plan .plan-restaurant ul li:nth-child(4n+1){clear:both;}
.spa#plan .plan-restaurant ul li .image img{width:100%;}
.spa#plan .plan-restaurant ul li .title{font-size:16px; line-height:1.4; height:10px; margin-top:10px; display:block;}
.spa#plan .plan-restaurant ul li .lead{font-size:14px; line-height:1.6; margin-top:40px; display:block; }

.spa#plan .plan-option{border-top:#3a2f08 1px solid; padding-top:10px; margin-bottom:50px;}
.spa#plan .plan-option h3{margin-bottom:50px;}
.spa#plan .plan-option h4{}
.spa#plan .plan-option .first{float:left; margin-left:50px;}
.spa#plan .plan-option .second{float:right; margin-right:50px;}
.spa#plan .plan-option .first,
.spa#plan .plan-option .second{width:500px; padding-left:20px; margin-bottom:30px; border-left:6px #3a2f08 solid;}
.spa#plan .plan-option .first
.spa#plan .plan-option .second{}

.spa#plan .plan-cation{border-top:#3a2f08 1px solid; padding-top:10px; margin-bottom:50px;}
.spa#plan .plan-cation h3 {margin-bottom:30px;}
.spa#plan .plan-cation ul{font-size:14px; line-height:1.6; list-style:disc; margin-bottom:30px;}
.spa#plan .plan-cation ul li{margin-left:70px;}

.spa#plan section#search .nights,
.spa#plan section#search .price{width:470px;}
.spa#plan section#search .people,
.spa#plan section#search .plan{width:330px;}
.spa#plan section#search.plan .btn{position:absolute; right:50px; bottom:50px; line-height:30px;}