.cls-1 {
fill: #947e29;
}
#aomori,#fukushima, #yamagata, #akita, #iwate ,#miyagi{
fill: #ddcc9a !important;
}
#ishikawa,#fukui,#toyama,#niigata,#gifu,
#nagano,#yamanashi,#aichi,#shizuoka{
fill: #c7a956 !important;
}
#hyogo,#mie,#osaka,#wakayama,#shiga,#kyoto{
fill: #eae5d3 !important;
}
#nara,#ooita,#shimane,#kochi{
 fill:#666666 !important;
}
#yamaguchi,#hiroshima,#okayama,#tottori{
fill: #dbc485;
}
#okinawa rect,#saga,#nagasaki,#fukuoka,
#miyazaki,#kumamoto,#gagoshima{
fill: #cabc87;
}
#gunma,#tochigi,#chiba,#tokyo,#saitama,#ibaraki,#kanagawa{
fill: #e8ddba;
}
#ehime,#kagawa,#tokushima{
fill: #e4d5aa;
}
.bottom-map{
	padding: 10px;
	background: #F8F1DD;
	position: relative;
	text-align: center;
	display:  flex;
}
.bottom-map img{
	width: 70px;
    padding: 3px 0px;
}
.bottom-map p{
	text-align: left;
    margin-left: 0.9rem;
}
.bottom-map .red-text{
	font-size: 18px;
}
@media (max-width: 480.98px){
	.bottom-map img {
	    width: 70px;
	    padding: 20px 0px !important;
	}
}

@media (max-width: 575.98px){
	.bottom-map img {
	    width: 70px;
	    padding: 15px 0px;
	}
	.bottom-map .red-text {
	    font-size: 18px;
	}
	.logo-with-text-section {
	    position: absolute !important;
	    left: 15% !important;
	    top: 10.8% !important;
	    display: flex !important;
	}
	.logo{
		background-image: url('../img/nationwide_bg_logo.png');
		background-size: cover;
		background-repeat: no-repeat;
		height: 120px;
		width: 120px;
	}
	.text-on-logo {
		border-bottom: 2px solid #c8530e;
		color: #c8530e;
		padding-bottom: 0px;
		font-size: 1rem;
		font-weight: bold;
		position: absolute;
		top: 60px;
		left: 50px;
	}
	.text-on-logo .char{
		color: #c8530e;
		padding-bottom: 5px;
		font-size: 0.7rem;
		font-weight: bold;
	}
	.img-svg{
		width: 100%;
		margin: 0 auto;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.bottom-map img {
	    width: 70px;
	    padding: 5px 0px;
	}
	.logo-with-text-section{
	position: absolute;
	left: 20%;
	top: 14%;
	display: flex;
	}
	.logo{
		background-image: url('../img/nationwide_bg_logo.png');
		background-size: cover;
		background-repeat: no-repeat;
		height: 150px;
		width: 150px;
	}
	.text-on-logo {
		border-bottom: 2px solid #c8530e;
		color: #c8530e;
		padding-bottom: 0px;
		font-size: 1.5rem;
		font-weight: bold;
		position: absolute;
		top: 75px;
		left: 60px;
	}
	.text-on-logo .char{
		color: #c8530e;
		padding-bottom: 5px;
		font-size: 1rem;
		font-weight: bold;
	}
	.img-svg{
		width: 500px;
		margin: 0 auto;
	}
	.bottom-map img {
	    width: 70px;
	    padding: 5px 0px;
	}

}
/*Custom media query*/
@media(max-width: 800px) and (min-width: 767.98px) {
	.logo-with-text-section {
	    position: absolute !important;
	    left: 17% !important;
	    top: 15.5% !important;
	    display: flex !important;
	}
	.bottom-map img {
	    width: 70px;
	    padding: 5px 0px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.logo-with-text-section{
	position: absolute;
	left: 45%;
	top: 19.5%;
	display: flex;
	}
	.logo{
		background-image: url('../img/nationwide_bg_logo.png');
		background-size: cover;
		background-repeat: no-repeat;
		height: 170px;
		width: 170px;
	}
	.text-on-logo {
		border-bottom: 2px solid #c8530e;
		color: #c8530e;
		padding-bottom: 0px;
		font-size: 1.5rem;
		font-weight: bold;
		position: absolute;
		top: 80px;
		left: 70px;
	}
	.text-on-logo .char{
		color: #c8530e;
		padding-bottom: 5px;
		font-size: 1rem;
		font-weight: bold;
	}
	.bottom-map img {
	    width: 70px;
	    padding: 5px 0px;
	}
	.bottom-map .log-img{
	    margin-left: 0rem;
	}

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.logo-with-text-section{
	position: absolute;
	left: 45%;
	top: 19.5%;
	display: flex;
	}
	.logo{
		background-image: url('../img/nationwide_bg_logo.png');
		background-size: cover;
		background-repeat: no-repeat;
		height: 170px;
		width: 170px;
	}
	.text-on-logo {
		border-bottom: 2px solid #c8530e;
		color: #c8530e;
		padding-bottom: 0px;
		font-size: 1.5rem;
		font-weight: bold;
		position: absolute;
		top: 80px;
		left: 70px;
	}
	.text-on-logo .char{
		color: #c8530e;
		padding-bottom: 5px;
		font-size: 1rem;
		font-weight: bold;
	}
	.bottom-map .log-img{
	    margin-left: 0.5rem;
	}

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.logo-with-text-section{
	position: absolute;
	left: 45%;
	top: 19.5%;
	display: flex;
	}
	.logo{
		background-image: url('../img/nationwide_bg_logo.png');
		background-size: cover;
		background-repeat: no-repeat;
		height: 170px;
		width: 170px;
	}
	.text-on-logo {
		border-bottom: 2px solid #c8530e;
		color: #c8530e;
		padding-bottom: 0px;
		font-size: 1.5rem;
		font-weight: bold;
		position: absolute;
		top: 80px;
		left: 70px;
	}
	.text-on-logo .char{
		color: #c8530e;
		padding-bottom: 5px;
		font-size: 1rem;
		font-weight: bold;
	}
	.bottom-map .log-img{
	    margin-left: 1.5rem;
	}
}