@media all and (max-width:800px){
    .resort-wrapper{
        background: #fff;
    }
}
body.nav-show .resort-wrapper{
    overflow: hidden;
    position: fixed;
    width: 100%;
}
@media all and (max-width:800px) {
    body.nav-show .resort-wrapper .r-page-container {
        height: -moz-calc(100vh - 74px);
        height: -webkit-calc(100vh - 74px);
        height: -ms-calc(100vh - 74px);
        height: -o-calc(100vh - 74px);
        height: calc(100vh - 74px);
    }
}
.page-container.r-page-container{
    padding:0;
}
.r-page-container ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

.contents-frame{
    margin:0 auto;
    width:94%;
    max-width: 1000px;
}

.r-header{
    position: relative;
    z-index: 120;
}

.r-hd-top{
    margin: 0 auto;
    padding:15px 0;
}
#tab-02 p{
    margin: 0px;
}

#tab-03 p{
    margin: 0px;
}

#tab-02 .r-room-type li{
    width: 33.3%;
}
#tab-03 .r-room-type li{
    width: 25%;
}
@media all and (max-width:800px){
    .r-hd-top{
        width:100%;
        padding:10px 3%;
        height:74px;
        background: #fff;
        position: relative;
        z-index: 140;
        display: flex;
        justify-content: space-between;
    }
}

.r-hd-top .r-main-logo{
    display:inline-block;
}
@media all and (max-width:800px){
    .r-hd-top .r-main-logo{
        height:100%;
        padding-right:5vw;
    }
}

.r-hd-top .r-main-logo img{
    width:auto;
    max-width: 100%;
    display: inline-block;
}
@media all and (max-width:800px){
    .r-hd-top .r-main-logo img{
        max-height:100%;
    }
}

.r-apa-logo{
    margin-right:4px;
}
.r-apa-logo img{
    width:auto;
    max-height:100%;
    display: inline-block;
}
.r-apa-logo i{
    color:#938028;
    font-size:20px;
    display: inline-block;
    vertical-align: top;
    margin-top: 14px;
}
.r-hd-right{
    float:right;
    height:100%;
}
.r-hd-right .lang-bar.pd-style .prettydropdown > ul{
    background: #fff;
}
.r-hd-right .lang-bar.pd-style .prettydropdown > ul > li{
    font-family: 'EB Garamond', serif;
    color:#333;
    text-align: right;
    height:28px;
    line-height:28px;
    padding-right: 28px;
    padding-left:0;
}
.r-hd-right .pd-style .prettydropdown.arrow > select{
    height:40px !important;
}
.r-hd-right .pd-style .prettydropdown.arrow > ul > li.selected:after{
    font-size:18px;
}
.r-hd-right .prettydropdown > ul.active > li:not(.label):hover,
.r-hd-right .prettydropdown > ul.active > li.hover:not(.label),
.r-hd-right .prettydropdown > ul.active > li:first-child:hover:after,
.reserve-item .prettydropdown > ul.active > li:not(.label):hover,
.reserve-item .prettydropdown > ul.active > li.hover:not(.label),
.reserve-item .prettydropdown > ul.active > li:first-child:hover:after{
    background: #666;
    color: #fff;
}

.r-menu-tb{
    display: none;
}
@media all and (max-width:800px){
    /* menu icon closed */
    .r-menu-tb{
        float:right;
        height:100%;
        display: table;
        width:32px;
    }
    .r-menu-tb .menu-trigger{
        display: table-cell;
        height:100%;
        vertical-align: middle;
        width: 100%;
    }
    .r-menu-tb .r-menu-icon span{
        background-color:#523206;
        height:3px;
        width:100%;
        display: block;
        margin-bottom:4px;
        transition: all .2s;
        transform-origin:0% 0%;
    }
    .r-menu-tb .r-menu-icon span:last-child{
        margin-bottom: 0;
    }

    /* menu icon opened */
    .nav-show .r-menu-tb .r-menu-icon span.first{
        height:2px;
        transform: translate3d(1.5px,-6.5px,0) rotate(45deg);
        margin-bottom:0;
    }
    .nav-show .r-menu-tb .r-menu-icon span.middle{
        opacity: 0;
    }
    .nav-show .r-menu-tb .r-menu-icon span.last{
        height:2px;
        transform: translate3d(0,0,0) rotate(-45deg);
    }
}

/* header link menu */
.r-hd-bottom .nav-menu{
    font-family: 'YuMincho',Serif;
}
.r-hd-bottom .nav-menu ul{
    margin:0;
    padding:0;
}
.r-hd-bottom .nav-menu ul li{
    font-size:14px;
}
.r-hd-bottom .nav-menu ul li a{
    padding:15px 2.4vw;
    color:#333;
}

.resort-hotel-myoko .r-hd-bottom .nav-menu ul li a{
    padding:15px 1.3vw;
}
.resort-hotel-myoko .r-hd-bottom .nav-menu ul li:first-child a{
    padding-left:0;
}
.resort-hotel-myoko .r-hd-bottom .nav-menu ul li:last-child a{
    padding-right:0;
}

@media all and (max-width:800px){
    .resort-wrapper .page-overlay{
        z-index: 110;
        background-color: rgba(0,0,0,0);
    }
    .r-hd-bottom .nav-menu{
        text-align: center;
        position: absolute;
        overflow-y: scroll;
        top: 0;
        padding: 74px 0 0 0;
        z-index: 130;
        left: -100%;
        width: 100%;
        color: #fff;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        height: 100vh;
        background-color: rgba(0,0,0,0.8);
    }
    .r-hd-bottom .nav-menu ul li:last-child{
        padding-bottom:60px;
    }
    .r-hd-bottom .nav-menu ul li a{
        font-size:20px;
        padding:1em 24px 1em 0;
        color:#fff;
    }
    .r-hd-bottom .nav-menu ul li a i{
        font-size:32px;
        position: absolute;
        right: 20px;
    }
    .r-hd-bottom .nav-menu ul li p{
        margin:2em 0;
        padding:0;
        font-size:18px;
    }
    .r-hd-bottom .nav-menu ul li p a{
        display:inline;
        padding:0;
        font-family: 'Noto Sans Japanese', serif;
        text-decoration: underline;
    }
    .r-hd-bottom .nav-menu ul li a.nav-link-back-red{
        background-color: rgba(155, 0, 0, 0.8);
    }
    .r-hd-bottom .nav-menu ul li a.nav-link-back-gold{
        background-color: rgba(199, 169, 86, 0.8);
    }
    .r-hd-bottom .nav-menu ul li a span.nav-link-bold{
        font-weight: bold;
        font-family: 'Noto Sans Japanese', serif;
    }

    /* select language */
    .r-hd-bottom .nav-menu #lang-bar-mb{
        border-bottom: 1px solid #eee;
    }
    .r-hd-bottom .nav-menu #lang-bar-mb .pd-style .prettydropdown > ul{
        background-color: #fff;
    }
    .r-hd-bottom .nav-menu #lang-bar-mb .pd-style .prettydropdown > ul > li{
        color:#333;
        font-size:16px;
    }
    .r-hd-bottom .nav-menu #lang-bar-mb .pd-style .prettydropdown.arrow{
        height:40px;
    }
    .r-hd-bottom .nav-menu #lang-bar-mb .pd-style .prettydropdown.arrow > ul > li.selected:after{
        content: "\f107";
        right: 10px;
        font-size:20px;
    }

    /* menu opened */
    .nav-show .r-hd-bottom .nav-menu{
        left:0;
    }

}
@media all and (max-width:480px){
    .r-hd-bottom .nav-menu ul li a{
        font-size:18px;
        padding:1em 14px 1em 0;
    }
    .r-hd-bottom .nav-menu ul li a i{
        font-size:28px;
        right: 10px;
    }
    .r-hd-bottom .nav-menu ul li p{
        font-size:14px;
    }
    .r-hd-bottom .nav-menu ul li p a{
        font-size:14px;
    }
}
@media all and (max-width:320px){
    .r-hd-bottom .nav-menu ul li a.link-apa-direct{
        font-size:16px;
        text-align: left;
        padding: 20px 14px 20px 10px;
    }
}


.r-page-container h2{
    margin-bottom: 0;
    text-align: center;
    font-size: 30px;
    font-family: 'EB Garamond', serif;
    color:#947F28;
}
.contents-header h3{
    margin-bottom: 0;
    text-align: center;
    color:#947F28;
    font-size:24px;
    font-family: 'YuMincho',Serif;
}
.r-page-container .header-underline{
    margin:6px auto 0;
    height:0;
    width:80px;
    border-top: 1px solid #C7A956;
}

.resort-top-area{
    background-color: #FAF9F0;
    padding-bottom:40px;
    margin-bottom:50px;
}
.resort-top-area .top-image{
    position: relative;
}
.resort-top-area .top-image img{
    width: 100%;
}
.resort-reserve{
    position: relative;
}
.resort-reserve form{
    overflow: visible;
    margin: -7% auto 0;
    padding: 26px;
    background-color: #fff;
    font-size: 16px;
}
.resort-reserve form .form-height{
    clear:both;
}
.resort-top-area h2{
    font-family: 'YuMincho',Serif;
}
.resort-top-area .header-underline{
    margin-bottom:20px;
}
.reserve-item-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.resort-reserve form .reserve-item{
    float:left;
    margin: 20px 0 0 20px;
}
.reserve-item i{
    font-size: 18px;
    padding-right: 0.4em;
}
.reserve-item label{
    color:#523206;
}
.reserve-item .resort-form-label{
    display: block;
}
.reserve-item .pd-style,
.reserve-item input[type=date]{
    margin-top: 4px;
}
.reserve-item .pd-style span{
    padding-left: 4px;
}
.reserve-item.reserve-select-md input{
    width:171px;
    height:42px;
    border: solid 1px #eee;
    border-radius: 4px;
    color:#666666;
    box-shadow: 0 0 1px rgba(67,67,67,0.1);
}
.reserve-item .prettydropdown.arrow{
    height:42px !important;
    box-shadow: 0 0 1px rgba(67,67,67,0.1);
}
.reserve-item .prettydropdown.arrow ul{
    border-radius:4px;
}
.reserve-item .prettydropdown.arrow ul li{
    color:#666666;
}
.reserve-item.reserve-select-sm .prettydropdown.arrow{
    width:133px !important;
}
.reserve-item.reserve-select-sm .prettydropdown.arrow ul li{
    width:131px !important;
}
.reserve-item.reserve-select-md .prettydropdown.arrow{
    width:164px !important;
}
.reserve-item.reserve-select-md .prettydropdown.arrow ul li{
    width:162px !important;
}
.reserve-item.reserve-select-lg .prettydropdown.arrow{
    width:228px !important;
}
.reserve-item.reserve-select-lg .prettydropdown.arrow ul li{
    width:226px !important;
}
.resort-form-submit-btn{
    display: flex;
    flex:1 1 auto;
    justify-content: space-between;
    margin: 34px 0 0 36px;
}
.resort-form-submit-btn input{
    display: inline-block;
    height:56px;
    line-height: 56px;
    text-align: center;
    color:#fff;
    font-size:16px;
    font-family: 'YuMincho',Serif;
    font-weight: lighter;
}
.resort-form-submit-btn input:first-child{
    margin-right:16px;
}
.resort-form-submit-btn input{
    border:none;
}
.resort-form-submit-btn input.submit-narrow{
    flex:1 1 42%;
    min-width: 150px;
    background: #C7A956;
}
.resort-form-submit-btn input.submit-wide{
    flex:1 1 56%;
    min-width: 190px;
    background: #947F28;
}

.resort-contents{
    margin:10px auto;
}
.resort-contents .contents-header{
    margin-bottom:90px;
}
.resort-contents .contents-header .r-header-sub{
    text-align: center;
    font-size:12px;
}
.resort-contents p{
    font-size:14px;
    line-height: 2;
}

.resort-contents a p{
    display: block;
    height: 44px;
    line-height: 44px;
    width: 100%;
    color: #947F28;
    text-decoration: none;
}
.r-top-infomation{
    margin-bottom:60px;
}
.r-notification-list{
    margin:0;
    padding:0;
}
.r-notification-list li{
    overflow: hidden;
    margin-top:26px;
    border-bottom: 1px solid #DDDDDD;
}
.r-notification-list li:last-child{
    border-bottom: none;
}

.r-notification-list li .r-notification-left{
    float:left;
    margin-right:30px;
    display: flex;
    width:220px;
    max-height:124px;
    border: 1px solid #E2E2E2;
    background: #DDDDDD;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.r-notification-left img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.r-notification-right{
    padding-left: 260px;
    color: #666666;
    font-size:13px;
}
.r-information-logo,
.r-event-logo{
    display: inline-block;
    margin-right:16px;
    padding:4px 0;
    width:132px;
    text-align: center;
    color:#fff;
    font-size:14px;
    vertical-align: middle;
}
.r-information-logo{
    background-color: #C7A956;
    font-family: 'EB Garamond', serif;
}
.r-event-logo{
    background-color: #1E87FF;
}
.r-notification-date{
    font-size:14px;
}
.r-notification-title{
    color:#C7A956;
    margin:10px 0 12px;
}
.r-notification-text{
    margin-bottom:16px;
    padding-right:60px;
    font-size:12px;
    line-height:1.5;
}
.r-notification-link{
    text-align: right;
    margin-bottom:12px;
}
.r-notification-link a{
    text-decoration: none;
    color: #C7A956;
}
.r-notification-link a span{
    display: inline-block;
    padding-right:6px;
    height:24px;
    line-height:24px;
    vertical-align: middle;
    font-size:12px;
    text-decoration: underline;
}
.r-notification-link i{
    display: inline-block;
    font-size:20px;
    height:24px;
    line-height:24px;
    vertical-align: middle;
}
.r-event-list .r-notification-link a{
    padding-right:26px;
}
.resort-info-links{
    background-color: #FAF9F0;
    margin-bottom:70px;
}
.resort-middle-visual img{
    width:100%;
}

.resort-info-links .contents-frame {
    padding:60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.resort-info-links .contents-frame > div{
    white-space: nowrap;
    font-size:14px;
    padding:1.4em 0;
}
.resort-info-links .contents-frame > div a{
    color:#523206;
    text-decoration: none;
}
.resort-info-links .contents-frame > div span{
    display: inline-block;
    padding-left:0.5em;
    height:32px;
    line-height: 32px;
}
.resort-info-links .contents-frame > div i{
    font-size:30px;
    height:32px;
    line-height: 32px;
    vertical-align: middle;
}
.r-page-container .banners{
    background-color: #FAF9F0;
}
.r-page-container .banners .contents-frame{
    width:94vw;
    max-width: 1000px;
    padding:10px 0 30px;
    margin-bottom:30px;
    text-align:center;
}
.r-page-container .banners .contents-frame > div{
    margin:20px 0.5% 0;
    max-width: 32%;
    display: inline-block;
}
.r-page-container .banners .contents-frame > div a{
    display: block;
    max-width: 100%;
}
.r-page-container .banners .contents-frame > div img{
    width:auto;
    display: inline-block;
    max-width:100%;
}

.r-footer{
    position: relative;
}
.r-footer .trip-advisor-area .box-ta{
    border:1px solid #589442;
}
.r-footer .trip-advisor-area .trip-advisor-notice{
    font-size:12px;
}
.r-footer .r-footer-left-top{
    margin-right:230px;
    position:relative;
}
.r-footer .r-footer-left-top .r-footer-hotel-info{
    float:left;
    width:300px;
}
.r-footer .r-footer-left-top .r-footer-hotel-info img{
    width:auto;
    max-width: 100%;
    margin-bottom:20px;
}
.r-footer .r-footer-left-top .r-footer-hotel-info p{
    margin:0;
    padding: 0;
    font-size:12px;
    color:#666;
}
.r-footer .r-footer-left-top .r-hooter-notice-list{
    padding-left:310px;
}
.r-footer .r-footer-left-top .r-hooter-notice-list table{
    margin:0;
    padding:0;
    float:right;
}
.r-footer .r-footer-left-top .r-hooter-notice-list table td{
    margin:1em 0;
    font-size:12px;
}
.r-footer .r-footer-left-top .r-hooter-notice-list table td a{
    display: inline-block;
    padding:10px 0;
    color:#666;
}
.r-footer .r-footer-left-top .left-border{
    float:right;
    width:100vw;
    border-top: 1px solid #E2E2E2;
    margin-top:30px;
}
.r-footer .r-footer-left-bottom{
    float:left;
    margin:10px 0;
}
.r-footer .r-footer-left-bottom ul{
    margin:0;
    padding:0;
}
.r-footer .r-footer-left-bottom ul li{
    display: inline-block;
    padding-bottom:5px;
}
.r-footer .r-footer-left-bottom ul li a{
    display: inline-block;
    padding:0 15px;
    color:#666;
    font-size:12px;
    text-decoration: none;
    border-left:2px solid #e2e2e2;
}
.r-footer .r-footer-left-bottom ul li:first-child a{
    padding-left:0;
    border-left:none;
}
.r-footer .r-footer-right{
    float:right;
    width:200px;
}
.r-footer .r-footer-bottom,
.r-footer-2 .r-footer-bottom{
    clear:both;
    text-align: center;
    padding:20px 0;
    color:#fff;
    font-size:12px;
    background-color: #000;
}


@media all and (max-width:800px){
    .r-page-container h2{
        font-size:24px;
    }

    .resort-top-area .top-image{
        text-align: center;
        overflow: hidden;
        height:72vw;
        background-image: url('../img/KV_1.jpg');
        background-position:center top;
        background-size: auto 100%;
    }
    .resort-top-area .top-image img{
        display: none;
    }
    .resort-reserve form{
        overflow: visible;
        position: relative;
        z-index: 140;
        margin:20px auto;
        padding:0;
        width:94%;
        background-color: #FAF9F0;;
    }
    body.nav-show .resort-reserve form{
        z-index: 100;
    }
    .header-underline{
        display: none;
    }
    .r-resort-top .header-underline{
        display: block;
    }
    .resort-reserve form .reserve-item{
        margin:10px 0 0 0;
        width: 49%;
    }
    .resort-reserve form .reserve-item label{
        font-size:14px;
    }
    .resort-reserve form .reserve-item input{
        border:1px solid #DEDAA9;
    }
    .resort-reserve form .reserve-item input,
    .resort-reserve form .reserve-item .prettydropdown.arrow{
        width:95% !important;
        border-radius: 0;
        box-shadow:none;
    }
    .resort-reserve form .reserve-item .prettydropdown.arrow ul{
        border:1px solid #DEDAA9;
    }
    .resort-reserve form .reserve-item .prettydropdown.arrow ul,
    .resort-reserve form .reserve-item .prettydropdown.arrow ul li{
        width:100% !important;
        border-radius: 0;
    }
    .resort-reserve form .reserve-item #prettydropdown-book-budget{
        width:80% !important;
    }
    .resort-form-submit-btn{
        margin:0;
        width:100%;
    }
    .resort-form-submit-btn{
        flex-wrap: wrap;
    }
    .resort-form-submit-btn input,
    .resort-form-submit-btn input.submit-wide,
    .resort-form-submit-btn input.submit-narrow{
        margin-right:auto;
        margin-left:auto;
        margin-top:20px;
        height:50px;
        line-height: 50px;
        flex:0 1 100%;

        /** iosでのスタイルをリセット **/
        -webkit-appearance: none;
        border-radius:0;
    }


    .resort-contents .contents-header{
        margin-bottom: 40px;
    }
    .resort-contents p{
        font-size:13px;
    }

    .r-notification-list li .r-notification-left{
        width:200px;
        margin-right:0;
    }
    .r-notification-list .r-notification-right{
        padding-left:210px;
    }
    .r-notification-list .r-information-logo{
        font-size:13px;
        width: 120px;
    }
    .r-notification-list .r-notification-text{
        padding-right: 20px;
    }

    .resort-middle-visual{
        text-align: center;
        overflow: hidden;
        height:60vw;
        background-image: url('../img/img-mainvisual-1.jpg');
        background-position:center top;
        background-size: auto 100%;
    }
    .resort-middle-visual img{
        display: none;
    }

    .resort-info-links .contents-frame{
        padding: 20px 0;
        justify-content: center;
        flex-direction: column;
    }
    .resort-info-links .contents-frame > div{
        font-size:13px;
        padding: 0.7em 10px;
    }

    .r-page-container .banners .contents-frame > div{
        margin: 20px 0.5% 0;
        width: 48.5%;
        max-width: 48.5%;
    }
    .r-page-container .banners .contents-frame > div a{
        text-align: center;
    }

    .r-footer .r-footer-right{
        float: none;
        width: 94%;
        margin:0 auto;
    }
    .r-footer .trip-advisor-area .trip-advisor-notice{
        font-size:16px;
    }
    .r-footer .r-footer-left-top{
        margin:0 auto 16px;
        width:94%;
        text-align: center;
    }
    .r-footer .r-footer-left-top .r-footer-hotel-info{
        float:none;
        margin: 0;
        width:100%;
        text-align: center;
    }
    .r-footer .r-footer-left-top .r-footer-hotel-info img{
        display: inline-block;
    }
    .r-footer .r-footer-left-top .r-hooter-notice-list,
    .r-footer .r-footer-left-top .left-border,
    .r-footer .r-footer-left-bottom{
        display: none;
    }
    .r-footer .r-footer-bottom{
        font-size:10px;
    }
}
@media all and (max-width:480px){
    .r-page-container .banners .contents-frame > div{
        margin: 20px auto 0;
        width: 100%;
        max-width: 100%;
    }

    .r-notification-list{
        margin:0;
        padding:0;
    }
    .r-notification-list li{
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .r-notification-list li .r-notification-left{
        float:none;
        margin-right:0;
        margin-bottom:20px;
        width:100%;
        max-height:200px;
        order:2;
    }
    .r-notification-list .r-notification-right{
        order:1;
        padding-left: 0;
        width:100%;
    }

    .r-notification-list .r-event-logo{
        margin-right: 6px;
        padding:2px 0;
        width: 100px;
        font-size:11px;
    }
    .r-notification-list .r-information-logo{
        margin-right: 6px;
        line-height: 1.3;
        font-size:14px;
    }
    .r-notification-list .r-notification-date{
        font-size:12px;
    }
    .r-notification-list .r-notification-text{
        display: none;
    }
    .r-notification-list .r-notification-link{
        display: none;
    }
}
@media all and (max-width:320px){
    .resort-reserve form .reserve-item label{
        font-size:13px;
    }
    .resort-info-links .contents-frame > div{
        font-size:11px;
    }
}

.r-page-container.r-guestroom{
    padding-top:0;
}
.r-guestroom .resort-top-wrapper{

}
.r-guestroom .resort-top-area{
    margin-bottom:0;
    padding-top:65px;
    height:270px;
}
.r-guestroom .resort-reserve{
    margin-top:-200px;
    margin-bottom:50px;
}
.r-guestroom .resort-reserve form{
    margin-top:0;
    box-shadow: 0 0 10px rgba(67,67,67,0.1);
}

.r-guestroom .resort-contents .contents-header{
    margin-bottom: 30px;
}
.r-guestroom .resort-contents .contents-header h2{
    color:#947F28;
    letter-spacing: 0.4em;
}
.resort-contents .contents-header .header-underline-text{
    color:#947F28;
    font-family: 'EB Garamond', serif;
    font-size:14px;
    text-align: center;
}
.r-structure-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 60px auto 60px !important;
    width: 100%;
    font-family: 'YuMincho',Serif;
    width: 94%;
    max-width: 1000px;
}

.myoko-guestroom .r-structure-type li{
    width: 50%;
}
#tab-02 .r-room-type li{
    width: 20%;
}
.myoko-guestroom .contents-frame{
    margin:0 auto;
    width:100%;
    max-width: 1000px;
}
.myoko-guestroom .r-room-type{
    justify-content: normal;
}
.r-structure-type li{
   /* width:33.1%;*/
    width:50%;
    height:65px;
    line-height: 65px;
    background-color: #947F28;
    opacity:0.3;
    text-align: center;
    vertical-align: middle;
    font-size:18px;
    cursor: pointer;
}

.r-structure-type li.active{
    opacity:1;
}
.r-structure-type li a{
    color:#fff;
    text-decoration: none;
    cursor: pointer;
}
.myoko-guestroom ul.r-side-border-menu{
    display: inline-block;
}

ul.r-side-border-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 40px 0 0;
    width: 100%;
    font-family: 'YuMincho',Serif;
}

.myoko-guestroom .r-side-border-menu.r-room-type{
    justify-content: normal;
}
.r-side-border-menu.r-room-type{
    justify-content: space-between;
}

.r-side-border-menu.west-wing-types,
.r-side-border-menu.east-wing-types{
    display: none;
}
.west-wing-rooms,
.east-wing-rooms{
    display: none;
}
.r-contents-link{
    display: none;
    position: relative;
    margin-bottom:10px;
    padding:10px 0;
    width: 100%;
    border:1px solid #C7A956;
    color:#C7A956;
    font-size: 16px;
    font-family: 'YuMincho',Serif;
    text-align: center;
}
.r-contents-link i{
    position: absolute;
    right:10px;
    font-size: 24px;
}
.r-side-border-menu li{
    text-align: center;
    width:20%;
    border-left:1px solid #707070;
}
.myoko-guestroom .r-side-border-menu li{
    text-align: center;
    width: 20%;
    border-left: 1px solid #707070;
    float: left;
    margin-bottom: 30px;
}
.myoko-guestroom .r-room-detail{
    padding: 0px 0 30px;
}
.r-side-border-menu li:last-child{
    border-right:1px solid #707070;
}
.r-side-border-menu li a{
    display: block;
    height:44px;
    line-height: 44px;
    width:100%;
    color:#947F28;
    text-decoration: none;
}
.r-side-border-menu li .r-room-single{
    line-height:24px;
}
.myoko-guestroom .r-side-border-menu li .r-room-single{
    line-height:44px;
}


.r-room-detail{
    padding:50px 0 30px;
    border-bottom:1px solid #DED8BD;
}
.r-room-detail h3,
.r-hotel-services h3,
.r-breakfast h3{
    color:#947F28;
    font-size:18px;
    letter-spacing: 0.1em;
    font-family: 'YuMincho',Serif;
}
.r-room-main-image img{
    width:100%;
}

.r-contents-description-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:30px;
}
.r-contents-description-flex > div{
    width:100%;
    flex:0 1 49%;
    margin-top:20px;
    overflow: hidden;
}
.r-contents-description-flex img{
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.r-contents-description-flex .r-description-gold{
    color:#947F28;
    font-family: 'YuMincho',Serif;
}
.r-room-description-left p{
    margin: 0;
    font-size:16px;
    color:#707070;
    line-height:1.6;
}
.r-room-description-left .r-room-layout{
    margin-top:16px;
}
.r-room-description-left .r-room-layout td.layout-right{
    padding-left:1em;
}

.r-room-description-left .r-room-amenity-icons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-top:20px;
}
.r-room-description-left .r-room-amenity-icons i{
    display: inline-block;
    margin:0 10px 10px 0;
    padding:5px;
    font-size:20px;
    color:#000;
    border-radius: 50%;
    border: solid 1px #000;
}

.r-room-description-left .r-room-notice{
    margin-top:10px;
}
.r-room-description-left .r-room-separator{
    height:0;
    border-top:1px solid #947F28;
    width:100px;
    margin:16px 0;
}
.r-room-description-right p{
    margin:0 0 10px;
    font-size:13px;
}

.r-room-description-right .room-table-outer{
    overflow: scroll;
}

.r-room-description-right table{
    width: 100%;
}
.r-room-description-right table th,
.r-room-description-right table td{
    vertical-align: middle;
    text-align: center;
    padding:10px 5px;
    font-size:12px;
}

.r-room-description-right table th{
    border-collapse: collapse;
    background-color: #DED8BD;
    border-right:1px solid #ffffff;
    font-weight: normal;
    white-space: nowrap;
}
.r-room-description-right table th:first-child{
    border-left:1px solid #DED8BD;
}
.r-room-description-right table th:last-child{
    border-right:1px solid #DED8BD;
}
.r-room-description-right table td{
    border-collapse: collapse;
    border-right:1px solid #DED8BD;
    border-bottom:1px solid #DED8BD;
    white-space: nowrap;
}
.r-room-description-right table td:first-child{
    border-left:1px solid #DED8BD;
    white-space: normal;
}
.r-button-link{
    margin-top:24px;
}
.access--upperbox.r-button-link{
    text-align:center;
}
.r-button-link a {
    display: inline-block;
    width: 345px;
    height:50px;
    line-height: 50px;
    font-size:16px;
    color:#fff;
    text-align: center;
    text-decoration: none;
    font-family: 'YuMincho',Serif;

}
.access--upperbox.r-button-link a{
    width:40%;
    text-align:center;
}
.r-button-link-brown a{
    background-color: #523206;
}
.r-button-link-gold a{
    background-color: #947F28;
}
.r-button-link-green a{
    background-color: #003300;
}
.r-button-link a img{
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height:100%;
}

.r-link-mb{
    display: none;
}

.r-hotel-services{
    margin-top:30px;
}

.r-contents-table th,
.r-contents-table td{
    vertical-align: middle;
    border-right:1px solid #DED8BD;
    text-align: left;
    padding:30px;
}
.r-contents-table th{
    background-color: #DED8BD;
    border-bottom:1px solid #ffffff;
    white-space: nowrap;
    font-weight: normal;
}
.r-contents-table.r-th-center th{
    text-align: center;
}
.r-contents-table th br{
    display: none;
}
.r-contents-table td{
    border-bottom:1px solid #DED8BD;
}
.r-contents-table tr.r-first-line th,
.r-contents-table tr.r-first-line td{
    border-top:1px solid #DED8BD;
}
.r-contents-table tr.r-last-line th,
.r-contents-table tr.r-last-line td{
    border-bottom:1px solid #DED8BD;
}
.r-about-facility{
    text-align: right;
}

.r-breakfast{
    padding:30px 0 50px;
    background-color: #FAF9F0;
}
.r-breakfast-information{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.r-breakfast-information div{
    flex:1 1 50%;
    width: 100%;
}
.r-contents-table-narrow{
    background-color: #fff;
}
.r-contents-table-narrow th{
    padding:30px 6px;
}
.r-contents-table-narrow td{
    padding:16px;
}
.r-contents-table-narrow td p{
    margin:0;
    line-height:1.6;
}
.r-footer-2{
    padding-top:50px;
}
.r-footer-2 img{
    display: inline-block;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}
.r-footer-2-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom:20px;
}
.r-footer-2-top > div{
    width:100%;
    white-space: nowrap;
}
.r-footer-2-top-left{
    flex:1 1 40%;
    text-align: left;
}
.r-footer-2-top-right{
    flex:1 1 60%;
    text-align: center;
}
.r-footer-2-top > div span{
    padding-right:1em;
    font-size:14px;
}

@media all and (max-width:800px){
    .r-link-mb{
        display: block;
    }
    .r-link-pc{
        display: none;
    }

    .r-guestroom .resort-top-wrapper{
        padding-bottom:20px;
        margin:0 0 20px;
        background-color: #FAF9F0;
    }
    .r-guestroom .resort-top-area{
        height:auto;
        padding:20px 0;
    }
    .r-guestroom .resort-reserve{
        margin: 0;
    }
    .r-guestroom .resort-reserve form{
        box-shadow: none;
    }
    .r-structure-type{
        margin: 30px auto  !important;
    }
    .r-structure-type li{
        display: block;
    }

    .rooms-toggle{
        display: block;
    }
    .r-side-border-menu.r-room-type{
        display: none;
    }
    .r-room-detail h3,
    .r-hotel-services h3,
    .r-breakfast h3 {
        font-size:16px;
        text-align: center;
    }
    .r-contents-description-flex > div{
        flex:1 1 100%;
    }
    .r-room-description-left p{
        font-size:14px;
    }
    .r-room-layout tr{
        display: table-row !important;
    }
    .r-button-link a{
        width:100%;
    }
    .r-room-description-right table tr{
        display: table-row !important;
    }
    .r-contents-table tr{
        display: table-row !important;
    }
    .r-contents-table th,
    .r-contents-table td{
        padding:10px;
    }
    .r-contents-table th br{
        display: inline;
    }

    .r-footer-2{
        padding-top:25px;
    }
    .r-footer-2-top > div{
        white-space: normal;
    }
    .r-footer-2-top-left,
    .r-footer-2-top-right{
        flex:1 1 100%;
        text-align: center;
    }
    .r-footer-2-top-left{
        margin-bottom:20px;
    }
    .r-footer-2-top-right span{
        display: block;
    }

}

.r-img-slider .slick-slide{
    height:400px;
}
.r-img-slider .slick-slide img{
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;
}
.has-thumbnail-slider-wrapper .r-img-slider{
    padding: 0 5px;
}
.has-thumbnail-slider-wrapper .slick-slide li{
    padding:10px 5px;
}
.has-thumbnail-slider-wrapper .r-img-slider .slick-slide li{
    padding:0;
}
@media all and (max-width:800px){
    .r-img-slider .slick-slide{
        height:320px;
    }
}
@media all and (max-width:480px){
    .r-img-slider .slick-slide{
        height: auto;
    }
    .r-img-slider .slick-slide img{
        position: static;
    }
    .has-thumbnail-slider-wrapper .slick-slide li{
        padding:5px;
    }
}


.r-spa h2{
    font-family: 'YuMincho',Serif;
    font-size:30px;
}
.r-spa .contents-header{
    margin-bottom:20px;
}
.r-spa .contents-header .header-underline-text{
    font-family:'Playfair Display',Serif;
}
.r-spa-type-pc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.r-spa-type-pc li{
    flex:1 1 33%;
    text-align: center;
}
.r-spa-type-pc li a{
    display: inline-block;
    font-family: 'YuMincho',Serif;
    text-decoration: none;
    line-height: 36px;
}
.r-spa-type-pc li a i{
    font-size:28px;
}
.r-spa-type-mb{
    display: none;
}
.r-spa-detail{
    margin-bottom:50px;
}
.r-spa-detail:last-child{
    margin-bottom:0;
}
.spa-slider-mb{
    display: none;
}
.r-spa-main-image{
    position: relative;
}
.r-spa-caption{
    position: absolute;
    bottom:40px;
    width:100%;
}
.r-caption-wrapper{
    width:94%;
    max-width: 1000px;
    margin:0 auto;
}
.r-spa-caption .spa-name{
    font-family: 'YuMincho',Serif;
    color:#fff;
}
.r-spa-caption .spa-floor{
    font-size:24px;
    flex-basis: 100%;
}
.r-spa-caption .spa-name-main{
    font-size:36px;
    display: inline-block;
}
.r-spa-caption .spa-name-sub{
    font-size:26px;
    display: inline-block;
}
.r-spa-caption p{
    font-size:14px;
    line-height: 1.4;
    color:#fff;
}
@media all and (max-width:800px){
    .r-spa-type-pc{
        display: none;
    }
    .r-page-container ul.r-spa-type-mb{
        display: block;
        margin-bottom:40px;
    }
    .r-spa-type-mb .r-contents-link{
        display: block;
        font-size:14px;
        text-decoration: none;
    }
    .contents-header h3{
        font-size:20px;
    }
    .r-spa-detail .header-underline{
        display: block;
        width:70px;
    }
    .r-contents-description-flex{
        margin-top:0;
    }
    .r-spa-caption{
        display: block;
        position: static;
        margin-top:20px;
    }
    .r-spa-caption .spa-name{
        font-family: 'YuMincho',Serif;
        color:#555555;
    }
    .r-spa-caption .spa-floor{
        font-size:18px;
        flex-basis: 100%;
    }
    .r-spa-caption .spa-name-main{
        font-size:20px;
    }
    .r-spa-caption .spa-name-sub{
        font-size:16px;
    }
    .r-spa-caption p{
        font-size:12px;
        line-height: 1.5;
        color:#555555;
    }
    .r-contents-table{
        width: 100%;
    }
    .spa-slider-pc{
        display: none;
    }
    .spa-slider-mb{
        display: block;
    }
}

.r-3grid .resort-contents .contents-header{
    margin-bottom:50px;
}
.r-3grid .contents-header h2{
    font-size:30px;
    font-family: 'YuMincho',Serif;
}
.r-3grid-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.r-3grid-detail{
    flex:0 1 32%;
    margin:0 1.6% 20px 0;
    border:1px solid #DED8BD;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.r-3grid-detail:nth-child(3n){
    margin:0 0 20px 0;
}
.r-3grid-detail > div{
    width: 100%;
}
.r-3grid-detail .r-3grid-about{
    padding:10px 10px 20px 10px;
}
.r-3grid-detail p{
    margin:0;
    font-size:13px;
    line-height:1.6;
    color:#666666;
}
.r-3grid-detail .r-3grid-floor{
    font-size:12px;
}
.r-3grid-name{
    margin-bottom:20px;
    color:#947F28;
    font-size:16px;
}
.r-3grid-link{
    padding: 10px;
    margin-top: 0;
}
.r-3grid-link a{
    width: 100%;
}
@media all and (max-width:800px){
    .r-3grid .contents-header h2{
        font-size:24px;
    }
    .r-3grid-detail{
        flex:0 1 100%;
        margin:0 0 20px;
    }
}

.r-description-title{
    margin-bottom:20px;
    font-size:18px;
    font-family: 'YuMincho',Serif;
    color:#947F28;
}
.r-description-title-gray{
    margin-bottom:20px;
    font-size:18px;
    font-family: 'YuMincho',Serif;
    color:#383838;
}
.r-description-title-sub{
    font-size:14px;
}
.r-contents-description-flex .r-description-mini{
    font-size:12px;
    line-height: 1.6;
}

.r-restaurant-text p{
    font-size:14px;
    line-height:1.8;
}
.r-restaurant-reserve{
    background-color: #FAF9F0;
    padding:30px 0;
}
.r-restaurant-reserve form{
    margin-top:0;
    box-shadow: 0 0 8px rgba(67,67,67,0.2);
}
.r-restaurant-reserve form .reserve-item{
    flex:0 1 171px;
    margin:0 20px 0 0;
}
.r-restaurant-reserve .contents-header h2{
    font-size:20px;
    margin-bottom:20px;
}
.r-restaurant-reserve form .reserve-item input,
.r-restaurant-reserve form .reserve-item .prettydropdown ul,
.r-restaurant-reserve form .reserve-item .prettydropdown.arrow{
    box-shadow: none;
    border-radius: 0;
}
.r-restaurant-reserve .pd-style .prettydropdown.arrow > ul > li.selected:after{
    content:"\e91f";
}
.r-restaurant-reserve .resort-form-submit-btn{
    flex:1 0 auto;
    margin:0;
    height:auto;
}
.r-restaurant-reserve form .resort-form-submit-btn input{
    width: 100%;
    height:42px;
    text-align: center;
    line-height: normal;
    background-color: #523206;
}


/* 見出し・本文が横並びから縦並びに変わるテーブル ここから */
.r-tilt-list{
    display: table;
    table-layout: fixed;
    border-collapse:collapse;
    width:100%;
}
.r-tilt-list .tilt-list-line{
    width:100%;
    display: table-row;
}
.r-tilt-list .tilt-list-th,
.r-tilt-list .tilt-list-td{
    display: table-cell;
    vertical-align: middle;
}

.r-tilt-list-gold{
    border:1px solid #DED8BD;
}
.r-tilt-list-gold .tilt-list-th,
.r-tilt-list-gold .tilt-list-td{
    padding:30px;
    color:#666666;
}
.r-tilt-list-gold .tilt-list-th{
    width:20%;
    background-color: #DED8BD;
    border-bottom:1px solid #fff;
}
.r-tilt-list-gold .tilt-list-td{
    width:80%;
    border-bottom:1px solid #E2E2E2;
}
.r-tilt-list-gold .tilt-list-last .tilt-list-th,
.r-tilt-list-gold .tilt-list-last .tilt-list-td{
    border:none;
}
/* 見出し・本文が横並びから縦並びに変わるテーブル ここまで */

.r-desc-item{
    margin-bottom: 20px;
}
.r-desc-item .r-desc-title{
    color:#947F28;
    padding-left:1em;
    margin-bottom:10px;
    border-left:3px solid #947F28;
}
.r-desc-item .r-desc-text{
    color:#666;
}
.restaurant-outer-site a{
    display: inline-block;
    color:#947F28;
    font-size:16px;
    margin-bottom:10px;
}


.r-restaurant-detail .contents-header{
    margin-bottom:30px;
}
.r-restaurant-detail-item{
    margin-bottom:60px;
}
.r-pickup-item{
    margin-bottom:30px;
    padding:30px;
    border:1px solid #DED8BD;
}
.r-pickup-title{
    position:relative;
    padding-right:30px;
}
.r-pickup-title span{
    font-size:22px;
    color:#947F28;
}
.r-pickup-title i{
    position: absolute;
    top:0;
    right:0;
    font-size:32px;
}
.r-pickup-text{
     color:#666666;
 }
.r-pickup-item .r-contents-description-flex > div{
    flex:0 1 48%;
}
.restaurant-coupon .r-pickup-text{
    width:80%;
    margin:30px auto 0;
    font-size:14px;
}
.restaurant-coupon .r-pickup-text .r-pickup-text-gold{
    color:#947F28;
}
.restaurant-coupon .r-pickup-text p{
    font-size:12px;
    margin:10px 0;
    line-height: 1.5;
}
.r-coupon-expire-date-pc{
    text-align: center;
    font-size:16px;
    margin:20px 0;
}
.r-coupon-expire-date-mb{
    display: none;
}
.r-print-button{
    text-align: center;
}
.r-print-button a{
    display: inline-block;
    height:55px;
    line-height: 55px;
    width: 300px;
    color:#666666;
    font-size:15px;
    text-align: center;
    text-decoration: none;
    background-color: #D6D6D6;
}
.r-restaurant-tel{
    margin:50px 0;
}
.r-tel-top-border-wrapper{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.r-tel-top-border{
    flex:0 1 40%;
    height:6px;
    border-top:1px solid #DED8BD;
    background-color:#F8F7F2;
}
.r-tel-top-border-text{
    flex:1 0 auto;
    display: inline-block;
    padding:0 2em;
    color:#947F28;
    font-size:16px;
    text-align: center;
    font-family: 'YuMincho',Serif;
}
.r-tel-bottom-border{
    width: 100%;
    height:6px;
    border-bottom:1px solid #DED8BD;
    background-color:#F8F7F2;
}
.r-tel-name-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'YuMincho',Serif;
    padding:10px 0;
}
.r-tel-name{
    font-size:18px;
    color:#666666;
    margin-right:2em;
}
.r-tel-no{
    font-size:32px;
    color:#666666;
}
.r-restaurant-detail-contents .r-button-link{
    text-align: center;
}
@media all and (max-width:800px){
    .r-restaurant-reserve form{
        background-color: #fff;
        padding: 20px;
    }
    .r-restaurant-reserve form .reserve-item-wrapper{
        justify-content: space-between;
    }
    .r-restaurant-reserve form .reserve-item{
        flex:0 1 48%;
        margin:10px 0 0 0;
    }
    .r-restaurant-reserve form .reserve-item input,
    .r-restaurant-reserve form .reserve-item .prettydropdown.arrow{
        width:100% !important;
    }
    .r-restaurant-reserve form .reserve-item input,
    .r-restaurant-reserve form .reserve-item .prettydropdown.arrow ul{
        border:1px solid #DDDDDD;
    }
    .r-restaurant-reserve form .reserve-item.reserve-people{
        flex:1 1 100%;
    }
    .r-restaurant-reserve form .resort-form-submit-btn input{
        margin:20px 0 0 0;
    }

    .r-description-title{
        text-align: center;
        margin-top:50px;
    }

    .r-tilt-list .tilt-list-th,
    .r-tilt-list .tilt-list-td{
        width:100%;
        display: block;
    }
    .r-tilt-list-gold .tilt-list-th{
        text-align: center;
        border:none;
    }
    .r-tilt-list-gold .tilt-list-th{
        padding:10px;
    }
    .r-tilt-list-gold .tilt-list-th br{
        display: none;
    }
    .r-tilt-list-gold .tilt-list-td{
        border:none;
    }
    .r-tilt-list-gold .tilt-list-td{
        padding:16px;
    }
    .r-pickup-item{
        padding:16px;
    }
    .r-pickup-item .r-contents-description-flex > div{
        flex:1 1 100%;
    }
    .r-pickup-title{
        text-align: center;
        margin-bottom:10px;
    }
    .r-pickup-title span{
        font-size:18px;
    }
    .r-pickup-title i{
        font-size:28px;
    }
    .restaurant-coupon .r-pickup-text{
        margin:0;
        width:100%;
    }
    .r-pickup-text-gold{
        width: 100%;
        padding:10px;
        background-color: #F4F4F4;
    }
    .r-coupon-expire-date-pc{
        display: none;
    }
    .r-coupon-expire-date-mb{
        display: block;
        text-align: right;
        font-size:12px;
        margin-bottom:40px;
    }
    .r-print-button{
        display: none;
    }
    .r-tel-top-border-text{
        padding:0 0.5em;
    }
    .r-tel-name-wrapper{
        flex-wrap: wrap;
        padding:20px 0 10px;
    }
    .r-tel-name{
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .r-tel-no{
        font-size:40px;
    }
}

.r-bridal .contents-header{
    margin-bottom:30px;
}
@media all and (max-width:800px){
    .r-bridal .contents-header .header-underline{
        display: block;
    }
    .r-bridal .r-3grid-wrapper{
        margin-bottom:50px;
    }
}

.r-facility .resort-contents .contents-header{
    margin-bottom:40px;
}
.facility-main-visual img{
    width: 100%;
}
.r-facility .r-contents-table th{
    white-space: normal;
}
.r-facility-detail p{
    line-height:1.5;
    font-size:12px;
}
.r-facility-detail p a{
    color:#666666;
}
.r-facility-detail{
    padding:40px 0;
    border-bottom:1px solid #DED8BD;
}
.r-facility-detail .r-description-title{
    margin-bottom:0;
}
.r-facility-detail .r-contents-description-flex{
    margin-top:0;
}
.r-facility-detail .r-flex-image-outer{
    display: flex;
    width:100%;
    min-height:250px;
    border:1px solid #E2E2E2;
    justify-content: center;
    align-items: center;
}
.r-flex-image-inner{
    width: 100%;
    text-align: center;
}
.r-facility .r-contents-table a{
    color:#C7A956;
}
.r-facility-link .r-facility-detail:first-child{
    border-bottom: none;
}
.r-facility-link .r-contents-description-right{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.r-facility-link .r-contents-description-right p,
.r-facility-link .r-contents-description-right div{
    width: 100%;
}
@media all and (max-width:800px){
    .facility-main-visual{
        background-image: url('../img/facility-top.jpg');
    }

    .r-facility-detail{
        padding:0 0 20px;
    }
    .r-facility-link.r-facility-map .r-contents-description-right p{
        display: none;
    }
    .r-facility-detail .r-description-title{
        text-align: left;
    }

    .r-facility-detail .r-contents-table{
        table-layout: fixed;
    }
    .r-facility-detail .r-contents-table th{
        width:20vw;
    }

}

.r-button-flex-wrapper{
    display: flex;
    justify-content: space-between;
}
.r-button-flex-wrapper a{
    flex:0 1 32%;
}

.r-access .r-button-flex-wrapper{
    margin-bottom:70px;
}
.r-access .r-contents-description-flex > div{
    flex: 0 1 45%;
}
.r-access .r-contents-description-left p{
    font-size:13px;
    line-height:1.8;
}

.r-access-item{
    border-bottom:1px solid #CCCCCC;
    padding-bottom:40px;
}
.r-access-item:last-child{
    border-bottom:none;
}
.r-access-item .r-contents-description-left{
    flex: 0 1 45%;
}
.r-access-item .r-contents-description-right{
    flex: 0 1 50%;
}

.r-nearby-wrapper{
    padding:30px 0;
    background-color: #FAF9F0;
}
.r-nearby-wrapper .contents-header h3{
    font-size:30px;
    margin:20px 0 40px;
}
.r-nearby-wrapper .r-3grid-detail{
    background-color: #fff;
}
@media all and (max-width:800px){
    .r-access .r-description-title{
        margin-top:0;
        text-align: left;
    }
    .r-button-flex-wrapper{
        flex-wrap: wrap;
    }
    .r-button-flex-wrapper a{
        flex:1 1 100%;
        margin-bottom:10px;
    }
    .r-access .r-button-link a{
        height:42px;
        line-height: 42px;
        margin-bottom:12px;
    }
    .r-access .r-button-flex-wrapper{
        margin-bottom:30px;
    }
    .r-access .r-contents-description-flex > div{
        flex:1 1 100%;
    }
    .r-nearby-wrapper .contents-header h3{
        font-size:20px;
    }
}


.r-access-detail p{
    font-size: 12px;
    line-height: 1.6;
}
.r-access-detail .contents-header{
    margin-bottom:50px;
}
.r-access-detail .r-contents-description-flex{
    margin:0 0 50px;
}
.r-access-detail .r-contents-description-left{
    flex: 0 1 42%;
}
.r-access-detail .r-contents-description-right{
    flex: 0 1 53%;
}
.r-access-detail .r-description-title{
    margin-bottom:0;
}
.r-access-detail .r-description-title-sub{
    margin-bottom:20px;
}
.r-access-detail .r-contents-table{
    width: 100%;
    margin-bottom:30px;
}
.r-access-detail .r-contents-table th,
.r-access-detail .r-contents-table td{
    padding:20px 30px;
}
.r-access-detail .r-description-gold{
    font-size:16px;
}
.r-access-detail .r-description-caution{
    margin:50px 0;
}
.r-access-detail .r-print-access-mb{
    display: none;
}
@media all and (max-width:800px){
    .r-access-detail .contents-header{
        margin-bottom:30px;
    }
    .r-access-detail .r-contents-description-flex{
        margin-bottom:30px;
    }
    .r-access-detail .r-contents-description-flex > div{
        flex:1 1 100%;
    }
    .r-access-detail .r-description-title{
        text-align: left;
        margin-top:0;
    }
    .r-access-detail .r-description-gold{
        margin-bottom:4px;
    }
    .r-access-detail .r-description-caution{
        margin:20px 0 10px;
    }
    .r-access-detail .r-contents-table th,
    .r-access-detail .r-contents-table td{
        padding:10px;
    }
    .r-access-detail .r-print-access-mb{
        display: block;
    }
    .r-access-detail .r-print-access-pc{
        display: none;
    }
}

.r-information .contents-header{
    margin-bottom:50px;
}
.r-information-detail p{
    color:#666666;
}
.r-info-detail-title{
    color:#947F28;
    font-size:22px;
    text-align: left;
    margin-bottom:30px;
}
.r-info-detail-logo{
    display: inline-block;
    margin-right:16px;
    padding:4px 0;
    width:132px;
    text-align: center;
    color:#fff;
    font-size:14px;
    font-weight: lighter;
    vertical-align: middle;
    background-color: #DED8BD;
}
.r-info-detail-date{
    font-size:12px;
}
.r-info-detail-image img{
    display: inline-block;
    width:auto;
    max-width: 100%;
}
.r-information-detail .r-info-detail-caution{
    margin:30px 0;
    font-size:13px;
    line-height:1.8;
}
.r-information-detail .r-button-link a{
    width: 320px;
    margin-right:10px;
}

@media all and (max-width:800px){
    .r-information .contents-header{
        margin-bottom:30px;
    }
    .r-information-detail .r-button-link span,
    .r-information-detail .r-button-link span a{
        width:100%;
    }
    .r-information-detail .r-button-link span a{
        height:45px;
        line-height: 45px;
        margin-bottom:10px;
        font-weight: lighter;
    }
}


.r-horizontal-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'YuMincho',Serif;
    font-weight: lighter;
}
.r-horizontal-menu li{
    display: table;
    table-layout: fixed;
    opacity:0.3;
    font-size:18px;
}
.r-horizontal-menu li.active{
    opacity:1;
}
.r-horizontal-menu li a{
    display: table-cell;
    height: 100%;
    width: 100%;
    color:#fff;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background-color: #947F28;
    line-height:1.2;
}

.r-contents-block{
    padding: 30px 0 60px;
}


.r-golf-contents .contents-header{
    margin-bottom:0;
}
.r-golf-contents .r-horizontal-menu li{
    flex:0 1 16.5%;
    height:65px;
    width:16.5%;
}
.r-golf-contents .r-button-flex-wrapper{
    justify-content: center;
    margin-top: 40px;
}
.r-golf-contents .r-button-flex-wrapper a{
    flex:0 1 29%;
    margin-left: 15px;
    margin-right: 15px;
}
.r-golf-contents .r-button-flex-wrapper a.active{
    background-color: #003300;
}
.r-golf-news .r-tilt-list{
    margin-bottom:50px;
}
.r-golf-news .tilt-list-line{
    border-bottom:1px dashed #E2E2E2;
    font-size:14px;
}
.r-golf-news .tilt-list-line.tilt-list-last{
    border-bottom:none;
}
.r-golf-news .tilt-list-line .tilt-list-th{
    width:8em;
}
.r-golf-news .tilt-list-line .tilt-list-th,
.r-golf-news .tilt-list-line .tilt-list-td{
    padding:0.6em 0;
}
.r-golf-news .r-button-link{
    text-align: center;
}
@media all and (max-width:980px){
    .r-horizontal-menu li{
        font-size: 16px;
    }
}
@media all and (max-width:800px){
    .r-horizontal-menu{
        flex-wrap: wrap;
    }
    .r-golf-contents .contents-header .header-underline{
        display: block;
    }
    .r-golf-contents .r-horizontal-menu li{
        flex:0 1 49.7%;
        margin-bottom:0.6vw;
        width: 49.7%;
        height:55px;
    }
    .r-golf-contents .r-button-flex-wrapper a{
        flex:0 1 90%;
        margin: 0 auto 10px;
    }
    .r-golf-news .r-tilt-list{
        margin-bottom:30px;
    }
    .r-golf-news .tilt-list-line .tilt-list-th{
        padding:0.6em 0 0;
    }
    .r-golf-news .tilt-list-line .tilt-list-td{
        padding:0.3em 0 0.6em;
    }
    .resort-hotel-myoko .trip-advisor-area{
        display: none;
    }
}



.r-golf-course .r-contents-description{
    padding:50px 0;
    border-bottom:1px solid #DED8BD;
}
.r-golf-course .r-contents-description:last-child{
    border-bottom:none;
}
.r-golf-course .r-contents-description .r-description-title{
    text-align: left;
    margin-top: 0;
}
.r-golf-course .r-contents-description .r-scroll-table-outer{
    margin:30px 0;
}

.r-grid-2column{
    display: flex;
    justify-content: space-between;
}
.r-2column-left{
    flex:0 1 64%;
}
.r-2column-right{
    flex:0 1 34%;
}
.r-golf-course .r-grid-2column img{
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 100%;
    margin-bottom:10px;
    text-align: center;
}

.r-scroll-table-outer table{
    width: 100%;
}
.r-scroll-table-outer table th,
.r-scroll-table-outer table td{
    vertical-align: middle;
    text-align: center;
    padding:10px;
    font-size:12px;
}
.r-scroll-table-outer table th{
    border-collapse: collapse;
    background-color: #DED8BD;
    border-right:1px solid #ffffff;
    font-weight: normal;
    white-space: nowrap;
}
.r-scroll-table-outer table th:first-child{
    border-left:1px solid #DED8BD;
}
.r-scroll-table-outer table th:last-child{
    border-right:1px solid #DED8BD;
}
.r-scroll-table-outer table td{
    border-collapse: collapse;
    border-right:1px solid #DED8BD;
    border-bottom:1px solid #DED8BD;
    white-space: nowrap;
}
.r-scroll-table-outer table td:first-child{
    border-left:1px solid #DED8BD;
    white-space: normal;
}

.r-course-challenge-header{
    margin-bottom: 10px;
    padding:10px;
    color:#fff;
    font-family: 'YuMincho',Serif;
    background-color:#0D4826;
}
.r-course-challenge-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.r-course-challenge-image > div{
    position: relative;
    flex:0 1 11%;
    border: 1px solid #ADA989;
}
.r-course-challenge-image > div img{
    width: 100%;
    height:auto;
}
.r-course-challenge-image > div i{
    position: absolute;
    right:3px;
    bottom:3px;
    font-size:20px;
}
.r-course-challenge-image > div:hover{
    border: 1px solid #9F3D3D;
}
.r-course-challenge-image > div:hover i{
    color:#9F3D3D;
}

@media all and (max-width:800px){
    .r-golf-course .r-contents-description {
        padding: 30px 0;
    }
    .r-golf-course .r-contents-description:last-child{
        padding: 30px 0 0;
    }
    .r-scroll-table-outer{
        width: 100%;
        overflow: scroll;
    }
    .r-scroll-table-outer table tr{
        display: table-row !important;
    }
    .r-course-challenge-image{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .r-course-challenge-image > div{
        flex:0 1 19.6%;
        margin-bottom:20px;
    }
}
@media all and (max-width:480px){
    .r-2column-left{
        flex:0 1 100%;
    }
    .r-2column-right{
        display: none;
    }

    .r-course-challenge-image > div{
        flex:0 1 33%;
    }
}

.r-desc-border{
    border: 1px solid #DED8BD;
}
.r-desc-border p{
    padding:20px;
    border-bottom:1px solid #DED8BD;
}
.r-desc-border p:last-child{
    border-bottom:none;
}

.r-golf-play .r-contents-description-flex p{
    margin: 0;
    line-height: 1.6;
}
.r-golf-play .r-contents-description-flex .r-description-mini{
    margin:20px 0;
}
.r-golf-play .r-contents-description-flex .r-flex-image-inner{
    text-align: left;
}

.r-description-banner{
    margin:40px 0;
}
.r-description-banner img{
    width: auto;
    max-width: 100%;
}


.r-description-gray-back{
    background-color: #F1F1EE;
}
.r-number-circle{
    display: inline-block;
    margin:0;
    padding:5px;
    border-radius: 50%;
    text-align: center;
    width: 4.2em;
    height: 4.2em;
    font-weight: lighter;
}
.r-number-circle span:last-child{
    font-size:1.4em;
    line-height: 1.2;
}
.r-number-circle.r-number-circle-green{
    color:#fff;
    border: solid 1px #003300;
    background-color: #003300;
}


.r-golf-webmember .r-golf-top-menu{
    margin-bottom: 50px;
}
.r-golf-webmember .r-contents-block{
    padding:30px 0 10px;
}
.r-golf-webmember .r-description-gray-back{
    width: 94%;
    max-width: 1000px;
    margin: 0 auto 30px;
    font-family: 'YuMincho',Serif;
}
.r-golf-webmember .r-description-gray-back .r-contents-description-flex{
    width: 94%;
    padding-bottom: 40px;
    margin: 30px auto 0;
    border-bottom:1px solid #DED8BD;
}
.r-golf-webmember .r-description-gray-back .r-contents-description-flex:last-child{
    border-bottom:none;
}
.r-gray-back-title-wrapper{
    display: flex;
    align-items: center;
}
.r-gray-back-title-wrapper .r-number-circle{
    flex:0 1 auto;
    margin-right:20px;
}
.r-gray-back-title-wrapper .r-gray-back-title{
    flex:1 1 auto;
    color: #003300;
    font-size:18px;
}

.r-golf-webmember .r-button-link{
    display: table;
    table-layout: fixed;
    margin: 24px auto 0;
}
.r-golf-webmember .r-button-link a{
    display: table-cell;
    vertical-align: middle;
    line-height: 1.2;
    padding: 10px 20px;
    margin:10px 0;
    width: 40%;
}
.r-golf-webmember .r-button-link a.active{
    background-color: #003300;
    width: 50%;
}
.r-golf-webmember .r-button-link a span{
    font-size:11px;
}
.r-golf-webmember .r-space{
    padding: 10px 20px;
    width: 0;
}
@media all and (max-width:800px){
    .r-golf-webmember .r-description-gray-back{
        width: 100%;
    }
    .r-golf-webmember .r-description-gray-back .r-contents-description-flex{
        margin: 0 auto;
        padding-bottom: 10px;
    }
    .r-golf-webmember .r-button-link{
        display: block;
    }
    .r-golf-webmember .r-button-link a{
        display: block;
        padding: 0;
        margin-bottom: 20px;
        height: 55px;
        line-height: 55px;
    }
    .r-golf-webmember .r-button-link a,
    .r-golf-webmember .r-button-link a.active{
        width: 100%;
    }
    .r-golf-webmember .r-button-link a.active{
        line-height: 1.2;
        padding: 10px 0;
    }
    .r-golf-webmember .r-space{
        display: none;
    }
}
@media all and (max-width:360px){
    .r-golf-webmember .r-button-link a span{
        font-size:10px;
    }
}

.r-golf-calender .js-golf-calendar .js-calendar-pager{
    border-top:none;
    font-family: 'YuMincho',Serif;
}
.r-golf-calender .js-golf-calendar .js-calendar-pager .now{
    font-size:16px;
    font-weight: lighter;
    color:#947F28;
}

.r-golf-club .contents-header h3{
    margin-top:20px;
    color:#666666;
    font-size:18px;
}
.r-golf-club p{
    line-height: 1.8;
    text-align: center;
}
.r-golf-club .r-button-link{
    margin-top:60px;
    text-align: center;
}
.r-golf-club .r-button-link a{
    width: 280px;
}

@media all and (max-width:800px){
    .r-golf-club .r-button-link a{
        width: 100%;
    }
}

.r-golf-challenge-title{
    margin-bottom:16px;
    font-size:18px;
    font-family: 'YuMincho',Serif;
}
.r-golf-challenge .r-contents-table th,
.r-golf-challenge .r-contents-table td{
    padding:20px;
}

.r-obtain-players-wrapper{
    overflow: hidden;
}
.r-obtain-players-wrapper .r-button-link{
    float:right;
    width: 49%;
}
.r-obtain-players-wrapper .r-button-link a{
    width: 100%;
    padding:0 16px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.r-obtain-players-wrapper .r-button-link a span{
    width: 100%;
    flex:1 1 auto;
    display: flex;
    align-items: center;
}
.r-obtain-players-wrapper .r-button-link a .r-obtain-crown{
    width: 40px;
    flex:0 1 40px;
    padding-right:5px;
    font-size:24px;
    color:#947F28;
}
.r-obtain-players-wrapper .r-button-link a .r-obtain-open{
    width: 30px;
    flex:0 1 30px;
    font-size:24px;
}
.r-obtain-players-list{
    float:right;
    display: none;
    background-color: #003300;
    width: 100%;
}
.r-obtain-header{
    padding:50px 0 40px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-family: 'YuMincho',Serif;
}
.r-obtain-players{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.r-obtain-each{
    flex:0 1 25%;
    width: 25%;
    max-width: 25%;
    padding: 10px 15px;
    color: #fff;
    font-weight: lighter;
}
.r-obtain-each .r-obtain-image{
    width: 100%;
}
.r-obtain-each .r-obtain-image img{
    width: 100%;
}
@media all and (max-width:800px){
    .r-golf-challenge .r-contents-block{
        padding-bottom:30px;
    }
    .r-golf-challenge-title{
        font-size:16px;
    }
    .r-golf-challenge .r-contents-table th,
    .r-golf-challenge .r-contents-table td{
        padding:10px;
    }
    .r-obtain-players-wrapper .r-button-link{
        width: 100%;
    }
    .r-obtain-players{
        padding-bottom:20px;
    }
    .r-obtain-header{
        padding:30px 0;
    }
    .r-obtain-each{
        flex:0 1 33%;
        width: 33%;
        max-width: 33%;
        padding: 10px 15px;
    }
}
@media all and (max-width:576px){
    .r-obtain-players-wrapper .r-button-link a{
        font-size:14px;
    }
    .r-obtain-each{
        flex:0 1 50%;
        width: 50%;
        max-width: 50%;
        padding: 10px;
    }
}


.r-golf-calender .r-contents-block p{
    font-size:13px;
}
.r-golf-calender .r-contents-description{
    margin-bottom:90px;
}
.r-golf-calender .r-contents-description .r-description-title{
    margin-top: 0;
    text-align: left;
}

.r-calender-month{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:16px;
    font-size:16px;
    font-family: 'YuMincho',Serif;
}
.r-calender-month > div{
    display: flex;
    align-items: center;
}
.r-calender-month > div i{
    font-size:40px;
}
.r-calender-month .r-calender-now{
    color:#947F28;
    font-size:20px;
}
.r-calender-outer{
    display: table;
    table-layout: fixed;
    border:1px solid #E2E2E2;
    width: 100%;
}
.r-calender-line{
    display: table-row;
    width: 100%;
}
.r-calender-day-outer{
    display: table-cell;
    width: 14.2%;
    padding:5px 10px;
    border-right:1px solid #E2E2E2;
    border-bottom:1px solid #E2E2E2;
}
.r-calender-line .r-calender-day-outer:last-child{
    border-right:none;
}
.r-calender-line:last-child .r-calender-day-outer{
    border-bottom:none;
}

.r-calender-header .r-calender-day-inner{
    text-align: center;
    font-size:16px;
    padding:6px 0;
}
.r-calender-week .r-calender-day-inner{
    min-height: 140px;
    padding-top:10px;
}
.r-calender-week .r-calender-category{
    margin:5px 0 16px;
    padding:3px 3px 3px 1em;
    color:#fff;
    font-size:12px;
    font-weight: lighter;
}
.r-calender-week .r-calender-category.r-self-day{
    background-color: #7C984E;
}
.r-calender-week .r-calender-category.r-thanks-day{
    background-color: #5264EA;
}
.r-calender-week .r-calender-category.r-reasonable-plan{
    background-color: #C93737;
}

.r-calender-week .r-calender-fee{
    font-size:14px;
    display: flex;
    align-items: center;
}
.r-calender-week .r-calender-fee i{
    font-size:20px;
    padding-right:3px;
}
.r-calender-date.r-calender-sun{
    color:#810808;
}
.r-calender-date.r-calender-sat{
    color:#1989F8;
}
.r-calender-day-week{
    display: none;
}
.r-calender-week .r-calender-blank{
    display: none;
}
.r-calender-week .r-calender-today{
    background-color: #F9F6EE;
}

@media all and (max-width:800px){
    .r-calender-wrapper{
        border:1px solid #E2E2E2;
        max-height:360px;
        overflow-x:scroll;
    }
    .r-calender-month{
        border-bottom:1px solid #E2E2E2;
        margin-bottom:0;
        padding:10px;
        font-size:14px;
    }
    .r-calender-month > div i{
        font-size:28px;
    }
    .r-calender-outer{
        border: none;
        display: block;
    }
    .r-calender-line{
        display: block;
    }
    .r-calender-line.r-calender-header{
        display: none;
    }
    .r-calender-line.r-calender-week{
        display: block;
    }
    .r-calender-line .r-calender-day-outer{
        display: block;
        width: 100%;
        border-right:none;
    }
    .r-calender-line:last-child .r-calender-day-outer{
        border-bottom:1px solid #E2E2E2;
    }
    .r-calender-day-outer.r-calender-blank-outer{
        display: none;
    }
    .r-calender-week .r-calender-day-inner{
        min-height: 0;
        padding:10px 0;
    }
    .r-calender-day-inner .r-calender-date{
        font-size:16px;
        margin-bottom:5px;
    }
    .r-calender-date .r-calender-day-week{
        display: inline;
    }
    .r-calender-day-inner .r-calender-desc{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .r-calender-day-inner  .r-calender-desc .r-calender-category{
        margin: 0 20px 0 0;
        padding:3px 1em;
        flex:0 1 20%;
        min-width:100px;
        max-width:150px;
        white-space: nowrap;
    }
}


.r-myoko-top-stay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.r-myoko-top-stay .r-myoko-top-stay-each{
    flex:0 1 18%;
    max-width: 18%;
}
.r-myoko-top-stay .r-myoko-top-stay-image{
    margin-bottom:20px;
    text-align: center;
}
.r-myoko-top-stay .r-myoko-top-stay-image img{
    max-width: 100%;
    display: inline-block;
}
.r-myoko-top-stay .r-myoko-top-stay-text{
    text-align: center;
    color:#523206;
    font-family: 'YuMincho',Serif;
}
.r-resort-myoko-top .resort-info-links{
    padding:50px 0;
}
.r-resort-myoko-top .resort-info-links h3{
    font-size:24px;
    color: #C7A956;
    font-family: 'YuMincho',Serif;
    margin-bottom:30px;
}
.r-area-grid-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.r-area-grid-wrapper .r-area-grid{
    flex:0 1 auto;
    padding: 20px 2em;
}
.r-area-grid-wrapper .r-area-grid a{
    display: flex;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    color:#523206;
    font-size:14px;
    text-align: center;
    text-decoration: none;
}
.r-area-grid-wrapper .r-area-grid a i{
    padding-right:10px;
    color:#523206;
    font-size:32px;
}
@media all and (max-width:800px){
    .r-resort-myoko-top .resort-top-area .top-image{
        background-image: url('../img/myoko-top/myoko_KV_1-1.jpg');
    }
    .r-resort-myoko-top .resort-middle-visual{
        background-image: url('../img/myoko-top/myoko-top-middle-visual.jpg');
    }
    .r-myoko-top-stay{
        justify-content: flex-start;
    }
    .r-myoko-top-stay .r-myoko-top-stay-each{
        flex: 0 1 40%;
        max-width: 40%;
        margin:20px 5%;
    }
    .r-myoko-top-stay .r-myoko-top-stay-image{
        margin-bottom:10px;
    }
    .r-myoko-top-stay .r-myoko-top-stay-image img{
        max-width: 200px;
    }
    .r-resort-myoko-top .resort-info-links h3{
        font-size:20px;
    }
    .r-area-grid-wrapper .r-area-grid{
        flex: 0 1 50%;
        max-width: 50%;
        padding: 20px 0 20px 15%;
    }
    .r-area-grid-wrapper .r-area-grid a i{
        font-size:24px;
        padding-right:5px;
    }
}
@media all and (max-width:480px){
    .r-area-grid-wrapper .r-area-grid{
        padding: 20px 0 20px 7%;
    }
}
@media all and (max-width:400px){
    .r-area-grid-wrapper .r-area-grid{
        padding: 20px 0 20px 4%;
    }
}

.r-resort-myoko-facility .r-facility-link{
    border-bottom: 1px solid #DED8BD;
    padding-bottom:20px;
    margin-bottom:40px;
}
.r-resort-myoko-facility .r-facility-link .r-facility-detail{
    border-bottom: none;
    padding:20px 0;
}
.r-resort-myoko-facility .r-facility-link .r-facility-detail p{
    font-size: 13px;
}
.r-resort-myoko-facility .r-facility-link .r-facility-detail .r-flex-image-outer{
    border:none;
}

@media all and (max-width:800px){
    .r-resort-myoko-facility .r-facility-link .r-facility-detail .r-description-title{
        margin-top:0;
    }
}

.r-resort-myoko-activity .r-side-border-menu{
    margin-bottom:60px;
}
.r-resort-myoko-activity .contents-header{
    margin-bottom: 30px;
}
.r-resort-myoko-activity .r-contents-block{
    padding:30px 0;
    border-top:1px solid #DED8BD;
}
.r-resort-myoko-activity .r-contents-block:first-child{
    border-top:none;
}
.r-resort-myoko-activity .r-contents-block:last-child{
    margin-bottom:50px;
}
.r-resort-myoko-activity .r-contents-description-flex{
    margin: 0;
}


.r-resort-myoko-activity .r-contents-description-flex p:not(.r-description-mini),
.r-resort-myoko-restaurant-detail .r-contents-description-flex p:not(.r-description-mini){
    font-size:13px;
    line-height: 1.8;
}

.r-resort-myoko-activity .r-contents-description-left,
.r-resort-myoko-restaurant-detail .r-contents-description-left{
    flex:0 1 45%;
}
.r-resort-myoko-activity .r-contents-description-right,
.r-resort-myoko-restaurant-detail .r-contents-description-right{
    flex:0 1 53%;
}

.r-resort-myoko-activity .r-contents-description-right p:first-child{
    margin-top:0;
}

.r-resort-myoko-activity .r-scroll-table-outer table{
    margin-bottom:40px;
}
.r-resort-myoko-activity .r-scroll-table-outer table tr:first-child td{
    border-top:1px solid #DED8BD;
}
.r-resort-myoko-activity .r-scroll-table-outer table th{
    border-bottom:1px solid #fff;
    text-align: left;
}
.r-resort-myoko-activity .r-scroll-table-outer table tr:last-child th{
    border-bottom:1px solid #DED8BD;
}
.r-resort-myoko-activity .r-contents-table{
    width: 100%;
    table-layout: fixed;
}
.r-resort-myoko-activity .r-contents-table th{
    padding:20px;
    width: 140px;
    text-align: left;
}
.r-resort-myoko-activity .r-contents-table th br,
.r-resort-myoko-restaurant-detail .r-contents-table th br,
.r-resort-myoko-hall .r-contents-table th br{
    display: inline;
}
.r-resort-myoko-activity .r-contents-table td{
    padding:20px;
}
@media all and (max-width:800px){
    .r-resort-myoko-activity .header-underline,
    .r-resort-myoko-restaurant-detail .header-underline,
    .r-resort-myoko-hall .header-underline{
        display: block;
    }

    .r-resort-myoko-activity .r-contents-block > .r-description-title{
        text-align: left;
        margin-top:0;
        margin-bottom:0;
    }

    .r-resort-myoko-activity .r-contents-description-flex{
        margin-bottom: 20px;
    }
    .r-resort-myoko-activity .r-contents-description-left,
    .r-resort-myoko-activity .r-contents-description-right,
    .r-resort-myoko-restaurant-detail .r-contents-description-left,
    .r-resort-myoko-restaurant-detail .r-contents-description-right{
        flex:0 1 100%;
    }
    .r-resort-myoko-activity .r-scroll-table-outer table{
        margin-bottom:20px;
    }
}
@media all and (max-width:480px){
    .r-resort-myoko-activity .r-contents-table th,
    .r-resort-myoko-activity .r-contents-table td{
        padding:10px;
        font-size:11px;
    }
}
@media all and (max-width:360px){
    .r-resort-myoko-activity .r-contents-table th{
        width: 120px;
    }
    .r-resort-myoko-activity .r-contents-table th,
    .r-resort-myoko-activity .r-contents-table td{
        font-size:10px;
    }
}


.r-resort-myoko-restaurant-detail .contents-header{
    margin-bottom:50px;
}

.r-resort-myoko-restaurant-detail .r-restaurant-menu-wrapper{
    margin-bottom:30px;
    border-bottom:1px solid #DED8BD;
}
.r-resort-myoko-restaurant-detail .r-restaurant-menu-wrapper .r-contents-description-flex{
    margin-bottom:60px;
}

.r-resort-myoko-restaurant-detail .r-contents-block > p{
    font-size:13px;
    line-height: 1.8;
}

.r-gray-back-description{
    padding:35px;
    background-color: #F1F1EE;
    font-size:14px;
}
@media all and (max-width:800px){
    .r-gray-back-description{
        padding:15px;
        font-size:12px;
        line-height:2;
    }
    .r-resort-myoko-restaurant-detail .r-description-title{
        margin-top: 0;
    }
}

.r-resort-myoko-hall .r-page-container{
    padding-bottom:30px;
}
.r-resort-myoko-hall .resort-contents .contents-header{
    margin-bottom:40px;
}
.r-resort-myoko-hall .tabs{
    margin-bottom:60px;
}

.r-resort-myoko-hall .has-thumbnail-slider-wrapper{
    margin-bottom:40px;
}
.r-resort-myoko-hall .has-thumbnail-slider-wrapper .slick-slider .slick-track{
    min-width:1000px !important;
}

.r-resort-myoko-hall .r-hall-party .r-scroll-table-outer table tr:first-child th{
    border-bottom:1px solid #fff;
}
.r-resort-myoko-hall .r-hall-party .r-scroll-table-outer table tr:first-child th:last-child{
    border-bottom:1px solid #DED8BD;
}
.r-resort-myoko-hall .r-hall-party .r-scroll-table-outer table tr:nth-child(2) th:last-child{
    border-right:1px solid #fff;
}
.r-resort-myoko-hall .r-hall-party .r-scroll-table-outer table tr td:first-child{
    border-right:none;
}
.r-resort-myoko-hall .r-hall-party .r-scroll-table-outer table tr td:nth-child(2){
    border-left:1px solid #DED8BD;
}

.r-resort-myoko-hall .r-hall-training .r-scroll-table-outer table tr:first-child th:last-child{
    border-bottom:1px solid #fff;
}
.r-resort-myoko-hall .r-hall-training .r-scroll-table-outer table tr td:first-child{
    border-right:none;
}
.r-resort-myoko-hall .r-hall-training .r-scroll-table-outer table tr td:nth-child(2){
    border-left:1px solid #DED8BD;
}
.r-resort-myoko-hall .r-scroll-table-outer table tr.r-table-separator th,
.r-resort-myoko-hall .r-scroll-table-outer table tr.r-table-separator td{
    border-top:1px solid #DED8BD;
}


.r-resort-myoko-hall .r-contents-block{
    border-bottom:1px solid #DED8BD;
}
.r-resort-myoko-hall .r-contents-block:last-child{
    border-bottom:none;
}
.r-resort-myoko-hall .r-contents-block > p{
    margin-bottom:60px;
}

.r-resort-myoko-hall .r-description-title-gray{
    margin-bottom:0;
}
.r-resort-myoko-hall .r-contents-description-flex{
    margin-top:0;
}
.r-resort-myoko-hall .r-contents-description-flex p:not(.r-description-mini){
    line-height: 1.8;
}
.r-resort-myoko-hall .r-contents-description-flex .r-gray-back-description{
    padding:25px 15px;
}
.r-resort-myoko-hall .r-contents-description-left > p:first-child{
    margin-top:0;
}
.r-resort-myoko-hall .r-contents-table{
    width: 100%;
}
.r-resort-myoko-hall .r-contents-table th{
    padding:20px 15px;
}
.r-resort-myoko-hall .r-contents-table td{
    width: 100%;
}

.r-contents-table-brown{
    width: 100%;
}
.r-contents-table-brown th,
.r-contents-table-brown td{
    vertical-align: middle;
    font-size:16px;
    font-weight: lighter;
    font-family: 'YuMincho',Serif;
}
.r-contents-table-brown th{
    color:#fff;
    background-color: #3B2F08;
    padding:20px 10px 20px 20px;
    white-space: nowrap;
}
.r-contents-table-brown th div{
    height: 100%;
    display: flex;
    align-items: center;
}
.r-contents-table-brown td{
    padding:20px 30px;
    line-height:1.8;
}
.r-contents-table-brown td .r-td-text-underline{
    border-bottom: 1px solid #3B2F08;
    font-size:14px;
    margin-bottom:6px;
}

.r-hall-wedding .r-contents-description-flex{
    margin-bottom:30px;
}
.r-hall-wedding .r-contents-description-flex .r-description-title-gray{
    margin-bottom:20px;
}
.r-resort-myoko-hall .r-hall-wedding .r-contents-description-flex p:not(.r-description-mini){
    line-height: 1.6;
}
.r-resort-myoko-hall .r-hall-wedding .r-contents-block > .r-description-title{
    text-align: left;
    margin-top:0;
    margin-bottom:0;
}

@media all and (max-width:800px){
    .hall-toggle{
        display: block;
    }
    .r-resort-myoko-hall .r-hall-wrapper{
        margin-top:60px;
    }
    .r-resort-myoko-hall .r-hall-wrapper .r-description-title{
        margin-top:0;
    }
    .r-resort-myoko-hall .r-contents-table th{
        white-space: normal;
        padding:30px 10px;
        width: 45%;
    }
    .r-contents-table-brown th{
        font-size: 13px;
        vertical-align: middle;
    }
    .r-contents-table-brown td{
        padding: 10px;
        font-size: 13px;
    }
    .r-contents-table-brown td .r-td-text-underline{
        font-size: 12px;
    }
    .r-hall-wedding .r-contents-description-flex > div{
        margin-top:10px;
    }
}

.r-header-second{
    margin-top: 20px;
    color:#947F28;
    font-size:16px;
    font-family: 'YuMincho',Serif;
    text-align: center;
}
.r-resort-myoko-stay .resort-main-visual{
    margin-bottom:50px;
}
.r-resort-myoko-stay .r-stay-icon{
    text-align: center;
}
.r-resort-myoko-stay .r-stay-icon img{
    display: inline-block;
    width: 68px;
    height: 68px;
}
.r-resort-myoko-stay .r-stay-top-desc p{
    color:#523206;
    font-size: 16px;
    font-family: 'YuMincho',Serif;
    text-align: center;
}
.r-stay-days-wrapper{
    position: relative;
    margin:0 auto 50px;
    padding:85px 30px 30px;
    width: 94%;
    max-width: 1000px;
    background-color: #F1F1EE;
}

.r-stay-days-wrapper .r-stay-day-number{
    position: absolute;
    top:0;
    left:0;
    z-index: 1200;
    width: 110px;
    height:65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #523206;
}
.r-stay-days-wrapper .r-stay-day-number div{
    color:#fff;
    font-size:20px;
    font-family: 'YuMincho',Serif;
    font-weight: lighter;
    text-align: center;
}
.r-stay-day-number-border{
    position: absolute;
    top:0;
    left:75px;
    z-index: 1100;
    width:0;
    height:85px;
    border-left:8px solid #DED8BD;
}

.r-stay-days-wrapper .r-stay-each-time{
    position:relative;
    margin-left:45px;
    font-family: 'YuMincho',Serif;
}
.r-stay-days-wrapper .r-stay-time{
    position: absolute;
    left: -6px;
    top: 60px;
    z-index: 1200;
    display: flex;
    align-items: center;
    color: #523206;
    font-size: 20px;
}
.r-stay-days-wrapper .r-stay-circle{
    display: inline-block;
    margin-right:10px;
    height:20px;
    width: 20px;
    border: 3px solid #DED8BD;
    border-radius: 50%;
    background-color: #523206;
}
.r-stay-days-wrapper .r-stay-desc-wrapper{
    position: relative;
    border-left:8px solid #DED8BD;
    padding:30px 5% 50px 100px;
}
.r-stay-days-wrapper .r-stay-desc-area{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding:4%;
    border-radius: 4px;
    background-color: #fff;
}
.r-stay-days-wrapper .r-stay-desc-text{
    flex:0 1 auto;
    width: 100%;
    padding-right:10%;
    font-size:12px;
}
.r-stay-days-wrapper .r-stay-desc-header{
    width: 100%;
    font-size:16px;
    padding-bottom:10px;
}
.r-stay-days-wrapper .r-stay-desc-image{
    flex:0 0 200px;
    width: 200px;
    padding:20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.r-stay-days-wrapper .r-stay-desc-image img{
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.r-stay-days-wrapper .r-stay-desc-area:before {
    content: "";
    position: absolute;
    top: 35px;
    left: -24px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 24px 10px 0;
    border-color: transparent #ffffff transparent transparent;
}

.r-stay-days-wrapper .r-stay-last-border{
    position: absolute;
    top:0;
    left:0;
    width: 50px;
    height:65px;
    border-left:8px solid #DED8BD;
    z-index: 1100;
    display: none;
}
.r-stay-days-wrapper .r-stay-day-last .r-stay-last-border{
    display: block;
}
.r-stay-days-wrapper .r-stay-day-last .r-stay-desc-wrapper{
    border-left:none;
}

@media all and (max-width:800px){
    .r-stay-days-wrapper{
        padding:65px 10px 30px;
        width: 100%;
    }
    .r-stay-days-wrapper .r-stay-day-number-border{
        display: none;
    }
    .r-stay-days-wrapper .r-stay-desc-wrapper{
        padding:80px 20px 0 20px;
    }
    .r-stay-days-wrapper .r-stay-each-time{
        margin-left:10px;
    }
    .r-stay-days-wrapper .r-stay-desc-area{
        flex-wrap: wrap;
    }
    .r-stay-days-wrapper .r-stay-desc-area:before{
        display: none;
    }
    .r-stay-days-wrapper .r-stay-time{
        top:40px;
    }
    .r-stay-days-wrapper .r-stay-desc-text{
        flex:0 0 100%;
        padding:0;
    }
    .r-stay-days-wrapper .r-stay-desc-image{
        flex:0 0 100%;
        width: 100%;
    }
    .r-stay-days-wrapper .r-stay-last-border{
        height:50px;
    }
    .r-structure-type li.longname ,.r-side-border-menu li a ,.myoko-guestroom .r-side-border-menu li .r-room-single{
    line-height:1.2;
}
.myoko-guestroom ul.r-side-border-menu li a{
    line-height:1.2;
}
.myoko-guestroom ul.r-side-border-menu li a p{
    line-height:1.2;
}
}
.reservation--btnbox{
    margin-top:20px;
}

.reservation--btnbox a:hover{
    opacity: 0.7;
}
/* footer */
footer{background:#f4f3f0; width:100%;  margin-top:41px; color: #3a2f08;} 
footer .container {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
footer .container--inner{
    width:100%;
    display:table;
    padding-top: 40px;
    padding-bottom:30px;
}
footer .container--hotelnamebox{
    width:390px;
    display:table-cell;
    vertical-align: top;
}
footer .container--hotelnamebox p{
    margin:0;
}
footer .container--telbox{
    width:475px;
    display:table-cell;
    vertical-align: top;
}
footer .container--inquirybox{
    display:table-cell;
    vertical-align: top;
}
footer .container--hotelnamebox p{
    margin-right:40px;
}
footer .container--inquirybox a{
    margin-left:40px;
}
footer .container--telbox p{margin:0;}
footer p.logo{margin-bottom:10px;}
footer .logo img{width:390px;}
footer .address{font-size:13px; line-height:1.4; width:390px;}
footer .address .post{font-size:16px;}
footer .address2{font-size: 11px;line-height: 1.4; }
footer .phone{ font-size:14px;  padding-bottom:6px;}
footer .phone .tel{background:url(../img/myoko-common/footer-tel-free.jpg) left center no-repeat; font-size:28px; padding-left:35px; margin:10px 10px 0 0; display:inline-block;background-size: 30px;width: 220px;}
footer .phone .tel_note{font-size: 10px;line-height:1em;}
footer .phone .fax{font-size:24px; margin:10px 0 0 0; display:inline-block;width: 220px;}
footer .phone .fax span{font-size:18px; margin:10px 0 0 0;}

footer .time.hotel{ font-size:12px;}
footer .time.golf{font-size:12px;margin-top:-5px;}
footer .time .sale{width:4.8em; display:inline-block; font-size:16px;}
footer .time .place{width:4em; display:inline-block; font-size:14px; border:1px #3a2f08 solid; text-align:center; padding:1px 0 2px 0; margin-right:10px; top:-1px;}
footer .time .year,
footer .time .period{font-size:16px;}
footer .time .month,
footer .time .day{font-size:26px;}
footer .time .week{font-size:18px;}
footer .note{font-size:11px;}

footer .menu ul{margin:0;padding:0;}
footer .menu ul li{display:inline-block; font-style:normal; font-size:13px; line-height:1; margin-bottom:10px;}
footer .menu ul li:after{content:"|"; font-size:12px; color:#3a2f08; margin:0 10px; line-height:1;}
footer .menu ul li a{font-size:12px; color:#3a2f08; line-height:1;text-decoration: none;}
footer .btn-faq{text-align:center;}
footer .btn-inquiry{ text-align:center;}
footer .btn-faq a{background:#877434; display:block; color:#fff; line-height:40px; width:290px; height:40px;}
footer .btn-inquiry a{background:#877434; display:block; color:#fff; line-height:60px; height:60px;}
footer .btn-inquiry a span{background:url(../img/myoko-common/icon-mail.png) no-repeat scroll right 24px; display:inline-block; padding-right:24px;}
footer .credit{ font-size:12px;}
footer .link img{width: 210px;}
footer .address, footer .address2, footer .btn-footer {
    font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
    font-weight: normal;
    letter-spacing: 0.045em;
}
.fotermenubox{width:100%;display:table;border-top:#604d0b 1px solid; padding-top:15px;padding-bottom:30px;}
.fotermenubox .menu{display:table-cell;vertical-align: top;}
.fotermenubox .footerlogo{width:300px;display:table-cell;text-align:right;vertical-align: top;}
.fotermenubox .footerlogo p{margin:0;}
.fotermenubox .footerlogo .link{text-align:right;}
.fotermenubox .footerlogo .link a{display:inline-block;}
.font-m, ._p.font-m, ._h1, ._h2, ._h3, ._h4, ._lead, ._btn-small, ._btn-middle, ._btn-large, ._btn-large-wide, ._btn-pickup, #_tab ul.tabs {
    font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
    font-weight: normal;
    letter-spacing: 0.045em;
}
.font-e, header .language label span, header .language ul, header .reserv i, header .menu ul i, footer .btn-footer span, footer .credit {
    font-family: 'EB Garamond', serif;
    font-weight: normal;
    font-size:11px;
}
.iframebox {max-width:770px;width:100%;margin:0 auto;}
.iframebox iframe{width:100%;padding:0;height:1050px;}
#calendar {background-color:#fff;}
#calendar .pager{width:770px; margin:0 auto 5px auto; background:#eee; line-height:24px; height:24px; text-align:center;}
#calendar .pager a{color:#4a5050;}
#calendar .pager .prev{font-size:12px; float:left;width:7em;}
#calendar .pager .prev a:before{content:"《"; display:inline-block; margin-right:5px;}
#calendar .pager .now{font-size:14px;}
#calendar .pager .next{font-size:12px; float:right;width:7em;}
#calendar .pager .next a:after{content:"》"; display:inline-block; margin-left:5px;}
#calendar a:hover table{opacity:0.7; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"; -moz-opacity:0.7; -khtml-opacity: 0.7; zoom:1;}
#calendar table{width:770px; margin:0 auto 5px auto; border-top:1px solid #d8d8d8; border-left:1px solid #d8d8d8; position:relative;}
#calendar table th,
#calendar table td{border-right:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; width:14.2%; box-sizing:border-box;}
#calendar table thead th{font-size:12px; padding:3px;}
#calendar table thead th:nth-child(1),
#calendar table thead th:nth-child(1) a,
#calendar table tbody td:nth-child(1) span.days{color:#c33;}
#calendar table thead th:nth-child(7),
#calendar table tbody td:nth-child(7) span.days{color:#69c;}
#calendar table tbody td{padding:3px; position:relative; height:24px; font-size:10px;vertical-align: top;}
#calendar table tbody td span.days{/*position:absolute; top:3px; left:5px;*/ display:block; margin-bottom:10px;}
#calendar table tbody td span.holiday{color:#d00;}
#calendar table tbody td span.category{/*position:absolute; top:8px; left:0; text-align:center;*/ width:100%; display:block;}
/*#calendar table tbody td span.category span{width:16px; height:16px; margin:0 2px; display:inline-block;}*/
#calendar ul li:nth-child(1),
#calendar table tbody td span.category .restaurant{background: url(../img/myoko-top/icon-restaurant.png) 0 50% no-repeat; color:#90c320;}
#calendar ul li:nth-child(2),
#calendar table tbody td span.category .illumination{background: url(../img/myoko-top/icon-illumination.png) 0 50% no-repeat; color:#202488;}
#calendar table tbody td span.category .illumination a{color: #3A2F08;}
#calendar table tbody td span.category .event a{color: #3A2F08;}
#calendar ul li:nth-child(3),
#calendar table tbody td span.category .event{background: url(../img/myoko-top/icon-event.png) 0 50% no-repeat; color:#e40114;}

#calendar table tbody td span.category span{padding:0px 0 10px 21px; display:block; background-position:0 0!important;}
#calendar table tbody td span.category span a{text-decoration:underline; line-height:1.4;}

#calendar ul{width:770px; margin:0 auto;}
#calendar ul li{font-size:12px; display:inline-block; padding-left:20px; margin-right:10px; line-height:16px;}

@media only screen and (max-width:1200px){
    footer .container{width:95%;}
}
@media only screen and (max-width:1120px){
    footer .container--inner{display:block;}
    footer .container--hotelnamebox{width:50%;}
    footer .container--telbox{width:50%;}
    footer .container--inquirybox{width:100;display:block;}
footer .btn-inquiry a{margin-left: 0px;}
}
@media only screen and (max-width:958px){
    footer .container--hotelnamebox{width:100%;display:block;}
    footer .container--telbox{width:100%;display:block;}
    footer p.logo{display:inline-block;}
    footer .addresstext{display:inline-block;vertical-align: top;}
    footer .fotermenubox{width:100%;display:block;}
    footer .fotermenubox .menu{display:block;vertical-align: top;margin-bottom:20px;}
    footer .fotermenubox .footerlogo{width:100%;display:block;text-align:center;}
    footer .fotermenubox .footerlogo .link{text-align:right;width:100%;}
    footer .link img{width:auto;}
}
@media only screen and (max-width:740px){
.iframebox{width:100%;max-width:100%;}
#calendar table , #calendar .pager{width:100%;}
#calendar table tr{display: block!important;}
#calendar table thead{display:none;}
#calendar table th,#calendar table td{width:100%;display: list-item;height:auto!important;list-style:none;}
#calendar table td:empty {display:none;}
.iframebox iframe{height:2900px;}
footer{height:auto;}
footer .container{width:90%;}

footer .phone .tel{display:inline-block;position:static;}
footer .phone .tel_note{display:inline-block;position:static;}
footer .phone .fax{display:inline-block;position:static;margin-top:0;}
footer .time .sale{display:block;text-align: center;width: 100%;}
footer .time .place{display:block;width:100%;}
footer .btn-inquiry a{width:100%;}
footer .time.hotel{margin-bottom:20px;}
footer .fotermenubox .footerlogo .link{text-align:center;}
}