  <div class="wrap cf">
    <p>アパホテルネットワークは北海道から沖縄、北米（アメリカ・カナダ）まで全国にホテルを展開中です。<br>
      店舗検索(地図から探す)を利用することで、GoogleMAP上でホテルの検索ができ、宿泊当日も旅行先や出張先でも迷わず目的のホテルまで移動ができるルート検索機能も活用できます。<br>
      PC・スマートフォンからの利用方法等、詳しい使い方は下記ページからご覧いただけます。<br>
      この機会に是非、ご利用くださいませ。
    </p>
    <div class="cta-2">
      <a href="https://apadev.ipadd.me/page.jsp?mode=preview&id=97628&version=&0.1859967240203817" target="_self" class="btn-gold">詳細ページへ</a>
    </div>
  </div>
  <!-- /wrap --> 
</div>