<li class="hotel__list alea_001 filter-parking filter-ekichika_5 hotelcolor_a"><a href="">
  <p class="hotel__number">No.131</p>
  <p class="hotel__name">アパホテル＆リゾート〈札幌〉</p>
  <div class="tablerow">
    <div class="hotel__photo">
      <p class="photo" style="background: url(images/AH&R札幌.jpg);">
      <ul class="icons">
        <li class="parking1"><img src="/assets/img/icon_a_red.svg" alt="" /></li>
        <li class="parking2"><img src="/assets/img/icon_b_red.svg" alt="" /></li>
        <li class="restaurant"><img src="/assets/img/icon_c_red.svg" alt="" /></li>
        <li class="spa"><img src="/assets/img/icon_d_red.svg" alt="" /></li>
      </ul>
    </div>
    <div class="hotel__comments">
      <div class="hotel__commentsinner">
        <p class="tell">TEL:011-571-3111</p>
        <p class="address">〒005-0804<br />
          北海道札幌市南区川沿4条2</p>
        <p class="guestroom">［全903室］［P250台］</p>
        <p class="mc"><img src="/assets/img/icon_mc.svg" alt="" />9 280 048*50</p>
      </div>
    </div>
  </div>
</a></li>
