              <div><strong><br>
                </strong></div>
              【対象ホテル】<strong><a href="https://www.apahotel.com/hotel/hokkaido/hakodate-ekimae/"><span style="font-size: 14pt;">アパホテル〈函館駅前〉</span></a></strong>
              <div>　　<span style="font-size: 10pt;">　　　　　　〒040-0064 北海道函館市大手町19-13</span></div>
              <div><span style="font-size: 10pt;">　　　　　　　　　　　　　　JR北海道函館本線「函館駅」徒歩4分</span></div>
              <div><span style="font-size: 10pt;">　　　　　　　　　　　　　　函館市電「函館駅前駅」徒歩3分</span></div>
              <div>
                <div>【宿泊日】　　<strong><span style="font-size: 14pt;">2019年2月7日（木）</span></strong><span style="font-size: 10pt;">チェックイン15:00～ チェックアウト翌11:00</span></div>
              </div>
              <div>【宿泊料金】　 <strong><span style="font-size: 14pt;">無料</span></strong> ※ご宿泊（素泊まり）以外の付帯サービス利用にかかる料金はお客様負担となります。</div>
              <div>【応募方法】　応募フォームより必要事項を記入の上、ご応募ください。</div>
              <div>【応募期間】　<strong><span style="font-size: 14pt;">2018年12月26日（水）～2019年2月3日（日）24:00締切</span></strong></div>
              <div>【当選室数】　<strong><span style="font-size: 14pt;">50室</span></strong>（喫煙可または禁煙室）◎シングルまたはダブルをお選びください。</div>
              <div><br>
              </div>
              <div>【抽選日・当選発表】 </div>
              <strong>
              <div><span style="font-size: 12pt;">［</span>抽選日］ 2019年2月4日（月）［当選発表］ 2019年2月4日（月） </div>
              </strong>
              <div><span style="font-size: 10pt;">・応募者の中から厳正な抽選の上、発表はE-mailにてご案内いたします。</span></div>
              <div><span style="font-size: 10pt;">・当選のE-mailが不着の場合は、当選権利無効となります。</span></div>
              <div><span style="font-size: 10pt;">・無料試泊会に関するお問い合わせ、抽選内容や当選結果に関するお問い合わせの受付は行っておりません。</span></div>
              <div><span style="font-size: 10pt;"><br>
                </span></div>
              <div>【注意事項】 </div>
              <div><span style="font-size: 10pt;">・チェックインの際、無料試泊会に関するアンケートをお配りいたします。ご宿泊の感想・ご意見等、ご協力お願いいたします。</span></div>
              <div><span style="font-size: 10pt;">・複数応募の方は、抽選対象外となりますので応募のメール送信はおひとり様1回でお願いいたします。</span></div>
              <div><span style="font-size: 10pt;">・当選の権利は他人に譲渡したり、転売することはできません。（当選後の宿泊者名変更もお受けできません。）</span></div>
              <div><span style="font-size: 10pt;">・当日ご本人様の確認をさせていただきます。</span></div>
              <div><span style="font-size: 10pt;">・当ホテルは専用駐車場はございませんので、公共交通機関をご利用ください。</span></div>
              <div><span style="font-size: 10pt;">・当イベント内容は予告なく変更する場合がございます。予めご了承ください。</span></div>
              <div><br>
                <center>
              <div class="cta-2">
              <a href="https://content.apahotel.com/form/hakodate-ekimae_muryo/" target="_blank" class="btn-gold">無料試泊会応募受付中</a>
              <div>
<!--
                  <a><img src="image/end.jpg"></a>
-->
                </div>
</div>
</center>
              </div>
              <br>
              <div><strong><span style="font-size: 14pt;">｜無料試泊会は、アパアプリからの応募がおトク！</span></strong></div>
              <div><span style="font-family: " ＭＳ="" Ｐゴシック"="" font-size:="" 12pt;"="">　アパアプリから「無料試泊会」にご応募いただいたお客様全員に全国の</span><span style="font-family: " ＭＳ="" Ｐゴシック"="" font-size:="" 12pt;"="">アパホテル宿泊料金が</span><span lang="EN-US" style="font-family: " ＭＳ="" Ｐゴシック"="" font-size:="" 12pt;"="">1</span><span style="font-family: " ＭＳ="" Ｐゴシック"="" font-size:="" 12pt;"="">泊</span><span lang="EN-US" style="font-family: " ＭＳ="" Ｐゴシック"="" font-size:="" 12pt;"="">1</span><span style="font-family: " ＭＳ="" Ｐゴシック"="" font-size:="" 12pt;"="">名</span><span lang="EN-US" style="font-family: " ＭＳ="" Ｐゴシック"="" font-size:="" 12pt;"="">500</span><span style="font-family: " ＭＳ="" Ｐゴシック"="" font-size:="" 12pt;"="">円引きとなる特別優待割引の専用ページをもれなくプレゼント！</span><span style="font-family: " ＭＳ="" Ｐゴシック"="" font-size:="" 12pt;"="">是非この機会にアパアプリをご利用ください。</span></div>
              <div>
                <div><a href="/c/lp_app/index.html"><img src="/image/btn_app.jpg"></a></div>
                <div><a href="/c/lp_app/index.html" target="_blank">アパホテル公式アプリ 無料ダウンロードはこちら</a><br>
                </div>
                <div id="UMS_TOOLTIP" style="position: absolute; cursor: pointer; z-index: 2147483647; background: transparent; top: -100000px; left: -100000px;"></div>
              </div>